Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Add unit tests for early close edge case
  internal/log_analysis/log_processor/s3pipe/s3pipe_test.go
Due: none

linter
  internal/log_analysis/log_processor/s3pipe/s3pipe_test.go
Due: none

Add dependency
  deployments/master.yml
Due: none

Adding proper resolution
  internal/compliance/snapshotlogs/snapshots.go
  internal/log_analysis/datacatalog_updater/main/lambda.go
  internal/log_analysis/log_processor/main/lambda.go
Due: none

Updating sources
  api/lambda/source/models/integration.go
  internal/core/source_api/api/list_logtypes_test.go
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/put_integration_test.go
  internal/log_analysis/datacatalog_updater/datacatalog/handler.go
Due: none

Added comment
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/put_integration_test.go
  internal/log_analysis/datacatalog_updater/datacatalog/create_tables.go
Due: none

Added comment
  deployments/master.yml
  internal/core/custom_resources/resources/glue_tables.go
Due: none

Rename Athena ddb connector namespace and lambda
  deployments/bootstrap_gateway.yml
  internal/compliance/awsglue/awsglue.go
Due: none

additional details to error in single test run
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/tests/test_engine.py
Due: none

fix: remove duplicate schema entry
  api/graphql/schema.graphql
Due: none

Fixing syncing
  internal/compliance/snapshotlogs/snapshots.go
  internal/log_analysis/datacatalog_updater/datacatalog/create_tables_test.go
  internal/log_analysis/datacatalog_updater/datacatalog/sync_database.go
Due: none

feat: allow multiple severity filtering in policies
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/pages/ListPolicies/ListPoliciesActions/ListPoliciesActions.tsx
Due: prettier --write, eslint

Fixing stuff
  internal/log_analysis/datacatalog_updater/datacatalog/create_tables_test.go
  internal/log_analysis/datacatalog_updater/datacatalog/sync_database.go
  internal/log_analysis/datacatalog_updater/datacatalog/sync_database_partitions.go
Due: none

Improved comments
  internal/log_analysis/datacatalog_updater/datacatalog/create_tables.go
  internal/log_analysis/datacatalog_updater/datacatalog/sync_database_partitions.go
Due: none

Fixing conditions
  internal/log_analysis/datacatalog_updater/datacatalog/sync_database_partitions.go
Due: none

fix: dependency lock
  package-lock.json
Due: prettier --write

mage gen fmt
  web/src/components/forms/CustomLogForm/CustomLogForm.test.tsx
  web/src/components/forms/CustomLogForm/CustomLogForm.tsx
  web/src/components/forms/CustomLogForm/ValidateButton/ValidateButton.tsx
  web/src/components/forms/CustomLogForm/ValidateButton/index.tsx
  web/src/components/forms/CustomLogForm/index.tsx
  web/src/components/modals/DeleteCustomLogModal/DeleteCustomLogModal.tsx
  web/src/components/modals/DeleteCustomLogModal/index.tsx
  web/src/pages/CreateCustomLog/CreateCustomLog.test.tsx
  web/src/pages/CreateCustomLog/CreateCustomLog.tsx
  web/src/pages/CreateCustomLog/index.tsx
  web/src/pages/CustomLogDetails/CustomLogDetails.test.tsx
  web/src/pages/CustomLogDetails/CustomLogDetails.tsx
  web/src/pages/CustomLogDetails/index.tsx
  web/src/pages/ListCustomLogs/CustomLogCard/CustomLogCard.test.tsx
  web/src/pages/ListCustomLogs/CustomLogCard/CustomLogCard.tsx
  web/src/pages/ListCustomLogs/CustomLogCard/CustomLogCardOptions.tsx
  web/src/pages/ListCustomLogs/CustomLogCard/index.tsx
  web/src/pages/ListCustomLogs/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListCustomLogs/EmptyDataFallback/index.tsx
  web/src/pages/ListCustomLogs/ListCustomLogs.test.tsx
  web/src/pages/ListCustomLogs/ListCustomLogs.tsx
  web/src/pages/ListCustomLogs/index.tsx
Due: prettier --write, eslint

fix: date color on generic item card
  web/src/components/GenericItemCard/GenericItemCard.tsx
  web/src/components/cards/AlertCard/__snapshots__/AlertCard.test.tsx.snap
Due: prettier --write, eslint

fix missing source id/label fields (#2181)
  internal/log_analysis/log_processor/pantherlog/jsoniter.go
  internal/log_analysis/log_processor/pantherlog/meta.go
  internal/log_analysis/log_processor/pantherlog/result_test.go
  internal/log_analysis/log_processor/sources/sources.go
Due: none

Fix missing release interface
  internal/log_analysis/log_processor/sources/sources.go
Due: none

Fix line length
  internal/core/analysis_api/handlers/list.go
Due: none

mage gen fmt
  internal/core/analysis_api/handlers/list.go
Due: none

add newline
  internal/core/analysis_api/handlers/list.go
Due: none

refactor filter to be less hacky
  internal/core/analysis_api/handlers/list.go
Due: none

Update CloudFormation and mage
  VERSION
  deployments/core.yml
  deployments/master.yml
  deployments/web_server.yml
  internal/core/source_api/api/get_integration_template.go
  tools/mage/build/tools.go
  tools/mage/deploy/deploy.go
  tools/mage/deploy/deploy_template.go
  tools/mage/deploy/frontend.go
  tools/mage/master/build.go
  tools/mage/master/deploy.go
  tools/mage/master/publish.go
  tools/mage/util/version.go
Due: none

Update web source
  web/__tests__/.env.test
  web/scripts/start.js
  web/scripts/utils.js
  web/src/components/Navigation/ProfileIcon/ProfileIcon.tsx
  web/src/components/wizards/ComplianceSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/components/wizards/S3LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/constants.ts
  web/src/helpers/__tests__/analytics.test.tsx
  web/src/helpers/analytics.ts
  web/src/pages/GeneralSettings/GeneralSettings.tsx
  web/src/pages/GeneralSettings/__snapshots__/GeneralSettings.test.tsx.snap
  web/src/pages/Support/__snapshots__/Support.test.tsx.snap
Due: prettier --write, eslint

consistent custom resource version
  deployments/core.yml
  deployments/master.yml
  deployments/web_server.yml
  tools/mage/deploy/deploy.go
Due: none

Fix image tag in master template
  deployments/master.yml
Due: none

WIP
  cmd/devtools/customlogs/customlogs/upload.go
  cmd/devtools/customlogs/customlogs/validate.go
  cmd/devtools/customlogs/main.go
  go.mod
  internal/core/analysis_api/handlers/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  tools/mage/build/tools.go
  tools/mage/deploy/deploy_template.go
Due: none

Reverted changes
  internal/core/analysis_api/handlers/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  tools/mage/deploy/deploy_template.go
  tools/mage/util/s3.go
Due: none

Removing unneeded
  cmd/devtools/customlogs/main.go
Due: none

feat: add `NoDataFound` component
  web/src/assets/illustrations/charts.svg
  web/src/components/NoDataFound/NoDataFound.test.tsx
  web/src/components/NoDataFound/NoDataFound.tsx
  web/src/components/NoDataFound/__snapshots__/NoResultsFound.test.tsx.snap
  web/src/components/NoDataFound/index.tsx
Due: prettier --write, eslint

fix: colors on ResetButton
  web/src/components/charts/ResetButton/ResetButton.tsx
Due: prettier --write, eslint

chore: update `NoResultsFound` to match the `NoDataFound` API
  web/src/components/NoResultsFound/NoResultsFound.test.tsx
  web/src/components/NoResultsFound/NoResultsFound.tsx
Due: prettier --write, eslint

feat: return `NoDataFound` component when no chart data exist
  web/src/pages/LogAnalysisOverview/AlertsBySeverity/AlertsBySeverity.tsx
  web/src/pages/LogAnalysisOverview/EventsByLatency/EventsByLatency.tsx
  web/src/pages/LogAnalysisOverview/EventsByLogType/EventsByLogType.tsx
  web/src/pages/LogAnalysisOverview/MostActiveRules/MostActiveRules.tsx
Due: prettier --write, eslint

fix: change `0` values to `0.0001` on logarithmic scale to avoid infinity errors
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
Due: prettier --write, eslint

fix: snapshot files
  web/src/components/NoDataFound/__snapshots__/NoDataFound.test.tsx.snap
  web/src/components/NoDataFound/__snapshots__/NoResultsFound.test.tsx.snap
Due: none

Renaming stuff
  cmd/devtools/customlogs/customlogs/infer.go
  cmd/devtools/customlogs/customlogs/validate.go
  cmd/devtools/customlogs/main.go
Due: none

WIP
  cmd/devtools/customlogs/customlogs/infer_test.go
  cmd/devtools/customlogs/main.go
  go.mod
Due: none

export goToStep from wizard context
  web/src/components/Wizard/Wizard.tsx
  web/src/components/Wizard/WizardContext.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
