Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

ci: target `release` branch for PRs
  .github/workflows/main.yml
Due: none

fix: grammatical error in docs
  README.md
Due: prettier --write

chore: bump pounce version
  package-lock.json
Due: prettier --write

chore: add BulkUploader routes
  web/src/components/Wizard/Wizard.test.tsx
  web/src/components/Wizard/WizardPanel.tsx
  web/src/routes.tsx
  web/src/urls.ts
Due: prettier --write, eslint

fix: add the new icons to settings navigation
  web/src/components/Navigation/SecondaryNavigations/SettingsNavigation.tsx
Due: prettier --write, eslint

chore: update schema definitions
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
Due: prettier --write, eslint

chore: add svg illustrations and animations
  web/src/assets/gears-animated.svg
  web/src/assets/illustrations/folder.svg
Due: none

feat: introduce the BulkUploaderWizard
  web/src/components/wizards/BulkUploaderWizard/BulkUploaderWizard.tsx
  web/src/components/wizards/BulkUploaderWizard/SuccessfulUploadPanel/SuccessfulUploadPanel.tsx
  web/src/components/wizards/BulkUploaderWizard/SuccessfulUploadPanel/index.tsx
  web/src/components/wizards/BulkUploaderWizard/UploadPanel/Error.tsx
  web/src/components/wizards/BulkUploaderWizard/UploadPanel/Processing.tsx
  web/src/components/wizards/BulkUploaderWizard/UploadPanel/Upload.tsx
  web/src/components/wizards/BulkUploaderWizard/UploadPanel/UploadPanel.tsx
  web/src/components/wizards/BulkUploaderWizard/UploadPanel/graphql/uploadPolicies.generated.ts
  web/src/components/wizards/BulkUploaderWizard/UploadPanel/graphql/uploadPolicies.graphql
  web/src/components/wizards/BulkUploaderWizard/UploadPanel/index.tsx
  web/src/components/wizards/BulkUploaderWizard/index.tsx
Due: prettier --write, eslint

chore: add react-dropzone component
  package-lock.json
  package.json
Due: prettier --write

fix: cleanup stale sidesheets
  web/src/components/sidesheets/PolicyBulkUploadSidesheet/PolicyBulkUploadSidesheet.tsx
  web/src/components/sidesheets/PolicyBulkUploadSidesheet/graphql/uploadPolicies.generated.ts
  web/src/components/sidesheets/PolicyBulkUploadSidesheet/graphql/uploadPolicies.graphql
  web/src/components/sidesheets/PolicyBulkUploadSidesheet/index.tsx
  web/src/components/utils/Sidesheet/SidesheetContext.tsx
  web/src/components/utils/Sidesheet/SidesheetManager.tsx
Due: prettier --write, eslint

chore: remove bulk options from dropdowns and fix copy
  web/src/pages/ListGlobalPythonModules/ListGlobalPythonModules.tsx
  web/src/pages/ListPolicies/CreateButton/CreateButton.tsx
  web/src/pages/ListRules/CreateButton/CreateButton.tsx
Due: prettier --write, eslint

chore: Add BulkUploader page
  web/src/pages/BulkUploader/BulkUploader.tsx
  web/src/pages/BulkUploader/index.tsx
Due: prettier --write, eslint

chore: add .history to .gitignore
  .gitignore
Due: none

mage gen fmt
  web/src/components/wizards/BulkUploaderWizard/BulkUploaderWizard.tsx
  web/src/pages/BulkUploader/BulkUploader.tsx
Due: prettier --write, eslint

chore: add tests for BulkUploadWizard
  web/src/components/wizards/BulkUploaderWizard/BulkUploaderWizard.test.tsx
  web/src/components/wizards/BulkUploaderWizard/SuccessfulUploadPanel/SuccessfulUploadPanel.tsx
  web/src/components/wizards/BulkUploaderWizard/UploadPanel/Processing.tsx
  web/src/components/wizards/BulkUploaderWizard/UploadPanel/Upload.tsx
  web/src/pages/BulkUploader/BulkUploader.tsx
Due: prettier --write, eslint

fix: coloring for success panel numbers
  web/src/components/wizards/BulkUploaderWizard/SuccessfulUploadPanel/SuccessfulUploadPanel.tsx
Due: prettier --write, eslint

chore: add UploadPolicies for the wizard data
  web/src/components/wizards/BulkUploaderWizard/UploadPanel/UploadPanel.tsx
Due: prettier --write, eslint

fix: onDrop typings
  web/src/components/wizards/BulkUploaderWizard/UploadPanel/Upload.tsx
Due: prettier --write, eslint

fix: Error typo
  web/src/components/wizards/BulkUploaderWizard/UploadPanel/UploadPanel.tsx
Due: prettier --write, eslint

chore: reduce codebase footprint with autonomous buttons
  web/src/pages/ListPolicies/CreateButton/CreateButton.tsx
  web/src/pages/ListPolicies/CreateButton/index.tsx
  web/src/pages/ListPolicies/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListPolicies/ListPoliciesActions/ListPoliciesActions.tsx
  web/src/pages/ListRules/CreateButton/CreateButton.tsx
  web/src/pages/ListRules/CreateButton/index.tsx
  web/src/pages/ListRules/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListRules/ListRulesActions/ListRulesActions.tsx
Due: prettier --write, eslint

fix: add typings and rename processing state steps
  web/src/components/wizards/BulkUploaderWizard/UploadPanel/UploadPanel.tsx
Due: prettier --write, eslint

chore: update bulk URLs
  web/src/components/Navigation/SecondaryNavigations/SettingsNavigation.tsx
  web/src/routes.tsx
  web/src/urls.ts
Due: prettier --write, eslint

chore: more rows into a separate component
  web/src/components/wizards/BulkUploaderWizard/SuccessfulUploadPanel/Rows.tsx
  web/src/components/wizards/BulkUploaderWizard/SuccessfulUploadPanel/SuccessfulUploadPanel.tsx
Due: prettier --write, eslint

fix: add typings and processing state testing scenarions
  web/src/components/wizards/BulkUploaderWizard/BulkUploaderWizard.test.tsx
  web/src/components/wizards/BulkUploaderWizard/SuccessfulUploadPanel/SuccessfulUploadPanel.tsx
  web/src/components/wizards/BulkUploaderWizard/UploadPanel/Processing.tsx
Due: prettier --write, eslint

fix: web tests
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliverySection.test.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliverySection.tsx
Due: prettier --write, eslint

Updated client construction
  internal/log_analysis/log_processor/sources/s3_client_cache.go
Due: none

updated max retries
  internal/log_analysis/log_processor/common/common.go
Due: none

Added retries for Access Denied errors in Log Processor (#1553)
  internal/log_analysis/log_processor/common/common.go
  internal/log_analysis/log_processor/sources/s3_client_cache.go
  pkg/awsretry/access_denied_retryer.go
  pkg/awsretry/access_denied_retryer_test.go
Due: none

fix: add proper grid alignment for rows in rule details
  web/src/pages/RuleDetails/RuleDetailsInfo/RuleDetailsInfo.tsx
Due: prettier --write, eslint

fix: add grid for AlertDetailsInfo and PolicyDetailsInfo
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
  web/src/pages/PolicyDetails/PolicyDetailsInfo/PolicyDetailsInfo.tsx
Due: prettier --write, eslint

add new metric generation to the alert forwarder; update api to query new rule/alert metrics
  api/lambda/metrics/models/api.go
  internal/core/metrics_api/api/alert_metrics.go
  internal/core/metrics_api/api/get_metrics.go
  internal/core/metrics_api/main/integration_test.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/metrics.go
Due: none

Least privilege trust principals
  deployments/auxiliary/README.md
Due: prettier --write

Least privilege for satellite account IAM roles
  deployments/auxiliary/README.md
Due: prettier --write

WIP
  api/lambda/core/log_analysis/log_processor/models/api.go
  cmd/opstools/gluesync/gluesync/main.go
  internal/core/source_api/api/glue_utils.go
  internal/core/source_api/api/put_integration_test.go
  internal/core/source_api/api/update_integration_test.go
  internal/log_analysis/athenaviews/athenaviews.go
  internal/log_analysis/awsglue/awsglue.go
  internal/log_analysis/awsglue/partition.go
  internal/log_analysis/awsglue/schema.go
  internal/log_analysis/awsglue/table_metadata.go
  internal/log_analysis/datacatalog_updater/process/sync.go
  internal/log_analysis/gluetables/gluetables.go
Due: none

Enabling end to end
  internal/core/source_api/api/put_integration_test.go
  internal/core/source_api/api/update_integration_test.go
  internal/log_analysis/athenaviews/athenaviews.go
  internal/log_analysis/rules_engine/src/output.py
Due: none

WIP
  internal/log_analysis/awsglue/awsglue.go
  internal/log_analysis/awsglue/table_metadata.go
Due: none

Fixed comment
  internal/log_analysis/athenaviews/athenaviews.go
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
