Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

refactor: rename files to match conventions
  web/src/pages/PolicyDetails/PolicyCardDetails/PolicyCardDetails.tsx
  web/src/pages/PolicyDetails/PolicyDetails.tsx
  web/src/pages/PolicyDetails/PolicyDetailsBanner/PolicyDetailsBanner.tsx
  web/src/pages/PolicyDetails/PolicyDetailsBanner/index.tsx
  web/src/pages/PolicyDetails/PolicyDetailsInfo/PolicyDetailsInfo.tsx
Due: prettier --write, eslint

fix: snyk vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

security: bump ua-parser-js
  package-lock.json
  package.json
Due: prettier --write

fix: pr feedback
  api/graphql/schema.graphql
  api/lambda/outputs/models/api.go
  web/__generated__/schema.tsx
  web/src/components/forms/JiraDestinationForm/JiraDestinationForm.test.tsx
  web/src/components/forms/JiraDestinationForm/JiraDestinationForm.tsx
  web/src/helpers/utils.tsx
Due: prettier --write, eslint

Refactored AlertItemToSummary to accept rule description, reference, and runbook in order to move the getRule function out
  internal/log_analysis/alert_forwarder/forwarder/rule_cache.go
  internal/log_analysis/alerts_api/api/api.go
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/api/get_alert_test.go
  internal/log_analysis/alerts_api/api/list_alerts.go
  internal/log_analysis/alerts_api/api/list_alerts_test.go
  internal/log_analysis/alerts_api/api/update_alert_delivery.go
  internal/log_analysis/alerts_api/api/update_alert_status.go
  internal/log_analysis/alerts_api/api/update_alert_status_test.go
  internal/log_analysis/alerts_api/utils/utils.go
  internal/log_analysis/alerts_api/utils/utils_test.go
Due: none

mage gen fmt
  internal/log_analysis/alerts_api/api/api.go
  internal/log_analysis/alerts_api/api/get_alert_test.go
  internal/log_analysis/alerts_api/api/list_alerts_test.go
  internal/log_analysis/alerts_api/utils/utils.go
Due: none

Cleaned up conditional
  internal/log_analysis/alerts_api/utils/utils.go
Due: none

Add comments
  internal/log_analysis/datacatalog_updater/datacatalog/create_tables.go
Due: none

refactor: rename `BulletedLogType` to `BulletedValue`
  web/src/components/BulletedValue/BulletedValue.test.tsx
  web/src/components/BulletedValue/BulletedValue.tsx
  web/src/components/BulletedValue/__snapshots__/BulletedValue.test.tsx.snap
  web/src/components/BulletedValue/index.tsx
  web/src/components/BulletedValueList/BulletedLogTypeList.test.tsx
  web/src/components/BulletedValueList/BulletedValueList.tsx
  web/src/components/BulletedValueList/__snapshots__/BulletedValueList.test.tsx.snap
  web/src/components/BulletedValueList/index.tsx
  web/src/components/cards/AlertCard/PolicyAlertCard/PolicyAlertCard.tsx
  web/src/components/cards/AlertCard/RuleAlertCard/RuleAlertCard.tsx
  web/src/components/cards/RuleCard/RuleCard.tsx
  web/src/pages/AlertDetails/PolicyAlertDetails/AlertDetailsBanner/AlertDetailsBanner.tsx
  web/src/pages/AlertDetails/RuleAlertDetails/AlertDetailsBanner/AlertDetailsBanner.tsx
  web/src/pages/ListLogSources/LogSourceCards/S3LogSourceCard.tsx
  web/src/pages/ListLogSources/LogSourceCards/SqsLogSourceCard.tsx
  web/src/pages/RuleDetails/RuleDetailsBanner/RuleDetailsBanner.tsx
Due: prettier --write, eslint

fix: rename test file
  web/src/components/BulletedValueList/BulletedValueList.test.tsx
Due: prettier --write, eslint

Change order of args in CachedResolver
  internal/log_analysis/datacatalog_updater/main/lambda.go
  internal/log_analysis/log_processor/logtypes/resolver.go
  internal/log_analysis/log_processor/main/lambda.go
Due: none

Fix datacatalog main
  internal/log_analysis/datacatalog_updater/main/lambda.go
Due: none

mage gen fmt
  internal/log_analysis/datacatalog_updater/main/lambda.go
Due: none

fix: ci image update node
  build/images/ci/Dockerfile
Due: none

fix permission issues
  deployments/core.yml
  internal/core/logtypesapi/main/lambda.go
  internal/log_analysis/datacatalog_updater/main/lambda.go
Due: none

Reverted `rule_cache.go` function `getRule` back to `GetRule`
  internal/log_analysis/alert_forwarder/forwarder/rule_cache.go
Due: none

Fixed string pointer issue for utils_test.go
  internal/log_analysis/alerts_api/utils/utils_test.go
Due: none

fix: update both docker images
  .circleci/config.yml
  build/images/README.md
  build/images/ci/Dockerfile
  build/images/deployment/Dockerfile
  dev.sh
Due: prettier --write

Fixed a number of issues in unit tests
  internal/log_analysis/alerts_api/api/list_alerts_test.go
  internal/log_analysis/alerts_api/api/update_alert_delivery_test.go
  internal/log_analysis/alerts_api/api/update_alert_status_test.go
  internal/log_analysis/alerts_api/table/get_alert_test.go
Due: none

mage gen fmt
  internal/log_analysis/alerts_api/api/api.go
  internal/log_analysis/alerts_api/api/list_alerts_test.go
  internal/log_analysis/alerts_api/api/update_alert_delivery.go
  internal/log_analysis/alerts_api/api/update_alert_delivery_test.go
  internal/log_analysis/alerts_api/api/update_alert_status_test.go
  internal/log_analysis/alerts_api/table/get_alert_test.go
Due: none

Removed irrelevant comment
  internal/log_analysis/alerts_api/utils/utils.go
Due: none

feat: initial version of DataModelForm
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/components/forms/DataModelForm/DataModelForm.tsx
  web/src/components/forms/DataModelForm/DataModelMappingsTabPanel/DataModelMappingsTabPanel.tsx
  web/src/components/forms/DataModelForm/DataModelMappingsTabPanel/index.tsx
  web/src/components/forms/DataModelForm/SettingsTabPanel/SettingsTabPanel.tsx
  web/src/components/forms/DataModelForm/SettingsTabPanel/index.tsx
  web/src/components/forms/DataModelForm/index.tsx
  web/src/helpers/analytics.ts
  web/src/routes.tsx
  web/src/urls.ts
Due: prettier --write, eslint

feat: add initial CreateDataModel page
  web/src/graphql/fragments/DataModelFull.generated.ts
  web/src/graphql/fragments/DataModelFull.graphql
  web/src/pages/CreateDataModel/CreateDataModel.tsx
  web/src/pages/CreateDataModel/graphql/createDataModel.generated.ts
  web/src/pages/CreateDataModel/graphql/createDataModel.graphql
  web/src/pages/CreateDataModel/index.tsx
Due: prettier --write, eslint

feat: upgrade golang in docker
  build/images/ci/Dockerfile
Due: none

fix: cache bust
  .circleci/config.yml
Due: none

fix: revert cache changes
  .circleci/config.yml
Due: none

fix: cache change
  .circleci/config.yml
Due: none

fix: alert filtering by title
  internal/log_analysis/alerts_api/table/list.go
Due: none

Fixed alert-delivery unit tests
  internal/core/alert_delivery/api/deliver_alert.go
  internal/core/alert_delivery/api/deliver_alert_test.go
Due: none

chore: version bump
  VERSION
Due: none

Removed leftover comment, got rid of an unnecessary conditional
  internal/log_analysis/alerts_api/utils/utils.go
Due: none

fix tx error handling
  api/lambda/logtypes/models_gen.go
  internal/core/logtypesapi/customlogs.go
  internal/core/logtypesapi/dynamodb.go
Due: none

fix nil pointer
  internal/core/logtypesapi/customlogs.go
Due: none

Added indicator
  internal/log_analysis/log_processor/parsers/awslogs/indicators.go
  internal/log_analysis/log_processor/parsers/awslogs/indicators_test.go
Due: none

fix retrn values const
  internal/core/logtypesapi/dynamodb.go
Due: none

fix update transaction
  internal/core/logtypesapi/dynamodb.go
Due: none

the SQS queue is apparently encypted for some reason
  deployments/core.yml
Due: none

fix create transaction
  internal/core/logtypesapi/dynamodb.go
Due: none

Allow multiple s3 prefixes per s3 source
  api/lambda/source/models/api.go
  api/lambda/source/models/integration.go
  cmd/devtools/logprocessor/logprocessor/main.go
  internal/core/custom_resources/resources/self_registration.go
  internal/core/logtypesapi/customlogs_test.go
  internal/core/source_api/api/list_logtypes_test.go
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/update_integration.go
  internal/core/source_api/api/update_integration_test.go
  internal/core/source_api/api/utils.go
  internal/core/source_api/ddb/items.go
  internal/log_analysis/log_processor/processor/processor_test.go
  internal/log_analysis/log_processor/sources/s3_client_cache.go
  internal/log_analysis/log_processor/sources/s3_client_cache_test.go
Due: none
