Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

minor comment / debugging
  tools/mage/master/deploy.go
  tools/mage/util/cfnparse.go
Due: none

Minor log fixes after publication test
  tools/mage/pkg/docker.go
  tools/mage/pkg/pkg.go
Due: none

feat: allow any type of item in Selection Context
  web/src/components/cards/AlertCard/PolicyAlertCard/PolicyAlertCard.tsx
  web/src/components/cards/AlertCard/RuleAlertCard/RuleAlertCard.tsx
  web/src/components/utils/SelectContext/SelectAllCheckbox.tsx
  web/src/components/utils/SelectContext/SelectCheckbox.tsx
  web/src/components/utils/SelectContext/SelectContext.test.tsx
  web/src/components/utils/SelectContext/SelectContext.tsx
  web/src/components/utils/SelectContext/index.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
  web/src/pages/RuleDetails/RuleAlertsListing/RuleAlertsListing.tsx
Due: prettier --write, eslint

fix: tests
  web/src/pages/RuleDetails/RuleDetails.test.tsx
Due: prettier --write, eslint

feat: added semver package
  package-lock.json
  package.json
Due: prettier --write

feat: update schema, added queries & fragments for packs
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/graphql/fragments/PackFull.generated.ts
  web/src/graphql/fragments/PackFull.graphql
  web/src/graphql/queries/index.tsx
  web/src/graphql/queries/updatePack.generated.ts
  web/src/graphql/queries/updatePack.graphql
  web/src/pages/ListPacks/graphql/listPacks.generated.ts
  web/src/pages/ListPacks/graphql/listPacks.graphql
Due: prettier --write, eslint

chore: backporting BulletLoading component
  web/src/components/BulletedLoading/BulletedLoading.tsx
  web/src/components/BulletedLoading/index.tsx
Due: prettier --write, eslint

chore: add telemetry events
  web/src/helpers/analytics.ts
Due: prettier --write, eslint

mage gen fmt
  web/src/components/BulletedLoading/BulletedLoading.tsx
  web/src/components/BulletedLoading/index.tsx
Due: prettier --write, eslint

chore: remove duplicate license
  web/src/components/BulletedLoading/BulletedLoading.tsx
  web/src/components/BulletedLoading/index.tsx
Due: prettier --write, eslint

fix: tests
  web/src/pages/ListAlerts/ListAlerts.test.tsx
Due: prettier --write, eslint

Fixing metrics query
  deployments/panther_config.yml
  internal/core/metrics_api/api/log_processor_metrics.go
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/metrics/metrics.go
  internal/log_analysis/log_processor/processor/processor_test.go
  pkg/metrics/cloudwatch.go
  pkg/metrics/cloudwatch_test.go
  pkg/metrics/counter.go
  pkg/metrics/counter_test.go
  pkg/testutils/metrics.go
Due: none

Removed counter average
  internal/log_analysis/log_processor/metrics/metrics.go
  pkg/metrics/cloudwatch.go
  pkg/metrics/cloudwatch_test.go
  pkg/testutils/metrics.go
Due: none

Fixed metric for log processor
  internal/core/metrics_api/api/log_processor_metrics.go
Due: none

Fixing metric to be seconds
  internal/log_analysis/log_processor/destinations/s3.go
Due: none

fix: Autosave to skip submit when mounting
  web/src/components/utils/Autosave/Autosave.tsx
Due: prettier --write, eslint

Disabing cloudtrail
  deployments/panther_config.yml
Due: none

feat: PackCard component
  web/src/components/cards/PackCard/PackCard.tsx
  web/src/components/cards/PackCard/UpdateStatus.tsx
  web/src/components/cards/PackCard/UpdateVersion.tsx
  web/src/components/cards/PackCard/index.tsx
Due: prettier --write, eslint

feat: add ListPacks page
  web/src/pages/ListPacks/ListPacks.tsx
  web/src/pages/ListPacks/Skeleton/Skeleton.tsx
  web/src/pages/ListPacks/Skeleton/index.tsx
  web/src/pages/ListPacks/index.tsx
  web/src/pages/ListPacks/mockedData.ts
Due: prettier --write, eslint

feat: added url for packs and navigation refactor
  web/src/components/Navigation/Navigation.tsx
  web/src/components/Navigation/SecondaryNavigations/LogAnalysisNavigation.tsx
  web/src/components/Navigation/SecondaryNavigations/index.tsx
  web/src/components/cards/PackCard/PackCard.tsx
  web/src/routes.tsx
  web/src/urls.ts
Due: prettier --write, eslint

mage gen fmt
  web/src/pages/ListPacks/ListPacks.tsx
  web/src/pages/ListPacks/Skeleton/Skeleton.tsx
  web/src/pages/ListPacks/Skeleton/index.tsx
  web/src/pages/ListPacks/index.tsx
  web/src/pages/ListPacks/mockedData.ts
Due: prettier --write, eslint

Add comment
  deployments/log_analysis.yml
Due: none

Add comment
  internal/core/logtypesapi/api.go
Due: none

mage gen fmt
  deployments/log_analysis.yml
Due: none

Address feedback and remove unused methods from DynamoDBSchemas
  internal/core/logtypesapi/api.go
  internal/core/logtypesapi/customlogs.go
  internal/core/logtypesapi/dynamodb.go
  internal/core/logtypesapi/inmem.go
  internal/core/logtypesapi/managed_schemas.go
Due: none

fix linter
  internal/core/logtypesapi/dynamodb.go
  internal/core/logtypesapi/inmem.go
Due: none

Followup from pkg PR
  deployments/cloud_security.yml
  deployments/core.yml
  deployments/log_analysis.yml
  tools/mage/deploy/deploy.go
  tools/mage/deploy/template.go
  tools/mage/pkg/pkg.go
Due: none

revert deploy/template.go - packager could still be nil
  tools/mage/deploy/template.go
Due: none

Remove double comment
  tools/mage/deploy/template.go
Due: none

fix: correct condition
  web/src/components/utils/Autosave/Autosave.tsx
Due: prettier --write, eslint

Updating GCP parsers
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog.go
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog_test.go
  internal/log_analysis/log_processor/parsers/gcplogs/gcplogs.go
Due: none

Added tests
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog.go
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog_test.go
Due: none

Fixed tests and linting issues
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog.go
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog_test.go
Due: none

Removed space
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog.go
Due: none

Removed dive
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog.go
Due: none

Remove excessive output from docker
  tools/mage/pkg/docker.go
Due: none

staging
  deployments/cloud_security.yml
  internal/compliance/resource_processor/processor/resources_api.go
  internal/compliance/resources_api/handlers/add_resources.go
  internal/compliance/resources_api/handlers/clients.go
  internal/compliance/resources_api/handlers/dynamo.go
  internal/compliance/resources_api/handlers/list_resources.go
Due: none

Updating GCP Audit logs (#2613)
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog.go
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog_test.go
  internal/log_analysis/log_processor/parsers/gcplogs/gcplogs.go
Due: none

chore: update version
  VERSION
Due: none

Restore excluded cfn-lint checks
  deployments/web_server.yml
  tools/mage/test/cfn.go
Due: none
