Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Whitelist cognito:ForgotPassword in event processor
  internal/compliance/aws_event_processor/processor/process.go
Due: none

Minor fixes for CT parser. 1) add RecipientAccountID to panther fields 2) nil check on UserIdentity
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
Due: none

Fixed test
  internal/log_analysis/alert_forwarder/forwarder/forwarder_test.go
Due: none

Optional user return for reset pass
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/components/modals/ResetUserPasswordModal/graphql/resetUserPassword.generated.ts
Due: prettier --write, eslint

Changed expected response to only id + required user response in schema
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/components/modals/ResetUserPasswordModal/graphql/resetUserPassword.generated.ts
  web/src/components/modals/ResetUserPasswordModal/graphql/resetUserPassword.graphql
Due: prettier --write, eslint

add schema, redirects and prefetch schema entities
  api/graphql/schema.graphql
  deployments/appsync.yml
  web/__generated__/schema.tsx
  web/public/index.ejs
  web/src/client.ts
  web/src/components/Navigation/HistoricalSearchNavigation.tsx
  web/src/helpers/connection.ts
  web/src/helpers/utils.tsx
  web/src/pages/SQLShell/Browser/ColumnList.tsx
  web/src/pages/SQLShell/Browser/ColumnListItem.tsx
  web/src/pages/SQLShell/Browser/TableList.tsx
  web/src/pages/SQLShell/Browser/graphql/listColumnsForTable.generated.ts
  web/src/pages/SQLShell/Browser/graphql/listColumnsForTable.graphql
  web/src/pages/SQLShell/Browser/index.tsx
  web/src/pages/SQLShell/SQLEditor/SQLEditor.tsx
  web/src/pages/SQLShell/SQLEditor/graphql/loadAllSchemaEntities.generated.ts
  web/src/pages/SQLShell/SQLEditor/graphql/loadAllSchemaEntities.graphql
  web/src/pages/SQLShell/index.tsx
Due: prettier --write, eslint

Hide reset for invited users
  web/src/pages/Users/ListUsersTableRowOptions/ListUsersTableRowOptions.tsx
Due: prettier --write, eslint

Removed default cache-first from query
  web/src/components/forms/UserForm/UserForm.tsx
Due: prettier --write, eslint

Update cloudtrail test to ensure RecipientAccountID populates p_any_aws_accountids
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_test.go
Due: none

Whitelist cognitio:UpdateUserAttributes for event processor
  internal/compliance/aws_event_processor/processor/process.go
Due: none

Make getTables() return full schema for tables
  api/lambda/database/models/api.go
  deployments/core.yml
  internal/core/database_api/athena/driver/api/appsync.go
  internal/core/database_api/athena/driver/api/glue.go
  internal/core/database_api/athena/driver/api/integration_test.go
Due: none

move apollo stuff to dedicated folder
  web/src/apollo/authLink.ts
  web/src/apollo/cleanParamsLink.ts
  web/src/apollo/createApolloClient.ts
  web/src/apollo/createErrorLink.ts
  web/src/apollo/httpLink.ts
  web/src/apollo/index.ts
  web/src/apollo/typePolicies.ts
  web/src/app.tsx
  web/src/client.ts
Due: prettier --write, eslint

remove caching config. Simplify lambda invocations
  deployments/appsync.yml
Due: none

Tighten athena api lambda permissions
  deployments/core.yml
  internal/core/database_api/athena/driver/api/integration_test.go
  tools/mage/deploy.go
Due: none

Minor typo
  web/src/helpers/utils.tsx
Due: prettier --write, eslint

Fixed RemediationButton
  web/src/components/buttons/RemediationButton/RemediationButton.tsx
Due: prettier --write, eslint

Fixed AnalyticsConsentModal
  web/src/components/modals/AnalyticsConsentModal/AnalyticsConsentModal.tsx
Due: prettier --write, eslint

Pass caller-supplied token thru athena workflow to notification
  api/graphql/schema.graphql
  api/lambda/database/models/api.go
  deployments/core.yml
  go.mod
  go.sum
  internal/core/database_api/athena/driver/api/appsync.go
  internal/core/database_api/athena/driver/api/integration_test.go
  internal/core/database_api/athena/driver/api/invoke.go
Due: none

Fix usePolicySuppression
  web/src/components/modals/AnalyticsConsentModal/AnalyticsConsentModal.tsx
  web/src/hooks/usePolicySuppression.tsx
Due: prettier --write, eslint

End to end appsync subscriptions working!
  api/graphql/schema.graphql
  go.mod
  go.sum
  internal/core/database_api/athena/driver/api/integration_test.go
Due: none

Update integration test comments
  internal/core/database_api/athena/driver/api/integration_test.go
Due: none

Address feedback
  docs/gitbook/.gitbook/assets/rbac-default-roles.png
  docs/gitbook/.gitbook/assets/rbac-role-edit1.png
  docs/gitbook/.gitbook/assets/rbac-role-edit2.png
  docs/gitbook/.gitbook/assets/rbac-role-edit3.png
  docs/gitbook/SUMMARY.md
  docs/gitbook/enterprise/README.md
  docs/gitbook/enterprise/rbac.md
  docs/img/rbac-role-edit.png
  web/src/constants.ts
Due: prettier --write, eslint

Flatten headers
  docs/gitbook/enterprise/rbac.md
Due: prettier --write

Add race detection, always build lambda, clean setup files
  internal/log_analysis/log_processor/destinations/s3_test.go
  tools/mage/build_namespace.go
  tools/mage/clean.go
  tools/mage/test_namespace.go
Due: none

Simplify / parallelize setup
  .circleci/config.yml
  tools/mage/build_namespace.go
  tools/mage/setup.go
  tools/mage/setup_namespace.go
  tools/mage/test_namespace.go
  tools/mage/util.go
Due: none

Fmt in parallel
  go.mod
  go.sum
  tools/mage/doc.go
  tools/mage/fmt.go
  tools/mage/setup.go
  tools/mage/util.go
Due: none

Parallelize test:ci
  .golangci.yml
  docs/gitbook/development.md
  docs/gitbook/quick-start.md
  package.json
  tools/mage/build_namespace.go
  tools/mage/deploy.go
  tools/mage/swagger.go
  tools/mage/test_namespace.go
  tools/mage/testdata/hash_bench_test.go
  tools/mage/util.go
  tools/mage/util_hash.go
Due: prettier --write

Remove leftover hash benchmarking
  tools/mage/testdata/hash_bench_test.go
  tools/mage/util_hash.go
Due: none

add column prefettching
  deployments/appsync.yml
  web/src/pages/SQLShell/Browser/Browser.tsx
  web/src/pages/SQLShell/Browser/ColumnList.tsx
  web/src/pages/SQLShell/Browser/graphql/listTablesForDatabase.generated.ts
  web/src/pages/SQLShell/Browser/graphql/listTablesForDatabase.graphql
Due: prettier --write, eslint

Updated UpdateDestinationSidesheet
  web/src/components/sidesheets/UpdateDestinationSidesheet/UpdateDestinationSidesheet.tsx
Due: prettier --write, eslint

Updated GeneralSettings page, Prompt Controller, PolicyBulkUpdate
  web/src/components/sidesheets/PolicyBulkUploadSidesheet/PolicyBulkUploadSidesheet.tsx
  web/src/components/utils/PromptController/PromptController.tsx
  web/src/pages/GeneralSettings/GeneralSettings.tsx
Due: prettier --write, eslint

Updated AddDestinationSidesheet
  web/src/components/modals/AnalyticsConsentModal/AnalyticsConsentModal.tsx
  web/src/components/sidesheets/AddDestinationSidesheet/AddDestinationSidesheet.tsx
Due: prettier --write, eslint

Updated ResetUserPassword and refactored ConfirmModal
  web/src/components/modals/ConfirmModal/ConfirmModal.tsx
  web/src/components/modals/ResetUserPasswordModal/ResetUserPasswordModal.tsx
Due: prettier --write, eslint

add fragments move stuff to dedicated folders
  web/src/apollo/typePolicies.ts
  web/src/graphql/fragments/LogDatabaseSummary.generated.ts
  web/src/graphql/fragments/LogDatabaseSummary.graphql
  web/src/graphql/fragments/LogDatabaseTableColumnDetails.generated.ts
  web/src/graphql/fragments/LogDatabaseTableColumnDetails.graphql
  web/src/graphql/fragments/LogDatabaseTableSummary.generated.ts
  web/src/graphql/fragments/LogDatabaseTableSummary.graphql
  web/src/pages/SQLShell/Browser/Browser.tsx
  web/src/pages/SQLShell/Browser/ColumnList/ColumnList.tsx
  web/src/pages/SQLShell/Browser/ColumnList/ColumnListItem.tsx
  web/src/pages/SQLShell/Browser/ColumnList/graphql/listColumnsForTable.generated.ts
  web/src/pages/SQLShell/Browser/ColumnList/graphql/listColumnsForTable.graphql
  web/src/pages/SQLShell/Browser/ColumnList/index.tsx
  web/src/pages/SQLShell/Browser/DatabaseSelector/DatabaseSelector.tsx
  web/src/pages/SQLShell/Browser/DatabaseSelector/graphql/listLogDatabases.generated.ts
  web/src/pages/SQLShell/Browser/DatabaseSelector/graphql/listLogDatabases.graphql
  web/src/pages/SQLShell/Browser/DatabaseSelector/index.tsx
  web/src/pages/SQLShell/Browser/Search/Search.tsx
  web/src/pages/SQLShell/Browser/Search/index.tsx
  web/src/pages/SQLShell/Browser/TableList/TableList.tsx
  web/src/pages/SQLShell/Browser/TableList/TableListItem.tsx
  web/src/pages/SQLShell/Browser/TableList/graphql/listTablesForDatabase.generated.ts
  web/src/pages/SQLShell/Browser/TableList/graphql/listTablesForDatabase.graphql
  web/src/pages/SQLShell/Browser/TableList/index.tsx
  web/src/pages/SQLShell/Browser/index.tsx
  web/src/pages/SQLShell/SQLEditor/graphql/loadAllSchemaEntities.generated.ts
  web/src/pages/SQLShell/SQLEditor/graphql/loadAllSchemaEntities.graphql
Due: prettier --write, eslint

add typesafety to typePolicies
  web/src/apollo/typePolicies.ts
Due: prettier --write, eslint

add autocomplete to Editor
  web/src/components/Editor/Editor.tsx
  web/src/components/Editor/theme.ts
  web/src/pages/SQLShell/SQLEditor/SQLEditor.tsx
Due: prettier --write, eslint

Checkpoint work
  deployments/bootstrap.yml
  deployments/core.yml
  deployments/panther_config.yml
  docs/gitbook/operations/runbooks.md
  internal/log_analysis/datacatalog_updater/main/lambda.go
  pkg/awsglue/glue.go
  tools/cfngen/gluecf/gluecf.go
  tools/cfngen/gluecf/testdata/gluecf.json.cf
  tools/config/config.go
  tools/mage/deploy.go
Due: prettier --write

add persistence on local state. Remove lookups on dot clicking
  web/src/components/Editor/Editor.tsx
  web/src/pages/SQLShell/SQLEditor/SQLEditor.tsx
Due: prettier --write, eslint

Add delay at start of athena setp function state machine
  api/lambda/database/models/api.go
  deployments/core.yml
Due: none

Add alert-delivery lambda to dashboards
  tools/dashboards/alerts.go
  tools/dashboards/overview.go
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
