Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

fix: nested node_modules issue
  tools/mage/fmt_license.go
Due: none

fix: comment spacings
  tools/mage/fmt_license.go
Due: none

fix: correct issue with merged margins. Fix #1264
  web/src/components/Navigation/ComplianceNavigation.tsx
  web/src/components/Navigation/LogAnalysisNavigation.tsx
  web/src/components/Navigation/NavLink.tsx
  web/src/components/Navigation/Navigation.tsx
  web/src/components/Navigation/SettingsNavigation.tsx
Due: prettier --write, eslint

Factor user prompt code from mage to pkg/prompt
  pkg/README.md
  pkg/prompt/prompt.go
  tools/mage/deploy.go
  tools/mage/glue_namespace.go
  tools/mage/master_namespace.go
  tools/mage/teardown.go
  tools/mage/test_namespace.go
  tools/mage/util.go
Due: prettier --write

revamp navigation sizes
  package-lock.json
  package.json
  web/src/components/Navigation/NavIconButton.tsx
  web/src/components/Navigation/Navigation.tsx
Due: prettier --write, eslint

mage fmt
  tools/mage/fmt_license.go
Due: none

Respond to PR
  pkg/prompt/prompt.go
Due: none

remove z-index from aside
  web/src/components/Navigation/Navigation.tsx
  web/src/pages/403/403.tsx
  web/src/pages/404/404.tsx
  web/src/pages/500/500.tsx
Due: prettier --write, eslint

align key fields from Cognito with the lambda API's values
  web/__tests__/utils/auth.ts
  web/src/components/Header/Header.tsx
  web/src/components/Navigation/Navigation.tsx
  web/src/components/forms/EditProfileForm/EditProfileForm.tsx
  web/src/components/modals/DeleteUserModal/DeleteUserModal.tsx
  web/src/components/sidesheets/EditUserSidesheet/EditUserSidesheet.tsx
  web/src/components/utils/AuthContext/AuthContext.tsx
Due: prettier --write, eslint

Move node_modules dir check earlier to skip the entire traversal
  tools/mage/fmt_license.go
Due: none

feat: new profile icon
  package-lock.json
  package.json
  web/src/components/Navigation/ProfileIcon/ProfileIcon.tsx
  web/src/components/Navigation/ProfileIcon/index.tsx
Due: prettier --write, eslint

Revamp header
  web/src/components/Header/Header.tsx
Due: prettier --write, eslint

More header tests
  docs/gitbook/SUMMARY.md
  docs/gitbook/log-analysis/rules/README.md
  docs/gitbook/log-analysis/rules/header-tests.md
  docs/gitbook/operations/runbooks.md
  tools/mage/doc.go
Due: prettier --write

Try with spaces
  docs/gitbook/log-analysis/rules/header-tests.md
  tools/mage/doc.go
Due: prettier --write

Pairing
  docs/gitbook/log-analysis/rules/header-tests.md
  tools/mage/doc.go
Due: prettier --write

More tests
  docs/gitbook/log-analysis/rules/README.md
  docs/gitbook/log-analysis/rules/header-tests.md
  tools/mage/doc.go
Due: prettier --write

First attempt at header generation
  docs/gitbook/SUMMARY.md
  docs/gitbook/log-analysis/log-processing/supported-logs/README.md
  docs/gitbook/log-analysis/rules/header-tests.md
  tools/mage/doc.go
Due: prettier --write

refactor: navigation file structure
  web/src/components/Navigation/NavIconButton/NavIconButton.tsx
  web/src/components/Navigation/NavIconButton/index.tsx
  web/src/components/Navigation/NavLink/NavLink.tsx
  web/src/components/Navigation/NavLink/index.tsx
  web/src/components/Navigation/Navigation.tsx
  web/src/components/Navigation/ProfileIcon/ProfileIcon.test.tsx
  web/src/components/Navigation/SecondaryNavigations/ComplianceNavigation.tsx
  web/src/components/Navigation/SecondaryNavigations/LogAnalysisNavigation.tsx
  web/src/components/Navigation/SecondaryNavigations/SettingsNavigation.tsx
  web/src/components/Navigation/SecondaryNavigations/index.tsx
Due: prettier --write, eslint

test: add tests for ProfileIcon
  web/__tests__/utils/auth.ts
  web/__tests__/utils/render.tsx
  web/src/components/Navigation/ProfileIcon/ProfileIcon.test.tsx
  web/src/components/Navigation/ProfileIcon/ProfileIcon.tsx
Due: prettier --write, eslint

fix: mage fmt
  web/src/components/Navigation/NavIconButton/index.tsx
  web/src/components/Navigation/NavLink/index.tsx
  web/src/components/Navigation/ProfileIcon/ProfileIcon.test.tsx
  web/src/components/Navigation/SecondaryNavigations/index.tsx
Due: prettier --write, eslint

Add opstool gluesync
  cmd/opstools/gluesync/gluesync/main.go
Due: none

Refactor meta handling to simplify logic
  internal/log_analysis/awsglue/quirks.go
  internal/log_analysis/log_processor/classification/classifier_test.go
  internal/log_analysis/log_processor/common/json.go
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/log_processor/pantherlog/jsoniter_event_time.go
  internal/log_analysis/log_processor/pantherlog/meta.go
  internal/log_analysis/log_processor/pantherlog/meta_test.go
  internal/log_analysis/log_processor/pantherlog/pantherlog.go
  internal/log_analysis/log_processor/pantherlog/result.go
  internal/log_analysis/log_processor/pantherlog/result_test.go
  internal/log_analysis/log_processor/pantherlog/scanners.go
  internal/log_analysis/log_processor/pantherlog/scanners_test.go
  internal/log_analysis/log_processor/pantherlog/tcodec/extension.go
  internal/log_analysis/log_processor/pantherlog/tcodec/extension_test.go
  internal/log_analysis/log_processor/pantherlog/tcodec/tcodec.go
  internal/log_analysis/log_processor/pantherlog/values.go
  internal/log_analysis/log_processor/pantherlog/values_test.go
  internal/log_analysis/log_processor/parsers/factory.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
  internal/log_analysis/log_processor/parsers/parsers.go
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
  internal/log_analysis/log_processor/processor/processor_test.go
Due: none

[pantherlog] Struct-based log parser definition
  go.sum
  internal/log_analysis/awsglue/quirks.go
  internal/log_analysis/awsglue/schema.go
  internal/log_analysis/gluetables/gluetables_test.go
  internal/log_analysis/log_processor/classification/classifier_test.go
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/log_processor/logtypes/registry.go
  internal/log_analysis/log_processor/logtypes/registry_test.go
  internal/log_analysis/log_processor/pantherlog/jsoniter_event_time.go
  internal/log_analysis/log_processor/pantherlog/jsoniter_scanners.go
  internal/log_analysis/log_processor/pantherlog/jsoniter_value_writers.go
  internal/log_analysis/log_processor/pantherlog/meta.go
  internal/log_analysis/log_processor/pantherlog/meta_test.go
  internal/log_analysis/log_processor/pantherlog/nocopy.go
  internal/log_analysis/log_processor/pantherlog/pantherlog.go
  internal/log_analysis/log_processor/pantherlog/result.go
  internal/log_analysis/log_processor/pantherlog/result_test.go
  internal/log_analysis/log_processor/pantherlog/rowid/rowid.go
  internal/log_analysis/log_processor/pantherlog/rowid/rowid_test.go
  internal/log_analysis/log_processor/pantherlog/scanners.go
  internal/log_analysis/log_processor/pantherlog/scanners_test.go
  internal/log_analysis/log_processor/pantherlog/tcodec/extension.go
  internal/log_analysis/log_processor/pantherlog/tcodec/tcodec.go
  internal/log_analysis/log_processor/pantherlog/validator.go
  internal/log_analysis/log_processor/pantherlog/values.go
  internal/log_analysis/log_processor/pantherlog/values_test.go
  internal/log_analysis/log_processor/parsers/awslogs/extractor_test.go
  internal/log_analysis/log_processor/parsers/factory.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
  internal/log_analysis/log_processor/parsers/parsers.go
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
  pkg/box/box.go
Due: none

Add RegisteredFieldNamesJSON helper to pantherlog
  internal/log_analysis/log_processor/pantherlog/meta.go
Due: none

Simplify pantherlog jsoniter extension by registering it globally
  internal/log_analysis/log_processor/common/json.go
  internal/log_analysis/log_processor/pantherlog/jsoniter.go
  internal/log_analysis/log_processor/pantherlog/jsoniter_event_time.go
  internal/log_analysis/log_processor/pantherlog/jsoniter_scanners.go
  internal/log_analysis/log_processor/pantherlog/jsoniter_test.go
  internal/log_analysis/log_processor/pantherlog/jsoniter_value_writers.go
  internal/log_analysis/log_processor/pantherlog/pantherlog.go
  internal/log_analysis/log_processor/pantherlog/result.go
  internal/log_analysis/log_processor/pantherlog/result_test.go
  internal/log_analysis/log_processor/pantherlog/scanners_test.go
  internal/log_analysis/log_processor/pantherlog/tcodec/extension.go
  internal/log_analysis/log_processor/pantherlog/validator.go
  internal/log_analysis/log_processor/pantherlog/values.go
  internal/log_analysis/log_processor/pantherlog/values_test.go
  internal/log_analysis/log_processor/parsers/factory.go
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
Due: none

Add pantherlog cli tool
  cmd/devtools/pantherlog/pantherlog.go
Due: none

Add more comments to document types and functions in this PR
  internal/log_analysis/log_processor/pantherlog/jsoniter.go
  internal/log_analysis/log_processor/pantherlog/meta.go
  internal/log_analysis/log_processor/pantherlog/result.go
  internal/log_analysis/log_processor/pantherlog/scanners.go
  internal/log_analysis/log_processor/parsers/awslogs/testdata/s3_server_access_samples.log
Due: none

removed premium detection packs
  docs/gitbook/README.md
Due: prettier --write

removed note about prem detections
  docs/gitbook/enterprise/README.md
Due: prettier --write

disable workflow
  .github/workflows/main.yml
Due: none

Refactor cfn stacks and utilities out of mage
  pkg/README.md
  pkg/awscfn/awscfn.go
  tools/cfnstacks/cfnstacks.go
  tools/mage/deploy.go
  tools/mage/deploy_frontend.go
  tools/mage/deploy_template.go
  tools/mage/glue_namespace.go
  tools/mage/master_namespace.go
  tools/mage/swagger.go
  tools/mage/teardown.go
  tools/mage/test_namespace.go
  tools/mage/util_cfn.go
Due: prettier --write

fix: change workflow file type
  .github/workflows/main.yml
  .github/workflows/main.yml.disabled
Due: none

fix: linting
  .github/workflows/main.yml.disabled
Due: none

Update package comments
  pkg/awscfn/awscfn.go
  tools/cfnstacks/cfnstacks.go
Due: none

Respond to PR
  pkg/awscfn/awscfn.go
  tools/cfnstacks/cfnstacks.go
  tools/mage/deploy.go
  tools/mage/deploy_frontend.go
  tools/mage/deploy_template.go
  tools/mage/glue_namespace.go
  tools/mage/master_namespace.go
  tools/mage/teardown.go
  tools/mage/util_cfn.go
Due: none

Checkpoint work
  cmd/opstools/gluesync/gluesync/main.go
  tools/mage/glue_namespace.go
Due: none

Add unit tests for header generation
  tools/mage/doc.go
  tools/mage/doc_test.go
Due: none

Add section to ops docs to show how to access ingest volume
  docs/gitbook/.gitbook/assets/operations/cloudwatch-dashboards-log-analysis-input-select-time.png
  docs/gitbook/.gitbook/assets/operations/cloudwatch-dashboards-log-analysis-input-select.png
  docs/gitbook/.gitbook/assets/operations/cloudwatch-dashboards-log-analysis-input-show.png
  docs/gitbook/.gitbook/assets/operations/cloudwatch-dashboards-log-analysis.png
  docs/gitbook/.gitbook/assets/operations/cloudwatch-dashboards.png
  docs/gitbook/operations/ops-home.md
Due: prettier --write

Fix typo
  docs/gitbook/operations/ops-home.md
Due: prettier --write

add to CI
  docs/gitbook/operations/runbooks.md
  tools/mage/doc.go
  tools/mage/test_namespace.go
Due: prettier --write
