Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Fixed formatting issues
  internal/log_analysis/log_processor/sources/s3_client_cache.go
  internal/log_analysis/log_processor/sources/s3_client_cache_test.go
Due: none

Check swagger and git tags when deploying
  docs/gitbook/quick-start.md
  internal/core/users_api/api/cognito_trigger.go
  tools/mage/deploy.go
  tools/mage/setup_namespace.go
Due: prettier --write

Defined constants
  internal/log_analysis/log_processor/sources/s3_client_cache.go
Due: none

Setting default value
  internal/core/analysis_api/handlers/create_rule.go
Due: none

fixing default
  internal/core/analysis_api/handlers/create_rule.go
Due: none

cleanup ListSources and add empty data fallback screens
  web/src/components/wizards/LogSourceWizard/SourceConfigurationPanel/SourceConfigurationPanel.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceTable/ComplianceSourceTable.tsx
  web/src/pages/ListComplianceSources/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListComplianceSources/EmptyDataFallback/index.tsx
  web/src/pages/ListComplianceSources/ListComplianceSources.tsx
  web/src/pages/ListComplianceSources/graphql/listComplianceSources.generated.ts
  web/src/pages/ListComplianceSources/graphql/listComplianceSources.graphql
  web/src/pages/ListComplianceSources/index.tsx
  web/src/pages/ListLogSources/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListLogSources/EmptyDataFallback/index.tsx
  web/src/pages/ListLogSources/ListLogSources.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceTable.tsx
  web/src/pages/ListLogSources/graphql/listLogSources.generated.ts
  web/src/pages/ListLogSources/graphql/listLogSources.graphql
  web/src/pages/ListLogSources/index.tsx
Due: prettier --write, eslint

Added 'dedupPeriodMinutes' to ListRulesInput
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/pages/ListRules/ListRules.tsx
Due: prettier --write, eslint

Fixed formatting issue
  internal/log_analysis/log_processor/sources/s3_client_cache.go
Due: none

hide optional fields in log analysis
  web/src/components/wizards/ComplianceSourceWizard/SourceConfigurationPanel/SourceConfigurationPanel.tsx
  web/src/components/wizards/ComplianceSourceWizard/SuccessPanel/SuccessPanel.tsx
  web/src/components/wizards/LogSourceWizard/SourceConfigurationPanel/SourceConfigurationPanel.tsx
  web/src/components/wizards/LogSourceWizard/SuccessPanel/SuccessPanel.tsx
  web/src/pages/CreateComplianceSource/CreateComplianceSource.tsx
  web/src/pages/CreateLogSource/CreateLogSource.tsx
  web/src/pages/EditComplianceSource/EditComplianceSource.tsx
  web/src/pages/EditLogSource/EditLogSource.tsx
Due: prettier --write, eslint

Added minutesToString to utils
  web/src/helpers/utils.tsx
Due: prettier --write, eslint

wrap placeholders with a Card
  web/src/pages/ListComplianceSources/ListComplianceSources.tsx
  web/src/pages/ListLogSources/ListLogSources.tsx
Due: prettier --write, eslint

Updated RuleForm edit
  web/src/components/forms/BaseRuleForm/BaseRuleFormCoreFields/BaseRuleFormCoreFields.tsx
  web/src/components/forms/RuleForm/RuleForm.tsx
  web/src/pages/RuleDetails/RuleDetailsInfo/RuleDetailsInfo.tsx
Due: prettier --write, eslint

Add 'version' to swagger command
  tools/mage/deploy.go
Due: none

[docs] README edits
  README.md
Due: prettier --write

mage fmt, add license headers
  deployments/auxiliary/cloudformation/panther-cloudsec-iam.yml
  web/src/components/Wizard/Wizard.tsx
  web/src/components/Wizard/WizardContext.tsx
  web/src/components/Wizard/WizardPanelWrapper.tsx
  web/src/components/forms/UserForm/index.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceHealthIcon/ComplianceSourceHealthIcon.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceHealthIcon/index.tsx
Due: prettier --write, eslint

send integrationLabel as input to health resolver
  deployments/core/appsync.yml
Due: none

[pr feedback]
  web/src/components/Wizard/Wizard.tsx
  web/src/components/Wizard/WizardPanelWrapper.tsx
  web/src/components/forms/UserForm/index.tsx
Due: prettier --write, eslint

add integration label to input integrationLabel
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/components/wizards/ComplianceSourceWizard/StackDeploymentPanel/StackDeployment.tsx
Due: prettier --write, eslint

Increased column size for "Severity" for List policies
  web/src/pages/ListPolicies/columns.tsx
Due: prettier --write, eslint

Respond to PR plus tweaks from testing deploys
  internal/core/source_api/api/check_integration.go
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/put_integration_test.go
  internal/core/source_api/api/update_integration.go
  internal/core/source_api/api/update_integration_test.go
  tools/mage/build_namespace.go
  tools/mage/deploy_onboard.go
  tools/mage/util.go
  web/src/components/Wizard/Wizard.tsx
  web/src/components/Wizard/WizardPanelWrapper.tsx
Due: prettier --write, eslint

Respond to PR
  deployments/auxiliary/cloudformation/panther-log-processing-iam.yml
  deployments/core/buckets.yml
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/update_integration.go
  internal/log_analysis/log_processor/sources/s3_client_cache.go
  tools/mage/deploy.go
Due: none

[docs] refactor all top level pages
  README.md
  docs/gitbook/README.md
  docs/gitbook/SUMMARY.md
  docs/gitbook/cost.md
  docs/gitbook/development.md
  docs/gitbook/quick-start.md
Due: prettier --write

[docs] move auto remediation into its own section
  docs/gitbook/SUMMARY.md
  docs/gitbook/automatic-remediation/auto-remediations/README.md
  docs/gitbook/automatic-remediation/automatic-remediation.md
  docs/gitbook/policies/automatic-remediation/README.md
  docs/gitbook/policies/automatic-remediation/aws/README.md
  docs/gitbook/policies/automatic-remediation/aws/aws-block-public-access-for-s3-bucket.md
  docs/gitbook/policies/automatic-remediation/aws/aws-block-s3-bucket-public-acl.md
  docs/gitbook/policies/automatic-remediation/aws/aws-create-guardduty-detector.md
  docs/gitbook/policies/automatic-remediation/aws/aws-disable-rds-instance-public-access.md
  docs/gitbook/policies/automatic-remediation/aws/aws-enable-cloudtrail-log-validation.md
  docs/gitbook/policies/automatic-remediation/aws/aws-enable-dynamodb-table-encryption.md
  docs/gitbook/policies/automatic-remediation/aws/aws-enable-kms-key-rotation.md
  docs/gitbook/policies/automatic-remediation/aws/aws-enable-rds-instance-auto-minor-version-upgrade.md
  docs/gitbook/policies/automatic-remediation/aws/aws-enable-s3-bucket-access-logging.md
  docs/gitbook/policies/automatic-remediation/aws/aws-enable-s3-bucket-encryption.md
  docs/gitbook/policies/automatic-remediation/aws/aws-enable-s3-bucket-versioning.md
  docs/gitbook/policies/automatic-remediation/aws/aws-enable-vpc-flow-logs-to-s3.md
  docs/gitbook/policies/automatic-remediation/aws/aws-stop-ec2-instance.md
  docs/gitbook/policies/automatic-remediation/aws/aws-terminate-ec2-instance.md
  docs/gitbook/policies/automatic-remediation/aws/aws-update-account-password-policy.md
  docs/gitbook/policies/automatic-remediation/aws/aws.cloudtrail.createtrail.md
  docs/gitbook/policies/cloud-security-overview.md
  docs/gitbook/quick-start.md
Due: prettier --write

remove remnants of list-input putIntegration
  deployments/core/appsync.yml
Due: none

panther log processing role needs to be regionally scoped, plus minor tidies
  internal/log_analysis/log_processor/sources/s3_client_cache.go
  tools/mage/deploy_onboard.go
  tools/mage/teardown.go
Due: none

Putting default value for bulk uploads
  api/gateway/analysis/configmodels.go
  internal/core/analysis_api/handlers/bulk_upload.go
Due: none

Minor fixes for creating rules
  web/src/pages/CreateRule/CreateRule.tsx
  web/src/pages/RuleDetails/RuleDetailsInfo/RuleDetailsInfo.tsx
Due: prettier --write, eslint

Add CreatePublishingDestination to guardduty dispatch in aws event processor
  internal/compliance/aws_event_processor/processor/guardduty.go
Due: none

Update dashboards to limit error lists to 20 (some were missing limit clause)
  tools/dashboards/alerts.go
  tools/dashboards/infra.go
  tools/dashboards/overview.go
  tools/dashboards/remediation.go
Due: none

Add missing region to assume role for snapshot poller
  internal/compliance/snapshot_poller/pollers/aws/poll.go
Due: none

Initialize dedupPeriodMinutes to 60 if null for edit existing rule
  web/src/pages/EditRule/EditRule.tsx
Due: prettier --write, eslint

add health check on log onboarded resource
  api/graphql/schema.graphql
  deployments/core/appsync.yml
  web/src/graphql/fragments/LogIntegrationDetails.graphql
Due: none

fix typos & appsync bugs
  deployments/core/appsync.yml
  web/src/components/wizards/LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/graphql/fragments/LogIntegrationDetails.generated.ts
  web/src/helpers/utils.tsx
Due: prettier --write, eslint

fix wrong redirect
  web/src/pages/CreateLogSource/CreateLogSource.tsx
Due: prettier --write, eslint

Add omitempty to IntgrationType in ListIntegrationsInput validation for source_api so all types can be listed
  api/lambda/source/models/api.go
Due: none

Whitelist CreatePublishingDestination for guaardduty in aws event processor
  internal/compliance/aws_event_processor/processor/process.go
Due: none

Fix audit role name handing and improve logging for snapshot poller
  internal/compliance/snapshot_poller/pollers/aws/poll.go
Due: none

Fix assume role region configure bug in log processor
  internal/log_analysis/log_processor/sources/s3_client_cache.go
Due: none

Changing the way we serialize error messages
  pkg/genericapi/errors.go
  pkg/genericapi/errors_test.go
Due: none

Update deploy_onboard.go to make linter happy
  tools/mage/deploy_onboard.go
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
