Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

add deleteUser resolver
  api/graphql/schema.graphql
  deployments/core/appsync.yml
  web/__generated__/schema.tsx
  web/src/components/modals/delete-user-modal.tsx
Due: prettier --write, eslint

fix issue with persistent filters
  web/src/components/utils/table-compliance-filter-control.tsx
  web/src/pages/policy-details/index.tsx
  web/src/pages/resource-details/index.tsx
Due: prettier --write, eslint

Refactor pkg/extract per suggestions in PR
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/extractor_test.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty.go
  pkg/extract/extractor.go
  pkg/extract/extractor_test.go
Due: none

update & test all front-end dependencies
  .babelrc
  .eslintrc
  package-lock.json
  package.json
  web/__generated__/schema.tsx
  web/webpack.config.js
Due: prettier --write, eslint

Refactor pantherlog into a base struct and an AWS struct. Update view generation
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/extractor.go
  internal/log_analysis/log_processor/parsers/awslogs/extractor_test.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty.go
  internal/log_analysis/log_processor/parsers/awslogs/pantherlog.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/pantherlog_test.go
  internal/log_analysis/log_processor/parsers/patherlog.go
  tools/athenaviews/athenaviews.go
  tools/athenaviews/athenaviews_test.go
Due: none

Add unit tests for swagger embedding
  tools/mage/logger.go
  tools/mage/swagger.go
  tools/mage/swagger_test.go
  tools/mage/testdata/api/first.yml
  tools/mage/testdata/invalid-path.yml
  tools/mage/testdata/no-api.yml
  tools/mage/testdata/valid-api-expected-output.yml
  tools/mage/testdata/valid-api.yml
Due: none

Tidy athena view generation
  internal/log_analysis/log_processor/parsers/patherlog.go
  tools/athenaviews/athenaviews.go
Due: none

bump production packages
  package-lock.json
  package.json
  web/src/hooks/useInfiniteScroll.tsx
  web/src/pages/list-alerts/index.tsx
Due: prettier --write, eslint

bump formik
  package-lock.json
  package.json
  web/src/components/fields/checkbox.tsx
  web/src/components/fields/radio.tsx
  web/src/components/fields/switch.tsx
Due: prettier --write, eslint

prettier
  web/src/components/fields/checkbox.tsx
  web/src/components/fields/radio.tsx
  web/src/components/fields/switch.tsx
Due: prettier --write, eslint

should fix
  web/src/components/forms/common/base-destination-form.tsx
Due: prettier --write, eslint

downgrade husky due to broken v4
  package-lock.json
  package.json
Due: prettier --write

Repond to PR on arn extraction
  internal/log_analysis/log_processor/parsers/awslogs/extractor.go
  internal/log_analysis/log_processor/parsers/awslogs/extractor_test.go
Due: none

Refactor mage test
  tools/mage/deploy.go
  tools/mage/swagger_test.go
  tools/mage/test_namespace.go
Due: none

Add prettier to fmt
  package.json
  tools/mage/fmt.go
Due: prettier --write

Generic URL suffix + AWS partition
  deployments/compliance/alert_processing.yml
  deployments/compliance/aws_event_processor.yml
  deployments/compliance/compliance_api.yml
  deployments/compliance/remediation.yml
  deployments/compliance/resources_api.yml
  deployments/compliance/snapshot.yml
  deployments/core/admin_api.yml
  deployments/core/analysis_api.yml
  deployments/core/appsync.yml
  deployments/core/outputs.yml
  deployments/log_analysis/alerts.yml
  deployments/log_analysis/log_processor.yml
  deployments/log_analysis/rules_engine.yml
  deployments/web/ecr.yml
  deployments/web/server.yml
Due: none

Revert appsync definition change (coming in future PR)
  deployments/core/appsync.yml
Due: none

Much faster integration tests
  internal/compliance/snapshot_api/main/handler_test.go
  internal/compliance/snapshot_api/main/integration_test.go
  tools/mage/build_namespace.go
  tools/mage/test_namespace.go
Due: none

Rework cfn pkg/deploy, add deploy precheck
  tools/mage/deploy.go
  tools/mage/deploy_template.go
  tools/mage/swagger.go
  tools/mage/util.go
Due: none

Refactor deploy output
  tools/mage/build_namespace.go
  tools/mage/deploy.go
  tools/mage/deploy_certificate.go
  tools/mage/deploy_frontend.go
  tools/mage/deploy_ruleset.go
  tools/mage/deploy_template.go
  tools/mage/util.go
Due: none

downgrade react-ace to 7.x.x
  package-lock.json
  package.json
Due: prettier --write

Add ability to list and remove users
  api/lambda/users/models/api.go
  internal/core/users_api/api/invite_user_test.go
  internal/core/users_api/api/list_users.go
  internal/core/users_api/api/list_users_test.go
  internal/core/users_api/api/remove_user.go
  internal/core/users_api/api/remove_user_test.go
  internal/core/users_api/gateway/delete_user.go
  internal/core/users_api/gateway/delete_user_test.go
  internal/core/users_api/gateway/mock_gateway.go
  internal/core/users_api/gateway/users_gateway.go
  tools/mage/deploy.go
Due: none

fix minor bug in switch
  web/src/components/fields/radio.tsx
Due: prettier --write, eslint

fix lint
  web/src/components/forms/common/base-destination-form.tsx
Due: prettier --write, eslint

update lock
  package-lock.json
Due: prettier --write

bump down webpack-imageloader
  package-lock.json
  package.json
Due: prettier --write

add memoization for perf optimization on Formik
  web/src/components/fields/checkbox.tsx
  web/src/components/fields/combobox.tsx
  web/src/components/fields/multi-combobox.tsx
  web/src/components/fields/radio.tsx
  web/src/components/fields/switch.tsx
  web/src/components/fields/textarea.tsx
  web/src/components/forms/common/rule-form-core-fields.tsx
  web/src/components/forms/common/rule-form-test-fields.tsx
Due: prettier --write, eslint

Added Asana documentation
  docs/gitbook/.gitbook/assets/add_asana_destination.png
  docs/gitbook/.gitbook/assets/destination_asana_copy_project_link.png
  docs/gitbook/.gitbook/assets/destination_asana_new_access_token.png
  docs/gitbook/destinations/alert-setup/asana.md
Due: prettier --write

add memoization to checkbox
  web/src/components/fields/checkbox.tsx
Due: prettier --write, eslint

Applied suggestions from PR
  docs/gitbook/destinations/alert-setup/asana.md
Due: prettier --write

add docs for EC2
  docs/gitbook/quick-start.md
Due: prettier --write

update docs
  docs/gitbook/quick-start.md
Due: prettier --write

update doc phrasing
  docs/gitbook/quick-start.md
Due: prettier --write

Historical search doc edits. 1) Fix indentation in SUMMARY.md 2) refine RunInstances example query
  docs/gitbook/SUMMARY.md
  docs/gitbook/historical-search/example-queries.md
Due: prettier --write

Increase retries for log processing.
  internal/log_analysis/log_processor/common/common.go
Due: none

Added Asana to summary
  docs/gitbook/SUMMARY.md
Due: prettier --write

Added names to pictures
  docs/gitbook/destinations/alert-setup/asana.md
Due: prettier --write

fix minor typos
  docs/gitbook/quick-start.md
Due: prettier --write

Make role name a constant
  internal/core/users_api/api/invite_user.go
  internal/core/users_api/gateway/add_user_to_group.go
  internal/core/users_api/gateway/users_gateway.go
Due: none

Fix tests
  internal/core/users_api/api/invite_user_test.go
  internal/core/users_api/api/update_user_test.go
  internal/core/users_api/gateway/add_user_to_group_test.go
  internal/core/users_api/gateway/mock_gateway.go
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
