Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Added validationSchema to base-user-form
  web/src/components/forms/common/base-user-form.tsx
Due: prettier --write, eslint

Modified user-invitation-form to use base-user-form
  web/src/components/forms/user-invitation-form/index.tsx
Due: prettier --write, eslint

added support for KMS checking
  api/lambda/source/models/integration.go
  deployments/auxiliary/cloudformation/panther-log-processing-iam.yml
  deployments/compliance/snapshot.yml
  docs/gitbook/operations/runbooks.md
  internal/compliance/aws_event_processor/processor/accounts.go
  internal/compliance/snapshot_scheduler/scheduler/schedule.go
  internal/core/source_api/api/check_integration.go
Due: prettier --write

Added getCurrentUserInfo to auth Context
  web/src/components/utils/auth-context.tsx
Due: prettier --write, eslint

Refetching user info from cognito when user edits self
  web/src/components/forms/edit-user-form/index.tsx
  web/src/components/utils/auth-context.tsx
Due: prettier --write, eslint

resource lookup working
  internal/compliance/policy_engine/src/helpers.py
  internal/compliance/policy_engine/src/policy.py
Due: none

fixed linting issues
  internal/compliance/policy_engine/src/helpers.py
  internal/compliance/policy_engine/src/policy.py
Due: none

Remove unused PantherEventTime guard in tests.
  internal/log_analysis/log_processor/parsers/awslogs/alb_test.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit_test.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_test.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty_test.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access_test.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow_test.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status_test.go
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo_test.go
Due: none

Fix units for dlq alarm
  tools/cfngen/cloudwatchcf/alarms_sqs.go
Due: none

Fix units for dlq alarm (add updated test data)
  tools/cfngen/cloudwatchcf/testdata/generated_test_alarms.json
Due: prettier --write

Move the NewParser into the New() method.
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc5424.go
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc5424_test.go
Due: none

Move the NewParser into the New() method.
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc3164.go
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc3164_test.go
Due: none

refactored to use dynamo instead of lambda
  deployments/compliance/resources_api.yml
  internal/compliance/aws_event_processor/processor/process.go
  internal/compliance/policy_engine/src/helpers.py
  internal/compliance/policy_engine/src/policy.py
  internal/compliance/policy_engine/tests/test_helpers.py
Due: none

Updated unit tests and naming
  internal/compliance/policy_engine/src/helpers.py
  internal/compliance/policy_engine/src/policy.py
  internal/compliance/policy_engine/tests/test_helpers.py
Due: none

fixed unit tests
  internal/compliance/policy_engine/src/helpers.py
  internal/compliance/policy_engine/tests/test_helpers.py
Due: none

fixed issue with CI
  internal/compliance/policy_engine/src/helpers.py
Due: none

Update user returns new user details
  api/lambda/users/models/api.go
  go.mod
  go.sum
  internal/core/users_api/api/get_user.go
  internal/core/users_api/api/invite_user.go
  internal/core/users_api/api/invite_user_test.go
  internal/core/users_api/api/update_user.go
  internal/core/users_api/api/update_user_test.go
  internal/core/users_api/gateway/create_user.go
  internal/core/users_api/gateway/create_user_test.go
  internal/core/users_api/gateway/mock_gateway.go
  internal/core/users_api/gateway/update_user.go
  internal/core/users_api/gateway/update_user_test.go
  internal/core/users_api/gateway/users_gateway.go
Due: none

Remove references to unused enterprise submodule
  tools/mage/fmt_license.go
Due: none

Update integration returns new settings
  internal/core/source_api/api/update_integration.go
  internal/core/source_api/api/update_integration_test.go
  internal/core/source_api/ddb/update_item.go
  tools/mage/fmt_license.go
Due: none

Update rfc5424 tests with new changes to PantherParseTime.
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc5424.go
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc5424_test.go
Due: none

CI weee
  internal/compliance/policy_engine/src/helpers.py
Due: none

Update integration returns new settings
  api/lambda/source/models/api.go
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/update_integration_test.go
  internal/core/source_api/main/integration_test.go
Due: none

staging changes
  docs/gitbook/log-analysis/rules/aws/aws-iam-entity-created-without-cloudformation.md
  docs/gitbook/log-analysis/rules/aws/aws-root-access-key-created.md
  docs/gitbook/log-analysis/rules/aws/aws-root-console-login.md
  docs/gitbook/log-analysis/rules/aws/aws-root-password-changed.md
  docs/gitbook/policies/policies/aws/aws-acm-certificates-are-valid.md
  docs/gitbook/policies/policies/aws/aws-cloudformation-stack-has-not-drifted.md
  docs/gitbook/policies/policies/aws/aws-cloudformation-stack-has-termination-protection.md
  docs/gitbook/policies/policies/aws/aws-cloudformation-stack-uses-iam-service-role.md
  docs/gitbook/policies/policies/aws/aws-cloudtrail-least-privilege-access-configured.md
  docs/gitbook/policies/policies/aws/aws-customer-owned-ami-is-private.md
  go.sum
Due: prettier --write

Majority of mage teardown
  tools/mage/teardown.go
  tools/mage/test_namespace.go
Due: none

Remove ACM certs and log groups
  deployments/backend.yml
  deployments/core/appsync.yml
  go.sum
  tools/mage/teardown.go
Due: none

Add deploy step to monitor the panther account with panther for cloudsec
  deployments/onboard.yml
  docs/gitbook/policies/scanning/real-time-events.md
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/put_integration_test.go
  internal/core/source_api/ddb/scan.go
  tools/mage/deploy.go
  tools/mage/deploy_onboard.go
Due: prettier --write

Updated Alert details page
  web/src/pages/alert-details/AlertDetailsEvents/AlertDetailsEvents.tsx
  web/src/pages/alert-details/AlertDetailsEvents/index.tsx
  web/src/pages/alert-details/AlertDetailsInfo/AlertDetailsInfo.tsx
  web/src/pages/alert-details/AlertDetailsInfo/index.tsx
  web/src/pages/alert-details/AlertDetailsSkeleton/AlertDetailsSkeleton.tsx
  web/src/pages/alert-details/AlertDetailsSkeleton/index.tsx
  web/src/pages/alert-details/index.tsx
Due: prettier --write, eslint

Refactored AuthPageContainer
  web/src/components/AuthPageContainer/AuthPageContainer.tsx
  web/src/components/AuthPageContainer/index.tsx
  web/src/pages/forgot-password-confirm/index.tsx
  web/src/pages/forgot-password/index.tsx
  web/src/pages/sign-in/index.tsx
Due: prettier --write, eslint

Refactored Breadcrumbs
  web/src/components/Breadcrumbs/Breadcrumbs.tsx
  web/src/components/Breadcrumbs/index.tsx
  web/src/components/header.tsx
Due: prettier --write, eslint

Refactored CirclePlaceholder
  web/src/components/CirclePlaceholder/CirclePlaceholder.tsx
  web/src/components/CirclePlaceholder/index.tsx
  web/src/pages/compliance-overview/skeleton.tsx
Due: prettier --write, eslint

Changed export syntax
  web/src/components/AuthPageContainer/index.tsx
  web/src/components/Breadcrumbs/index.tsx
  web/src/components/CirclePlaceholder/index.tsx
Due: prettier --write, eslint

Minor update auth-context
  web/src/components/forms/edit-user-form/index.tsx
  web/src/components/utils/auth-context.tsx
Due: prettier --write, eslint

Fixes to edit-user & invitation-user form
  web/src/components/forms/common/base-user-form.tsx
  web/src/components/forms/edit-user-form/index.tsx
  web/src/components/forms/user-invitation-form/index.tsx
Due: prettier --write, eslint

Updated EditSidesheet as folder compoment
  web/src/components/sidesheets/EditUserSidesheet/EditUser.tsx
  web/src/components/sidesheets/EditUserSidesheet/EditUserSidesheet.tsx
  web/src/components/sidesheets/EditUserSidesheet/index.tsx
  web/src/components/utils/sidesheet-context.tsx
  web/src/components/utils/sidesheet-manager.tsx
Due: prettier --write, eslint

Update export
  web/src/components/sidesheets/EditUserSidesheet/index.tsx
Due: prettier --write, eslint

Correct import for ErrorBoundary
  web/src/app.tsx
  web/src/components/forms/policy-form/index.tsx
  web/src/components/forms/rule-form/index.tsx
  web/src/pages/alert-details/index.tsx
  web/src/pages/compliance-overview/index.tsx
  web/src/pages/compliance-overview/subcomponents/donut-chart-wrapper.tsx
  web/src/pages/create-compliance-source/subcomponents/source-details-panel.tsx
  web/src/pages/create-log-source/subcomponents/source-details-panel.tsx
  web/src/pages/destinations/index.tsx
  web/src/pages/general-settings/index.tsx
  web/src/pages/list-alerts/index.tsx
  web/src/pages/list-compliance-sources/index.tsx
  web/src/pages/list-log-sources/index.tsx
  web/src/pages/list-policies/index.tsx
  web/src/pages/list-policies/subcomponents/list-policies-actions.tsx
  web/src/pages/list-resources/index.tsx
  web/src/pages/list-resources/subcomponents/list-resources-actions.tsx
  web/src/pages/list-rules/index.tsx
  web/src/pages/list-rules/subcomponents/list-rules-actions.tsx
  web/src/pages/policy-details/index.tsx
  web/src/pages/resource-details/index.tsx
  web/src/pages/rule-details/index.tsx
  web/src/pages/users/index.tsx
  web/src/routes.tsx
Due: prettier --write, eslint

Minor import update
  web/src/components/layout.tsx
  web/src/routes.tsx
Due: prettier --write, eslint

Refactored JsonViewer
  web/src/components/JsonViewer/JsonViewer.tsx
  web/src/components/JsonViewer/index.tsx
  web/src/components/forms/destination-form/sns-destination-form.tsx
  web/src/components/forms/destination-form/sqs-destination-form.tsx
  web/src/pages/alert-details/AlertDetailsEvents/AlertDetailsEvents.tsx
  web/src/pages/policy-details/subcomponents/policy-details-info.tsx
  web/src/pages/resource-details/index.tsx
Due: prettier --write, eslint

Checkpoint work
  go.sum
  internal/log_analysis/log_processor/classification/classifier.go
  internal/log_analysis/log_processor/classification/classifier_test.go
  internal/log_analysis/log_processor/common/common.go
  internal/log_analysis/log_processor/destinations/destinations.go
  internal/log_analysis/log_processor/destinations/firehose.go
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/awslogs/alb_test.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit_test.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_test.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty_test.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access_test.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow_test.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status_test.go
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo.go
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo_test.go
  internal/log_analysis/log_processor/parsers/pantherlog_test.go
  internal/log_analysis/log_processor/parsers/parsers.go
  internal/log_analysis/log_processor/parsers/patherlog.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/processor/processor_test.go
Due: none
