Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

fix: reword the alert status snackbar
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
Due: prettier --write, eslint

Simplify string interpolation
  web/src/components/forms/AnalyticsConsentForm/ErrorReportingSection.tsx
  web/src/components/forms/PolicyForm/PolicyFormAutoRemediationSection/PolicyFormAutoRemediationSection.tsx
  web/src/components/sidesheets/PolicyBulkUploadSidesheet/PolicyBulkUploadSidesheet.tsx
  web/src/components/wizards/ComplianceSourceWizard/SourceConfigurationPanel/SourceConfigurationPanel.tsx
  web/src/constants.ts
Due: prettier --write, eslint

metric generation working
  internal/log_analysis/log_processor/classification/classifier.go
  internal/log_analysis/log_processor/common/metrics.go
  internal/log_analysis/log_processor/processor/processor.go
  pkg/metrics/logger.go
Due: none

fix: error extractor returns capitalized error strings
  web/src/helpers/utils.tsx
Due: prettier --write, eslint

fix source status bug
  internal/core/source_api/api/check_integration.go
Due: none

updated metrics api
  internal/core/metrics_api/api/get_metrics.go
  internal/core/metrics_api/api/log_processor_metrics.go
Due: none

fix: optimize data through `useMemo`
  web/src/pages/LogAnalysisOverview/AlertsBySeverity/AlertsBySeverity.tsx
Due: prettier --write, eslint

feat: allow specifying `zoomable` and `maxZoomPeriod`
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
  web/src/pages/LogAnalysisOverview/AlertsBySeverity/AlertsBySeverity.tsx
  web/src/pages/LogAnalysisOverview/EventsByLogType/EventsByLogType.tsx
Due: prettier --write, eslint

cleanup (#19)
  .github/workflows/main.yml
  build/actions/pr_sync/action.yml
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

3nvi master (#20)
  .github/workflows/main.yml
Due: none

fix: allow empty commits
  .github/workflows/main.yml
Due: none

3nvi master2 (#21)
  .github/workflows/main.yml
Due: none

fix: build ncc
  .github/workflows/main.yml
Due: none

3nvi master2 (#22)
  .github/workflows/main.yml
Due: none

increase fetch depth
  .github/workflows/main.yml
Due: none

3nvi master2 (#23)
  .github/workflows/main.yml
Due: none

fix: add abs path to action (#24)
  .github/workflows/main.yml
Due: none

revert: abs path change (#25)
  .github/workflows/main.yml
Due: none

Update index.js (#26)
  build/actions/pr_sync/dist/index.js
Due: prettier --write, eslint

fix: typo
  .github/workflows/main.yml
Due: none

3nvi master2 (#27)
  .github/workflows/main.yml
Due: none

cleanup code
  .github/workflows/main.yml
Due: none

Update README.md (#29)
  README.md
Due: prettier --write

Add missing helper
  internal/log_analysis/log_processor/pantherlog/meta.go
Due: none

support merge commit sha
  .github/workflows/main.yml
Due: none

3nvi master2 (#30)
  .github/workflows/main.yml
Due: none

fix typo
  .github/workflows/main.yml
Due: none

3nvi master2 (#31)
  .github/workflows/main.yml
Due: none

fix: connditional commands
  .github/workflows/main.yml
Due: none

3nvi master2 (#32)
  .github/workflows/main.yml
Due: none

feat: add `mage fmt`
  .github/workflows/main.yml
  build/actions/pr_sync/dist/index.js
Due: prettier --write, eslint

3nvi master2 (#33)
  .github/workflows/main.yml
  build/actions/pr_sync/dist/index.js
Due: prettier --write, eslint

refactor: the syntax of ENV vars
  .github/workflows/main.yml
Due: none

3nvi master2 (#34)
  .github/workflows/main.yml
Due: none

add container for 1 step only
  .github/workflows/main.yml
Due: none

3nvi master2 (#35)
  .github/workflows/main.yml
Due: none

add container to job
  .github/workflows/main.yml
Due: none

3nvi master2 (#36)
  .github/workflows/main.yml
Due: none

fix: variable declaration
  .github/workflows/main.yml
Due: none

3nvi master2 (#37)
  .github/workflows/main.yml
Due: none
