Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Add SFN alarms
  internal/core/custom_resources/resources/alarms_sfn.go
  internal/core/custom_resources/resources/map.go
  tools/cfngen/cloudwatchcf/alarms.go
  tools/cfngen/cloudwatchcf/alarms_sfn.go
  tools/cfngen/cloudwatchcf/testdata/cf.yml
  tools/cfngen/cloudwatchcf/testdata/generated_test_alarms.json
Due: prettier --write

SNS alarms
  deployments/bootstrap_gateway.yml
  deployments/onboard.yml
  internal/core/custom_resources/resources/alarms_sns.go
  internal/core/custom_resources/resources/map.go
  tools/cfngen/cloudwatchcf/alarms.go
  tools/cfngen/cloudwatchcf/alarms_sns.go
  tools/cfngen/cloudwatchcf/testdata/cf.yml
  tools/cfngen/cloudwatchcf/testdata/generated_test_alarms.json
  tools/mage/deploy_onboard.go
  tools/mage/test_namespace.go
Due: prettier --write

SQS alarms
  deployments/alarms.yml
  deployments/cloud_security.yml
  deployments/core.yml
  deployments/log_analysis.yml
  internal/core/custom_resources/resources/alarms_sqs.go
  internal/core/custom_resources/resources/map.go
  tools/cfngen/cloudwatchcf/alarms.go
  tools/cfngen/cloudwatchcf/alarms_sqs.go
  tools/cfngen/cloudwatchcf/alarms_test.go
  tools/cfngen/cloudwatchcf/testdata/cf.yml
  tools/cfngen/cloudwatchcf/testdata/generated_test_alarms.json
  tools/cfngen/cloudwatchcf/util.go
  tools/cfngen/cloudwatchcf/walkmap.go
  tools/mage/build_namespace.go
  tools/mage/cfngen.go
  tools/mage/deploy.go
  tools/mage/teardown.go
  tools/mage/test_namespace.go
  tools/mage/util_cfn.go
Due: prettier --write

Try mappings for lambda timeout/memory
  deployments/bootstrap_gateway.yml
  deployments/cloud_security.yml
  internal/core/custom_resources/resources/alarms_lambda.go
  internal/core/custom_resources/resources/map.go
Due: none

Finish lambda mappings
  deployments/cloud_security.yml
  deployments/core.yml
  deployments/log_analysis.yml
Due: none

Close channels
  tools/mage/build_namespace.go
Due: none

Use SNS/SQS queue *names*
  deployments/cloud_security.yml
  deployments/core.yml
  deployments/log_analysis.yml
  deployments/onboard.yml
Due: none

Move flow logs to onboarding, conditionally create source-only bootstrap resources
  deployments/bootstrap.yml
  deployments/onboard.yml
  tools/mage/deploy.go
  tools/mage/deploy_onboard.go
Due: none

Move ECS::Cluster to web stack
  deployments/bootstrap.yml
  deployments/bootstrap_gateway.yml
  deployments/web_server.yml
  tools/mage/deploy.go
Due: none

Add firehose support in deployment role (only needed for Panther Enterprise)
  deployments/auxiliary/cloudformation/panther-deployment-role.yml
  deployments/auxiliary/terraform/panther_deployment_role/main.tf
Due: none

Initial API wrapper Chart component
  package.json
  web/src/components/Charts/Charts.tsx
  web/src/components/Charts/components/TimeSeriesLines.tsx
  web/src/components/Charts/components/demoData.ts
  web/src/components/Charts/components/index.tsx
  web/src/components/Charts/constants.ts
  web/src/components/Charts/index.tsx
  web/src/pages/ComplianceOverview/ComplianceOverview.tsx
Due: prettier --write, eslint

Checkpoint work
  deployments/core.yml
  deployments/panther_config.yml
  internal/core/source_api/api/glue_utils.go
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/put_integration_test.go
  internal/core/source_api/api/vars.go
  internal/log_analysis/athenaviews/athenaviews.go
  internal/log_analysis/athenaviews/athenaviews_test.go
  internal/log_analysis/awsglue/awsglue.go
  internal/log_analysis/awsglue/integration_test.go
  internal/log_analysis/awsglue/schema.go
  internal/log_analysis/awsglue/schema_test.go
  internal/log_analysis/awsglue/table_metadata.go
  internal/log_analysis/awsglue/table_metadata_test.go
  internal/log_analysis/awsglue/wrappers.go
  tools/cfngen/gluecf/db.go
  tools/cfngen/gluecf/db_test.go
  tools/cfngen/gluecf/doc.go
  tools/cfngen/gluecf/gluecf.go
  tools/cfngen/gluecf/gluecf_test.go
  tools/cfngen/gluecf/table.go
  tools/cfngen/gluecf/table_test.go
  tools/cfngen/gluecf/testdata/db.template.json
  tools/cfngen/gluecf/testdata/gluecf.json.cf
  tools/cfngen/gluecf/testdata/tables.template.json
  tools/mage/build_namespace.go
  tools/mage/cfngen.go
  tools/mage/deploy.go
  tools/mage/deploy_onboard.go
  tools/mage/doc.go
  tools/mage/glue_namespace.go
  tools/mage/teardown.go
Due: prettier --write

Checkpoint work
  internal/core/source_api/api/glue_utils.go
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/put_integration_test.go
  internal/log_analysis/awsglue/integration_test.go
  pkg/testutils/awsmocks.go
Due: none

checkpoint work
  internal/core/source_api/api/glue_utils.go
  internal/log_analysis/athenaviews/athenaviews.go
  internal/log_analysis/awsglue/integration_test.go
  internal/log_analysis/awsglue/table_metadata.go
  internal/log_analysis/gluetables/gluetables.go
  tools/mage/deploy.go
  tools/mage/teardown.go
  tools/mage/util_cfn.go
Due: none

move ejs-webpack-loader to dev dependency
  package-lock.json
  package.json
Due: prettier --write

Storing reports in Athena
  api/gateway/analysis/api.yml
  api/gateway/analysis/configmodels.go
  api/gateway/analysis/models/enabled_policy.go
  api/gateway/analysis/models/policy.go
  api/gateway/analysis/models/policy_summary.go
  api/gateway/analysis/models/reports.go
  api/gateway/analysis/models/rule.go
  api/gateway/analysis/models/rule_summary.go
  api/gateway/analysis/models/update_rule.go
  internal/core/analysis_api/handlers/bulk_upload.go
  internal/core/analysis_api/handlers/dynamo.go
  internal/core/analysis_api/handlers/get_enabled_analyses.go
  internal/log_analysis/rules_engine/src/__init__.py
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/src/output.py
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_engine.py
  internal/log_analysis/rules_engine/tests/test_output.py
  internal/log_analysis/rules_engine/tests/test_rule.py
  tools/cfngen/gluecf/gluecf.go
  tools/cfngen/gluecf/testdata/gluecf.json.cf
Due: none

Updated tests
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_output.py
Due: none

Update web/src/components/forms/GlobalModuleForm/GlobalModuleForm.tsx
  web/src/components/forms/GlobalModuleForm/GlobalModuleForm.tsx
Due: prettier --write, eslint

checkpoint work
  internal/log_analysis/awsglue/schema.go
  tools/mage/deploy.go
Due: none

Adds null related packages
  internal/log_analysis/log_processor/common/box/box.go
  internal/log_analysis/log_processor/common/null/null.go
  internal/log_analysis/log_processor/common/null/string.go
  internal/log_analysis/log_processor/common/null/string_test.go
  internal/log_analysis/log_processor/common/strictnull/strictnull.go
  internal/log_analysis/log_processor/common/strictnull/string.go
  internal/log_analysis/log_processor/common/strictnull/string_test.go
  internal/log_analysis/log_processor/common/unbox/unbox.go
Due: none

ZoomableLines chart
  web/src/components/Charts/Charts.tsx
  web/src/components/Charts/components/TimeSeriesZoomableLines.tsx
  web/src/components/Charts/components/demoData.ts
  web/src/components/Charts/components/index.tsx
  web/src/components/Charts/index.tsx
  web/src/pages/ComplianceOverview/ComplianceOverview.tsx
Due: prettier --write, eslint

checkpoint work
  deployments/panther_config.yml
  tools/mage/teardown.go
Due: none

checkpoint work
  internal/log_analysis/awsglue/schema.go
Due: none

Fixing integration tests
  internal/core/analysis_api/main/integration_test.go
  internal/core/analysis_api/main/test_policies/always_true.json
Due: prettier --write

checkpoint work
  internal/log_analysis/awsglue/table_metadata.go
  tools/mage/teardown.go
Due: none

Adds pantherlog module to handle log events in a declarative way.
  internal/log_analysis/log_processor/jsonutil/jsontricks.go
  internal/log_analysis/log_processor/jsonutil/jsontricks_test.go
  internal/log_analysis/log_processor/pantherlog/event.go
  internal/log_analysis/log_processor/pantherlog/event_test.go
  internal/log_analysis/log_processor/pantherlog/meta.go
  internal/log_analysis/log_processor/pantherlog/result.go
  internal/log_analysis/log_processor/pantherlog/rowid.go
  internal/log_analysis/log_processor/pantherlog/rowid_test.go
  internal/log_analysis/log_processor/pantherlog/values.go
  internal/log_analysis/log_processor/pantherlog/values_test.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
  internal/log_analysis/log_processor/parsers/parsers.go
  tools/cfngen/gluecf/schema.go
Due: none

Fix unused import and lint
  internal/log_analysis/log_processor/parsers/parsers.go
  tools/cfngen/gluecf/schema.go
Due: none

Move box and unbox modules to pkg
  pkg/box/box.go
  pkg/unbox/unbox.go
Due: none

Fix fmt
  internal/log_analysis/log_processor/common/strictnull/strictnull.go
  internal/log_analysis/log_processor/common/strictnull/string.go
  internal/log_analysis/log_processor/common/strictnull/string_test.go
Due: none

Adds parsers.LogType and registry
  docs/gitbook/log-analysis/log-processing/supported-logs/"Nginx.md
  internal/log_analysis/awsglue/table_metadata.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access.go
  internal/log_analysis/log_processor/parsers/nginxlogs/nginxlogs.go
  internal/log_analysis/log_processor/parsers/parsers.go
  internal/log_analysis/log_processor/parsers/registry.go
Due: prettier --write

checkpoint work
  internal/log_analysis/awsglue/integration_test.go
  internal/log_analysis/awsglue/schema.go
Due: none

First draft of master template
  deployments/bootstrap.yml
  deployments/master.yml
  tools/mage/deploy_template.go
  tools/mage/release.go
Due: none

Add all main templates
  deployments/appsync.yml
  deployments/bootstrap.yml
  deployments/bootstrap_gateway.yml
  deployments/cloud_security.yml
  deployments/core.yml
  deployments/log_analysis.yml
  deployments/master.yml
  tools/mage/release.go
Due: none

Add dashboards
  deployments/dashboards.yml
  deployments/master.yml
  tools/cfngen/cloudwatchcf/dashboard.go
  tools/mage/cfngen.go
  tools/mage/deploy.go
  tools/mage/release.go
Due: none

added support for backing up processed data
  deployments/bootstrap.yml
  deployments/panther_config.yml
  tools/config/config.go
  tools/mage/deploy.go
Due: none

Make master stack itself a SAR app
  deployments/master.yml
  tools/mage/release.go
Due: none

Revert
  deployments/master.yml
  tools/mage/release.go
Due: none

fixed overzealous linter issue
  tools/config/config.go
Due: none

Register gitlab log types
  internal/log_analysis/log_processor/parsers/gitlablogs/gitlablogs.go
Due: none

Added Bars chart
  web/src/components/Charts/components/Bars.tsx
  web/src/components/Charts/index.tsx
Due: prettier --write, eslint
