Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

remove panic recover
  internal/log_analysis/log_processor/sources/s3_client_cache.go
Due: none

feat: add Detection Creation page
  package-lock.json
  package.json
  web/src/components/forms/PolicyForm/PolicyForm.tsx
  web/src/components/forms/RuleForm/RuleForm.tsx
  web/src/pages/CreateDetection/CreateDetection.tsx
  web/src/pages/CreateDetection/CreatePolicy/CreatePolicy.tsx
  web/src/pages/CreateDetection/CreatePolicy/graphql/createPolicy.generated.ts
  web/src/pages/CreateDetection/CreatePolicy/graphql/createPolicy.graphql
  web/src/pages/CreateDetection/CreatePolicy/index.tsx
  web/src/pages/CreateDetection/CreateRule/CreateRule.tsx
  web/src/pages/CreateDetection/CreateRule/graphql/createRule.generated.ts
  web/src/pages/CreateDetection/CreateRule/graphql/createRule.graphql
  web/src/pages/CreateDetection/CreateRule/index.tsx
  web/src/pages/CreateDetection/DetectionSelectionCard/DetectionSelectionCard.tsx
  web/src/pages/CreateDetection/DetectionSelectionCard/index.tsx
  web/src/pages/CreateDetection/index.tsx
  web/src/routes.tsx
  web/src/urls.ts
Due: prettier --write, eslint

merge changes from panther-labs/panther#2444
  internal/core/source_api/api/update_status.go
  internal/core/source_api/ddb/update.go
  internal/core/source_api/main/integration_test.go
Due: none

fix conflicts
  internal/core/source_api/api/update_status.go
Due: none

Fix test
  internal/core/source_api/main/integration_test.go
Due: none

mage gen fmt
  internal/core/source_api/main/integration_test.go
Due: none

Merge from weyland-csec-source-disable-postfix
  internal/compliance/snapshot_poller/models/aws/types.go
  internal/compliance/snapshot_poller/pollers/aws/configservice.go
  internal/compliance/snapshot_poller/pollers/aws/eks_cluster.go
  internal/compliance/snapshot_poller/pollers/aws/guardduty_detector.go
  internal/compliance/snapshot_poller/pollers/aws/password_policy.go
  internal/compliance/snapshot_poller/pollers/aws/poll.go
  internal/compliance/snapshot_poller/pollers/aws/s3_bucket.go
Due: none

test: mock debounce where needed and changed all waitMs to 1ms
  web/src/components/FieldPolicyChecker/FieldPolicyChecker.test.tsx
  web/src/components/JsonViewer/JsonViewer.test.tsx
  web/src/components/forms/AsanaDestinationForm/AsanaDestinationForm.test.tsx
  web/src/components/forms/CustomLogForm/CustomLogForm.test.tsx
  web/src/components/forms/CustomWebhookDestinationForm/CustomWebhookDestinationForm.test.tsx
  web/src/components/forms/DataModelForm/DataModelForm.test.tsx
  web/src/components/forms/GithubDestinationForm/GithubDestinationForm.test.tsx
  web/src/components/forms/JiraDestinationForm/JiraDestinationForm.test.tsx
  web/src/components/forms/MicrosoftTeamsDestinationForm/MicrosoftTeamsDestinationForm.test.tsx
  web/src/components/forms/OpsgenieDestinationForm/OpsGenieDestinationForm.test.tsx
  web/src/components/forms/PagerdutyDestinationForm/PagerdutyDestinationForm.test.tsx
  web/src/components/forms/SlackDestinationForm/SlackDestinationForm.test.tsx
  web/src/components/forms/SnsDestinationForm/SnsDestinationForm.test.tsx
  web/src/components/forms/SqsDestinationForm/SqsDestinationForm.test.tsx
  web/src/components/modals/ProfileSettingsModal/ProfileSettingsModal.test.tsx
  web/src/components/utils/FormSessionRestoration/FormSessionRestoration.test.tsx
  web/src/helpers/__tests__/analytics.test.tsx
  web/src/helpers/__tests__/errors.test.tsx
  web/src/pages/CreateComplianceSource/CreateComplianceSource.test.tsx
  web/src/pages/CreateCustomLog/CreateCustomLog.test.tsx
  web/src/pages/CreateDataModel/CreateDataModel.test.tsx
  web/src/pages/CreateLogSource/CreateS3LogSource/CreateS3LogSource.test.tsx
  web/src/pages/CreateLogSource/CreateSqsLogSource/CreateSqsLogSource.test.tsx
  web/src/pages/EditComplianceSource/ΕditComplianceSource.test.tsx
  web/src/pages/EditDataModel/EditDataModel.test.tsx
  web/src/pages/EditS3LogSource/ΕditS3LogSource.test.tsx
  web/src/pages/EditSqsLogSource/ΕditSqsLogSource.test.tsx
  web/src/pages/ListDestinations/DestinationCards/__tests__/DestinationCard.test.tsx
  web/src/pages/RuleDetails/RuleDetails.test.tsx
Due: prettier --write, eslint

feat: showcase scheduled rules in enterprise
  web/src/pages/CreateDetection/CreateDetection.tsx
  web/src/pages/CreateDetection/DetectionSelectionCard/DetectionSelectionCard.tsx
Due: prettier --write, eslint

fix: c/p issues
  web/src/components/forms/RuleForm/RuleForm.tsx
  web/src/pages/EditRule/EditRule.test.tsx
  web/src/pages/EditRule/Skeleton/Skeleton.tsx
Due: prettier --write, eslint

fix: add error analytics on a failed policy creation
  web/src/helpers/analytics.ts
  web/src/pages/CreateDetection/CreatePolicy/CreatePolicy.tsx
Due: prettier --write, eslint

feat: add tests for policy & rule creation
  web/src/pages/CreateDetection/CreatePolicy/CreatePolicy.test.tsx
  web/src/pages/CreateDetection/CreatePolicy/CreatePolicy.tsx
  web/src/pages/CreateDetection/CreateRule/CreateRule.test.tsx
  web/src/pages/CreateDetection/CreateRule/CreateRule.tsx
Due: prettier --write, eslint

test: add tests for the detection creation page
  web/src/pages/CreateDetection/CreateDetection.test.tsx
  web/src/pages/CreateDetection/DetectionSelectionCard/DetectionSelectionCard.test.tsx
  web/src/pages/CreateDetection/DetectionSelectionCard/DetectionSelectionCard.tsx
  web/src/pages/CreateDetection/DetectionSelectionCard/__snapshots__/DetectionSelectionCard.test.tsx.snap
  web/src/pages/ListRules/ListRulesFilters/__snapshots__/ListRulesFilters.test.tsx.snap
Due: prettier --write, eslint

chore: cleanup
  web/src/pages/CreateDetection/CreateDetection.tsx
Due: prettier --write, eslint

mage gen fmt
  web/src/pages/CreateDetection/CreateDetection.test.tsx
  web/src/pages/CreateDetection/CreateDetection.tsx
  web/src/pages/CreateDetection/DetectionSelectionCard/DetectionSelectionCard.test.tsx
  web/src/pages/CreateDetection/DetectionSelectionCard/DetectionSelectionCard.tsx
  web/src/pages/CreateDetection/DetectionSelectionCard/index.tsx
  web/src/pages/CreateDetection/index.tsx
Due: prettier --write, eslint

Use MaximumBatchingWindowInSeconds for rules engine
  deployments/log_analysis.yml
Due: none

refactor: add helmet security headers
  deployments/Dockerfile
  package-lock.json
  package.json
  web/scripts/serve.js
Due: prettier --write, eslint

feat: add Data Models to the Bulk Uploader
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/components/wizards/BulkUploaderWizard/BulkUploaderWizard.test.tsx
  web/src/components/wizards/BulkUploaderWizard/SuccessfulUploadPanel/SuccessfulUploadPanel.tsx
  web/src/components/wizards/BulkUploaderWizard/UploadPanel/UploadPanel.tsx
  web/src/components/wizards/BulkUploaderWizard/UploadPanel/graphql/uploadDetections.generated.ts
  web/src/components/wizards/BulkUploaderWizard/UploadPanel/graphql/uploadDetections.graphql
Due: prettier --write, eslint

fix: correct icon
  web/src/components/wizards/BulkUploaderWizard/BulkUploaderWizard.test.tsx
  web/src/components/wizards/BulkUploaderWizard/SuccessfulUploadPanel/SuccessfulUploadPanel.tsx
Due: prettier --write, eslint

chore: bump pounce version
  package-lock.json
  package.json
Due: prettier --write

test: fix failed tests
  web/src/components/fields/DateRangeInput/DateRangeInput.test.tsx
  web/src/pages/ListAlerts/ListAlerts.test.tsx
Due: prettier --write, eslint

chore: bump pouncejs
  package-lock.json
  package.json
Due: prettier --write

fix integration tests
  api/lambda/analysis/models/api.go
  api/lambda/analysis/models/detections.go
  internal/core/analysis_api/handlers/dynamo.go
  internal/core/analysis_api/handlers/list_detections.go
  internal/core/analysis_api/main/integration_test.go
Due: none

remove unneeded validation
  api/lambda/analysis/models/detections.go
Due: none

elbv2 fixes
  internal/compliance/aws_event_processor/processor/elbv2.go
  internal/compliance/aws_event_processor/processor/process.go
  internal/compliance/snapshot_poller/pollers/aws/clients.go
Due: none

elbv2 fixes (#2470)
  internal/compliance/aws_event_processor/processor/elbv2.go
  internal/compliance/aws_event_processor/processor/process.go
  internal/compliance/snapshot_poller/pollers/aws/clients.go
Due: none

chore: rearrange list alert filters
  web/src/pages/ListAlerts/ListAlertFilters/DropdownFilters.tsx
Due: prettier --write, eslint

chore: rename policy fails to policy failures
  web/src/pages/ListAlerts/ListAlertFilters/DropdownFilters.tsx
  web/src/pages/ListAlerts/ListAlerts.test.tsx
Due: prettier --write, eslint

test: mocked debounce for FormSessionRestoration
  web/src/components/utils/FormSessionRestoration/FormSessionRestoration.test.tsx
Due: prettier --write, eslint

[FE] Add Data Models to Bulk Uploader (#2464)
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/components/wizards/BulkUploaderWizard/BulkUploaderWizard.test.tsx
  web/src/components/wizards/BulkUploaderWizard/SuccessfulUploadPanel/SuccessfulUploadPanel.tsx
  web/src/components/wizards/BulkUploaderWizard/UploadPanel/UploadPanel.tsx
  web/src/components/wizards/BulkUploaderWizard/UploadPanel/graphql/uploadDetections.generated.ts
  web/src/components/wizards/BulkUploaderWizard/UploadPanel/graphql/uploadDetections.graphql
Due: prettier --write, eslint

fix: make sure navigation opens in a separate tab
  web/src/components/Navigation/Navigation.tsx
Due: prettier --write, eslint

update dependencies
  requirements.txt
Due: none

fix: show dynamic alert data in details page
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/graphql/fragments/AlertDetailsFull.generated.ts
  web/src/graphql/fragments/AlertDetailsFull.graphql
  web/src/pages/AlertDetails/RuleAlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
Due: prettier --write, eslint

test: update snaps
  web/src/components/Navigation/__snapshots__/Navigation.test.tsx.snap
Due: none

test: add snapshot test
  web/src/pages/AlertDetails/RuleAlertDetails/AlertDetailsInfo/AlertDetailsInfo.test.tsx
  web/src/pages/AlertDetails/RuleAlertDetails/AlertDetailsInfo/__snapshots__/AlertDetailsInfo.test.tsx.snap
Due: prettier --write, eslint

[FE] Showcase dynamic alert field in details page (#2483)
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/graphql/fragments/AlertDetailsFull.generated.ts
  web/src/graphql/fragments/AlertDetailsFull.graphql
  web/src/pages/AlertDetails/RuleAlertDetails/AlertDetailsInfo/AlertDetailsInfo.test.tsx
  web/src/pages/AlertDetails/RuleAlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
  web/src/pages/AlertDetails/RuleAlertDetails/AlertDetailsInfo/__snapshots__/AlertDetailsInfo.test.tsx.snap
Due: prettier --write, eslint

fix: conflicts
  web/src/pages/AlertDetails/RuleAlertDetails/AlertDetailsInfo/AlertDetailsInfo.test.tsx
Due: prettier --write, eslint

fix: update snaps
  web/src/pages/AlertDetails/RuleAlertDetails/AlertDetailsInfo/__snapshots__/AlertDetailsInfo.test.tsx.snap
Due: none

fix: deployment (#2485)
  deployments/appsync.yml
Due: none

fix schema.json for AJV
  internal/log_analysis/log_processor/logschema/bindata.go
  internal/log_analysis/log_processor/logschema/schema.json
  web/public/schemas/customlogs_v0_schema.json
Due: prettier --write
