Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Feedback changes for SQS onboarding
  web/src/assets/gsuite-minimal-logo.svg
  web/src/components/wizards/SqsSourceWizard/SqsSourceConfigurationPanel/SqsSourceConfigurationPanel.tsx
  web/src/components/wizards/SqsSourceWizard/SqsSourceWizard.tsx
  web/src/pages/EditSqsLogSource/EditSqsLogSource.tsx
  web/src/pages/EditSqsLogSource/ValidationPanel/ValidationPanel.tsx
  web/src/pages/EditSqsLogSource/ValidationPanel/index.tsx
  web/src/pages/LogSourceOnboarding/LogSourceOnboarding.tsx
Due: prettier --write, eslint

Fixed licensing
  web/src/components/wizards/SqsSourceWizard/SqsSourceConfigurationPanel/SqsSourceConfigurationPanel.tsx
  web/src/components/wizards/SqsSourceWizard/SqsSourceConfigurationPanel/index.tsx
  web/src/components/wizards/SqsSourceWizard/SqsSourceWizard.tsx
  web/src/components/wizards/SqsSourceWizard/SuccessPanel/SuccessPanel.tsx
  web/src/components/wizards/SqsSourceWizard/SuccessPanel/index.tsx
  web/src/components/wizards/SqsSourceWizard/index.tsx
  web/src/pages/CreateLogSource/CreateSqsLogSource/CreateSqsLogSource.tsx
  web/src/pages/CreateLogSource/CreateSqsLogSource/index.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceType/LogSourceType.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceType/index.tsx
  web/src/pages/ListLogSources/LogSourceTable/S3LogSourceRow/S3LogSourceRow.tsx
  web/src/pages/ListLogSources/LogSourceTable/S3LogSourceRow/index.tsx
  web/src/pages/ListLogSources/LogSourceTable/SqsLogSourceRow/SqsLogSourceRow.tsx
  web/src/pages/ListLogSources/LogSourceTable/SqsLogSourceRow/index.tsx
Due: prettier --write, eslint

feat: introduce the `NumberInput` component
  web/src/components/fields/NumberInput/NumberInput.tsx
  web/src/components/fields/NumberInput/index.tsx
  web/src/helpers/utils.tsx
Due: prettier --write, eslint

chore: bump new pounce version
  package-lock.json
  package.json
Due: prettier --write

feat: add threshold for rule submission and display
  web/src/components/buttons/SubmitButton/SubmitButton.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormCoreSection/BaseRuleFormCoreSection.tsx
  web/src/components/forms/RuleForm/RuleForm.tsx
  web/src/pages/CreateRule/CreateRule.tsx
  web/src/pages/EditRule/EditRule.tsx
  web/src/pages/RuleDetails/RuleDetailsInfo/RuleDetailsInfo.tsx
Due: prettier --write, eslint

feat: add threshold for rule schema
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/graphql/fragments/RuleBasic.generated.ts
  web/src/graphql/fragments/RuleBasic.graphql
  web/src/graphql/fragments/RuleFull.generated.ts
  web/src/graphql/fragments/RuleFull.graphql
  web/src/pages/EditRule/graphql/ruleDetails.generated.ts
  web/src/pages/EditRule/graphql/ruleDetails.graphql
Due: prettier --write, eslint

Added check for specific cognito error message
  web/src/components/forms/SigninForm/SigninForm.tsx
Due: prettier --write, eslint

Small regex and alphabetization fixes
  deployments/appsync.yml
  deployments/bootstrap.yml
  deployments/core.yml
  deployments/master.yml
  deployments/web_server.yml
Due: none

Fix parameter ordering in mage
  tools/mage/deploy.go
Due: none

Bump version in docs
  docs/gitbook/quick-start.md
Due: prettier --write

Decouple awsglue from other modules defining mappings
  internal/log_analysis/awsglue/schema.go
  internal/log_analysis/log_processor/pantherlog/null/null_benchmark_test.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
  internal/log_analysis/log_processor/parsers/parsers.go
  internal/log_analysis/log_processor/parsers/timestamp/timestamp.go
Due: none

Separate any string set from parsers module and use slices instead of maps.
  internal/log_analysis/awsglue/quirks.go
  internal/log_analysis/awsglue/schema.go
  internal/log_analysis/log_processor/parsers/anystring/anystring.go
  internal/log_analysis/log_processor/parsers/anystring/anystring_test.go
  internal/log_analysis/log_processor/parsers/awslogs/extractor_test.go
  internal/log_analysis/log_processor/parsers/awslogs/pantherlog.go
  internal/log_analysis/log_processor/parsers/awslogs/pantherlog_test.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
  internal/log_analysis/log_processor/parsers/pantherlog_test.go
Due: none

Revert anystring to have a separate PR
  internal/log_analysis/awsglue/schema.go
  internal/log_analysis/log_processor/parsers/anystring/anystring.go
  internal/log_analysis/log_processor/parsers/anystring/anystring_test.go
  internal/log_analysis/log_processor/parsers/awslogs/extractor_test.go
  internal/log_analysis/log_processor/parsers/awslogs/pantherlog.go
  internal/log_analysis/log_processor/parsers/awslogs/pantherlog_test.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
  internal/log_analysis/log_processor/parsers/pantherlog_test.go
Due: none

Check glue schemas on logtype registration
  internal/log_analysis/awsglue/quirks.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/log_processor/logtypes/registry.go
  internal/log_analysis/log_processor/logtypes/registry_test.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
  internal/log_analysis/log_processor/parsers/timestamp/timestamp.go
Due: none

Use username instead of sub
  deployments/appsync.yml
Due: none

Updste snowflake docs for UI
  docs/gitbook/enterprise/snowflake.md
Due: prettier --write

Fix image links
  docs/gitbook/enterprise/snowflake.md
Due: prettier --write

Added Okta log onboarding docs
  docs/gitbook/SUMMARY.md
  docs/gitbook/log-analysis/log-processing/log-setup/box.md
  docs/gitbook/log-analysis/log-processing/log-setup/okta.md
Due: prettier --write

Added OneLogin logs
  docs/gitbook/SUMMARY.md
  docs/gitbook/log-analysis/log-processing/log-setup/onelogin.md
Due: prettier --write

Add instructions for kms key
  docs/gitbook/enterprise/snowflake.md
Due: prettier --write

Minor edits
  docs/gitbook/enterprise/snowflake.md
Due: prettier --write

Fix mage master:publish
  tools/mage/deploy.go
  tools/mage/master_namespace.go
Due: none

Missing a slash in the quick-start docs
  docs/gitbook/quick-start.md
Due: prettier --write

WIP
  deployments/panther_config.yml
  internal/compliance/snapshot_poller/main/handler.go
  internal/compliance/snapshot_poller/pollers/aws/clients.go
  internal/log_analysis/log_processor/common/common.go
  pkg/awsretry/retry_all.go
Due: none

updated snowflake documentation
  docs/gitbook/enterprise/snowflake.md
Due: prettier --write

Retrying connection reset errors
  internal/compliance/snapshot_poller/pollers/aws/clients.go
  internal/log_analysis/log_processor/common/common.go
  pkg/awsretry/connection_retryer.go
  pkg/awsretry/connection_retryer_test.go
Due: none

removing unintended change
  deployments/panther_config.yml
Due: none

Added InformationPanel
  web/src/components/wizards/SqsSourceWizard/InformationPanel/InformationPanel.tsx
  web/src/components/wizards/SqsSourceWizard/InformationPanel/index.tsx
  web/src/components/wizards/SqsSourceWizard/SqsSourceWizard.tsx
Due: prettier --write, eslint

Refactored according to comments
  pkg/awsretry/connection_retryer.go
Due: none

Fixed condition
  web/src/components/wizards/SqsSourceWizard/SqsSourceWizard.tsx
Due: prettier --write, eslint

Update InformationPanel
  web/src/components/wizards/SqsSourceWizard/InformationPanel/InformationPanel.tsx
Due: prettier --write, eslint

Added explanation helper texts
  web/src/components/wizards/SqsSourceWizard/SqsSourceConfigurationPanel/SqsSourceConfigurationPanel.tsx
Due: prettier --write, eslint

Dynamic example from env variables
  web/src/components/wizards/SqsSourceWizard/SqsSourceConfigurationPanel/SqsSourceConfigurationPanel.tsx
  web/src/components/wizards/SqsSourceWizard/SqsSourceWizard.tsx
Due: prettier --write, eslint

Flatten mage build:tools output
  tools/mage/build_namespace.go
Due: none

Early work on documentation link parsing
  tools/mage/test_namespace.go
Due: none

Fix broken links identitied by regex, generate logs README
  docs/gitbook/.gitbook/assets/operations/hosted-zone-alias.png
  docs/gitbook/README.md
  docs/gitbook/analysis/panther-analysis-tool.md
  docs/gitbook/cloud-security/policies/README.md
  docs/gitbook/log-analysis/README.md
  docs/gitbook/log-analysis/log-processing/supported-logs/AWS.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Apache.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Fluentd.md
  docs/gitbook/log-analysis/log-processing/supported-logs/GitLab.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Juniper.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Lacework.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Nginx.md
  docs/gitbook/log-analysis/log-processing/supported-logs/OSSEC.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Osquery.md
  docs/gitbook/log-analysis/log-processing/supported-logs/README.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Suricata.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Syslog.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Zeek.md
  docs/gitbook/log-analysis/rules/README.md
  docs/gitbook/operations/configuring-custom-domains.md
  docs/gitbook/operations/runbooks.md
  docs/gitbook/quick-start.md
  docs/gitbook/tutorials/osquery-log-analysis.md
  docs/gitbook/tutorials/s3-monitoring-fundamentals.md
  tools/mage/doc.go
  tools/mage/test_namespace.go
Due: prettier --write

Add link to logs index from summary
  docs/gitbook/SUMMARY.md
  docs/gitbook/log-analysis/log-processing/supported-logs/AWS.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Apache.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Fluentd.md
  docs/gitbook/log-analysis/log-processing/supported-logs/GitLab.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Juniper.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Lacework.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Nginx.md
  docs/gitbook/log-analysis/log-processing/supported-logs/OSSEC.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Osquery.md
  docs/gitbook/log-analysis/log-processing/supported-logs/README.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Suricata.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Syslog.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Zeek.md
  docs/gitbook/log-analysis/rules/README.md
  docs/gitbook/tutorials/osquery-log-analysis.md
  tools/mage/fmt_doc.go
  tools/mage/test_namespace.go
Due: prettier --write

add reminder about numbers
  tools/mage/doc.go
Due: none

fix: update fetch depth
  .github/workflows/main.yml
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
