Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Temporal removing Alerts table
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
Due: prettier --write, eslint

addressed pr feedback
  api/lambda/metrics/models/api.go
  internal/core/metrics_api/api/alert_metrics.go
  internal/core/metrics_api/api/get_metrics.go
  internal/core/metrics_api/api/get_metrics_test.go
  internal/core/metrics_api/api/log_processor_metrics.go
  internal/core/metrics_api/main/integration_test.go
Due: none

fix: ui changes
  api/graphql/schema.graphql
  deployments/appsync.yml
  package.json
  web/__generated__/schema.tsx
  web/src/components/AlertStatusBadge/AlertStatusBadge.tsx
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
  web/src/graphql/fragments/AlertDetailsFull.generated.ts
  web/src/graphql/fragments/AlertSummaryFull.generated.ts
Due: prettier --write, eslint

final pr feedback changes
  internal/core/metrics_api/api/alert_metrics.go
  internal/core/metrics_api/api/get_metrics.go
  internal/core/metrics_api/api/get_metrics_test.go
  internal/core/metrics_api/api/log_processor_metrics.go
  internal/core/metrics_api/main/integration_test.go
  internal/log_analysis/log_processor/common/metrics.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/processor/processor_test.go
Due: none

revert: rollback apollo client to beta
  package-lock.json
  package.json
Due: prettier --write

fix: update apollo
  package-lock.json
  package.json
  web/src/components/AlertStatusBadge/AlertStatusBadge.tsx
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
Due: prettier --write, eslint

fix: list alerts query
  package.json
  web/src/apollo/typePolicies.ts
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
Due: prettier --write, eslint

build: create etst workflow
  .github/workflows/main.yml
  build/actions/pr_sync/action.yml
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
  build/actions/pr_sync/package-lock.json
  build/actions/pr_sync/package.json
Due: prettier --write, eslint

fix: typo on output printing
  .github/workflows/main.yml
Due: none

test: disable master branch filtering
  .github/workflows/main.yml
Due: none

test: name
  README.md
Due: prettier --write

feat: add basic scaffolding
  .github/workflows/main.yml
  build/actions/pr_sync/action.yml
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

fix: token inclusion
  .github/workflows/main.yml
Due: none

fix: add `token` input to action
  build/actions/pr_sync/action.yml
Due: none

Update README.md
  README.md
Due: prettier --write

build: only at PR closed
  .github/workflows/main.yml
Due: none

fix: add logs
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

fix: change console.log to core.debug
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

add: core.debug
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

build: build action
  build/actions/pr_sync/dist/index.js
Due: prettier --write, eslint

fix: replace octokit() with octokit.request
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

feat: attempt to create PR branch
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

fix: remove commented line
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

fix: remove commented line (#14)
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

feat: add author as reviewer
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

Aggelos gh actions 3 (#16)
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

build: print entire error
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

Aggelos gh actions (#18)
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

builld: enable action debug
  .github/workflows/main.yml
Due: none

Aggelos gh actions (#20)
  .github/workflows/main.yml
Due: none

build: add ENV as secret
  .github/workflows/main.yml
Due: none

Aggelos gh actions (#22)
  .github/workflows/main.yml
  build/actions/pr_sync/dist/index.js
Due: prettier --write, eslint

build: add explicit debug code
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

Aggelos gh actions (#24)
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

Aggelos gh actions (#25)
  build/actions/pr_sync/dist/index.js
Due: prettier --write, eslint

whatever (#27)
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

Aggelos gh actions 3nvi (#28)
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

Aggelos gh actions 3nvi (#30)
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

Attempt review (#32)
  .github/workflows/main.yml
  build/actions/pr_sync/action.yml
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint
