Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Update gateway client variable names, fix CI
  .circleci/config.yml
  api/gateway/analysis/client/panther_analysis_client.go
  api/gateway/analysis/models/test_resource_type.go
  api/gateway/compliance/client/panther_compliance_client.go
  api/gateway/remediation/client/panther_remediation_client.go
  api/gateway/resources/client/panther_resources_client.go
  internal/compliance/compliance_api/main/integration_test.go
  internal/compliance/resource_processor/processor/clients.go
  internal/compliance/resources_api/handlers/clients.go
  internal/compliance/resources_api/main/integration_test.go
  internal/core/analysis_api/handlers/clients.go
  internal/core/analysis_api/main/integration_test.go
  internal/log_analysis/alert_forwarder/forwarder/rule_cache.go
  internal/log_analysis/alert_forwarder/main/config.go
Due: none

fix: removed test environment vars, cleaned up cache
  internal/core/alert_delivery/api/api.go
  internal/core/alert_delivery/api/api_test.go
  internal/core/alert_delivery/api/cache.go
  internal/core/alert_delivery/api/cache_test.go
  internal/core/logtypesapi/client/lambdaclient_gen.go
Due: none

ci: mage fmt doc
  internal/core/logtypesapi/client/lambdaclient_gen.go
Due: none

fix: output tests with expired cache
  internal/core/alert_delivery/api/outputs_test.go
  internal/core/alert_delivery/api/send_test.go
  internal/core/logtypesapi/client/lambdaclient_gen.go
Due: none

fix: update other tests
  internal/core/alert_delivery/api/deliver_alert_test.go
  internal/core/alert_delivery/api/dispatch_alerts_test.go
  internal/core/alert_delivery/api/outputs_test.go
Due: none

Experiment with more advanced CI file
  .circleci/config.yml
Due: none

Add missing executor
  .circleci/config.yml
Due: none

more CI config fixes
  .circleci/config.yml
Due: none

Try setting working directory
  .circleci/config.yml
Due: none

fix: failed test goes back to edit mode.
  web/src/components/wizards/common/DestinationTestPanel/DestinationTestPanel.tsx
Due: prettier --write, eslint

Store compiled mage binary in workspace
  .circleci/config.yml
  tools/mage/build/api.go
Due: none

added eventsLatency output
  api/lambda/metrics/models/api.go
  internal/core/metrics_api/api/log_processor_metrics.go
Due: none

minor tweaks
  internal/compliance/snapshot_poller/pollers/aws/ec2_ami.go
Due: none

simplified paging
  internal/compliance/snapshot_poller/pollers/aws/acm_certificate.go
  internal/compliance/snapshot_poller/pollers/aws/cloudformation_stack.go
  internal/compliance/snapshot_poller/pollers/aws/cloudwatchlogs_log_group.go
  internal/compliance/snapshot_poller/pollers/aws/dynamodb_table.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_instance.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_network_acl.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_security_group.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_volume.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_vpc.go
  internal/compliance/snapshot_poller/pollers/aws/ecs_cluster.go
  internal/compliance/snapshot_poller/pollers/aws/elbv2_application_load_balancer.go
  internal/compliance/snapshot_poller/pollers/aws/iam_group.go
  internal/compliance/snapshot_poller/pollers/aws/iam_policy.go
  internal/compliance/snapshot_poller/pollers/aws/iam_role.go
  internal/compliance/snapshot_poller/pollers/aws/iam_user.go
  internal/compliance/snapshot_poller/pollers/aws/kms_key.go
  internal/compliance/snapshot_poller/pollers/aws/lambda_function.go
  internal/compliance/snapshot_poller/pollers/aws/rds_instance.go
  internal/compliance/snapshot_poller/pollers/aws/redshift_cluster.go
Due: none

feat: revamp original s3 onboarding screen
  web/src/assets/s3-minimal-logo.svg
  web/src/components/wizards/S3LogSourceWizard/S3LogSourceWizard.tsx
  web/src/components/wizards/S3LogSourceWizard/S3SourceConfigurationPanel/S3SourceConfigurationPanel.tsx
Due: prettier --write, eslint

feat: update S3 IAM role deployment screens
  web/src/components/wizards/ComplianceSourceWizard/ComplianceSourceWizard.tsx
  web/src/components/wizards/ComplianceSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/components/wizards/S3LogSourceWizard/S3LogSourceWizard.tsx
  web/src/components/wizards/S3LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
Due: prettier --write, eslint

Updated schema
  api/graphql/schema.graphql
  deployments/appsync.yml
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
Due: prettier --write, eslint

feat: add proper validation step in S3 source wizard
  web/src/components/wizards/S3LogSourceWizard/S3LogSourceWizard.tsx
  web/src/components/wizards/S3LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/components/wizards/S3LogSourceWizard/SuccessPanel/SuccessPanel.tsx
  web/src/components/wizards/S3LogSourceWizard/ValidationPanel/ValidationPanel.tsx
  web/src/components/wizards/S3LogSourceWizard/ValidationPanel/index.tsx
  web/src/pages/CreateLogSource/CreateS3LogSource/CreateS3LogSource.tsx
  web/src/pages/EditS3LogSource/EditS3LogSource.tsx
Due: prettier --write, eslint

chore: remove icon from inline button & add missing docs link
  web/src/components/wizards/S3LogSourceWizard/S3SourceConfigurationPanel/S3SourceConfigurationPanel.tsx
  web/src/components/wizards/S3LogSourceWizard/ValidationPanel/ValidationPanel.tsx
Due: prettier --write, eslint

chore: change S3 wizard step names
  web/src/components/wizards/S3LogSourceWizard/S3LogSourceWizard.tsx
Due: prettier --write, eslint

Added FloatSeries
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
Due: prettier --write, eslint

Fix #1460
  internal/log_analysis/log_processor/parsers/gitlablogs/api_test.go
  internal/log_analysis/log_processor/parsers/gitlablogs/rails.go
Due: none

Fix issues with redirects in production logs
  internal/log_analysis/log_processor/parsers/gitlablogs/api_test.go
  internal/log_analysis/log_processor/parsers/gitlablogs/rails.go
  internal/log_analysis/log_processor/parsers/gitlablogs/rails_test.go
Due: none

mage fmt
  internal/log_analysis/log_processor/parsers/gitlablogs/api_test.go
Due: none

test: add tests for creating S3 log source
  web/src/components/wizards/S3LogSourceWizard/S3SourceConfigurationPanel/S3SourceConfigurationPanel.tsx
  web/src/components/wizards/S3LogSourceWizard/index.tsx
  web/src/pages/CreateLogSource/CreateS3LogSource/CreateS3LogSource.test.tsx
Due: prettier --write, eslint

fix: remove box dependency
  internal/core/alert_delivery/api/api_test.go
Due: none

Fix permissions in apigen
  api/lambda/logtypes/models_gen.go
  internal/core/logtypesapi/lambdaclient_gen.go
  pkg/x/apigen/apigen.go
Due: none

added http listener to redirect to https
  deployments/web_server.yml
Due: none

testing
  internal/compliance/snapshot_poller/pollers/aws/acm_certificate.go
  internal/compliance/snapshot_poller/pollers/aws/acm_certificate_test.go
  internal/compliance/snapshot_poller/pollers/aws/awstest/acm.go
  internal/compliance/snapshot_poller/pollers/aws/cloudformation_stack_test.go
Due: none

Experiment with workspace for installed libraries
  .circleci/config.yml
  internal/log_analysis/message_forwarder/config/config.go
  internal/log_analysis/message_forwarder/forwarder/forwarder_test.go
  tools/mage/test/ci.go
  tools/mage/test/go.go
Due: none

Fix goimports path
  .circleci/config.yml
Due: none

rename to be more explicit
  deployments/web_server.yml
Due: none

paging unit testing
  internal/compliance/snapshot_poller/pollers/aws/acm_certificate.go
  internal/compliance/snapshot_poller/pollers/aws/acm_certificate_test.go
  internal/compliance/snapshot_poller/pollers/aws/awstest/acm.go
Due: none

ci: mage fmt doc
  internal/compliance/snapshot_poller/pollers/aws/acm_certificate_test.go
Due: none

Update CI image
  .circleci/config.yml
  build/images/README.md
  build/images/ci/Dockerfile
  build/images/deployment/Dockerfile
Due: prettier --write

Add GCC back to CI img
  .circleci/config.yml
  build/images/ci/Dockerfile
Due: none

Debugging - why is Python broken now?
  .circleci/config.yml
Due: none

Add python venv to ci image
  .circleci/config.yml
  build/images/ci/Dockerfile
Due: none

add c headers to ci img
  .circleci/config.yml
  build/images/ci/Dockerfile
Due: none

Fix nil ptr in filterByTitleContains()
  internal/log_analysis/alerts_api/table/list.go
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
