Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Updated unit tests
  internal/core/alert_delivery/outputs/jira_test.go
Due: none

rename params & update docs
  deployments/frontend.yml
  deployments/panther_config.yml
  docs/gitbook/cost.md
  tools/mage/config.go
  tools/mage/deploy.go
Due: prettier --write

rename variable
  tools/mage/deploy.go
Due: none

add comma
  docs/gitbook/cost.md
Due: prettier --write

fix minor bug in casing
  deployments/frontend.yml
Due: none

replace !Sub with !Ref
  deployments/web/server.yml
Due: none

Addressed PR feedback
  internal/core/alert_delivery/outputs/jira.go
Due: none

Use zap colored logger for clean and build
  tools/mage/build_namespace.go
  tools/mage/clean.go
  tools/mage/deploy.go
  tools/mage/logger.go
  tools/mage/test_namespace.go
  tools/mage/util.go
Due: none

Use filepath consistently
  tools/mage/build_namespace.go
  tools/mage/cfngen.go
  tools/mage/deploy.go
  tools/mage/setup.go
  tools/mage/swagger.go
  tools/mage/test_namespace.go
  tools/mage/util.go
Due: none

Prettier for Yml
  .fossa.yml
  .golangci.yml
  api/gateway/analysis/api.yml
  api/gateway/compliance/api.yml
  api/gateway/resources/api.yml
  deployments/auxiliary/cloudformation/panther-cloudwatch-events.yml
  deployments/auxiliary/cloudformation/panther-compliance-iam.yml
  deployments/auxiliary/cloudformation/panther-log-processing-iam.yml
  deployments/auxiliary/cloudformation/panther-log-processing-infra.yml
  deployments/auxiliary/cloudformation/panther-stackset-iam-admin-role.yml
  deployments/compliance/alert_processing.yml
  deployments/compliance/aws_event_processor.yml
  deployments/compliance/compliance_api.yml
  deployments/compliance/remediation.yml
  deployments/compliance/resources_api.yml
  deployments/compliance/snapshot.yml
  deployments/core/admin_api.yml
  deployments/core/analysis_api.yml
  deployments/core/buckets.yml
  deployments/core/cognito.yml
  deployments/core/outputs.yml
  deployments/log_analysis/alerts.yml
  deployments/log_analysis/log_processor.yml
  deployments/log_analysis/rules_engine.yml
  deployments/web/alb.yml
  internal/core/analysis_api/main/test_policies/always_true.yml
  internal/core/analysis_api/main/test_policies/aws_cloudtrail_log_validation_enabled.yml
Due: none

Prettier for MD
  .github/ISSUE_TEMPLATE/feature_request.md
  api/README.md
  docs/AUTHORS.md
  docs/CODE_OF_CONDUCT.md
  internal/compliance/compliance_api/README.md
  internal/core/outputs_api/README.md
  pkg/awsbatch/README.md
  pkg/gatewayapi/README.md
  pkg/lambdalogger/README.md
  pkg/testutils/README.md
Due: prettier --write

Added post processing to cloudformation package output
  tools/mage/deploy.go
Due: none

Updated Xray permission
  deployments/compliance/alert_processing.yml
  deployments/compliance/aws_event_processor.yml
  deployments/compliance/compliance_api.yml
  deployments/compliance/remediation.yml
  deployments/compliance/resources_api.yml
  deployments/compliance/snapshot.yml
  deployments/core/admin_api.yml
  deployments/core/analysis_api.yml
  deployments/core/outputs.yml
  deployments/log_analysis/alerts.yml
  deployments/log_analysis/rules_engine.yml
  tools/mage/deploy.go
Due: none

Comment corrections
  tools/mage/deploy.go
Due: none

Addressed PR feedback
  .github/ISSUE_TEMPLATE/feature_request.md
  docs/AUTHORS.md
  tools/mage/deploy.go
  tools/mage/deploy_test.go
Due: prettier --write

re-added X-ray permission change
  deployments/compliance/alert_processing.yml
  deployments/compliance/aws_event_processor.yml
  deployments/compliance/compliance_api.yml
  deployments/compliance/remediation.yml
  deployments/compliance/resources_api.yml
  deployments/compliance/snapshot.yml
  deployments/core/admin_api.yml
  deployments/core/analysis_api.yml
  deployments/core/outputs.yml
  deployments/log_analysis/alerts.yml
  deployments/log_analysis/rules_engine.yml
Due: none

[git] swap secret team for distinct usernames
  .github/CODEOWNERS
Due: none

Respond to PR
  pkg/awsathena/query.go
  pkg/awsglue/glue.go
  tools/athenaviews/athenaviews.go
  tools/athenaviews/athenaviews_test.go
  tools/cfngen/gluecf/gluecf.go
Due: none

expect not to format
  internal/core/analysis_api/main/test_policies/always_true.json
Due: prettier --write

expect to format
  web/dummy.json
Due: prettier --write

expect to format
  web/src/dummy.json
Due: prettier --write

remove dummy
  web/src/dummy.json
Due: prettier --write

revert changes to json
  internal/core/analysis_api/main/test_policies/always_true.json
Due: prettier --write

shouldn't format
  .fossa.yml
Due: none

should format
  .fossa.yml
Due: none

should match
  .fossa.yml
Due: none

should change
  .fossa.yml
Due: none

shouldmatch
  .fossa.yml
Due: none

should
  .fossa.yml
Due: none

revert changes in fossa comment
  .fossa.yml
Due: none

reconfigure lintstaged and move TSC there
  .gitbook.yml
  .golangci.yml
  .huskyrc
  .lintstagedrc
  lint-staged.config.js
Due: prettier --write, eslint

change npm run lint to run on root dir files as well
  package.json
Due: prettier --write

should fail
  web/src/constants.ts
Due: prettier --write, eslint

shoould fail
  web/src/constants.ts
Due: prettier --write, eslint

emp
  web/src/constants.ts
Due: prettier --write, eslint

revert changes
  web/src/constants.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
