Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Re-arrange Destinations
  web/src/components/sidesheets/AddDestinationSidesheet/graphql/addDestination.generated.ts
  web/src/components/sidesheets/AddDestinationSidesheet/graphql/addDestination.graphql
  web/src/components/sidesheets/UpdateDestinationSidesheet/graphql/updateDestination.generated.ts
  web/src/components/sidesheets/UpdateDestinationSidesheet/graphql/updateDestination.graphql
  web/src/graphql/fragments/DestinationFull.generated.ts
  web/src/graphql/fragments/DestinationFull.graphql
  web/src/pages/Destinations/graphql/listDestinationsAndDefaults.generated.ts
  web/src/pages/Destinations/graphql/listDestinationsAndDefaults.graphql
Due: prettier --write, eslint

Re-arrange GeneralSettings
  web/src/graphql/fragments/GeneralSettingsFragment.graphql
  web/src/graphql/fragments/GeneralSettingsFull.generated.ts
  web/src/graphql/fragments/GeneralSettingsFull.graphql
  web/src/pages/GeneralSettings/graphql/getGeneralSettings.generated.ts
  web/src/pages/GeneralSettings/graphql/getGeneralSettings.graphql
  web/src/pages/GeneralSettings/graphql/updateGeneralSettings.generated.ts
  web/src/pages/GeneralSettings/graphql/updateGeneralSettings.graphql
Due: prettier --write, eslint

Re-arrange AlertDetails
  web/src/graphql/fragments/AlertDetailsFull.generated.ts
  web/src/graphql/fragments/AlertDetailsFull.graphql
  web/src/pages/AlertDetails/graphql/alertDetails.generated.ts
  web/src/pages/AlertDetails/graphql/alertDetails.graphql
Due: prettier --write, eslint

Re-arrange Policies
  web/src/graphql/fragments/PolicyDetailsExtra.generated.ts
  web/src/graphql/fragments/PolicyDetailsExtra.graphql
  web/src/graphql/fragments/PolicyDetailsMain.generated.ts
  web/src/graphql/fragments/PolicyDetailsMain.graphql
  web/src/graphql/fragments/PolicyTeaser.generated.ts
  web/src/graphql/fragments/PolicyTeaser.graphql
  web/src/pages/CreatePolicy/graphql/createPolicy.generated.ts
  web/src/pages/CreatePolicy/graphql/createPolicy.graphql
  web/src/pages/EditPolicy/graphql/policyDetails.generated.ts
  web/src/pages/EditPolicy/graphql/policyDetails.graphql
  web/src/pages/ListPolicies/graphql/listPolicies.generated.ts
  web/src/pages/ListPolicies/graphql/listPolicies.graphql
  web/src/pages/PolicyDetails/graphql/policyDetails.generated.ts
  web/src/pages/PolicyDetails/graphql/policyDetails.graphql
Due: prettier --write, eslint

Add one more integration test for sql failure for good measure
  pkg/awsathena/integration_test.go
Due: none

Re-added license header
  web/__generated__/schema.tsx
Due: prettier --write, eslint

Added Suricata anomaly parser
  internal/log_analysis/log_processor/parsers/suricatalogs/anomaly.go
  internal/log_analysis/log_processor/parsers/suricatalogs/anomaly_test.go
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
  internal/log_analysis/log_processor/parsers/timestamp/timestamp.go
  internal/log_analysis/log_processor/registry/registry.go
Due: none

Added logs
  docs/gitbook/log-analysis/log-processing/supported-logs/Suricata.md
Due: prettier --write

Fixed cloudtrail tests
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_test.go
Due: none

Converting int to *int
  internal/log_analysis/log_processor/parsers/suricatalogs/anomaly.go
Due: none

Fixed glue mapping
  tools/cfngen/gluecf/gluecf.go
Due: none

Fixed mapping issues
  docs/gitbook/log-analysis/log-processing/supported-logs/Suricata.md
  internal/log_analysis/log_processor/parsers/suricatalogs/anomaly.go
Due: prettier --write

add endless pagination on Log query results
  api/graphql/schema.graphql
  deployments/appsync.yml
  web/__generated__/schema.tsx
  web/src/hooks/useInfiniteScroll.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
  web/src/pages/SQLShell/Results/Results.tsx
  web/src/pages/SQLShell/Results/ResultsTable.tsx
  web/src/pages/SQLShell/Results/graphql/getLogQueryResults.generated.ts
  web/src/pages/SQLShell/Results/graphql/getLogQueryResults.graphql
  web/src/pages/SQLShell/Results/index.tsx
  web/src/pages/SQLShell/ResultsTable/index.tsx
  web/src/pages/SQLShell/SQLShell.tsx
Due: prettier --write, eslint

Converting port to uint16
  docs/gitbook/log-analysis/log-processing/supported-logs/Suricata.md
  internal/log_analysis/log_processor/parsers/suricatalogs/anomaly.go
  internal/log_analysis/log_processor/parsers/suricatalogs/anomaly_test.go
Due: prettier --write

Add title in Alerts as required
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/pages/AlertDetails/graphql/alertDetails.generated.ts
  web/src/pages/AlertDetails/graphql/alertDetails.graphql
  web/src/pages/ListAlerts/graphql/listAlerts.generated.ts
  web/src/pages/ListAlerts/graphql/listAlerts.graphql
Due: prettier --write, eslint

add initial support for "cancelQuery"
  api/graphql/schema.graphql
  deployments/appsync.yml
  web/__generated__/schema.tsx
  web/src/pages/SQLShell/SQLEditor/SQLEditor.tsx
  web/src/pages/SQLShell/SQLEditor/graphql/cancelLogQuery.generated.ts
  web/src/pages/SQLShell/SQLEditor/graphql/cancelLogQuery.graphql
Due: prettier --write, eslint

refactored useStates into a reducer
  web/src/pages/SQLShell/Browser/Browser.tsx
  web/src/pages/SQLShell/Browser/ColumnList/ColumnList.tsx
  web/src/pages/SQLShell/Browser/DatabaseSelector/DatabaseSelector.tsx
  web/src/pages/SQLShell/Browser/Search/Search.tsx
  web/src/pages/SQLShell/Browser/TableList/TableList.tsx
  web/src/pages/SQLShell/Results/Results.tsx
  web/src/pages/SQLShell/SQLEditor/SQLEditor.tsx
  web/src/pages/SQLShell/SQLShell.tsx
  web/src/pages/SQLShell/SQLShellContext.tsx
Due: prettier --write, eslint

Removed dedupString from alertSummary
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
Due: prettier --write, eslint

move queryId to state
  web/src/pages/SQLShell/Results/Results.tsx
  web/src/pages/SQLShell/SQLEditor/SQLEditor.tsx
  web/src/pages/SQLShell/SQLShellContext.tsx
Due: prettier --write, eslint

Checkpoint work
  internal/log_analysis/datacatalog_updater/compaction/compaction.go
  internal/log_analysis/datacatalog_updater/compaction/compaction_test.go
  internal/log_analysis/datacatalog_updater/main/lambda.go
  internal/log_analysis/datacatalog_updater/main/lambda_test.go
  internal/log_analysis/datacatalog_updater/session/session.go
Due: none

Remove 386 arch from build:tools
  tools/mage/build_namespace.go
Due: none

Update comments in the athena_api
  api/lambda/database/models/api.go
  internal/core/database_api/athena/testutils/testutils.go
Due: none

Tidy appsync subscription/norification code
  api/lambda/database/models/api.go
  deployments/appsync.yml
  internal/core/database_api/athena/driver/api/appsync.go
  internal/core/database_api/athena/driver/api/athena.go
  internal/core/database_api/athena/driver/api/invoke.go
  internal/core/database_api/athena/driver/api/steps.go
Due: none

Fix typo in comment
  api/lambda/database/models/api.go
Due: none

Shorten default CloudWatch log retention to be frugal
  deployments/panther_config.yml
Due: none

Checkpoint work
  internal/log_analysis/datacatalog_updater/main/lambda.go
  internal/log_analysis/datacatalog_updater/process/compaction.go
  internal/log_analysis/datacatalog_updater/process/compaction_test.go
  internal/log_analysis/datacatalog_updater/process/integration_test.go
  internal/log_analysis/datacatalog_updater/process/process.go
  internal/log_analysis/datacatalog_updater/process/process_test.go
  internal/log_analysis/datacatalog_updater/process/session.go
Due: none

added integration tests
  deployments/core.yml
  internal/compliance/policy_engine/tests/integration.py
  internal/core/analysis_api/handlers/delete_global.go
  internal/core/analysis_api/main/integration_test.go
  internal/core/layer_manager/main/integration_test.go
  internal/core/layer_manager/manager/handle.go
  tools/mage/teardown.go
Due: none

removed extraneous debug messages
  go.mod
  go.sum
  internal/core/layer_manager/manager/handle.go
Due: none

isHash Util function and change for breadcrumb
  web/src/components/Breadcrumbs/Breadcrumbs.tsx
  web/src/constants.ts
  web/src/helpers/utils.tsx
Due: prettier --write, eslint

Added updateTime
  web/src/pages/ListAlerts/graphql/listAlerts.generated.ts
  web/src/pages/ListAlerts/graphql/listAlerts.graphql
Due: prettier --write, eslint

Updated AlertTables to a new format
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
  web/src/pages/ListAlerts/ListAlertsTable/ListAlertsTable.tsx
  web/src/pages/ListAlerts/columns.tsx
Due: prettier --write, eslint

removing Lambda dependencies from core code
  internal/log_analysis/log_processor/common/common.go
  internal/log_analysis/log_processor/main/lambda.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/sources/s3.go
Due: none

minor refactoring
  internal/log_analysis/log_processor/main/lambda.go
  internal/log_analysis/log_processor/sources/s3.go
Due: none

Reinistated Alert for AddDestination
  web/src/components/sidesheets/AddDestinationSidesheet/AddDestinationSidesheet.tsx
Due: prettier --write, eslint

Removed hidesheet on Error
  web/src/components/sidesheets/AddDestinationSidesheet/AddDestinationSidesheet.tsx
Due: prettier --write, eslint

Reinstated alert for AnalyticsConsentModal
  web/src/components/modals/AnalyticsConsentModal/AnalyticsConsentModal.tsx
Due: prettier --write, eslint

Reinstated Alert for PolicyBulkUpload
  web/src/components/sidesheets/PolicyBulkUploadSidesheet/PolicyBulkUploadSidesheet.tsx
Due: prettier --write, eslint

Checkpoint work
  deployments/core.yml
  internal/core/database_api/athena/testutils/testutils.go
  internal/log_analysis/datacatalog_updater/process/compaction.go
  internal/log_analysis/datacatalog_updater/process/integration_test.go
  internal/log_analysis/datacatalog_updater/process/session.go
Due: none

Simplify athena api state machine
  deployments/core.yml
Due: none

Improve athena_api integration tests
  internal/core/database_api/athena/driver/api/integration_test.go
  internal/core/database_api/athena/testutils/testutils.go
Due: none
