Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Checkpoint work
  internal/log_analysis/log_processor/processor/stream.go
Due: none

Add altnerate form of AWS service permissions
  deployments/auxiliary/cloudformation/panther-deployment-role.yml
  deployments/auxiliary/terraform/panther_deployment_role/main.tf
Due: none

Sync changes made in parquet branch
  internal/log_analysis/log_processor/main/lambda.go
  internal/log_analysis/log_processor/processor/stream.go
  internal/log_analysis/log_processor/processor/stream_test.go
Due: none

Checkpoint work
  cmd/devtools/logprocessor/logprocessor/main.go
  deployments/log_analysis.yml
  internal/log_analysis/log_processor/common/common.go
  internal/log_analysis/log_processor/destinations/destinations.go
  internal/log_analysis/log_processor/destinations/firehose.go
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/main/lambda.go
  internal/log_analysis/log_processor/processor/stream.go
  internal/log_analysis/log_processor/sources/s3_client_cache.go
  internal/log_analysis/log_processor/sources/s3_client_cache_test.go
  tools/cfngen/cloudwatchcf/alarms_lambda.go
Due: none

Checkpoint work
  internal/log_analysis/log_processor/common/common.go
  internal/log_analysis/log_processor/processor/stream.go
Due: none

Checkpoint work
  cmd/devtools/logprocessor/logprocessor/main.go
  internal/log_analysis/log_processor/common/common.go
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/log_processor/main/lambda_test.go
  internal/log_analysis/log_processor/processor/processor_test.go
  internal/log_analysis/log_processor/processor/stream.go
  internal/log_analysis/log_processor/processor/stream_test.go
  internal/log_analysis/log_processor/sources/s3_client_cache_test.go
Due: none

Change Lambda error evaluation periods to 2
  tools/cfngen/cloudwatchcf/alarms_lambda.go
  tools/cfngen/cloudwatchcf/alarms_test.go
  tools/cfngen/cloudwatchcf/testdata/generated_test_alarms.json
Due: prettier --write

add fixed height to table
  web/src/pages/DataExplorer/Results/Results.tsx
  web/src/pages/DataExplorer/Results/ResultsTable/ResultsTable.tsx
Due: prettier --write, eslint

Fixing comment
  tools/cfngen/cloudwatchcf/alarms_test.go
Due: none

make sure not to store results in cache
  web/src/pages/DataExplorer/Results/Results.tsx
  web/src/pages/DataExplorer/Results/ResultsTable/ResultsTable.tsx
  web/src/pages/DataExplorer/SQLEditor/SQLEditor.tsx
Due: prettier --write, eslint

remove `totalCount` field
  api/graphql/schema.graphql
  deployments/appsync.yml
  web/__generated__/schema.tsx
  web/src/pages/DataExplorer/Results/Results.tsx
  web/src/pages/DataExplorer/Results/graphql/getLogQueryResults.generated.ts
  web/src/pages/DataExplorer/Results/graphql/getLogQueryResults.graphql
Due: prettier --write, eslint

Merge gcplogs.AuditLog table and use github errors
  docs/gitbook/log-analysis/log-processing/supported-logs/GCP.md
  internal/log_analysis/log_processor/classification/classifier.go
  internal/log_analysis/log_processor/classification/classifier_test.go
  internal/log_analysis/log_processor/destinations/firehose.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog.go
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog_test.go
  internal/log_analysis/log_processor/parsers/gcplogs/gcplogs.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access.go
  internal/log_analysis/log_processor/parsers/numerics/numerics.go
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc3164.go
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc5424.go
  internal/log_analysis/log_processor/registry/registry.go
  web/src/constants.ts
Due: prettier --write, eslint

Add validation tag for slice field
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog.go
Due: none

Add HTTPRequest.ServerIP to panther fields
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog.go
Due: none

Consistent numerics behavior for int and overflow checks
  internal/log_analysis/log_processor/parsers/numerics/numerics.go
  internal/log_analysis/log_processor/parsers/numerics/numerics_test.go
Due: none

Revert Severity enum and add numerics.Int64 to glue generator
  internal/log_analysis/log_processor/parsers/gcplogs/gcplogs.go
  tools/cfngen/gluecf/gluecf.go
  tools/cfngen/gluecf/schema.go
Due: none

Fix zeek DNS logs
  internal/log_analysis/log_processor/parsers/pantherevent.go
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
  internal/log_analysis/log_processor/parsers/zeeklogs/dns.go
  internal/log_analysis/log_processor/parsers/zeeklogs/dns_test.go
Due: none

Checkpoint work
  internal/log_analysis/log_processor/processor/stream.go
  internal/log_analysis/log_processor/processor/stream_test.go
Due: none

Respond to PR
  docs/gitbook/enterprise/snowflake.md
Due: prettier --write

Checkpoint work
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/processor/stream.go
Due: none

switch effect for layoutEffect
  web/src/pages/DataExplorer/Results/Results.tsx
Due: prettier --write, eslint

Checkpoint work
  deployments/panther_config.yml
Due: none

Add custom waiters and occasional in progress messages
  docs/gitbook/development.md
  tools/mage/deploy.go
  tools/mage/deploy_certificate.go
  tools/mage/deploy_template.go
  tools/mage/teardown.go
  tools/mage/util_cfn.go
Due: prettier --write

Fix auto-teardown for failed bootstrap stack
  tools/mage/deploy.go
  tools/mage/deploy_certificate.go
  tools/mage/teardown.go
Due: none

some diagrams
  docs/gitbook/.gitbook/assets/data-flow-diagram.png
  docs/gitbook/.gitbook/assets/detailed-arch-diagram.png
  docs/gitbook/.gitbook/assets/high-level-arch-diagram.png
  docs/gitbook/development.md
Due: prettier --write

Always create directories before writing files
  tools/mage/cfngen.go
  tools/mage/deploy_certificate.go
  tools/mage/deploy_template.go
  tools/mage/doc.go
  tools/mage/fmt_license.go
  tools/mage/util.go
Due: none

Remove leftover comment
  tools/mage/deploy_template.go
Due: none

Rename SessionInit() to Setup()
  internal/log_analysis/log_processor/common/common.go
  internal/log_analysis/log_processor/main/lambda.go
Due: none

Use ctx.Deadline() instead of passing timeout thru lamnbda env vars
  deployments/log_analysis.yml
  internal/log_analysis/log_processor/common/common.go
  internal/log_analysis/log_processor/main/lambda.go
  internal/log_analysis/log_processor/main/lambda_test.go
  internal/log_analysis/log_processor/processor/stream.go
  internal/log_analysis/log_processor/processor/stream_test.go
Due: none

Fix bug in read loop that might lose data when deadline expires
  internal/log_analysis/log_processor/processor/stream.go
Due: none

Switch from retaining full sqs messages for delete at end to just message receipts
  internal/log_analysis/log_processor/processor/stream.go
  internal/log_analysis/log_processor/processor/stream_test.go
Due: none

remove no-cache
  web/src/pages/DataExplorer/Results/Results.tsx
Due: prettier --write, eslint

nullify queryId during provisioning
  web/src/pages/DataExplorer/DataExplorerContext.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
