Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

add queryStatus into context state
  web/src/pages/SQLShell/Results/Results.tsx
  web/src/pages/SQLShell/Results/ResultsTable.tsx
  web/src/pages/SQLShell/SQLEditor/SQLEditor.tsx
  web/src/pages/SQLShell/SQLShellContext.tsx
Due: prettier --write, eslint

Removed unnecessary cache.evict
  web/src/components/sidesheets/AddDestinationSidesheet/AddDestinationSidesheet.tsx
Due: prettier --write, eslint

Fix for correcting updating cache for Additions
  web/src/pages/CreatePolicy/CreatePolicy.tsx
  web/src/pages/CreateRule/CreateRule.tsx
Due: prettier --write, eslint

Renamed method
  internal/log_analysis/log_processor/main/lambda.go
  internal/log_analysis/log_processor/sources/s3.go
Due: none

add query cancelation
  deployments/appsync.yml
  web/src/pages/SQLShell/SQLEditor/SQLEditor.tsx
  web/src/pages/SQLShell/SQLShellContext.tsx
Due: prettier --write, eslint

Update formatting
  internal/log_analysis/log_processor/common/common.go
  internal/log_analysis/log_processor/main/lambda.go
Due: none

Added dedupString to AlertDetails that missing rule
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
Due: prettier --write, eslint

Fixed Fragments for Alerts
  web/src/graphql/fragments/AlertSummaryFull.generated.ts
  web/src/graphql/fragments/AlertSummaryFull.graphql
  web/src/pages/ListAlerts/graphql/listAlerts.generated.ts
  web/src/pages/ListAlerts/graphql/listAlerts.graphql
  web/src/pages/RuleDetails/graphql/ruleDetails.generated.ts
  web/src/pages/RuleDetails/graphql/ruleDetails.graphql
Due: prettier --write, eslint

Added severity to AlertSummary
  web/src/graphql/fragments/AlertSummaryFull.generated.ts
  web/src/graphql/fragments/AlertSummaryFull.graphql
Due: prettier --write, eslint

Updated Alert table on RuleDetails
  web/src/pages/RuleDetails/columns.tsx
Due: prettier --write, eslint

Changed flex for Title
  web/src/pages/ListAlerts/columns.tsx
Due: prettier --write, eslint

Reinstated licence for schema
  web/__generated__/schema.tsx
Due: prettier --write, eslint

refactor actions to be more verbose/explicit
  web/src/pages/SQLShell/Results/Results.tsx
  web/src/pages/SQLShell/SQLEditor/SQLEditor.tsx
  web/src/pages/SQLShell/SQLShellContext.tsx
Due: prettier --write, eslint

Add userId as an optional attr when starting an athena query (for logging)
  api/lambda/database/models/api.go
Due: none

Add queryId and userId logging for traceability and metrics
  internal/core/database_api/athena/driver/api/athena.go
Due: none

minor cleanups
  web/src/pages/SQLShell/Results/Results.tsx
  web/src/pages/SQLShell/SQLEditor/SQLEditor.tsx
Due: prettier --write, eslint

add `userId` to executeAsyncQuery payload through appsync
  deployments/appsync.yml
Due: none

change license comments
  web/src/graphql/fragments/LogDatabaseSummary.generated.ts
  web/src/graphql/fragments/LogDatabaseTableColumnDetails.generated.ts
  web/src/graphql/fragments/LogDatabaseTableSummary.generated.ts
  web/src/pages/SQLShell/Browser/ColumnList/graphql/listColumnsForTable.generated.ts
  web/src/pages/SQLShell/Browser/DatabaseSelector/graphql/listLogDatabases.generated.ts
  web/src/pages/SQLShell/Browser/TableList/graphql/listTablesForDatabase.generated.ts
  web/src/pages/SQLShell/Results/graphql/getLogQueryResults.generated.ts
  web/src/pages/SQLShell/SQLEditor/graphql/cancelLogQuery.generated.ts
  web/src/pages/SQLShell/SQLEditor/graphql/loadAllSchemaEntities.generated.ts
  web/src/pages/SQLShell/SQLEditor/graphql/runQuery.generated.ts
Due: prettier --write, eslint

restore SQL for queryId
  web/__generated__/schema.tsx
  web/src/pages/SQLShell/SQLEditor/SQLEditor.tsx
  web/src/pages/SQLShell/SQLEditor/graphql/getSqlForQuery.generated.ts
  web/src/pages/SQLShell/SQLEditor/graphql/getSqlForQuery.graphql
  web/src/pages/SQLShell/SQLShellContext.tsx
Due: prettier --write, eslint

add local & session persistence on selected database & sql
  web/src/apollo/typePolicies.ts
  web/src/components/utils/AuthContext/AuthContext.tsx
  web/src/helpers/loggers.ts
  web/src/helpers/storage.ts
  web/src/pages/SQLShell/SQLEditor/SQLEditor.tsx
  web/src/pages/SQLShell/SQLShellContext.tsx
Due: prettier --write, eslint

add table placeholder during "fetching more" in alerts list page
  web/src/pages/ListAlerts/ListAlerts.tsx
Due: prettier --write, eslint

remove un-needed re-renders from ListAlerts page
  web/src/pages/ListAlerts/ListAlerts.tsx
Due: prettier --write, eslint

More logging refinement to make sure we can trace queries easily
  deployments/core.yml
  internal/core/database_api/athena/driver/api/appsync.go
  internal/core/database_api/athena/driver/api/athena.go
  internal/core/database_api/athena/driver/api/integration_test.go
  internal/core/database_api/athena/driver/api/invoke.go
  internal/core/database_api/athena/driver/api/steps.go
Due: none

addressed PR feedback
  internal/core/analysis_api/handlers/delete_global.go
Due: none

Reinstated UpdateDestinationSidesheet
  web/src/components/sidesheets/UpdateDestinationSidesheet/UpdateDestinationSidesheet.tsx
Due: prettier --write, eslint

Nested Logs & Resources
  docs/gitbook/SUMMARY.md
Due: prettier --write

Revert alb name change
  deployments/bootstrap.yml
Due: none

Use consistent access key / accountID values in test data
  api/lambda/source/models/validator_test.go
  internal/compliance/aws_event_processor/processor/example_events/cloudtrail_put_event_selectors.json
  internal/compliance/aws_event_processor/processor/handler_test.go
  internal/compliance/snapshot_poller/pollers/aws/awstest/cloudformation.go
  internal/compliance/snapshot_poller/pollers/aws/awstest/configservice.go
  internal/compliance/snapshot_poller/pollers/aws/awstest/elbv2.go
  internal/compliance/snapshot_poller/pollers/aws/awstest/kms.go
  internal/compliance/snapshot_poller/pollers/aws/awstest/rds.go
  internal/core/source_api/api/update_integration_test.go
  internal/log_analysis/log_processor/parsers/awslogs/alb_test.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_test.go
Due: prettier --write

Add note about rbac permission changes
  docs/gitbook/enterprise/rbac.md
Due: prettier --write

rephrase - add session expiration as well
  docs/gitbook/enterprise/rbac.md
Due: prettier --write

Checkpoint work
  api/lambda/database/models/api.go
  deployments/core.yml
  deployments/log_analysis.yml
  internal/core/database_api/athena/testutils/testutils.go
  internal/log_analysis/datacatalog_updater/main/lambda.go
  internal/log_analysis/datacatalog_updater/process/compaction.go
  internal/log_analysis/datacatalog_updater/process/compaction_test.go
  internal/log_analysis/datacatalog_updater/process/integration_test.go
  internal/log_analysis/datacatalog_updater/process/process.go
  internal/log_analysis/datacatalog_updater/process/process_test.go
  pkg/awsglue/glue.go
  pkg/awsglue/glue_test.go
  pkg/awsglue/partition.go
  pkg/awsglue/partition_test.go
Due: none

Minor tidies
  internal/core/database_api/athena/driver/api/integration_test.go
  internal/core/database_api/athena/driver/api/invoke.go
  internal/core/database_api/athena/testutils/testutils.go
Due: none

Checkpoint work
  deployments/panther_config.yml
  internal/log_analysis/datacatalog_updater/process/compaction.go
  pkg/awsglue/glue.go
Due: none

Minor code clean up + make GetQueryResultsLink() return status in output
  api/lambda/database/models/api.go
  deployments/core.yml
  internal/core/database_api/athena/driver/api/appsync.go
  internal/core/database_api/athena/driver/api/athena.go
  internal/core/database_api/athena/driver/api/integration_test.go
  internal/core/database_api/athena/driver/api/invoke.go
  internal/core/database_api/athena/driver/api/steps.go
Due: none

bump pounce
  package-lock.json
  package.json
Due: prettier --write

Update comment
  internal/core/database_api/athena/driver/api/integration_test.go
Due: none

update Link components in the app
  web/src/components/forms/AnalyticsConsentForm/ErrorReportingSection.tsx
  web/src/components/utils/TableControls/TableControlsComplianceFilter.tsx
  web/src/components/wizards/ComplianceSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/components/wizards/LogSourceWizard/SourceConfigurationPanel/SourceConfigurationPanel.tsx
  web/src/components/wizards/LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/pages/Landing/Landing.tsx
  web/src/pages/PolicyDetails/PolicyDetailsInfo/PolicyDetailsInfo.tsx
  web/src/pages/RuleDetails/RuleDetailsInfo/RuleDetailsInfo.tsx
Due: prettier --write, eslint

Checkpoint work
  internal/log_analysis/datacatalog_updater/process/compaction.go
  pkg/awsglue/glue.go
Due: none

Check if Panther version is a regular and link to relevant docs
  web/src/constants.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
