Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Remove CODEOWNERS
  .github/CODEOWNERS
Due: none

Add build:cfn
  .circleci/config.yml
Due: none

Fix typo
  .circleci/config.yml
Due: none

turn skipCi to false
  .all-contributorsrc
Due: none

bump pounce to 0.12.0
  api/graphql/schema.graphql
  package.json
Due: prettier --write

Delete Rule modal to use OptimisticConfirmModal
  web/src/components/modals/DeleteRuleModal/DeleteRuleModal.tsx
Due: prettier --write, eslint

DeleteComplianceSourceModal to use OptimisticConfirmModal
  web/src/components/modals/DeleteComplianceSourceModal/DeleteComplianceSourceModal.tsx
  web/src/components/modals/DeletePolicyModal/DeletePolicyModal.tsx
  web/src/components/modals/DeleteRuleModal/DeleteRuleModal.tsx
Due: prettier --write, eslint

DeleteDestinationModal to use OptimisticModal
  web/src/components/modals/DeleteDestinationModal/DeleteDestinationModal.tsx
Due: prettier --write, eslint

DeleteLogSourceModal to use OptimisticModal
  web/src/components/modals/DeleteLogSourceModal/DeleteLogSourceModal.tsx
Due: prettier --write, eslint

DeleteUserModal to use OptimisticModal
  web/src/components/modals/DeleteUserModal/DeleteUserModal.tsx
Due: prettier --write, eslint

Use SNS message attrs to dispatch on log processor CT files in the aws event processor
  internal/compliance/aws_event_processor/processor/handler.go
  internal/compliance/aws_event_processor/processor/handler_test.go
Due: none

Fix typo in test name
  internal/compliance/aws_event_processor/processor/handler_test.go
Due: none

Updating CSV handling
  README.md
  internal/log_analysis/log_processor/parsers/csvstream/csvstream.go
  internal/log_analysis/log_processor/parsers/csvstream/csvstream_test.go
Due: prettier --write

Added comment
  internal/log_analysis/log_processor/parsers/csvstream/csvstream.go
Due: none

Changing log level
  internal/log_analysis/log_processor/classification/classifier.go
Due: none

[final feedbac]
  docs/gitbook/log-analysis/log-processing/README.md
Due: prettier --write

[docs] final
  docs/gitbook/README.md
Due: prettier --write

[docs] move the setup/readme pages
  docs/gitbook/SUMMARY.md
Due: prettier --write

[docs] update landing page
  docs/gitbook/README.md
Due: prettier --write

[docs] more tweaking on landing page
  docs/gitbook/README.md
Due: prettier --write

[docs] finalize landing
  docs/gitbook/README.md
Due: prettier --write

[docs] update landing pages for each component
  docs/gitbook/historical-search/README.md
  docs/gitbook/log-analysis/log-processing/README.md
  docs/gitbook/policies/scanning/README.md
Due: prettier --write

[docs] flatten menu structure
  docs/gitbook/SUMMARY.md
Due: prettier --write

Checkpoint work
  internal/core/database_api/athena/athena.go
  internal/core/database_api/athena/athena_api/main/main.go
  internal/core/database_api/athena/glue.go
  internal/core/database_api/athena/integration_test.go
  pkg/awsathena/query.go
Due: none

updated the latency threshold from 1000 milliseconds to 2000
  tools/cfngen/cloudwatchcf/alarms_appsync.go
Due: none

fixed unit tests & addressed PR feedback
  tools/cfngen/cloudwatchcf/alarms_appsync.go
  tools/cfngen/cloudwatchcf/testdata/generated_test_alarms.json
Due: prettier --write

fix unit tests again
  tools/cfngen/cloudwatchcf/testdata/generated_test_alarms.json
Due: prettier --write

Checkpoint work
  internal/core/database_api/athena/athena.go
  internal/core/database_api/athena/integration_test.go
  pkg/awsathena/query.go
Due: none

Enforce Cognito advanced security
  README.md
  deployments/bootstrap.yml
  tools/mage/deploy.go
  tools/mage/util_cfn.go
Due: prettier --write

Remove appsync latency alarms
  tools/cfngen/cloudwatchcf/alarms_appsync.go
Due: none

Fix tests and remove gateway/elb latency
  tools/cfngen/cloudwatchcf/alarms_apigw.go
  tools/cfngen/cloudwatchcf/alarms_elb.go
  tools/cfngen/cloudwatchcf/testdata/generated_test_alarms.json
Due: prettier --write

Checkpoint work
  api/lambda/database/models/api.go
  deployments/core.yml
  docs/gitbook/operations/runbooks.md
  internal/core/database_api/athena/driver/api/api.go
  internal/core/database_api/athena/driver/athena.go
  internal/core/database_api/athena/driver/glue.go
  internal/core/database_api/athena/driver/integration_test.go
  internal/core/database_api/athena/driver/main/main.go
  pkg/awsathena/integration_test.go
  pkg/awsathena/query.go
  tools/athenaviews/athenaviews.go
Due: prettier --write

added ConfirmDevice to ignore list
  README.md
  internal/compliance/aws_event_processor/processor/process.go
Due: prettier --write

[deployments] aux template for sending logs to Firehose
  deployments/auxiliary/cloudformation/osquery-firehose.yml
Due: none

Fix MFA for cognito user pools on fresh deployments
  deployments/bootstrap.yml
  tools/mage/deploy.go
Due: none

bump pounce to latest
  package-lock.json
  package.json
  web/src/pages/Users/Users.tsx
Due: prettier --write, eslint

Changes in package-lock
  package-lock.json
Due: prettier --write

Verifying IP addresses
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/awslogs/alb_test.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit_test.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_test.go
  internal/log_analysis/log_processor/parsers/awslogs/extractor.go
  internal/log_analysis/log_processor/parsers/awslogs/extractor_test.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty_test.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access_test.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow_test.go
  internal/log_analysis/log_processor/parsers/fluentdsyslogs/rfc3164.go
  internal/log_analysis/log_processor/parsers/fluentdsyslogs/rfc5424.go
  internal/log_analysis/log_processor/parsers/fluentdsyslogs/rfc5424_test.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential_test.go
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
  internal/log_analysis/log_processor/parsers/pantherlog_test.go
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc3164.go
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc3164_test.go
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc5424.go
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc5424_test.go
  internal/log_analysis/log_processor/parsers/zeeklogs/dns.go
  internal/log_analysis/log_processor/parsers/zeeklogs/dns_test.go
Due: none

Encode params idContains & nameContains on updateRequestParams
  web/src/hooks/useRequestParamsWithPagination.tsx
Due: prettier --write, eslint

Checkpoint work
  api/lambda/database/models/api.go
  deployments/core.yml
  docs/gitbook/operations/runbooks.md
  internal/core/database_api/athena/driver/api/api.go
  internal/core/database_api/athena/driver/athena.go
  internal/core/database_api/athena/driver/glue.go
  internal/core/database_api/athena/driver/integration_test.go
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
