Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Move pagination to backend
  api/lambda/users/models/api.go
  internal/core/users_api/api/list_users.go
  internal/core/users_api/api/list_users_test.go
  internal/core/users_api/api/remove_user.go
  internal/core/users_api/api/remove_user_test.go
  internal/core/users_api/gateway/list_users.go
  internal/core/users_api/gateway/list_users_test.go
  internal/core/users_api/gateway/mock_gateway.go
  internal/core/users_api/gateway/users_gateway.go
  tools/mage/deploy.go
Due: none

Off by one error: 0 != 1
  internal/core/users_api/api/remove_user.go
  internal/core/users_api/api/remove_user_test.go
Due: none

Respond to PR
  deployments/backend.yml
  deployments/core/appsync.yml
  deployments/panther_config.yml
  deployments/web/alb.yml
  docs/gitbook/operations/ops-home.md
  tools/cfngen/cf.go
  tools/cfngen/cloudwatchcf/alarms.go
  tools/cfngen/cloudwatchcf/alarms_apigw.go
  tools/cfngen/cloudwatchcf/alarms_appsync.go
  tools/cfngen/cloudwatchcf/alarms_ddb.go
  tools/cfngen/cloudwatchcf/alarms_elb.go
  tools/cfngen/cloudwatchcf/alarms_lambda.go
  tools/cfngen/cloudwatchcf/alarms_sns.go
  tools/cfngen/cloudwatchcf/alarms_sqs.go
  tools/cfngen/cloudwatchcf/alarms_test.go
  tools/cfngen/cloudwatchcf/metrics.go
  tools/cfngen/cloudwatchcf/testdata/cf.yml
  tools/cfngen/cloudwatchcf/testdata/generated_test_alarms.json
  tools/cfngen/cloudwatchcf/walkyaml.go
  tools/cfngen/gluecf/gluecf.go
  tools/cfngen/gluecf/testdata/db.template.json
  tools/cfngen/gluecf/testdata/tables.template.json
  tools/mage/cfngen.go
  tools/mage/deploy.go
  tools/mage/deploy_monitoring.go
Due: prettier --write

Add support to generate glue tables for rule matches
  internal/log_analysis/log_processor/registry/registry.go
  internal/log_analysis/rules_engine/src/output.py
  pkg/awsglue/glue.go
  pkg/awsglue/integration_test.go
  pkg/awsglue/partition_test.go
  tools/athenaviews/athenaviews.go
  tools/athenaviews/athenaviews_test.go
  tools/cfngen/gluecf/db_test.go
  tools/cfngen/gluecf/gluecf.go
  tools/cfngen/gluecf/gluecf_test.go
  tools/cfngen/gluecf/table_test.go
  tools/cfngen/gluecf/testdata/gluecf.json.cf
  tools/cfngen/gluecf/util_test.go
  tools/mage/deploy.go
  tools/mage/glue_namespace.go
Due: none

Update docs for OSSEC.EventInfo logs
  docs/gitbook/log-analysis/supported-logs/README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Safeguarding pathname if referrer exist on location.state.referrer
  web/src/components/guarded-route.tsx
Due: prettier --write, eslint

Add cfndoc pkg
  tools/cfndoc/cfndoc.go
  tools/cfndoc/cfndoc_test.go
Due: none

move prompt controller to authenticated section
  web/src/app.tsx
  web/src/routes.tsx
Due: prettier --write, eslint

remove redundant prop
  web/src/components/forms/common/rule-form-test-fields.tsx
Due: prettier --write, eslint

Addressed further PR feedback
  internal/compliance/aws_event_processor/processor/handler.go
Due: none

revert memoization on checkbox/switch/radio
  web/src/components/fields/checkbox.tsx
  web/src/components/fields/radio.tsx
  web/src/components/fields/switch.tsx
Due: prettier --write, eslint

add panther version
  web/src/components/navigation.tsx
Due: prettier --write, eslint

changing error handling a bit
  internal/compliance/aws_event_processor/processor/handler.go
Due: none

run mage fmt on deployments/panther_config.yml
  deployments/panther_config.yml
Due: none

Checkpoint work
  deployments/compliance/alert_processing.yml
  deployments/compliance/aws_event_processor.yml
  deployments/compliance/compliance_api.yml
  deployments/compliance/remediation.yml
  deployments/compliance/resources_api.yml
  deployments/compliance/snapshot.yml
  deployments/core/admin_api.yml
  deployments/core/analysis_api.yml
  deployments/core/appsync.yml
  deployments/core/outputs.yml
  deployments/log_analysis/alerts.yml
  deployments/log_analysis/log_processor.yml
  deployments/log_analysis/rules_engine.yml
  deployments/web/alb.yml
  docs/gitbook/SUMMARY.md
  tools/cfndoc/cfndoc.go
  tools/cfndoc/cfndoc_test.go
  tools/cfngen/cloudwatchcf/alarms.go
  tools/cfngen/cloudwatchcf/alarms_apigw.go
  tools/cfngen/cloudwatchcf/alarms_appsync.go
  tools/cfngen/cloudwatchcf/alarms_ddb.go
  tools/cfngen/cloudwatchcf/alarms_elb.go
  tools/cfngen/cloudwatchcf/alarms_lambda.go
  tools/cfngen/cloudwatchcf/alarms_sns.go
  tools/cfngen/cloudwatchcf/alarms_sqs.go
  tools/cfngen/cloudwatchcf/alarms_test.go
  tools/cfngen/cloudwatchcf/testdata/generated_test_alarms.json
  tools/mage/cfngen.go
  tools/mage/deploy.go
  tools/mage/doc_namespace.go
Due: prettier --write

Use pre-processed meta data in individual service classifiers
  internal/compliance/aws_event_processor/processor/acm.go
  internal/compliance/aws_event_processor/processor/cloudformation.go
  internal/compliance/aws_event_processor/processor/cloudtrail.go
  internal/compliance/aws_event_processor/processor/cloudwatch_log_group.go
  internal/compliance/aws_event_processor/processor/config.go
  internal/compliance/aws_event_processor/processor/dynamodb.go
  internal/compliance/aws_event_processor/processor/ec2.go
  internal/compliance/aws_event_processor/processor/ecs.go
  internal/compliance/aws_event_processor/processor/elbv2.go
  internal/compliance/aws_event_processor/processor/guardduty.go
  internal/compliance/aws_event_processor/processor/handler.go
  internal/compliance/aws_event_processor/processor/iam.go
  internal/compliance/aws_event_processor/processor/kms.go
  internal/compliance/aws_event_processor/processor/lambda.go
  internal/compliance/aws_event_processor/processor/process.go
  internal/compliance/aws_event_processor/processor/process_test.go
  internal/compliance/aws_event_processor/processor/rds.go
  internal/compliance/aws_event_processor/processor/redshift.go
  internal/compliance/aws_event_processor/processor/s3.go
  internal/compliance/aws_event_processor/processor/waf-regional.go
  internal/compliance/aws_event_processor/processor/waf.go
Due: none

completely reworked ignored event handling
  internal/compliance/aws_event_processor/processor/acm.go
  internal/compliance/aws_event_processor/processor/cloudformation.go
  internal/compliance/aws_event_processor/processor/cloudtrail.go
  internal/compliance/aws_event_processor/processor/cloudwatch_log_group.go
  internal/compliance/aws_event_processor/processor/config.go
  internal/compliance/aws_event_processor/processor/dynamodb.go
  internal/compliance/aws_event_processor/processor/ec2.go
  internal/compliance/aws_event_processor/processor/ecs.go
  internal/compliance/aws_event_processor/processor/elbv2.go
  internal/compliance/aws_event_processor/processor/guardduty.go
  internal/compliance/aws_event_processor/processor/iam.go
  internal/compliance/aws_event_processor/processor/kms.go
  internal/compliance/aws_event_processor/processor/lambda.go
  internal/compliance/aws_event_processor/processor/process.go
  internal/compliance/aws_event_processor/processor/process_test.go
  internal/compliance/aws_event_processor/processor/rds.go
  internal/compliance/aws_event_processor/processor/redshift.go
  internal/compliance/aws_event_processor/processor/s3.go
  internal/compliance/aws_event_processor/processor/waf-regional.go
  internal/compliance/aws_event_processor/processor/waf.go
Due: none

Syslog RFC5424 Parser
  go.mod
  go.sum
  internal/log_analysis/log_processor/parsers/patherlog.go
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc5424.go
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc5424_test.go
  internal/log_analysis/log_processor/registry/registry.go
  tools/athenaviews/athenaviews_test.go
  web/src/constants.ts
Due: prettier --write, eslint

Support mapping type map[string]map[string]string in Glue
  tools/cfngen/gluecf/schema.go
  tools/cfngen/gluecf/schema_test.go
Due: none

Fix typos.
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc5424.go
Due: none

Add docs for Syslog.RFC5424
  docs/gitbook/log-analysis/supported-logs/README.md
Due: prettier --write

Update README.md
  docs/gitbook/policies/scanning/README.md
Due: prettier --write

Remove debug output
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc5424.go
Due: none

Remove unused import
  go.mod
  go.sum
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc5424.go
Due: none

Update notifications-setup.md
  docs/gitbook/log-analysis/log-processing/notifications-setup.md
Due: prettier --write

Update README.md
  docs/gitbook/historical-search/README.md
Due: prettier --write

Update aws-compliance-setup.md
  docs/gitbook/policies/scanning/aws-compliance-setup.md
Due: prettier --write

Update automatic-remediation.md
  docs/gitbook/automatic-remediation/automatic-remediation.md
Due: prettier --write

Update README.md
  docs/gitbook/log-analysis/supported-logs/README.md
Due: prettier --write

add version to general settings
  web/src/pages/general-settings/index.tsx
Due: prettier --write, eslint

Added Reset user modal
  web/src/components/modals/base-confirm-modal.tsx
  web/src/components/modals/reset-user-password-modal.tsx
  web/src/components/utils/modal-context.tsx
  web/src/components/utils/modal-manager.tsx
Due: prettier --write, eslint

Added option to reset a users password from in dropdown
  web/src/pages/users/subcomponents/list-users-table-row-options.tsx
Due: prettier --write, eslint

add optional husky config
  .huskyrc
  husky.config.js
Due: prettier --write, eslint

send errors
  web/src/components/forms/analytics-consent-form/error-reporting-section.tsx
Due: prettier --write, eslint

revert changes
  web/src/components/forms/analytics-consent-form/error-reporting-section.tsx
Due: prettier --write, eslint

Removed comment
  web/src/components/modals/reset-user-password-modal.tsx
Due: prettier --write, eslint

delete husky config
  husky.config.js
Due: prettier --write, eslint

empty1
  .huskyrc
  .npmrc
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
