Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Add to panther_config.yml
  deployments/log_analysis.yml
  deployments/master.yml
  deployments/panther_config.yml
  tools/mage/deploy/config.go
  tools/mage/deploy/deploy.go
Due: none

fix: use dedup event logTypes instead of rule
  api/graphql/schema.graphql
  internal/log_analysis/alert_forwarder/forwarder/forwarder_test.go
  web/__generated__/schema.tsx
Due: prettier --write, eslint

Fix some typos in comments
  deployments/log_analysis.yml
  deployments/master.yml
Due: none

Fix some typos in comments
  internal/log_analysis/log_processor/processor/stream.go
Due: none

feat: Add logTypes on AlertCard
  web/src/components/cards/AlertCard/AlertCard.tsx
Due: prettier --write, eslint

feat: add initial expandable table implementation
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliverySection.test.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliverySection.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliveryTable/AlertDeliveryTable.test.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliveryTable/AlertDeliveryTable.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
Due: prettier --write, eslint

feat: add initial work for PR syncing
  .github/workflows/main.yml
Due: none

fix: minor text updates
  .github/workflows/main.yml
Due: none

loop through serviceArns 10 at a time to conform to API restrictions
  internal/compliance/snapshot_poller/pollers/aws/ecs_cluster.go
Due: none

Respond to PR
  internal/log_analysis/log_processor/common/common.go
  internal/log_analysis/log_processor/processor/stream.go
Due: none

cfn lint
  deployments/log_analysis.yml
Due: none

ci: move conditional logic to job declaration
  .github/workflows/main.yml
Due: none

ci: make sure to use `release` branch as base for PR
  .github/workflows/main.yml
Due: none

ci: add PR number on cherry-pick commit message
  .github/workflows/main.yml
Due: none

Alert Delivery Status [2/3]: Show Alert Destinations & add Alert Delivery Table (#1540)
  package-lock.json
  package.json
  web/src/graphql/fragments/RuleBasic.generated.ts
  web/src/graphql/fragments/RuleBasic.graphql
  web/src/graphql/fragments/RuleDates.graphql
  web/src/graphql/fragments/RuleFull.graphql
  web/src/pages/AlertDetails/AlertDetails.test.tsx
  web/src/pages/AlertDetails/AlertDetails.tsx
  web/src/pages/AlertDetails/AlertDetailsBanner/AlertDetailsBanner.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliverySection.test.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliverySection.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliveryTable/AlertDeliveryTable.test.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliveryTable/AlertDeliveryTable.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliveryTable/index.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/index.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
  web/src/pages/AlertDetails/graphql/listDestinations.generated.ts
  web/src/pages/AlertDetails/graphql/listDestinations.graphql
  web/src/pages/AlertDetails/index.tsx
  web/src/pages/RuleDetails/graphql/ruleDetails.generated.ts
  web/src/pages/RuleDetails/graphql/ruleDetails.graphql
Due: prettier --write, eslint

Updating Gravitational parsers
  internal/log_analysis/log_processor/parsers/gravitationallogs/audit.go
Due: none

mage gen fmt
  internal/log_analysis/log_processor/parsers/gravitationallogs/audit.go
Due: none

Fixed failing tests
  web/src/components/forms/PagerdutyDestinationForm/PagerdutyDestinationForm.test.tsx
Due: prettier --write, eslint

Update web/src/components/cards/AlertCard/AlertCard.test.tsx
  web/src/components/cards/AlertCard/AlertCard.test.tsx
Due: prettier --write, eslint

Bump pounce to v0.67.3
  package-lock.json
  package.json
Due: prettier --write

fix: force-resolve vulnerable module `node-fetch`
  package-lock.json
  package.json
Due: prettier --write

Small fixes
  web/src/components/cards/AlertCard/AlertCard.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
  web/src/pages/RuleDetails/RuleDetails.tsx
Due: prettier --write, eslint

mage gen fmt
  package-lock.json
Due: prettier --write

ci: hardcode `node-fetch` version
  package.json
Due: prettier --write

chore: replace `npx` with `npm command`
  package-lock.json
  package.json
Due: prettier --write

Revert "chore: replace `npx` with `npm command`"
  package-lock.json
  package.json
Due: prettier --write

chore: upgrade node-fetch deps
  package-lock.json
Due: prettier --write

Revert "mage gen fmt"
  package-lock.json
Due: prettier --write

Updated tests
  web/src/components/cards/AlertCard/AlertCard.test.tsx
  web/src/components/cards/AlertCard/AlertCard.tsx
Due: prettier --write, eslint

ci: add `npm ci` for CircleCI
  package-lock.json
  tools/mage/setup/setup.go
Due: prettier --write

fix: golang typo
  tools/mage/setup/setup.go
Due: none

adding tests for ECS DescribeServices changes
  internal/compliance/snapshot_poller/pollers/aws/awstest/ecs.go
  internal/compliance/snapshot_poller/pollers/aws/ecs_cluster_test.go
Due: none

fixing linter error
  internal/compliance/snapshot_poller/pollers/aws/awstest/ecs.go
Due: none

update to latest pouncejs
  package-lock.json
  package.json
Due: prettier --write

rename prop
  web/src/pages/AlertDetails/AlertDetails.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliverySection.test.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
Due: prettier --write, eslint

fix: always return payload
  internal/core/alert_delivery/api/deliver_alert.go
Due: none

Changing evaluation period
  internal/core/custom_resources/resources/alarms_api_gateway.go
Due: none

Double-prompt to allow overwriting existing release
  tools/mage/master/publish.go
Due: none

removing duplicate check and convert var to const
  internal/compliance/snapshot_poller/pollers/aws/ecs_cluster.go
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
