Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Share cfn parsing with cfngen package
  tools/cfngen/cloudwatchcf/alarms.go
  tools/cfngen/cloudwatchcf/alarms_apigw.go
  tools/cfngen/cloudwatchcf/alarms_appsync.go
  tools/cfngen/cloudwatchcf/alarms_ddb.go
  tools/cfngen/cloudwatchcf/alarms_elb.go
  tools/cfngen/cloudwatchcf/alarms_lambda.go
  tools/cfngen/cloudwatchcf/alarms_sfn.go
  tools/cfngen/cloudwatchcf/alarms_sns.go
  tools/cfngen/cloudwatchcf/alarms_sqs.go
  tools/cfngen/cloudwatchcf/metrics.go
  tools/cfngen/cloudwatchcf/metrics_lambda.go
  tools/cfngen/cloudwatchcf/util.go
  tools/cfngen/cloudwatchcf/walkmap.go
  tools/cfnparse/parse.go
  tools/mage/deploy_template.go
  tools/mage/swagger.go
  tools/mage/swagger_test.go
  tools/mage/util_cfn.go
Due: none

Remove leftover comment
  tools/mage/deploy_template.go
Due: none

Fixed function to always return a stable version of panther docs
  web/src/constants.ts
  web/src/helpers/utils.tsx
Due: prettier --write, eslint

Fix validation for CloudTrailInsight
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_insights.go
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
Due: none

Add to frontend conastants
  docs/gitbook/log-analysis/log-processing/supported-logs/AWS.md
  web/src/constants.ts
Due: prettier --write, eslint

Fix fmt and validation for CloudTrailInsight
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_insights.go
  internal/log_analysis/log_processor/registry/registry.go
  web/src/constants.ts
Due: prettier --write, eslint

Update suricatalogs to new parser interface
  internal/log_analysis/log_processor/parsers/suricatalogs/dns.go
  internal/log_analysis/log_processor/parsers/suricatalogs/dns_test.go
Due: none

Return errors from mockParser in log_processor/classifier_test
  internal/log_analysis/log_processor/classification/classifier_test.go
Due: none

Remove commented out code in tests
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_insights_test.go
Due: none

Fix mock parsers for classifier test
  internal/log_analysis/log_processor/classification/classifier_test.go
Due: none

Adding logging by default. Verbose logging when debug is enabled
  deployments/bootstrap.yml
Due: none

Configuring AppSync logging
  deployments/appsync.yml
  deployments/bootstrap.yml
  go.mod
  go.sum
  tools/mage/deploy.go
Due: none

Update AWS.CloudTrailInsight to the new parser interface
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_insights.go
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
Due: none

Trim gitVersion tag to release tag (strip hash)
  tools/mage/deploy_template.go
Due: none

CloudTrailDigest WIP
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_digest.go
Due: none

Fix constants merge conflict
  web/src/constants.ts
Due: prettier --write, eslint

Fix conflict
  web/src/constants.ts
Due: prettier --write, eslint

Fix merge conflict
  web/src/constants.ts
Due: prettier --write, eslint

Populate errors when parsing failed and check header parsing
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow_test.go
Due: none

Make result columns ptrs so null values are nil
  api/lambda/database/models/api.go
  internal/core/database_api/athena/driver/api/get_query_results.go
  internal/core/database_api/athena/driver/api/integration_test.go
Due: none

Implement aws cloud trail digest parser and add `p_any_hashes` field
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_digest.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_digest_test.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
Due: none

Register new log parser
  internal/log_analysis/log_processor/registry/registry.go
  web/src/constants.ts
Due: prettier --write, eslint

Update docs
  docs/gitbook/log-analysis/log-processing/supported-logs/AWS.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Fluentd.md
  docs/gitbook/log-analysis/log-processing/supported-logs/GitLab.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Nginx.md
  docs/gitbook/log-analysis/log-processing/supported-logs/OSSEC.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Osquery.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Suricata.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Syslog.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Zeek.md
Due: prettier --write

Revert 'p_any_hashes' addition
  docs/gitbook/log-analysis/log-processing/supported-logs/AWS.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Fluentd.md
  docs/gitbook/log-analysis/log-processing/supported-logs/GitLab.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Nginx.md
  docs/gitbook/log-analysis/log-processing/supported-logs/OSSEC.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Osquery.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Suricata.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Syslog.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Zeek.md
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_digest.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_digest_test.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
Due: prettier --write

Fix vpc flow test
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow_test.go
Due: none

Safeguard doc url for missing version
  web/src/constants.ts
  web/src/helpers/utils.tsx
Due: prettier --write, eslint

fixed some globals things
  internal/core/analysis_api/handlers/get.go
  internal/core/analysis_api/main/integration_test.go
Due: none

Expand s3 notification message from rules engine to have all the attributes
  internal/log_analysis/rules_engine/src/output.py
Due: none

When looking of column names, using json attr mapping table if possible
  internal/core/database_api/athena/driver/api/get_tables_detail.go
  internal/core/database_api/athena/driver/api/integration_test.go
Due: none

Respond to PR: pass step function arn into lambda rather than generating it
  deployments/log_analysis.yml
  internal/core/database_api/athena/driver/api/api.go
  internal/core/database_api/athena/driver/api/execute_async_query_notify.go
  internal/core/database_api/athena/driver/api/integration_test.go
Due: none

Fix typo in query status cancelled
  api/lambda/database/models/api.go
  internal/core/database_api/athena/driver/api/get_query_status.go
  internal/core/database_api/athena/driver/api/integration_test.go
Due: none

Respond to PR: add comments explaining each api endpoint, elborate in comment about IAM appsync perms
  api/lambda/database/models/api.go
  deployments/bootstrap.yml
Due: none

Change back to full version for tagged objects, use "untagged" if there are no tags
  tools/mage/deploy_template.go
Due: none

Format changes to make linter happy
  tools/mage/deploy_template.go
Due: none

Teardown if bootstrap stack failed to create
  tools/mage/deploy_certificate.go
  tools/mage/deploy_template.go
Due: none

rename all react-router-dom Links to RRLink
  package-lock.json
  web/src/components/Navigation/NavLink.tsx
  web/src/components/Navigation/Navigation.tsx
  web/src/pages/403/403.tsx
  web/src/pages/404/404.tsx
  web/src/pages/500/500.tsx
  web/src/pages/ComplianceOverview/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ForgotPassword/ForgotPassword.tsx
  web/src/pages/ListComplianceSources/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListComplianceSources/ListComplianceSources.tsx
  web/src/pages/ListLogSources/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListLogSources/ListLogSources.tsx
  web/src/pages/ListResources/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/PolicyDetails/PolicyDetailsInfo/PolicyDetailsInfo.tsx
  web/src/pages/RuleDetails/RuleDetailsInfo/RuleDetailsInfo.tsx
Due: prettier --write, eslint

replace RRLink with pounce Link in forgotten locations
  web/src/pages/ListAlerts/columns.tsx
  web/src/pages/SignIn/SignIn.tsx
Due: prettier --write, eslint

bump bugfix version on pounce
  package-lock.json
  package.json
Due: prettier --write

Fixing AWS Account for ALB logs
  README.md
  deployments/bootstrap.yml
  docs/gitbook/log-analysis/log-processing/supported-logs/GitLab.md
Due: prettier --write

Added ap-northeast-3 region
  deployments/bootstrap.yml
Due: none
