Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Update api/graphql/schema.graphql
  api/graphql/schema.graphql
Due: none

mage gen fmt
  web/__generated__/schema.tsx
Due: prettier --write, eslint

Fixing dashboards (#2690)
  deployments/dashboards.yml
  tools/mage/gen/dashboards/log_processing.go
Due: none

Fixing dashboards (#2690) (#2691)
  deployments/dashboards.yml
  tools/mage/gen/dashboards/log_processing.go
Due: none

chore: addressed feedback
  web/src/components/wizards/S3LogSourceWizard/ValidationPanel/HealthCheckPanel.tsx
  web/src/components/wizards/S3LogSourceWizard/ValidationPanel/ValidationPanel.tsx
Due: prettier --write, eslint

fix: corrected filter function
  web/src/components/wizards/S3LogSourceWizard/ValidationPanel/HealthCheckPanel.tsx
Due: prettier --write, eslint

[FE] S3 onboarding with healthchecks (#2656)
  web/src/assets/icons/warning.svg
  web/src/components/wizards/S3LogSourceWizard/ValidationPanel/HealthCheckPanel.tsx
  web/src/components/wizards/S3LogSourceWizard/ValidationPanel/HealthCheckWarning.tsx
  web/src/components/wizards/S3LogSourceWizard/ValidationPanel/ValidationPanel.tsx
  web/src/pages/CreateLogSource/CreateS3LogSource/CreateS3LogSource.test.tsx
  web/src/pages/EditS3LogSource/ΕditS3LogSource.test.tsx
Due: prettier --write, eslint

[FE] S3 onboarding with healthchecks (#2656) (#2692)
  web/src/assets/icons/warning.svg
  web/src/components/wizards/S3LogSourceWizard/ValidationPanel/HealthCheckPanel.tsx
  web/src/components/wizards/S3LogSourceWizard/ValidationPanel/HealthCheckWarning.tsx
  web/src/components/wizards/S3LogSourceWizard/ValidationPanel/ValidationPanel.tsx
  web/src/pages/CreateLogSource/CreateS3LogSource/CreateS3LogSource.test.tsx
  web/src/pages/EditS3LogSource/ΕditS3LogSource.test.tsx
Due: prettier --write, eslint

chore: added pack to typePolicies
  web/src/apollo/typePolicies.ts
Due: prettier --write, eslint

chore: added callback for functions
  web/src/pages/PackDetails/PackDetailsBanner/PackDetailsBanner.tsx
Due: prettier --write, eslint

Address PR feedback
  internal/log_analysis/log_processor/logschema/bindata.go
  internal/log_analysis/log_processor/logschema/logschema.go
  internal/log_analysis/log_processor/logschema/reflect.go
  internal/log_analysis/log_processor/logschema/reflect_test.go
  internal/log_analysis/log_processor/logschema/refs.go
  internal/log_analysis/log_processor/logschema/schema.json
  web/public/schemas/customlogs_v0_schema.json
Due: prettier --write

chore: fix broken tests
  web/src/pages/ListDataModels/DataModelCard/DataModelCard.test.tsx
  web/src/pages/ListDataModels/DataModelCard/__snapshots__/DataModelCard.test.tsx.snap
  web/src/pages/ListDataModels/ListDataModels.tsx
Due: prettier --write, eslint

feat: create the alerts overview page
  web/src/pages/Overview/AlertsOverview/AlertSummary/AlertSummary.tsx
  web/src/pages/Overview/AlertsOverview/AlertSummary/DifferenceText/DifferenceText.tsx
  web/src/pages/Overview/AlertsOverview/AlertSummary/DifferenceText/index.tsx
  web/src/pages/Overview/AlertsOverview/AlertSummary/index.tsx
  web/src/pages/Overview/AlertsOverview/AlertsBySeverity/AlertsBySeverity.tsx
  web/src/pages/Overview/AlertsOverview/AlertsBySeverity/index.tsx
  web/src/pages/Overview/AlertsOverview/AlertsOverview.tsx
  web/src/pages/Overview/AlertsOverview/AlertsOverviewBreadcrumbFilters/AlertsOverviewBreadcrumbFilters.tsx
  web/src/pages/Overview/AlertsOverview/AlertsOverviewBreadcrumbFilters/index.tsx
  web/src/pages/Overview/AlertsOverview/MostActiveRules/MostActiveRules.tsx
  web/src/pages/Overview/AlertsOverview/MostActiveRules/index.tsx
  web/src/pages/Overview/AlertsOverview/Skeleton/Skeleton.tsx
  web/src/pages/Overview/AlertsOverview/Skeleton/index.tsx
  web/src/pages/Overview/AlertsOverview/graphql/getLogAnalysisMetrics.generated.ts
  web/src/pages/Overview/AlertsOverview/graphql/getLogAnalysisMetrics.graphql
  web/src/pages/Overview/AlertsOverview/graphql/getOverviewAlerts.generated.ts
  web/src/pages/Overview/AlertsOverview/graphql/getOverviewAlerts.graphql
  web/src/pages/Overview/Overview.tsx
  web/src/pages/Overview/OverviewTab/OverviewTab.tsx
Due: prettier --write, eslint

Add healthcheck for bucket notifications configuration
  api/graphql/schema.graphql
  api/lambda/source/models/api.go
  api/lambda/source/models/integration.go
  deployments/appsync.yml
  internal/core/source_api/api/check_integration.go
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/graphql/fragments/S3LogIntegrationDetails.generated.ts
  web/src/graphql/fragments/S3LogIntegrationDetails.graphql
  web/src/pages/ListLogSources/LogSourceCards/LogSourceCard.tsx
Due: prettier --write, eslint

address review comments
  internal/core/source_api/api/check_integration.go
  internal/core/source_api/api/managed_bucket_notifications.go
Due: none

mage gen fmt
  internal/core/source_api/api/managed_bucket_notifications.go
Due: none

simply moving a comment
  internal/core/analysis_api/handlers/update_pack.go
Due: none

Misc fixes and feedback on pack api (#2688)
  internal/core/analysis_api/handlers/dynamo.go
  internal/core/analysis_api/handlers/github.go
  internal/core/analysis_api/handlers/update_pack.go
  internal/core/analysis_api/handlers/update_pack_test.go
  internal/core/analysis_api/main/integration_test.go
  pkg/github/github.go
Due: none

Fixed logic in Rules Engine Rule:_run_command -- this fixes the issue with the destinations output type not properly being validated
  internal/log_analysis/rules_engine/src/rule.py
Due: none

Added unit test for invalid destinations type
  internal/log_analysis/rules_engine/tests/test_rule.py
Due: none

Changed `getOutputsByDynamicDestinations` to safely evaluate the display name. Added the `getDestinations` back to the alert-forwarder as to maintain support for suppressing alerts
  internal/core/alert_delivery/api/outputs.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
Due: none

mage gen fmt
  internal/core/alert_delivery/api/outputs.go
  internal/log_analysis/rules_engine/tests/test_rule.py
Due: none

Reverted changes to the OutputIDs field
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
Due: none

final changes to use current release in panther-analysis in integration tests; update key id; add lambda permission
  deployments/core.yml
  internal/core/analysis_api/handlers/github.go
  internal/core/analysis_api/main/integration_test.go
Due: none

Update cmd/opstools/flushrsc/flushrsc/main.go
  cmd/opstools/flushrsc/flushrsc/main.go
Due: none

chore: create the alerts overview loading skeleton
  web/src/pages/Overview/AlertsOverview/AlertsOverview.tsx
  web/src/pages/Overview/AlertsOverview/Skeleton/Skeleton.tsx
Due: prettier --write, eslint

fix: corrected broken test
  web/src/pages/EditS3LogSource/ΕditS3LogSource.test.tsx
Due: prettier --write, eslint

fix: update broken test
  web/src/pages/CreateLogSource/CreateS3LogSource/CreateS3LogSource.test.tsx
Due: prettier --write, eslint

Add healthcheck for bucket notifications configuration (#2684)
  api/graphql/schema.graphql
  api/lambda/source/models/api.go
  api/lambda/source/models/integration.go
  deployments/appsync.yml
  internal/core/source_api/api/check_integration.go
  internal/core/source_api/api/managed_bucket_notifications.go
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/graphql/fragments/S3LogIntegrationDetails.generated.ts
  web/src/graphql/fragments/S3LogIntegrationDetails.graphql
  web/src/pages/CreateLogSource/CreateS3LogSource/CreateS3LogSource.test.tsx
  web/src/pages/EditS3LogSource/ΕditS3LogSource.test.tsx
  web/src/pages/ListLogSources/LogSourceCards/LogSourceCard.tsx
Due: prettier --write, eslint

chore: modify the alerts overview section
  web/src/pages/Overview/AlertsOverview/AlertSummary/AlertSummary.tsx
  web/src/pages/Overview/AlertsOverview/AlertSummary/DifferenceText/DifferenceText.tsx
  web/src/pages/Overview/AlertsOverview/AlertSummary/PercentageBarChart/PercentageBar/PercentageBar.tsx
  web/src/pages/Overview/AlertsOverview/AlertSummary/PercentageBarChart/PercentageBar/index.tsx
  web/src/pages/Overview/AlertsOverview/AlertSummary/PercentageBarChart/PercentageBarChart.tsx
  web/src/pages/Overview/AlertsOverview/AlertSummary/PercentageBarChart/index.tsx
  web/src/pages/Overview/AlertsOverview/AlertsBySeverity/AlertsBySeverity.tsx
  web/src/pages/Overview/AlertsOverview/MostActiveRules/MostActiveRules.tsx
Due: prettier --write, eslint

[Sync]Add healthcheck for bucket notifications configuration (#2701)
  api/graphql/schema.graphql
  api/lambda/source/models/api.go
  api/lambda/source/models/integration.go
  deployments/appsync.yml
  internal/core/source_api/api/check_integration.go
  internal/core/source_api/api/managed_bucket_notifications.go
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/graphql/fragments/S3LogIntegrationDetails.generated.ts
  web/src/graphql/fragments/S3LogIntegrationDetails.graphql
  web/src/pages/CreateLogSource/CreateS3LogSource/CreateS3LogSource.test.tsx
  web/src/pages/EditS3LogSource/ΕditS3LogSource.test.tsx
  web/src/pages/ListLogSources/LogSourceCards/LogSourceCard.tsx
Due: prettier --write, eslint

chore: make the LogAnalysisMetricsResponse fields optional
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.generated.ts
  web/src/pages/Overview/AlertsOverview/AlertSummary/AlertSummary.tsx
  web/src/pages/Overview/AlertsOverview/AlertsBySeverity/AlertsBySeverity.tsx
  web/src/pages/Overview/AlertsOverview/AlertsOverview.tsx
  web/src/pages/Overview/AlertsOverview/Skeleton/Skeleton.tsx
  web/src/pages/Overview/AlertsOverview/graphql/getLogAnalysisMetrics.generated.ts
  web/src/pages/Overview/AlertsOverview/graphql/getLogAnalysisMetrics.graphql
Due: prettier --write, eslint

chore: align the overview filters with the tabs
  web/src/pages/Overview/AlertsOverview/AlertSummary/AlertSummary.tsx
  web/src/pages/Overview/AlertsOverview/AlertsBySeverity/AlertsBySeverity.tsx
  web/src/pages/Overview/AlertsOverview/AlertsOverview.tsx
  web/src/pages/Overview/AlertsOverview/AlertsOverviewFilters/AlertsOverviewFilters.tsx
  web/src/pages/Overview/AlertsOverview/AlertsOverviewFilters/index.tsx
  web/src/pages/Overview/AlertsOverview/MostActiveRules/MostActiveRules.tsx
Due: prettier --write, eslint

mage gen fmt
  web/src/pages/Overview/AlertsOverview/AlertSummary/PercentageBarChart/PercentageBar/PercentageBar.tsx
  web/src/pages/Overview/AlertsOverview/AlertSummary/PercentageBarChart/PercentageBar/index.tsx
  web/src/pages/Overview/AlertsOverview/AlertSummary/PercentageBarChart/PercentageBarChart.tsx
  web/src/pages/Overview/AlertsOverview/AlertSummary/PercentageBarChart/index.tsx
Due: prettier --write, eslint

chore: remove header from Overview page
  web/src/components/Header/Header.tsx
  web/src/components/Navigation/Navigation.tsx
  web/src/pages/Overview/Overview.tsx
  web/src/pages/Overview/OverviewTab/OverviewTab.tsx
Due: prettier --write, eslint

mage gen fmt
  api/lambda/analysis/models/api.go
Due: none

Make sure we don't serialize invalid JSON
  internal/log_analysis/log_processor/pantherlog/jsoniter.go
  internal/log_analysis/log_processor/pantherlog/jsoniter_test.go
Due: none

Removed unused variable
  internal/log_analysis/log_processor/pantherlog/jsoniter.go
Due: none

fix: correct field name for list
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/pages/ListAnalysisPacks/ListAnalysisPacks.tsx
  web/src/pages/ListAnalysisPacks/graphql/listAnalysisPacks.generated.ts
  web/src/pages/ListAnalysisPacks/graphql/listAnalysisPacks.graphql
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
