Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Checkpoint work
  deployments/compliance/alert_processing.yml
  deployments/compliance/aws_event_processor.yml
  deployments/log_analysis/alerts.yml
  deployments/log_analysis/log_processor.yml
  deployments/log_analysis/rules_engine.yml
  tools/mage/doc_namespace.go
Due: none

aws-event-processor event updates: - handle “UpdateFunctionConfiguration20150331v2" - ignore DeleteNetworkInterface"
  internal/compliance/aws_event_processor/processor/lambda.go
  internal/compliance/aws_event_processor/processor/process.go
Due: none

Fix file with fmt
  internal/core/custom_message/api/forgot_password.go
Due: none

Update description of timestamp with UTC.
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc5424.go
Due: none

Checkpoint work
  deployments/compliance/alert_processing.yml
  deployments/compliance/aws_event_processor.yml
  deployments/compliance/compliance_api.yml
  deployments/compliance/remediation.yml
  deployments/compliance/resources_api.yml
  deployments/compliance/snapshot.yml
  deployments/core/admin_api.yml
  deployments/core/analysis_api.yml
  deployments/core/appsync.yml
  deployments/core/outputs.yml
  deployments/log_analysis/alerts.yml
  deployments/log_analysis/log_processor.yml
  deployments/log_analysis/rules_engine.yml
  docs/gitbook/operations/inventory.md
  tools/mage/doc_namespace.go
Due: prettier --write

Athena doesn't have an unsigned int type
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc5424.go
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc5424_test.go
  tools/cfngen/gluecf/schema.go
Due: none

Add the syslog hostname either as an AnyIpAddresses or AnyDomainNames.
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc5424.go
Due: none

Update example-queries.md
  docs/gitbook/historical-search/example-queries.md
Due: prettier --write

add optional commit hooks
  husky.config.js
  web/README.md
Due: prettier --write, eslint

split queries from list-resources-actions
  web/src/pages/list-resources/subcomponents/list-resources-actions.tsx
  web/src/pages/list-resources/subcomponents/listAccountIds.generated.ts
  web/src/pages/list-resources/subcomponents/listAccountIds.graphql
Due: prettier --write, eslint

Update ops-home.md
  docs/gitbook/operations/ops-home.md
Due: prettier --write

Update sqs.md
  docs/gitbook/destinations/alert-setup/sqs.md
Due: prettier --write

Update sns.md
  docs/gitbook/destinations/alert-setup/sns.md
Due: prettier --write

Update pagerduty.md
  docs/gitbook/destinations/alert-setup/pagerduty.md
Due: prettier --write

Update opsgenie.md
  docs/gitbook/destinations/alert-setup/opsgenie.md
Due: prettier --write

Update microsoft-teams.md
  docs/gitbook/destinations/alert-setup/microsoft-teams.md
Due: prettier --write

Checkpoint work
  deployments/monitoring.yml
  docs/gitbook/operations/inventory.md
Due: prettier --write

Changes: * improve logging * add "RetireGrant" to whitelist of events * use "recipientAccountId" as fall back when userIdentity has no accountId
  internal/compliance/aws_event_processor/processor/process.go
  internal/compliance/aws_event_processor/processor/process_test.go
  internal/compliance/snapshot_poller/pollers/aws/cloudtrail.go
Due: none

Fixed formatting CI issue
  internal/core/custom_message/api/forgot_password.go
Due: none

Updated all base-delete-modals to use base-confirm-modal
  web/src/components/modals/delete-destination-modal.tsx
  web/src/components/modals/delete-policy-modal.tsx
  web/src/components/modals/delete-rule-modal.tsx
  web/src/components/modals/delete-source-modal.tsx
  web/src/components/modals/delete-user-modal.tsx
Due: prettier --write, eslint

Checkpoint work
  deployments/compliance/alert_processing.yml
  deployments/compliance/aws_event_processor.yml
  deployments/compliance/compliance_api.yml
  deployments/compliance/remediation.yml
  deployments/compliance/resources_api.yml
  deployments/compliance/snapshot.yml
  deployments/core/analysis_api.yml
  deployments/log_analysis/alerts.yml
  deployments/log_analysis/log_processor.yml
  deployments/log_analysis/rules_engine.yml
  docs/gitbook/operations/inventory.md
Due: prettier --write

Removed base-delete-modal
  web/src/components/modals/base-delete-modal.tsx
Due: prettier --write, eslint

Respond to PR
  internal/compliance/aws_event_processor/processor/process.go
  internal/compliance/aws_event_processor/processor/process_test.go
Due: none

Checkpoint work
  deployments/compliance/alert_processing.yml
  deployments/compliance/aws_event_processor.yml
  deployments/compliance/compliance_api.yml
  deployments/compliance/remediation.yml
  deployments/compliance/resources_api.yml
  deployments/compliance/snapshot.yml
  deployments/core/admin_api.yml
  deployments/core/analysis_api.yml
  deployments/core/appsync.yml
  deployments/core/outputs.yml
  deployments/log_analysis/alerts.yml
  deployments/log_analysis/rules_engine.yml
  deployments/monitoring.yml
  deployments/web/alb.yml
  docs/gitbook/operations/inventory.md
Due: prettier --write

resolve node_modules relative to process.cwd
  web/webpack.config.js
Due: prettier --write, eslint

Revert "resolve node_modules relative to process.cwd"
  web/webpack.config.js
Due: prettier --write, eslint

Checkpoint work
  docs/gitbook/SUMMARY.md
  docs/gitbook/operations/inventory.md
  docs/gitbook/operations/runbooks.md
  tools/cfngen/cloudwatchcf/alarms.go
  tools/mage/doc_namespace.go
Due: prettier --write

Checkpoint work
  deployments/compliance/alert_processing.yml
  deployments/compliance/compliance_api.yml
  deployments/compliance/remediation.yml
  deployments/compliance/resources_api.yml
  deployments/compliance/snapshot.yml
  deployments/core/admin_api.yml
  deployments/core/analysis_api.yml
  deployments/core/outputs.yml
  deployments/log_analysis/alerts.yml
  deployments/log_analysis/rules_engine.yml
  docs/gitbook/operations/runbooks.md
  tools/mage/doc_namespace.go
Due: prettier --write

Checkpoint work
  deployments/panther_config.yml
  tools/cfngen/cloudwatchcf/testdata/generated_test_alarms.json
  tools/cfngen/gluecf/testdata/#gluecf.json#
  tools/cfngen/gluecf/testdata/gluecf.json.save
  tools/mage/cfngen.go.save
  tools/mage/deploy.go.save
  tools/mage/doc_namespace.go
Due: prettier --write

Go 1.14 compatibility, remove unused license header
  docs/LICENSE_HEADER_PANTHER.txt
  pkg/gatewayapi/gateway_sig4_client_test.go
  tools/mage/setup_namespace.go
Due: none

Remove hermes email templates
  go.mod
  go.sum
  internal/core/custom_message/api/forgot_password.go
  internal/core/custom_message/email/clients.go
Due: none

Added PantherParseTime to the Parser
  internal/log_analysis/log_processor/classification/classifier.go
  internal/log_analysis/log_processor/classification/classifier_test.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/awslogs/alb_test.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit_test.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_test.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty_test.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access_test.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow_test.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status_test.go
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo.go
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo_test.go
  internal/log_analysis/log_processor/parsers/pantherlog_test.go
  internal/log_analysis/log_processor/parsers/parsers.go
  internal/log_analysis/log_processor/parsers/patherlog.go
  internal/log_analysis/log_processor/parsers/timestamp/timestamp.go
  tools/athenaviews/athenaviews_test.go
Due: none

Suppress npm audit in CI
  tools/mage/test_namespace.go
Due: none

Query-escape email
  internal/core/custom_message/api/forgot_password.go
Due: none

[alerts] fix broken alert links
  deployments/core/outputs.yml
Due: none

[web] rename auth page and compliance overview
  web/src/components/auth-page-container.tsx
  web/src/pages/compliance-overview/index.tsx
  web/src/pages/compliance-overview/skeleton.tsx
Due: prettier --write, eslint

Add documentation for p_parse_time, p_any_md5_hashes and p_any_sha1_hashes.
  docs/gitbook/historical-search/panther-fields.md
Due: prettier --write

Update jira.md
  docs/gitbook/destinations/alert-setup/jira.md
Due: prettier --write

Update github.md
  docs/gitbook/destinations/alert-setup/github.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
