Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Added a description on thew global module form
  web/src/components/forms/GlobalModuleForm/GlobalModuleForm.tsx
Due: prettier --write, eslint

add explicit test naming. Closes #812.
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestFields/BaseRuleFormTestFields.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestResult/BaseRuleFormTestResult.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestResultList/BaseRuleFormTestResultList.tsx
Due: prettier --write, eslint

Minor fixes
  web/src/components/forms/GlobalModuleForm/GlobalModuleForm.tsx
Due: prettier --write, eslint

Fix capitalization issues with cloudtrail json tags
  docs/gitbook/log-analysis/log-processing/supported-logs/AWS.md
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
Due: prettier --write

Deploy succeeds
  deployments/bootstrap_gateway.yml
  tools/mage/deploy.go
Due: none

1.2.0 candidate
  docs/gitbook/development.md
  docs/gitbook/quick-start.md
Due: prettier --write

granted rules engine permission to query resource database
  deployments/log_analysis.yml
Due: none

Update docs/gitbook/enterprise/data-explorer.md
  docs/gitbook/enterprise/data-explorer.md
Due: prettier --write

rephrase docs
  docs/gitbook/enterprise/data-explorer.md
Due: prettier --write

add autocomplete mention
  docs/gitbook/enterprise/data-explorer.md
Due: prettier --write

allow data & errors to handle edge case of alert api
  web/src/pages/AlertDetails/AlertDetails.tsx
Due: prettier --write, eslint

replace infinite-scroll-hook with custom one
  package-lock.json
  package.json
  web/src/pages/ListAlerts/ListAlerts.tsx
Due: prettier --write, eslint

added proper handling of layer related events
  internal/compliance/aws_event_processor/processor/lambda.go
Due: none

make sure to paginate alerts on RuleDetails page
  web/__generated__/schema.tsx
  web/src/pages/RuleDetails/RuleDetails.tsx
  web/src/pages/RuleDetails/RuleDetailsAlertsTable/RuleDetailsAlertsTable.tsx
  web/src/pages/RuleDetails/graphql/listAlertsForRule.generated.ts
  web/src/pages/RuleDetails/graphql/listAlertsForRule.graphql
  web/src/pages/RuleDetails/graphql/ruleDetails.generated.ts
  web/src/pages/RuleDetails/graphql/ruleDetails.graphql
Due: prettier --write, eslint

[WIP] Refactor log parsers
  internal/log_analysis/log_processor/classification/classifier_test.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/log_processor/parsers/awslogs/awslogs.go
  internal/log_analysis/log_processor/parsers/awslogs/meta.go
  internal/log_analysis/log_processor/parsers/awslogs/meta_test.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access_test.go
  internal/log_analysis/log_processor/parsers/jsontricks/jsontricks_test.go
  internal/log_analysis/log_processor/parsers/logs/extractor.go
  internal/log_analysis/log_processor/parsers/logs/fields.go
  internal/log_analysis/log_processor/parsers/logs/fields_test.go
  internal/log_analysis/log_processor/parsers/logs/meta.go
  internal/log_analysis/log_processor/parsers/logs/rowid.go
  internal/log_analysis/log_processor/parsers/pantherevent.go
  internal/log_analysis/log_processor/parsers/pantherevent_test.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
  internal/log_analysis/log_processor/parsers/pantherlog_test.go
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
Due: none

[WIP] Refactor parsers
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_insights.go
  internal/log_analysis/log_processor/parsers/logs/meta.go
  internal/log_analysis/log_processor/parsers/pantherevent.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
  internal/log_analysis/log_processor/parsers/parsers.go
  internal/log_analysis/log_processor/parsers/registry.go
Due: none

fmt code
  internal/log_analysis/log_processor/parsers/nginxlogs/access_test.go
  internal/log_analysis/log_processor/parsers/parsers.go
Due: none

abstract pagination of alerts into type policies
  web/src/apollo/typePolicies.ts
  web/src/pages/ListAlerts/ListAlerts.tsx
  web/src/pages/RuleDetails/RuleDetails.tsx
Due: prettier --write, eslint

Fixing error message
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/tests/test_main.py
Due: none

Updated to return nil/nil in case no alarm exists
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/api/get_alert_test.go
Due: none

Revert "abstract pagination of alerts into type policies"
  web/src/apollo/typePolicies.ts
  web/src/pages/ListAlerts/ListAlerts.tsx
  web/src/pages/RuleDetails/RuleDetails.tsx
Due: prettier --write, eslint

add comment for bugfixing
  web/src/pages/ListAlerts/ListAlerts.tsx
  web/src/pages/RuleDetails/RuleDetails.tsx
Due: prettier --write, eslint

update phrasing and change widths on test input
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestFields/BaseRuleFormTestFields.tsx
Due: prettier --write, eslint

add white-space no wrap
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestFields/BaseRuleFormTestFields.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestResult/BaseRuleFormTestResult.tsx
Due: prettier --write, eslint

fix 404 alert
  web/src/pages/AlertDetails/AlertDetails.tsx
Due: prettier --write, eslint

change phrasing for log analysis testing
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestFields/BaseRuleFormTestFields.tsx
Due: prettier --write, eslint

fix issue with redirect on deletion. Closes #833
  web/src/components/modals/DeleteRuleModal/DeleteRuleModal.tsx
Due: prettier --write, eslint

remove memoization from Comboboxes. Closes #831
  web/src/components/fields/ComboBox/ComboBox.tsx
  web/src/components/fields/MultiComboBox/MultiComboBox.tsx
Due: prettier --write, eslint

Fix error handing in awsathena.WaitForResults
  pkg/awsathena/integration_test.go
  pkg/awsathena/query.go
Due: none

[WIP] Parsers classifier
  internal/log_analysis/log_processor/parsers/classifier.go
  internal/log_analysis/log_processor/parsers/classifier_test.go
  internal/log_analysis/log_processor/parsers/jsontricks/jsontricks_test.go
  internal/log_analysis/log_processor/parsers/logs/fields.go
  internal/log_analysis/log_processor/parsers/metered.go
Due: none

Respnd to PR
  pkg/awsathena/query.go
Due: none

[gcplogs] Fix parser failing to parse some valid GCP AuditLogs Fixes #838
  docs/gitbook/log-analysis/log-processing/supported-logs/GCP.md
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog.go
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog_test.go
  internal/log_analysis/log_processor/parsers/gcplogs/gcplogs.go
  internal/log_analysis/log_processor/parsers/gcplogs/testdata/auditlog_activity.json
  internal/log_analysis/log_processor/parsers/gcplogs/testdata/auditlog_samples.jsonl
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
Due: prettier --write

Removing GCP logs
  internal/log_analysis/log_processor/registry/registry.go
  web/src/constants.ts
Due: prettier --write, eslint

Whitelist AssumeRole* for aws event processor
  internal/compliance/aws_event_processor/processor/process.go
Due: none

Removed GCP docs
  docs/gitbook/log-analysis/log-processing/supported-logs/GCP.md
Due: prettier --write

Fix IAM certificate deletion
  deployments/bootstrap_gateway.yml
  internal/core/custom_resources/main/lambda.go
  internal/core/custom_resources/resources/certificate.go
  internal/core/custom_resources/resources/clients.go
  tools/mage/deploy.go
Due: none

add SEO titles to all pages
  package-lock.json
  package.json
  web/public/index.ejs
  web/src/hoc/withSEO.tsx
  web/src/pages/403/403.tsx
  web/src/pages/404/404.tsx
  web/src/pages/500/500.tsx
  web/src/pages/AlertDetails/AlertDetails.tsx
  web/src/pages/ComplianceOverview/ComplianceOverview.tsx
  web/src/pages/CreateComplianceSource/CreateComplianceSource.tsx
  web/src/pages/CreateLogSource/CreateLogSource.tsx
  web/src/pages/CreatePolicy/CreatePolicy.tsx
  web/src/pages/CreateRule/CreateRule.tsx
  web/src/pages/Destinations/Destinations.tsx
  web/src/pages/EditComplianceSource/EditComplianceSource.tsx
  web/src/pages/EditGlobaModule/EditGlobalModule.tsx
  web/src/pages/EditLogSource/EditLogSource.tsx
  web/src/pages/EditPolicy/EditPolicy.tsx
  web/src/pages/EditRule/EditRule.tsx
  web/src/pages/ForgotPassword/ForgotPassword.tsx
  web/src/pages/ForgotPasswordConfirm/ForgotPasswordConfirm.tsx
  web/src/pages/GeneralSettings/GeneralSettings.tsx
  web/src/pages/Landing/Landing.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
  web/src/pages/ListComplianceSources/ListComplianceSources.tsx
  web/src/pages/ListLogSources/ListLogSources.tsx
  web/src/pages/ListPolicies/ListPolicies.tsx
  web/src/pages/ListResources/ListResources.tsx
  web/src/pages/ListRules/ListRules.tsx
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
  web/src/pages/PolicyDetails/PolicyDetails.tsx
  web/src/pages/ResourceDetails/ResourceDetails.tsx
  web/src/pages/RuleDetails/RuleDetails.tsx
  web/src/pages/SignIn/SignIn.tsx
  web/src/pages/Users/Users.tsx
Due: prettier --write, eslint

add clickable tags to Alert details page
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
