Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

staging work
  api/lambda/metrics/models/api.go
  api/lambda/metrics/models/validator.go
  api/lambda/metrics/models/validator_test.go
  internal/core/metrics_api/api/get_metrics.go
  internal/core/metrics_api/api/vars.go
  internal/core/metrics_api/main/lambda.go
Due: none

addressed some pr feedback
  internal/log_analysis/log_processor/common/metrics.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/processor/processor_test.go
  pkg/metrics/logger.go
Due: none

feat: adding preliminary statuses to table
  web/src/pages/ListAlerts/ListAlertsTable/ListAlertsTable.tsx
  web/src/pages/RuleDetails/RuleDetailsAlertsTable/RuleDetailsAlertsTable.tsx
Due: prettier --write, eslint

fixed unit tests
  internal/log_analysis/log_processor/processor/processor_test.go
  pkg/metrics/logger.go
Due: none

addressed usability feedback
  internal/log_analysis/log_processor/common/metrics.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/processor/processor_test.go
  pkg/metrics/logger.go
Due: none

final comment & formatting tweaks
  pkg/metrics/logger.go
Due: none

new analysis section
  docs/gitbook/SUMMARY.md
  docs/gitbook/analysis/built-in-packs.md
  docs/gitbook/analysis/caching.md
  docs/gitbook/analysis/helpers.md
  docs/gitbook/analysis/panther-cli.md
  docs/gitbook/analysis/run-time.md
  docs/gitbook/cloud-security/automatic-remediation/README.md
  docs/gitbook/cloud-security/automatic-remediation/writing-custom-remediations.md
  docs/gitbook/cloud-security/policies/README.md
  docs/gitbook/log-analysis/rules/README.md
  docs/gitbook/log-analysis/rules/panther-cli.md
  docs/gitbook/quick-start.md
  docs/gitbook/tutorials/osquery-log-analysis.md
Due: prettier --write

fix typos and errs in destinations
  docs/gitbook/destinations/README.md
  docs/gitbook/destinations/asana.md
  docs/gitbook/destinations/github.md
  docs/gitbook/destinations/jira.md
  docs/gitbook/destinations/microsoft-teams.md
  docs/gitbook/destinations/opsgenie.md
  docs/gitbook/destinations/pagerduty.md
  docs/gitbook/destinations/slack.md
Due: prettier --write

fix: add link to path
  docs/gitbook/cloud-security/automatic-remediation/writing-custom-remediations.md
Due: prettier --write

checkpoint on writing rules
  docs/gitbook/SUMMARY.md
  docs/gitbook/analysis/panther-cli.md
  docs/gitbook/cloud-security/policies/README.md
  docs/gitbook/log-analysis/rules/README.md
  docs/gitbook/log-analysis/rules/ui-workflow.md
Due: prettier --write

panther cli to pat
  docs/gitbook/SUMMARY.md
  docs/gitbook/analysis/panther-analysis-tool.md
  docs/gitbook/log-analysis/rules/README.md
  docs/gitbook/log-analysis/rules/ui-workflow.md
Due: prettier --write

test
  docs/gitbook/cloud-security/automatic-remediation/writing-custom-remediations.md
Due: prettier --write

fix: terraform link
  docs/gitbook/quick-start.md
Due: prettier --write

revert test
  docs/gitbook/cloud-security/automatic-remediation/writing-custom-remediations.md
Due: prettier --write

[pr] feedback from nick
  docs/gitbook/analysis/helpers.md
Due: prettier --write

rename helpers to globals
  docs/gitbook/SUMMARY.md
  docs/gitbook/analysis/globals.md
Due: prettier --write

moar PR feedback
  docs/gitbook/.gitbook/assets/globals/create-new-global.png
  docs/gitbook/.gitbook/assets/globals/list-globals.png
  docs/gitbook/analysis/caching.md
  docs/gitbook/analysis/globals.md
  docs/gitbook/analysis/panther-analysis-tool.md
  docs/gitbook/cloud-security/automatic-remediation/writing-custom-remediations.md
  docs/gitbook/log-analysis/rules/README.md
Due: prettier --write

readme edits
  docs/gitbook/.gitbook/assets/diagrams/panther_overview_new.png
  docs/gitbook/.gitbook/assets/diagrams/panther_overview_transparent.png
  docs/gitbook/README.md
  docs/gitbook/log-analysis/README.md
Due: prettier --write

final pr feedback, better overview diagram, writing parsers refactor
  docs/gitbook/.gitbook/assets/diagrams/panther_overview_new.png
  docs/gitbook/analysis/panther-analysis-tool.md
  docs/gitbook/log-analysis/README.md
  docs/gitbook/log-analysis/log-processing/writing-parsers.md
Due: prettier --write

pr feedback
  docs/gitbook/log-analysis/log-processing/writing-parsers.md
Due: prettier --write

formatting, quickstart tweaks, and more
  docs/gitbook/README.md
  docs/gitbook/SUMMARY.md
  docs/gitbook/log-analysis/log-processing/log-setup/gsuite.md
  docs/gitbook/log-analysis/log-processing/writing-parsers.md
  docs/gitbook/log-analysis/panther-fields.md
  docs/gitbook/quick-start.md
Due: prettier --write

Infer test ResourceType field from policy
  internal/core/analysis_api/handlers/bulk_upload.go
  internal/core/analysis_api/handlers/test_policy.go
  internal/core/analysis_api/handlers/util.go
  internal/core/analysis_api/main/integration_test.go
  internal/core/analysis_api/main/lambda.go
Due: none

Remove resourceType field from policy/rule test in api schemas and web ui
  api/gateway/analysis/api.yml
  api/gateway/analysis/models/unit_test_swagger.go
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestSection/BaseRuleFormTestSection.tsx
  web/src/components/forms/PolicyForm/PolicyForm.tsx
  web/src/components/forms/RuleForm/RuleForm.tsx
  web/src/graphql/fragments/PolicyDetailsExtra.generated.ts
  web/src/graphql/fragments/PolicyDetailsExtra.graphql
  web/src/graphql/fragments/RuleFull.generated.ts
  web/src/graphql/fragments/RuleFull.graphql
  web/src/pages/EditPolicy/graphql/updatePolicy.generated.ts
  web/src/pages/EditPolicy/graphql/updatePolicy.graphql
  web/src/pages/EditRule/graphql/ruleDetails.generated.ts
  web/src/pages/EditRule/graphql/ruleDetails.graphql
Due: prettier --write, eslint

Use placholder in test resource type when policy applies to all resources
  internal/core/analysis_api/handlers/test_policy.go
  internal/core/analysis_api/main/integration_test.go
Due: none

Add a comment on policy test resource type usage
  internal/core/analysis_api/handlers/test_policy.go
  internal/core/analysis_api/main/lambda.go
Due: none

Cleanup unused Event.Type field
  api/gateway/analysis/engine.go
  internal/core/analysis_api/handlers/test_policy.go
  internal/core/analysis_api/main/integration_test.go
Due: none

Update UI styling after field removal
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestSection/BaseRuleFormTestSection.tsx
Due: prettier --write, eslint

feat: introduce the `addTrailingSlash` utility
  web/src/helpers/utils.tsx
Due: prettier --write, eslint

fix: `NavLink` active URL checking
  web/src/components/Navigation/NavLink.tsx
Due: prettier --write, eslint

Added CloudWatch Events parser
  docs/gitbook/log-analysis/log-processing/supported-logs/AWS.md
  internal/log_analysis/log_processor/parsers/awslogs/awslogs.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudwatch_events.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudwatch_events_test.go
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
  web/src/constants.ts
Due: prettier --write, eslint

Fixed naming issue
  docs/gitbook/log-analysis/log-processing/supported-logs/AWS.md
  internal/log_analysis/log_processor/parsers/awslogs/awslogs.go
Due: prettier --write

Renamed constant
  internal/log_analysis/log_processor/parsers/awslogs/awslogs.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudwatch_events.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudwatch_events_test.go
Due: none

Addressed feedback
  internal/log_analysis/log_processor/parsers/awslogs/cloudwatch_events.go
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
Due: none

Fixed formatting issue
  internal/log_analysis/log_processor/parsers/awslogs/cloudwatch_events.go
Due: none

Updating Gitlab production logs
  docs/gitbook/log-analysis/log-processing/supported-logs/GitLab.md
  internal/log_analysis/log_processor/parsers/gitlablogs/rails.go
  internal/log_analysis/log_processor/parsers/gitlablogs/testdata/productionlog_samples.jsonl
Due: prettier --write

Addressed PR comments
  docs/gitbook/log-analysis/log-processing/supported-logs/GitLab.md
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_test.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty_test.go
  internal/log_analysis/log_processor/parsers/awslogs/utils_test.go
  internal/log_analysis/log_processor/parsers/gitlablogs/rails.go
  internal/log_analysis/log_processor/parsers/gitlablogs/rails_test.go
  internal/log_analysis/log_processor/parsers/gitlablogs/testdata/productionlog_samples.jsonl
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
  pkg/box/box.go
  pkg/unbox/unbox.go
Due: prettier --write

Simplified some code
  internal/log_analysis/log_processor/parsers/awslogs/cloudwatch_events_test.go
  internal/log_analysis/log_processor/parsers/gitlablogs/rails_test.go
Due: none

fix: update pouncejs to ^0.45.1
  package-lock.json
  package.json
Due: prettier --write

Added a show code button, removed tooltip removed copyToClipboard
  web/src/components/forms/TotpForm/TotpForm.tsx
Due: prettier --write, eslint

refactor: change imports from subpath to stable package
  web/src/apollo/cleanParamsLink.ts
  web/src/apollo/createErrorLink.ts
  web/src/components/modals/ResetUserPasswordModal/ResetUserPasswordModal.tsx
  web/src/components/sidesheets/PolicyBulkUploadSidesheet/PolicyBulkUploadSidesheet.tsx
  web/src/hooks/usePolicySuppression.tsx
  web/src/hooks/useResourceRemediation.tsx
Due: prettier --write, eslint
