Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Reverted info output for building dev tools
  tools/mage/build_namespace.go
Due: none

wip: testing new payload schema
  internal/core/alert_delivery/outputs/custom_webhook.go
  internal/core/alert_delivery/outputs/custom_webhook_test.go
Due: none

refactor: custom webhook contains nested data
  internal/core/alert_delivery/outputs/custom_webhook.go
  internal/core/alert_delivery/outputs/custom_webhook_test.go
Due: none

fix: renamed json attribute in struct
  internal/core/alert_delivery/outputs/custom_webhook.go
Due: none

fix: add json attribute to struct
  internal/core/alert_delivery/outputs/custom_webhook.go
Due: none

fix: update json attribute
  internal/core/alert_delivery/outputs/custom_webhook.go
Due: none

Add unit tests
  deployments/panther_config.yml
  internal/log_analysis/awsglue/table_metadata_test.go
  internal/log_analysis/datacatalog_updater/process/sync.go
  internal/log_analysis/datacatalog_updater/process/sync_test.go
Due: none

sadd FadeIn to auth pages
  web/src/components/AuthPageContainer/AuthPageContainer.tsx
  web/src/pages/ForgotPassword/ForgotPassword.tsx
  web/src/pages/ForgotPasswordConfirm/ForgotPasswordConfirm.tsx
  web/src/pages/SignIn/SignIn.tsx
Due: prettier --write, eslint

update comment
  internal/log_analysis/datacatalog_updater/process/sync_test.go
Due: none

Fix json tag
  internal/log_analysis/datacatalog_updater/process/sync.go
Due: none

WIP on header & navbar
  package-lock.json
  package.json
  web/src/components/Breadcrumbs/Breadcrumbs.tsx
  web/src/components/Header/Header.tsx
  web/src/components/Layout/Layout.tsx
  web/src/components/Navigation/ComplianceNavigation.tsx
  web/src/components/Navigation/LogAnalysisNavigation.tsx
  web/src/components/Navigation/NavIconButton.tsx
  web/src/components/Navigation/NavLink.tsx
  web/src/components/Navigation/Navigation.tsx
  web/src/components/Navigation/SettingsNavigation.tsx
  web/src/components/utils/FadeInTrail/FadeInTrail.tsx
  web/src/components/utils/FadeInTrail/index.tsx
  web/src/routes.tsx
Due: prettier --write, eslint

add animation to navbar
  web/src/components/Navigation/ComplianceNavigation.tsx
  web/src/components/Navigation/LogAnalysisNavigation.tsx
  web/src/components/Navigation/Navigation.tsx
  web/src/components/Navigation/SettingsNavigation.tsx
Due: prettier --write, eslint

Updated prettier
  .prettierrc
  package-lock.json
  package.json
  web/src/components/forms/AsanaDestinationForm/AsanaDestinationForm.tsx
  web/src/components/forms/CompanyInformationForm/CompanyInformationForm.tsx
  web/src/components/forms/ForgotPasswordForm/ForgotPasswordForm.tsx
  web/src/components/forms/JiraDestinationForm/JiraDestination.tsx
  web/src/components/forms/MicrosoftTeamsDestinationForm/MicrosoftTeamsDestinationForm.tsx
  web/src/components/forms/PagerdutyDestinationForm/PagerdutyDestinationForm.tsx
  web/src/components/forms/RuleForm/RuleForm.tsx
  web/src/components/forms/SigninForm/SigninForm.tsx
  web/src/components/forms/SlackDestinationForm/SlackDestinationForm.tsx
  web/src/components/forms/SqsDestinationForm/SqsDestinationForm.tsx
  web/src/components/wizards/S3LogSourceWizard/S3LogSourceWizard.tsx
Due: prettier --write, eslint

Remove default value
  .prettierrc
Due: none

initial landing pass
  web/src/components/Header/Header.tsx
  web/src/pages/Landing/Landing.tsx
Due: prettier --write, eslint

Update runbooks.md
  docs/gitbook/operations/runbooks.md
Due: prettier --write

Fix comment
  internal/log_analysis/awsglue/table_metadata.go
Due: none

Minor tidy, mv wg.Done() to a defer in sync go routine for clarity of code
  internal/log_analysis/awsglue/table_metadata.go
Due: none

fix Sidesheet
  package-lock.json
  package.json
  web/src/components/sidesheets/AddDestinationSidesheet/AddDestinationSidesheet.tsx
  web/src/components/sidesheets/EditAccountSidesheet/EditAccountSidesheet.tsx
  web/src/components/sidesheets/EditUserSidesheet/EditUserSidesheet.tsx
  web/src/components/sidesheets/PolicyBulkUploadSidesheet/PolicyBulkUploadSidesheet.tsx
  web/src/components/sidesheets/SelectDestinationSidesheet/SelectDestinationSidesheet.tsx
  web/src/components/sidesheets/UpdateDestinationSidesheet/UpdateDestinationSidesheet.tsx
  web/src/components/sidesheets/UserInvitationSidesheet/UserInvitationSidesheet.tsx
  web/src/components/utils/Sidesheet/SidesheetManager.tsx
Due: prettier --write, eslint

refactor: custom payload
  internal/core/alert_delivery/outputs/custom_webhook.go
  internal/core/alert_delivery/outputs/custom_webhook_test.go
  internal/core/alert_delivery/outputs/outputs.go
Due: none

fix: spacing in description
  internal/core/alert_delivery/outputs/asana_test.go
  internal/core/alert_delivery/outputs/custom_webhook.go
  internal/core/alert_delivery/outputs/custom_webhook_test.go
  internal/core/alert_delivery/outputs/outputs.go
  internal/core/alert_delivery/outputs/sns_test.go
Due: none

Use `parsers` module instead of `pantherlog` for the changes.
  internal/log_analysis/log_processor/classification/classifier.go
  internal/log_analysis/log_processor/classification/classifier_test.go
  internal/log_analysis/log_processor/classification/parser_queue.go
  internal/log_analysis/log_processor/destinations/destinations.go
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/log_processor/pantherlog/pantherlog.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
  internal/log_analysis/log_processor/parsers/parsers.go
  internal/log_analysis/log_processor/parsers/registry.go
  internal/log_analysis/log_processor/parsers/registry_test.go
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/processor/processor_test.go
  internal/log_analysis/log_processor/registry/registry.go
Due: none

Remove duplicate licence block.
  internal/log_analysis/log_processor/jsonutil/jsonutil_test.go
  internal/log_analysis/log_processor/parsers/juniperlogs/access.go
  internal/log_analysis/log_processor/parsers/juniperlogs/access_test.go
  internal/log_analysis/log_processor/parsers/juniperlogs/audit.go
  internal/log_analysis/log_processor/parsers/juniperlogs/audit_test.go
  internal/log_analysis/log_processor/parsers/juniperlogs/firewall.go
  internal/log_analysis/log_processor/parsers/juniperlogs/firewall_test.go
  internal/log_analysis/log_processor/parsers/juniperlogs/juniperlogs.go
  internal/log_analysis/log_processor/parsers/juniperlogs/juniperlogs_test.go
  internal/log_analysis/log_processor/parsers/juniperlogs/mws.go
  internal/log_analysis/log_processor/parsers/juniperlogs/mws_test.go
  internal/log_analysis/log_processor/parsers/juniperlogs/postgres.go
  internal/log_analysis/log_processor/parsers/juniperlogs/postgres_test.go
  internal/log_analysis/log_processor/parsers/juniperlogs/security.go
  internal/log_analysis/log_processor/parsers/juniperlogs/security_test.go
  internal/log_analysis/log_processor/registry/registry.go
  web/src/constants.ts
Due: prettier --write, eslint

Remove duplicate licence block.
  internal/core/source_api/api/utils.go
  pkg/awssqs/permissions.go
Due: none

Panic on duplicate CustomMapping registration
  internal/log_analysis/awsglue/schema.go
Due: none

Updates for multiple Global modules
  api/graphql/schema.graphql
  deployments/appsync.yml
  web/__generated__/schema.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormCoreFields/BaseRuleFormCoreFields.tsx
  web/src/components/forms/GlobalModuleForm/GlobalModuleForm.tsx
  web/src/graphql/fragments/GlobalModuleTeaser.generated.ts
  web/src/graphql/fragments/GlobalModuleTeaser.graphql
  web/src/helpers/utils.tsx
  web/src/pages/CreateGlobalPythonModule/CreateGlobalPythonModule.tsx
  web/src/pages/CreateGlobalPythonModule/graphql/createGlobalPythonModule.generated.ts
  web/src/pages/CreateGlobalPythonModule/graphql/createGlobalPythonModule.graphql
  web/src/pages/EditGlobaModule/EditGlobalModule.tsx
  web/src/pages/ListGlobalModules/GlobalItem/GlobalItem.tsx
  web/src/pages/ListGlobalModules/GlobalItem/index.tsx
  web/src/pages/ListGlobalModules/ListGlobalModules.tsx
  web/src/pages/ListGlobalModules/graphql/listGlobalModules.generated.ts
  web/src/pages/ListGlobalModules/graphql/listGlobalModules.graphql
  web/src/routes.tsx
  web/src/urls.ts
Due: prettier --write, eslint

Fixed error on schema
  web/__generated__/schema.tsx
Due: prettier --write, eslint

fix animations & props on modals & sidesheets
  web/src/components/Navigation/LogAnalysisNavigation.tsx
  web/src/components/Navigation/NavLink.tsx
  web/src/components/modals/AnalyticsConsentModal/AnalyticsConsentModal.tsx
  web/src/components/modals/ConfirmModal/ConfirmModal.tsx
  web/src/components/modals/DeleteComplianceSourceModal/DeleteComplianceSourceModal.tsx
  web/src/components/modals/DeleteDestinationModal/DeleteDestinationModal.tsx
  web/src/components/modals/DeleteLogSourceModal/DeleteLogSourceModal.tsx
  web/src/components/modals/DeletePolicyModal/DeletePolicyModal.tsx
  web/src/components/modals/DeleteRuleModal/DeleteRuleModal.tsx
  web/src/components/modals/DeleteTestModal/DeleteTestModal.tsx
  web/src/components/modals/DeleteUserModal/DeleteUserModal.tsx
  web/src/components/modals/NetworkErrorModal/NetworkErrorModal.tsx
  web/src/components/modals/OptimisticConfirmModal/OptimisticConfirmModal.tsx
  web/src/components/modals/ResetUserPasswordModal/ResetUserPasswordModal.tsx
  web/src/components/sidesheets/AddDestinationSidesheet/AddDestinationSidesheet.tsx
  web/src/components/sidesheets/EditAccountSidesheet/EditAccountSidesheet.tsx
  web/src/components/sidesheets/EditUserSidesheet/EditUserSidesheet.tsx
  web/src/components/sidesheets/PolicyBulkUploadSidesheet/PolicyBulkUploadSidesheet.tsx
  web/src/components/sidesheets/UpdateDestinationSidesheet/UpdateDestinationSidesheet.tsx
  web/src/components/sidesheets/UserInvitationSidesheet/UserInvitationSidesheet.tsx
  web/src/components/utils/Modal/ModalContext.tsx
  web/src/components/utils/Modal/ModalManager.tsx
  web/src/components/utils/Sidesheet/SidesheetContext.tsx
  web/src/components/utils/Sidesheet/SidesheetManager.tsx
  web/src/pages/SignIn/SignIn.tsx
Due: prettier --write, eslint

Added DeleteGlobalModal
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/components/modals/DeleteGlobalModal/DeleteGlobalModal.tsx
  web/src/components/modals/DeleteGlobalModal/graphql/deleteGlobalModule.generated.ts
  web/src/components/modals/DeleteGlobalModal/graphql/deleteGlobalModule.graphql
  web/src/components/modals/DeleteGlobalModal/index.tsx
  web/src/components/utils/Modal/ModalContext.tsx
  web/src/components/utils/Modal/ModalManager.tsx
  web/src/pages/ListGlobalModules/GlobalItem/GlobalItem.tsx
Due: prettier --write, eslint

Cleanup
  web/src/pages/ListGlobalModules/LogSourceTable/LogSourceHealthIcon/LogSourceHealthIcon.tsx
  web/src/pages/ListGlobalModules/LogSourceTable/LogSourceHealthIcon/index.tsx
  web/src/pages/ListGlobalModules/LogSourceTable/LogSourceTable.tsx
  web/src/pages/ListGlobalModules/LogSourceTable/LogSourceTableRowOptions/LogSourceTableRowOptions.tsx
  web/src/pages/ListGlobalModules/LogSourceTable/LogSourceTableRowOptions/index.tsx
  web/src/pages/ListGlobalModules/LogSourceTable/index.tsx
  web/src/urls.ts
Due: prettier --write, eslint

initial pass on overview page
  package-lock.json
  package.json
  web/src/components/CirclePlaceholder/CirclePlaceholder.tsx
  web/src/components/CirclePlaceholder/index.tsx
  web/src/components/Panel/Panel.tsx
  web/src/components/Panel/PanelPlaceholder.tsx
  web/src/components/SeverityBadge/SeverityBadge.tsx
  web/src/components/TablePlaceholder/TablePlaceholder.tsx
  web/src/components/charts/BarChart/BarChart.tsx
  web/src/components/charts/ChartSummary/ChartSummary.tsx
  web/src/constants.ts
  web/src/helpers/utils.tsx
  web/src/pages/ComplianceOverview/BarChartWrapper/BarChartWrapper.tsx
  web/src/pages/ComplianceOverview/BarChartWrapper/index.tsx
  web/src/pages/ComplianceOverview/ComplianceOverview.tsx
  web/src/pages/ComplianceOverview/Skeleton/Skeleton.tsx
  web/src/pages/ComplianceOverview/TopFailingPoliciesTable/TopFailingPoliciesTable.tsx
Due: prettier --write, eslint

initial pass on account sidesheet
  web/src/components/forms/AnalyticsConsentForm/ErrorReportingSection.tsx
  web/src/components/forms/ChangePasswordForm/ChangePasswordForm.tsx
  web/src/components/forms/EditProfileForm/EditProfileForm.tsx
  web/src/components/sidesheets/EditAccountSidesheet/EditAccountSidesheet.tsx
Due: prettier --write, eslint

Use a separate module for log type definition and registration to avoid cyclic dependencies.
  internal/log_analysis/awsglue/schema.go
  internal/log_analysis/gluetables/gluetables_test.go
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/log_processor/parsers/apachelogs/apachelogs.go
  internal/log_analysis/log_processor/parsers/awslogs/awslogs.go
  internal/log_analysis/log_processor/parsers/fluentdsyslogs/fluentdsyslogs.go
  internal/log_analysis/log_processor/parsers/gcplogs/gcplogs.go
  internal/log_analysis/log_processor/parsers/gitlablogs/gitlablogs.go
  internal/log_analysis/log_processor/parsers/numerics/numerics.go
  internal/log_analysis/log_processor/parsers/osquerylogs/osquerylogs.go
  internal/log_analysis/log_processor/parsers/osseclogs/osseclogs.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
  internal/log_analysis/log_processor/parsers/parsers.go
  internal/log_analysis/log_processor/parsers/suricatalogs/suricatalogs.go
  internal/log_analysis/log_processor/parsers/sysloglogs/syslogs.go
  internal/log_analysis/log_processor/parsers/timestamp/timestamp.go
  internal/log_analysis/log_processor/parsers/zeeklogs/zeeklogs.go
  internal/log_analysis/log_processor/registry/registry.go
  internal/log_analysis/logtypes/logtypes.go
  internal/log_analysis/logtypes/registry.go
  internal/log_analysis/logtypes/registry_test.go
  web/__generated__/schema.tsx
Due: prettier --write, eslint

Fix typo in test name
  internal/log_analysis/datacatalog_updater/process/integration_test.go
Due: none

Add generated tsx file
  web/__generated__/schema.tsx
Due: prettier --write, eslint

refactor: webhook struct
  internal/core/alert_delivery/models/api.go
  internal/core/alert_delivery/outputs/custom_webhook.go
  internal/core/alert_delivery/outputs/custom_webhook_test.go
  internal/core/alert_delivery/outputs/outputs.go
Due: none

fix: comments
  internal/core/alert_delivery/outputs/custom_webhook.go
Due: none

fix: remove deprecated ts-ignore, new prettier formatting
  web/src/components/forms/CustomWebhookDestinationForm/CustomWebhookDestinationForm.tsx
Due: prettier --write, eslint

More human-readable stack params, remove timestamp build check, fix url
  deployments/bootstrap.yml
  deployments/master.yml
  tools/mage/build_namespace.go
  tools/mage/master_namespace.go
Due: none

Add severity filter, sort by title
  api/lambda/alerts/models/api.go
  internal/log_analysis/alerts_api/api/get_alert_test.go
  internal/log_analysis/alerts_api/api/list_alerts.go
  internal/log_analysis/alerts_api/api/list_alerts_test.go
  internal/log_analysis/alerts_api/table/list.go
  internal/log_analysis/alerts_api/table/table.go
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
