Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Check existing user emails on UserForm validation
  web/src/components/forms/UserForm/UserForm.tsx
Due: prettier --write, eslint

add custom Panther theme to Editor & enable autocomplete
  web/src/components/Editor/Editor.tsx
  web/src/components/Editor/theme.ts
  web/src/config.ts
Due: prettier --write, eslint

wip: aside sidebar
  web/src/pages/SQLShell/DatabaseBrowser/DatabaseBrowser.tsx
  web/src/pages/SQLShell/DatabaseBrowser/graphql/listLogDatabases.generated.ts
  web/src/pages/SQLShell/DatabaseBrowser/graphql/listLogDatabases.graphql
  web/src/pages/SQLShell/DatabaseBrowser/index.tsx
  web/src/pages/SQLShell/SQLEditor/SQLEditor.tsx
  web/src/pages/SQLShell/SQLEditor/index.tsx
  web/src/pages/SQLShell/SQLShell.tsx
Due: prettier --write, eslint

Checkpoint work adding athena step function
  api/lambda/database/models/api.go
  deployments/core.yml
  internal/core/database_api/athena/driver/api/api.go
  internal/core/database_api/athena/driver/api/integration_test.go
  internal/core/database_api/athena/driver/api/invoke.go
  internal/core/database_api/athena/driver/api/steps.go
  pkg/genericapi/invoke.go
Due: none

Fix error handling for 404 in compliance alert processor
  internal/compliance/alert_processor/processor/processor.go
Due: none

Rename athena step function
  deployments/core.yml
  docs/gitbook/operations/runbooks.md
  internal/core/database_api/athena/driver/api/steps.go
Due: prettier --write

Changes in routes for Settings
  web/src/routes.tsx
  web/src/urls.ts
Due: prettier --write, eslint

Add support to generate alarms forn step function errors
  tools/cfngen/cloudwatchcf/alarms.go
  tools/cfngen/cloudwatchcf/alarms_sfn.go
  tools/cfngen/cloudwatchcf/testdata/cf.yml
  tools/cfngen/cloudwatchcf/testdata/generated_test_alarms.json
Due: prettier --write

Fix bug in sfn alarm generation
  tools/cfngen/cloudwatchcf/alarms_sfn.go
  tools/cfngen/cloudwatchcf/testdata/generated_test_alarms.json
Due: prettier --write

[docs] reorganize top level
  docs/gitbook/SUMMARY.md
  docs/gitbook/historical-search/README.md
  docs/gitbook/policies/automatic-remediation/aws/README.md
  docs/gitbook/policies/policies/aws/README.md
Due: prettier --write

[docs] rule workflow edits
  docs/gitbook/log-analysis/rules/README.md
Due: prettier --write

[docs] security/privacy pr feedback
  docs/gitbook/security-privacy.md
Due: prettier --write

[docs] bump version to 1.0.1
  docs/gitbook/development.md
  docs/gitbook/quick-start.md
Due: prettier --write

added blurb about end user responsibilities for security
  docs/gitbook/security-privacy.md
Due: prettier --write

moved the threat model to its own section
  docs/gitbook/security-privacy.md
Due: prettier --write

Checkpoint notification work
  api/lambda/database/models/api.go
  deployments/core.yml
  internal/core/database_api/athena/driver/api/appsync.go
  internal/core/database_api/athena/driver/api/glue.go
  internal/core/database_api/athena/driver/api/integration_test.go
  internal/core/database_api/athena/driver/api/invoke.go
  internal/core/database_api/athena/driver/api/steps.go
Due: none

In progress
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/models.go
  internal/log_analysis/alert_forwarder/main/lambda.go
Due: none

Did initial refactoring of code
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder_test.go
  internal/log_analysis/alert_forwarder/forwarder/models.go
  internal/log_analysis/alert_forwarder/forwarder/models_test.go
  internal/log_analysis/alert_forwarder/main/lambda.go
  pkg/testutils/awsmocks.go
Due: none

Removed severity from rules-engine
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder_test.go
  internal/log_analysis/alert_forwarder/forwarder/models.go
  internal/log_analysis/alert_forwarder/forwarder/models_test.go
Due: none

Fixing permissions issues
  deployments/log_analysis.yml
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/models.go
Due: none

removed references to severity from rules engine
  internal/log_analysis/rules_engine/src/__init__.py
  internal/log_analysis/rules_engine/src/alert_merger.py
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/src/output.py
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_engine.py
  internal/log_analysis/rules_engine/tests/test_output.py
  internal/log_analysis/rules_engine/tests/test_rule.py
Due: none

Fixed python test failures
  internal/log_analysis/rules_engine/src/alert_merger.py
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_output.py
  internal/log_analysis/rules_engine/tests/test_rule.py
Due: none

Added unit tests
  api/lambda/alerts/models/api.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder_test.go
  internal/log_analysis/alert_forwarder/forwarder/models.go
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/api/get_alert_test.go
  internal/log_analysis/alerts_api/table/table.go
Due: none

Added unit tests
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder_test.go
  internal/log_analysis/alert_forwarder/forwarder/models_test.go
  internal/log_analysis/alert_forwarder/main/lambda.go
  pkg/testutils/awsmocks.go
Due: none

Composing structs
  api/lambda/alerts/models/api.go
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/api/get_alert_test.go
  internal/log_analysis/alerts_api/api/list_alerts.go
  internal/log_analysis/alerts_api/api/list_alerts_test.go
  internal/log_analysis/alerts_api/table/table.go
Due: none

Made Rule Display Name optional
  api/lambda/alerts/models/api.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder_test.go
  internal/log_analysis/alert_forwarder/forwarder/models.go
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/api/get_alert_test.go
  internal/log_analysis/alerts_api/table/table.go
Due: none

Added extra checks
  api/lambda/alerts/models/api.go
  internal/log_analysis/alert_forwarder/main/lambda.go
Due: none

Removing pointer from embedded struct
  api/lambda/alerts/models/api.go
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/api/get_alert_test.go
Due: none

Replace overview with home for Settings navigation
  web/src/components/Navigation/Navigation.tsx
  web/src/urls.ts
Due: prettier --write, eslint

Updated standby policy to cache-first
  web/src/components/forms/UserForm/UserForm.tsx
Due: prettier --write, eslint

Updating tests to verify extra scenarios
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder_test.go
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/api/get_alert_test.go
  internal/log_analysis/alerts_api/api/list_alerts_test.go
Due: none

Change schema for resetUserPassword to fetch User object
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/components/modals/ResetUserPasswordModal/graphql/resetUserPassword.generated.ts
  web/src/components/modals/ResetUserPasswordModal/graphql/resetUserPassword.graphql
Due: prettier --write, eslint

create v1 of sidebar
  web/__generated__/schema.tsx
  web/src/pages/SQLShell/Browser/Browser.tsx
  web/src/pages/SQLShell/Browser/BrowserContext.tsx
  web/src/pages/SQLShell/Browser/ColumnList.tsx
  web/src/pages/SQLShell/Browser/ColumnListItem.tsx
  web/src/pages/SQLShell/Browser/DatabaseSelector.tsx
  web/src/pages/SQLShell/Browser/TableList.tsx
  web/src/pages/SQLShell/Browser/TableListItem.tsx
  web/src/pages/SQLShell/Browser/graphql/listColumnsForTable.generated.ts
  web/src/pages/SQLShell/Browser/graphql/listColumnsForTable.graphql
  web/src/pages/SQLShell/Browser/graphql/listLogDatabases.generated.ts
  web/src/pages/SQLShell/Browser/graphql/listLogDatabases.graphql
  web/src/pages/SQLShell/Browser/graphql/listTablesForDatabase.generated.ts
  web/src/pages/SQLShell/Browser/graphql/listTablesForDatabase.graphql
  web/src/pages/SQLShell/Browser/index.tsx
  web/src/pages/SQLShell/DatabaseBrowser/DatabaseBrowser.tsx
  web/src/pages/SQLShell/DatabaseBrowser/index.tsx
  web/src/pages/SQLShell/SQLShell.tsx
Due: prettier --write, eslint

add search component
  web/src/pages/SQLShell/Browser/Browser.tsx
  web/src/pages/SQLShell/Browser/BrowserContext.tsx
  web/src/pages/SQLShell/Browser/ColumnList.tsx
  web/src/pages/SQLShell/Browser/Search.tsx
  web/src/pages/SQLShell/Browser/TableList.tsx
Due: prettier --write, eslint

Enterprise docs
  docs/gitbook/SUMMARY.md
  docs/gitbook/enterprise/README.md
  docs/gitbook/enterprise/rbac.md
  docs/img/rbac-default-roles.png
  docs/img/rbac-role-edit.png
Due: prettier --write

Change default Python bodies
  web/src/constants.ts
Due: prettier --write, eslint

Add AWS region and account ID to general settings view
  web/src/pages/GeneralSettings/GeneralSettings.tsx
Due: prettier --write, eslint

Update Go modules
  go.mod
  go.sum
Due: none

Fix padding
  web/src/pages/GeneralSettings/GeneralSettings.tsx
Due: prettier --write, eslint

Add appsync support to receieve notifications from athena query completions
  api/graphql/schema.graphql
  api/lambda/database/models/api.go
  deployments/appsync.yml
  deployments/core.yml
  internal/core/database_api/athena/driver/api/appsync.go
  internal/core/database_api/athena/driver/api/integration_test.go
Due: none
