Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

test (#38)
  .github/workflows/main.yml
Due: none

change workdir (#39)
  .github/workflows/main.yml
Due: none

add mage setup (#40)
  .github/workflows/main.yml
Due: none

fix: change ENV syntax
  .github/workflows/main.yml
Due: none

3nvi master2 (#41)
  .github/workflows/main.yml
Due: none

attempt fix (#42)
  .github/workflows/main.yml
Due: none

duplicate ENVs (#43)
  .github/workflows/main.yml
Due: none

hardcode `src` (#44)
  .github/workflows/main.yml
Due: none

attempt to cache GO files
  .github/workflows/main.yml
Due: none

3nvi master2 (#45)
  .github/workflows/main.yml
Due: none

fix: path
  .github/workflows/main.yml
Due: none

3nvi master2 (#46)
  .github/workflows/main.yml
Due: none

Update README.md (#47)
  README.md
Due: prettier --write

cleanup
  .github/workflows/main.yml
  README.md
  build/actions/pr_sync/dist/index.js
Due: prettier --write, eslint

chore: run build
  build/actions/pr_sync/dist/index.js
Due: prettier --write, eslint

fix: tooltip positioning
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
Due: prettier --write, eslint

fix: issue with multiple requests firing
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.test.tsx
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
Due: prettier --write, eslint

chore: add missing license header
  build/actions/pr_sync/dist/index.js
Due: prettier --write, eslint

fix: change default target repo
  .github/workflows/main.yml
Due: none

Adds parsers for Gravitational.TeleportAudit
  cmd/devtools/pantherlog/pantherlog/main.go
  internal/log_analysis/awsglue/quirks.go
  internal/log_analysis/log_processor/logtypes/logtypes.go
  internal/log_analysis/log_processor/logtypes/registry.go
  internal/log_analysis/log_processor/pantherlog/meta.go
  internal/log_analysis/log_processor/pantherlog/result.go
  internal/log_analysis/log_processor/pantherlog/scanners.go
  internal/log_analysis/log_processor/parsers/gravitationallogs/audit.go
  internal/log_analysis/log_processor/parsers/gravitationallogs/audit_test.go
  internal/log_analysis/log_processor/parsers/gravitationallogs/testdata/telelport_audit_samples.jsonl
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
  internal/log_analysis/log_processor/registry/registry.go
  web/src/constants.ts
Due: prettier --write, eslint

Remove jsonutil module
  internal/log_analysis/awsglue/quirks.go
  internal/log_analysis/log_processor/jsonutil/jsonutil.go
  internal/log_analysis/log_processor/pantherlog/null/boolean.go
  internal/log_analysis/log_processor/pantherlog/null/float32.go
  internal/log_analysis/log_processor/pantherlog/null/float64.go
  internal/log_analysis/log_processor/pantherlog/null/int16.go
  internal/log_analysis/log_processor/pantherlog/null/int32.go
  internal/log_analysis/log_processor/pantherlog/null/int64.go
  internal/log_analysis/log_processor/pantherlog/null/int8.go
  internal/log_analysis/log_processor/pantherlog/null/null.go
  internal/log_analysis/log_processor/pantherlog/null/uint16.go
  internal/log_analysis/log_processor/pantherlog/null/uint32.go
  internal/log_analysis/log_processor/pantherlog/null/uint64.go
  internal/log_analysis/log_processor/pantherlog/null/uint8.go
  internal/log_analysis/log_processor/pantherlog/renamefields/renamefields.go
  internal/log_analysis/log_processor/pantherlog/renamefields/renamefields_test.go
Due: none

fix: issue with badge collapsing into two lines.
  web/src/pages/ListAlerts/ListAlertsTable/ListAlertsTable.tsx
  web/src/pages/LogAnalysisOverview/AlertsTable/AlertsTable.tsx
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
  web/src/pages/LogAnalysisOverview/graphql/getTopAlerts.generated.ts
  web/src/pages/LogAnalysisOverview/graphql/getTopAlerts.graphql
Due: prettier --write, eslint

fix: issue with syncing of milestones
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

fix: typo
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

fix: colors in charts
  web/src/components/charts/TimeSeriesChart/colors.ts
Due: prettier --write, eslint

fix: remove duplicate colors
  web/src/components/charts/TimeSeriesChart/colors.ts
Due: prettier --write, eslint

feat: add custom tooltip
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
  web/src/helpers/utils.tsx
Due: prettier --write, eslint

feat: update page icons
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
Due: prettier --write, eslint

chore: mage fmt
  build/actions/pr_sync/dist/index.js
Due: prettier --write, eslint

Restrict `tcodec` to `time.Time` values.
  internal/log_analysis/log_processor/pantherlog/tcodec/extension.go
  internal/log_analysis/log_processor/pantherlog/tcodec/extension_test.go
  internal/log_analysis/log_processor/pantherlog/tcodec/tcodec.go
  internal/log_analysis/log_processor/pantherlog/tcodec/tcodec_test.go
Due: none

Fix tcodec.StdCodec() and lint issues
  cmd/devtools/pantherlog/pantherlog/main.go
  internal/log_analysis/awsglue/quirks.go
  internal/log_analysis/log_processor/pantherlog/tcodec/extension.go
  internal/log_analysis/log_processor/pantherlog/tcodec/tcodec.go
Due: none

Add a TimeDecoder that tries multiple TimeDecoders to decode a timestamp.
  internal/log_analysis/awsglue/quirks.go
  internal/log_analysis/log_processor/pantherlog/tcodec/tcodec.go
  internal/log_analysis/log_processor/pantherlog/tcodec/tcodec_test.go
Due: none

wip: ci passes
  api/lambda/alerts/models/api.go
  internal/core/alert_delivery/delivery/dispatch.go
  internal/core/alert_delivery/outputs/errors.go
  internal/core/alert_delivery/outputs/post_test.go
  internal/log_analysis/alerts_api/api/get_alert_test.go
  internal/log_analysis/alerts_api/api/list_alerts.go
  internal/log_analysis/alerts_api/api/list_alerts_test.go
  internal/log_analysis/alerts_api/api/update_alert_delivery.go
  internal/log_analysis/alerts_api/api/update_alert_delivery_test.go
  internal/log_analysis/alerts_api/api/update_alert_status.go
  internal/log_analysis/alerts_api/api/update_alert_status_test.go
  internal/log_analysis/alerts_api/table/table.go
  internal/log_analysis/alerts_api/table/update_alert.go
Due: none

Fix wrong dir for tools in fmt_license.go, update tools
  cmd/devtools/logprocessor/logprocessor/main.go
  cmd/opstools/gluesync/gluesync/main.go
  cmd/opstools/requeue/integration_test.go
  cmd/opstools/requeue/requeue.go
  cmd/opstools/requeue/requeue/main.go
  cmd/opstools/s3queue/integration_test.go
  cmd/opstools/s3queue/s3queue.go
  cmd/opstools/s3queue/s3queue/main.go
  cmd/opstools/s3queue/s3queue_test.go
  cmd/opstools/testutils/testutils.go
  tools/mage/fmt_license.go
Due: none

fix processor tests
  internal/core/metrics_api/api/log_processor_metrics.go
  internal/log_analysis/log_processor/classification/classifier_test.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/processor/processor_test.go
Due: none

wip: changing retry mechanism
  api/lambda/delivery/models/api.go
  internal/compliance/alert_forwarder/forwarder/forwarder.go
  internal/compliance/alert_forwarder/forwarder/forwarder_test.go
  internal/compliance/alert_forwarder/main/lambda.go
  internal/compliance/alert_processor/processor/processor.go
  internal/core/alert_delivery/api/api.go
  internal/core/alert_delivery/delivery/delivery_test.go
  internal/core/alert_delivery/delivery/dispatch.go
  internal/core/alert_delivery/delivery/dispatch_test.go
  internal/core/alert_delivery/delivery/handle.go
  internal/core/alert_delivery/delivery/handle_test.go
  internal/core/alert_delivery/delivery/outputs.go
  internal/core/alert_delivery/delivery/retry.go
  internal/core/alert_delivery/main/lambda.go
  internal/core/alert_delivery/outputs/asana.go
  internal/core/alert_delivery/outputs/asana_test.go
  internal/core/alert_delivery/outputs/custom_webhook_test.go
  internal/core/alert_delivery/outputs/github.go
  internal/core/alert_delivery/outputs/github_test.go
  internal/core/alert_delivery/outputs/jira.go
  internal/core/alert_delivery/outputs/jira_test.go
  internal/core/alert_delivery/outputs/msteams.go
  internal/core/alert_delivery/outputs/msteams_test.go
  internal/core/alert_delivery/outputs/opsgenie.go
  internal/core/alert_delivery/outputs/opsgenie_test.go
  internal/core/alert_delivery/outputs/outputs.go
  internal/core/alert_delivery/outputs/outputs_test.go
  internal/core/alert_delivery/outputs/pagerduty.go
  internal/core/alert_delivery/outputs/pagerduty_test.go
  internal/core/alert_delivery/outputs/slack.go
  internal/core/alert_delivery/outputs/slack_test.go
  internal/core/alert_delivery/outputs/sns.go
  internal/core/alert_delivery/outputs/sns_test.go
  internal/core/alert_delivery/outputs/sqs.go
  internal/core/alert_delivery/outputs/sqs_test.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder_test.go
Due: none

fixed comment
  internal/core/metrics_api/api/log_processor_metrics.go
Due: none

fixed formatting
  internal/core/metrics_api/api/log_processor_metrics.go
Due: none

fix: rollback boolean flags in favor of redesign
  api/lambda/delivery/models/api.go
  internal/core/alert_delivery/delivery/dispatch.go
  internal/core/alert_delivery/delivery/handle.go
Due: none

refactor: rename `Destinations` page to `ListDestinations`
  web/src/components/forms/BaseRuleForm/useListAvailableDestinations.tsx
  web/src/components/sidesheets/AddDestinationSidesheet/ChooseDestinationScreen/ChooseDestinationScreen.tsx
  web/src/components/sidesheets/AddDestinationSidesheet/DestinationCard/DestinationCard.tsx
  web/src/components/sidesheets/AddDestinationSidesheet/DestinationCard/index.tsx
  web/src/pages/ListDestinations/CreateButton/CreateButton.tsx
  web/src/pages/ListDestinations/CreateButton/index.tsx
  web/src/pages/ListDestinations/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListDestinations/EmptyDataFallback/index.tsx
  web/src/pages/ListDestinations/ListDestinations.tsx
  web/src/pages/ListDestinations/ListDestinationsTable/ListDestinationsTable.tsx
  web/src/pages/ListDestinations/ListDestinationsTable/ListDestinationsTableRowOptions/ListDestinationsTableRowOptions.tsx
  web/src/pages/ListDestinations/ListDestinationsTable/ListDestinationsTableRowOptions/index.tsx
  web/src/pages/ListDestinations/ListDestinationsTable/index.tsx
  web/src/pages/ListDestinations/Skeleton/Skeleton.tsx
  web/src/pages/ListDestinations/Skeleton/index.tsx
  web/src/pages/ListDestinations/graphql/listDestinationsAndDefaults.generated.ts
  web/src/pages/ListDestinations/graphql/listDestinationsAndDefaults.graphql
  web/src/pages/ListDestinations/index.tsx
  web/src/routes.tsx
Due: prettier --write, eslint
