Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Refactor log analysis sns code to prepare for s3sns opstool
  deployments/log_analysis.yml
  internal/compliance/aws_event_processor/processor/handler.go
  internal/log_analysis/datacatalog_updater/process/process.go
  internal/log_analysis/datacatalog_updater/process/process_test.go
  internal/log_analysis/datacatalog_updater/process/s3notification.go
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/notify/s3.go
  internal/log_analysis/notify/sns.go
Due: none

fix credential generation (#1929)
  internal/compliance/snapshot_poller/pollers/aws/clients.go
Due: none

Mitigate race in creating Athena views
  internal/log_analysis/datacatalog_updater/process/create_tables.go
Due: none

Mitigate race in creating Athena views (#1951)
  internal/log_analysis/datacatalog_updater/process/create_tables.go
Due: none

Update deployment role for athena ddb connector
  deployments/auxiliary/cloudformation/panther-deployment-role.yml
  deployments/auxiliary/terraform/panther_deployment_role/main.tf
Due: none

Fixing typo
  web/src/constants.ts
Due: prettier --write, eslint

Fixing typo (#1954)
  web/src/constants.ts
Due: prettier --write, eslint

Fix schema for logtype entry
  internal/log_analysis/log_processor/parsers/awslogs/awslogs.go
Due: none

Fix schema for cloudtrail logs
  internal/log_analysis/log_processor/parsers/awslogs/awslogs.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/indicators.go
Due: none

Minor imporvements after testing deploys in eu-west-1
  deployments/auxiliary/cloudformation/panther-deployment-role.yml
  deployments/auxiliary/terraform/panther_deployment_role/main.tf
Due: none

Update deployment role for athena ddb connector (#1953)
  deployments/auxiliary/cloudformation/panther-deployment-role.yml
  deployments/auxiliary/terraform/panther_deployment_role/main.tf
Due: none

Addressed PR comments
  internal/log_analysis/log_processor/main/lambda.go
  internal/log_analysis/log_processor/main/lambda_test.go
  internal/log_analysis/log_processor/processor/rescale.go
  internal/log_analysis/log_processor/processor/rescale_test.go
Due: none

Fixing unit test
  internal/log_analysis/log_processor/processor/rescale.go
Due: none

Tidy config for Athena workgroups
  deployments/bootstrap_gateway.yml
Due: none

restore perms
  deployments/cloud_security.yml
Due: none

Respond to PR
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/notify/s3.go
  internal/log_analysis/notify/sns.go
Due: none

Tidy config for Athena workgroups (#1961)
  deployments/bootstrap_gateway.yml
Due: none

Refactoring log pulling
  internal/log_analysis/log_processor/main/lambda.go
  internal/log_analysis/log_processor/main/lambda_test.go
  internal/log_analysis/log_processor/processor/stream.go
  internal/log_analysis/log_processor/processor/stream_test.go
  internal/log_analysis/log_processor/sources/s3.go
  internal/log_analysis/log_processor/sources/s3_test.go
  pkg/awsbatch/sqsbatch/receive_message.go
  pkg/testutils/awsmocks.go
Due: none

Fixing test
  internal/log_analysis/log_processor/processor/rescale_test.go
Due: none

Fixing ddb filtering
  internal/log_analysis/alerts_api/table/list.go
Due: none

fix: empty UI of test section
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestSection/BaseRuleFormTestSection.tsx
Due: prettier --write, eslint

chore: bump pounce
  package-lock.json
  package.json
Due: prettier --write

Fix Datepicker bugs (#1969)
  package-lock.json
  package.json
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestSection/BaseRuleFormTestSection.tsx
Due: prettier --write, eslint

feat: increase lambda mem size
  deployments/log_analysis.yml
Due: none

restore perms (#1962)
  deployments/cloud_security.yml
Due: none

fix: broken redirect after sign-in
  web/src/apollo/createErrorLink.ts
  web/src/components/GuardedRoute/GuardedRoute.tsx
Due: prettier --write, eslint

Quick fix for deploymeny updates
  internal/log_analysis/datacatalog_updater/process/create_tables.go
Due: none

Fix test
  internal/log_analysis/datacatalog_updater/process/create_tables_test.go
Due: none

Fixing ddb filtering (#1967)
  deployments/log_analysis.yml
  internal/log_analysis/alerts_api/table/list.go
Due: none

Move stringset function to pkg/stringset
  internal/log_analysis/datacatalog_updater/process/create_tables.go
  pkg/stringset/stringset.go
  pkg/stringset/stringset_test.go
Due: none

Quick fix for deployment updates (#1975)
  internal/log_analysis/datacatalog_updater/process/create_tables.go
  internal/log_analysis/datacatalog_updater/process/create_tables_test.go
  pkg/stringset/stringset.go
  pkg/stringset/stringset_test.go
Due: none

Fixing unit test race condition
  internal/log_analysis/log_processor/processor/rescale_test.go
Due: none

Updated snapshots
  web/src/pages/LogAnalysisOverview/__snapshots__/LogAnalysisOverview.test.tsx.snap
Due: none

Removed unusable chart snapshot
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.test.tsx
  web/src/pages/LogAnalysisOverview/__snapshots__/LogAnalysisOverview.test.tsx.snap
Due: prettier --write, eslint

Respond to PR
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_engine.py
Due: none

Update component structure
  web/src/components/PanelWithSelection/PanelWithSelection.tsx
  web/src/components/utils/SelectContext/SelectAllCheckbox.tsx
  web/src/components/utils/SelectContext/SelectCheckbox.tsx
  web/src/components/utils/SelectContext/SelectContext.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
Due: prettier --write, eslint

Refactor Panel to handle Selection
  web/src/components/PanelWithSelection/PanelWithSelection.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
  web/src/pages/ListAlerts/ListAlertsActions/index.tsx
Due: prettier --write, eslint

Added comments
  web/src/components/utils/SelectContext/SelectContext.tsx
Due: prettier --write, eslint

Minor fix for padding
  web/src/pages/ListAlerts/ListAlertFilters/ListAlertFilters.tsx
Due: prettier --write, eslint

Fix time related date range offset (#1944)
  package-lock.json
  package.json
  web/src/components/fields/DateRangeInput/DateRangeInput.test.tsx
  web/src/components/fields/DateRangeInput/DateRangeInput.tsx
  web/src/components/fields/DateRangeInput/__snapshots__/DateRangeInput.test.tsx.snap
Due: prettier --write, eslint
