Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Add Sys metric to memory stats logged
  pkg/oplog/oplog.go
  pkg/oplog/oplog_test.go
Due: none

rename `username` param to `email`
  web/src/components/forms/signin-form/index.tsx
  web/src/components/utils/auth-context.tsx
Due: prettier --write, eslint

Prematurely add email attr on authUser instance
  web/src/components/utils/auth-context.tsx
Due: prettier --write, eslint

fix doc typo
  docs/gitbook/privacy/error-reporting.md
Due: prettier --write

Update docs/gitbook/privacy/error-reporting.md
  docs/gitbook/privacy/error-reporting.md
Due: prettier --write

move text in doc
  docs/gitbook/privacy/error-reporting.md
Due: prettier --write

add privacy section in docs
  docs/gitbook/SUMMARY.md
Due: prettier --write

remove IP collection section
  docs/gitbook/privacy/error-reporting.md
Due: prettier --write

Add deployment role
  .gitignore
  deployments/auxiliary/cloudformation/panther-deployment-role.yml
  deployments/auxiliary/terraform/panther-deployment-role.tf
Due: none

Fix TF docs link
  deployments/auxiliary/README.md
  deployments/auxiliary/terraform/README.md
  docs/gitbook/quick-start.md
Due: prettier --write

Fixed some CFN glitches
  deployments/auxiliary/cloudformation/panther-log-processing-notifications.yml
  deployments/auxiliary/cloudformation/panther-stackset-iam-admin-role.yml
Due: none

reeeeeeeee
  deployments/auxiliary/cloudformation/panther-stackset-iam-admin-role.yml
Due: none

fixed unit tests
  deployments/auxiliary/cloudformation/panther-log-processing-infra.yml
  deployments/auxiliary/cloudformation/panther-log-processing-notifications.yml
  deployments/backend.yml
  deployments/compliance/aws_event_processor.yml
  internal/compliance/aws_event_processor/processor/handler.go
  internal/compliance/aws_event_processor/processor/handler_test.go
  internal/log_analysis/log_processor/sources/s3.go
Due: none

Connect Cognito custom message trigger to Lambda function
  deployments/backend.yml
  deployments/core/admin_api.yml
  deployments/core/cognito.yml
  internal/core/custom_message/api/forgot_password.go
  internal/core/custom_message/email/clients.go
  internal/core/custom_message/main/lambda.go
Due: none

[docs] new high-level diagram, custom parser docs, cost page edits
  docs/gitbook/.gitbook/assets/glue-catalog.png
  docs/gitbook/.gitbook/assets/high-level-diagram.png
  docs/gitbook/README.md
  docs/gitbook/SUMMARY.md
  docs/gitbook/cost.md
  docs/gitbook/log-analysis/supported-logs/README.md
  docs/gitbook/log-analysis/supported-logs/writing-parsers.md
  docs/gitbook/operations/ops-home.md
Due: prettier --write

[docs] add new section to SUMMARY
  docs/gitbook/SUMMARY.md
  docs/gitbook/log-analysis/supported-logs/writing-parsers.md
Due: prettier --write

Updated initial analysis sets to always point to latest
  deployments/panther_config.yml
Due: none

[docs] pr feedback
  docs/gitbook/cost.md
Due: prettier --write

Wrap all lambdas with execution logging
  internal/compliance/alert_forwarder/main/lambda.go
  internal/compliance/alert_processor/main/lambda.go
  internal/compliance/aws_event_processor/main/lambda.go
  internal/compliance/aws_event_processor/processor/accounts.go
  internal/compliance/aws_event_processor/processor/handler.go
  internal/compliance/aws_event_processor/processor/handler_test.go
  internal/compliance/remediation_processor/main/lambda.go
  internal/compliance/resource_processor/main/lambda.go
  internal/compliance/resource_processor/processor/handler.go
  internal/compliance/snapshot_poller/pollers/lambda.go
  internal/compliance/snapshot_scheduler/main/handler.go
  internal/core/alert_delivery/main/lambda.go
  internal/core/custom_message/api/event_router.go
  internal/core/custom_message/main/lambda.go
  internal/log_analysis/alerts_api/main/lambda.go
  internal/log_analysis/log_processor/classification/parser_queue.go.save
  internal/log_analysis/log_processor/common/oplog.go
  internal/log_analysis/log_processor/main/lambda.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go.required
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go.save
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go.save
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow_test.go.save
  internal/log_analysis/log_processor/processor/processor.go.save
  internal/log_analysis/log_processor/processor/processor_test.go.save
  pkg/gatewayapi/router.go
  pkg/lambdalogger/logger.go
  pkg/oplog/oplog.go
  pkg/oplog/oplog_test.go
Due: none

Remove files accidently commited
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go.required
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go.save
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go.save
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow_test.go.save
  internal/log_analysis/log_processor/processor/processor.go.save
  internal/log_analysis/log_processor/processor/processor_test.go.save
Due: none

Add/rm files missed in last commit
  internal/log_analysis/log_processor/classification/parser_queue.go.save
  pkg/genericapi/router.go
  pkg/lambdalogger/logger.go
Due: none

Give log-processor permissions to confirm cross-account subscriptions
  deployments/log_analysis/log_processor.yml
Due: none

Fixing permissions
  deployments/log_analysis/log_processor.yml
Due: none

add TS GraphQL hook declarations
  codegen.json
  codegen.yml
  package-lock.json
  package.json
Due: prettier --write

update quick-start docs
  docs/gitbook/quick-start.md
Due: prettier --write

add mage setup:deploy
  tools/mage/setup_namespace.go
Due: none

update docs
  docs/gitbook/quick-start.md
Due: prettier --write

split urls & routes
  web/src/components/modals/delete-policy-modal.tsx
  web/src/components/modals/delete-rule-modal.tsx
  web/src/components/navigation.tsx
  web/src/pages/alert-details/subcomponent/alert-details-info.tsx
  web/src/pages/create-policy/index.tsx
  web/src/pages/create-rule/index.tsx
  web/src/pages/create-source/subcomponents/create-infra-source/index.tsx
  web/src/pages/create-source/subcomponents/create-log-source/index.tsx
  web/src/pages/list-alerts/columns.tsx
  web/src/pages/list-policies/subcomponents/create-button.tsx
  web/src/pages/list-policies/subcomponents/list-policies-table-row-options.tsx
  web/src/pages/list-policies/subcomponents/list-policies-table.tsx
  web/src/pages/list-resources/empty-data-fallback.tsx
  web/src/pages/list-resources/subcomponents/list-resources-table.tsx
  web/src/pages/list-rules/subcomponents/create-button.tsx
  web/src/pages/list-rules/subcomponents/list-rules-table-row-options.tsx
  web/src/pages/list-rules/subcomponents/list-rules-table.tsx
  web/src/pages/list-sources/index.tsx
  web/src/pages/overview/empty-data-fallback.tsx
  web/src/pages/overview/index.tsx
  web/src/pages/policy-details/subcomponents/policy-details-info.tsx
  web/src/pages/policy-details/subcomponents/policy-details-table.tsx
  web/src/pages/resource-details/subcomponents/resource-details-table.tsx
  web/src/pages/rule-details/index.tsx
  web/src/pages/rule-details/subcomponents/rule-details-info.tsx
  web/src/routes.tsx
  web/src/urls.ts
Due: prettier --write, eslint

update navigation without icons
  web/src/components/navigation.tsx
  web/src/components/navigation/compliance-navigation.tsx
  web/src/components/navigation/index.ts
  web/src/components/navigation/log-analysis-navigation.tsx
  web/src/components/navigation/nav-icon-button.tsx
  web/src/components/navigation/nav-link.tsx
  web/src/components/navigation/navigation.tsx
  web/src/components/navigation/settings-navigation.tsx
Due: prettier --write, eslint

fix breadcrumb parsing and overflowing
  web/src/components/breadcrumbs.tsx
  web/src/components/header.tsx
Due: prettier --write, eslint

Addressed PR feedback
  deployments/auxiliary/cloudformation/panther-log-processing-infra.yml
  deployments/auxiliary/cloudformation/panther-log-processing-notifications.yml
  deployments/compliance/aws_event_processor.yml
  internal/compliance/aws_event_processor/processor/accounts.go
  internal/compliance/aws_event_processor/processor/handler.go
Due: none

Linkify runpanther.io
  internal/core/custom_message/email/clients.go
Due: none

Updated audit role permissions
  deployments/auxiliary/cloudformation/panther-compliance-iam.yml
Due: none

Remove swagger from deploy precheck
  docs/gitbook/quick-start.md
  tools/mage/build_namespace.go
  tools/mage/deploy.go
Due: prettier --write

Parser for OSSEC EventInfo logs
  internal/log_analysis/log_processor/parsers/ossec/eventinfo.go
  internal/log_analysis/log_processor/parsers/ossec/eventinfo_test.go
  internal/log_analysis/log_processor/parsers/timestamp/timestamp.go
  internal/log_analysis/log_processor/parsers/timestamp/timestamp_test.go
Due: none

[docs] README section re-organization and wording edits
  README.md
Due: prettier --write

[pr] feedback
  README.md
Due: prettier --write

Added additional permissions
  deployments/auxiliary/cloudformation/panther-compliance-iam.yml
  go.mod
  go.sum
Due: none

Respond to PR
  internal/compliance/remediation_processor/main/lambda.go
  internal/compliance/snapshot_poller/pollers/lambda.go
  internal/core/custom_message/api/event_router.go
  internal/core/organization_api/main/lambda.go
  internal/core/outputs_api/main/lambda.go
  internal/core/users_api/main/lambda.go
  pkg/gatewayapi/router.go
Due: none

Respond to PR
  internal/compliance/snapshot_poller/pollers/lambda.go
Due: none
