Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

optimization and unit tests
  pkg/shutil/hash.go
  tools/mage/build_namespace.go
  tools/mage/test_namespace.go
  tools/mage/util_hash.go
  tools/mage/util_hash_test.go
Due: none

Refactor anthena api integration tests
  internal/core/database_api/athena/testutils/testutils.go
Due: none

Switch to AGPLv3 for everything
  LICENSE
  README.md
  docs/LICENSE_HEADER_APACHE.txt
  tools/mage/fmt_license.go
Due: prettier --write

Update docs and include all web files
  docs/gitbook/development.md
  tools/mage/fmt_license.go
Due: prettier --write

Refactor anthena api integration tests (this time for real)
  internal/core/database_api/athena/driver/api/integration_test.go
  internal/core/database_api/athena/testutils/testutils.go
Due: none

Checkpoint work
  docs/gitbook/operations/runbooks.md
  internal/log_analysis/datacatalog_updater/main/lambda.go
Due: prettier --write

[docs] panther osquery tutorial
  docs/gitbook/.gitbook/assets/tutorials/cloudwatch-metrics.png
  docs/gitbook/.gitbook/assets/tutorials/log-source-config.png
  docs/gitbook/.gitbook/assets/tutorials/osquery-panther.png
  docs/gitbook/SUMMARY.md
  docs/gitbook/tutorials/osquery-log-analysis.md
Due: prettier --write

Checkpoint work
  internal/log_analysis/datacatalog_updater/compaction/compaction_test.go
  internal/log_analysis/datacatalog_updater/compaction/compation.go
  internal/log_analysis/datacatalog_updater/compaction/integration_test.go
Due: none

analysis-api updates
  api/gateway/analysis/api.yml
  api/gateway/analysis/client/operations/create_global_parameters.go
  api/gateway/analysis/client/operations/create_global_responses.go
  api/gateway/analysis/client/operations/delete_globals_parameters.go
  api/gateway/analysis/client/operations/delete_globals_responses.go
  api/gateway/analysis/client/operations/get_global_parameters.go
  api/gateway/analysis/client/operations/get_global_responses.go
  api/gateway/analysis/client/operations/modify_global_parameters.go
  api/gateway/analysis/client/operations/modify_global_responses.go
  api/gateway/analysis/client/operations/operations_client.go
  api/gateway/analysis/models/analysis_type.go
  api/gateway/analysis/models/global.go
  api/gateway/analysis/models/update_global.go
  internal/core/analysis_api/handlers/create_global.go
  internal/core/analysis_api/handlers/delete_global.go
  internal/core/analysis_api/handlers/dynamo.go
  internal/core/analysis_api/handlers/get.go
  internal/core/analysis_api/handlers/modify_global.go
  internal/core/analysis_api/main/lambda.go
Due: none

Add tf fmt and validate
  .circleci/config.yml
  build/ci/Dockerfile
  deployments/auxiliary/README.md
  deployments/auxiliary/terraform/panther_cloudsec_iam/main.tf
  deployments/auxiliary/terraform/panther_deployment_role/main.tf
  deployments/auxiliary/terraform/panther_deployment_role/variables.tf
  go.mod
  go.sum
  tools/mage/fmt.go
  tools/mage/setup.go
  tools/mage/test_namespace.go
Due: prettier --write

Run tf validate with an AWS_REGION
  tools/mage/test_namespace.go
Due: none

Add alert-delivery lambda to dashboards (#678)
  tools/dashboards/alerts.go
  tools/dashboards/overview.go
Due: none

Add missing license header
  deployments/auxiliary/terraform/panther_deployment_role/variables.tf
Due: none

fix camelcase typo
  web/src/apollo/typePolicies.ts
Due: prettier --write, eslint

select first database when no selection is made
  web/src/pages/SQLShell/Browser/DatabaseSelector/DatabaseSelector.tsx
Due: prettier --write, eslint

Invalidated cached Policies & Rules when creating a new
  web/src/pages/CreatePolicy/CreatePolicy.tsx
  web/src/pages/CreateRule/CreateRule.tsx
Due: prettier --write, eslint

Fix for CreateCompliance and CreateLogsource
  web/src/pages/CreateComplianceSource/CreateComplianceSource.tsx
  web/src/pages/CreateLogSource/CreateLogSource.tsx
Due: prettier --write, eslint

Minor rename
  web/src/components/sidesheets/AddDestinationSidesheet/AddDestinationSidesheet.tsx
Due: prettier --write, eslint

Updated AddDestinations
  web/src/components/sidesheets/AddDestinationSidesheet/AddDestinationSidesheet.tsx
  web/src/components/sidesheets/AddDestinationSidesheet/graphql/addDestination.generated.ts
  web/src/components/sidesheets/AddDestinationSidesheet/graphql/addDestination.graphql
Due: prettier --write, eslint

Minor simplify
  web/src/components/sidesheets/AddDestinationSidesheet/AddDestinationSidesheet.tsx
Due: prettier --write, eslint

Improve s3queue: 1) better logging 2) make concurrency a flag
  cmd/opstools/s3queue/integration_test.go
  cmd/opstools/s3queue/s3queue.go
  cmd/opstools/s3queue/s3queue/main.go
  cmd/opstools/s3queue/s3queue_test.go
  pkg/awsbatch/sqsbatch/send_message_batch.go
  pkg/awsbatch/sqsbatch/send_message_batch_test.go
Due: none

Update mage command in operations docs
  docs/gitbook/operations/ops-home.md
Due: prettier --write

Remove QueryID from results struct in athena_api
  api/lambda/database/models/api.go
Due: none

Update graphQL scheam to make userData filter on subscription manditory on queryDone()
  api/graphql/schema.graphql
  internal/core/database_api/athena/driver/api/integration_test.go
  web/__generated__/schema.tsx
Due: prettier --write, eslint

added query execution & result into schema
  api/graphql/schema.graphql
  deployments/appsync.yml
  web/__generated__/schema.tsx
  web/src/pages/SQLShell/Browser/Browser.tsx
  web/src/pages/SQLShell/Browser/index.tsx
  web/src/pages/SQLShell/ResultsTable/ResultsTable.tsx
  web/src/pages/SQLShell/ResultsTable/graphql/getLogQueryResults.generated.ts
  web/src/pages/SQLShell/ResultsTable/graphql/getLogQueryResults.graphql
  web/src/pages/SQLShell/ResultsTable/index.tsx
  web/src/pages/SQLShell/SQLEditor/SQLEditor.tsx
  web/src/pages/SQLShell/SQLEditor/graphql/runQuery.generated.ts
  web/src/pages/SQLShell/SQLEditor/graphql/runQuery.graphql
  web/src/pages/SQLShell/SQLEditor/index.tsx
  web/src/pages/SQLShell/SQLShell.tsx
Due: prettier --write, eslint

Add stack name as tag for all CFN resources
  tools/mage/deploy_template.go
Due: none

Add support for canceling queries in athena api
  api/lambda/database/models/api.go
  deployments/core.yml
  internal/core/database_api/athena/driver/api/athena.go
  internal/core/database_api/athena/driver/api/integration_test.go
  pkg/awsathena/integration_test.go
  pkg/awsathena/query.go
Due: none

[deployments] rename alb and sg
  deployments/bootstrap.yml
Due: none

Remove unused templates, add osquery_firehose tf version
  deployments/auxiliary/README.md
  deployments/auxiliary/cloudformation/osquery-firehose.yml
  deployments/auxiliary/cloudformation/panther-log-processing-infra.yml
  deployments/auxiliary/cloudformation/panther-remediations-iam.yml
  deployments/auxiliary/terraform/osquery_firehose/main.tf
  deployments/auxiliary/terraform/osquery_firehose/variables.tf
Due: prettier --write

Adjust panther-cloudsec-iam tf version
  deployments/auxiliary/terraform/osquery_firehose/main.tf
  deployments/auxiliary/terraform/panther_cloudsec_iam/main.tf
  deployments/auxiliary/terraform/panther_cloudsec_iam/outputs.tf
  deployments/auxiliary/terraform/panther_cloudsec_iam/variables.tf
Due: none

Improve handling of sql errors in athena_api
  api/lambda/database/models/api.go
  internal/core/database_api/athena/driver/api/athena.go
  internal/core/database_api/athena/driver/api/integration_test.go
Due: none

first pass at layer manager
  deployments/core.yml
  docs/gitbook/operations/runbooks.md
  internal/core/analysis_api/handlers/clients.go
  internal/core/analysis_api/handlers/create_global.go
  internal/core/analysis_api/handlers/dynamo.go
  internal/core/analysis_api/handlers/get_enabled_policies.go
  internal/core/analysis_api/handlers/modify_global.go
  internal/core/analysis_api/handlers/sqs.go
  internal/core/analysis_api/handlers/util.go
  internal/core/analysis_api/handlers/util_test.go
  internal/core/layer_manager/main/lambda.go
  internal/core/layer_manager/manager/clients.go
  internal/core/layer_manager/manager/handle.go
Due: prettier --write

Add TF for cloudwatch events and reformat deployment role
  deployments/auxiliary/terraform/osquery_firehose/main.tf
  deployments/auxiliary/terraform/panther_cloudwatch_events/main.tf
  deployments/auxiliary/terraform/panther_cloudwatch_events/variables.tf
  deployments/auxiliary/terraform/panther_deployment_role/main.tf
Due: none

Finish tf translation
  deployments/auxiliary/terraform/panther_log_analysis_iam/main.tf
  deployments/auxiliary/terraform/panther_log_analysis_iam/variables.tf
  deployments/auxiliary/terraform/panther_log_processing_notifications/main.tf
  deployments/auxiliary/terraform/panther_log_processing_notifications/outputs.tf
  deployments/auxiliary/terraform/panther_log_processing_notifications/variables.tf
  deployments/auxiliary/terraform/panther_stackset_iam_admin_role/main.tf
  deployments/auxiliary/terraform/panther_stackset_iam_admin_role/outputs.tf
  deployments/auxiliary/terraform/panther_stackset_iam_admin_role/variables.tf
Due: none

Update deployment image to new CI image
  build/ci/Dockerfile
  build/deployment/Dockerfile
Due: none
