Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Cleaned up code based on feedback.
  internal/compliance/snapshot_poller/models/aws/eks_cluster.go
  internal/compliance/snapshot_poller/pollers/aws/awstest/eks.go
  internal/compliance/snapshot_poller/pollers/aws/eks_cluster.go
  internal/compliance/snapshot_poller/pollers/aws/eks_cluster_test.go
  internal/compliance/snapshot_poller/pollers/aws/poll.go
Due: none

Small comment change to trigger sync again (#1659)
  .golangci.yml
Due: none

mage gen fmt
  internal/compliance/snapshot_poller/pollers/aws/eks_cluster.go
Due: none

fix: c/p typo in analytics
  web/src/pages/ListLogSources/ListLogSources.tsx
Due: prettier --write, eslint

refactor: implement & use `LinkButton`
  web/src/components/buttons/LinkButton/LinkButton.tsx
  web/src/components/buttons/LinkButton/index.tsx
  web/src/components/wizards/ComplianceSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/components/wizards/ComplianceSourceWizard/ValidationPanel/ValidationPanel.tsx
  web/src/components/wizards/S3LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/components/wizards/S3LogSourceWizard/ValidationPanel/ValidationPanel.tsx
  web/src/components/wizards/SqsSourceWizard/ValidationPanel/ValidationPanel.tsx
  web/src/components/wizards/common/DestinationTestPanel/DestinationTestPanel.tsx
  web/src/pages/403/403.tsx
  web/src/pages/404/404.tsx
  web/src/pages/500/500.tsx
  web/src/pages/ComplianceOverview/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/GeneralSettings/GeneralSettings.tsx
  web/src/pages/Landing/Landing.tsx
  web/src/pages/ListComplianceSources/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListComplianceSources/ListComplianceSources.tsx
  web/src/pages/ListDestinations/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListDestinations/ListDestinations.tsx
  web/src/pages/ListGlobalPythonModules/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListGlobalPythonModules/ListGlobalPythonModules.tsx
  web/src/pages/ListLogSources/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListLogSources/ListLogSources.tsx
  web/src/pages/ListPolicies/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListPolicies/ListPoliciesActions/ListPoliciesActions.tsx
  web/src/pages/ListResources/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListRules/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListRules/ListRulesActions/ListRulesActions.tsx
  web/src/pages/PolicyDetails/PolicyDetailsInfo/PolicyDetailsInfo.tsx
  web/src/pages/RuleDetails/RuleDetailsInfo/RuleDetailsInfo.tsx
Due: prettier --write, eslint

mage gen fmt
  web/src/components/buttons/LinkButton/LinkButton.tsx
  web/src/components/buttons/LinkButton/index.tsx
Due: prettier --write, eslint

chore: update package-lock
  package-lock.json
Due: prettier --write

Updated schema for alertsByRuleID
  api/graphql/schema.graphql
  deployments/appsync.yml
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
Due: prettier --write, eslint

test: update snaps
  web/src/components/Wizard/__snapshots__/Wizard.test.tsx.snap
  web/src/components/fields/SensitiveTextInput/__snapshots__/SensitiveTextInput.test.tsx.snap
  web/src/pages/AlertDetails/AlertDetailsBanner/__snapshots__/AlertDetailsBanner.test.tsx.snap
Due: none

fix: c/p typo in analytics (#1662)
  web/src/pages/ListLogSources/ListLogSources.tsx
Due: prettier --write, eslint

New Alert Card component & deprecation of Alerts Table (#1541)
  web/src/components/GenericItemCard/GenericItemCard.tsx
  web/src/components/cards/AlertCard/AlertCard.test.tsx
  web/src/components/cards/AlertCard/AlertCard.tsx
  web/src/components/cards/AlertCard/index.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
  web/src/pages/ListAlerts/ListAlertsTable/ListAlertsTable.tsx
  web/src/pages/ListAlerts/ListAlertsTable/index.tsx
  web/src/pages/LogAnalysisOverview/AlertsTable/AlertsTable.tsx
  web/src/pages/LogAnalysisOverview/AlertsTable/index.tsx
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
  web/src/pages/RuleDetails/RuleDetails.tsx
  web/src/pages/RuleDetails/RuleDetailsAlertsTable/RuleDetailsAlertsTable.tsx
Due: prettier --write, eslint

chore: update schema definitions
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
Due: prettier --write, eslint

feat: introduce the Formik AutoSave component
  web/src/components/fields/Autosave/Autosave.tsx
  web/src/components/fields/Autosave/index.tsx
Due: prettier --write, eslint

fix: DateRangeInput definitions and dispatching
  web/src/components/fields/DateRangeInput/DateRangeInput.tsx
Due: prettier --write, eslint

fix: add proper parameter handling for debouncedSubmit
  web/src/components/utils/Autosave/Autosave.tsx
Due: prettier --write, eslint

fix: schema and autosave placement
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/components/cards/AlertCard/AlertCard.tsx
  web/src/components/utils/Autosave/Autosave.tsx
  web/src/components/utils/Autosave/index.tsx
  web/src/pages/ListAlerts/ListAlertFilters/ListAlertFilters.tsx
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
Due: prettier --write, eslint

feat: split Query request and filter parsing
  web/src/pages/ListAlerts/ListAlertFilters/ListAlertFilters.tsx
  web/src/pages/ListAlerts/ListAlertFilters/index.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
Due: prettier --write, eslint

fix: actions spacing
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
Due: prettier --write, eslint

chore: lower debounce threshold
  web/src/pages/ListAlerts/ListAlertFilters/ListAlertFilters.tsx
Due: prettier --write, eslint

fix: align Alert card button
  web/src/components/cards/AlertCard/AlertCard.tsx
  web/src/pages/ListAlerts/ListAlertFilters/ListAlertFilters.tsx
Due: prettier --write, eslint

chore: rename `ListAlertsActions` to `ListAlertBreadcrumbFilters`
  web/src/pages/ListAlerts/ListAlertBreadcrumbFilters/ListAlertBreadcrumbFilters.tsx
  web/src/pages/ListAlerts/ListAlertBreadcrumbFilters/index.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
Due: prettier --write, eslint

feat: remove required labels from GenericItemCard and add some tests
  web/src/components/GenericItemCard/GenericItemCard.test.tsx
  web/src/components/GenericItemCard/GenericItemCard.tsx
  web/src/components/GenericItemCard/__snapshots__/GenericItemCard.test.tsx.snap
Due: prettier --write, eslint

feat: add sorting and missing event filter opts for alerts page
  web/src/pages/ListAlerts/ListAlertFilters/ListAlertFilters.tsx
Due: prettier --write, eslint

fix: simplify a few parts of the filtering options
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/pages/ListAlerts/ListAlertBreadcrumbFilters/ListAlertBreadcrumbFilters.tsx
  web/src/pages/ListAlerts/ListAlertFilters/ListAlertFilters.tsx
Due: prettier --write, eslint

Added new alertsByRuleID Chart in a new tab in logAnalysis overview
  web/src/components/charts/BarChart/BarChart.tsx
  web/src/pages/LogAnalysisOverview/AlertsCharts/AlertsCharts.tsx
  web/src/pages/LogAnalysisOverview/AlertsCharts/index.tsx
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.generated.ts
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.graphql
Due: prettier --write, eslint

Added re-usable TabsSkeleton
  web/src/pages/LogAnalysisOverview/Skeleton/Skeleton.tsx
  web/src/pages/LogAnalysisOverview/Skeleton/TabsSkeleton.tsx
Due: prettier --write, eslint

Add s3 access log bucket for data processing buckets to break feedback loop
  deployments/bootstrap.yml
Due: none

Sanitize margins for Alerts charts
  web/src/pages/LogAnalysisOverview/AlertsCharts/AlertsCharts.tsx
Due: prettier --write, eslint

Sanitize AlertBySeverity margins
  web/src/pages/LogAnalysisOverview/AlertsBySeverity/AlertsBySeverity.tsx
Due: prettier --write, eslint

Added new component for displaying MostActiveRules
  web/src/pages/LogAnalysisOverview/AlertsCharts/AlertsCharts.tsx
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.test.tsx
  web/src/pages/LogAnalysisOverview/MostActiveRules/MostActiveRules.tsx
  web/src/pages/LogAnalysisOverview/MostActiveRules/index.tsx
Due: prettier --write, eslint

Minor naming fix for tests
  web/src/components/forms/CustomWebhookDestinationForm/CustomWebhookDestinationForm.test.tsx
  web/src/components/forms/MicrosoftTeamsDestinationForm/MicrosoftTeamsDestinationForm.test.tsx
Due: prettier --write, eslint

Added backslash to escape dot in 'github.com'
  tools/mage/gen/gen.go
Due: none

Respond to PR
  deployments/bootstrap.yml
Due: none

Add s3 access log bucket for data processing buckets to break feedback loop (#1666)
  deployments/bootstrap.yml
Due: none

loop through 100 tasks at a time to prevent api errors
  internal/compliance/snapshot_poller/pollers/aws/awstest/ecs.go
  internal/compliance/snapshot_poller/pollers/aws/ecs_cluster.go
  internal/compliance/snapshot_poller/pollers/aws/ecs_cluster_test.go
Due: none

Fix typo
  web/src/pages/LogAnalysisOverview/Skeleton/Skeleton.tsx
Due: prettier --write, eslint

refactor: rename `loggers` to `analytics`
  web/src/apollo/createErrorLink.ts
  web/src/components/ErrorBoundary/ErrorBoundary.tsx
  web/src/helpers/analytics.ts
  web/src/helpers/errors.ts
Due: prettier --write, eslint

fix: remove `lodash-es` imports & replace with `lodash`
  web/src/pages/ComplianceOverview/PoliciesBySeverityChart/PoliciesBySeverityChart.tsx
Due: prettier --write, eslint

refactor: merge all logging .env to `.env.analytics`
  web/.env.analytics
  web/.env.telemetry
  web/scripts/build.js
Due: prettier --write, eslint
