Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

test: strengthen compliance source tests
  web/src/components/badges/SourceHealthBadge/__snapshots__/SourceHealthBadge.test.tsx.snap
  web/src/pages/CreateComplianceSource/CreateComplianceSource.test.tsx
  web/src/pages/EditComplianceSource/ΕditComplianceSource.test.tsx
Due: prettier --write, eslint

fix: add `cache-and-network` to rule's alerts
  web/src/pages/RuleDetails/RuleDetails.tsx
Due: prettier --write, eslint

test: add & strengthen tests for Log source
  web/src/components/badges/SourceHealthBadge/__snapshots__/SourceHealthBadge.test.tsx.snap
  web/src/pages/CreateLogSource/CreateS3LogSource/CreateS3LogSource.test.tsx
  web/src/pages/EditComplianceSource/EditComplianceSource.tsx
  web/src/pages/EditS3LogSource/ΕditS3LogSource.test.tsx
Due: prettier --write, eslint

mage gen fmt
  web/__tests__/env.ts
Due: prettier --write, eslint

Update web/src/components/wizards/S3LogSourceWizard/ValidationPanel/ValidationPanel.tsx
  web/src/components/wizards/S3LogSourceWizard/ValidationPanel/ValidationPanel.tsx
Due: prettier --write, eslint

Added EventsByLatency, SecondRowTabs and update for timeseries chart
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
  web/src/pages/LogAnalysisOverview/EventsByLatency/EventsByLatency.tsx
  web/src/pages/LogAnalysisOverview/EventsByLatency/index.tsx
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
  web/src/pages/LogAnalysisOverview/SecondRowTabs/SecondRowTabs.tsx
  web/src/pages/LogAnalysisOverview/SecondRowTabs/index.tsx
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.generated.ts
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.graphql
Due: prettier --write, eslint

Updated CSS for BorderTabs
  web/src/components/BorderedTab/BorderTabDivider.tsx
  web/src/components/BorderedTab/BorderedTab.tsx
Due: prettier --write, eslint

Fixing source matching issue
  internal/log_analysis/log_processor/sources/s3_client_cache.go
  internal/log_analysis/log_processor/sources/s3_client_cache_test.go
Due: none

Fixed test naming
  internal/log_analysis/log_processor/sources/s3_client_cache_test.go
Due: none

Updated tests
  web/src/pages/LogAnalysisOverview/EventsByLatency/EventsByLatency.tsx
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.test.tsx
  web/src/pages/LogAnalysisOverview/Skeleton/Skeleton.tsx
Due: prettier --write, eslint

Fix parsing response size in Common Log Format logs
  internal/log_analysis/log_processor/parsers/apachelogs/access_common.go
  internal/log_analysis/log_processor/parsers/apachelogs/access_common_test.go
Due: none

feat: enhance onboarding for SQS queue
  package-lock.json
  package.json
  web/src/components/wizards/SqsSourceWizard/SqsSourceConfigurationPanel/SqsSourceConfigurationPanel.tsx
  web/src/components/wizards/SqsSourceWizard/SqsSourceWizard.tsx
  web/src/components/wizards/SqsSourceWizard/SuccessPanel/SuccessPanel.tsx
  web/src/components/wizards/SqsSourceWizard/ValidationPanel/ValidationPanel.tsx
  web/src/components/wizards/SqsSourceWizard/ValidationPanel/index.tsx
  web/src/pages/CreateLogSource/CreateSqsLogSource/CreateSqsLogSource.tsx
  web/src/pages/EditSqsLogSource/EditSqsLogSource.tsx
Due: prettier --write, eslint

fix: a bug where the wizard's values were not resetting on "add another" button click
  web/src/components/wizards/ComplianceSourceWizard/ValidationPanel/ValidationPanel.tsx
  web/src/components/wizards/S3LogSourceWizard/ValidationPanel/ValidationPanel.tsx
  web/src/components/wizards/common/DestinationTestPanel/DestinationTestPanel.tsx
Due: prettier --write, eslint

Fix classification and source fields for SQS sources
  cmd/devtools/logprocessor/logprocessor/main.go
  cmd/devtools/pantherlog/pantherlog/main.go
  go.mod
  go.sum
  internal/log_analysis/log_processor/classification/classifier.go
  internal/log_analysis/log_processor/classification/classifier_test.go
  internal/log_analysis/log_processor/common/common.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/processor/processor_test.go
  internal/log_analysis/log_processor/sources/s3.go
  internal/log_analysis/log_processor/sources/s3_client_cache.go
  internal/log_analysis/log_processor/sources/s3_client_cache_test.go
  internal/log_analysis/log_processor/sources/sources.go
Due: none

Fix source matching
  internal/log_analysis/log_processor/sources/s3_client_cache.go
Due: none

fix: return a success response for sqs and sns
  internal/core/alert_delivery/outputs/sns.go
  internal/core/alert_delivery/outputs/sns_test.go
  internal/core/alert_delivery/outputs/sqs.go
  internal/core/alert_delivery/outputs/sqs_test.go
Due: none

Fix stats for SQS classifier
  internal/log_analysis/log_processor/classification/classifier.go
  internal/log_analysis/log_processor/processor/processor.go
Due: none

fix: update pagerduty severity check
  internal/core/alert_delivery/outputs/pagerduty.go
Due: none

Try to fix nil pointer issue
  internal/log_analysis/log_processor/classification/classifier.go
  internal/log_analysis/log_processor/processor/processor.go
Due: none

add debug output
  internal/log_analysis/log_processor/processor/processor.go
Due: none

add error to debug
  internal/log_analysis/log_processor/processor/processor.go
Due: none

Fix sqs classifier
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/processor/processor_test.go
Due: none

mage gen fmt
  internal/log_analysis/log_processor/processor/processor_test.go
Due: none

feat: added status codes to sns and sqs responses
  internal/core/alert_delivery/outputs/sns.go
  internal/core/alert_delivery/outputs/sqs.go
  internal/core/alert_delivery/outputs/utils.go
Due: none

Embed swagger API before packaging master template
  tools/mage/master/build.go
  tools/mage/master/deploy.go
  tools/mage/master/publish.go
Due: none

Create S3 bucket / ECR repo automatically
  magefile.go
  tools/mage/master/build.go
  tools/mage/master/deploy.go
Due: none

fix: sns and sqs delivery statuses
  internal/core/alert_delivery/outputs/pagerduty.go
  internal/core/alert_delivery/outputs/sns.go
  internal/core/alert_delivery/outputs/sns_test.go
  internal/core/alert_delivery/outputs/sqs.go
  internal/core/alert_delivery/outputs/sqs_test.go
  internal/core/alert_delivery/outputs/utils.go
Due: none

Remove app client custom resources and add go mod tidy to fmt
  deployments/auxiliary/cloudformation/panther-deployment-role.yml
  deployments/bootstrap_gateway.yml
  deployments/master.yml
  go.mod
  go.sum
  internal/core/custom_resources/resources/cognito_client_token_expiration.go
  internal/core/custom_resources/resources/map.go
  tools/mage/srcfmt/fmt.go
Due: none

feat: working APIs ready for frontend
  api/graphql/schema.graphql
  api/lambda/alerts/models/api.go
  api/lambda/delivery/models/api.go
  deployments/appsync.yml
  internal/core/alert_delivery/api/send_test_alert.go
  package.json
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/components/wizards/common/DestinationTestPanel/DestinationTestPanel.tsx
  web/src/components/wizards/common/DestinationTestPanel/graphql/sendTestAlert.generated.ts
  web/src/components/wizards/common/DestinationTestPanel/graphql/sendTestAlert.graphql
  web/src/graphql/fragments/AlertDetailsFull.generated.ts
  web/src/graphql/fragments/AlertDetailsFull.graphql
  web/src/graphql/fragments/AlertSummaryFull.graphql
  web/src/graphql/fragments/DeliveryResponseFull.generated.ts
  web/src/graphql/fragments/DeliveryResponseFull.graphql
Due: prettier --write, eslint

mage gen fmt
  web/__generated__/schema.tsx
  web/src/graphql/fragments/AlertDetailsFull.generated.ts
  web/src/graphql/fragments/AlertSummaryFull.generated.ts
Due: prettier --write, eslint

revert: undo eslint fix
  package.json
Due: prettier --write

Add ec2:ReleaseAddress to deploy role
  deployments/auxiliary/cloudformation/panther-deployment-role.yml
  deployments/auxiliary/terraform/panther_deployment_role/main.tf
Due: none

Refactor to move SQSClassifier to sources module
  internal/log_analysis/log_processor/classification/classifier.go
  internal/log_analysis/log_processor/classification/classifier_test.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/processor/processor_test.go
  internal/log_analysis/log_processor/sources/s3.go
  internal/log_analysis/log_processor/sources/s3_client_cache.go
  internal/log_analysis/log_processor/sources/s3_client_cache_test.go
  internal/log_analysis/log_processor/sources/sources.go
  internal/log_analysis/log_processor/sources/sqs.go
  internal/log_analysis/log_processor/sources/sqs_test.go
Due: none

mage gen fmt
  internal/log_analysis/log_processor/sources/sources.go
  internal/log_analysis/log_processor/sources/sqs.go
  internal/log_analysis/log_processor/sources/sqs_test.go
Due: none

Add comments
  internal/log_analysis/log_processor/classification/classifier.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/sources/s3_client_cache.go
  internal/log_analysis/log_processor/sources/s3_client_cache_test.go
  internal/log_analysis/log_processor/sources/sources.go
Due: none

Fix test that got messed up by merge
  internal/log_analysis/log_processor/sources/s3_client_cache_test.go
Due: none

Use only Matched flag to determine if a classifier matched a log line
  cmd/devtools/pantherlog/pantherlog/main.go
  internal/log_analysis/log_processor/classification/classifier.go
  internal/log_analysis/log_processor/classification/classifier_test.go
  internal/log_analysis/log_processor/processor/processor_test.go
Due: none

fix: add dynamic width to profile popup
  web/src/components/Navigation/ProfileIcon/ProfileIcon.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
