Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Added comment
  web/src/constants.ts
Due: prettier --write, eslint

change linkify
  package-lock.json
  package.json
  web/src/components/Breadcrumbs/Breadcrumbs.tsx
  web/src/components/Linkify/Linkify.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
  web/src/pages/PolicyDetails/PolicyDetailsInfo/PolicyDetailsInfo.tsx
  web/src/pages/RuleDetails/RuleDetailsInfo/RuleDetailsInfo.tsx
Due: prettier --write, eslint

add download button
  api/graphql/schema.graphql
  deployments/appsync.yml
  package-lock.json
  web/__generated__/schema.tsx
  web/src/pages/SQLShell/Results/DownloadButton/DownloadButton.tsx
  web/src/pages/SQLShell/Results/DownloadButton/graphql/getLogQueryDownloadUrl.generated.ts
  web/src/pages/SQLShell/Results/DownloadButton/graphql/getLogQueryDownloadUrl.graphql
  web/src/pages/SQLShell/Results/DownloadButton/index.tsx
  web/src/pages/SQLShell/Results/Results.tsx
  web/src/pages/SQLShell/Results/ResultsTable/ResultsTable.tsx
  web/src/pages/SQLShell/Results/ResultsTable/index.tsx
  web/src/pages/SQLShell/SQLShell.tsx
Due: prettier --write, eslint

Use worker model to limit max number of parallel go builds
  tools/mage/build_namespace.go
  tools/mage/util.go
Due: none

Use cfn-flip to parse cfn - embed swagger as object, not string
  deployments/bootstrap_gateway.yml
  requirements.txt
  tools/mage/swagger.go
  tools/mage/swagger_test.go
  tools/mage/testdata/valid-api-expected-output.yml
  tools/mage/util_cfn.go
Due: none

Fix tests
  docs/gitbook/operations/runbooks.md
  requirements.txt
  tools/mage/swagger_test.go
  tools/mage/testdata/valid-api-expected-output.yml
  tools/mage/util_cfn.go
Due: prettier --write

temporarily remove `queryDone` related functionality
  api/graphql/schema.graphql
  deployments/appsync.yml
  deployments/panther_config.yml
Due: none

Add bucket region detection to s3queue
  cmd/opstools/s3queue/integration_test.go
  cmd/opstools/s3queue/s3queue.go
  cmd/opstools/s3queue/s3queue/main.go
Due: none

Fix output path for mage build:tools
  tools/mage/build_namespace.go
Due: none

Respond to PR
  cmd/opstools/s3queue/s3queue/main.go
Due: none

remove subscription field from schema
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
Due: prettier --write, eslint

[gitlablogs] Add and register gitlab log parsers
  docs/gitbook/log-analysis/log-processing/supported-logs/GitLab.md
  internal/log_analysis/log_processor/parsers/gitlablogs/api.go
  internal/log_analysis/log_processor/parsers/gitlablogs/api_test.go
  internal/log_analysis/log_processor/parsers/gitlablogs/audit.go
  internal/log_analysis/log_processor/parsers/gitlablogs/audit_test.go
  internal/log_analysis/log_processor/parsers/gitlablogs/exceptions.go
  internal/log_analysis/log_processor/parsers/gitlablogs/exceptions_test.go
  internal/log_analysis/log_processor/parsers/gitlablogs/git.go
  internal/log_analysis/log_processor/parsers/gitlablogs/git_test.go
  internal/log_analysis/log_processor/parsers/gitlablogs/gitlablogs.go
  internal/log_analysis/log_processor/parsers/gitlablogs/integrations.go
  internal/log_analysis/log_processor/parsers/gitlablogs/integrations_test.go
  internal/log_analysis/log_processor/parsers/gitlablogs/rails.go
  internal/log_analysis/log_processor/parsers/gitlablogs/rails_test.go
  internal/log_analysis/log_processor/registry/registry.go
  web/src/constants.ts
Due: prettier --write, eslint

Checkpoint work
  internal/core/database_api/athena/driver/api/api.go
  internal/core/database_api/athena/driver/api/glue.go
  internal/core/database_api/athena/driver/api/integration_test.go
  pkg/awsglue/glue.go
Due: none

Improve logging for s3queue
  cmd/opstools/s3queue/s3queue/main.go
Due: none

added documentation
  deployments/core.yml
  docs/gitbook/policies/policies/README.md
  internal/core/layer_manager/main/integration_test.go
  tools/mage/teardown.go
Due: prettier --write

Make showing non-Panther tables in SQL Shell configurable
  deployments/core.yml
  deployments/panther_config.yml
  internal/core/database_api/athena/driver/api/integration_test.go
  tools/config/config.go
  tools/mage/deploy.go
Due: none

Update some comments
  internal/core/database_api/athena/driver/api/integration_test.go
  pkg/awsglue/glue.go
Due: none

Refactor deploy_template.go
  tools/mage/build_namespace.go
  tools/mage/deploy.go
  tools/mage/deploy_frontend.go
  tools/mage/deploy_onboard.go
  tools/mage/deploy_template.go
  tools/mage/deploy_test.go
  tools/mage/util_cfn.go
Due: none

[remediations] set ami private
  internal/compliance/remediation_aws/src/app/remediations/aws_ec2_set_ami_private.py
Due: none

testing and pr feedback
  deployments/auxiliary/cloudformation/panther-cloudsec-iam.yml
  internal/compliance/remediation_aws/src/app/remediations/aws_ec2_set_ami_private.py
Due: none

update roles and add some docs
  deployments/auxiliary/cloudformation/panther-cloudsec-iam.yml
  deployments/auxiliary/terraform/panther_cloudsec_iam/main.tf
  docs/gitbook/policies/automatic-remediation/README.md
Due: prettier --write

[fmt]
  internal/compliance/remediation_aws/src/app/remediations/aws_ec2_set_ami_private.py
Due: none

[update tests]
  internal/core/source_api/api/testdata/panther-cloudsec-iam-updated.yml
Due: none

[docs] update the remediation gitbook pages
  docs/gitbook/SUMMARY.md
  docs/gitbook/policies/automatic-remediation/aws/aws-ec2-modify-image-attribute.md
Due: prettier --write

Updating output
  cmd/opstools/requeue/integration_test.go
  cmd/opstools/requeue/requeue.go
  cmd/opstools/requeue/requeue/main.go
Due: none

Move athena api functions into individual files
  internal/core/database_api/athena/driver/api/api.go
  internal/core/database_api/athena/driver/api/athena.go
  internal/core/database_api/athena/driver/api/execute_async_query.go
  internal/core/database_api/athena/driver/api/execute_async_query_notify.go
  internal/core/database_api/athena/driver/api/execute_query.go
  internal/core/database_api/athena/driver/api/get_databases.go
  internal/core/database_api/athena/driver/api/get_query_results.go
  internal/core/database_api/athena/driver/api/get_query_results_link.go
  internal/core/database_api/athena/driver/api/get_query_status.go
  internal/core/database_api/athena/driver/api/get_tables.go
  internal/core/database_api/athena/driver/api/get_tables_detail.go
  internal/core/database_api/athena/driver/api/invoke_notify_lambda.go
  internal/core/database_api/athena/driver/api/notify_appsync.go
  internal/core/database_api/athena/driver/api/stop_query.go
Due: none

Setting expiration time for panther-web-logs
  deployments/web_server.yml
  tools/mage/deploy.go
  tools/mage/deploy_frontend.go
Due: none

Add usage examples in comments for PrincipalARNs and S3ARNs in panther_config.yml
  deployments/panther_config.yml
  tools/mage/deploy.go
Due: none

Change core stack parameter name PantherTablesOnly to AthenaPantherTablesOnly
  deployments/core.yml
  tools/mage/deploy.go
Due: none

Minor style changes
  api/lambda/database/models/api.go
  deployments/panther_config.yml
  internal/core/database_api/athena/driver/api/execute_async_query.go
  internal/core/database_api/athena/driver/api/execute_async_query_notify.go
  internal/core/database_api/athena/driver/api/execute_query.go
  internal/core/database_api/athena/driver/api/get_databases.go
  internal/core/database_api/athena/driver/api/get_query_results.go
  internal/core/database_api/athena/driver/api/get_query_results_link.go
  internal/core/database_api/athena/driver/api/get_query_status.go
  internal/core/database_api/athena/driver/api/get_tables.go
  internal/core/database_api/athena/driver/api/get_tables_detail.go
  internal/core/database_api/athena/driver/api/integration_test.go
  internal/core/database_api/athena/driver/api/invoke_notify_lambda.go
  internal/core/database_api/athena/driver/api/notify_appsync.go
  internal/core/database_api/athena/driver/api/stop_query.go
Due: none

Revert change to log level in genericapi invoke
  pkg/genericapi/invoke.go
Due: none

Change athena_api integration tests from using t.Run() to top level tests
  internal/core/database_api/athena/driver/api/integration_test.go
Due: none

Move athena api related cloudformation from core stack to log_analysis stack
  deployments/core.yml
  deployments/log_analysis.yml
  docs/gitbook/operations/runbooks.md
  tools/mage/deploy.go
Due: prettier --write

Change athena api to use envconfig
  internal/core/database_api/athena/driver/api/api.go
  internal/core/database_api/athena/driver/api/get_databases.go
  internal/core/database_api/athena/driver/api/get_tables.go
  internal/core/database_api/athena/driver/api/get_tables_detail.go
  internal/core/database_api/athena/driver/api/integration_test.go
  internal/core/database_api/athena/driver/api/notify_appsync.go
Due: none

Increase delay before deleting bucket in teardown to avoid errors
  tools/mage/teardown.go
Due: none

Use GetAtt instead of Sub for AthenaStepFunctionRole to ensure proper dependency
  deployments/log_analysis.yml
Due: none

Tag all Panther aws objects with the version of the deployed sw
  tools/mage/deploy.go
  tools/mage/deploy_template.go
Due: none

Checkpoint work
  deployments/log_analysis.yml
  go.mod
  go.sum
  internal/log_analysis/datacatalog_updater/process/compaction.go
  internal/log_analysis/datacatalog_updater/process/compaction_test.go
  internal/log_analysis/datacatalog_updater/process/integration_test.go
  internal/log_analysis/datacatalog_updater/process/process.go
  internal/log_analysis/datacatalog_updater/process/session.go
  pkg/awsglue/integration_test.go
Due: none

Remove config option for users to onboard their own buckets to athena api. We may want later, but complicates CF and not needed now
  deployments/log_analysis.yml
  deployments/panther_config.yml
  tools/config/config.go
  tools/mage/deploy.go
Due: none
