Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

add custom badge template
  .all-contributorsrc
Due: none

Force README update
  README.md
Due: prettier --write

Fix broken link
  README.md
Due: prettier --write

force CI to run bot changes
  .all-contributorsrc
Due: none

Fixing fluentd parsers
  README.md
  internal/log_analysis/log_processor/parsers/fluentdsyslogs/rfc3164.go
  internal/log_analysis/log_processor/parsers/fluentdsyslogs/rfc3164_test.go
  internal/log_analysis/log_processor/parsers/fluentdsyslogs/rfc5424.go
  internal/log_analysis/log_processor/parsers/fluentdsyslogs/rfc5424_test.go
Due: prettier --write

Added enrichment of ip fields
  internal/log_analysis/log_processor/parsers/osquerylogs/differential.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential_test.go
Due: none

Autogenerate documentation for log parsers (including schema and column descriptions)
  README.md
  docs/gitbook/SUMMARY.md
  docs/gitbook/log-analysis/log-processing/supported-logs/README.md
  docs/gitbook/log-analysis/log-processing/writing-parsers.md
  docs/gitbook/log-analysis/supported-logs/README.md
  docs/gitbook/log-analysis/supported-logs/aws.md
  docs/gitbook/log-analysis/supported-logs/fluentdsyslog.md
  docs/gitbook/log-analysis/supported-logs/nginx.md
  docs/gitbook/log-analysis/supported-logs/osquery.md
  docs/gitbook/log-analysis/supported-logs/ossec.md
  docs/gitbook/log-analysis/supported-logs/syslog.md
  tools/mage/doc_namespace.go
  tools/mage/fmt.go
Due: prettier --write

Remove unneeded comment
  tools/mage/doc_namespace.go
Due: none

Added links to tags on RuleDetails
  web/src/pages/RuleDetails/RuleDetailsInfo/RuleDetailsInfo.tsx
Due: prettier --write, eslint

Show filter group on loading ListRules with filters
  web/src/pages/ListRules/ListRulesActions/ListRulesActions.tsx
Due: prettier --write, eslint

Changed text color
  web/src/pages/RuleDetails/RuleDetailsInfo/RuleDetailsInfo.tsx
Due: prettier --write, eslint

Testing
  cmd/opstools/requeue/requeue.go
  deployments/panther_config.yml
Due: none

Add support in gluecf to add if a column is required
  docs/gitbook/log-analysis/log-processing/supported-logs/README.md
  tools/cfngen/gluecf/schema.go
  tools/cfngen/gluecf/table.go
  tools/mage/doc_namespace.go
Due: prettier --write

removed post v1 docs
  docs/gitbook/SUMMARY.md
  docs/gitbook/log-analysis/supported-logs/fluentdsyslog.md
Due: prettier --write

Clarify license in README
  README.md
Due: prettier --write

Respond to PR
  docs/gitbook/log-analysis/log-processing/supported-logs/README.md
  docs/gitbook/log-analysis/log-processing/writing-parsers.md
  tools/mage/doc.go
  tools/mage/fmt.go
Due: prettier --write

simplify
  README.md
Due: prettier --write

Remove unused functions
  tools/mage/doc.go
Due: none

Make linter happy
  tools/cfngen/gluecf/schema.go
Due: none

Change formatting to make gitbok happy
  docs/gitbook/log-analysis/log-processing/supported-logs/README.md
  tools/mage/doc.go
Due: prettier --write

Formatting change
  docs/gitbook/log-analysis/log-processing/supported-logs/README.md
  tools/mage/doc.go
Due: prettier --write

Tweek formatting
  docs/gitbook/log-analysis/log-processing/supported-logs/README.md
  tools/mage/doc.go
Due: prettier --write

[docs] readme small tweaks, better res logo
  README.md
  docs/img/panther-logo-github-highres.png
  docs/img/panther-logo-github.jpg
Due: prettier --write

Render non-primitive types using a JSON schema
  docs/gitbook/log-analysis/log-processing/supported-logs/README.md
  tools/cfngen/gluecf/schema.go
  tools/cfngen/gluecf/schema_test.go
  tools/cfngen/gluecf/table.go
  tools/mage/doc.go
Due: prettier --write

Update comment, regenerate docs
  docs/gitbook/log-analysis/log-processing/supported-logs/README.md
  tools/mage/doc.go
Due: prettier --write

Test using 1 file per log category
  docs/gitbook/SUMMARY.md
  docs/gitbook/log-analysis/log-processing/supported-logs/AWS.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Fluentd.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Nginx.md
  docs/gitbook/log-analysis/log-processing/supported-logs/OSSEC.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Osquery.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Syslog.md
  docs/gitbook/log-analysis/log-processing/writing-parsers.md
  tools/mage/doc.go
Due: prettier --write

Refine formatting
  docs/gitbook/log-analysis/log-processing/supported-logs/AWS.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Fluentd.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Nginx.md
  docs/gitbook/log-analysis/log-processing/supported-logs/OSSEC.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Osquery.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Syslog.md
  tools/mage/doc.go
Due: prettier --write

More refining format
  docs/gitbook/log-analysis/log-processing/supported-logs/AWS.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Fluentd.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Nginx.md
  docs/gitbook/log-analysis/log-processing/supported-logs/OSSEC.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Osquery.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Syslog.md
  tools/mage/doc.go
Due: prettier --write

[web] use the fully qualified account ARN for the sqs/sns destination policy
  web/src/components/forms/SnsDestinationForm/SnsDestinationForm.tsx
  web/src/components/forms/SqsDestinationForm/SqsDestinationForm.tsx
Due: prettier --write, eslint

[web] fix edit rule toast when updating rules
  web/src/pages/EditRule/EditRule.tsx
Due: prettier --write, eslint

Add support for external services subscribing to panther-processed-data-notifications topic as s3 notifications
  deployments/log_subscription.yml
  deployments/panther_config.yml
  internal/log_analysis/datacatalog_updater/main/lambda.go
  internal/log_analysis/datacatalog_updater/main/lambda_test.go
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/rules_engine/src/main.py
  tools/config/config.go
  tools/mage/deploy.go
  tools/mage/deploy_logsubscriptions.go
Due: none
