Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

send null values when form fields are ommited
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/pages/CreateLogSource/CreateLogSource.tsx
  web/src/pages/EditLogSource/EditLogSource.tsx
Due: prettier --write, eslint

chance networkPolicies
  web/src/components/modals/DeleteLogSourceModal/DeleteLogSourceModal.tsx
  web/src/components/wizards/ComplianceSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/components/wizards/LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/pages/ListLogSources/ListLogSources.tsx
Due: prettier --write, eslint

Add compliance_api to the cloudsec dashboard
  tools/dashboards/infra.go
  tools/mage/deploy_onboard.go
Due: none

Change log warn to debug for skipping records in alert forwarder
  internal/compliance/alert_forwarder/main/lambda.go
Due: none

protec t against runtime exception on useRef
  web/src/components/wizards/ComplianceSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/components/wizards/LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
Due: prettier --write, eslint

fix alignment of loading spinner
  web/src/components/wizards/LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
Due: prettier --write, eslint

Whitelist BatchGetResourceConfig SelectResourceConfig in aws event processor
  internal/compliance/aws_event_processor/processor/process.go
Due: none

handle error reset on SuccessPanel unmounts
  web/src/components/wizards/ComplianceSourceWizard/ComplianceSourceWizard.tsx
  web/src/components/wizards/ComplianceSourceWizard/SuccessPanel/SuccessPanel.tsx
  web/src/components/wizards/LogSourceWizard/LogSourceWizard.tsx
  web/src/components/wizards/LogSourceWizard/SuccessPanel/SuccessPanel.tsx
Due: prettier --write, eslint

add health check to log sources table
  web/src/pages/ListComplianceSources/columns.tsx
  web/src/pages/ListLogSources/LogSourceHealthIcon/LogSourceHealthIcon.tsx
  web/src/pages/ListLogSources/LogSourceHealthIcon/index.tsx
  web/src/pages/ListLogSources/columns.tsx
Due: prettier --write, eslint

fix stack-file download name
  web/src/components/wizards/ComplianceSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/components/wizards/LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
Due: prettier --write, eslint

use callback ref for download attr
  web/src/components/wizards/ComplianceSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/components/wizards/LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
Due: prettier --write, eslint

Tune noisy alarms for too-old-sqs and lambda warns
  tools/cfngen/cloudwatchcf/alarms_lambda.go
  tools/cfngen/cloudwatchcf/alarms_sqs.go
  tools/cfngen/cloudwatchcf/testdata/generated_test_alarms.json
Due: prettier --write

[docs] quick start edits, move privacy into quick start
  docs/gitbook/README.md
  docs/gitbook/privacy/error-reporting.md
  docs/gitbook/quick-start.md
Due: prettier --write

[docs] add supported destinations
  docs/gitbook/destinations/setup/README.md
Due: prettier --write

[docs] overhaul of log analysis
  docs/gitbook/SUMMARY.md
  docs/gitbook/log-analysis/log-analysis-background.md
  docs/gitbook/log-analysis/log-processing/README.md
  docs/gitbook/log-analysis/rules/README.md
  docs/gitbook/log-analysis/rules/aws-cis/README.md
  docs/gitbook/log-analysis/rules/aws-cis/aws-cloudtrail-modified.md
  docs/gitbook/log-analysis/rules/aws-cis/aws-config-service-modified.md
  docs/gitbook/log-analysis/rules/aws-cis/aws-console-login-failed.md
  docs/gitbook/log-analysis/rules/aws-cis/aws-console-login-without-mfa.md
  docs/gitbook/log-analysis/rules/aws-cis/aws-ec2-gateway-modified.md
  docs/gitbook/log-analysis/rules/aws-cis/aws-ec2-network-acl-modified.md
  docs/gitbook/log-analysis/rules/aws-cis/aws-ec2-route-table-modified.md
  docs/gitbook/log-analysis/rules/aws-cis/aws-ec2-securitygroup-modified.md
  docs/gitbook/log-analysis/rules/aws-cis/aws-ec2-vpc-modified.md
  docs/gitbook/log-analysis/rules/aws-cis/aws-iam-policy-modified.md
  docs/gitbook/log-analysis/rules/aws-cis/aws-kms-cmk-loss.md
  docs/gitbook/log-analysis/rules/aws-cis/aws-root-activity.md
  docs/gitbook/log-analysis/rules/aws-cis/aws-s3-bucket-policy-modified.md
  docs/gitbook/log-analysis/rules/aws-cis/aws-unauthorized-api-call.md
  docs/gitbook/log-analysis/rules/aws/README.md
  docs/gitbook/log-analysis/supported-logs/README.md
  docs/gitbook/log-analysis/supported-logs/aws.md
  docs/gitbook/log-analysis/supported-logs/nginx.md
  docs/gitbook/log-analysis/supported-logs/osquery.md
  docs/gitbook/log-analysis/supported-logs/ossec.md
  docs/gitbook/log-analysis/supported-logs/syslog.md
  docs/gitbook/writing-parsers.md
Due: prettier --write

[mage] quick and dirty command to print out JSON representations of our log schemas
  go.mod
  go.sum
  tools/mage/show_schemas.go
Due: none

[docs] destinations new images
  docs/gitbook/.gitbook/assets/default-destinations-new.png
  docs/gitbook/.gitbook/assets/destination-modificaiton.png
  docs/gitbook/.gitbook/assets/destination-settings-example.png
  docs/gitbook/.gitbook/assets/destination-types.png
Due: none

[docs] destinations review, edits, and reorganization
  docs/gitbook/destinations/alert-setup/README.md
  docs/gitbook/destinations/alert-setup/github.md
  docs/gitbook/destinations/alert-setup/microsoft-teams.md
  docs/gitbook/destinations/alert-setup/opsgenie.md
  docs/gitbook/destinations/background.md
  docs/gitbook/destinations/setup/README.md
  docs/gitbook/destinations/setup/asana.md
  docs/gitbook/destinations/setup/github.md
  docs/gitbook/destinations/setup/jira.md
  docs/gitbook/destinations/setup/microsoft-teams.md
  docs/gitbook/destinations/setup/opsgenie.md
  docs/gitbook/destinations/setup/pagerduty.md
  docs/gitbook/destinations/setup/slack.md
  docs/gitbook/destinations/setup/sns.md
  docs/gitbook/destinations/setup/sqs.md
Due: prettier --write

[summary] update navigation with new destination layout
  docs/gitbook/SUMMARY.md
Due: prettier --write

[docs] pr feedback
  docs/gitbook/destinations/setup/README.md
  docs/gitbook/quick-start.md
  web/src/components/forms/AnalyticsConsentForm/ErrorReportingSection.tsx
Due: prettier --write, eslint

[mage] fix spelling issue
  tools/mage/show_schemas.go
Due: none

Revert generating tempaltes for get_integration_template
  internal/core/source_api/api/cloudsec_tmpl.go
  internal/core/source_api/api/get_integration_template.go
  internal/core/source_api/api/get_integration_template_test.go
  internal/core/source_api/api/loganalysis_tmpl.go
  tools/mage/build_namespace.go
Due: none

Remove un-needed comments in panther-cloudsec-iam.yml
  deployments/auxiliary/cloudformation/panther-cloudsec-iam.yml
Due: none

Change error message wording in check_integration from using _health_ to _configuration_
  internal/core/source_api/api/check_integration.go
Due: none

Remove un-needed log line reporting q already configured in sqs_utils.go
  internal/core/source_api/api/sqs_utils.go
Due: none

Change error message wording in update/put integration from using _health_ to _configuration_
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/update_integration.go
Due: none

Change labels for for panther onboarded integrations to start with: panther_account-
  tools/mage/deploy_onboard.go
Due: none

Use endpoint.UsEast1RegionID instead hardcoded string
  internal/core/source_api/api/vars_test.go
Due: none

Improving stability
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_rule.py
Due: none

Fixed linting issues
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_rule.py
Due: none

Fixed error message
  internal/log_analysis/rules_engine/src/rule.py
Due: none

Fix rule
  internal/log_analysis/rules_engine/src/rule.py
Due: none

Added missing licence
  internal/log_analysis/rules_engine/src/rule.py
Due: none

Generating and storing CFN stack name
  api/lambda/source/models/integration.go
  internal/core/source_api/api/get_integration_template.go
  internal/core/source_api/api/get_integration_template_test.go
  internal/core/source_api/api/put_integration.go
Due: none

Using stackName instead of CfnStackName
  api/lambda/source/models/integration.go
  internal/core/source_api/api/put_integration.go
Due: none

Fixing casing
  api/lambda/source/models/integration.go
Due: none

Fixed un-necessary import
  web/src/helpers/utils.tsx
Due: prettier --write, eslint

make sure to display initial stack name on log onboarding updates
  web/src/components/wizards/LogSourceWizard/LogSourceWizard.tsx
  web/src/components/wizards/LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/pages/EditLogSource/EditLogSource.tsx
Due: prettier --write, eslint

send null values when input str is empty
  web/src/components/wizards/LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
