Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Handle empty chunk
  internal/log_analysis/log_processor/processor/logstream/linestream.go
Due: none

Fixing failing test, address PR ocmment
  cmd/devtools/customlogs/customlogs/infer.go
  cmd/devtools/customlogs/customlogs/infer_test.go
Due: none

better coverage for corner cases
  internal/log_analysis/log_processor/processor/logstream/linestream.go
  internal/log_analysis/log_processor/processor/logstream/linestream_test.go
Due: none

mage gen fmt
  internal/log_analysis/log_processor/processor/logstream/linestream_test.go
Due: none

linter
  internal/log_analysis/log_processor/processor/logstream/linestream_test.go
Due: none

removed extra error logging
  internal/core/custom_resources/resources/glue_tables.go
Due: none

fix: rename 'type' -> 'types'
  api/graphql/schema.graphql
  api/lambda/alerts/models/api.go
  internal/log_analysis/alerts_api/table/list.go
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/pages/ListAlerts/ListAlerts.test.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
  web/src/pages/RuleDetails/RuleAlertsListing/RuleAlertsListing.tsx
  web/src/pages/RuleDetails/RuleDetails.test.tsx
  web/src/pages/RuleDetails/RuleDetails.tsx
Due: prettier --write, eslint

Reverted change for user defined 'destinations' back to 'destination_override' as to maintain backwards compatability with the v1.14 release
  internal/log_analysis/rules_engine/src/rule.py
Due: none

Changed skip string to be a constant
  internal/core/alert_delivery/api/outputs.go
Due: none

Fixed rules engine unit test (revert 'destinations' to 'destination_override')
  internal/log_analysis/rules_engine/tests/test_main.py
  internal/log_analysis/rules_engine/tests/test_rule.py
Due: none

mage gen fmt
  internal/log_analysis/rules_engine/tests/test_main.py
Due: none

Marking some fields as optional (#2227)
  internal/log_analysis/log_processor/parsers/sophoslogs/central.go
  internal/log_analysis/log_processor/parsers/sophoslogs/testdata/central_tests.yml
Due: none

fix: appsync template
  deployments/appsync.yml
Due: none

add created by and last modified by filter
  internal/core/analysis_api/handlers/list.go
Due: none

fix: logtypes slice
  internal/log_analysis/alerts_api/table/list.go
Due: none

fix: pr feedback
  internal/log_analysis/alerts_api/table/list.go
Due: none

rename *IntegrationID -> *SourceID
  api/lambda/delivery/models/api.go
  internal/compliance/alert_forwarder/forwarder/forwarder.go
  internal/compliance/alert_forwarder/forwarder/forwarder_test.go
  internal/compliance/alert_processor/models/api.go
  internal/compliance/alert_processor/processor/processor.go
  internal/compliance/resource_processor/processor/handler.go
  internal/log_analysis/alerts_api/models/models.go
Due: none

Feedback fixes
  web/src/components/wizards/S3LogSourceWizard/S3SourceConfigurationPanel/S3SourceConfigurationPanel.tsx
Due: prettier --write, eslint

fix integration test for no results after filtering
  internal/core/analysis_api/main/integration_test.go
Due: none

Suppress details for a service if the serive has cost 0.0
  internal/cost/panther.go
Due: none

fix: check for policyId as ruleId is always set
  deployments/appsync.yml
Due: none

fix: appsync check alert type
  api/graphql/schema.graphql
  api/lambda/alerts/models/api.go
  deployments/appsync.yml
  internal/log_analysis/alerts_api/table/table.go
  internal/log_analysis/alerts_api/utils/utils.go
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/graphql/fragments/AlertDetailsFull.generated.ts
  web/src/graphql/fragments/AlertDetailsFull.graphql
  web/src/graphql/fragments/AlertSummaryFull.generated.ts
  web/src/graphql/fragments/AlertSummaryFull.graphql
Due: prettier --write, eslint

fix: check for alert type in appsync
  deployments/appsync.yml
Due: none

Change comments for accuracy ("policies" --> "rules")
  api/lambda/analysis/models/rules.go
Due: none

fix: update alert statuses
  deployments/appsync.yml
Due: none

mage gen fmt
  web/src/components/cards/RuleAlertCard/RuleAlertCard.tsx
Due: prettier --write, eslint

Updated LinkButton
  web/src/components/buttons/LinkButton/LinkButton.tsx
  web/src/components/wizards/S3LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/components/wizards/common/DestinationTestPanel/__snapshots__/DestinationTestPanel.test.tsx.snap
  web/src/pages/GeneralSettings/__snapshots__/GeneralSettings.test.tsx.snap
Due: prettier --write, eslint

Updated broken tests
  web/src/pages/CreateLogSource/CreateS3LogSource/CreateS3LogSource.test.tsx
  web/src/pages/EditS3LogSource/ΕditS3LogSource.test.tsx
Due: prettier --write, eslint

Updating backend
  api/lambda/source/models/integration.go
  deployments/cloud_security.yml
  internal/compliance/snapshotlogs/snapshots.go
  internal/core/source_api/api/list_logtypes_test.go
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/put_integration_test.go
  internal/core/source_api/api/update_integration.go
  internal/core/source_api/api/utils.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/log_processor/sources/s3_client_cache.go
  internal/log_analysis/log_processor/sources/s3_client_cache_test.go
Due: none

Removed unused property
  api/lambda/source/models/integration.go
  internal/core/source_api/api/utils.go
  internal/log_analysis/log_processor/sources/sqs_test.go
Due: none

Removed property
  internal/log_analysis/log_processor/sources/sqs_test.go
Due: none

Remove stuff
  internal/core/source_api/api/utils.go
  internal/core/source_api/ddb/items.go
Due: none

Fixing backwards compatibility
  deployments/cloud_security.yml
  deployments/log_analysis.yml
  internal/core/source_api/api/list_integrations.go
Due: none

chore: bump pounce
  package-lock.json
  package.json
Due: prettier --write

test: updated snapshots
  web/src/components/badges/SourceHealthBadge/__snapshots__/SourceHealthBadge.test.tsx.snap
  web/src/components/cards/AlertCard/__snapshots__/AlertCard.test.tsx.snap
  web/src/components/fields/DateRangeInput/__snapshots__/DateRangeInput.test.tsx.snap
  web/src/components/forms/PolicyForm/PolicyFormTestResult/__snapshots__/PolicyFormTestResult.test.tsx.snap
  web/src/components/forms/RuleForm/RuleFormTestResult/__snapshots__/RuleFormTestResult.test.tsx.snap
  web/src/pages/AlertDetails/AlertDetailsBanner/__snapshots__/AlertDetailsBanner.test.tsx.snap
  web/src/pages/ListDestinations/DestinationCards/__tests__/__snapshots__/DestinationCard.test.tsx.snap
Due: none

Tested E2E
  deployments/cloud_security.yml
  deployments/log_analysis.yml
Due: none

Added longer explanation
  internal/core/source_api/api/list_integrations.go
Due: none

refactor: DateRangeInput accepts 'useUTC' prop
  web/src/components/fields/DateRangeInput/DateRangeInput.tsx
Due: prettier --write, eslint

test: updated tests for DateRangeInput
  web/src/components/fields/DateRangeInput/DateRangeInput.test.tsx
  web/src/components/fields/DateRangeInput/__snapshots__/DateRangeInput.test.tsx.snap
Due: prettier --write, eslint

feat: TimeSeriesChart accepts useUTC prop
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
