Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

move supported source check earlier
  internal/compliance/aws_event_processor/processor/process.go
  internal/compliance/aws_event_processor/processor/process_test.go
Due: none

v1.5.1 release
  deployments/master.yml
  docs/gitbook/quick-start.md
Due: prettier --write

Respond to PR
  pkg/genericapi/router.go
Due: none

Fail CI if custom resources are added to bootstrap stack
  tools/mage/test_namespace.go
Due: none

Remove migrations
  tools/mage/deploy.go
  tools/mage/migrations.go
  tools/mage/teardown.go
  tools/mage/util_cfn.go
Due: none

Added sentry.io to connect-src to allow reporting errors
  web/scripts/serve.js
Due: prettier --write, eslint

feat: add fixed-width font for number of events
  package-lock.json
  package.json
  web/public/index.ejs
  web/src/pages/AlertDetails/AlertDetailsEvents/AlertDetailsEvents.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
  web/src/pages/ListAlerts/ListAlertsTable/ListAlertsTable.tsx
  web/src/pages/RuleDetails/RuleDetailsAlertsTable/RuleDetailsAlertsTable.tsx
Due: prettier --write, eslint

feat: remove banner from auth-related pages
  web/src/assets/panther-icon--white.svg
  web/src/assets/sign-in-banner.jpg
  web/src/assets/sign-up-banner.jpg
  web/src/components/AuthPageContainer/AuthPageContainer.tsx
  web/src/pages/ForgotPassword/ForgotPassword.tsx
  web/src/pages/ForgotPasswordConfirm/ForgotPasswordConfirm.tsx
  web/src/pages/SignIn/SignIn.tsx
Due: prettier --write, eslint

fix: add link to path
  docs/gitbook/cloud-security/automatic-remediation/writing-custom-remediations.md
Due: prettier --write

Fixing classifier behavior
  internal/log_analysis/log_processor/classification/classifier.go
  internal/log_analysis/log_processor/classification/classifier_test.go
Due: none

Updated tests
  internal/log_analysis/log_processor/classification/classifier_test.go
Due: none

Updated parsers to return nil, nil instead of empty array
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow_test.go
  internal/log_analysis/log_processor/parsers/juniperlogs/access.go
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
Due: none

Removed extra logging
  internal/log_analysis/log_processor/classification/classifier.go
Due: none

Converting scalars to pointers for nullable types
  api/lambda/source/models/integration.go
  internal/compliance/snapshot_scheduler/scheduler/schedule.go
  internal/compliance/snapshot_scheduler/scheduler/schedule_test.go
  internal/core/source_api/api/list_integrations_test.go
  internal/core/source_api/api/update_integration.go
  internal/core/source_api/api/update_status.go
  internal/core/source_api/ddb/items.go
Due: none

Added directive to DDB items
  internal/core/source_api/ddb/items.go
Due: none

Update ops and snnowflake docs
  docs/gitbook/enterprise/snowflake.md
  docs/gitbook/operations/ops-home.md
Due: prettier --write

Update LogSourceTable
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceTable.tsx
Due: prettier --write, eslint

Added lastEventReceived to graphql
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/graphql/fragments/S3LogIntegrationDetails.generated.ts
  web/src/graphql/fragments/S3LogIntegrationDetails.graphql
Due: prettier --write, eslint

Updated schema
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceTable.tsx
Due: prettier --write, eslint

fix: column order in Alert related tables
  web/src/pages/ListAlerts/ListAlertsTable/ListAlertsTable.tsx
  web/src/pages/RuleDetails/RuleDetailsAlertsTable/RuleDetailsAlertsTable.tsx
Due: prettier --write, eslint

Format display for lastEventReceived
  web/src/pages/ListLogSources/LogSourceTable/LogSourceTable.tsx
Due: prettier --write, eslint

fix: update placeholders and required attributes on destination forms
  web/src/components/Editor/Editor.tsx
  web/src/components/forms/AsanaDestinationForm/AsanaDestinationForm.tsx
  web/src/components/forms/CustomWebhookDestinationForm/CustomWebhookDestinationForm.tsx
  web/src/components/forms/GithubDestinationForm/GithubDestinationForm.tsx
  web/src/components/forms/JiraDestinationForm/JiraDestination.tsx
  web/src/components/forms/MicrosoftTeamsDestinationForm/MicrosoftTeamsDestinationForm.tsx
  web/src/components/forms/OpsgenieDestinationForm/OpsgenieDestinationForm.tsx
  web/src/components/forms/PagerdutyDestinationForm/PagerdutyDestinationForm.tsx
  web/src/components/forms/SlackDestinationForm/SlackDestinationForm.tsx
  web/src/components/wizards/S3LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
Due: prettier --write, eslint

Add check for very old versions
  tools/mage/deploy.go
  tools/mage/util_cfn.go
Due: none

Small fixes
  deployments/bootstrap_gateway.yml
  deployments/core.yml
  internal/core/custom_resources/resources/alarms_elb.go
  internal/core/users_api/api/cognito_trigger.go
  internal/core/users_api/main/lambda.go
Due: none

renamed package
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/processor/processor_test.go
  pkg/metrics/logger.go
Due: none

fix: typo on label
  web/src/components/forms/BaseRuleForm/BaseRuleFormCoreSection/BaseRuleFormCoreSection.tsx
Due: prettier --write, eslint

fix: misleading typo in option
  web/src/pages/Users/ListUsersTable/ListUsersTableRowOptions/ListUsersTableRowOptions.tsx
Due: prettier --write, eslint

fix: remove un-needed margin
  web/src/components/utils/TableControls/TableControlsPagination.tsx
Due: prettier --write, eslint

fix: typo in aria-label on option buttons
  web/src/pages/Destinations/ListDestinationsTable/ListDestinationsTableRowOptions/ListDestinationsTableRowOptions.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceTable/ComplianceSourceTableRowOptions/ComplianceSourceTableRowOptions.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceTableRowOptions/LogSourceTableRowOptions.tsx
  web/src/pages/ListRules/ListRulesTable/ListRulesTableRowOptions/ListRulesTableRowOptions.tsx
  web/src/pages/Users/ListUsersTable/ListUsersTableRowOptions/ListUsersTableRowOptions.tsx
Due: prettier --write, eslint

Make email - username required in Jira form
  web/src/components/forms/JiraDestinationForm/JiraDestination.tsx
Due: prettier --write, eslint

Update for placeholder
  web/src/components/forms/JiraDestinationForm/JiraDestination.tsx
Due: prettier --write, eslint

fix: add html meta
  web/src/components/forms/AnalyticsConsentForm/ErrorReportingSection.tsx
Due: prettier --write, eslint

feat: add indexing in top failing resources table
  web/src/pages/ComplianceOverview/TopFailingResourcesTable/TopFailingResourcesTable.tsx
Due: prettier --write, eslint

fix: remove inputProps
  web/src/components/wizards/S3LogSourceWizard/S3SourceConfigurationPanel/S3SourceConfigurationPanel.tsx
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
  web/src/pages/ListResources/ListResourcesActions/ListResourcesActions.tsx
Due: prettier --write, eslint

fix: change editor colors
  web/src/components/Editor/theme.ts
Due: prettier --write, eslint

use UserDetails instead of User
  web/src/components/modals/DeleteUserModal/DeleteUserModal.tsx
  web/src/components/modals/ResetUserPasswordModal/ResetUserPasswordModal.tsx
  web/src/components/sidesheets/EditUserSidesheet/EditUserSidesheet.tsx
Due: prettier --write, eslint

fix: remove un-needed prop
  web/src/components/sidesheets/EditAccountSidesheet/EditAccountSidesheet.tsx
  web/src/components/sidesheets/EditUserSidesheet/EditUserSidesheet.tsx
Due: prettier --write, eslint

Invalidate refresh tokens before user deletion
  deployments/core.yml
  internal/core/users_api/cognito/delete_user.go
  internal/core/users_api/cognito/delete_user_test.go
  internal/core/users_api/cognito/mock_cognito_client.go
Due: none

rebuild global layer when modified from web UI
  internal/core/analysis_api/handlers/modify_global.go
Due: none
