Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Moved DDB Item back in normal scope
  api/lambda/alerts/models/table.go
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/api/list_alerts.go
  internal/log_analysis/alerts_api/table/get_alert.go
  internal/log_analysis/alerts_api/table/list.go
  internal/log_analysis/alerts_api/table/table.go
Due: none

Updated documentation
  deployments/log_analysis/alerts.yml
Due: none

Addressed set of comments from PR
  deployments/log_analysis/rules_engine.yml
  docs/gitbook/operations/runbooks.md
  internal/log_analysis/alert_forwarder/forwarder/config.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder_test.go
  internal/log_analysis/alert_forwarder/main/lambda.go
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/api/get_alert_test.go
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/rules_engine/src/output.py
Due: prettier --write

Removed unnecessary condition
  internal/log_analysis/alerts_api/api/get_alert.go
Due: none

Added version
  deployments/log_analysis/alerts.yml
  docs/gitbook/operations/runbooks.md
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder_test.go
  internal/log_analysis/alert_forwarder/forwarder/models.go
  internal/log_analysis/alert_forwarder/forwarder/models_test.go
  internal/log_analysis/rules_engine/src/alert_merger.py
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/src/output.py
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_engine.py
  internal/log_analysis/rules_engine/tests/test_output.py
  internal/log_analysis/rules_engine/tests/test_rule.py
Due: prettier --write

Sanitizing alertID
  internal/log_analysis/alerts_api/api/get_alert.go
Due: none

Fixed check
  internal/log_analysis/alerts_api/api/get_alert.go
Due: none

Added explanatory text
  internal/log_analysis/alerts_api/api/get_alert.go
Due: none

Revert changes in api & deployments
  api/gateway/analysis/api.yml
  deployments/compliance/alert_processing.yml
  deployments/core/admin_api.yml
  deployments/core/appsync.yml
  deployments/core/cognito.yml
  deployments/core/outputs.yml
  deployments/log_analysis/alerts.yml
Due: none

Updated and tidied go dependencies
  go.mod
  go.sum
Due: none

Updating Analysis API
  api/gateway/analysis/api.yml
  api/gateway/analysis/client/operations/bulk_upload_parameters.go
  api/gateway/analysis/client/operations/bulk_upload_responses.go
  api/gateway/analysis/client/operations/create_policy_parameters.go
  api/gateway/analysis/client/operations/create_policy_responses.go
  api/gateway/analysis/client/operations/create_rule_parameters.go
  api/gateway/analysis/client/operations/create_rule_responses.go
  api/gateway/analysis/client/operations/delete_policies_parameters.go
  api/gateway/analysis/client/operations/delete_policies_responses.go
  api/gateway/analysis/client/operations/get_enabled_policies_parameters.go
  api/gateway/analysis/client/operations/get_enabled_policies_responses.go
  api/gateway/analysis/client/operations/get_policy_parameters.go
  api/gateway/analysis/client/operations/get_policy_responses.go
  api/gateway/analysis/client/operations/get_rule_parameters.go
  api/gateway/analysis/client/operations/get_rule_responses.go
  api/gateway/analysis/client/operations/list_policies_responses.go
  api/gateway/analysis/client/operations/list_rules_responses.go
  api/gateway/analysis/client/operations/modify_policy_parameters.go
  api/gateway/analysis/client/operations/modify_policy_responses.go
  api/gateway/analysis/client/operations/modify_rule_parameters.go
  api/gateway/analysis/client/operations/modify_rule_responses.go
  api/gateway/analysis/client/operations/operations_client.go
  api/gateway/analysis/client/operations/suppress_parameters.go
  api/gateway/analysis/client/operations/suppress_responses.go
  api/gateway/analysis/client/operations/test_policy_parameters.go
  api/gateway/analysis/client/operations/test_policy_responses.go
  api/gateway/analysis/client/panther_analysis_client.go
  deployments/auxiliary/cloudformation/panther-log-processing-iam.yml
  deployments/core/source_api.yml
  docs/gitbook/operations/runbooks.md
  internal/compliance/alert_processor/processor/processor.go
  internal/compliance/remediation_api/remediation/invoke.go
  internal/core/analysis_api/handlers/test_policy.go
  internal/core/analysis_api/main/integration_test.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
Due: prettier --write

Reverted policyID/ruleID changes
  api/gateway/analysis/api.yml
  api/gateway/analysis/client/operations/get_enabled_policies_parameters.go
  api/gateway/analysis/client/operations/get_policy_parameters.go
  api/gateway/analysis/client/operations/get_rule_parameters.go
  api/gateway/analysis/models/bulk_upload.go
  api/gateway/analysis/models/id.go
  internal/compliance/alert_processor/processor/processor.go
  internal/compliance/remediation_api/remediation/invoke.go
  internal/core/analysis_api/main/integration_test.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
Due: none

Requiring analysis type to be defined
  internal/core/analysis_api/handlers/get_enabled_policies.go
Due: none

Checkpoint work
  internal/log_analysis/log_processor/destinations/destinations.go
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
Due: none

Lowercase Modals folder
  web/src/components/modals/analytics-consent-modal.tsx
  web/src/components/modals/base-confirm-modal.tsx
  web/src/components/modals/delete-destination-modal.tsx
  web/src/components/modals/delete-policy-modal.tsx
  web/src/components/modals/delete-rule-modal.tsx
  web/src/components/modals/delete-source-modal.tsx
  web/src/components/modals/delete-user-modal.tsx
  web/src/components/modals/network-error-modal.tsx
  web/src/components/modals/reset-user-password-modal.tsx
  web/src/components/utils/Modal/ModalContext.tsx
  web/src/components/utils/Modal/ModalManager.tsx
Due: prettier --write, eslint

Fix uint8 in schema generation
  tools/cfngen/gluecf/schema.go
Due: none

Fixing rules engine behavior
  deployments/auxiliary/cloudformation/panther-log-processing-iam.yml
  deployments/compliance/resources_api.yml
  deployments/core/source_api.yml
  docs/gitbook/operations/runbooks.md
  internal/core/analysis_api/handlers/clients.go
  internal/core/analysis_api/handlers/test_policy.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/rules_engine/src/analysis_api.py
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/tests/test_main.py
Due: prettier --write

Fixing linting issues
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/rules_engine/src/analysis_api.py
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/tests/test_main.py
Due: none

Pascalcase modals
  web/src/components/modals/AnalyticsConsentModal.tsx
  web/src/components/modals/BaseConfirmModal.tsx
  web/src/components/modals/DeleteDestinationModal.tsx
  web/src/components/modals/DeletePolicyModal.tsx
  web/src/components/modals/DeleteRuleModal.tsx
  web/src/components/modals/DeleteSourceModal.tsx
  web/src/components/modals/DeleteUserModal.tsx
  web/src/components/modals/NetworkErrorModal.tsx
  web/src/components/modals/ResetUserPasswordModal.tsx
  web/src/components/utils/Modal/ModalContext.tsx
  web/src/components/utils/Modal/ModalManager.tsx
Due: prettier --write, eslint

Addressed PR feedback
  deployments/core/source_api.yml
Due: none

Folderize modals
  web/src/components/modals/AnalyticsConsentModal/AnalyticsConsentModal.tsx
  web/src/components/modals/AnalyticsConsentModal/index.tsx
  web/src/components/modals/BaseConfirmModal/BaseConfirmModal.tsx
  web/src/components/modals/BaseConfirmModal/index.tsx
  web/src/components/modals/DeleteDestinationModal/DeleteDestinationModal.tsx
  web/src/components/modals/DeleteDestinationModal/index.tsx
  web/src/components/modals/DeletePolicyModal/DeletePolicyModal.tsx
  web/src/components/modals/DeletePolicyModal/index.tsx
  web/src/components/modals/DeleteRuleModal/DeleteRuleModal.tsx
  web/src/components/modals/DeleteRuleModal/index.tsx
  web/src/components/modals/DeleteSourceModal/DeleteSourceModal.tsx
  web/src/components/modals/DeleteSourceModal/index.tsx
  web/src/components/modals/DeleteUserModal/DeleteUserModal.tsx
  web/src/components/modals/DeleteUserModal/index.tsx
  web/src/components/modals/NetworkErrorModal/NetworkErrorModal.tsx
  web/src/components/modals/NetworkErrorModal/index.tsx
  web/src/components/modals/ResetUserPasswordModal/ResetUserPasswordModal.tsx
  web/src/components/modals/ResetUserPasswordModal/index.tsx
  web/src/components/utils/Modal/ModalContext.tsx
  web/src/components/utils/Modal/ModalManager.tsx
Due: prettier --write, eslint

Corrected changed compoment name
  web/src/components/Sidesheets/EditAccountSidesheet/EditAccountSidesheet.tsx
  web/src/components/Sidesheets/PolicyBulkUploadSidesheet/PolicyBulkUploadSidesheet.tsx
Due: prettier --write, eslint

fixed the glitch
  deployments/auxiliary/cloudformation/panther-log-processing-iam.yml
  deployments/core/source_api.yml
  docs/gitbook/operations/runbooks.md
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc3164.go
Due: prettier --write

fixed unit tests
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc3164_test.go
Due: none

Forms re-structured
  web/src/components/Sidesheets/AddDestinationSidesheet/AddDestinationSidesheet.tsx
  web/src/components/Sidesheets/EditUserSidesheet/EditUser.tsx
  web/src/components/Sidesheets/UpdateDestinationSidesheet/UpdateDestinationSidesheet.tsx
  web/src/components/forms/AsanaDestinationForm/AsanaDestinationForm.tsx
  web/src/components/forms/AsanaDestinationForm/index.tsx
  web/src/components/forms/DestinationForm/index.tsx
  web/src/components/forms/GithubDestinationForm/GithubDestinationForm.tsx
  web/src/components/forms/GithubDestinationForm/index.tsx
  web/src/components/forms/JiraDestinationForm/JiraDestination.tsx
  web/src/components/forms/JiraDestinationForm/index.tsx
  web/src/components/forms/MicrosoftTeamsDestinationForm/MicrosoftTeamsDestinationForm.tsx
  web/src/components/forms/MicrosoftTeamsDestinationForm/index.tsx
  web/src/components/forms/OpsgenieDestinationForm/OpsgenieDestinationForm.tsx
  web/src/components/forms/OpsgenieDestinationForm/index.tsx
  web/src/components/forms/PagerdutyDestinationForm/PagerdutyDestinationForm.tsx
  web/src/components/forms/PagerdutyDestinationForm/index.tsx
  web/src/components/forms/PolicyForm/PolicyForm.tsx
  web/src/components/forms/RuleForm/RuleForm.tsx
  web/src/components/forms/SlackDestinationForm/SlackDestinationForm.tsx
  web/src/components/forms/SlackDestinationForm/index.tsx
  web/src/components/forms/SnsDestinationForm/SnsDestinationForm.tsx
  web/src/components/forms/SnsDestinationForm/index.tsx
  web/src/components/forms/SqsDestinationForm/SqsDestinationForm.tsx
  web/src/components/forms/SqsDestinationForm/index.tsx
  web/src/components/forms/UserInvitationForm/UserInvitationForm.tsx
  web/src/components/forms/common/BaseDestinationForm.tsx
  web/src/components/forms/common/BaseRuleForm.tsx
  web/src/components/forms/common/BaseUserForm.tsx
  web/src/components/forms/common/RuleFormCoreFields.tsx
  web/src/components/forms/common/RuleFormTestFields.tsx
  web/src/components/forms/common/RuleFormTestResult.tsx
  web/src/components/forms/common/RuleFormTestResultList.tsx
  web/src/hooks/useEditRule.tsx
Due: prettier --write, eslint

Forms re-structured
  web/src/components/Sidesheets/AddDestinationSidesheet/AddDestinationSidesheet.tsx
  web/src/components/forms/DestinationForm/index.tsx
Due: prettier --write, eslint

Folderize common forms
  web/src/components/forms/common/BaseDestinationForm/BaseDestinationForm.tsx
  web/src/components/forms/common/BaseDestinationForm/index.tsx
  web/src/components/forms/common/BaseRuleForm/BaseRuleForm.tsx
  web/src/components/forms/common/BaseRuleForm/index.tsx
  web/src/components/forms/common/BaseUserForm/BaseUserForm.tsx
  web/src/components/forms/common/BaseUserForm/index.tsx
  web/src/components/forms/common/RuleFormCoreFields/RuleFormCoreFields.tsx
  web/src/components/forms/common/RuleFormCoreFields/index.tsx
  web/src/components/forms/common/RuleFormTestFields/RuleFormTestFields.tsx
  web/src/components/forms/common/RuleFormTestFields/index.tsx
  web/src/components/forms/common/RuleFormTestResult/RuleFormTestResult.tsx
  web/src/components/forms/common/RuleFormTestResult/index.tsx
  web/src/components/forms/common/RuleFormTestResultList/RuleFormTestResultList.tsx
  web/src/components/forms/common/RuleFormTestResultList/index.tsx
Due: prettier --write, eslint

Removed RouterContext
  web/src/components/utils/RouterContext/RouterContext.tsx
  web/src/components/utils/RouterContext/index.tsx
Due: prettier --write, eslint

Update export for ListLogSource & ListComplianceSources
  web/src/components/Sidesheets/UpdateSourceSidesheet/UpdateSourceSidesheet.tsx
  web/src/components/modals/DeleteSourceModal/DeleteSourceModal.tsx
  web/src/pages/CreateComplianceSource/CreateComplianceSource.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceTable/ComplianceSourceTable.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceTable/index.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceTableRowOptions/index.tsx
  web/src/pages/ListComplianceSources/ListComplianceSources.tsx
  web/src/pages/ListComplianceSources/complianceSourceColumns/complianceSourceColumns.tsx
  web/src/pages/ListComplianceSources/complianceSourceColumns/index.tsx
  web/src/pages/ListComplianceSources/index.tsx
  web/src/pages/ListLogSources/index.tsx
Due: prettier --write, eslint

Correct renaming to TableControlsComplianceFilterProps
  web/src/components/utils/TableControls/TableControlsComplianceFilter.tsx
Due: prettier --write, eslint

updated ecs scanning of non-existant resources
  internal/compliance/snapshot_poller/pollers/aws/ecs_cluster.go
  internal/compliance/snapshot_poller/pollers/aws/ecs_cluster_test.go
Due: none

Fixed name -- AlertDetailsEventsProps
  web/src/pages/AlertDetails/AlertDetailsEvents/AlertDetailsEvents.tsx
Due: prettier --write, eslint

Oneline exports for AlertDetails
  web/src/pages/AlertDetails/AlertDetailsEvents/index.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/index.tsx
  web/src/pages/AlertDetails/AlertDetailsSkeleton/index.tsx
Due: prettier --write, eslint

removed now redundant check
  internal/compliance/snapshot_poller/pollers/aws/ecs_cluster.go
Due: none

changed errors to warnings when failing to delete non-existent permissions
  internal/core/source_api/api/sqs_utils.go
Due: none

Use aws error constants, destroy all log groups
  tools/mage/teardown.go
  tools/mage/util_cfn.go
Due: none

Fixed export for ComplianceOverview
  web/src/pages/ComplianceOverview/ComplianceOverview.tsx
  web/src/pages/ComplianceOverview/index.tsx
Due: prettier --write, eslint
