Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Correct error handling in the poller; bump policy-engine mem/timeout
  deployments/cloud_security.yml
  internal/compliance/snapshot_poller/pollers/aws/cloudformation_stack.go
  internal/compliance/snapshot_poller/pollers/aws/cloudtrail.go
  internal/compliance/snapshot_poller/pollers/aws/configservice.go
  internal/compliance/snapshot_poller/pollers/aws/dynamodb_table.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_ami.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_instance.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_network_acl.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_security_group.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_volume.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_vpc.go
  internal/compliance/snapshot_poller/pollers/aws/elbv2_application_load_balancer.go
  internal/compliance/snapshot_poller/pollers/aws/iam_group.go
  internal/compliance/snapshot_poller/pollers/aws/iam_policy.go
  internal/compliance/snapshot_poller/pollers/aws/iam_role.go
  internal/compliance/snapshot_poller/pollers/aws/iam_user.go
  internal/compliance/snapshot_poller/pollers/aws/kms_key.go
  internal/compliance/snapshot_poller/pollers/aws/lambda_function.go
  internal/compliance/snapshot_poller/pollers/aws/password_policy.go
  internal/compliance/snapshot_poller/pollers/aws/redshift_cluster.go
  internal/compliance/snapshot_poller/pollers/aws/s3_bucket.go
  internal/compliance/snapshot_poller/pollers/aws/waf_web_acl.go
  internal/compliance/snapshot_poller/pollers/utils/logging.go
Due: none

Use errors.As in entire codebase
  internal/core/alert_delivery/outputs/utils.go
  internal/core/custom_resources/resources/certificate.go
  internal/core/custom_resources/resources/glue.go
  internal/core/custom_resources/resources/lambda_metric_filters.go
  internal/core/custom_resources/resources/panther_teardown.go
  internal/core/custom_resources/resources/s3_bucket_notification.go
  internal/core/users_api/cognito/delete_user.go
  internal/core/users_api/cognito/get_user.go
  internal/core/users_api/cognito/update_user.go
  internal/log_analysis/awsglue/integration_test.go
  internal/log_analysis/awsglue/table_metadata.go
  internal/log_analysis/gluetables/gluetables.go
Due: none

Remove extraneous comment
  internal/compliance/snapshot_poller/pollers/aws/iam_user.go
Due: none

Log non-critical error for 4XX gateway errors
  pkg/gatewayapi/router.go
  pkg/oplog/oplog.go
Due: none

Remove double conditional
  internal/compliance/snapshot_poller/pollers/aws/iam_user.go
Due: none

Fix multi-region publication
  tools/mage/master/publish.go
  tools/mage/util/s3.go
  tools/mage/util/version.go
Due: none

More robust solution to fix other clients as well
  tools/mage/clients/aws.go
  tools/mage/master/publish.go
  tools/mage/util/s3.go
  tools/mage/util/version.go
Due: none

Add clarifying comments and remove testing block
  tools/mage/clients/aws.go
  tools/mage/master/publish.go
Due: none

Re-export field types from the pantherlog module
  internal/log_analysis/log_processor/pantherlog/pantherlog.go
Due: none

mage gen fmt
  internal/log_analysis/log_processor/pantherlog/pantherlog.go
Due: none

Fix license
  internal/log_analysis/log_processor/pantherlog/pantherlog.go
Due: none

Re-export field types from pantherlog modules
  internal/log_analysis/log_processor/pantherlog/pantherlog.go
Due: none

build: bump integrities & versions of node-fetch
  package-lock.json
Due: prettier --write

build: bump resolve url for node-fetch
  package-lock.json
Due: prettier --write

fix: typo
  package-lock.json
Due: prettier --write

mage gen fmt
  package-lock.json
Due: prettier --write

Added ! for LogAnalysisMetricsResponse in schema
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.generated.ts
Due: prettier --write, eslint

refactor: Alerts Details page to a tabbed version
  web/src/components/BorderedTab/BorderedTab.tsx
  web/src/components/modals/ProfileSettingsModal/ProfileSettingsModal.tsx
  web/src/components/utils/TableControls/TableControlsPagination.tsx
  web/src/pages/AlertDetails/AlertDetails.tsx
  web/src/pages/AlertDetails/AlertDetailsBanner/AlertDetailsBanner.tsx
  web/src/pages/AlertDetails/AlertDetailsBanner/index.tsx
  web/src/pages/AlertDetails/AlertDetailsEvents/AlertDetailsEvents.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/index.tsx
Due: prettier --write, eslint

fix: patch snapshots due to pounce version bumping
  web/src/components/Wizard/__snapshots__/Wizard.test.tsx.snap
  web/src/components/fields/SensitiveTextInput/__snapshots__/SensitiveTextInput.test.tsx.snap
Due: none

feat: add Formik date range component
  package-lock.json
  package.json
  web/src/components/fields/DateRangeInput/DateRangeInput.tsx
  web/src/components/fields/DateRangeInput/index.tsx
Due: prettier --write, eslint

feat: map tabs to url params
  web/src/pages/AlertDetails/AlertDetails.tsx
Due: prettier --write, eslint

test: add tab testing for alerts page
  web/src/pages/AlertDetails/AlertDetails.test.tsx
Due: prettier --write, eslint

fix: add proper react router params on tests
  web/src/pages/AlertDetails/AlertDetails.test.tsx
Due: prettier --write, eslint

refactor: fix UI for bordered tabs in log overview
  web/src/pages/LogAnalysisOverview/LogTypeCharts/LogTypeCharts.tsx
Due: prettier --write, eslint

mage gen fmt
  web/src/pages/AlertDetails/AlertDetails.test.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/index.tsx
Due: prettier --write, eslint

Added tests for Creating All Destinations
  web/src/pages/CreateDestination/CreateDestination.test.tsx
Due: prettier --write, eslint

fix: ui around bordered tabs
  web/src/pages/LogAnalysisOverview/LogTypeCharts/LogTypeCharts.tsx
  web/src/pages/LogAnalysisOverview/Skeleton/Skeleton.tsx
Due: prettier --write, eslint

Added tests for Updating All Destinations
  web/src/pages/EditDestination/EditDestination.test.tsx
Due: prettier --write, eslint

Added Destination Cards tests
  web/src/pages/ListDestinations/DestinationCards/__tests__/AsanaDestinationCard.test.tsx
  web/src/pages/ListDestinations/DestinationCards/__tests__/CustomWebhookDestinationCard.test.tsx
  web/src/pages/ListDestinations/DestinationCards/__tests__/GithubDestinationCard.test.tsx
  web/src/pages/ListDestinations/DestinationCards/__tests__/JiraDestinationCard.test.tsx
  web/src/pages/ListDestinations/DestinationCards/__tests__/MsTeamsDestinationCard.test.tsx
  web/src/pages/ListDestinations/DestinationCards/__tests__/OpsGenieDestinationCard.test.tsx
  web/src/pages/ListDestinations/DestinationCards/__tests__/PagerDutyDestinationCard.test.tsx
  web/src/pages/ListDestinations/DestinationCards/__tests__/SnsDestinationCard.test.tsx
  web/src/pages/ListDestinations/DestinationCards/__tests__/SqsDestinationCard.test.tsx
Due: prettier --write, eslint

Added Github & Jira destination form
  web/src/components/forms/GithubDestinationForm/GithubDestinationForm.test.tsx
  web/src/components/forms/JiraDestinationForm/JiraDestinationForm.test.tsx
Due: prettier --write, eslint

fix: convert CLOSED to INVALID in the fe
  web/src/components/badges/AlertStatusBadge/AlertStatusBadge.tsx
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
Due: prettier --write, eslint

Remove cached sns/sqs clients
  internal/core/alert_delivery/outputs/outputs.go
  internal/core/alert_delivery/outputs/sns.go
  internal/core/alert_delivery/outputs/sns_test.go
  internal/core/alert_delivery/outputs/sqs.go
  internal/core/alert_delivery/outputs/sqs_test.go
Due: none

Enhance: Limit idToken to 15 minutes
  deployments/bootstrap_gateway.yml
Due: none

Improve log processor aggregation by seeing into the future
  deployments/log_analysis.yml
  internal/log_analysis/log_processor/processor/stream.go
  internal/log_analysis/log_processor/processor/stream_test.go
Due: none

Tune delay
  deployments/log_analysis.yml
  internal/log_analysis/log_processor/processor/stream.go
Due: none

refactor: add & use pluralization utility library
  web/src/helpers/utils.tsx
  web/src/pages/AlertDetails/AlertDetailsEvents/AlertDetailsEvents.tsx
Due: prettier --write, eslint

test: split single test into multiple
  web/src/pages/AlertDetails/AlertDetails.test.tsx
Due: prettier --write, eslint

refactor: abstract alert event Json parsing
  web/src/pages/AlertDetails/AlertDetailsEvents/AlertDetailsEvents.tsx
Due: prettier --write, eslint

fix: add missing fields from GraphQL queries & re-organize gql fragments
  web/src/graphql/fragments/RuleBasic.generated.ts
  web/src/graphql/fragments/RuleBasic.graphql
  web/src/graphql/fragments/RuleDates.generated.ts
  web/src/graphql/fragments/RuleDates.graphql
  web/src/graphql/fragments/RuleFull.generated.ts
  web/src/graphql/fragments/RuleFull.graphql
  web/src/pages/RuleDetails/graphql/ruleDetails.generated.ts
  web/src/pages/RuleDetails/graphql/ruleDetails.graphql
Due: prettier --write, eslint

fix: typings on AlertDetails page components
  web/src/pages/AlertDetails/AlertDetailsBanner/AlertDetailsBanner.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
Due: prettier --write, eslint
