Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

README updates after test deployment
  README.md
Due: prettier --write

Updating mage setup command to download tools inside repository folder
  .gitignore
  go.mod
  go.sum
  tools/mage/build_namespace.go
  tools/mage/setup.go
  tools/mage/util.go
Due: none

Fixing venv python library invocation
  tools/mage/fmt.go
  tools/mage/setup.go
  tools/mage/test_namespace.go
  tools/mage/util.go
Due: none

Fixing golangci-test invocation
  tools/mage/test_namespace.go
Due: none

Updated dependencies
  go.mod
  go.sum
Due: none

Respond to PR
  internal/log_analysis/alerts_api/api/list_alerts.go
Due: none

[ENG-1317] Fix missing validations in rule loading
  internal/log_analysis/rules_engine/src/engine.py
Due: none

Respond to PR
  internal/log_analysis/rules_engine/src/engine.py
Due: none

Updating Compliance onboarding page to populate Panther AWS Account ID
  web/src/constants.ts
  web/src/pages/create-source/subcomponents/create-infra-source/subcomponents/resource-scanning-panel.tsx
Due: prettier --write, eslint

removing deployment-specific configuration values
  web/config/.env.local
Due: none

removed configuration values
  web/config/.env.development
  web/config/.env.production
  web/config/.env.staging
Due: none

Restarting Fargate tasks
  deployments/template.yml
  tools/mage/deploy.go
Due: none

Handling S3 Test events
  internal/log_analysis/log_processor/sources/s3.go
  internal/log_analysis/log_processor/sources/s3_test.go
Due: none

Updating minor issue
  internal/log_analysis/log_processor/sources/s3.go
Due: none

Handling CloudTral validation messages
  internal/log_analysis/log_processor/sources/s3.go
  internal/log_analysis/log_processor/sources/s3_test.go
Due: none

Fixing rules engine
  internal/log_analysis/rules_engine/src/main.py
Due: none

re-added enterprise
  enterprise/web/build-utils/dir-content-replacement-plugin.js
  enterprise/web/src/components/navigation.tsx
  enterprise/web/webpack.config.js
  internal/core/analysis_api/handlers/test_policy.go
  internal/log_analysis/rules_engine/src/main.py
Due: prettier --write, eslint

Fixing email delivery
  deployments/core/outputs.yml
  deployments/panther_config.yml
  deployments/template.yml
  internal/core/alert_delivery/outputs/email.go
  internal/core/alert_delivery/outputs/email_test.go
  internal/core/outputs_api/verification/get_verification_status.go
  internal/core/outputs_api/verification/verification.go
  internal/core/outputs_api/verification/verify_output.go
  tools/mage/deploy.go
  tools/mage/deploy_email.go
Due: none

Addressed PR comments
  deployments/core/analysis_api.yml
  enterprise/web/build-utils/dir-content-replacement-plugin.js
  enterprise/web/src/components/navigation.tsx
  enterprise/web/webpack.config.js
  go.sum
  internal/core/analysis_api/handlers/test_policy.go
  internal/log_analysis/rules_engine/src/main.py
Due: prettier --write, eslint

Build docker image from source
  .dockerignore
  .gitignore
  README.md
  deployments/log_analysis/log_processor.yml
  deployments/panther_config.yml
  deployments/template.yml
  deployments/web/Dockerfile
  deployments/web/ecr.yml
  deployments/web/server.yml
  go.mod
  go.sum
  internal/compliance/snapshot_api/api/put_integration.go
  internal/log_analysis/log_processor/classification/classifier.go
  internal/log_analysis/log_processor/classification/classifier_test.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/rules_engine/src/main.py
  package-lock.json
  package.json
  tools/mage/build_namespace.go
  tools/mage/config.go
  tools/mage/deploy.go
  tools/mage/fmt.go
  tools/mage/setup.go
  tools/mage/test_namespace.go
  tools/mage/util.go
  web/README.md
  web/config/.env.development
  web/config/.env.local
  web/config/.env.production
  web/config/.env.staging
  web/scripts/deploy-image.sh
  web/scripts/serve.js
  web/scripts/setup-dotenv.js
  web/src/client.ts
  web/src/components/utils/auth-context.tsx
  web/src/config.ts
  webpack.config.js
Due: prettier --write, eslint

Updated integration tests
  internal/core/analysis_api/main/integration_test.go
Due: none

Fix mage
  go.mod
  go.sum
  tools/mage/fmt.go
  tools/mage/setup.go
  tools/mage/test_namespace.go
  tools/mage/util.go
Due: none

More merge conflicts
  README.md
  deployments/log_analysis/log_processor.yml
  deployments/panther_config.yml
  deployments/template.yml
  deployments/web/Dockerfile
  deployments/web/ecr.yml
  go.mod
  go.sum
  internal/compliance/snapshot_api/api/put_integration.go
  internal/log_analysis/log_processor/classification/classifier.go
  internal/log_analysis/log_processor/classification/classifier_test.go
  internal/log_analysis/log_processor/processor/processor.go
  tools/mage/build_namespace.go
Due: prettier --write

[fossa] init
  .fossa.yml
Due: none

Properly emit columns for composed Go structs (will be used for panther standard fields)
  tools/cfngen/gluecf/schema.go
  tools/cfngen/gluecf/schema_test.go
Due: none

Adding public templates
  deployments/auxiliary/README.md
  deployments/auxiliary/cloudformation/README.md
  deployments/auxiliary/cloudformation/panther-aws-remediations-master-account.yml
  deployments/auxiliary/cloudformation/panther-aws-remediations-satellite-account.yml
  deployments/auxiliary/cloudformation/panther-cloudwatch-events.yml
  deployments/auxiliary/cloudformation/panther-compliance-iam.yml
  deployments/auxiliary/cloudformation/panther-log-processing-iam.yml
  deployments/auxiliary/cloudformation/panther-log-processing-infra.yml
  deployments/auxiliary/cloudformation/panther-log-processing-notifications.yml
  deployments/auxiliary/cloudformation/panther-stackset-iam-admin-role.yml
  deployments/auxiliary/terraform/README.md
Due: prettier --write

mage fmt
  tools/cfngen/gluecf/schema.go
Due: none

Added licenses and formatting
  deployments/auxiliary/cloudformation/panther-aws-remediations-master-account.yml
  deployments/auxiliary/cloudformation/panther-aws-remediations-satellite-account.yml
  deployments/auxiliary/cloudformation/panther-cloudwatch-events.yml
  deployments/auxiliary/cloudformation/panther-compliance-iam.yml
  deployments/auxiliary/cloudformation/panther-log-processing-iam.yml
  deployments/auxiliary/cloudformation/panther-log-processing-infra.yml
  deployments/auxiliary/cloudformation/panther-log-processing-notifications.yml
  deployments/auxiliary/cloudformation/panther-stackset-iam-admin-role.yml
Due: none

Applied linting
  deployments/auxiliary/cloudformation/panther-aws-remediations-master-account.yml
Due: none

Fixed alerting configuration issue
  deployments/compliance/alert_processing.yml
Due: none

Addressed PR comments
  deployments/auxiliary/README.md
  deployments/auxiliary/cloudformation/README.md
Due: prettier --write

Add license scan report and status
  README.md
Due: prettier --write

Removed incorrect enrichment
  internal/compliance/snapshot_poller/pollers/aws/acm_certificate.go
Due: none

removed corresponding permission
  deployments/auxiliary/cloudformation/panther-compliance-iam.yml
Due: none

Fix rule edit uses policy url
  web/config/.env.local
  web/src/pages/list-rules/subcomponents/list-rules-table-row-options.tsx
Due: prettier --write, eslint

Fix json to parsed twice
  deployments/core/appsync.yml
Due: none

Add gitignore
  .gitignore
  web/config/.env.local
Due: none

Add configuration gitignore
  .gitignore
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
