Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Allow deployment role to create aws service roles
  deployments/auxiliary/cloudformation/panther-deployment-role.yml
  deployments/auxiliary/terraform/panther_deployment_role/main.tf
Due: none

Swagger import fix
  tools/mage/build_namespace.go
Due: none

Bump version in docs
  docs/gitbook/development.md
  docs/gitbook/quick-start.md
Due: prettier --write

fixed param in correct location
  web/src/components/wizards/ComplianceSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/components/wizards/LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
Due: prettier --write, eslint

Bump version of deployment role cfn template
  deployments/auxiliary/cloudformation/panther-deployment-role.yml
Due: none

fixed template format
  deployments/auxiliary/cloudformation/panther-cloudsec-iam.yml
Due: none

adjusted unit test expectations
  internal/core/source_api/api/testdata/panther-cloudsec-iam-updated.yml
Due: none

addressed PR feedback
  deployments/auxiliary/cloudformation/panther-cloudsec-iam.yml
  internal/core/source_api/api/testdata/panther-cloudsec-iam-updated.yml
Due: none

i hate myself
  internal/core/source_api/api/get_integration_template.go
Due: none

fixed "Account"
  docs/gitbook/enterprise/snowflake.md
Due: prettier --write

fixed "accountid" typo
  docs/gitbook/enterprise/snowflake.md
Due: prettier --write

Don't ever remove generated swagger files
  tools/mage/build_namespace.go
Due: none

Only allow TLS 1.2
  deployments/bootstrap.yml
Due: none

[gcplogs] Audit log draft
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog.go
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog_test.go
  internal/log_analysis/log_processor/parsers/gcplogs/gcplogs.go
  internal/log_analysis/log_processor/parsers/numerics/numerics.go
  internal/log_analysis/log_processor/parsers/numerics/numerics_test.go
Due: none

handle list & details policy tables
  web/src/pages/ListPolicies/ListPoliciesTable/ListPoliciesTable.tsx
  web/src/pages/ListPolicies/ListPoliciesTable/ListPoliciesTableRowOptions/ListPoliciesTableRowOptions.tsx
  web/src/pages/ListPolicies/ListPoliciesTable/ListPoliciesTableRowOptions/index.tsx
  web/src/pages/PolicyDetails/PolicyDetails.tsx
  web/src/pages/PolicyDetails/PolicyDetailsTable/PolicyDetailsTable.tsx
  web/src/pages/PolicyDetails/columns.tsx
Due: prettier --write, eslint

handle log source tables
  web/src/pages/Destinations/ListDestinationsTable/ListDestinationsTableRowOptions/ListDestinationsTableRowOptions.tsx
  web/src/pages/ListLogSources/ListLogSources.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceHealthIcon/LogSourceHealthIcon.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceHealthIcon/index.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceTable.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceTableRowOptions/LogSourceTableRowOptions.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceTableRowOptions/index.tsx
  web/src/pages/ListLogSources/LogSourceTable/index.tsx
  web/src/pages/ListLogSources/columns.tsx
  web/src/pages/ListPolicies/columns.tsx
Due: prettier --write, eslint

handle compliance source tables
  web/src/pages/ListComplianceSources/ComplianceSourceTable/ComplianceSourceHealthIcon/ComplianceSourceHealthIcon.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceTable/ComplianceSourceHealthIcon/index.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceTable/ComplianceSourceTable.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceTable/ComplianceSourceTableRowOptions/ComplianceSourceTableRowOptions.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceTable/ComplianceSourceTableRowOptions/index.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceTable/index.tsx
  web/src/pages/ListComplianceSources/ListComplianceSources.tsx
  web/src/pages/ListComplianceSources/columns.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceHealthIcon/LogSourceHealthIcon.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceTable.tsx
Due: prettier --write, eslint

refactor list rules table to new API
  web/src/helpers/utils.tsx
  web/src/hooks/useSelectableTableRows.tsx
  web/src/pages/ListPolicies/ListPoliciesTable/ListPoliciesTable.tsx
  web/src/pages/ListRules/ListRulesTable/ListRulesTable.tsx
  web/src/pages/ListRules/ListRulesTable/ListRulesTableRowOptions/ListRulesTableRowOptions.tsx
  web/src/pages/ListRules/ListRulesTable/ListRulesTableRowOptions/index.tsx
  web/src/pages/ListRules/columns.tsx
Due: prettier --write, eslint

remove un-needed propagation preventions
  web/src/components/buttons/RemediationButton/RemediationButton.tsx
  web/src/components/buttons/SuppressButton/SuppressButton.tsx
  web/src/pages/ListAlerts/ListAlertsTable/ListAlertsTable.tsx
  web/src/pages/ListPolicies/ListPoliciesTable/ListPoliciesTableRowOptions/ListPoliciesTableRowOptions.tsx
  web/src/pages/ListRules/ListRulesTable/ListRulesTableRowOptions/ListRulesTableRowOptions.tsx
Due: prettier --write, eslint

place overview tables into dedicated folder/files
  web/src/pages/ComplianceOverview/ComplianceOverview.tsx
  web/src/pages/ComplianceOverview/TopFailingPoliciesTable/TopFailingPoliciesTable.tsx
  web/src/pages/ComplianceOverview/TopFailingPoliciesTable/index.tsx
  web/src/pages/ComplianceOverview/TopFailingResourcesTable/TopFailingResourcesTable.tsx
  web/src/pages/ComplianceOverview/TopFailingResourcesTable/index.tsx
Due: prettier --write, eslint

add missing license headers
  web/src/components/SeverityBadge/SeverityBadge.tsx
  web/src/components/SeverityBadge/index.tsx
  web/src/pages/ComplianceOverview/TopFailingPoliciesTable/TopFailingPoliciesTable.tsx
  web/src/pages/ComplianceOverview/TopFailingPoliciesTable/index.tsx
  web/src/pages/ComplianceOverview/TopFailingResourcesTable/TopFailingResourcesTable.tsx
  web/src/pages/ComplianceOverview/TopFailingResourcesTable/index.tsx
  web/src/pages/Destinations/ListDestinationsTable/ListDestinationsTable.tsx
  web/src/pages/Destinations/ListDestinationsTable/ListDestinationsTableRowOptions/index.tsx
  web/src/pages/Destinations/ListDestinationsTable/index.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceTable/ComplianceSourceTable.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceTable/index.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceTable.tsx
  web/src/pages/ListLogSources/LogSourceTable/index.tsx
  web/src/pages/RuleDetails/RuleDetailsAlertsTable/RuleDetailsAlertsTable.tsx
  web/src/pages/RuleDetails/RuleDetailsAlertsTable/index.tsx
  web/src/pages/Users/ListUsers/index.tsx
Due: prettier --write, eslint

Added a filter function for users we edit in UserForm
  web/src/components/forms/UserForm/UserForm.tsx
Due: prettier --write, eslint

Removed comment
  web/scripts/serve.js
Due: prettier --write, eslint

Updated and locked @apollo/client to v3.0.0-beta.41
  package.json
Due: prettier --write

Register parsers
  docs/gitbook/log-analysis/log-processing/supported-logs/GCP.md
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog.go
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog_test.go
  internal/log_analysis/log_processor/parsers/gcplogs/gcplogs.go
  internal/log_analysis/log_processor/registry/registry.go
  tools/cfngen/gluecf/schema.go
  web/src/constants.ts
Due: prettier --write, eslint

Finish up
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_digest.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
Due: none

Lowercase short AlertIds in breadcrumb
  web/src/components/Breadcrumbs/Breadcrumbs.tsx
Due: prettier --write, eslint

fix bug with rule display name
  web/src/pages/ListRules/ListRulesTable/ListRulesTable.tsx
Due: prettier --write, eslint

Lowercase before checking hex
  web/src/components/Breadcrumbs/Breadcrumbs.tsx
Due: prettier --write, eslint

conform SQL Shell table to latest API
  web/src/pages/SQLShell/Results/ResultsTable/ResultsTable.tsx
Due: prettier --write, eslint

replace `is` with `as`
  web/src/components/Navigation/HistoricalSearchNavigation.tsx
  web/src/pages/SQLShell/Browser/Browser.tsx
  web/src/pages/SQLShell/Browser/ColumnList/ColumnList.tsx
  web/src/pages/SQLShell/Browser/ColumnList/ColumnListItem.tsx
  web/src/pages/SQLShell/Browser/TableList/TableList.tsx
  web/src/pages/SQLShell/Browser/TableList/TableListItem.tsx
  web/src/pages/SQLShell/SQLShell.tsx
Due: prettier --write, eslint

refactor Table
  web/src/pages/SQLShell/Results/ResultsTable/ResultsTable.tsx
Due: prettier --write, eslint

minor refactors in ListItem components
  web/src/pages/SQLShell/Browser/ColumnList/ColumnListItem.tsx
  web/src/pages/SQLShell/Browser/TableList/TableListItem.tsx
Due: prettier --write, eslint

handle display of null values
  web/src/pages/DataExplorer/Results/ResultsTable/ResultsTable.tsx
Due: prettier --write, eslint

[WIP] Demostrate handling of AWS corner cases
  internal/log_analysis/log_processor/parsers/awslogs/extractor.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty_test.go
  internal/log_analysis/log_processor/parsers/awslogs/pantherlog.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
Due: none

add & display totalCount of results
  api/graphql/schema.graphql
  deployments/appsync.yml
  go.sum
  web/__generated__/schema.tsx
  web/src/pages/DataExplorer/Results/Results.tsx
  web/src/pages/DataExplorer/Results/graphql/getLogQueryResults.generated.ts
  web/src/pages/DataExplorer/Results/graphql/getLogQueryResults.graphql
Due: prettier --write, eslint

fix issues with duplicated react keys
  deployments/appsync.yml
  web/src/pages/DataExplorer/Results/ResultsTable/ResultsTable.tsx
Due: prettier --write, eslint

Checkpoint work
  cmd/devtools/logprocessor/logprocessor/main.go
  deployments/log_analysis.yml
  deployments/panther_config.yml
  docs/gitbook/operations/runbooks.md
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/main/lambda.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/processor/processor_test.go
  internal/log_analysis/log_processor/processor/stream.go
  tools/cfngen/cloudwatchcf/alarms_lambda.go
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
