Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Update pantherlog tool to use -source-id and -source-label args
  cmd/devtools/pantherlog/pantherlog/main.go
  internal/log_analysis/log_processor/registry/registry.go
Due: none

test: add more tests to password-related forms
  web/src/components/forms/ChangePasswordForm/ChangePasswordForm.tsx
  web/src/components/forms/ForgotPasswordConfirmForm/ForgotPasswordConfirmForm.test.tsx
  web/src/components/forms/ForgotPasswordConfirmForm/ForgotPasswordConfirmForm.tsx
  web/src/components/forms/SetPasswordForm/SetPasswordForm.test.tsx
  web/src/components/forms/SetPasswordForm/SetPasswordForm.tsx
Due: prettier --write, eslint

test: fix minor issue with test
  web/src/components/forms/ForgotPasswordForm/ForgotPasswordForm.test.tsx
Due: prettier --write, eslint

Add source fields to docs
  docs/gitbook/log-analysis/panther-fields.md
Due: prettier --write

Improve flag default behavior for requeue
  cmd/opstools/gluesync/gluesync/main.go
  cmd/opstools/requeue/requeue.go
  cmd/opstools/requeue/requeue/main.go
  cmd/opstools/s3queue/s3queue/main.go
  docs/gitbook/operations/ops-home.md
Due: prettier --write

Add source fields to testutil
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
Due: none

Change logging in s3queue to not pass a verbose flag and control via log level
  cmd/opstools/s3queue/integration_test.go
  cmd/opstools/s3queue/s3queue.go
  cmd/opstools/s3queue/s3queue/main.go
  cmd/opstools/s3queue/s3queue_test.go
Due: none

fix: protect against unmounting during async operation that executes `setState`
  web/src/components/FieldPolicyChecker/FieldPolicyChecker.tsx
Due: prettier --write, eslint

fix: align better the items in the navbar
  web/src/components/Header/Header.tsx
  web/src/components/Navigation/Navigation.tsx
  web/src/components/Navigation/SecondaryNavigations/ComplianceNavigation.tsx
  web/src/components/Navigation/SecondaryNavigations/LogAnalysisNavigation.tsx
  web/src/components/Navigation/SecondaryNavigations/SettingsNavigation.tsx
Due: prettier --write, eslint

feat: add Breadcrumbs.Actions and used it in ListXXX pages
  web/src/components/Breadcrumbs/Breadcrumbs.tsx
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
  web/src/pages/ListPolicies/ListPoliciesActions/ListPoliciesActions.tsx
  web/src/pages/ListResources/ListResourcesActions/ListResourcesActions.tsx
  web/src/pages/ListRules/ListRulesActions/ListRulesActions.tsx
Due: prettier --write, eslint

add tests for breadcrumb actions
  web/__tests__/example.test.tsx
  web/src/components/Breadcrumbs/Breadcrumbs.test.tsx
Due: prettier --write, eslint

fix: mage fmt
  web/src/components/Breadcrumbs/Breadcrumbs.test.tsx
Due: prettier --write, eslint

Update ops doc with notes on how to configure PagerDuty
  docs/gitbook/operations/ops-home.md
Due: prettier --write

Respond to PR
  docs/gitbook/operations/ops-home.md
Due: prettier --write

Address feedback
  tools/mage/doc_parse.go
  tools/mage/doc_parse_test.go
  tools/mage/testdata/docs/invalid.md
Due: prettier --write

Use sugared logger for requeue debug messages
  cmd/opstools/requeue/requeue.go
Due: none

Remove docs from mage
  tools/mage/doc.go
  tools/mage/doc_parse.go
  tools/mage/doc_parse_test.go
  tools/mage/doc_test.go
  tools/mage/fmt.go
  tools/mage/test_namespace.go
  tools/mage/testdata/docs/.gitbook/assets/logo.png
  tools/mage/testdata/docs/development.md
  tools/mage/testdata/docs/invalid.md
  tools/mage/testdata/docs/quick-start.md
  tools/mage/util_cfn.go
  tools/mage/util_hash.go
Due: prettier --write

Remove unused images, add cloud security overview to README
  README.md
  docs/img/alert-viewer-new.png
  docs/img/compliance-overview.png
  docs/img/resource-viewer-new.png
  docs/img/resource-viewer.png
  docs/img/rule-editor-new.png
  docs/img/rule-search-new.png
  docs/img/rules-editor.png
Due: prettier --write

PantherUser custom resource only allows creation
  internal/core/custom_resources/resources/map.go
  internal/core/custom_resources/resources/panther_user.go
Due: none

Rule threshold can now be managed through Panther Analysis Tool
  api/gateway/analysis/api.yml
  api/gateway/analysis/configmodels.go
  api/gateway/analysis/models/threshold.go
  internal/core/analysis_api/handlers/bulk_upload.go
  internal/core/analysis_api/handlers/compliance.go
  internal/core/analysis_api/handlers/get.go
  internal/core/analysis_api/handlers/util.go
  internal/core/analysis_api/handlers/util_test.go
  internal/core/analysis_api/main/integration_test.go
  internal/core/analysis_api/main/test_analyses/policy_always_true.json
  internal/core/analysis_api/main/test_analyses/policy_always_true.py
  internal/core/analysis_api/main/test_analyses/policy_always_true.yml
  internal/core/analysis_api/main/test_analyses/policy_aws_cloudtrail_log_validation_enabled.py
  internal/core/analysis_api/main/test_analyses/policy_aws_cloudtrail_log_validation_enabled.yml
  internal/core/analysis_api/main/test_analyses/rule_always_true.py
  internal/core/analysis_api/main/test_analyses/rule_always_true.yml
Due: prettier --write

Fixed formatting
  internal/core/analysis_api/handlers/create_rule.go
  internal/core/analysis_api/handlers/get.go
  internal/core/analysis_api/handlers/util.go
  internal/core/analysis_api/main/integration_test.go
Due: none

Updated method name
  internal/core/analysis_api/handlers/compliance.go
  internal/core/analysis_api/handlers/util.go
  internal/core/analysis_api/handlers/util_test.go
Due: none

Fixing integration tests
  internal/core/analysis_api/main/integration_test.go
Due: none

test: add `--runInBand` in jest runner
  package.json
Due: prettier --write

test: silence act warnings
  web/__tests__/setup.ts
Due: prettier --write, eslint

Update prompt.Read to take multiple validators
  pkg/prompt/prompt.go
Due: none

chore: update comments
  web/__tests__/setup.ts
Due: prettier --write, eslint

Refine alarm descriptions
  internal/core/custom_resources/resources/alarms.go
  internal/core/custom_resources/resources/clients.go
Due: none

chore: bump @types of echarts
  package-lock.json
  package.json
Due: prettier --write

fix: add hourly events
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
Due: prettier --write, eslint

fix formatting issues in TimeSeriesChart
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
Due: prettier --write, eslint

Respond to PR
  pkg/prompt/prompt.go
Due: none

Add more information to log message
  internal/core/custom_resources/resources/panther_user.go
Due: none

Restore limited version of 'mage doc'
  tools/mage/doc.go
  tools/mage/doc_test.go
  tools/mage/test_namespace.go
Due: none

fix: minor fixes in accessibility & naming
  web/src/components/forms/BaseRuleForm/BaseRuleFormCoreSection/BaseRuleFormCoreSection.tsx
  web/src/helpers/utils.tsx
  web/src/pages/CreateLogSource/CreateSqsLogSource/CreateSqsLogSource.test.tsx
  web/src/pages/RuleDetails/RuleDetailsInfo/RuleDetailsInfo.tsx
Due: prettier --write, eslint

Fix documentation links in web app
  web/src/components/Navigation/Navigation.tsx
  web/src/components/forms/AnalyticsConsentForm/ErrorReportingSection.tsx
  web/src/components/forms/PolicyForm/PolicyFormAutoRemediationSection/PolicyFormAutoRemediationSection.tsx
  web/src/components/sidesheets/PolicyBulkUploadSidesheet/PolicyBulkUploadSidesheet.tsx
  web/src/components/wizards/ComplianceSourceWizard/SourceConfigurationPanel/SourceConfigurationPanel.tsx
  web/src/constants.ts
  web/src/pages/Landing/Landing.tsx
Due: prettier --write, eslint

wip: adding delivery statuses
  api/lambda/alerts/models/api.go
  deployments/core.yml
  internal/core/alert_delivery/delivery/delivery_test.go
  internal/core/alert_delivery/delivery/dispatch.go
  internal/core/alert_delivery/delivery/dispatch_test.go
  internal/core/alert_delivery/delivery/handle.go
  internal/core/alert_delivery/delivery/handle_test.go
  internal/core/alert_delivery/delivery/retry.go
  internal/core/alert_delivery/models/api.go
  internal/core/alert_delivery/outputs/asana.go
  internal/core/alert_delivery/outputs/asana_test.go
  internal/core/alert_delivery/outputs/custom_webhook.go
  internal/core/alert_delivery/outputs/custom_webhook_test.go
  internal/core/alert_delivery/outputs/errors.go
  internal/core/alert_delivery/outputs/errors_test.go
  internal/core/alert_delivery/outputs/github.go
  internal/core/alert_delivery/outputs/github_test.go
  internal/core/alert_delivery/outputs/jira.go
  internal/core/alert_delivery/outputs/jira_test.go
  internal/core/alert_delivery/outputs/msteams.go
  internal/core/alert_delivery/outputs/msteams_test.go
  internal/core/alert_delivery/outputs/opsgenie.go
  internal/core/alert_delivery/outputs/opsgenie_test.go
  internal/core/alert_delivery/outputs/outputs.go
  internal/core/alert_delivery/outputs/outputs_test.go
  internal/core/alert_delivery/outputs/pagerduty.go
  internal/core/alert_delivery/outputs/pagerduty_test.go
  internal/core/alert_delivery/outputs/post.go
  internal/core/alert_delivery/outputs/post_test.go
  internal/core/alert_delivery/outputs/slack.go
  internal/core/alert_delivery/outputs/slack_test.go
  internal/core/alert_delivery/outputs/sns.go
  internal/core/alert_delivery/outputs/sqs.go
  internal/log_analysis/alerts_api/table/table.go
Due: none
