Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Refacor structs in api s.t. no json tag is used more than 1 time
  api/lambda/database/models/api.go
  internal/core/database_api/athena/driver/api/appsync.go
  internal/core/database_api/athena/driver/api/athena.go
  internal/core/database_api/athena/driver/api/glue.go
  internal/core/database_api/athena/driver/api/integration_test.go
  internal/core/database_api/athena/driver/api/invoke.go
  internal/core/database_api/athena/driver/api/steps.go
Due: none

Add query stats (execution time & datascanned) to status output
  api/lambda/database/models/api.go
  internal/core/database_api/athena/driver/api/athena.go
  internal/core/database_api/athena/driver/api/integration_test.go
Due: none

Add columnInfo to athena_api results and remove first returned row
  api/lambda/database/models/api.go
  internal/core/database_api/athena/driver/api/athena.go
  internal/core/database_api/athena/driver/api/integration_test.go
  internal/core/database_api/athena/testutils/testutils.go
Due: none

Minor grammar updates
  docs/gitbook/policies/scanning/README.md
Due: prettier --write

Add GetQueryResultsLink to athena_api to download as csv
  api/lambda/database/models/api.go
  internal/core/database_api/athena/driver/api/api.go
  internal/core/database_api/athena/driver/api/athena.go
  internal/core/database_api/athena/driver/api/integration_test.go
  internal/core/database_api/athena/driver/api/invoke.go
Due: none

fully working
  deployments/core.yml
  internal/compliance/policy_engine/src/policy.py
  internal/core/analysis_api/handlers/clients.go
  internal/core/analysis_api/handlers/create_global.go
  internal/core/analysis_api/handlers/sqs.go
  internal/core/layer_manager/manager/clients.go
  internal/core/layer_manager/manager/handle.go
  tools/mage/deploy.go
Due: none

removed dead code & fixed CI
  internal/compliance/policy_engine/src/policy.py
  internal/compliance/resource_processor/processor/analysis_api.go
  internal/compliance/resource_processor/processor/handler.go
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_engine.py
  tools/mage/deploy.go
Due: none

Fragments for Rules
  web/src/graphql/fragments/RuleDetailsFragment.generated.ts
  web/src/graphql/fragments/RuleDetailsFragment.graphql
  web/src/graphql/fragments/RuleFragment.generated.ts
  web/src/graphql/fragments/RuleFragment.graphql
  web/src/graphql/fragments/RuleTeaserFragment.generated.ts
  web/src/graphql/fragments/RuleTeaserFragment.graphql
  web/src/pages/AlertDetails/graphql/ruleTeaser.generated.ts
  web/src/pages/AlertDetails/graphql/ruleTeaser.graphql
  web/src/pages/CreateRule/graphql/createRule.generated.ts
  web/src/pages/CreateRule/graphql/createRule.graphql
  web/src/pages/EditRule/graphql/updateRule.generated.ts
  web/src/pages/EditRule/graphql/updateRule.graphql
  web/src/pages/RuleDetails/graphql/ruleDetails.generated.ts
  web/src/pages/RuleDetails/graphql/ruleDetails.graphql
Due: prettier --write, eslint

Fragment for AlertDetails
  web/src/graphql/fragments/AlertDetailsFragment.generated.ts
  web/src/graphql/fragments/AlertDetailsFragment.graphql
  web/src/pages/AlertDetails/graphql/alertDetails.generated.ts
  web/src/pages/AlertDetails/graphql/alertDetails.graphql
Due: prettier --write, eslint

Fragments for Policies
  web/src/graphql/fragments/PolicyDetailsFragment.generated.ts
  web/src/graphql/fragments/PolicyDetailsFragment.graphql
  web/src/graphql/fragments/PolicySummaryFragment.generated.ts
  web/src/graphql/fragments/PolicySummaryFragment.graphql
  web/src/pages/CreatePolicy/graphql/createPolicy.generated.ts
  web/src/pages/CreatePolicy/graphql/createPolicy.graphql
  web/src/pages/EditPolicy/graphql/policyDetails.generated.ts
  web/src/pages/EditPolicy/graphql/policyDetails.graphql
  web/src/pages/ListPolicies/graphql/listPolicies.generated.ts
  web/src/pages/ListPolicies/graphql/listPolicies.graphql
  web/src/pages/PolicyDetails/graphql/policyDetails.generated.ts
  web/src/pages/PolicyDetails/graphql/policyDetails.graphql
Due: prettier --write, eslint

Fragment for Destinations
  web/src/components/sidesheets/AddDestinationSidesheet/graphql/addDestination.generated.ts
  web/src/components/sidesheets/AddDestinationSidesheet/graphql/addDestination.graphql
  web/src/components/sidesheets/UpdateDestinationSidesheet/graphql/updateDestination.generated.ts
  web/src/components/sidesheets/UpdateDestinationSidesheet/graphql/updateDestination.graphql
  web/src/graphql/fragments/DestinationFragment.generated.ts
  web/src/graphql/fragments/DestinationFragment.graphql
  web/src/pages/Destinations/graphql/listDestinationsAndDefaults.generated.ts
  web/src/pages/Destinations/graphql/listDestinationsAndDefaults.graphql
Due: prettier --write, eslint

Fragment GeneralSettings
  web/src/graphql/fragments/GeneralSettingsFragment.generated.ts
  web/src/graphql/fragments/GeneralSettingsFragment.graphql
  web/src/pages/GeneralSettings/graphql/getGeneralSettings.generated.ts
  web/src/pages/GeneralSettings/graphql/getGeneralSettings.graphql
  web/src/pages/GeneralSettings/graphql/updateGeneralSettings.generated.ts
  web/src/pages/GeneralSettings/graphql/updateGeneralSettings.graphql
Due: prettier --write, eslint

Add integration tests to confirm mutating sql statements fail
  internal/core/database_api/athena/driver/api/integration_test.go
Due: none

addressed PR feedback
  internal/core/analysis_api/handlers/get_enabled_policies.go
  internal/core/analysis_api/main/lambda.go
  internal/core/layer_manager/manager/handle.go
Due: none

renamed file
  internal/core/analysis_api/handlers/get_enabled_analyses.go
Due: none

Allow customers to configure Athena access for their non-Panther buckets for the UI
  deployments/core.yml
  deployments/panther_config.yml
  tools/config/config.go
  tools/mage/deploy.go
Due: none

removed old policy...
  internal/core/analysis_api/handlers/get_enabled_policies.go
Due: none

Add support for step functions in alarm generation
  tools/cfngen/cloudwatchcf/alarms.go
  tools/cfngen/cloudwatchcf/alarms_sfn.go
  tools/cfngen/cloudwatchcf/testdata/cf.yml
  tools/cfngen/cloudwatchcf/testdata/generated_test_alarms.json
Due: prettier --write

rename & move `BrowserContext` to `SQLShellContext`
  web/src/pages/SQLShell/Browser/Browser.tsx
  web/src/pages/SQLShell/Browser/ColumnList/ColumnList.tsx
  web/src/pages/SQLShell/Browser/DatabaseSelector/DatabaseSelector.tsx
  web/src/pages/SQLShell/Browser/Search/Search.tsx
  web/src/pages/SQLShell/Browser/TableList/TableList.tsx
  web/src/pages/SQLShell/Browser/index.tsx
  web/src/pages/SQLShell/SQLEditor/SQLEditor.tsx
  web/src/pages/SQLShell/SQLShell.tsx
  web/src/pages/SQLShell/SQLShellContext.tsx
Due: prettier --write, eslint

fix issue with error on redirects
  web/src/apollo/createErrorLink.ts
Due: prettier --write, eslint

Refector pkg/awsathena
  pkg/awsathena/integration_test.go
  pkg/awsathena/query.go
  tools/athenaviews/athenaviews.go
Due: none

merged master
  deployments/core.yml
Due: none

Light refactor of glue functions in athena_api
  internal/core/database_api/athena/driver/api/glue.go
Due: none

Go mod download/tidy in setup/fmt respectively
  go.mod
  go.sum
  tools/mage/fmt.go
  tools/mage/setup.go
Due: none

Remove fatih/color module
  go.mod
  go.sum
  tools/mage/deploy.go
Due: none

Format generated API files
  tools/mage/build_namespace.go
  tools/mage/fmt.go
  tools/mage/fmt_license.go
Due: none

Fix messed up license headers and minor formatting changes
  internal/core/database_api/athena/driver/api/api.go
  internal/core/database_api/athena/driver/api/appsync.go
  internal/core/database_api/athena/driver/api/athena.go
  internal/core/database_api/athena/driver/api/invoke.go
  internal/core/database_api/athena/driver/api/steps.go
  internal/core/database_api/athena/driver/main/main.go
  internal/core/database_api/athena/testutils/testutils.go
Due: none

go build in parallel
  tools/mage/build_namespace.go
Due: none

Fix more license headers
  api/lambda/database/models/api.go
  internal/core/database_api/athena/driver/api/integration_test.go
Due: none

added analysis-api integration tests
  api/gateway/analysis/client/operations/create_global_parameters.go
  api/gateway/analysis/client/operations/create_global_responses.go
  api/gateway/analysis/client/operations/delete_globals_parameters.go
  api/gateway/analysis/client/operations/delete_globals_responses.go
  api/gateway/analysis/client/operations/get_global_parameters.go
  api/gateway/analysis/client/operations/get_global_responses.go
  api/gateway/analysis/client/operations/modify_global_parameters.go
  api/gateway/analysis/client/operations/modify_global_responses.go
  api/gateway/analysis/models/global.go
  api/gateway/analysis/models/update_global.go
  internal/compliance/policy_engine/tests/integration.py
  internal/core/analysis_api/handlers/create_global.go
  internal/core/analysis_api/handlers/delete_global.go
  internal/core/analysis_api/handlers/modify_global.go
  internal/core/analysis_api/main/integration_test.go
  internal/core/layer_manager/main/lambda.go
  internal/core/layer_manager/manager/clients.go
  internal/core/layer_manager/manager/handle.go
Due: none

dependencies
  go.mod
  go.sum
Due: none

Checkpoint work
  internal/log_analysis/datacatalog_updater/compaction/compaction_test.go
  internal/log_analysis/datacatalog_updater/compaction/compation.go
  internal/log_analysis/datacatalog_updater/compaction/integration_test.go
Due: none

Handle NULL column values back from queries
  internal/core/database_api/athena/driver/api/athena.go
  internal/core/database_api/athena/driver/api/integration_test.go
  internal/core/database_api/athena/testutils/testutils.go
Due: none

Build tools in parallel
  tools/mage/build_namespace.go
  tools/mage/test_namespace.go
Due: none

Cache npm, venv, and go modules in CI
  .circleci/config.yml
  tools/mage/setup.go
Due: none

updated deploy process
  internal/core/analysis_api/handlers/create_global.go
  internal/core/analysis_api/handlers/delete_global.go
  internal/core/analysis_api/handlers/modify_global.go
  internal/core/analysis_api/main/integration_test.go
  internal/core/layer_manager/main/lambda.go
  internal/core/layer_manager/manager/clients.go
  internal/core/layer_manager/manager/handle.go
  tools/mage/deploy.go
Due: none

add global error
  api/graphql/schema.graphql
  deployments/appsync.yml
  web/__generated__/schema.tsx
  web/src/pages/SQLShell/ResultsTable/ResultsTable.tsx
  web/src/pages/SQLShell/ResultsTable/graphql/getLogQueryResults.generated.ts
  web/src/pages/SQLShell/ResultsTable/graphql/getLogQueryResults.graphql
  web/src/pages/SQLShell/SQLEditor/SQLEditor.tsx
  web/src/pages/SQLShell/SQLEditor/graphql/runQuery.generated.ts
  web/src/pages/SQLShell/SQLEditor/graphql/runQuery.graphql
  web/src/pages/SQLShell/SQLShell.tsx
  web/src/pages/SQLShell/SQLShellContext.tsx
Due: prettier --write, eslint

Add integration test for failed sql to pkg/awsathena
  pkg/awsathena/integration_test.go
Due: none

Work in progress
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_test.go
  internal/log_analysis/log_processor/parsers/suricatalogs/anomaly.go
  internal/log_analysis/log_processor/parsers/suricatalogs/anomaly_test.go
  internal/log_analysis/log_processor/parsers/timestamp/timestamp.go
  internal/log_analysis/log_processor/parsers/timestamp/timestamp_test.go
Due: none

Re-arrange rule fragments
  web/__generated__/schema.tsx
  web/src/graphql/fragments/RuleBasic.generated.ts
  web/src/graphql/fragments/RuleBasic.graphql
  web/src/graphql/fragments/RuleDates.generated.ts
  web/src/graphql/fragments/RuleDates.graphql
  web/src/graphql/fragments/RuleFull.generated.ts
  web/src/graphql/fragments/RuleFull.graphql
  web/src/pages/AlertDetails/graphql/ruleTeaser.generated.ts
  web/src/pages/AlertDetails/graphql/ruleTeaser.graphql
  web/src/pages/CreateRule/graphql/createRule.generated.ts
  web/src/pages/CreateRule/graphql/createRule.graphql
  web/src/pages/EditRule/graphql/updateRule.generated.ts
  web/src/pages/EditRule/graphql/updateRule.graphql
  web/src/pages/RuleDetails/graphql/ruleDetails.generated.ts
  web/src/pages/RuleDetails/graphql/ruleDetails.graphql
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
