Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Truncate docs link to minor version
  web/src/constants.ts
Due: prettier --write, eslint

Split version into parts
  web/src/constants.ts
Due: prettier --write, eslint

Validate images
  docs/gitbook/development.md
  tools/mage/doc.go
  tools/mage/test_namespace.go
Due: prettier --write

Fixing some docs
  docs/gitbook/.gitbook/assets/enterprise/saas-logs/eventbridge.png
  docs/gitbook/SUMMARY.md
  docs/gitbook/enterprise/README.md
  docs/gitbook/enterprise/saas-logs/box.md
  docs/gitbook/enterprise/saas-logs/gsuite.md
  docs/gitbook/enterprise/saas-logs/okta.md
  docs/gitbook/enterprise/saas-logs/onelogin.md
  docs/gitbook/enterprise/saas-logs/saas-logs.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Box.md
  docs/gitbook/log-analysis/log-processing/supported-logs/CiscoUmbrella.md
  docs/gitbook/log-analysis/log-processing/supported-logs/GCP.md
  docs/gitbook/log-analysis/log-processing/supported-logs/GSuite.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Okta.md
  docs/gitbook/log-analysis/log-processing/supported-logs/OneLogin.md
Due: prettier --write

Fixed minor issue
  docs/gitbook/enterprise/saas-logs/saas-logs.md
Due: prettier --write

Updated summary
  docs/gitbook/SUMMARY.md
Due: prettier --write

feat: migrate Profile Settings from Sidesheet to Modal
  package-lock.json
  package.json
  web/src/components/Navigation/ProfileIcon/ProfileIcon.tsx
  web/src/components/forms/EditProfileForm/EditProfileForm.tsx
  web/src/components/modals/ProfileSettingsModal/ProfileSettingsModal.tsx
  web/src/components/modals/ProfileSettingsModal/index.tsx
  web/src/components/sidesheets/EditAccountSidesheet/EditAccountSidesheet.tsx
  web/src/components/utils/Modal/ModalContext.tsx
  web/src/components/utils/Modal/ModalManager.tsx
  web/src/components/utils/Sidesheet/SidesheetContext.tsx
  web/src/components/utils/Sidesheet/SidesheetManager.tsx
Due: prettier --write, eslint

Remove extra blank lines
  docs/gitbook/operations/ops-home.md
Due: prettier --write

Updated code according to PR comments
  internal/core/source_api/api/sqs_utils.go
Due: none

Fixing permissions issue for SQS onboarding
  internal/core/source_api/api/sqs_utils.go
  pkg/awssqs/permissions.go
Due: none

Renamed field to allowedPrincipalArns
  api/graphql/schema.graphql
  api/lambda/source/models/integration.go
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/put_integration_test.go
  internal/core/source_api/api/sqs_utils.go
  internal/core/source_api/api/update_integration.go
  internal/core/source_api/api/utils.go
  internal/core/source_api/ddb/items.go
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/components/wizards/SqsSourceWizard/SqsSourceConfigurationPanel/SqsSourceConfigurationPanel.tsx
  web/src/components/wizards/SqsSourceWizard/SqsSourceWizard.tsx
  web/src/graphql/fragments/SqsLogSourceIntegrationDetails.generated.ts
  web/src/graphql/fragments/SqsLogSourceIntegrationDetails.graphql
  web/src/pages/CreateLogSource/CreateSqsLogSource/CreateSqsLogSource.tsx
  web/src/pages/CreateLogSource/CreateSqsLogSource/__tests__/CreateSqsLogSource.test.tsx
  web/src/pages/EditSqsLogSource/EditSqsLogSource.tsx
Due: prettier --write, eslint

minor wording updates to SaaS logs landing page
  docs/gitbook/enterprise/saas-logs/saas-logs.md
Due: prettier --write

Fix path namging of devtool patherlog to match build expectations
  cmd/devtools/pantherlog/pantherlog/main.go
Due: none

Checkpoint work
  cmd/opstools/gluesync/gluesync/main.go
  docs/gitbook/operations/ops-home.md
  tools/mage/build_namespace.go
  tools/mage/deploy.go
  tools/mage/util.go
Due: prettier --write

Make opstools interactive
  cmd/opstools/requeue/requeue/main.go
  cmd/opstools/s3queue/s3queue/main.go
Due: none

feat: restructure the AuthContainer
  web/src/components/AuthPageContainer/AuthPageContainer.tsx
Due: prettier --write, eslint

chore: bump pounce version
  package-lock.json
Due: prettier --write

chore: add date utility
  web/src/helpers/utils.tsx
Due: prettier --write, eslint

chore: add panther full logo
  web/src/assets/panther-logo.svg
Due: none

chore: add licence headers
  web/src/components/forms/ForgotPasswordConfirmForm/ForgotPasswordConfirmForm.test.tsx
  web/src/components/forms/ForgotPasswordForm/ForgotPasswordForm.test.tsx
  web/src/pages/ForgotPassword/ForgotPassword.test.tsx
  web/src/pages/ForgotPasswordConfirm/ForgotPasswordConfirm.test.tsx
Due: prettier --write, eslint

chore: restructure sign pages in order to accommodate the new Auth container
  web/src/components/forms/SigninForm/SigninForm.tsx
  web/src/pages/ForgotPassword/ForgotPassword.tsx
  web/src/pages/ForgotPasswordConfirm/ForgotPasswordConfirm.tsx
  web/src/pages/SignIn/SignIn.tsx
Due: prettier --write, eslint

chore: add minimal test coverage for auth pages
  web/src/components/forms/ForgotPasswordConfirmForm/ForgotPasswordConfirmForm.test.tsx
  web/src/components/forms/ForgotPasswordForm/ForgotPasswordForm.test.tsx
  web/src/pages/ForgotPassword/ForgotPassword.test.tsx
  web/src/pages/ForgotPasswordConfirm/ForgotPasswordConfirm.test.tsx
Due: prettier --write, eslint

chore: remove redundant `useAuth` mocks
  web/src/components/forms/ForgotPasswordConfirmForm/ForgotPasswordConfirmForm.test.tsx
  web/src/components/forms/ForgotPasswordForm/ForgotPasswordForm.test.tsx
Due: prettier --write, eslint

chore: remove `test-ids` and fix minor styling issues
  web/src/components/AuthPageContainer/AuthPageContainer.tsx
  web/src/pages/ForgotPassword/ForgotPassword.test.tsx
  web/src/pages/ForgotPassword/ForgotPassword.tsx
Due: prettier --write, eslint

Changing logging for generic api on invoke method to debug from info
  pkg/genericapi/invoke.go
Due: none

feat: add FieldPolicy Checker componenntt
  package-lock.json
  package.json
  web/src/components/FieldPolicyChecker/FieldPolicyCheck.tsx
  web/src/components/FieldPolicyChecker/FieldPolicyChecker.test.tsx
  web/src/components/FieldPolicyChecker/FieldPolicyChecker.tsx
  web/src/components/FieldPolicyChecker/index.tsx
Due: prettier --write, eslint

refactor: change re-usable validations from function to constant
  web/src/components/forms/ChangePasswordForm/ChangePasswordForm.tsx
  web/src/components/forms/CustomWebhookDestinationForm/CustomWebhookDestinationForm.tsx
  web/src/components/forms/ForgotPasswordConfirmForm/ForgotPasswordConfirmForm.tsx
  web/src/components/forms/MicrosoftTeamsDestinationForm/MicrosoftTeamsDestinationForm.tsx
  web/src/components/forms/SetPasswordForm/SetPasswordForm.tsx
  web/src/components/forms/SlackDestinationForm/SlackDestinationForm.tsx
  web/src/components/wizards/ComplianceSourceWizard/ComplianceSourceWizard.tsx
  web/src/components/wizards/S3LogSourceWizard/S3LogSourceWizard.tsx
  web/src/components/wizards/SqsSourceWizard/SqsSourceWizard.tsx
  web/src/helpers/utils.tsx
Due: prettier --write, eslint

test: change the way userInfo gets passed
  web/__tests__/utils/auth.ts
  web/__tests__/utils/index.ts
  web/__tests__/utils/render.tsx
Due: prettier --write, eslint

feat: add password policy checker to ResetPasswordForm and SetPasswordForm
  web/src/components/forms/ForgotPasswordConfirmForm/ForgotPasswordConfirmForm.tsx
  web/src/components/forms/SetPasswordForm/SetPasswordForm.tsx
Due: prettier --write, eslint

test: further enhance tests on change password form
  web/src/components/FieldPolicyChecker/FieldPolicyChecker.tsx
  web/src/components/Navigation/ProfileIcon/ProfileIcon.test.tsx
  web/src/components/forms/ChangePasswordForm/ChangePasswordForm.test.tsx
  web/src/components/forms/ChangePasswordForm/ChangePasswordForm.tsx
  web/src/components/modals/ProfileSettingsModal/ProfileSettingsModal.test.tsx
  web/src/components/sidesheets/EditUserSidesheet/index.tsx
Due: prettier --write, eslint

Separate document parsing
  tools/mage/doc_parse.go
  tools/mage/test_namespace.go
  tools/mage/util_hash.go
Due: none

Print output for failed commands when stderr is captured
  tools/mage/test_namespace.go
  tools/mage/util.go
Due: none

Add testing for doc parsing
  docs/gitbook/SUMMARY.md
  docs/gitbook/enterprise/saas-logs/saas-logs.md
  tools/mage/doc_parse.go
  tools/mage/doc_parse_test.go
  tools/mage/test_namespace.go
  tools/mage/testdata/docs/.gitbook/assets/logo.png
  tools/mage/testdata/docs/development.md
  tools/mage/testdata/docs/invalid.md
  tools/mage/testdata/docs/quick-start.md
Due: prettier --write

Minor fixes after self-review
  docs/gitbook/development.md
  tools/mage/doc_parse.go
Due: prettier --write

refactor: use destructure var
  web/src/components/FieldPolicyChecker/FieldPolicyChecker.tsx
Due: prettier --write, eslint

fix: remove error display from password fields with FieldChecker component attached
  web/src/components/forms/ForgotPasswordConfirmForm/ForgotPasswordConfirmForm.tsx
  web/src/components/forms/SetPasswordForm/SetPasswordForm.tsx
Due: prettier --write, eslint

fix: mage fmt
  web/src/components/FieldPolicyChecker/FieldPolicyCheck.tsx
  web/src/components/FieldPolicyChecker/FieldPolicyChecker.test.tsx
  web/src/components/FieldPolicyChecker/FieldPolicyChecker.tsx
  web/src/components/FieldPolicyChecker/index.tsx
  web/src/components/forms/ChangePasswordForm/ChangePasswordForm.test.tsx
  web/src/components/modals/ProfileSettingsModal/ProfileSettingsModal.test.tsx
Due: prettier --write, eslint

chore: bump Panther to latest
  package-lock.json
  package.json
Due: prettier --write

Simplify pantherlog Result handling and schema generation
  internal/log_analysis/log_processor/classification/classifier_test.go
  internal/log_analysis/log_processor/pantherlog/jsoniter.go
  internal/log_analysis/log_processor/pantherlog/jsoniter_test.go
  internal/log_analysis/log_processor/pantherlog/meta.go
  internal/log_analysis/log_processor/pantherlog/meta_test.go
  internal/log_analysis/log_processor/pantherlog/result.go
  internal/log_analysis/log_processor/pantherlog/result_test.go
  internal/log_analysis/log_processor/pantherlog/scanners.go
  internal/log_analysis/log_processor/pantherlog/values.go
  internal/log_analysis/log_processor/parsers/factory.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
Due: none

Adds source id and source label to panthe logs
  docs/gitbook/log-analysis/log-processing/supported-logs/AWS.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Apache.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Fluentd.md
  docs/gitbook/log-analysis/log-processing/supported-logs/GitLab.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Juniper.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Lacework.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Nginx.md
  docs/gitbook/log-analysis/log-processing/supported-logs/OSSEC.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Osquery.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Suricata.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Syslog.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Zeek.md
  internal/log_analysis/athenaviews/athenaviews_test.go
  internal/log_analysis/gluetables/gluetables_test.go
  internal/log_analysis/log_processor/common/common.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/log_processor/logtypes/registry.go
  internal/log_analysis/log_processor/logtypes/registry_test.go
  internal/log_analysis/log_processor/pantherlog/meta.go
  internal/log_analysis/log_processor/pantherlog/meta_test.go
  internal/log_analysis/log_processor/parsers/factory.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/processor/processor_test.go
  internal/log_analysis/log_processor/registry/registry.go
  internal/log_analysis/log_processor/sources/s3.go
  internal/log_analysis/log_processor/sources/s3_client_cache.go
  internal/log_analysis/log_processor/sources/s3_client_cache_test.go
  pkg/box/box.go
Due: prettier --write
