Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

remove fossa
  .fossa.yml
Due: none

re-add stupid fossa
  .fossa.yml
Due: none

Fixing issues when onboarding email
  internal/core/outputs_api/verification/get_verification_status.go
  internal/core/outputs_api/verification/verify_output.go
  tools/mage/util.go
Due: none

remove remediation checkbox
  web/src/components/forms/setup-remediation-form/index.tsx
  web/src/constants.ts
  web/src/pages/create-source/subcomponents/create-infra-source/index.tsx
  web/src/pages/create-source/subcomponents/create-infra-source/subcomponents/remediation-panel.tsx
  web/src/pages/create-source/subcomponents/create-log-source/index.tsx
Due: prettier --write, eslint

fix reduntant note issue and add extra spacing
  web/src/components/forms/destination-form/sns-destination-form.tsx
  web/src/components/forms/destination-form/sqs-destination-form.tsx
Due: prettier --write, eslint

ENG-1340
  deployments/compliance/snapshot.yml
  internal/compliance/snapshot_api/api/put_integration.go
  internal/compliance/snapshot_api/api/sqs_utils.go
Due: none

remove remediation lambda forms due to on-prem deployment
  web/src/components/forms/add-remediation-lambda-form/index.tsx
  web/src/components/forms/policy-form/policy-form-auto-remediation-fields.tsx
  web/src/components/forms/setup-remediation-form/index.tsx
  web/src/pages/create-source/subcomponents/create-infra-source/subcomponents/remediation-panel.tsx
Due: prettier --write, eslint

remove un-needed graphql field
  web/src/pages/general-settings/index.tsx
Due: prettier --write, eslint

fix issue with json-viewer inside Modals/Sidesheets
  web/src/components/json-viewer.tsx
Due: prettier --write, eslint

add mandatory logTypes in rule form
  web/src/components/forms/common/rule-form-core-fields.tsx
  web/src/components/forms/rule-form/index.tsx
Due: prettier --write, eslint

Adding Email subject to SNS
  internal/core/alert_delivery/outputs/sns.go
Due: none

Fixing email delivery through SNS
  internal/core/alert_delivery/outputs/email.go
  internal/core/alert_delivery/outputs/sns.go
  internal/core/alert_delivery/outputs/sns_test.go
Due: none

Fixing formatting issues
  internal/core/alert_delivery/outputs/sns.go
  internal/core/alert_delivery/outputs/sns_test.go
Due: none

Fixing bug
  internal/core/alert_delivery/outputs/sns.go
  internal/core/alert_delivery/outputs/sns_test.go
Due: none

update go mods
  go.mod
  go.sum
Due: none

fix missing sqs url during form update
  web/src/components/sidesheets/add-destination-sidesheet.tsx
  web/src/components/sidesheets/update-destination-sidesheet.tsx
  web/src/pages/destinations/index.tsx
Due: prettier --write, eslint

Fixing stuff
  internal/core/alert_delivery/outputs/email.go
  internal/core/alert_delivery/outputs/github.go
  internal/core/alert_delivery/outputs/jira.go
  internal/core/alert_delivery/outputs/msteams.go
  internal/core/alert_delivery/outputs/opsgenie.go
  internal/core/alert_delivery/outputs/outputs.go
  internal/core/alert_delivery/outputs/pagerduty.go
  internal/core/alert_delivery/outputs/slack.go
  internal/core/alert_delivery/outputs/sns.go
  internal/core/alert_delivery/outputs/sns_test.go
Due: none

Fixing linting issues
  internal/core/alert_delivery/outputs/sns_test.go
Due: none

Fixing linting errors
  internal/core/alert_delivery/outputs/sns_test.go
Due: none

Fixing lintign issues
  internal/core/alert_delivery/outputs/sns_test.go
Due: none

Creating organization
  tools/mage/deploy.go
Due: none

Fixing check for org
  internal/core/organization_api/table/get.go
Due: none

Creating organization
  deployments/compliance/remediation.yml
  deployments/template.yml
  tools/mage/deploy.go
Due: none

remove email destination from the UI
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/assets/email-minimal-logo.svg
  web/src/components/forms/destination-form/email-destination-form.tsx
  web/src/components/forms/destination-form/index.tsx
  web/src/components/sidesheets/add-destination-sidesheet.tsx
  web/src/components/sidesheets/select-destination-sidesheet.tsx
  web/src/components/sidesheets/update-destination-sidesheet.tsx
  web/src/pages/destinations/columns.tsx
  web/src/pages/destinations/index.tsx
Due: prettier --write, eslint

Fixing failing test
  internal/core/organization_api/table/get_test.go
Due: none

Fixed linting issues
  internal/core/organization_api/table/table_test.go
Due: none

Made orgID a constant
  internal/core/organization_api/table/get.go
  internal/core/organization_api/table/get_test.go
  internal/core/organization_api/table/put.go
  internal/core/organization_api/table/table.go
Due: none

Changed configuration to use latest rules
  deployments/panther_config.yml
Due: none

fix copy to clipboard for all browsers
  web/src/components/json-viewer.tsx
  web/src/helpers/utils.tsx
Due: prettier --write, eslint

[docs] readme test
  README.md
Due: prettier --write

[docs] more edits
  README.md
Due: prettier --write

remove email destination from the UI (#26)
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/assets/email-minimal-logo.svg
  web/src/components/forms/destination-form/email-destination-form.tsx
  web/src/components/forms/destination-form/index.tsx
  web/src/components/sidesheets/add-destination-sidesheet.tsx
  web/src/components/sidesheets/select-destination-sidesheet.tsx
  web/src/components/sidesheets/update-destination-sidesheet.tsx
  web/src/pages/destinations/columns.tsx
  web/src/pages/destinations/index.tsx
Due: prettier --write, eslint

[docs] screenshots
  .gitignore
  README.md
  docs/img/compliance-overview.png
  docs/img/resource-viewer.png
  docs/img/rules-editor.png
Due: prettier --write

[docs] shuffle the headers, use captions on screenshots
  README.md
Due: prettier --write

[docs] final changes
  README.md
Due: prettier --write

add package-lock.json to Docker context
  deployments/web/Dockerfile
Due: none

[pr] feedback
  README.md
Due: prettier --write

[docs] fix badge
  README.md
Due: prettier --write

[docs] add FOSSA large badge in LICENSE section
  README.md
Due: prettier --write

revert changes to util
  tools/mage/util.go
Due: none
