Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Fixed formatting issues
  internal/log_analysis/awsglue/awsglue.go
  internal/log_analysis/awsglue/table_metadata.go
Due: none

WIP
  internal/log_analysis/athenaviews/athenaviews.go
Due: none

Enabling end to end
  internal/log_analysis/rules_engine/src/output.py
Due: none

Fixed comment
  internal/log_analysis/athenaviews/athenaviews.go
Due: none

Updated syncing logic
  internal/log_analysis/athenaviews/athenaviews.go
  internal/log_analysis/datacatalog_updater/process/sync.go
  internal/log_analysis/datacatalog_updater/process/sync_test.go
Due: none

Add comments for timebin helpers
  internal/log_analysis/awsglue/glue_timebin.go
Due: none

Updated comment
  internal/log_analysis/datacatalog_updater/process/sync.go
Due: none

Addd braces
  web/src/helpers/Mixpanel.ts
Due: prettier --write, eslint

Added designed zoomable slider
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
Due: prettier --write, eslint

Enforce curly rule and fixed issues
  web/.eslintrc.js
  web/src/components/modals/DeleteUserModal/DeleteUserModal.tsx
  web/src/components/wizards/CreateDestinationWizard/ChooseDestinationPanel/ChooseDestinationPanel.tsx
  web/src/helpers/Mixpanel.ts
Due: prettier --write, eslint

fix edge case in scanning
  internal/compliance/snapshot_poller/pollers/aws/awstest/assume_role.go
  internal/compliance/snapshot_poller/pollers/aws/clients.go
  internal/compliance/snapshot_poller/pollers/aws/poll_test.go
  internal/compliance/snapshot_poller/pollers/aws/utils_test.go
Due: none

Rename Mixpanel helper to generic analytics
  web/src/components/utils/AuthContext/AuthContext.tsx
  web/src/components/wizards/CreateDestinationWizard/ChooseDestinationPanel/ChooseDestinationPanel.tsx
  web/src/components/wizards/CreateDestinationWizard/ConfigureDestinationPanel/ConfigureDestinationPanel.tsx
  web/src/helpers/analytics.ts
  web/src/pages/CreateRule/CreateRule.tsx
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
Due: prettier --write, eslint

Change props for trackPageView
  web/src/helpers/analytics.ts
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
Due: prettier --write, eslint

Changed props for trackEvent and analytics
  web/src/components/utils/AuthContext/AuthContext.tsx
  web/src/components/wizards/CreateDestinationWizard/ChooseDestinationPanel/ChooseDestinationPanel.tsx
  web/src/components/wizards/CreateDestinationWizard/ConfigureDestinationPanel/ConfigureDestinationPanel.tsx
  web/src/helpers/analytics.ts
  web/src/pages/CreateRule/CreateRule.tsx
Due: prettier --write, eslint

chore: align with PR commments
  web/src/components/fields/SensitiveTextInput/SensitiveTextInput.tsx
Due: prettier --write, eslint

Fix component name
  internal/core/source_api/main/handler.go
Due: none

Sensitive TextInput fix (#1575)
  web/src/components/fields/SensitiveTextInput/SensitiveTextInput.test.tsx
  web/src/components/fields/SensitiveTextInput/SensitiveTextInput.tsx
  web/src/components/fields/SensitiveTextInput/__snapshots__/SensitiveTextInput.test.tsx.snap
  web/src/components/forms/AsanaDestinationForm/AsanaDestinationForm.test.tsx
  web/src/components/forms/AsanaDestinationForm/AsanaDestinationForm.tsx
  web/src/components/forms/CustomWebhookDestinationForm/CustomWebhookDestinationForm.tsx
  web/src/components/forms/GithubDestinationForm/GithubDestinationForm.tsx
  web/src/components/forms/JiraDestinationForm/JiraDestinationForm.tsx
  web/src/components/forms/MicrosoftTeamsDestinationForm/MicrosoftTeamsDestinationForm.tsx
  web/src/components/forms/OpsgenieDestinationForm/OpsgenieDestinationForm.tsx
  web/src/components/forms/PagerdutyDestinationForm/PagerdutyDestinationForm.tsx
  web/src/components/forms/SlackDestinationForm/SlackDestinationForm.tsx
  web/src/pages/CreateDestination/CreateDestination.test.tsx
Due: prettier --write, eslint

fixing typo
  internal/core/metrics_api/api/alert_metrics.go
Due: none

[git] story and epic issue templates
  .github/ISSUE_TEMPLATE/epic.md
Due: prettier --write

[pr] comments
  .github/ISSUE_TEMPLATE/epic.md
Due: prettier --write

add meta data options
  internal/compliance/snapshot_poller/models/aws/ec2_instance.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_instance.go
Due: none

rename
  internal/compliance/snapshot_poller/models/aws/ec2_instance.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_instance.go
Due: none

move helper function and update logging level
  internal/core/metrics_api/api/alert_metrics.go
  internal/core/metrics_api/api/helpers.go
Due: none

move limit to higher location in call stack for use by other metric calls
  internal/core/metrics_api/api/get_metrics.go
Due: none

Ensure master template is published with same version tag as repo
  tools/mage/master/publish.go
Due: none

fix edge case in scanning (#1586)
  internal/compliance/snapshot_poller/pollers/aws/awstest/assume_role.go
  internal/compliance/snapshot_poller/pollers/aws/clients.go
  internal/compliance/snapshot_poller/pollers/aws/poll_test.go
  internal/compliance/snapshot_poller/pollers/aws/utils_test.go
Due: none

Respond to PR and bump master.yml to v1.9.0-RC1
  deployments/master.yml
  tools/mage/master/publish.go
Due: none

Ensure master template is published with same version tag as repo (#1587)
  deployments/master.yml
  tools/mage/master/publish.go
Due: none

Modified Update script to run on custom resource update
  deployments/log_analysis.yml
  internal/core/custom_resources/resources/glue.go
  internal/core/source_api/api/put_integration.go
  internal/log_analysis/awsglue/table_metadata.go
  internal/log_analysis/gluetables/gluetables.go
Due: none

Added evaluateTracking function to lazy-upload mixpanel
  web/src/helpers/analytics.ts
Due: prettier --write, eslint

WIP use updated code in data catalog updater
  internal/core/custom_resources/resources/glue.go
  internal/log_analysis/awsglue/sync.go
  internal/log_analysis/datacatalog_updater/main/lambda.go
  internal/log_analysis/datacatalog_updater/process/sync.go
Due: none

Fixing minor UI issue
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
Due: prettier --write, eslint

Backport gluesync fix to work with master stack
  cmd/opstools/gluesync/gluesync/main.go
  tools/cfnstacks/cfnstacks.go
Due: none

merge changes from panther-labs/panther#1594
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
Due: prettier --write, eslint

Fixed importing without lazy
  web/src/helpers/analytics.ts
Due: prettier --write, eslint

Backport gluesync fix to work with master stack (#1595)
  cmd/opstools/gluesync/gluesync/main.go
  tools/cfnstacks/cfnstacks.go
Due: none

Fixing issue
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
