Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Fix issues
  internal/log_analysis/alerts_api/api/list_alerts_test.go
Due: none

Fixed issues
  internal/log_analysis/alerts_api/utils/utils.go
Due: none

not exporting
  internal/log_analysis/alerts_api/api/get_alert_test.go
  internal/log_analysis/alerts_api/api/list_alerts_test.go
  internal/log_analysis/alerts_api/api/update_alert_delivery_test.go
  internal/log_analysis/alerts_api/api/update_alert_status_test.go
Due: none

Backend: Allow users to specify multiple s3 prefix->logtypes mappings per s3 log source (#2232)
  api/lambda/source/models/api.go
  api/lambda/source/models/integration.go
  api/lambda/source/models/integration_test.go
  cmd/devtools/logprocessor/logprocessor/main.go
  deployments/auxiliary/cloudformation/panther-log-analysis-iam.yml
  deployments/bootstrap.yml
  deployments/onboard.yml
  internal/core/custom_resources/resources/self_registration.go
  internal/core/logtypesapi/customlogs_test.go
  internal/core/source_api/api/get_integration_template.go
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/put_integration_test.go
  internal/core/source_api/api/testdata/panther-log-analysis-iam-updated.yml
  internal/core/source_api/api/update_integration.go
  internal/core/source_api/api/update_integration_test.go
  internal/core/source_api/api/utils.go
  internal/core/source_api/ddb/items.go
  internal/log_analysis/log_processor/common/common.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/processor/processor_test.go
  internal/log_analysis/log_processor/sources/s3_client_cache.go
  internal/log_analysis/log_processor/sources/s3_client_cache_test.go
  internal/log_analysis/log_processor/sources/sources.go
  internal/log_analysis/log_processor/sources/sources_test.go
  internal/log_analysis/log_processor/sources/sqs.go
  pkg/testutils/integration.go
Due: none

fix: reduce timeout to 10 secs
  web/__tests__/setupTests.ts
Due: prettier --write, eslint

fix: comment typo
  web/__tests__/setupTests.ts
Due: prettier --write, eslint

fix: restore timeout to 100 secs within CI
  web/__tests__/setupTests.ts
Due: prettier --write, eslint

Finally! a streaming CloudTrail parser
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/testdata/cloudtrail_tests.yml
  internal/log_analysis/log_processor/processor/logstream/jsonarray.go
  internal/log_analysis/log_processor/processor/logstream/jsonarray_test.go
  internal/log_analysis/log_processor/processor/logstream/linestream.go
  internal/log_analysis/log_processor/sources/s3.go
Due: none

fix linter
  internal/log_analysis/log_processor/sources/s3.go
Due: none

Add debug log to verify that CloudTrail logs are detected
  internal/log_analysis/log_processor/sources/s3.go
Due: none

add unit test for isCloudTrailLog
  internal/log_analysis/log_processor/sources/s3_test.go
Due: none

Fixing issue
  internal/compliance/datalake_forwarder/forwarder/resources.go
Due: none

nit
  internal/core/logtypesapi/customlogs.go
Due: none

ensure early that the current record revision is the same as in the request
  internal/core/logtypesapi/customlogs.go
Due: none

Use consts for error codes
  internal/core/logtypesapi/api.go
  internal/core/logtypesapi/customlogs.go
Due: none

remove commented out code
  internal/core/logtypesapi/dynamodb.go
Due: none

Fixing bug that would result in crushing of the UI
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/utils/utils.go
Due: none

fix: alert summary
  internal/log_analysis/alerts_api/utils/utils.go
Due: none

fix: web test timeout
  web/__tests__/setupTests.ts
Due: prettier --write, eslint

mage gen fmt
  web/__tests__/setupTests.ts
Due: prettier --write, eslint

revert: alert summary changes
  internal/log_analysis/alerts_api/utils/utils.go
Due: none

Deduped & simplified valid severity logic -- removed illogical check.
  internal/log_analysis/rules_engine/src/rule.py
Due: none

Make searching alert events concurrent
  internal/log_analysis/alerts_api/api/get_alert.go
Due: none

Checkpoint changes
  internal/log_analysis/alerts_api/api/get_alert.go
  package-lock.json
Due: prettier --write

Cleaned up unit test. Added default severity to logger warning to improve clarity
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_rule.py
Due: none

test: hail mary timeout increase
  web/__tests__/setupTests.ts
Due: prettier --write, eslint

Added test case for rule with valid severity case insensitive
  internal/log_analysis/rules_engine/tests/test_rule.py
Due: none

mage gen fmt
  internal/log_analysis/rules_engine/src/rule.py
Due: none

Checkpoint work
  deployments/log_analysis.yml
  internal/log_analysis/alerts_api/api/get_alert.go
Due: none

mage gen fmt
  internal/log_analysis/alerts_api/api/get_alert.go
Due: none

Gettings some work on S3 selects
  cmd/devtools/logprocessor/logprocessor/main.go
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/api/get_alert_test.go
  internal/log_analysis/alerts_api/api/s3_search.go
  internal/log_analysis/alerts_api/api/s3select_query.go
  pkg/testutils/awsmocks.go
Due: none

Fixing wrong update
  cmd/devtools/logprocessor/logprocessor/main.go
Due: none

Tweak search go routines
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/api/s3_search.go
Due: none

refactor: remove YAML and revert to a form field array
  deployments/appsync.yml
  web/src/components/forms/DataModelForm/DataModelForm.tsx
  web/src/components/forms/DataModelForm/DataModelMappingsTabPanel/DataModelMappingsTabPanel.tsx
  web/src/components/forms/DataModelForm/SettingsTabPanel/SettingsTabPanel.tsx
  web/src/components/forms/DataModelForm/utils.ts
  web/src/pages/CreateDataModel/CreateDataModel.tsx
Due: prettier --write, eslint

improve error handling
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/api/s3_search.go
Due: none

refactor: remove tabs
  web/src/components/forms/DataModelForm/DataModelForm.tsx
  web/src/components/forms/DataModelForm/DataModelMappingsTabPanel/DataModelMappingsTabPanel.tsx
  web/src/components/forms/DataModelForm/DataModelMappingsTabPanel/index.tsx
  web/src/components/forms/DataModelForm/SettingsTabPanel/SettingsTabPanel.tsx
  web/src/components/forms/DataModelForm/SettingsTabPanel/index.tsx
Due: prettier --write, eslint

fix: correct deep merging on alert's events
  web/src/pages/AlertDetails/RuleAlertDetails/RuleAlertDetails.tsx
Due: prettier --write, eslint

Added some more logging
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/api/s3_search.go
Due: none

Added logging
  internal/log_analysis/alerts_api/api/api.go
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
