Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Added a rule cache
  internal/log_analysis/alerts_api/utils/utils.go
Due: none

fix: github args
  .github/workflows/docker-analysis.yml
Due: none

mage gen fmt
  internal/log_analysis/alerts_api/utils/utils.go
Due: none

Added var `ruleCacheTimeout` instead of hardcoding in the function, added timestamp to debug msg
  internal/log_analysis/alerts_api/utils/utils.go
Due: none

fix: remove fossa
  .circleci/config.yml
  README.md
Due: prettier --write

fix: comments
  .github/workflows/docker-analysis.yml
Due: none

Addressed feedback
  internal/compliance/datalake_forwarder/forwarder/compliance.go
  internal/compliance/datalake_forwarder/forwarder/diff/comparisons.go
  internal/compliance/datalake_forwarder/forwarder/diff/comparisons_test.go
  internal/compliance/datalake_forwarder/forwarder/forward.go
  internal/compliance/datalake_forwarder/forwarder/resources.go
Due: none

Hide Launch console for EditingS3LogSource
  web/src/components/wizards/S3LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/pages/EditS3LogSource/ΕditS3LogSource.test.tsx
Due: prettier --write, eslint

fix: Update link button and updated test for create
  web/src/components/buttons/LinkButton/LinkButton.tsx
  web/src/components/wizards/S3LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/pages/CreateLogSource/CreateS3LogSource/CreateS3LogSource.test.tsx
Due: prettier --write, eslint

test: Updated EditS3LogSource test
  web/src/pages/EditS3LogSource/ΕditS3LogSource.test.tsx
Due: prettier --write, eslint

design: fixing display of single card
  web/src/components/wizards/S3LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
Due: prettier --write, eslint

fix: disable editing of s3 bucket
  web/src/components/wizards/S3LogSourceWizard/S3SourceConfigurationPanel/S3SourceConfigurationPanel.tsx
Due: prettier --write, eslint

Using new infer functionality
  cmd/devtools/customlogs/customlogs/infer.go
  cmd/devtools/customlogs/customlogs/infer_test.go
  cmd/devtools/customlogs/customlogs/testdata/schema_1.yml
  internal/log_analysis/log_processor/logschema/infer.go
Due: none

Addressed issues
  cmd/devtools/customlogs/customlogs/infer.go
Due: none

Fixed typo
  cmd/devtools/customlogs/main.go
Due: none

chore: updating text
  web/src/components/wizards/S3LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
Due: prettier --write, eslint

Removed s3PrefixLogTypes from GetCfnTemplate
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/components/wizards/S3LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/pages/CreateLogSource/CreateS3LogSource/CreateS3LogSource.test.tsx
  web/src/pages/EditS3LogSource/ΕditS3LogSource.test.tsx
Due: prettier --write, eslint

Updated S3 Log Source onboard fields (#2183)
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/components/BulletedLogTypeList/BulletedLogTypeList.tsx
  web/src/components/Wizard/Wizard.test.tsx
  web/src/components/Wizard/Wizard.tsx
  web/src/components/Wizard/WizardContext.tsx
  web/src/components/Wizard/WizardPanel.tsx
  web/src/components/buttons/LinkButton/LinkButton.tsx
  web/src/components/wizards/S3LogSourceWizard/S3LogSourceWizard.tsx
  web/src/components/wizards/S3LogSourceWizard/S3SourceConfigurationPanel/S3SourceConfigurationPanel.tsx
  web/src/components/wizards/S3LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/graphql/fragments/S3LogIntegrationDetails.generated.ts
  web/src/graphql/fragments/S3LogIntegrationDetails.graphql
  web/src/pages/CreateLogSource/CreateS3LogSource/CreateS3LogSource.test.tsx
  web/src/pages/CreateLogSource/CreateS3LogSource/CreateS3LogSource.tsx
  web/src/pages/EditS3LogSource/EditS3LogSource.tsx
  web/src/pages/EditS3LogSource/ΕditS3LogSource.test.tsx
  web/src/pages/ListLogSources/LogSourceCards/S3LogSourceCard.test.tsx
  web/src/pages/ListLogSources/LogSourceCards/S3LogSourceCard.tsx
Due: prettier --write, eslint

feat: remove heading tooltip in RuleDetails page
  web/src/pages/RuleDetails/RuleCardDetails/RuleCardDetails.test.tsx
  web/src/pages/RuleDetails/RuleCardDetails/RuleCardDetails.tsx
  web/src/pages/RuleDetails/RuleDetails.test.tsx
  web/src/pages/RuleDetails/RuleDetails.tsx
  web/src/pages/RuleDetails/RuleDetailsBanner/RuleDetailsBanner.test.tsx
  web/src/pages/RuleDetails/RuleDetailsBanner/RuleDetailsBanner.tsx
  web/src/pages/RuleDetails/RuleDetailsBanner/index.tsx
  web/src/pages/RuleDetails/RuleDetailsInfo/RuleDetailsInfo.test.tsx
  web/src/pages/RuleDetails/RuleDetailsInfo/RuleDetailsInfo.tsx
Due: prettier --write, eslint

Implement cached resolver with max age for log processor and datacatalog
  internal/core/logtypesapi/customlogs.go
  internal/core/logtypesapi/resolver.go
  internal/log_analysis/datacatalog_updater/datacatalog/create_tables.go
  internal/log_analysis/datacatalog_updater/datacatalog/handler.go
  internal/log_analysis/datacatalog_updater/datacatalog/update_table.go
  internal/log_analysis/datacatalog_updater/main/lambda.go
  internal/log_analysis/log_processor/logtypes/registry.go
  internal/log_analysis/log_processor/logtypes/registry_test.go
  internal/log_analysis/log_processor/logtypes/resolver.go
  internal/log_analysis/log_processor/main/lambda.go
Due: none

fix: use node 14.15.x LTS
  .github/workflows/docker-analysis.yml
  deployments/Dockerfile
  tools/mage/deploy/deploy.go
Due: none

Fixed conditionals and removed ruleKey
  internal/log_analysis/alerts_api/utils/utils.go
Due: none

Refactored `AlertItemsToSummaries` and `GetAlert` to use the alert-forwarder `RuleCache` (LRU) Refactored `AlertItemToSummary` to accept a `Rule` instead of the `analysisClient`
  internal/log_analysis/alerts_api/api/api.go
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/api/list_alerts.go
  internal/log_analysis/alerts_api/utils/utils.go
Due: none

mage gen fmt
  internal/log_analysis/alerts_api/api/api.go
Due: none

feat: add custom labels
  api/lambda/outputs/models/api.go
  internal/core/alert_delivery/outputs/jira.go
  internal/core/alert_delivery/outputs/jira_test.go
Due: none

chore : version bump to v1.14.1
  VERSION
Due: none

Added unit tests for `AlertItemToSummary`
  internal/log_analysis/alerts_api/utils/utils_test.go
Due: none

mage gen fmt
  internal/log_analysis/alerts_api/utils/utils_test.go
Due: none

updated with commands that can be used to get role names
  deployments/auxiliary/terraform/README.md
Due: prettier --write

graphql
  api/graphql/schema.graphql
  internal/core/alert_delivery/outputs/jira.go
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
Due: prettier --write, eslint

formatting
  deployments/auxiliary/terraform/README.md
Due: prettier --write

feat: working Jira labels
  api/graphql/schema.graphql
  api/lambda/logtypes/models_gen.go
  api/lambda/outputs/models/api.go
  deployments/dashboards.yml
  internal/core/logtypesapi/lambdaclient_gen.go
  internal/core/outputs_api/api/utils.go
  internal/log_analysis/log_processor/logschema/bindata.go
  internal/log_analysis/log_processor/registry/init.go
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/components/forms/DestinationFormSwitcher/DestinationFormSwitcher.tsx
  web/src/components/forms/JiraDestinationForm/JiraDestinationForm.tsx
  web/src/components/wizards/CreateDestinationWizard/ConfigureDestinationPanel/ConfigureDestinationPanel.tsx
  web/src/graphql/fragments/DestinationFull.generated.ts
  web/src/graphql/fragments/DestinationFull.graphql
  web/src/pages/ListDestinations/DestinationCards/JiraDestinationCard.tsx
Due: prettier --write, eslint

mage gen fmt
  api/lambda/logtypes/models_gen.go
  deployments/dashboards.yml
  internal/core/logtypesapi/lambdaclient_gen.go
  internal/log_analysis/log_processor/logschema/bindata.go
  internal/log_analysis/log_processor/registry/init.go
Due: none

fix: tests
  web/src/components/forms/JiraDestinationForm/JiraDestinationForm.test.tsx
Due: prettier --write, eslint

fix: remove comments
  web/src/components/forms/JiraDestinationForm/JiraDestinationForm.tsx
Due: prettier --write, eslint

fix: tests
  web/src/pages/CreateDestination/CreateDestination.test.tsx
  web/src/pages/EditDestination/EditDestination.test.tsx
  web/src/pages/ListDestinations/DestinationCards/__tests__/JiraDestinationCard.test.tsx
Due: prettier --write, eslint

chore: update snapshot tests
  web/src/pages/ListCustomLogs/CustomLogCard/__snapshots__/CustomLogCard.test.tsx.snap
Due: none

fix: correct button text
  web/src/pages/RuleDetails/RuleDetailsBanner/RuleDetailsBanner.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
