Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

handle ListLogSource pages
  web/src/components/LogSourceCard/LogSourceCard.tsx
  web/src/components/wizards/ComplianceSourceWizard/ComplianceSourceWizard.tsx
  web/src/components/wizards/ComplianceSourceWizard/SourceConfigurationPanel/SourceConfigurationPanel.tsx
  web/src/components/wizards/ComplianceSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/components/wizards/ComplianceSourceWizard/SuccessPanel/SuccessPanel.tsx
  web/src/components/wizards/S3LogSourceWizard/S3SourceConfigurationPanel/S3SourceConfigurationPanel.tsx
  web/src/components/wizards/S3LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/components/wizards/S3LogSourceWizard/SuccessPanel/SuccessPanel.tsx
  web/src/pages/ComplianceOverview/TopFailingResourcesTable/TopFailingResourcesTable.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceTable/ComplianceSourceTable.tsx
  web/src/pages/ListComplianceSources/ListComplianceSources.tsx
  web/src/pages/ListComplianceSources/Skeleton/Skeleton.tsx
  web/src/pages/ListComplianceSources/Skeleton/index.tsx
  web/src/pages/ListLogSources/ListLogSources.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceTable.tsx
  web/src/pages/ListLogSources/Skeleton/Skeleton.tsx
  web/src/pages/ListLogSources/Skeleton/index.tsx
  web/src/pages/LogSourceOnboarding/LogSourceOnboarding.tsx
Due: prettier --write, eslint

add prop to submitbutton
  web/src/components/forms/AnalyticsConsentForm/AnalyticsConsentForm.tsx
  web/src/components/forms/ChangePasswordForm/ChangePasswordForm.tsx
  web/src/components/forms/CompanyInformationForm/CompanyInformationForm.tsx
  web/src/components/forms/EditProfileForm/EditProfileForm.tsx
  web/src/components/forms/ForgotPasswordConfirmForm/ForgotPasswordConfirmForm.tsx
  web/src/components/forms/ForgotPasswordForm/ForgotPasswordForm.tsx
  web/src/components/forms/MfaForm/MfaForm.tsx
  web/src/components/forms/SetPasswordForm/SetPasswordForm.tsx
  web/src/components/forms/SigninForm/SigninForm.tsx
  web/src/components/forms/TotpForm/TotpForm.tsx
  web/src/components/forms/UserForm/UserForm.tsx
  web/src/pages/CreateGlobalPythonModule/CreateGlobalPythonModule.tsx
Due: prettier --write, eslint

update general settings
  package-lock.json
  package.json
  web/src/components/forms/AnalyticsConsentForm/ErrorReportingSection.tsx
  web/src/components/forms/CompanyInformationForm/CompanyInformationForm.tsx
  web/src/pages/GeneralSettings/GeneralSettings.tsx
  web/src/pages/GeneralSettings/Skeleton/Skeleton.tsx
  web/src/pages/Landing/Landing.tsx
Due: prettier --write, eslint

handle users
  web/src/components/forms/UserForm/UserForm.tsx
  web/src/components/sidesheets/EditUserSidesheet/EditUserSidesheet.tsx
  web/src/components/sidesheets/UserInvitationSidesheet/UserInvitationSidesheet.tsx
  web/src/pages/Users/ListUsers.tsx
  web/src/pages/Users/ListUsers/ListUsers.tsx
  web/src/pages/Users/ListUsers/index.tsx
  web/src/pages/Users/ListUsersTable/ListUsersTable.tsx
  web/src/pages/Users/Skeleton/Skeleton.tsx
  web/src/pages/Users/Skeleton/index.tsx
  web/src/pages/Users/graphql/listUsers.generated.ts
  web/src/pages/Users/graphql/listUsers.graphql
  web/src/pages/Users/index.tsx
Due: prettier --write, eslint

change colors
  web/src/components/forms/TotpForm/TotpForm.tsx
  web/src/components/modals/DeleteLogSourceModal/DeleteLogSourceModal.tsx
  web/src/pages/ComplianceOverview/ResourcesByPlatformChart/ResourcesByPlatformChart.tsx
  web/src/pages/ListLogSources/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListPolicies/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/SignIn/SignIn.tsx
Due: prettier --write, eslint

remove unused props from heading
  web/src/components/forms/SetPasswordForm/SetPasswordForm.tsx
  web/src/components/sidesheets/AddDestinationSidesheet/AddDestinationSidesheet.tsx
  web/src/components/sidesheets/PolicyBulkUploadSidesheet/PolicyBulkUploadSidesheet.tsx
  web/src/components/sidesheets/SelectDestinationSidesheet/SelectDestinationSidesheet.tsx
  web/src/components/sidesheets/UpdateDestinationSidesheet/UpdateDestinationSidesheet.tsx
  web/src/components/sidesheets/UserInvitationSidesheet/UserInvitationSidesheet.tsx
  web/src/components/wizards/ComplianceSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/pages/Destinations/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/Destinations/ListDestinationsTable/ListDestinationsTable.tsx
  web/src/pages/ListComplianceSources/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListGlobalPythonModules/EmptyDataFallback/EmptyDataFallback.tsx
Due: prettier --write, eslint

update svg icons
  package-lock.json
  package.json
  web/public/favicon.svg
  web/src/assets/asana-minimal-logo.svg
  web/src/assets/aws-sns-minimal-logo.svg
  web/src/assets/aws-sqs-minimal-logo.svg
  web/src/assets/custom-webhook-minimal-logo.svg
  web/src/assets/github-minimal-logo.svg
  web/src/assets/jira-minimal-logo.svg
  web/src/assets/ms-teams-minimal-logo.svg
  web/src/assets/onelogin-minimal-logo.svg
  web/src/assets/opsgenie-minimal-logo.svg
  web/src/assets/pagerduty-minimal-logo.svg
  web/src/assets/panther-minimal-logo.svg
  web/src/assets/s3-minimal-logo.svg
  web/src/assets/slack-minimal-logo.svg
  web/src/components/DestinationCard/DestinationCard.tsx
  web/src/components/sidesheets/SelectDestinationSidesheet/SelectDestinationSidesheet.tsx
  web/src/pages/Destinations/CreateButton/CreateButton.tsx
  web/src/pages/Destinations/Destinations.tsx
  web/src/pages/Destinations/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/Destinations/ListDestinationsTable/ListDestinationsTable.tsx
  web/src/pages/Destinations/Skeleton/Skeleton.tsx
Due: prettier --write, eslint

Add firehose permissions for enterprise
  deployments/auxiliary/cloudformation/panther-deployment-role.yml
  deployments/auxiliary/terraform/panther_deployment_role/main.tf
Due: none

Support updates to Custom::GuardDutyDestination resource
  deployments/bootstrap_gateway.yml
  internal/core/custom_resources/resources/guardduty_destination.go
Due: none

fix: trigger fetchMore on event count increase
  web/src/pages/AlertDetails/AlertDetailsEvents/AlertDetailsEvents.tsx
Due: prettier --write, eslint

refactor destination formelements
  package-lock.json
  package.json
  web/public/index.ejs
  web/src/components/forms/AsanaDestinationForm/AsanaDestinationForm.tsx
  web/src/components/forms/BaseDestinationForm/BaseDestinationForm.tsx
  web/src/components/forms/CustomWebhookDestinationForm/CustomWebhookDestinationForm.tsx
  web/src/components/forms/GithubDestinationForm/GithubDestinationForm.tsx
  web/src/components/forms/JiraDestinationForm/JiraDestination.tsx
  web/src/components/forms/MicrosoftTeamsDestinationForm/MicrosoftTeamsDestinationForm.tsx
  web/src/components/forms/OpsgenieDestinationForm/OpsgenieDestinationForm.tsx
  web/src/components/forms/PagerdutyDestinationForm/PagerdutyDestinationForm.tsx
  web/src/components/forms/SlackDestinationForm/SlackDestinationForm.tsx
  web/src/components/forms/SnsDestinationForm/SnsDestinationForm.tsx
  web/src/components/forms/SqsDestinationForm/SqsDestinationForm.tsx
  web/src/components/forms/UserForm/UserForm.tsx
  web/src/pages/AlertDetails/AlertDetailsEvents/AlertDetailsEvents.tsx
  web/src/pages/Destinations/ListDestinationsTable/ListDestinationsTable.tsx
  web/src/routes.tsx
Due: prettier --write, eslint

update constants to add destination config obj
  web/src/constants.ts
Due: prettier --write, eslint

remove unneeded select-destination sidesheet
  web/src/components/sidesheets/AddDestinationSidesheet/AddDestinationSidesheet.tsx
  web/src/components/sidesheets/AddDestinationSidesheet/ChooseDestinationScreen/ChooseDestinationScreen.tsx
  web/src/components/sidesheets/AddDestinationSidesheet/ChooseDestinationScreen/index.tsx
  web/src/components/sidesheets/AddDestinationSidesheet/ConfigureDestinationScreen/ConfigureDestinationScreen.tsx
  web/src/components/sidesheets/AddDestinationSidesheet/ConfigureDestinationScreen/graphql/addDestination.generated.ts
  web/src/components/sidesheets/AddDestinationSidesheet/ConfigureDestinationScreen/graphql/addDestination.graphql
  web/src/components/sidesheets/AddDestinationSidesheet/ConfigureDestinationScreen/index.tsx
  web/src/components/sidesheets/SelectDestinationSidesheet/SelectDestinationSidesheet.tsx
  web/src/components/sidesheets/SelectDestinationSidesheet/index.tsx
  web/src/components/utils/Sidesheet/SidesheetContext.tsx
  web/src/components/utils/Sidesheet/SidesheetManager.tsx
  web/src/pages/Destinations/CreateButton/CreateButton.tsx
Due: prettier --write, eslint

handle global module refactors
  package-lock.json
  package.json
  web/src/components/forms/GlobalPythonModuleForm/GlobalPythonModuleForm.tsx
  web/src/components/modals/DeleteGlobalPythonModuleModal/DeleteGlobalPythonModuleModal.tsx
  web/src/components/utils/Modal/ModalContext.tsx
  web/src/components/utils/Sidesheet/SidesheetManager.tsx
  web/src/components/wizards/S3LogSourceWizard/S3SourceConfigurationPanel/S3SourceConfigurationPanel.tsx
  web/src/pages/CreateGlobalPythonModule/CreateGlobalPythonModule.tsx
  web/src/pages/EditGlobalPythonModule/EditGlobalPythonModule.tsx
  web/src/pages/EditGlobalPythonModule/Skeleton/Skeleton.tsx
  web/src/pages/EditGlobalPythonModule/Skeleton/index.tsx
  web/src/pages/ListGlobalPythonModules/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListGlobalPythonModules/GlobalPythonModuleItem/GlobalPythonModuleItem.tsx
  web/src/pages/ListGlobalPythonModules/ListGlobalPythonModules.tsx
  web/src/pages/ListGlobalPythonModules/Skeleton/Skeleton.tsx
  web/src/pages/ListGlobalPythonModules/Skeleton/index.tsx
Due: prettier --write, eslint

handle Skeleton pages
  web/src/pages/AlertDetails/AlertDetails.tsx
  web/src/pages/AlertDetails/Skeleton/Skeleton.tsx
  web/src/pages/AlertDetails/Skeleton/index.tsx
  web/src/pages/EditPolicy/EditPolicy.tsx
  web/src/pages/EditPolicy/Skeleton/Skeleton.tsx
  web/src/pages/EditPolicy/Skeleton/index.tsx
  web/src/pages/EditRule/EditRule.tsx
  web/src/pages/EditRule/Skeleton/Skeleton.tsx
  web/src/pages/EditRule/Skeleton/index.tsx
  web/src/pages/ListComplianceSources/Skeleton/Skeleton.tsx
  web/src/pages/ListLogSources/Skeleton/Skeleton.tsx
  web/src/pages/PolicyDetails/Skeleton/Skeleton.tsx
  web/src/pages/RuleDetails/Skeleton/Skeleton.tsx
Due: prettier --write, eslint

change old palette to new one
  web/src/components/Editor/Editor.tsx
  web/src/components/Editor/theme.ts
  web/src/components/ErrorBoundary/ErrorBoundary.tsx
  web/src/components/charts/BarChart/BarChart.tsx
  web/src/components/wizards/S3LogSourceWizard/S3SourceConfigurationPanel/S3SourceConfigurationPanel.tsx
  web/src/components/wizards/S3LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/pages/ComplianceOverview/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ComplianceOverview/PoliciesBySeverityChart/PoliciesBySeverityChart.tsx
  web/src/pages/ComplianceOverview/PoliciesByStatusChart/PoliciesByStatusChart.tsx
  web/src/pages/ComplianceOverview/ResourcesByPlatformChart/ResourcesByPlatformChart.tsx
  web/src/pages/ComplianceOverview/ResourcesByStatusChart/ResourcesByStatusChart.tsx
  web/src/pages/Destinations/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceTable/ComplianceSourceHealthIcon/ComplianceSourceHealthIcon.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceHealthIcon/LogSourceHealthIcon.tsx
Due: prettier --write, eslint

Fix missing Juniper logs in new registry
  docs/gitbook/log-analysis/log-processing/supported-logs/Juniper.md
  internal/log_analysis/log_processor/parsers/juniperlogs/access.go
  internal/log_analysis/log_processor/parsers/juniperlogs/audit.go
  internal/log_analysis/log_processor/parsers/juniperlogs/firewall.go
  internal/log_analysis/log_processor/parsers/juniperlogs/juniperlogs.go
  internal/log_analysis/log_processor/parsers/juniperlogs/mws.go
  internal/log_analysis/log_processor/parsers/juniperlogs/postgres.go
  internal/log_analysis/log_processor/parsers/juniperlogs/security.go
Due: prettier --write

Simplify
  deployments/auxiliary/cloudformation/panther-deployment-role.yml
Due: none

cleanup layout components usage
  web/src/components/forms/ChangePasswordForm/ChangePasswordForm.tsx
  web/src/components/forms/ForgotPasswordConfirmForm/ForgotPasswordConfirmForm.tsx
  web/src/components/forms/SigninForm/SigninForm.tsx
  web/src/components/forms/TotpForm/TotpForm.tsx
  web/src/pages/SignIn/SignIn.tsx
Due: prettier --write, eslint

fix jsx typo
  package-lock.json
  package.json
  web/src/components/forms/TotpForm/TotpForm.tsx
Due: prettier --write, eslint

convert a to Link
  web/src/components/forms/PolicyForm/PolicyFormAutoRemediationSection/PolicyFormAutoRemediationSection.tsx
Due: prettier --write, eslint

remove FadeInTrail forom tables
  web/src/pages/ListPolicies/ListPoliciesTable/ListPoliciesTable.tsx
  web/src/pages/ListResources/ListResourcesTable/ListResourcesTable.tsx
  web/src/pages/ListRules/ListRulesTable/ListRulesTable.tsx
Due: prettier --write, eslint

replace some uses of img with Img
  web/src/components/AuthPageContainer/AuthPageContainer.tsx
  web/src/components/Navigation/Navigation.tsx
  web/src/pages/Landing/Landing.tsx
Due: prettier --write, eslint

fix file circular dependency
  web/src/constants.ts
  web/src/helpers/utils.tsx
Due: prettier --write, eslint

bump pounce
  package-lock.json
  package.json
Due: prettier --write

mage fmt
  web/src/components/forms/BaseRuleForm/BaseRuleFormEditorSection/index.tsx
  web/src/components/forms/PolicyForm/PolicyFormAutoRemediationSection/index.tsx
  web/src/components/sidesheets/AddDestinationSidesheet/ChooseDestinationScreen/index.tsx
  web/src/components/sidesheets/AddDestinationSidesheet/ConfigureDestinationScreen/index.tsx
  web/src/components/utils/FadeInTrail/FadeInTrail.tsx
  web/src/components/utils/FadeInTrail/index.tsx
  web/src/hooks/useFastField.tsx
  web/src/hooks/useResourceRemediation.tsx
  web/src/pages/ListComplianceSources/Skeleton/Skeleton.tsx
  web/src/pages/ListComplianceSources/Skeleton/index.tsx
  web/src/pages/ListGlobalPythonModules/Skeleton/index.tsx
  web/src/pages/ListLogSources/Skeleton/Skeleton.tsx
  web/src/pages/ListLogSources/Skeleton/index.tsx
  web/src/pages/PolicyDetails/PolicyDetailsTable/PolicyDetailsTableRowOptions.tsx
  web/src/pages/ResourceDetails/ResourceDetailsAttributes/ResourceDetailsAttributes.tsx
  web/src/pages/ResourceDetails/ResourceDetailsAttributes/index.tsx
  web/src/pages/ResourceDetails/ResourceDetailsTable/ResourceDetailsTableRowOptions.tsx
  web/src/pages/Users/Skeleton/Skeleton.tsx
  web/src/pages/Users/Skeleton/index.tsx
Due: prettier --write, eslint

make generic api composible
  pkg/genericapi/router.go
  pkg/genericapi/router_test.go
Due: none

Remove debugging
  pkg/genericapi/router.go
Due: none

Fix lint warning
  pkg/genericapi/router.go
Due: none

fix: totp QR code
  web/src/components/AuthPageContainer/AuthPageContainer.tsx
  web/src/components/forms/TotpForm/TotpForm.tsx
  web/src/components/forms/UserForm/UserForm.tsx
Due: prettier --write, eslint

fix: add accessibility attributes
  web/src/components/forms/UserForm/UserForm.tsx
  web/src/components/sidesheets/EditAccountSidesheet/EditAccountSidesheet.tsx
  web/src/components/sidesheets/UserInvitationSidesheet/UserInvitationSidesheet.tsx
Due: prettier --write, eslint

Updating API to remove pointers
  api/lambda/source/models/api.go
  api/lambda/source/models/integration.go
  api/lambda/source/models/validator_test.go
  internal/compliance/aws_event_processor/processor/accounts.go
  internal/compliance/aws_event_processor/processor/accounts_test.go
  internal/compliance/aws_event_processor/processor/process.go
  internal/compliance/snapshot_scheduler/scheduler/schedule.go
  internal/compliance/snapshot_scheduler/scheduler/schedule_test.go
  internal/core/custom_resources/resources/self_registration.go
  internal/core/source_api/api/check_integration.go
  internal/core/source_api/api/delete_integration.go
  internal/core/source_api/api/delete_integration_test.go
  internal/core/source_api/api/get_integration_template.go
  internal/core/source_api/api/get_integration_template_test.go
  internal/core/source_api/api/glue_utils.go
  internal/core/source_api/api/list_integrations_test.go
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/put_integration_test.go
  internal/core/source_api/api/update_integration.go
  internal/core/source_api/api/update_integration_test.go
  internal/core/source_api/api/update_status.go
  internal/core/source_api/api/utils.go
  internal/core/source_api/ddb/delete_item.go
  internal/core/source_api/ddb/get_item.go
  internal/core/source_api/ddb/items.go
  internal/core/source_api/ddb/put_item.go
  internal/core/source_api/ddb/scan.go
  internal/core/source_api/main/integration_test.go
  internal/log_analysis/log_processor/sources/s3_client_cache.go
  internal/log_analysis/log_processor/sources/s3_client_cache_test.go
  internal/log_analysis/log_processor/sources/s3_test.go
  tools/mage/glue_namespace.go
Due: none

Updated KMS key check integration
  internal/core/source_api/api/check_integration.go
Due: none

Simplified some code
  internal/core/source_api/ddb/get_item.go
  internal/core/source_api/ddb/update.go
Due: none

reverted some changes
  api/lambda/source/models/integration.go
  internal/core/source_api/api/check_integration.go
Due: none

fix: remove empty spaces
  web/src/pages/GeneralSettings/GeneralSettings.tsx
Due: prettier --write, eslint

feat: add HMR and web-dev-middleware to keep dev <-> prod envs similar
  package-lock.json
  package.json
  web/scripts/serve.js
  web/scripts/start.js
  web/scripts/utils.js
  web/webpack.config.js
Due: prettier --write, eslint

Changing bool to *bool
  api/lambda/source/models/api.go
  api/lambda/source/models/integration.go
  internal/core/custom_resources/resources/self_registration.go
  internal/core/source_api/api/check_integration.go
  internal/core/source_api/api/get_integration_template.go
  internal/core/source_api/api/get_integration_template_test.go
  internal/core/source_api/ddb/items.go
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
