Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

More fixes
  web/src/components/Navigation/SettingsNavigation.tsx
  web/src/components/modals/DeleteGlobalPythonModuleModal/DeleteGlobalPythonModuleModal.tsx
  web/src/pages/CreateGlobalPythonModule/CreateGlobalPythonModule.tsx
  web/src/pages/ListGlobalPythonModules/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListGlobalPythonModules/GlobalPythonModuleItem/GlobalPythonModuleItem.tsx
  web/src/pages/ListGlobalPythonModules/ListGlobalPythonModules.tsx
Due: prettier --write, eslint

Removed Globals from appsync
  deployments/appsync.yml
Due: none

Address PR feedback
  api/lambda/outputs/models/api.go
  internal/core/alert_delivery/delivery/outputs.go
  internal/core/outputs_api/api/add_output.go
  internal/core/outputs_api/api/get_outputs_unredacted.go
  internal/core/outputs_api/api/utils.go
Due: none

Revert "Removed Globals from appsync"
  deployments/appsync.yml
Due: none

Change signature of `logtypes.Registry.Del()`
  internal/log_analysis/gluetables/gluetables_test.go
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
  internal/log_analysis/log_processor/registry/registry.go
  internal/log_analysis/logtypes/registry.go
  internal/log_analysis/logtypes/registry_test.go
Due: none

addressed more PR discussion
  internal/core/outputs_api/api/utils.go
Due: none

Fix comments
  internal/log_analysis/log_processor/parsers/parsers.go
  internal/log_analysis/logtypes/registry.go
Due: none

More renames
  web/src/components/Navigation/SettingsNavigation.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormCoreFields/BaseRuleFormCoreFields.tsx
  web/src/components/forms/GlobalPythonModuleForm/GlobalPythonModuleForm.tsx
  web/src/components/forms/GlobalPythonModuleForm/index.tsx
  web/src/components/modals/DeleteGlobalPythonModuleModal/DeleteGlobalPythonModuleModal.tsx
  web/src/pages/CreateGlobalPythonModule/CreateGlobalPythonModule.tsx
  web/src/pages/EditGlobalPythonModule/EditGlobalPythonModule.tsx
  web/src/pages/ListGlobalPythonModules/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListGlobalPythonModules/GlobalPythonModuleItem/GlobalPythonModuleItem.tsx
  web/src/pages/ListGlobalPythonModules/ListGlobalPythonModules.tsx
  web/src/routes.tsx
  web/src/urls.ts
Due: prettier --write, eslint

Respond to PR
  internal/log_analysis/log_processor/sources/s3_client_cache.go
Due: none

Missing licence for schema.tsx
  web/__generated__/schema.tsx
Due: prettier --write, eslint

Fix gluetables test
  internal/log_analysis/gluetables/gluetables_test.go
Due: none

Removed extra css
  web/src/pages/ListGlobalPythonModules/GlobalPythonModuleItem/GlobalPythonModuleItem.tsx
Due: prettier --write, eslint

Fixed hardcoded doc url to in StackDeployment
  web/src/components/wizards/S3LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/constants.ts
Due: prettier --write, eslint

fix: remove unnecessary items from filter, update frontend
  api/lambda/alerts/models/api.go
  internal/log_analysis/alerts_api/table/list.go
  web/src/hooks/useRequestParamsWithInfiniteScroll.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
  web/src/pages/ListAlerts/ListAlertsActions/index.tsx
Due: prettier --write, eslint

fix: add default page size
  api/lambda/alerts/models/api.go
  internal/log_analysis/alerts_api/table/list.go
Due: none

Standardize CFN parameters
  deployments/appsync.yml
  deployments/bootstrap.yml
  deployments/bootstrap_gateway.yml
  deployments/cloud_security.yml
  deployments/core.yml
  deployments/log_analysis.yml
  deployments/master.yml
  deployments/panther_config.yml
  deployments/web_server.yml
  tools/config/config.go
  tools/mage/deploy.go
  tools/mage/deploy_frontend.go
Due: none

Add CI enforcement
  deployments/bootstrap.yml
  tools/mage/test_namespace.go
Due: none

Copy param header comment to all templates
  deployments/appsync.yml
  deployments/bootstrap_gateway.yml
  deployments/cloud_security.yml
  deployments/core.yml
  deployments/log_analysis.yml
  deployments/master.yml
  deployments/onboard.yml
  deployments/web_server.yml
Due: none

fix: infinite scroll with previous URL query params
  internal/log_analysis/alerts_api/table/list.go
  web/src/pages/ListAlerts/ListAlerts.tsx
Due: prettier --write, eslint

Fix outputs-api integration tests
  internal/core/outputs_api/main/integration_test.go
  tools/mage/test_namespace.go
Due: none

Off-by-one error
  tools/mage/test_namespace.go
Due: none

revert: removed additional lowercase check for title
  internal/log_analysis/alerts_api/table/list.go
Due: none

feat: added support for event count min/max range query
  internal/log_analysis/alerts_api/table/list.go
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
Due: prettier --write, eslint

fix: put a minimum value on event count min/max, re-ordered columns of table
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
  web/src/pages/ListAlerts/ListAlertsTable/ListAlertsTable.tsx
Due: prettier --write, eslint

Alphabetizing is hard
  deployments/cloud_security.yml
  deployments/core.yml
  deployments/master.yml
  tools/mage/deploy.go
Due: none

fix: added ruleId filter, replaced alertId with ruleId in table
  internal/log_analysis/alerts_api/table/list.go
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
  web/src/pages/ListAlerts/ListAlertsTable/ListAlertsTable.tsx
Due: prettier --write, eslint

Add test for getOutputsWithSecrets
  internal/core/outputs_api/main/integration_test.go
Due: none

Final cleanup
  internal/core/outputs_api/main/integration_test.go
Due: none

fix: remove updatedAt query parameters as this may not be used
  api/graphql/schema.graphql
  api/lambda/alerts/models/api.go
  internal/log_analysis/alerts_api/table/list.go
Due: none

Move logtypes module under log_processor
  internal/log_analysis/gluetables/gluetables_test.go
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/log_processor/logtypes/logtypes.go
  internal/log_analysis/log_processor/logtypes/registry.go
  internal/log_analysis/log_processor/logtypes/registry_test.go
  internal/log_analysis/log_processor/parsers/apachelogs/apachelogs.go
  internal/log_analysis/log_processor/parsers/awslogs/awslogs.go
  internal/log_analysis/log_processor/parsers/fluentdsyslogs/fluentdsyslogs.go
  internal/log_analysis/log_processor/parsers/gcplogs/gcplogs.go
  internal/log_analysis/log_processor/parsers/gitlablogs/gitlablogs.go
  internal/log_analysis/log_processor/parsers/nginxlogs/nginxlogs.go
  internal/log_analysis/log_processor/parsers/osquerylogs/osquerylogs.go
  internal/log_analysis/log_processor/parsers/osseclogs/osseclogs.go
  internal/log_analysis/log_processor/parsers/parsers.go
  internal/log_analysis/log_processor/parsers/suricatalogs/suricatalogs.go
  internal/log_analysis/log_processor/parsers/sysloglogs/syslogs.go
  internal/log_analysis/log_processor/parsers/zeeklogs/zeeklogs.go
  internal/log_analysis/log_processor/registry/registry.go
Due: none

Remove commented code from test
  internal/log_analysis/log_processor/classification/classifier_test.go
Due: none

Set sensitive fields as passwords to prevent over shoulder surfing
  web/src/components/forms/AsanaDestinationForm/AsanaDestinationForm.tsx
  web/src/components/forms/CustomWebhookDestinationForm/CustomWebhookDestinationForm.tsx
  web/src/components/forms/GithubDestinationForm/GithubDestinationForm.tsx
  web/src/components/forms/JiraDestinationForm/JiraDestination.tsx
  web/src/components/forms/MicrosoftTeamsDestinationForm/MicrosoftTeamsDestinationForm.tsx
  web/src/components/forms/OpsgenieDestinationForm/OpsgenieDestinationForm.tsx
  web/src/components/forms/PagerdutyDestinationForm/PagerdutyDestinationForm.tsx
  web/src/components/forms/SlackDestinationForm/SlackDestinationForm.tsx
Due: prettier --write, eslint

hardcode pounce version
  package.json
Due: prettier --write

Initial Changes to schema and forms
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/components/forms/AsanaDestinationForm/AsanaDestinationForm.tsx
  web/src/components/forms/BaseDestinationForm/BaseDestinationForm.tsx
  web/src/components/forms/CustomWebhookDestinationForm/CustomWebhookDestinationForm.tsx
  web/src/components/forms/GithubDestinationForm/GithubDestinationForm.tsx
  web/src/components/forms/JiraDestinationForm/JiraDestination.tsx
  web/src/components/forms/MicrosoftTeamsDestinationForm/MicrosoftTeamsDestinationForm.tsx
  web/src/components/forms/OpsgenieDestinationForm/OpsgenieDestinationForm.tsx
  web/src/components/forms/PagerdutyDestinationForm/PagerdutyDestinationForm.tsx
  web/src/components/forms/SlackDestinationForm/SlackDestinationForm.tsx
  web/src/components/forms/SnsDestinationForm/SnsDestinationForm.tsx
  web/src/components/forms/SqsDestinationForm/SqsDestinationForm.tsx
  web/src/components/sidesheets/AddDestinationSidesheet/AddDestinationSidesheet.tsx
  web/src/components/sidesheets/AddDestinationSidesheet/graphql/addDestination.generated.ts
  web/src/components/sidesheets/AddDestinationSidesheet/graphql/addDestination.graphql
  web/src/components/sidesheets/UpdateDestinationSidesheet/UpdateDestinationSidesheet.tsx
  web/src/components/sidesheets/UpdateDestinationSidesheet/graphql/updateDestination.generated.ts
  web/src/components/sidesheets/UpdateDestinationSidesheet/graphql/updateDestination.graphql
Due: prettier --write, eslint

chore: updated generated schema
  web/__generated__/schema.tsx
Due: prettier --write, eslint

secrets manager permissions
  deployments/cloud_security.yml
  deployments/log_analysis.yml
Due: none

add shared path
  deployments/cloud_security.yml
  deployments/log_analysis.yml
Due: none

Updated schema
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
Due: prettier --write, eslint

wip: adding createdAt filtering
  api/graphql/schema.graphql
  api/lambda/alerts/models/api.go
  internal/log_analysis/alerts_api/table/list.go
  internal/log_analysis/alerts_api/table/table.go
  web/__generated__/schema.tsx
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
Due: prettier --write, eslint

fix: update key value
  internal/log_analysis/alerts_api/table/table.go
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
