Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Update docs
  docs/gitbook/log-analysis/log-processing/supported-logs/Apache.md
Due: prettier --write

Switch destinations to handle parsers.Result instead of parsers.PantherLog
  internal/log_analysis/log_processor/classification/classifier.go
  internal/log_analysis/log_processor/classification/classifier_test.go
  internal/log_analysis/log_processor/destinations/destinations.go
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
  internal/log_analysis/log_processor/parsers/result.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/processor/processor_test.go
Due: none

WIP
  internal/log_analysis/awsglue/table_metadata.go
  internal/log_analysis/log_processor/parsers/jsontricks/jsontricks.go
  internal/log_analysis/log_processor/parsers/jsontricks/jsontricks_test.go
  internal/log_analysis/log_processor/parsers/logs/event.go
  internal/log_analysis/log_processor/parsers/logs/event_test.go
  internal/log_analysis/log_processor/parsers/logs/fields.go
  internal/log_analysis/log_processor/parsers/logs/fields_test.go
  internal/log_analysis/log_processor/parsers/logs/meta.go
  internal/log_analysis/log_processor/parsers/logs/rowid.go
  internal/log_analysis/log_processor/parsers/logs/rowid_test.go
  internal/log_analysis/log_processor/parsers/registry.go
  internal/log_analysis/log_processor/parsers/result.go
Due: none

Removing AWS dependency from CSV utils
  internal/log_analysis/log_processor/parsers/csv_utils.go
Due: none

Fixed licence
  internal/log_analysis/log_processor/parsers/csv_utils.go
Due: none

Fixing bug with stack name
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/utils.go
Due: none

Implement fix for athena fields
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/jsonutil/jsonutil.go
  internal/log_analysis/log_processor/jsonutil/jsonutil_test.go
  internal/log_analysis/log_processor/parsers/parsers.go
  tools/cfngen/gluecf/schema.go
  tools/cfngen/gluecf/schema_test.go
Due: none

addrssed PR feedback
  deployments/bootstrap.yml
Due: none

Remove most defaults to avoid confusion
  internal/core/custom_resources/resources/alarms.go
  internal/core/custom_resources/resources/alarms_api_gateway.go
  internal/core/custom_resources/resources/alarms_appsync.go
  internal/core/custom_resources/resources/alarms_elb.go
  tools/mage/deploy.go
Due: none

add carrers link
  README.md
Due: prettier --write

revert to DynamoDB
  deployments/bootstrap.yml
  deployments/cloud_security.yml
  deployments/core.yml
  deployments/log_analysis.yml
  docs/gitbook/operations/runbooks.md
  tools/mage/deploy.go
Due: prettier --write

panther managed globals
  internal/core/layer_manager/manager/handle.go
  internal/core/layer_manager/manager/panther_helpers.go
  tools/mage/deploy.go
Due: none

fixed unit tests
  internal/compliance/policy_engine/src/helpers.py
  internal/compliance/policy_engine/tests/test_helpers.py
  internal/core/layer_manager/manager/panther_helpers.go
  tools/mage/deploy.go
Due: none

fixed naming
  internal/core/layer_manager/manager/panther_helpers.go
Due: none

Remove extraneous statistic from ELB alarm group
  internal/core/custom_resources/resources/alarms_elb.go
Due: none

enable auditing for prod deps only
  .circleci/config.yml
Due: none

add support for mutlitple globals
  api/gateway/analysis/api.yml
  api/gateway/analysis/client/operations/list_globals_parameters.go
  api/gateway/analysis/client/operations/list_globals_responses.go
  api/gateway/analysis/client/operations/operations_client.go
  api/gateway/analysis/models/global_list.go
  api/gateway/analysis/models/global_summary.go
  deployments/core.yml
  internal/core/analysis_api/handlers/bulk_upload.go
  internal/core/analysis_api/handlers/list_globals.go
  internal/core/analysis_api/handlers/util.go
  internal/core/analysis_api/main/lambda.go
  internal/core/layer_manager/manager/handle.go
Due: none

fixed dropped error
  internal/core/analysis_api/handlers/bulk_upload.go
Due: none

remove <BaseRuleForm> component
  web/src/components/forms/BaseRuleForm/BaseRuleForm.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormCoreFields/BaseRuleFormCoreFields.tsx
  web/src/components/forms/BaseRuleForm/index.tsx
  web/src/components/forms/PolicyForm/PolicyForm.tsx
  web/src/components/forms/RuleForm/RuleForm.tsx
  web/src/pages/CreatePolicy/CreatePolicy.tsx
  web/src/pages/CreateRule/CreateRule.tsx
  web/src/pages/EditPolicy/EditPolicy.tsx
  web/src/pages/EditPolicy/index.tsx
  web/src/pages/EditRule/EditRule.tsx
  web/src/pages/EditRule/index.tsx
Due: prettier --write, eslint

create & use `useFormRestoration` hook
  web/src/components/forms/GlobalModuleForm/GlobalModuleForm.tsx
  web/src/components/forms/PolicyForm/PolicyForm.tsx
  web/src/components/forms/RuleForm/RuleForm.tsx
  web/src/hooks/useFormSessionRestoration.tsx
Due: prettier --write, eslint

More tests
  internal/log_analysis/log_processor/parsers/logs/event_test.go
  internal/log_analysis/log_processor/parsers/logs/fields.go
  internal/log_analysis/log_processor/parsers/logs/fields_test.go
Due: none

Introduce core modules in common
  internal/log_analysis/log_processor/common/box/box.go
  internal/log_analysis/log_processor/common/logs/event.go
  internal/log_analysis/log_processor/common/logs/event_test.go
  internal/log_analysis/log_processor/common/logs/fields.go
  internal/log_analysis/log_processor/common/logs/fields_test.go
  internal/log_analysis/log_processor/common/logs/meta.go
  internal/log_analysis/log_processor/common/logs/rowid.go
  internal/log_analysis/log_processor/common/logs/rowid_test.go
  internal/log_analysis/log_processor/common/null/null.go
  internal/log_analysis/log_processor/common/null/string.go
  internal/log_analysis/log_processor/common/null/string_test.go
  internal/log_analysis/log_processor/common/unbox/unbox.go
  internal/log_analysis/log_processor/parsers/result.go
Due: none

mage mft
  internal/log_analysis/log_processor/common/box/box.go
  internal/log_analysis/log_processor/common/logs/event_test.go
  internal/log_analysis/log_processor/common/null/null.go
  internal/log_analysis/log_processor/common/null/string.go
  internal/log_analysis/log_processor/common/null/string_test.go
  internal/log_analysis/log_processor/common/unbox/unbox.go
  internal/log_analysis/log_processor/parsers/registry.go
  internal/log_analysis/log_processor/parsers/result.go
Due: none

Comments
  internal/log_analysis/log_processor/common/box/box.go
Due: none

remove form restoration
  web/src/components/forms/GlobalModuleForm/GlobalModuleForm.tsx
  web/src/components/forms/PolicyForm/PolicyForm.tsx
  web/src/components/forms/RuleForm/RuleForm.tsx
Due: prettier --write, eslint

remove restoration hook
  web/src/hooks/useFormSessionRestoration.tsx
Due: prettier --write, eslint

clear typings and GraphQL inputs on policies/rules
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormCoreFields/BaseRuleFormCoreFields.tsx
  web/src/components/forms/PolicyForm/PolicyForm.tsx
  web/src/components/forms/RuleForm/RuleForm.tsx
  web/src/pages/CreatePolicy/CreatePolicy.tsx
  web/src/pages/CreatePolicy/graphql/createPolicy.generated.ts
  web/src/pages/CreatePolicy/graphql/createPolicy.graphql
  web/src/pages/CreatePolicy/index.tsx
  web/src/pages/CreateRule/CreateRule.tsx
  web/src/pages/CreateRule/graphql/createRule.generated.ts
  web/src/pages/CreateRule/graphql/createRule.graphql
  web/src/pages/CreateRule/index.tsx
  web/src/pages/EditPolicy/EditPolicy.tsx
  web/src/pages/EditPolicy/graphql/updatePolicy.generated.ts
  web/src/pages/EditPolicy/graphql/updatePolicy.graphql
  web/src/pages/EditRule/EditRule.tsx
  web/src/pages/EditRule/graphql/updateRule.generated.ts
  web/src/pages/EditRule/graphql/updateRule.graphql
Due: prettier --write, eslint

mage fmt
  web/__generated__/schema.tsx
Due: prettier --write, eslint

dummy change
  api/graphql/schema.graphql
Due: none

add `id` during create
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/pages/CreatePolicy/CreatePolicy.tsx
  web/src/pages/CreateRule/CreateRule.tsx
Due: prettier --write, eslint

Move methods to result.go to help with review
  internal/log_analysis/log_processor/parsers/pantherlog.go
  internal/log_analysis/log_processor/parsers/result.go
Due: none

revert changes in ID
  web/src/components/forms/BaseRuleForm/BaseRuleFormCoreFields/BaseRuleFormCoreFields.tsx
  web/src/components/forms/PolicyForm/PolicyForm.tsx
  web/src/components/forms/RuleForm/RuleForm.tsx
Due: prettier --write, eslint

Comments
  internal/log_analysis/awsglue/table_metadata.go
  internal/log_analysis/log_processor/classification/classifier.go
Due: none

lint fix
  internal/log_analysis/log_processor/common/logs/fields_test.go
  internal/log_analysis/log_processor/common/null/string_test.go
Due: none

Patch test
  internal/log_analysis/log_processor/classification/classifier_test.go
Due: none

Fix s3_test.go
  internal/log_analysis/log_processor/destinations/s3_test.go
Due: none

refactor SubmitButton
  web/src/components/buttons/SubmitButton/SubmitButton.tsx
  web/src/components/forms/BaseDestinationForm/BaseDestinationForm.tsx
  web/src/components/forms/ChangePasswordForm/ChangePasswordForm.tsx
  web/src/components/forms/CompanyInformationForm/CompanyInformationForm.tsx
  web/src/components/forms/EditProfileForm/EditProfileForm.tsx
  web/src/components/forms/ForgotPasswordConfirmForm/ForgotPasswordConfirmForm.tsx
  web/src/components/forms/ForgotPasswordForm/ForgotPasswordForm.tsx
  web/src/components/forms/GlobalModuleForm/GlobalModuleForm.tsx
  web/src/components/forms/MfaForm/MfaForm.tsx
  web/src/components/forms/PolicyForm/PolicyForm.tsx
  web/src/components/forms/RuleForm/RuleForm.tsx
  web/src/components/forms/SetPasswordForm/SetPasswordForm.tsx
  web/src/components/forms/SigninForm/SigninForm.tsx
  web/src/components/forms/TotpForm/TotpForm.tsx
  web/src/components/forms/UserForm/UserForm.tsx
Due: prettier --write, eslint

Provisioned capacity and TTL for key-value store
  deployments/bootstrap.yml
  deployments/core.yml
  tools/mage/deploy.go
Due: none

IAM ARN, not role name
  deployments/bootstrap.yml
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
