Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

fix: revert wrong change
  api/lambda/analysis/models/api.go
Due: none

mage gen fmt
  api/lambda/analysis/models/api.go
Due: none

chore: list alerts created in the last day
  web/src/pages/Overview/AlertsOverview/AlertsOverview.tsx
  web/src/pages/Overview/AlertsOverview/graphql/getOverviewAlerts.generated.ts
  web/src/pages/Overview/AlertsOverview/graphql/getOverviewAlerts.graphql
Due: prettier --write, eslint

fix: corrected ctx value
  deployments/appsync.yml
Due: none

revert: revert change go files
  internal/core/analysis_api/handlers/list_packs.go
  internal/core/analysis_api/main/integration_test.go
Due: none

fix: correct resolver source
  deployments/appsync.yml
Due: none

chore: addressed feedback
  web/src/components/cards/PackCard/PackCard.tsx
  web/src/pages/AnalysisPackDetails/AnalysisPackDetails.test.tsx
  web/src/pages/AnalysisPackDetails/AnalysisPackDetails.tsx
  web/src/pages/AnalysisPackDetails/AnalysisPackDetailsBanner/AnalysisPackDetailsBanner.tsx
  web/src/pages/AnalysisPackDetails/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/AnalysisPackDetails/EmptyDataFallback/index.tsx
  web/src/pages/AnalysisPackDetails/Skeleton/Skeleton.tsx
  web/src/pages/ListAnalysisPacks/ListPacksFilters/DropdownFilters.tsx
  web/src/pages/ListAnalysisPacks/ListPacksFilters/ListPacksFilters.tsx
Due: prettier --write, eslint

Updated to do reset
  internal/log_analysis/log_processor/pantherlog/jsoniter.go
Due: none

Added comment
  internal/log_analysis/log_processor/pantherlog/jsoniter.go
Due: none

Added test for nil event
  internal/log_analysis/log_processor/pantherlog/jsoniter_test.go
Due: none

chore: add info tooltip in high priority alerts
  web/src/pages/Overview/AlertsOverview/AlertsOverview.tsx
Due: prettier --write, eslint

test: add tests for alerts overview page
  web/src/pages/Overview/AlertsOverview/AlertsOverview.test.tsx
  web/src/pages/Overview/AlertsOverview/AlertsOverview.tsx
  web/src/pages/Overview/AlertsOverview/__snapshots__/AlertsOverview.test.tsx.snap
Due: prettier --write, eslint

chore: cleanup props in OverviewTab
  web/src/pages/Overview/OverviewTab/OverviewTab.tsx
Due: prettier --write, eslint

chore: move percentage chart to chart components
  web/src/components/charts/PercentageBarChart/PercentageBar/PercentageBar.tsx
  web/src/components/charts/PercentageBarChart/PercentageBar/index.tsx
  web/src/components/charts/PercentageBarChart/PercentageBarChart.tsx
  web/src/components/charts/PercentageBarChart/index.tsx
  web/src/pages/Overview/AlertsOverview/AlertSummary/AlertSummary.tsx
Due: prettier --write, eslint

fix: change field name
  api/graphql/schema.graphql
  deployments/appsync.yml
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/components/Navigation/SecondaryNavigations/LogAnalysisNavigation.tsx
  web/src/graphql/fragments/AnalysisPackDetails.generated.ts
  web/src/graphql/fragments/AnalysisPackDetails.graphql
  web/src/pages/AnalysisPackDetails/AnalysisPackDetails.test.tsx
  web/src/pages/AnalysisPackDetails/AnalysisPackDetails.tsx
Due: prettier --write, eslint

initial pr fixes
  cmd/opstools/flushrsc/flushrsc/main.go
Due: none

Prep for key updates (#2671)
  deployments/core.yml
  internal/core/analysis_api/handlers/clients.go
  internal/core/analysis_api/handlers/github.go
  internal/core/analysis_api/main/integration_test.go
Due: none

comment fix
  cmd/opstools/flushrsc/flushrsc/main.go
Due: none

Upgrade policyuniverse Python package to latest version
  deployments/panther_config.yml
  tools/mage/master/config.go
Due: none

Fix quote bugs for tags
  internal/log_analysis/log_processor/customlogs/customlogs_test.go
  internal/log_analysis/log_processor/logschema/logschema_test.go
  internal/log_analysis/log_processor/logschema/reflect.go
  internal/log_analysis/log_processor/logschema/reflect_test.go
  internal/log_analysis/log_processor/logschema/testdata/sample_api_schema.yml
  pkg/x/structfields/structfields.go
  pkg/x/structfields/structfields_test.go
Due: none

ListSchemas initial implementation
  api/lambda/logtypes/models_gen.go
  internal/core/logtypesapi/lambdaclient_gen.go
  internal/core/logtypesapi/schemas.go
Due: none

Reverted changes
  api/lambda/delivery/models/api.go
  internal/core/alert_delivery/api/outputs.go
Due: none

fix: resolved conflicts
  web/src/routes.tsx
Due: prettier --write, eslint

Added extra comment
  internal/log_analysis/log_processor/pantherlog/jsoniter.go
Due: none

Make sure we don't serialize invalid JSON (#2703)
  internal/log_analysis/log_processor/pantherlog/jsoniter.go
  internal/log_analysis/log_processor/pantherlog/jsoniter_test.go
Due: none

Make sure we don't serialize invalid JSON (#2703) (#2707)
  internal/log_analysis/log_processor/pantherlog/jsoniter.go
  internal/log_analysis/log_processor/pantherlog/jsoniter_test.go
Due: none

Changed RulesEngineFunction to allow `lambda:InvokeFunction` on the outputs-api
  deployments/log_analysis.yml
Due: none

Fixed invalid comments as the returned strings are not time in epoch seconds
  api/lambda/outputs/models/api.go
Due: none

Added support for the rules-engine to query the outputs-api. Expanded the testing logic for the destinations function. Updated unit tests.
  internal/log_analysis/rules_engine/src/destination.py
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/src/outputs_api.py
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_destination.py
  internal/log_analysis/rules_engine/tests/test_engine.py
  internal/log_analysis/rules_engine/tests/test_main.py
  internal/log_analysis/rules_engine/tests/test_rule.py
Due: none

mage gen fmt
  internal/log_analysis/rules_engine/tests/test_destination.py
  internal/log_analysis/rules_engine/tests/test_engine.py
Due: none

Fixed rules-engine outputs-api response checking
  internal/log_analysis/rules_engine/src/outputs_api.py
Due: none

Fixed CI issues
  internal/log_analysis/rules_engine/tests/test_destination.py
  internal/log_analysis/rules_engine/tests/test_main.py
Due: none

Renamed gateway_response to lambda_response
  internal/log_analysis/rules_engine/src/outputs_api.py
Due: none

Optimized the outputs_display_names logic by moving it from the rule:_get_destinations function into the engine __init__ definition so it is only run once. Adjusted unit tests accordingly
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_rule.py
Due: none

mage gen fmt
  internal/log_analysis/rules_engine/src/rule.py
Due: none

Updated package.json to install aws-amplify@3.3.20
  package.json
Due: prettier --write

Ran `npm-install` to update package-lock.json
  package-lock.json
Due: prettier --write
