Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Changed order of KMS field
  web/src/components/wizards/S3LogSourceWizard/S3SourceConfigurationPanel/S3SourceConfigurationPanel.tsx
Due: prettier --write, eslint

Transform prefix & logTypes to S3PrefixLogTypes
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/components/wizards/S3LogSourceWizard/S3LogSourceWizard.tsx
  web/src/components/wizards/S3LogSourceWizard/S3SourceConfigurationPanel/S3SourceConfigurationPanel.tsx
  web/src/components/wizards/S3LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/graphql/fragments/S3LogIntegrationDetails.generated.ts
  web/src/graphql/fragments/S3LogIntegrationDetails.graphql
  web/src/pages/CreateLogSource/CreateS3LogSource/CreateS3LogSource.test.tsx
  web/src/pages/CreateLogSource/CreateS3LogSource/CreateS3LogSource.tsx
  web/src/pages/EditS3LogSource/EditS3LogSource.tsx
  web/src/pages/EditS3LogSource/ΕditS3LogSource.test.tsx
  web/src/pages/ListLogSources/LogSourceCards/S3LogSourceCard.test.tsx
  web/src/pages/ListLogSources/LogSourceCards/S3LogSourceCard.tsx
Due: prettier --write, eslint

Added condition for skipping step in S3SourceConfigurationPanel
  web/src/components/Wizard/WizardPanel.tsx
  web/src/components/wizards/S3LogSourceWizard/S3SourceConfigurationPanel/S3SourceConfigurationPanel.tsx
Due: prettier --write, eslint

Checkpointing work
  cmd/devtools/customlogs/customlogs/infer.go
Due: none

Inferring type
  cmd/devtools/customlogs/customlogs/infer.go
  cmd/devtools/customlogs/customlogs/infer_test.go
  cmd/devtools/customlogs/main.go
Due: none

chore: re-revamp date color
  web/src/components/GenericItemCard/GenericItemCard.tsx
  web/src/components/cards/AlertCard/__snapshots__/AlertCard.test.tsx.snap
Due: prettier --write, eslint

Checkpointing
  cmd/devtools/customlogs/customlogs/infer.go
Due: none

revert: re-instate min y-axis indicator
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
Due: prettier --write, eslint

add missing entry to dimensionset
  internal/log_analysis/alert_forwarder/main/lambda.go
Due: none

simplify check to a .get()
  internal/log_analysis/rules_engine/src/data_model.py
Due: none

initial commit, add filter, add InitialSet to policy/rules struct
  api/lambda/analysis/models/policies.go
  api/lambda/analysis/models/rules.go
  internal/core/analysis_api/handlers/list.go
  internal/core/analysis_api/handlers/list_policies.go
  internal/core/analysis_api/handlers/list_rules.go
Due: none

Don't require v1 releases
  deployments/core.yml
  deployments/web_server.yml
  tools/mage/master/publish.go
Due: none

add missing entry to dimensionset (#2196)
  internal/log_analysis/alert_forwarder/main/lambda.go
Due: none

Fix rare bug where commit looks like scientific notation
  deployments/master.yml
  tools/mage/master/build.go
  tools/mage/master/deploy.go
Due: none

merge changes from panther-labs/panther#2192
  deployments/core.yml
  deployments/master.yml
  deployments/web_server.yml
  internal/core/source_api/api/get_integration_template.go
  tools/mage/build/tools.go
  tools/mage/deploy/deploy.go
  tools/mage/deploy/deploy_template.go
  tools/mage/deploy/frontend.go
  tools/mage/master/build.go
  tools/mage/master/deploy.go
  tools/mage/master/publish.go
  tools/mage/util/version.go
  web/__tests__/.env.test
  web/scripts/start.js
  web/scripts/utils.js
  web/src/components/Navigation/ProfileIcon/ProfileIcon.tsx
  web/src/components/wizards/ComplianceSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/components/wizards/S3LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/constants.ts
  web/src/helpers/__tests__/analytics.test.tsx
  web/src/helpers/analytics.ts
  web/src/pages/GeneralSettings/GeneralSettings.tsx
  web/src/pages/GeneralSettings/__snapshots__/GeneralSettings.test.tsx.snap
  web/src/pages/Support/__snapshots__/Support.test.tsx.snap
Due: prettier --write, eslint

Fix conflict
  deployments/core.yml
Due: none

Revert to sequential publishing
  tools/mage/master/publish.go
Due: none

Verify each region is supported
  tools/mage/master/publish.go
Due: none

Short commit is not always 8 digits
  deployments/web_server.yml
Due: none

Use regional clients for docker push
  tools/mage/deploy/frontend.go
  tools/mage/master/build.go
  tools/mage/master/deploy.go
  tools/mage/master/publish.go
Due: none

Revert to sequential publishing (#2212)
  deployments/web_server.yml
  tools/mage/deploy/frontend.go
  tools/mage/master/build.go
  tools/mage/master/deploy.go
  tools/mage/master/publish.go
Due: none

Add cost opstool
  cmd/opstools/cost/cost/main.go
  internal/cost/cost.go
  internal/cost/panther.go
Due: none

Checkpoint work
  cmd/opstools/cost/cost/main.go
  internal/cost/cost.go
  internal/cost/panther.go
Due: none

Added comments
  internal/core/custom_resources/resources/glue_tables.go
  internal/log_analysis/datacatalog_updater/datacatalog/sync_database_partitions.go
Due: none

Removed unnecessary condition
  deployments/master.yml
Due: none

merge changes from panther-labs/panther#2195
  web/src/assets/illustrations/charts.svg
  web/src/components/GenericItemCard/GenericItemCard.tsx
  web/src/components/NoDataFound/NoDataFound.test.tsx
  web/src/components/NoDataFound/NoDataFound.tsx
  web/src/components/NoDataFound/__snapshots__/NoDataFound.test.tsx.snap
  web/src/components/NoDataFound/index.tsx
  web/src/components/NoResultsFound/NoResultsFound.test.tsx
  web/src/components/NoResultsFound/NoResultsFound.tsx
  web/src/components/cards/AlertCard/__snapshots__/AlertCard.test.tsx.snap
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
  web/src/pages/LogAnalysisOverview/AlertsBySeverity/AlertsBySeverity.tsx
  web/src/pages/LogAnalysisOverview/EventsByLatency/EventsByLatency.tsx
  web/src/pages/LogAnalysisOverview/EventsByLogType/EventsByLogType.tsx
  web/src/pages/LogAnalysisOverview/MostActiveRules/MostActiveRules.tsx
Due: prettier --write, eslint

Fixes based on feedback
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/components/Wizard/Wizard.test.tsx
  web/src/components/Wizard/WizardPanel.tsx
  web/src/components/wizards/S3LogSourceWizard/S3SourceConfigurationPanel/S3SourceConfigurationPanel.tsx
  web/src/graphql/fragments/S3LogIntegrationDetails.generated.ts
Due: prettier --write, eslint

Quick wording fix
  web/src/components/wizards/S3LogSourceWizard/S3SourceConfigurationPanel/S3SourceConfigurationPanel.tsx
Due: prettier --write, eslint

fix: conflict
  web/src/components/GenericItemCard/GenericItemCard.tsx
Due: prettier --write, eslint

fix: snap
  web/src/components/cards/AlertCard/__snapshots__/AlertCard.test.tsx.snap
Due: none

Fix creating s3 log source tests
  web/src/pages/CreateLogSource/CreateS3LogSource/CreateS3LogSource.test.tsx
  web/src/pages/CreateLogSource/CreateS3LogSource/CreateS3LogSource.tsx
Due: prettier --write, eslint

make code more testable
  cmd/devtools/customlogs/customlogs/infer.go
  cmd/devtools/customlogs/customlogs/infer_test.go
Due: none

Add unit tests
  internal/log_analysis/log_processor/processor/logstream/linestream_test.go
Due: none

update readme
  web/README.md
Due: prettier --write

Add unit tests and catch NUL characters in line stream
  internal/log_analysis/log_processor/processor/logstream/linestream.go
  internal/log_analysis/log_processor/processor/logstream/linestream_test.go
Due: none

mage gen fmt
  internal/log_analysis/log_processor/processor/logstream/linestream_test.go
Due: none

Fixes tests for EditLogSource
  web/src/components/wizards/S3LogSourceWizard/S3SourceConfigurationPanel/S3SourceConfigurationPanel.tsx
  web/src/pages/EditS3LogSource/ΕditS3LogSource.test.tsx
Due: prettier --write, eslint

Added additonal logType for combobox
  web/src/pages/CreateLogSource/CreateS3LogSource/CreateS3LogSource.test.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
