Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

reduce number of items per page from 100 to 50
  web/src/pages/DataExplorer/Results/Results.tsx
Due: prettier --write, eslint

Minor tidies
  internal/log_analysis/log_processor/processor/stream.go
Due: none

More minor tidies
  internal/log_analysis/log_processor/processor/stream.go
Due: none

add IO infinite scrolling
  web/src/hooks/useInfiniteScroll.tsx
  web/src/pages/DataExplorer/Results/Results.tsx
  web/src/pages/DataExplorer/Results/ResultsTable/ResultsTable.tsx
Due: prettier --write, eslint

add dynamic height to results table
  web/src/pages/DataExplorer/Results/Results.tsx
Due: prettier --write, eslint

If there is an error deleting sqs messages, just log, do not fail lambda
  internal/log_analysis/log_processor/processor/stream.go
  internal/log_analysis/log_processor/processor/stream_test.go
Due: none

addressed pr feedback
  docs/gitbook/development.md
Due: prettier --write

HTML escape user name in emails
  internal/core/users_api/api/cognito_trigger.go
Due: none

fix issues with IO
  web/src/hooks/useInfiniteScroll.tsx
  web/src/pages/DataExplorer/Results/Results.tsx
Due: prettier --write, eslint

updated deployment role
  deployments/auxiliary/cloudformation/panther-deployment-role.yml
Due: none

Add comment
  internal/core/users_api/api/cognito_trigger.go
Due: none

Implement batch sqs delete, where we force batching at batch size 10
  internal/log_analysis/log_processor/processor/stream.go
  internal/log_analysis/log_processor/processor/stream_test.go
Due: none

addressing pr feedback
  deployments/auxiliary/cloudformation/panther-deployment-role.yml
  deployments/auxiliary/terraform/panther_deployment_role/main.tf
Due: none

fixed terraform
  deployments/auxiliary/terraform/panther_deployment_role/main.tf
Due: none

refactor apollo & editor
  web/public/index.ejs
  web/src/apollo/authLink.ts
  web/src/apollo/cleanParamsLink.ts
  web/src/apollo/createApolloClient.ts
  web/src/apollo/createErrorLink.ts
  web/src/apollo/httpLink.ts
  web/src/apollo/index.ts
  web/src/apollo/typePolicies.ts
  web/src/app.tsx
  web/src/client.ts
  web/src/components/Editor/Editor.tsx
  web/src/components/Editor/theme.ts
  web/src/components/utils/AuthContext/AuthContext.tsx
  web/src/config.ts
  web/src/helpers/connection.ts
  web/src/helpers/loggers.ts
  web/src/helpers/storage.ts
  web/src/helpers/utils.tsx
  web/src/hooks/useInfiniteScroll.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
Due: prettier --write, eslint

run mage fmt
  web/src/apollo/authLink.ts
  web/src/apollo/cleanParamsLink.ts
  web/src/apollo/createApolloClient.ts
  web/src/apollo/createErrorLink.ts
  web/src/apollo/httpLink.ts
  web/src/apollo/index.ts
  web/src/apollo/typePolicies.ts
  web/src/components/Editor/theme.ts
  web/src/components/utils/AuthContext/AuthContext.tsx
  web/src/helpers/connection.ts
  web/src/hooks/useInfiniteScroll.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
Due: prettier --write, eslint

bump pounce to latest
  package-lock.json
  package.json
Due: prettier --write

remove duplicate header
  web/src/apollo/createApolloClient.ts
Due: prettier --write, eslint

remove un-used type policies
  web/src/apollo/typePolicies.ts
Due: prettier --write, eslint

run mage fmt
  web/src/apollo/createApolloClient.ts
Due: prettier --write, eslint

added onboarding docs link
  web/src/components/wizards/LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
Due: prettier --write, eslint

added some more spacing
  web/src/components/wizards/LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
Due: prettier --write, eslint

[numerics] Add test case for MinInt MaxInt
  internal/log_analysis/log_processor/parsers/numerics/numerics.go
  internal/log_analysis/log_processor/parsers/numerics/numerics_test.go
Due: none

[gcplogs] Make non URL fields optional for HTTPRequest
  internal/log_analysis/log_processor/parsers/gcplogs/gcplogs.go
Due: none

[gcplogs] Add more tests and some deprecated but still in use objects
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog.go
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog_test.go
  internal/log_analysis/log_processor/parsers/gcplogs/gcplogs.go
Due: none

[numerics] Better overflow/underflow check
  internal/log_analysis/log_processor/parsers/numerics/numerics.go
Due: none

[gcplogs] Switch nested request metadata to RawMessage
  docs/gitbook/log-analysis/log-processing/supported-logs/GCP.md
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog.go
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog_test.go
  internal/log_analysis/log_processor/parsers/gcplogs/gcplogs.go
Due: prettier --write

Moving encryption library to common package
  internal/core/outputs_api/api/api.go
  internal/core/outputs_api/api/api_test.go
  pkg/encryption/decrypt.go
  pkg/encryption/decrypt_test.go
  pkg/encryption/encrypt.go
  pkg/encryption/encrypt_test.go
  pkg/encryption/key.go
  pkg/encryption/key_test.go
Due: none

Remove athena_api
  api/lambda/database/models/api.go
  deployments/log_analysis.yml
  docs/gitbook/operations/runbooks.md
  internal/core/database_api/athena/driver/api/api.go
  internal/core/database_api/athena/driver/api/error.go
  internal/core/database_api/athena/driver/api/execute_async_query.go
  internal/core/database_api/athena/driver/api/execute_async_query_notify.go
  internal/core/database_api/athena/driver/api/execute_query.go
  internal/core/database_api/athena/driver/api/get_databases.go
  internal/core/database_api/athena/driver/api/get_query_results.go
  internal/core/database_api/athena/driver/api/get_query_results_link.go
  internal/core/database_api/athena/driver/api/get_query_status.go
  internal/core/database_api/athena/driver/api/get_tables.go
  internal/core/database_api/athena/driver/api/get_tables_detail.go
  internal/core/database_api/athena/driver/api/integration_test.go
  internal/core/database_api/athena/driver/api/invoke_notify_lambda.go
  internal/core/database_api/athena/driver/api/notify_appsync.go
  internal/core/database_api/athena/driver/api/stop_query.go
  internal/core/database_api/athena/driver/main/main.go
  internal/core/database_api/athena/testutils/testutils.go
  tools/mage/deploy.go
Due: prettier --write

clarified deployment docs
  docs/gitbook/quick-start.md
Due: prettier --write

phrasing
  docs/gitbook/quick-start.md
Due: prettier --write

addressed pr feedback
  docs/gitbook/quick-start.md
Due: prettier --write

[mage] Use a simple task queue for test:ci
  tools/mage/test_namespace.go
  tools/mage/util.go
Due: none

Updating
  api/lambda/source/models/api.go
  docs/gitbook/log-analysis/log-processing/supported-logs/GCP.md
  internal/core/source_api/api/check_integration.go
  internal/core/source_api/api/delete_integration.go
  internal/core/source_api/api/delete_integration_test.go
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/put_integration_test.go
  internal/core/source_api/api/sqs_utils.go
  internal/core/source_api/api/vars.go
  internal/log_analysis/log_processor/sources/s3.go
  internal/log_analysis/log_processor/sources/s3_client_cache.go
  internal/log_analysis/log_processor/sources/s3_client_cache_test.go
  tools/mage/deploy_onboard.go
Due: prettier --write

Various style improvements
  internal/core/source_api/api/check_integration.go
  internal/core/source_api/api/delete_integration.go
  internal/core/source_api/api/delete_integration_test.go
  internal/core/source_api/api/get_integration_template.go
  internal/core/source_api/api/get_integration_template_test.go
  internal/core/source_api/api/list_integrations.go
  internal/core/source_api/api/list_integrations_test.go
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/put_integration_test.go
  internal/core/source_api/api/sqs_utils.go
  internal/core/source_api/api/update_integration.go
  internal/core/source_api/api/update_integration_test.go
  internal/core/source_api/api/vars.go
  internal/core/source_api/api/vars_test.go
  internal/core/source_api/main/handler.go
  internal/log_analysis/log_processor/sources/s3_client_cache_test.go
Due: none

Reverted checks for aws account Id
  api/lambda/source/models/api.go
Due: none

disable user email enumeration
  deployments/bootstrap.yml
  web/src/components/forms/ForgotPasswordForm/ForgotPasswordForm.tsx
  web/src/pages/ForgotPassword/ForgotPassword.tsx
Due: prettier --write, eslint

Refactor datacatalog updater and pkg/awsglue for Parquet work (minimize conflicts)
  internal/log_analysis/datacatalog_updater/main/lambda.go
  internal/log_analysis/datacatalog_updater/main/lambda_test.go
  internal/log_analysis/datacatalog_updater/process/glue_test.go
  internal/log_analysis/datacatalog_updater/process/init_test.go
  internal/log_analysis/datacatalog_updater/process/process.go
  internal/log_analysis/datacatalog_updater/process/process_test.go
  internal/log_analysis/datacatalog_updater/process/setup.go
  pkg/awsglue/glue.go
  pkg/awsglue/glue_test.go
  pkg/awsglue/integration_test.go
  pkg/awsglue/partition.go
  pkg/awsglue/partition_test.go
  tools/cfngen/gluecf/gluecf.go
  tools/cfngen/gluecf/testdata/gluecf.json.cf
Due: none

Use excludesall struct validation tag
  api/lambda/organization/models/api.go
  api/lambda/outputs/models/api.go
  api/lambda/source/models/api.go
  api/lambda/users/models/api.go
  internal/core/analysis_api/handlers/bulk_upload.go
  internal/core/analysis_api/handlers/create_policy.go
  internal/core/analysis_api/handlers/create_rule.go
  internal/core/organization_api/api/update_settings.go
  internal/core/outputs_api/api/add_output.go
  internal/core/outputs_api/api/update_output.go
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/update_integration.go
  internal/core/users_api/api/update_user.go
  pkg/genericapi/validator.go
  pkg/genericapi/verify.go
  pkg/genericapi/verify_test.go
Due: none
