Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

lookup globals file when missing
  deployments/compliance/resources_api.yml
  internal/compliance/resource_processor/processor/analysis_api.go
  internal/compliance/resource_processor/processor/handler.go
Due: none

Respond to PR
  pkg/awsglue/glue.go
  tools/mage/util.go
Due: none

[docs] README refresh, Gitter -> Slack, new screenshots
  README.md
  docs/img/alert-viewer-new.png
  docs/img/resource-viewer-new.png
  docs/img/rule-editor-new.png
  docs/img/rule-search-new.png
Due: prettier --write

[docs] quick start facelift
  docs/gitbook/quick-start.md
Due: prettier --write

[pr] feedback from russ
  README.md
Due: prettier --write

[pr] feedback from Nick
  README.md
Due: prettier --write

Fix error reporting in datacatalog_updater
  internal/log_analysis/datacatalog_updater/main/lambda.go
Due: none

[docs] why panther? update
  README.md
Due: prettier --write

mage fmt
  README.md
Due: prettier --write

remove hotfix for auditing
  package-lock.json
  package.json
Due: prettier --write

Have datacatalog updater us the common function to create partitions rather than its own
  pkg/awsglue/glue.go
  pkg/awsglue/partition.go
  pkg/awsglue/partition_test.go
Due: none

Add forgotten file
  internal/log_analysis/datacatalog_updater/main/lambda_test.go
Due: none

mage fmt
  pkg/awsglue/glue.go
Due: none

osquery:status - make logType field optional
  internal/log_analysis/log_processor/parsers/osquerylogs/status.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status_test.go
Due: none

added support for resources larger than 260KB
  api/gateway/resources/api.yml
  deployments/compliance/resources_api.yml
  internal/compliance/resource_processor/models/lookup.go
  internal/compliance/resource_processor/processor/handler.go
  internal/compliance/resource_processor/processor/resources_api.go
  internal/compliance/resources_api/handlers/add_resources.go
  internal/compliance/resources_api/handlers/get_resource.go
  internal/compliance/resources_api/handlers/modify_resource.go
  internal/compliance/resources_api/main/integration_test.go
  package-lock.json
  pkg/awsbatch/sqsbatch/send_message_batch.go
  pkg/awsbatch/sqsbatch/send_message_batch_test.go
Due: prettier --write

minor changes
  internal/compliance/resource_processor/processor/resources_api.go
  pkg/awsbatch/sqsbatch/send_message_batch.go
Due: none

[readme] add explicit link to Slack and tutorials
  README.md
Due: prettier --write

Update osquery parsers to allow ints as json strings or ints. Make logType optional
  internal/log_analysis/log_processor/parsers/numerics/numerics.go
  internal/log_analysis/log_processor/parsers/numerics/numerics_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status_test.go
  tools/cfngen/gluecf/gluecf.go
Due: none

Fix nil test for numerics
  internal/log_analysis/log_processor/parsers/numerics/numerics_test.go
Due: none

added support for custom domains
  deployments/backend.yml
  deployments/panther_config.yml
  tools/mage/config.go
  tools/mage/deploy.go
Due: none

added documentation
  docs/gitbook/operations/advanced-setup/configuring-custom-domains.md
Due: prettier --write

update Wizard to use context for a better DX
  web/src/components/Wizard/Wizard.tsx
  web/src/components/Wizard/WizardContext.tsx
  web/src/components/Wizard/WizardPanelWrapper.tsx
  web/src/components/Wizard/index.tsx
  web/src/pages/CreateComplianceSource/CreateComplianceSource.tsx
  web/src/pages/CreateLogSource/CreateLogSource.tsx
Due: prettier --write, eslint

Respond to PR
  internal/log_analysis/log_processor/parsers/numerics/numerics.go
Due: none

Whitelist ConfirmForgotPassword in aws event processor
  internal/compliance/aws_event_processor/processor/process.go
Due: none

cleanup wizards for source creation
  web/src/pages/CreateComplianceSource/CreateComplianceSource.tsx
  web/src/pages/CreateComplianceSource/SuccessPanel/SuccessPanel.tsx
  web/src/pages/CreateLogSource/CreateLogSource.tsx
  web/src/pages/CreateLogSource/SuccessPanel/SuccessPanel.tsx
Due: prettier --write, eslint

fix issue with login redirect during token expiration
  web/src/components/utils/ApiErrorFallback/ApiErrorFallback.tsx
Due: prettier --write, eslint

update package-lock
  package-lock.json
Due: prettier --write

fix bug
  web/src/pages/EditRule/EditRule.tsx
Due: prettier --write, eslint

prune __typename from mutations
  web/src/client.ts
Due: prettier --write, eslint

remove un-used imports
  web/src/components/utils/ApiErrorFallback/ApiErrorFallback.tsx
Due: prettier --write, eslint

Update dashboards: 1) default view 1hr 2) fix double counting of events read in log processing 3) add rule q to log processing
  tools/dashboards/alerts.go
  tools/dashboards/infra.go
  tools/dashboards/log_processing.go
  tools/dashboards/overview.go
  tools/dashboards/remediation.go
Due: none

add integration template fetching. Delete un-necessary compliance panels
  api/graphql/schema.graphql
  deployments/core/appsync.yml
  docs/gitbook/policies/scanning/real-time-events.md
  web/__generated__/schema.tsx
  web/src/pages/CreateComplianceSource/CreateComplianceSource.tsx
  web/src/pages/CreateComplianceSource/RealTimeEventPanel/RealTimeEventPanel.tsx
  web/src/pages/CreateComplianceSource/RealTimeEventPanel/index.tsx
  web/src/pages/CreateComplianceSource/RemediationPanel/RemediationPanel.tsx
  web/src/pages/CreateComplianceSource/ResourceScanningPanel/ResourceScanningPanel.tsx
  web/src/pages/CreateComplianceSource/SourceConfigurationPanel/SourceConfigurationPanel.tsx
  web/src/pages/CreateComplianceSource/SourceConfigurationPanel/index.tsx
  web/src/pages/CreateComplianceSource/SourceDetailsPanel/SourceDetailsPanel.tsx
  web/src/pages/CreateComplianceSource/SourceDetailsPanel/index.tsx
  web/src/pages/CreateComplianceSource/StackDeploymentPanel/StackDeployment.tsx
  web/src/pages/CreateComplianceSource/StackDeploymentPanel/graphql/getCfnTemplate.generated.ts
  web/src/pages/CreateComplianceSource/StackDeploymentPanel/graphql/getCfnTemplate.graphql
  web/src/pages/CreateComplianceSource/StackDeploymentPanel/index.tsx
  web/src/pages/CreateLogSource/SourceDetailsPanel/SourceDetailsPanel.tsx
  web/src/pages/CreateLogSource/SuccessPanel/SuccessPanel.tsx
Due: prettier --write, eslint

Optimize log processor 1) run sendData() as go routine to unblock processing and hide network latency 2) create csvstream object and use for all delimited parsers to improve performance
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/awslogs/alb_test.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit_test.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access_test.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow_test.go
  internal/log_analysis/log_processor/parsers/csvstream/csvstream.go
  internal/log_analysis/log_processor/parsers/csvstream/csvstream_test.go
Due: none

add download link for source
  web/src/pages/CreateComplianceSource/CreateComplianceSource.tsx
  web/src/pages/CreateComplianceSource/StackDeploymentPanel/StackDeployment.tsx
Due: prettier --write, eslint

attempt to handle project addition
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/pages/CreateComplianceSource/CreateComplianceSource.tsx
  web/src/pages/CreateComplianceSource/SuccessPanel/SuccessPanel.tsx
Due: prettier --write, eslint

Let users pick log processor lambda size
  deployments/backend.yml
  deployments/log_analysis/log_processor.yml
  deployments/panther_config.yml
  tools/cfngen/cloudwatchcf/alarms_lambda.go
  tools/mage/config.go
  tools/mage/deploy.go
Due: none

add the option to launch CFN console
  web/src/pages/CreateComplianceSource/StackDeploymentPanel/StackDeployment.tsx
Due: prettier --write, eslint

add new fields to Integration type
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
Due: prettier --write, eslint

Work in progress
  internal/log_analysis/rules_engine/src/alert_merger.py
  internal/log_analysis/rules_engine/src/rule.py
Due: none

Got it working
  internal/log_analysis/log_processor/parsers/awslogs/pantherlog.go
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_rule.py
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
