Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

rename appsync fieldname
  deployments/core/appsync.yml
Due: none

fix column size
  web/src/pages/users/columns.tsx
Due: prettier --write, eslint

remove update functionality
  web/src/pages/users/subcomponents/list-users-table-row-options.tsx
Due: prettier --write, eslint

Reduce compliance caching
  internal/compliance/resources_api/handlers/compliance.go
  internal/core/analysis_api/handlers/compliance.go
Due: none

Made cfn post-processing more resilient
  tools/mage/deploy.go
Due: none

Add docs with supported regions, warn before running integration test
  docs/gitbook/quick-start.md
  tools/mage/deploy_template.go
  tools/mage/test_namespace.go
Due: prettier --write

Invoke prettier directly, enforce python + yml formatting
  tools/mage/fmt.go
  tools/mage/test_namespace.go
  tools/mage/util.go
Due: none

Updated unit tests
  tools/mage/deploy_test.go
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/epic.md
Due: prettier --write

[git] example epic
  .github/example_epic.md
Due: prettier --write

[git] add story template
  .github/ISSUE_TEMPLATE/story.md
Due: prettier --write

Safer swaggering
  tools/mage/build_namespace.go
  tools/mage/deploy.go
Due: none

Update mage setup and (hopefully) fix CI
  .circleci/config.yml
  docs/gitbook/development.md
  go.mod
  go.sum
  tools/mage/deploy.go
  tools/mage/setup_namespace.go
Due: prettier --write

Check for npm before running test:web
  tools/mage/test_namespace.go
Due: none

Document log parser fields
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty_test.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status.go
Due: none

Fix validations for CloudTrail
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
Due: none

Add extraction of account id to vpcflow parser
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow_test.go
Due: none

Add Ptrs variant methods for Panther fields to avoid conditional tests
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty.go
  internal/log_analysis/log_processor/parsers/awslogs/pantherlog.go
  internal/log_analysis/log_processor/parsers/awslogs/pantherlog_test.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status.go
  internal/log_analysis/log_processor/parsers/pantherlog_test.go
  internal/log_analysis/log_processor/parsers/patherlog.go
Due: none

Checkpoint work
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow_test.go
Due: none

Remove setting expectedEvent.PantherRowID in tests
  internal/log_analysis/log_processor/parsers/awslogs/alb_test.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit_test.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_test.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty_test.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access_test.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow_test.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status_test.go
Due: none

Change SetRequired() to SetCoreFields() in panther log, also change core fields to ptrs.
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/awslogs/alb_test.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit_test.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_test.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty_test.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access_test.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow_test.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status_test.go
  internal/log_analysis/log_processor/parsers/pantherlog_test.go
  internal/log_analysis/log_processor/parsers/patherlog.go
Due: none

Revert change to epic.md
  .github/ISSUE_TEMPLATE/epic.md
Due: prettier --write

Add text around example queries to give better context
  docs/gitbook/historical-search/example-queries.md
Due: prettier --write

Respond to PR
  tools/cfngen/gluecf/schema.go
Due: none

Respond to PR
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty.go
Due: none

Respond to PR
  docs/gitbook/historical-search/example-queries.md
Due: prettier --write

Address Kostas feedback
  docs/gitbook/development.md
  tools/mage/build_namespace.go
  tools/mage/cfngen.go
  tools/mage/clean.go
  tools/mage/deploy.go
  tools/mage/deploy_certificate.go
  tools/mage/deploy_frontend.go
  tools/mage/deploy_template.go
  tools/mage/fmt.go
  tools/mage/logger.go
  tools/mage/setup_namespace.go
  tools/mage/swagger.go
  tools/mage/swagger_test.go
  tools/mage/test_namespace.go
  tools/mage/testdata/invalid-path.yml
  tools/mage/util.go
Due: prettier --write

Make the description tag required for generating cloudformation from log parsers
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status.go
  tools/athenaviews/athenaviews_test.go
  tools/cfngen/gluecf/gluecf_test.go
  tools/cfngen/gluecf/schema.go
  tools/cfngen/gluecf/schema_test.go
  tools/cfngen/gluecf/testdata/gluecf.json.cf
Due: none

Update README.md for historical search docs with new pic showing field descriptions. Add section on Glue
  docs/gitbook/.gitbook/assets/AthenaTablesWithColumnDescriptions.png
  docs/gitbook/.gitbook/assets/screen-shot-2020-01-22-at-2.15.29-pm.png
  docs/gitbook/historical-search/README.md
Due: prettier --write

Minor edits to historical search documentation
  docs/gitbook/historical-search/README.md
  docs/gitbook/historical-search/example-queries.md
Due: prettier --write

Change required fields in vpcflow
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
Due: none

Improve error message for unknown header
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
Due: none

Sync epic.md with master
  .github/ISSUE_TEMPLATE/epic.md
Due: prettier --write

Add mage target glue:sync, also refactor glue partition code
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  pkg/awsglue/glue.go
  pkg/awsglue/glue_test.go
  pkg/awsglue/integration_test.go
  pkg/awsglue/partition.go
  tools/mage/glue.go
Due: none

Use regexp to filter tables
  tools/mage/glue.go
Due: none

Add New() method for parsers to allow stateful parsing
  internal/log_analysis/log_processor/classification/classifier_test.go
  internal/log_analysis/log_processor/classification/parser_queue.go
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status.go
  internal/log_analysis/log_processor/parsers/parsers.go
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
