Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

...
  deployments/auxiliary/cloudformation/panther-compliance-iam.yml
Due: none

Add IAM fallback for ACM certificate import
  tools/mage/deploy_certificate.go
Due: none

Added deploy comment to indicate IAM fallback
  tools/mage/deploy_certificate.go
Due: none

Update ACM check
  tools/mage/deploy_certificate.go
Due: none

Remove organization onboarding and users-api dead code
  deployments/core/admin_api.yml
  go.mod
  go.sum
  internal/compliance/__init__.py
  internal/core/organization_onboarding/api/api.go
  internal/core/organization_onboarding/api/get_onboarding_status.go
  internal/core/organization_onboarding/api/get_onboarding_status_test.go
  internal/core/organization_onboarding/gateway/describe_execution.go
  internal/core/organization_onboarding/gateway/describe_execution_test.go
  internal/core/organization_onboarding/gateway/step_function_gateway.go
  internal/core/organization_onboarding/main/lambda.go
  internal/core/users_api/gateway/add_user_to_group_test.go
  internal/core/users_api/gateway/create_user_test.go
  internal/core/users_api/gateway/mock_clients.go
  internal/core/users_api/gateway/users_gateway.go
Due: none

Unique names for certificates
  tools/mage/deploy_certificate.go
Due: none

Remove SMS configuration + role
  deployments/core/cognito.yml
Due: none

split alert & rule queries and upgrade to cursor pagination
  package-lock.json
  package.json
  web/src/pages/alert-details/index.tsx
  web/src/pages/alert-details/subcomponent/alert-details-info.tsx
  web/src/pages/alert-details/subcomponent/alert-events.tsx
Due: prettier --write, eslint

reverse commit
  web/src/components/utils/table-pagination-controls.tsx
  web/src/pages/alert-details/subcomponent/alert-events.tsx
  web/src/pages/list-policies/index.tsx
  web/src/pages/list-resources/index.tsx
  web/src/pages/list-rules/index.tsx
  web/src/pages/policy-details/index.tsx
  web/src/pages/resource-details/index.tsx
Due: prettier --write, eslint

Added nginx access logs parser
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/nginx/access.go
  internal/log_analysis/log_processor/parsers/nginx/access_test.go
  internal/log_analysis/log_processor/parsers/utils.go
Due: none

Added comment
  internal/log_analysis/log_processor/parsers/nginx/access.go
Due: none

Supporting Nginx Access logs
  internal/log_analysis/log_processor/parsers/nginx/access.go
  internal/log_analysis/log_processor/parsers/nginx/access_test.go
  internal/log_analysis/log_processor/parsers/utils.go
Due: none

Added Nginx to registry
  internal/log_analysis/log_processor/registry/registry.go
  web/src/constants.ts
Due: prettier --write, eslint

Renamed file
  internal/log_analysis/log_processor/parsers/csvutils.go
Due: none

Renamed csv utils file
  internal/log_analysis/log_processor/parsers/csv_utils.go
Due: none

Fixing comment
  internal/log_analysis/log_processor/parsers/nginx/access.go
Due: none

Fixed formatting issues
  internal/log_analysis/log_processor/parsers/nginx/access.go
Due: none

Added test
  internal/log_analysis/log_processor/parsers/nginx/access_test.go
Due: none

Updated PR according to comments
  internal/log_analysis/log_processor/parsers/nginx/access.go
Due: none

handle event pagination in AlertDetails
  web/src/client.ts
  web/src/pages/alert-details/index.tsx
  web/src/pages/alert-details/subcomponent/alert-events.tsx
Due: prettier --write, eslint

Fix glue integration test name so it runs from mage test:integration
  pkg/awsglue/integration_test.go
Due: none

When listing alerts and assoc rule is not found set alert severity to: Unknown (rule deleted)
  internal/log_analysis/alerts_api/api/list_alerts.go
Due: none

add ID on cache for AlertSummary
  web/src/client.ts
Due: prettier --write, eslint

fix minor height issue with navigation on low height screens
  web/src/components/navigation.tsx
Due: prettier --write, eslint

Respond to PR
  pkg/awsathena/query.go
Due: none

Improve error messages for analysis api
  internal/core/analysis_api/handlers/get.go
  internal/core/analysis_api/handlers/util.go
Due: none

make severity optional in AlertSummary since Rule might be deleted
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
Due: prettier --write, eslint

handle the case for an alert with a deleted rule
  web/src/client.ts
  web/src/pages/alert-details/index.tsx
  web/src/pages/alert-details/subcomponent/alert-details-info.tsx
  web/src/pages/list-alerts/columns.tsx
Due: prettier --write, eslint

revert S3 column change
  web/src/pages/list-sources/log-source-columns.tsx
Due: prettier --write, eslint

fix minor visual issue with S3 bucket table listing
  web/src/pages/list-sources/log-source-columns.tsx
Due: prettier --write, eslint

minor ui fixes
  web/src/components/navigation.tsx
  web/src/components/sidesheets/add-destination-sidesheet.tsx
  web/src/components/sidesheets/update-destination-sidesheet.tsx
Due: prettier --write, eslint

revert UI fixes (put in separate PR)
  web/src/components/navigation.tsx
  web/src/components/sidesheets/add-destination-sidesheet.tsx
  web/src/components/sidesheets/update-destination-sidesheet.tsx
Due: prettier --write, eslint

fix minor comments on PR
  web/__generated__/schema.tsx
  web/src/components/forms/destination-form/jira-destination-form.tsx
  web/src/components/sidesheets/add-destination-sidesheet.tsx
Due: prettier --write, eslint

add CPU/Memory as panther_config params & add related section in docs
  deployments/frontend.yml
  deployments/panther_config.yml
  deployments/web/server.yml
  docs/gitbook/SUMMARY.md
  docs/gitbook/cost.md
  tools/mage/config.go
  tools/mage/deploy.go
Due: prettier --write

run mage fmt
  tools/mage/config.go
  tools/mage/deploy.go
Due: none

add comment for allowed values
  deployments/panther_config.yml
Due: none

Rename `Cpu` to `CPU`
  deployments/frontend.yml
  deployments/panther_config.yml
  deployments/web/server.yml
  docs/gitbook/cost.md
  tools/mage/config.go
  tools/mage/deploy.go
Due: prettier --write

Finished linking new destination field
  api/lambda/outputs/models/api.go
  internal/core/alert_delivery/outputs/jira.go
Due: none

Fixing Output update
  internal/core/outputs_api/table/update.go
  internal/core/outputs_api/table/update_test.go
Due: none

Fixing updating logic
  internal/core/outputs_api/api/update_output.go
  internal/core/outputs_api/api/update_output_test.go
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
