Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Remove RoleRestrictedAccess tags
  api/graphql/schema.graphql
  deployments/core/appsync.yml
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo.go
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo_test.go
  web/__generated__/schema.tsx
  web/src/components/modals/analytics-consent-modal.tsx
  web/src/components/navigation.tsx
  web/src/components/role-restricted-access.tsx
  web/src/components/table-row-remediation-button.tsx
  web/src/components/table-row-suppress-button.tsx
  web/src/components/utils/auth-context.tsx
  web/src/components/utils/prompt-controller.tsx
  web/src/constants.ts
  web/src/hoc/withRoleRestrictedAccess.tsx
  web/src/pages/create-policy/index.tsx
  web/src/pages/create-rule/index.tsx
  web/src/pages/create-source/index.tsx
  web/src/pages/destinations/index.tsx
  web/src/pages/destinations/subcomponents/list-destinations-table-row-options.tsx
  web/src/pages/edit-policy/index.tsx
  web/src/pages/edit-rule/index.tsx
  web/src/pages/general-settings/index.tsx
  web/src/pages/list-policies/subcomponents/create-button.tsx
  web/src/pages/list-policies/subcomponents/list-policies-table-row-options.tsx
  web/src/pages/list-rules/subcomponents/create-button.tsx
  web/src/pages/list-rules/subcomponents/list-rules-table-row-options.tsx
  web/src/pages/list-sources/index.tsx
  web/src/pages/list-sources/subcomponents/list-sources-table-row-options.tsx
  web/src/pages/policy-details/subcomponents/policy-details-info.tsx
  web/src/pages/rule-details/subcomponents/rule-details-info.tsx
  web/src/pages/users/columns.tsx
  web/src/pages/users/index.tsx
  web/src/pages/users/subcomponents/list-users-table-row-options.tsx
Due: prettier --write, eslint

Addressed pr feedback
  internal/compliance/aws_event_processor/processor/handler.go
  internal/compliance/aws_event_processor/processor/process.go
Due: none

Remove role from users-api response
  api/lambda/users/models/user.go
  internal/core/users_api/api/get_user.go
  internal/core/users_api/api/list_users.go
Due: none

Use hardcoded memory and timeout values for lambdas to facilite generation of alarms from CF
  deployments/compliance/alert_processing.yml
  deployments/compliance/aws_event_processor.yml
  deployments/compliance/compliance_api.yml
  deployments/compliance/remediation.yml
  deployments/compliance/resources_api.yml
  deployments/compliance/snapshot.yml
  deployments/core/admin_api.yml
  deployments/core/analysis_api.yml
  deployments/core/outputs.yml
  deployments/log_analysis/alerts.yml
  deployments/log_analysis/log_processor.yml
  deployments/log_analysis/rules_engine.yml
Due: none

user/org fixes after testing
  api/graphql/schema.graphql
  deployments/core/appsync.yml
  tools/mage/fmt.go
  web/__generated__/schema.tsx
  web/src/pages/general-settings/index.tsx
  web/src/pages/users/columns.tsx
  web/src/pages/users/subcomponents/list-users-table.tsx
Due: prettier --write, eslint

Handled error case found in testing
  deployments/compliance/snapshot.yml
  internal/compliance/aws_event_processor/processor/handler.go
  internal/compliance/aws_event_processor/processor/process.go
Due: none

Fix pkg/awsathena to deal with queued responses
  pkg/awsathena/query.go
Due: none

Update quick-start.md
  docs/gitbook/quick-start.md
Due: prettier --write

add memo to key components
  web/src/components/utils/auth-context.tsx
  web/src/routes.tsx
Due: prettier --write, eslint

Update README.md
  docs/gitbook/README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

remove concept of roles from auth-context
  web/src/components/utils/auth-context.tsx
Due: prettier --write, eslint

change wording
  web/src/components/sidesheets/user-invitation-sidesheet.tsx
  web/src/pages/general-settings/index.tsx
Due: prettier --write, eslint

fix apollo cache key: rename `Organization` to `GeneralSettings`
  web/src/client.ts
Due: prettier --write, eslint

change query name to something easier
  web/src/components/utils/prompt-controller.tsx
Due: prettier --write, eslint

remove un-needed call to fetch & send all org fields. Only sent what needs to be updated
  web/src/components/modals/analytics-consent-modal.tsx
Due: prettier --write, eslint

fix a bug in response parsing
  web/src/components/utils/prompt-controller.tsx
Due: prettier --write, eslint

alter `organization` word, opt for `generalSettings`
  web/src/components/modals/analytics-consent-modal.tsx
  web/src/constants.ts
  web/src/pages/general-settings/index.tsx
Due: prettier --write, eslint

Respond to PR
  pkg/awsathena/query.go
Due: none

Work in progress
  deployments/log_analysis/alerts.yml
  internal/core/alert_delivery/models/api.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/models.go
  internal/log_analysis/alert_forwarder/main/lambda.go
Due: none

Fixing issues I found during deployment
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/main/lambda.go
Due: none

Added alert forwarder that stores alerts in DDB
  deployments/backend.yml
  deployments/log_analysis/alerts.yml
  deployments/log_analysis/rules_engine.yml
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder_test.go
  internal/log_analysis/alert_forwarder/forwarder/models.go
  internal/log_analysis/alert_forwarder/main/lambda.go
Due: none

Addressing comments from PR
  deployments/log_analysis/alerts.yml
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder_test.go
  internal/log_analysis/alert_forwarder/forwarder/models.go
  internal/log_analysis/alert_forwarder/main/lambda.go
Due: none

Reverted change done unintentionally
  internal/core/alert_delivery/models/api.go
Due: none

Fixed issues
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder_test.go
  internal/log_analysis/alert_forwarder/forwarder/models.go
Due: none

Added checks for DDB attribute conversion
  internal/log_analysis/alert_forwarder/forwarder/models.go
  internal/log_analysis/alert_forwarder/main/lambda.go
Due: none

Fmt changes
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo.go
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo_test.go
Due: none

Addressed comments from PR
  deployments/log_analysis/alerts.yml
  internal/log_analysis/alert_forwarder/main/lambda.go
Due: none

Removed extra empty line at end for CFN yml
  deployments/log_analysis/alerts.yml
Due: none

Added tests
  internal/log_analysis/alert_forwarder/forwarder/models.go
  internal/log_analysis/alert_forwarder/forwarder/models_test.go
Due: none

Fmt'ed code
  internal/log_analysis/alert_forwarder/forwarder/models_test.go
Due: none

Checking if user deleted is the same as the user signed in
  web/src/components/modals/delete-user-modal.tsx
Due: prettier --write, eslint

minor rename
  web/src/pages/compliance-overview/empty-data-fallback.tsx
Due: prettier --write, eslint

Catching currentSession error and returning null jwtToken
  web/src/client.ts
Due: prettier --write, eslint

small comment fix
  tools/mage/deploy.go
Due: none

Add dashboards and alarms
  deployments/backend.yml
  deployments/core/appsync.yml
  deployments/monitoring.yml
  deployments/panther_config.yml
  deployments/web/alb.yml
  docs/gitbook/operations/ops-home.md
  go.mod
  go.sum
  tools/cfngen/cloudwatchcf/alarms.go
  tools/cfngen/cloudwatchcf/alarms_apigw.go
  tools/cfngen/cloudwatchcf/alarms_appsync.go
  tools/cfngen/cloudwatchcf/alarms_ddb.go
  tools/cfngen/cloudwatchcf/alarms_elb.go
  tools/cfngen/cloudwatchcf/alarms_lambda.go
  tools/cfngen/cloudwatchcf/alarms_sns.go
  tools/cfngen/cloudwatchcf/alarms_sqs.go
  tools/cfngen/cloudwatchcf/alarms_test.go
  tools/cfngen/cloudwatchcf/dashboard.go
  tools/cfngen/cloudwatchcf/dashboards_test.go
  tools/cfngen/cloudwatchcf/metrics.go
  tools/cfngen/cloudwatchcf/metrics_lambda.go
  tools/cfngen/cloudwatchcf/metrics_test.go
  tools/cfngen/cloudwatchcf/testdata/cf.yml
  tools/cfngen/cloudwatchcf/testdata/generated_test_alarms.json
  tools/cfngen/cloudwatchcf/testdata/generated_test_metrics.json
  tools/cfngen/cloudwatchcf/util.go
  tools/cfngen/cloudwatchcf/util_test.go
  tools/cfngen/cloudwatchcf/walkyaml.go
  tools/dashboards/alerts.go
  tools/dashboards/dashboards.go
  tools/dashboards/infra.go
  tools/dashboards/log_processing.go
  tools/dashboards/overview.go
  tools/dashboards/remediation.go
  tools/mage/cfngen.go
  tools/mage/config.go
  tools/mage/deploy.go
  tools/mage/deploy_monitoring.go
Due: prettier --write

v0.3.0 release
  docs/gitbook/quick-start.md
  tools/mage/util.go
  web/src/client.ts
Due: prettier --write, eslint

reorganized function flow
  deployments/compliance/aws_event_processor.yml
  internal/compliance/aws_event_processor/processor/accounts.go
  internal/compliance/aws_event_processor/processor/handler.go
  internal/compliance/aws_event_processor/processor/handler_test.go
  internal/compliance/aws_event_processor/processor/process.go
  internal/compliance/aws_event_processor/processor/process_test.go
Due: none

Prevent deleting the last user
  go.mod
  go.sum
  internal/core/users_api/api/remove_user.go
  internal/core/users_api/api/remove_user_test.go
Due: none

fixed issue introduced while merging master
  deployments/compliance/snapshot.yml
Due: none
