Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

feat: tooltip
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
  web/src/graphql/fragments/AlertDetailsFull.generated.ts
  web/src/graphql/fragments/AlertDetailsFull.graphql
  web/src/graphql/fragments/AlertSummaryFull.generated.ts
  web/src/graphql/fragments/AlertSummaryFull.graphql
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
Due: prettier --write, eslint

chore: cleanup some attributes
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/api/list_alerts.go
  internal/log_analysis/alerts_api/api/update_alert.go
  internal/log_analysis/alerts_api/table/list.go
  package.json
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
  web/src/pages/ListAlerts/ListAlertsTable/ListAlertsTable.tsx
  web/src/pages/RuleDetails/RuleDetailsAlertsTable/RuleDetailsAlertsTable.tsx
Due: prettier --write, eslint

fix: remove setting status on the alert
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder_test.go
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
Due: prettier --write, eslint

fix: comments, removed validation for value that will never occur
  api/lambda/alerts/models/api.go
  internal/core/alert_delivery/models/api.go
Due: none

chore: fix comments
  api/lambda/alerts/models/api.go
  internal/log_analysis/alerts_api/api/list_alerts.go
Due: none

fix: return proper error
  internal/log_analysis/alerts_api/table/list.go
Due: none

fix: remove unique validation for test names on policies and rules
  web/src/components/forms/PolicyForm/PolicyForm.tsx
  web/src/components/forms/RuleForm/RuleForm.tsx
Due: prettier --write, eslint

fix: pr feedback
  internal/log_analysis/alert_forwarder/forwarder/forwarder_test.go
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/api/list_alerts.go
  internal/log_analysis/alerts_api/api/update_alert.go
  internal/log_analysis/alerts_api/table/list.go
  internal/log_analysis/alerts_api/table/update_alert.go
Due: none

fix: remove button outline after selection
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
Due: prettier --write, eslint

Fix dozens of broken links
  docs/gitbook/SUMMARY.md
  docs/gitbook/analysis/globals.md
  docs/gitbook/analysis/panther-analysis-tool.md
  docs/gitbook/destinations/slack.md
  docs/gitbook/development.md
  docs/gitbook/enterprise/README.md
  docs/gitbook/enterprise/data-analytics/data-explorer.md
  docs/gitbook/enterprise/data-analytics/example-queries.md
  docs/gitbook/log-analysis/README.md
  docs/gitbook/log-analysis/log-processing/writing-parsers.md
  docs/gitbook/log-analysis/rules/README.md
  docs/gitbook/log-analysis/rules/ui-workflow.md
  docs/gitbook/log-analysis/setup.md
  docs/gitbook/quick-start.md
  docs/gitbook/tutorials/osquery-log-analysis.md
  docs/gitbook/tutorials/s3-monitoring-fundamentals.md
Due: prettier --write

addressed pr feedback
  docs/gitbook/SUMMARY.md
  docs/gitbook/operations/configuring-custom-domains.md
Due: prettier --write

Add SAML overview and guides for Okta and generic integrations
  docs/gitbook/.gitbook/assets/saml-okta-metadata.png
  docs/gitbook/.gitbook/assets/saml-okta-new-app.png
  docs/gitbook/.gitbook/assets/saml-okta1.png
  docs/gitbook/.gitbook/assets/saml-okta2.png
  docs/gitbook/.gitbook/assets/saml-okta3.png
  docs/gitbook/.gitbook/assets/saml-okta4.png
  docs/gitbook/enterprise/saml/generic.md
  docs/gitbook/enterprise/saml/okta.md
  docs/gitbook/enterprise/saml/onelogin.md
  docs/gitbook/enterprise/saml/overview.md
Due: prettier --write

Add extra validation for string parameters in master stack
  deployments/master.yml
Due: none

WIP: working chart
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
  web/src/components/charts/TimeSeriesChart/index.tsx
  web/src/components/charts/ZoomableTimeSeriesChart/ZoomableTimeSeriesChart.tsx
  web/src/components/charts/ZoomableTimeSeriesChart/index.tsx
  web/src/pages/LogAnalysisOverview/EventsByLogType/EventsByLogType.tsx
  web/src/pages/LogAnalysisOverview/EventsByLogType/index.tsx
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
  web/src/pages/LogAnalysisOverview/Skeleton/Skeleton.tsx
  web/src/pages/LogAnalysisOverview/Skeleton/index.tsx
  web/src/pages/LogAnalysisOverview/demoData.ts
Due: prettier --write, eslint

Change to xAxis to tiem
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
Due: prettier --write, eslint

Added SQS support
  api/lambda/source/models/api.go
  api/lambda/source/models/integration.go
  api/lambda/source/models/vars.go
  deployments/bootstrap.yml
  deployments/core.yml
  deployments/log_analysis.yml
  deployments/master.yml
  docs/gitbook/operations/runbooks.md
  internal/core/source_api/api/check_integration.go
  internal/core/source_api/api/delete_integration.go
  internal/core/source_api/api/lambda_utils.go
  internal/core/source_api/api/list_integrations.go
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/put_integration_test.go
  internal/core/source_api/api/sqs_utils.go
  internal/core/source_api/api/update_integration.go
  internal/core/source_api/api/utils.go
  internal/core/source_api/api/vars.go
  internal/core/source_api/ddb/items.go
  internal/log_analysis/log_processor/sources/message_forwarder_reader.go
  internal/log_analysis/log_processor/sources/message_forwarder_reader_test.go
  internal/log_analysis/log_processor/sources/s3.go
  internal/log_analysis/log_processor/sources/s3_client_cache.go
  internal/log_analysis/message_forwarder/cache/cache.go
  internal/log_analysis/message_forwarder/cache/cache_test.go
  internal/log_analysis/message_forwarder/config/config.go
  internal/log_analysis/message_forwarder/forwarder/forwarder.go
  internal/log_analysis/message_forwarder/forwarder/forwarder_test.go
  internal/log_analysis/message_forwarder/main/lambda.go
  pkg/awsbatch/firehosebatch/firehosebatch.go
  pkg/awsbatch/firehosebatch/firehosebatch_test.go
  pkg/awssqs/permissions.go
  pkg/testutils/awsmocks.go
  tools/mage/deploy.go
Due: prettier --write

feat: add builders instead of static data
  package.json
  web/.eslintrc.js
  web/__tests__/__mocks__/builders.generated.ts
  web/__tests__/__mocks__/resources.generated.ts
  web/__tests__/codegen/mockGraphqlOperationsPlugin.ts
  web/__tests__/codegen/mockGraphqlResourcesPlugin.js
  web/__tests__/codegen/mockGraphqlResourcesPlugin.ts
  web/__tests__/codegen/tsconfig.json
  web/__tests__/utils/helpers.ts
  web/__tests__/utils/index.ts
  web/codegen.yml
Due: prettier --write, eslint

fix: remove session storage entries upon submission
  web/src/hooks/useFormSessionRestoration.tsx
Due: prettier --write, eslint

fix: remove stringification typo
  web/__tests__/utils/queries.ts
Due: prettier --write, eslint

chore: build JS without ESLint enforcing
  web/__tests__/example.test.tsx
Due: prettier --write, eslint

chore: remove un-needed package
  package-lock.json
  package.json
Due: prettier --write

fix: removed tests, renamed fields
  api/graphql/schema.graphql
  api/lambda/alerts/models/api.go
  deployments/appsync.yml
  internal/core/alert_delivery/outputs/outputs_test.go
  internal/log_analysis/alerts_api/api/get_alert_test.go
  internal/log_analysis/alerts_api/api/list_alerts.go
  internal/log_analysis/alerts_api/api/list_alerts_test.go
  internal/log_analysis/alerts_api/api/update_alert_test.go
  internal/log_analysis/alerts_api/table/list.go
  internal/log_analysis/alerts_api/table/table.go
  internal/log_analysis/alerts_api/table/update_alert.go
  web/__generated__/schema.tsx
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
  web/src/graphql/fragments/AlertDetailsFull.generated.ts
  web/src/graphql/fragments/AlertDetailsFull.graphql
  web/src/graphql/fragments/AlertSummaryFull.generated.ts
  web/src/graphql/fragments/AlertSummaryFull.graphql
Due: prettier --write, eslint

fix: add illustrated blankslate when no alerts are in place
  web/src/pages/RuleDetails/RuleDetails.tsx
Due: prettier --write, eslint

Update deployment roles for snowflake driver
  deployments/auxiliary/cloudformation/panther-deployment-role.yml
  deployments/auxiliary/terraform/panther_deployment_role/main.tf
Due: none

build: separate transpilation command for graphql-codegen plugins
  package.json
Due: prettier --write

Respond to PR
  deployments/auxiliary/cloudformation/panther-deployment-role.yml
Due: none

Add email pattern
  deployments/master.yml
Due: none

upgrade cfn-lint and ensure specs are current
  requirements.txt
  tools/mage/setup.go
Due: none

chore: run mage fmt
  web/__tests__/__mocks__/builders.generated.ts
  web/__tests__/codegen/mockGraphqlResourcesPlugin.js
  web/__tests__/codegen/mockGraphqlResourcesPlugin.ts
Due: prettier --write, eslint

Remove npm audit from CI
  .circleci/config.yml
Due: none

fix: api name, frontend changes
  api/graphql/schema.graphql
  api/lambda/alerts/models/api.go
  deployments/appsync.yml
  internal/log_analysis/alerts_api/api/get_alert_test.go
  internal/log_analysis/alerts_api/api/list_alerts.go
  internal/log_analysis/alerts_api/api/list_alerts_test.go
  internal/log_analysis/alerts_api/api/update_alert.go
  internal/log_analysis/alerts_api/api/update_alert_test.go
  internal/log_analysis/alerts_api/table/table.go
  internal/log_analysis/alerts_api/table/update_alert.go
  web/__generated__/schema.tsx
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
  web/src/components/dropdowns/UpdateAlertDropdown/graphql/updateAlert.graphql
  web/src/components/dropdowns/UpdateAlertDropdown/graphql/updateAlertStatus.generated.ts
  web/src/components/dropdowns/UpdateAlertDropdown/graphql/updateAlertStatus.graphql
Due: prettier --write, eslint

Configurable ALB ingress security group
  deployments/bootstrap.yml
  deployments/master.yml
  deployments/panther_config.yml
  tools/config/config.go
  tools/mage/deploy.go
Due: none

Add OneLogin screenshots
  docs/gitbook/.gitbook/assets/saml-onelogin1.png
  docs/gitbook/.gitbook/assets/saml-onelogin2.png
  docs/gitbook/.gitbook/assets/saml-onelogin3.png
  docs/gitbook/.gitbook/assets/saml-onelogin4-inset.png
  docs/gitbook/.gitbook/assets/saml-onelogin4.png
  docs/gitbook/.gitbook/assets/saml-onelogin5.png
  docs/gitbook/enterprise/saml/generic.md
  docs/gitbook/enterprise/saml/okta.md
  docs/gitbook/enterprise/saml/onelogin.md
  docs/gitbook/enterprise/saml/overview.md
Due: prettier --write

minor readability updates
  docs/gitbook/enterprise/saml/generic.md
Due: prettier --write

minor clarification
  docs/gitbook/enterprise/saml/overview.md
Due: prettier --write

minor readability updates (#1170)
  docs/gitbook/enterprise/saml/generic.md
Due: prettier --write

minor clarification (#1171)
  docs/gitbook/enterprise/saml/overview.md
Due: prettier --write

feat: lazy-load `echarts` lib
  web/src/components/charts/BarChart/BarChart.tsx
Due: prettier --write, eslint

Use lambdaClient as dependency instead of passing aws session
  internal/core/analysis_api/analysis/policy_engine.go
  internal/core/analysis_api/analysis/rule_engine.go
  internal/core/analysis_api/handlers/clients.go
Due: none
