Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Added ChartSummary component
  web/src/components/Charts/ChartSummary/ChartSummary.tsx
  web/src/components/Charts/ChartSummary/index.tsx
Due: prettier --write, eslint

Used ChartSummary on CloudSec charts
  web/src/pages/ComplianceOverview/ComplianceOverview.tsx
  web/src/pages/ComplianceOverview/PoliciesBySeverityChart/PoliciesBySeverityChart.tsx
  web/src/pages/ComplianceOverview/PoliciesByStatusChart/PoliciesByStatusChart.tsx
  web/src/pages/ComplianceOverview/ResourcesByPlatformChart/ResourcesByPlatformChart.tsx
  web/src/pages/ComplianceOverview/ResourcesByPlatformChart/index.tsx
Due: prettier --write, eslint

Changes in BarChart
  web/src/components/Charts/components/Bars.tsx
Due: prettier --write, eslint

Restructured folders for charts
  web/src/components/Charts/components/demoData.ts
  web/src/components/charts/BarChart/BarChart.tsx
  web/src/components/charts/BarChart/index.tsx
  web/src/components/charts/ChartSummary/ChartSummary.tsx
  web/src/components/charts/ChartSummary/index.tsx
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
  web/src/components/charts/TimeSeriesChart/index.tsx
  web/src/components/charts/ZoomableTimeSeriesChart/ZoomableTimeSeriesChart.tsx
  web/src/components/charts/ZoomableTimeSeriesChart/index.tsx
  web/src/components/charts/constants.ts
  web/src/pages/ComplianceOverview/PoliciesBySeverityChart/PoliciesBySeverityChart.tsx
  web/src/pages/ComplianceOverview/PoliciesByStatusChart/PoliciesByStatusChart.tsx
  web/src/pages/ComplianceOverview/ResourcesByStatusChart/ResourcesByStatusChart.tsx
Due: prettier --write, eslint

Improve mage doc error messages
  tools/mage/doc.go
  tools/mage/logdoc_test.go
Due: none

Refactored handler code
  internal/log_analysis/log_processor/sources/s3.go
Due: none

replace `<form>` with `<Form>` on forgotten components
  web/src/components/utils/GenerateFiltersGroup/GenerateFiltersGroup.tsx
  web/src/components/wizards/ComplianceSourceWizard/ComplianceSourceWizard.tsx
  web/src/components/wizards/S3LogSourceWizard/S3LogSourceWizard.tsx
Due: prettier --write, eslint

Updated naming
  internal/log_analysis/log_processor/sources/s3.go
Due: none

replace stretch with buster. Bump langs to LTS.
  build/ci/Dockerfile
Due: none

bump golang checksum
  build/ci/Dockerfile
Due: none

Updated code
  internal/log_analysis/log_processor/sources/s3.go
Due: none

WIP: upgrade python lang system deps
  build/ci/Dockerfile
Due: none

remove comments from Dockerfile
  build/ci/Dockerfile
Due: none

remove xz dependency on tar unpacking
  build/ci/Dockerfile
Due: none

re-instate: build-essential
  build/ci/Dockerfile
Due: none

change buildpack image on CI
  .circleci/config.yml
Due: none

upgrade development pack based on latest buildpack. Remove redundant packages.
  build/deployment/Dockerfile
Due: none

bump dev script image to 1.2.0
  dev.sh
Due: none

Use custom resource for initial analysis pack
  deployments/bootstrap_gateway.yml
  deployments/core.yml
  deployments/master.yml
  internal/compliance/policy_engine/src/helpers.py
  internal/compliance/policy_engine/tests/test_helpers.py
  internal/core/analysis_api/handlers/create_global.go
  internal/core/custom_resources/resources/analysis_set.go
  internal/core/custom_resources/resources/map.go
  internal/core/custom_resources/resources/s3_bucket_notification.go
  tools/mage/deploy.go
  tools/mage/util.go
Due: none

Custom::PantherUser
  deployments/bootstrap_gateway.yml
  deployments/core.yml
  deployments/master.yml
  deployments/panther_config.yml
  internal/core/custom_resources/resources/map.go
  internal/core/custom_resources/resources/panther_user.go
  tools/config/config.go
  tools/mage/deploy.go
  tools/mage/util.go
Due: none

Only prompt for first user on fresh deploys
  deployments/core.yml
  tools/mage/deploy.go
Due: none

Move org-api call to custom resource
  deployments/bootstrap_gateway.yml
  deployments/core.yml
  internal/core/custom_resources/resources/map.go
  internal/core/custom_resources/resources/panther_settings.go
  internal/core/custom_resources/resources/panther_user.go
  internal/core/custom_resources/resources/self_registration.go
  tools/mage/deploy.go
Due: none

typo fix
  deployments/master.yml
Due: none

properly handle comma-delimited parameter
  deployments/master.yml
Due: none

Changing serde
  internal/log_analysis/awsglue/table_metadata.go
  internal/log_analysis/awsglue/table_metadata_test.go
  internal/log_analysis/awsglue/wrappers.go
Due: none

Switch back to openx serde, replace use of jsoniter.RawMessage with object.Object
  deployments/panther_config.yml
  docs/gitbook/log-analysis/log-processing/supported-logs/AWS.md
  internal/log_analysis/awsglue/schema.go
  internal/log_analysis/awsglue/table_metadata.go
  internal/log_analysis/awsglue/table_metadata_test.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_test.go
  internal/log_analysis/log_processor/parsers/awslogs/extractor_test.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty_test.go
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog.go
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog_test.go
  internal/log_analysis/log_processor/parsers/object/object.go
  internal/log_analysis/log_processor/parsers/object/object_test.go
  pkg/extract/extractor.go
  pkg/extract/extractor_test.go
Due: prettier --write

light refactor
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/extractor_test.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty.go
  internal/log_analysis/log_processor/parsers/object/object.go
  pkg/extract/extractor.go
  pkg/extract/extractor_test.go
Due: none

small typo and bugfixes
  deployments/master.yml
  deployments/onboard.yml
  tools/mage/deploy.go
Due: none

checkpoint work
  docs/gitbook/log-analysis/log-processing/supported-logs/AWS.md
  internal/log_analysis/awsglue/schema.go
  internal/log_analysis/awsglue/table_metadata.go
  internal/log_analysis/awsglue/table_metadata_test.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_test.go
  internal/log_analysis/log_processor/parsers/awslogs/extractor_test.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty_test.go
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog.go
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog_test.go
  internal/log_analysis/log_processor/parsers/jsonlob/object.go
  internal/log_analysis/log_processor/parsers/jsonlob/object_test.go
Due: prettier --write

Fix regession in glue:sync from recent code changes
  internal/log_analysis/awsglue/glue_timebin.go
Due: none

checkpoint work
  docs/gitbook/log-analysis/log-processing/supported-logs/AWS.md
  internal/log_analysis/awsglue/table_metadata.go
  internal/log_analysis/awsglue/table_metadata_test.go
Due: prettier --write

Adding missing mappings
  internal/log_analysis/athenaviews/athenaviews.go
  internal/log_analysis/awsglue/schema.go
  internal/log_analysis/awsglue/schema_test.go
  internal/log_analysis/awsglue/table_metadata.go
  internal/log_analysis/awsglue/table_metadata_test.go
  tools/mage/doc.go
Due: none

Added comments
  internal/log_analysis/awsglue/schema.go
  internal/log_analysis/awsglue/table_metadata_test.go
Due: none

Updated code after PR comments
  internal/log_analysis/awsglue/schema.go
  internal/log_analysis/awsglue/schema_test.go
Due: none

Fix regression in glue:sync for testing existence of data in a partition
  internal/log_analysis/awsglue/glue_timebin.go
  internal/log_analysis/awsglue/table_metadata_test.go
Due: none

Update glue:sync to refresh/add schemas for registered tables
  internal/core/source_api/api/glue_utils.go
  internal/log_analysis/gluetables/gluetables.go
  tools/mage/glue_namespace.go
  tools/mage/util_cfn.go
Due: none

Remove mage show:schemas, not needed, we have generated docs now
  tools/mage/show_namespace.go
Due: none

Use client helper to get session for custom resource analysis set
  internal/core/custom_resources/resources/analysis_set.go
Due: none

Update snowflake documentation to be consistent with changes this release
  docs/gitbook/enterprise/snowflake.md
Due: prettier --write

Check node version before deploying
  tools/mage/deploy.go
Due: none
