Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

fix: change to bVersion
  tools/mage/deploy/deploy.go
Due: none

fix: change to LT to match original test
  tools/mage/deploy/deploy.go
Due: none

mage gen fmt
  go.mod
  go.sum
Due: none

fix: remove old check
  go.mod
  go.sum
  tools/mage/deploy/deploy.go
  tools/mage/master/deploy.go
  tools/mage/master/publish.go
Due: none

fix: remove dep
  go.mod
  go.sum
Due: none

fix: use semver package to compare versions (#1735)
  tools/mage/deploy/deploy.go
  tools/mage/master/deploy.go
  tools/mage/master/publish.go
Due: none

fix: version bump for templates
  deployments/master.yml
Due: none

fix: version bump for templates (#1737)
  deployments/master.yml
Due: none

Added AlertsSection
  web/src/pages/LogAnalysisOverview/AlertsSection/AlertsSection.tsx
  web/src/pages/LogAnalysisOverview/AlertsSection/index.tsx
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
Due: prettier --write, eslint

fix: date for RuleSummary schema
  api/graphql/schema.graphql
Due: none

chore: update snapshots
  web/src/components/cards/RuleCard/__snapshots__/RuleCard.test.tsx.snap
Due: none

feat: introduce the rule cards throught the rules page
  web/src/components/cards/RuleCard/__snapshots__/RuleCard.test.tsx.snap
Due: none

fix: update snapshots and fix `GenericItemCard.Value` id parsing
  web/src/components/cards/RuleCard/__snapshots__/RuleCard.test.tsx.snap
Due: none

feat: add DropDown filters for AlertPage
  web/src/pages/ListAlerts/ListAlertFilters/DropdownFilters.tsx
  web/src/pages/ListAlerts/ListAlertFilters/ListAlertFilters.tsx
Due: prettier --write, eslint

chore: bump schema changes and remove stale filters
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/pages/ListRules/ListRulesActions/index.tsx
Due: prettier --write, eslint

chore: bump pounce version
  package-lock.json
  package.json
Due: prettier --write

feat: create TextButton component
  web/src/components/buttons/TextButton/TextButton.tsx
  web/src/components/buttons/TextButton/index.tsx
Due: prettier --write, eslint

fix: cleanup RuleCardOptions
  web/src/components/cards/RuleCard/RuleCardOptions/RuleCardOptions.tsx
Due: prettier --write, eslint

feat: add dropdown filters for Alerts
  web/src/pages/ListAlerts/ListAlertBreadcrumbFilters/ListAlertBreadcrumbFilters.tsx
  web/src/pages/ListAlerts/ListAlertBreadcrumbFilters/index.tsx
  web/src/pages/ListAlerts/ListAlertFilters/DropdownFilters.tsx
  web/src/pages/ListAlerts/ListAlertFilters/ListAlertFilters.tsx
Due: prettier --write, eslint

feat: add dropdown filters for Rules
  web/src/pages/ListRules/ListRules.tsx
  web/src/pages/ListRules/ListRulesActions/ListRulesActions.tsx
  web/src/pages/ListRules/ListRulesBreadcrumbFilters/ListRulesBreadcrumbFilters.tsx
  web/src/pages/ListRules/ListRulesBreadcrumbFilters/index.tsx
  web/src/pages/ListRules/ListRulesFilters/DropdownFilters.tsx
  web/src/pages/ListRules/ListRulesFilters/ListRulesFilters.tsx
  web/src/pages/ListRules/ListRulesFilters/index.tsx
Due: prettier --write, eslint

fix: remove RuleCard spacing
  web/src/components/cards/RuleCard/RuleCard.tsx
  web/src/components/cards/RuleCard/RuleCardOptions/RuleCardOptions.tsx
  web/src/components/cards/RuleCard/__snapshots__/RuleCard.test.tsx.snap
Due: prettier --write, eslint

fix: schema and TextButton according to PR
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/components/buttons/TextButton/TextButton.tsx
Due: prettier --write, eslint

fix: reduce payload for filters update
  web/src/pages/ListAlerts/ListAlertFilters/DropdownFilters.tsx
Due: prettier --write, eslint

fix: add proper value for combobox within Rule filters
  web/src/pages/ListAlerts/ListAlertBreadcrumbFilters/ListAlertBreadcrumbFilters.tsx
Due: prettier --write, eslint

fix: remove redundant `cache-first` policy
  web/src/pages/ListAlerts/ListAlertBreadcrumbFilters/ListAlertBreadcrumbFilters.tsx
  web/src/pages/ListRules/ListRulesBreadcrumbFilters/ListRulesBreadcrumbFilters.tsx
Due: prettier --write, eslint

fix: add filter buttons for dropdown filtering
  web/src/pages/ListAlerts/ListAlertFilters/DropdownFilters.tsx
  web/src/pages/ListRules/ListRulesFilters/DropdownFilters.tsx
Due: prettier --write, eslint

mage gen fmt
  web/src/pages/ListRules/ListRulesBreadcrumbFilters/ListRulesBreadcrumbFilters.tsx
Due: prettier --write, eslint

Added custom ZoomButtons
  web/src/components/charts/ScaleControls/ScaleControls.tsx
  web/src/components/charts/ScaleControls/ZoomButton.tsx
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
  web/src/pages/LogAnalysisOverview/AlertsBySeverity/AlertsBySeverity.tsx
  web/src/pages/LogAnalysisOverview/EventsByLatency/EventsByLatency.tsx
Due: prettier --write, eslint

fix: sorting typo
  web/src/pages/ListRules/ListRulesFilters/ListRulesFilters.tsx
Due: prettier --write, eslint

fix: rule card spacing
  web/src/components/cards/RuleCard/RuleCard.tsx
Due: prettier --write, eslint

fix: typos and UI enhancements
  web/src/pages/ListAlerts/ListAlertBreadcrumbFilters/ListAlertBreadcrumbFilters.tsx
  web/src/pages/ListAlerts/ListAlertFilters/DropdownFilters.tsx
  web/src/pages/ListRules/ListRulesBreadcrumbFilters/ListRulesBreadcrumbFilters.tsx
Due: prettier --write, eslint

fix: remove redundant `FastField`
  web/src/pages/ListRules/ListRulesFilters/DropdownFilters.tsx
Due: prettier --write, eslint

fix: add tags as optional for RuleInput
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
Due: prettier --write, eslint

fix: bad naming
  web/src/components/cards/RuleCard/RuleCardOptions/RuleCardOptions.tsx
Due: prettier --write, eslint

Run all rule functions when testing a rule
  api/gateway/analysis/api.yml
  api/gateway/analysis/models/test_rule_result.go
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_main.py
Due: none

Minor fix
  web/src/pages/LogAnalysisOverview/LogAnalysisOverviewBreadcrumbFilters/LogAnalysisOverviewBreadcrumbFilters.tsx
Due: prettier --write, eslint

Sanitize breadcrumbFilters
  web/src/pages/LogAnalysisOverview/LogAnalysisOverviewBreadcrumbFilters/LogAnalysisOverviewBreadcrumbFilters.tsx
Due: prettier --write, eslint

Backporting Breadcrump mount fix
  web/__tests__/utils/render.tsx
  web/src/components/Breadcrumbs/Breadcrumbs.tsx
  web/src/hooks/__tests__/useForceUpdate.test.tsx
  web/src/hooks/useForceUpdate.tsx
Due: prettier --write, eslint

Updated snapshots
  web/src/components/BorderedTab/__snapshots__/BorderedTab.test.tsx.snap
  web/src/components/BulletedLogType/__snapshots__/BulletedLogType.test.tsx.snap
  web/src/components/GenericItemCard/__snapshots__/GenericItemCard.test.tsx.snap
  web/src/components/Wizard/__snapshots__/Wizard.test.tsx.snap
  web/src/components/badges/SourceHealthBadge/__snapshots__/SourceHealthBadge.test.tsx.snap
  web/src/components/fields/SensitiveTextInput/__snapshots__/SensitiveTextInput.test.tsx.snap
  web/src/pages/AlertDetails/AlertDetailsBanner/__snapshots__/AlertDetailsBanner.test.tsx.snap
Due: none

chore: add rule card options to header
  web/src/components/cards/RuleCard/RuleCard.tsx
  web/src/components/cards/RuleCard/RuleCardOptions/RuleCardOptions.tsx
Due: prettier --write, eslint
