Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Checkpoint work
  deployments/log_analysis/log_processor.yml
  deployments/panther_config.yml
Due: none

Checkpoint work
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/processor/processor.go
Due: none

Checkpoint work
  internal/log_analysis/log_processor/classification/classifier.go
  internal/log_analysis/log_processor/classification/classifier_test.go
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/processor/processor_test.go
Due: none

Checkpoint work
  cmd/opstools/s3queue/s3queue.go
Due: none

add health check icon as separate call
  api/graphql/schema.graphql
  deployments/core/appsync.yml
  web/__generated__/schema.tsx
  web/src/graphql/fragments/IntegrationItemHealthDetails.generated.ts
  web/src/graphql/fragments/IntegrationItemHealthDetails.graphql
  web/src/pages/ListComplianceSources/ComplianceSourceHealthIcon/ComplianceSourceHealthIcon.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceHealthIcon/graphql/getComplianceSourceHealth.generated.ts
  web/src/pages/ListComplianceSources/ComplianceSourceHealthIcon/graphql/getComplianceSourceHealth.graphql
  web/src/pages/ListComplianceSources/ComplianceSourceHealthIcon/index.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceTable/ComplianceSourceTable.tsx
  web/src/pages/ListComplianceSources/ListComplianceSources.tsx
  web/src/pages/ListComplianceSources/columns.tsx
Due: prettier --write, eslint

add tooltip
  web/src/pages/ListComplianceSources/ComplianceSourceHealthIcon/ComplianceSourceHealthIcon.tsx
Due: prettier --write, eslint

Switch to S3 notiication messages from CT and use batch updates
  cmd/opstools/s3queue/s3queue.go
  cmd/opstools/s3queue/s3queue_test.go
Due: none

Remove onboarding models and custom message lambda
  api/lambda/onboarding/models/api.go
  internal/core/custom_message/api/clients.go
  internal/core/custom_message/api/event_router.go
  internal/core/custom_message/api/forgot_password.go
  internal/core/custom_message/api/forgot_password_test.go
  internal/core/custom_message/main/lambda.go
Due: none

Remove npm audit from CI
  tools/mage/test_namespace.go
Due: none

Added some unit tests for parseQueueMsg
  internal/compliance/resource_processor/models/lookup.go
  internal/compliance/resource_processor/processor/handler.go
  internal/compliance/resource_processor/processor/handler_test.go
  internal/compliance/resources_api/handlers/add_resources.go
Due: none

Clarify comment and variable name
  api/lambda/users/models/api.go
  internal/core/users_api/api/cognito_trigger.go
Due: none

dashboards generate without region, remove alarm generated stack
  deployments/backend.yml
  deployments/monitoring.yml
  tools/cfngen/cloudwatchcf/dashboard.go
  tools/cfngen/cloudwatchcf/dashboards_test.go
  tools/dashboards/dashboards.go
  tools/mage/build_namespace.go
  tools/mage/cfngen.go
  tools/mage/deploy_monitoring.go
Due: none

Add build:all
  tools/mage/build_namespace.go
  tools/mage/cfngen.go
  tools/mage/doc_namespace.go
  tools/mage/test_namespace.go
Due: none

Generate SNS + SQS alarms in build:cfn
  deployments/monitoring.yml
  tools/cfngen/cloudwatchcf/alarms.go
  tools/cfngen/cloudwatchcf/alarms_sns.go
  tools/cfngen/cloudwatchcf/alarms_sqs.go
  tools/mage/build_namespace.go
  tools/mage/cfngen.go
  tools/mage/deploy_monitoring.go
Due: none

Support dynamic metric values - all alarms generate now
  tools/cfngen/cloudwatchcf/alarms.go
  tools/cfngen/cloudwatchcf/alarms_apigw.go
  tools/cfngen/cloudwatchcf/alarms_appsync.go
  tools/cfngen/cloudwatchcf/alarms_ddb.go
  tools/cfngen/cloudwatchcf/alarms_elb.go
  tools/cfngen/cloudwatchcf/alarms_lambda.go
  tools/cfngen/cloudwatchcf/alarms_test.go
Due: none

Add alarm parameters and fix unit tests
  .prettierignore
  deployments/monitoring.yml
  tools/cfngen/cf.go
  tools/cfngen/cloudwatchcf/alarms.go
  tools/cfngen/cloudwatchcf/alarms_elb.go
  tools/cfngen/cloudwatchcf/alarms_sns.go
  tools/cfngen/cloudwatchcf/alarms_sqs.go
  tools/cfngen/cloudwatchcf/alarms_test.go
  tools/cfngen/cloudwatchcf/metrics_test.go
  tools/cfngen/cloudwatchcf/testdata/cf.yml
  tools/cfngen/cloudwatchcf/testdata/generated_test_alarms.json
  tools/cfngen/cloudwatchcf/testdata/generated_test_metrics.json
  tools/cfngen/cloudwatchcf/util_test.go
  tools/cfngen/gluecf/db_test.go
  tools/cfngen/gluecf/gluecf_test.go
  tools/cfngen/gluecf/table_test.go
  tools/cfngen/gluecf/testdata/db.template.json
  tools/cfngen/gluecf/testdata/tables.template.json
  tools/cfngen/gluecf/util_test.go
  tools/mage/build_namespace.go
  tools/mage/deploy.go
  tools/mage/deploy_monitoring.go
  tools/mage/deploy_template.go
  tools/mage/swagger_test.go
  tools/mage/test_namespace.go
  tools/mage/testdata/valid-api-expected-output.yml
  tools/mage/testdata/valid-api.yml
Due: prettier --write

Silence gosec over template variable name
  internal/core/users_api/api/cognito_trigger.go
Due: none

A few small fixes that got deploy working
  tools/cfngen/cloudwatchcf/dashboard.go
  tools/mage/deploy.go
  tools/mage/deploy_databases.go
Due: none

Using cache.modify for Delete modal for Users, Rules, Policy and Dest
  web/src/components/modals/DeleteDestinationModal/DeleteDestinationModal.tsx
  web/src/components/modals/DeletePolicyModal/DeletePolicyModal.tsx
  web/src/components/modals/DeleteRuleModal/DeleteRuleModal.tsx
  web/src/components/modals/DeleteUserModal/DeleteUserModal.tsx
Due: prettier --write, eslint

Fixed user cache and modify
  web/src/components/modals/DeleteUserModal/DeleteUserModal.tsx
Due: prettier --write, eslint

add health as Integration field. Delete scanIntervalMins
  api/graphql/schema.graphql
  deployments/core/appsync.yml
  web/__generated__/schema.tsx
  web/src/components/wizards/ComplianceSourceWizard/ComplianceSourceWizard.tsx
  web/src/graphql/fragments/ComplianceIntegrationDetails.generated.ts
  web/src/graphql/fragments/ComplianceIntegrationDetails.graphql
  web/src/pages/ListComplianceSources/ComplianceSourceHealthIcon/ComplianceSourceHealthIcon.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceHealthIcon/graphql/getComplianceSourceHealth.generated.ts
  web/src/pages/ListComplianceSources/ComplianceSourceHealthIcon/graphql/getComplianceSourceHealth.graphql
  web/src/pages/ListComplianceSources/ComplianceSourceTable/graphql/listComplianceSources.generated.ts
  web/src/pages/ListComplianceSources/ComplianceSourceTable/graphql/listComplianceSources.graphql
  web/src/pages/ListComplianceSources/columns.tsx
  web/src/pages/ListResources/ListResourcesActions/ListResourcesActions.tsx
  web/src/pages/ListResources/ListResourcesTable/ListResourcesTable.tsx
Due: prettier --write, eslint

Corrected DeleteDestinationModal
  web/src/components/modals/DeleteDestinationModal/DeleteDestinationModal.tsx
Due: prettier --write, eslint

fix typo on disabled
  web/src/components/wizards/ComplianceSourceWizard/ComplianceSourceWizard.tsx
Due: prettier --write, eslint

change text on update source
  web/src/components/wizards/ComplianceSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/components/wizards/ComplianceSourceWizard/SuccessPanel/SuccessPanel.tsx
Due: prettier --write, eslint

add fallback for create compliance source cache modification
  web/src/pages/CreateComplianceSource/CreateComplianceSource.tsx
Due: prettier --write, eslint

fix minor issue iwth cache addition
  web/src/pages/CreateComplianceSource/CreateComplianceSource.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceHealthIcon/graphql/getComplianceSourceHealth.generated.ts
  web/src/pages/ListComplianceSources/ComplianceSourceHealthIcon/graphql/getComplianceSourceHealth.graphql
Due: prettier --write, eslint

Updated schema
  api/graphql/schema.graphql
Due: none

Added "no-underscore-dangle" as disabled for eslint
  .eslintrc
Due: none

Reformatted cache.modify variables
  web/src/components/modals/DeleteDestinationModal/DeleteDestinationModal.tsx
  web/src/components/modals/DeletePolicyModal/DeletePolicyModal.tsx
  web/src/components/modals/DeleteRuleModal/DeleteRuleModal.tsx
  web/src/components/modals/DeleteUserModal/DeleteUserModal.tsx
Due: prettier --write, eslint

move health data to details fragment
  web/src/graphql/fragments/ComplianceIntegrationDetails.graphql
  web/src/pages/ListComplianceSources/ComplianceSourceHealthIcon/graphql/getComplianceSourceHealth.generated.ts
  web/src/pages/ListComplianceSources/ComplianceSourceHealthIcon/graphql/getComplianceSourceHealth.graphql
  web/src/pages/ListComplianceSources/ComplianceSourceTable/graphql/listComplianceSources.graphql
Due: prettier --write, eslint

update generated gql files
  web/src/graphql/fragments/ComplianceIntegrationDetails.generated.ts
  web/src/pages/ListComplianceSources/ComplianceSourceTable/graphql/listComplianceSources.generated.ts
Due: prettier --write, eslint

update text
  web/src/pages/ListComplianceSources/columns.tsx
Due: prettier --write, eslint

fix issue with addition
  web/src/components/modals/DeleteComplianceSourceModal/DeleteComplianceSourceModal.tsx
  web/src/pages/CreateComplianceSource/CreateComplianceSource.tsx
  web/src/pages/CreateComplianceSource/graphql/addComplianceSource.generated.ts
  web/src/pages/CreateComplianceSource/graphql/addComplianceSource.graphql
  web/src/pages/ListComplianceSources/ComplianceSourceTable/ComplianceSourceTable.tsx
Due: prettier --write, eslint

restrict label name to alphanumeric, dashes & spaces
  web/src/components/wizards/ComplianceSourceWizard/ComplianceSourceWizard.tsx
  web/src/constants.ts
  web/src/helpers/utils.tsx
Due: prettier --write, eslint

move npm audit outside of mage
  .circleci/config.yml
  tools/mage/test_namespace.go
Due: none

add job to workflow
  .circleci/config.yml
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
