Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

remove overlay
  web/webpack.config.js
Due: prettier --write, eslint

fix AWS_ACCOUNT_ID regex
  web/src/constants.ts
Due: prettier --write, eslint

remove un-needed text
  web/src/pages/create-source/subcomponents/create-infra-source/subcomponents/remediation-panel.tsx
Due: prettier --write, eslint

fix typo in SQS form
  web/src/components/forms/destination-form/sqs-destination-form.tsx
Due: prettier --write, eslint

Updated CFN template
  deployments/auxiliary/cloudformation/panther-remediations-iam.yml
Due: none

Removed unused init.py files
  __init__.py
  deployments/compliance/remediation.yml
  internal/__init__.py
Due: none

WOrk in progress
  api/lambda/outputs/models/api.go
  api/lambda/outputs/models/table.go
  deployments/core/outputs.yml
  internal/core/alert_delivery/delivery/outputs.go
  internal/core/outputs_api/api/add_output.go
  internal/core/outputs_api/api/add_output_test.go
  internal/core/outputs_api/api/api.go
  internal/core/outputs_api/api/api_test.go
  internal/core/outputs_api/api/delete_output.go
  internal/core/outputs_api/api/get_default_outputs.go
  internal/core/outputs_api/api/get_default_outputs_test.go
  internal/core/outputs_api/api/get_organization_outputs.go
  internal/core/outputs_api/api/get_output.go
  internal/core/outputs_api/api/get_outputs.go
  internal/core/outputs_api/api/get_outputs_test.go
  internal/core/outputs_api/api/set_default_outputs.go
  internal/core/outputs_api/api/set_default_outputs_test.go
  internal/core/outputs_api/api/update_output.go
  internal/core/outputs_api/api/update_output_test.go
  internal/core/outputs_api/api/utils.go
  internal/core/outputs_api/custom_verification_email.json
  internal/core/outputs_api/main/lambda.go
  internal/core/outputs_api/table/put.go
  internal/core/outputs_api/table/put_defaults.go
  internal/core/outputs_api/table/put_defaults_test.go
  internal/core/outputs_api/table/put_test.go
  internal/core/outputs_api/table/query.go
  internal/core/outputs_api/table/query_defaults.go
  internal/core/outputs_api/table/query_defaults_test.go
  internal/core/outputs_api/table/query_test.go
  internal/core/outputs_api/table/table.go
  internal/core/outputs_api/table/update.go
  internal/core/outputs_api/table/update_test.go
  internal/core/outputs_api/validator/validator.go
  internal/core/outputs_api/validator/validator_test.go
Due: prettier --write

started validating ARNs on forms
  web/src/components/forms/destination-form/sns-destination-form.tsx
  web/src/helpers/utils.tsx
  web/src/pages/create-source/subcomponents/create-log-source/subcomponents/source-details-panel.tsx
Due: prettier --write, eslint

change `assigneeID` to `assigneeId`
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/components/forms/destination-form/jira-destination-form.tsx
  web/src/components/sidesheets/add-destination-sidesheet.tsx
  web/src/components/sidesheets/update-destination-sidesheet.tsx
  web/src/pages/destinations/index.tsx
Due: prettier --write, eslint

fix github token
  web/src/components/sidesheets/update-destination-sidesheet.tsx
Due: prettier --write, eslint

remove duplicate file
  init
Due: none

Removed default table
  api/lambda/outputs/models/api.go
  internal/core/alert_delivery/delivery/dispatch.go
  internal/core/alert_delivery/delivery/dispatch_test.go
  internal/core/alert_delivery/delivery/handle_test.go
  internal/core/alert_delivery/delivery/outputs.go
  internal/core/alert_delivery/delivery/outputs_test.go
  internal/core/outputs_api/api/add_output_test.go
  internal/core/outputs_api/api/delete_output_test.go
  internal/core/outputs_api/api/get_output_test.go
  internal/core/outputs_api/api/get_outputs.go
  internal/core/outputs_api/api/get_outputs_test.go
  internal/core/outputs_api/main/integration_test.go
  internal/core/outputs_api/table/table_test.go
  internal/core/outputs_api/validator/validator_test.go
Due: none

Fixing integration tests
  deployments/core/appsync.yml
  internal/core/outputs_api/main/integration_test.go
Due: none

add brotli compression
  deployments/web/Dockerfile
  docs/gitbook/quick-start.md
  package-lock.json
  package.json
  web/scripts/serve.js
  web/webpack.config.js
Due: prettier --write, eslint

Addressed PR feedback
  internal/compliance/snapshot_poller/pollers/aws/iam_user.go
Due: none

Respond to PR
  internal/log_analysis/log_processor/common/patherlog.go
Due: none

Glue schema generation: fix bug in applying custom mapping. Before: custom mapping only applied to slices. After: Custom mappings apply independent of type.
  tools/cfngen/gluecf/schema.go
  tools/cfngen/gluecf/schema_test.go
Due: none

Make panther row ids smart
  internal/log_analysis/log_processor/common/pantherlog_test.go
  internal/log_analysis/log_processor/common/patherlog.go
Due: none

change directory in dockerfile context
  deployments/web/Dockerfile
  tools/mage/deploy_frontend.go
Due: none

don't brotli-compress HTML files since chrome attempts to parse them as octet stream
  web/webpack.config.js
Due: prettier --write, eslint

Fixed comment
  internal/core/alert_delivery/delivery/outputs.go
Due: none

add cache header logic
  web/scripts/serve.js
Due: prettier --write, eslint

fix bug in path
  deployments/web/Dockerfile
Due: none

Fixing remediations IAM role
  deployments/auxiliary/cloudformation/README.md
  deployments/auxiliary/cloudformation/panther-remediations-iam.yml
  deployments/compliance/remediation.yml
  internal/compliance/remediation_aws/src/app/remediations/remediation_base.py
  web/src/constants.ts
  web/src/pages/create-source/subcomponents/create-infra-source/subcomponents/remediation-panel.tsx
Due: prettier --write, eslint

add exact versions of express related packages
  package.json
Due: prettier --write

allow bugfix updates on express related packages
  package.json
Due: prettier --write

move init.go logic to dev.sh
  build/deployment/init
  build/deployment/init.go
  dev.sh
Due: none

remove `brew install docker`
  docs/gitbook/quick-start.md
Due: prettier --write

update docs
  dev.sh
  docs/gitbook/quick-start.md
Due: prettier --write

don't breakline on MD file
  docs/gitbook/quick-start.md
Due: prettier --write

add proper line break on S3 buckets of log sources
  web/src/pages/list-sources/log-source-columns.tsx
Due: prettier --write, eslint

Respond to PR
  internal/log_analysis/log_processor/parsers/awslogs/extractor.go
  internal/log_analysis/log_processor/parsers/awslogs/extractor_test.go
  internal/log_analysis/log_processor/parsers/pantherlog_test.go
  internal/log_analysis/log_processor/parsers/patherlog.go
Due: none

Renamed api field
  api/lambda/alerts/models/api.go
  internal/log_analysis/alerts_api/api/get_alert.go
Due: none

Respond to PR
  internal/log_analysis/log_processor/parsers/pantherlog_test.go
Due: none

Respond to PR
  internal/log_analysis/log_processor/parsers/patherlog.go
Due: none

Make dev script executable
  dev.sh
Due: none

wip
  dev.sh
Due: none

perm change
  dev.sh
Due: none
