Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

mage gen fmt
  tools/mage/test/cfn.go
Due: none

updating ignore list
  internal/compliance/aws_event_processor/processor/process.go
Due: none

add finishing touches
  deployments/cloud_security.yml
  deployments/master.yml
  internal/compliance/resources_api/handlers/add_resources.go
  internal/compliance/resources_api/handlers/clients.go
  internal/compliance/resources_api/handlers/dynamo.go
Due: none

remove some debugging comments
  internal/compliance/resources_api/handlers/list_resources.go
Due: none

removed a debugging variable
  internal/compliance/resources_api/handlers/dynamo.go
Due: none

Reduce s3ClientMaxRetries for log source
  internal/log_analysis/log_processor/sources/s3_client_cache.go
Due: none

Track failures and use lower timeout for s3 paths with a history of errors
  internal/log_analysis/log_processor/common/common.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/processor/processor_test.go
  internal/log_analysis/log_processor/sources/s3.go
  internal/log_analysis/log_processor/sources/s3_client_cache.go
  internal/log_analysis/log_processor/sources/s3_client_cache_test.go
  internal/log_analysis/log_processor/sources/s3_test.go
Due: none

Refine failedPath()
  internal/log_analysis/log_processor/sources/s3_client_cache.go
  internal/log_analysis/log_processor/sources/s3_client_cache_test.go
Due: none

Make error message for template failures more useful to help debugging
  internal/core/source_api/api/get_integration_template.go
Due: none

mage gen fmt
  internal/core/source_api/api/get_integration_template.go
Due: none

Minor enhancements
  internal/log_analysis/log_processor/common/common.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/processor/stream.go
  internal/log_analysis/log_processor/sources/s3_client_cache.go
Due: none

chore: Apply suggestions from code review
  api/graphql/schema.graphql
Due: none

chore: updated schema
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/graphql/queries/updatePack.generated.ts
  web/src/graphql/queries/updatePack.graphql
Due: prettier --write, eslint

Revert "feat: added semver package"
  package-lock.json
  package.json
Due: prettier --write

chore: rename fragment to PackDetails
  web/src/graphql/fragments/PackDetails.generated.ts
  web/src/graphql/fragments/PackDetails.graphql
  web/src/graphql/queries/updatePack.generated.ts
  web/src/graphql/queries/updatePack.graphql
  web/src/pages/ListPacks/graphql/listPacks.generated.ts
  web/src/pages/ListPacks/graphql/listPacks.graphql
Due: prettier --write, eslint

fix: removed un-needed state for loading in PackCard
  web/src/components/cards/PackCard/PackCard.tsx
Due: prettier --write, eslint

feat: added DetectionTypeBadge
  web/src/components/badges/DetectionTypeBadge/DetectionTypeBadge.tsx
  web/src/components/badges/DetectionTypeBadge/index.tsx
  web/src/constants.ts
Due: prettier --write, eslint

chore: used DetectionTypeBadge to PackCard
  web/src/components/cards/PackCard/PackCard.tsx
Due: prettier --write, eslint

fix: corrected fontWeight for badge
  web/src/components/badges/DetectionTypeBadge/DetectionTypeBadge.tsx
Due: prettier --write, eslint

gating docker output
  tools/mage/pkg/docker.go
Due: none

Fixing logging
  tools/mage/pkg/docker.go
Due: none

Fixing args
  tools/mage/pkg/docker.go
Due: none

fix: removed forms for switch and combobox
  web/src/components/cards/PackCard/PackCard.tsx
  web/src/components/cards/PackCard/UpdateStatus.tsx
  web/src/components/cards/PackCard/UpdateVersion.tsx
  web/src/helpers/utils.tsx
Due: prettier --write, eslint

chore: added comment
  web/src/pages/ListPacks/ListPacks.tsx
Due: prettier --write, eslint

Swap NewAccessDeniedRetryer for NewConnectionErrRetryer for S3 reads in log processor
  internal/log_analysis/log_processor/sources/s3_client_cache.go
Due: none

Make error message nicer
  internal/core/source_api/api/get_integration_template.go
Due: none

Update to reflect changes
  deployments/auxiliary/cloudformation/panther-bi-iam-permissions.yml
Due: none

fix description
  deployments/auxiliary/cloudformation/panther-bi-iam-permissions.yml
Due: none

fix param description
  deployments/auxiliary/cloudformation/panther-bi-iam-permissions.yml
Due: none

pr feedback
  deployments/cloud_security.yml
  internal/compliance/resources_api/handlers/compliance.go
  internal/compliance/resources_api/handlers/dynamo.go
  tools/mage/deploy/deploy.go
Due: none

mage gen fmt
  tools/mage/deploy/deploy.go
Due: none

some cfn fixes
  deployments/cloud_security.yml
  deployments/root.yml
  tools/mage/deploy/deploy.go
Due: none

add mage deploy parameter
  tools/mage/deploy/deploy.go
Due: none

Remove cleanup from build.sh based on feedback
  internal/log_analysis/managedschemas/build.sh
Due: none

Address feedback
  internal/core/logtypesapi/customlogs.go
  internal/core/logtypesapi/managed_schemas.go
Due: none

Address feedback
  internal/core/logtypesapi/dynamodb.go
Due: none

pr feedback
  deployments/cloud_security.yml
Due: none

Update with Requested Changes
  deployments/auxiliary/cloudformation/panther-bi-iam-permissions.yml
Due: none

fix mage deploy
  tools/mage/deploy/deploy.go
Due: none
