Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Addressed PR comments
  deployments/log_analysis/log_processor.yml
  internal/log_analysis/datacatalog_updater/main/lambda.go
Due: none

Respond to PR
  deployments/compliance/alert_processing.yml
  deployments/compliance/remediation.yml
  deployments/compliance/resources_api.yml
  deployments/compliance/snapshot.yml
  deployments/core/admin_api.yml
  deployments/core/analysis_api.yml
  deployments/log_analysis/alerts.yml
  deployments/log_analysis/log_processor.yml
  deployments/log_analysis/rules_engine.yml
  docs/gitbook/operations/runbooks.md
  tools/cfndoc/cfndoc.go
  tools/cfngen/cloudwatchcf/alarms.go
  tools/mage/deploy.go
  tools/mage/doc_namespace.go
  tools/mage/fmt.go
Due: prettier --write

staging
  deployments/compliance/resources_api.yml
  go.mod
  go.sum
  internal/compliance/policy_engine/src/engine.py
  internal/compliance/policy_engine/src/helpers.py
  internal/compliance/policy_engine/src/policy.py
Due: none

add npm audit to tests
  tools/mage/test_namespace.go
Due: none

Added edit-user-sidesheet to context & manager
  web/src/components/sidesheets/edit-user-sidesheet.tsx
  web/src/components/utils/sidesheet-context.tsx
  web/src/components/utils/sidesheet-manager.tsx
Due: prettier --write, eslint

Copy of edit account sidesheet
  web/src/components/sidesheets/edit-user-sidesheet.tsx
Due: prettier --write, eslint

Updated sidesheet-context & edit-user-sidesheet
  web/src/components/forms/edit-user-form/index.tsx
  web/src/components/sidesheets/edit-user-sidesheet.tsx
  web/src/components/utils/sidesheet-context.tsx
Due: prettier --write, eslint

Respond to PR
  cmd/opstools/requeue/integration_test.go
  cmd/opstools/requeue/requeue.go
  cmd/opstools/requeue/requeue/main.go
Due: none

Revert changes that pass parseTime from the classifier.
  internal/log_analysis/log_processor/classification/classifier.go
  internal/log_analysis/log_processor/classification/classifier_test.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/awslogs/alb_test.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit_test.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_test.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty_test.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access_test.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow_test.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status_test.go
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo.go
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo_test.go
  internal/log_analysis/log_processor/parsers/parsers.go
Due: none

Call SetCoreFieldsPtr with a nil parseTime so it is set to time.Now().UTC().
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status.go
Due: none

Respond to PR
  deployments/core/appsync.yml
  docs/gitbook/operations/ops-home.md
  docs/gitbook/operations/runbooks.md
Due: prettier --write

Updated edit-user-form with mutation
  web/src/components/forms/edit-user-form/index.tsx
Due: prettier --write, eslint

Added option on list user table for editing user
  web/src/pages/users/subcomponents/list-users-table-row-options.tsx
Due: prettier --write, eslint

Require PantherParseTime to be not nil in tests. The correct timerange is checked for in pantherlog_test.go.
  internal/log_analysis/log_processor/parsers/awslogs/alb_test.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit_test.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_test.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty_test.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access_test.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow_test.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status_test.go
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo.go
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo_test.go
Due: none

Removed readonly & disabled from email
  web/src/components/forms/edit-user-form/index.tsx
Due: prettier --write, eslint

Add extra \n between sections in runbooks.md to make gitbook happy
  docs/gitbook/operations/runbooks.md
  tools/mage/doc_namespace.go
Due: prettier --write

first working version
  api/lambda/snapshot/models/api.go
  api/lambda/snapshot/models/integration.go
  deployments/compliance/snapshot.yml
  internal/compliance/snapshot_api/api/check_integration.go
Due: none

Fix queue reference in snapshot.yml and formating of comment in log_processor.yml
  deployments/compliance/snapshot.yml
  deployments/log_analysis/log_processor.yml
  docs/gitbook/operations/runbooks.md
Due: prettier --write

Respond to PR
  docs/gitbook/operations/ops-home.md
  internal/compliance/aws_event_processor/processor/lambda.go
  tools/mage/deploy.go
Due: prettier --write

staging more changes
  api/lambda/snapshot/models/api.go
  api/lambda/snapshot/models/integration.go
  deployments/compliance/snapshot.yml
  internal/compliance/snapshot_api/api/check_integration.go
Due: none

Revert accidently checked in file
  internal/compliance/aws_event_processor/processor/lambda.go
Due: none

Since SetCoreFieldsPtr is called more commonly than SetCoreFields, move the logic to SetCoreFieldsPtr to avoid object duplication.
  internal/log_analysis/log_processor/parsers/patherlog.go
Due: none

Update with latest changes introduced in #304.
  internal/log_analysis/log_processor/parsers/patherlog.go
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc5424.go
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc5424_test.go
Due: none

Added AppendAnyDomainNamePtrs and AppendAnyIpAddressPtrs to the syslog tests.
  go.mod
  go.sum
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc5424.go
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc5424_test.go
  internal/log_analysis/log_processor/registry/registry.go
  tools/athenaviews/athenaviews_test.go
Due: none

Renamed to panther-source-api
  api/lambda/source/models/api.go
  api/lambda/source/models/integration.go
  api/lambda/source/models/validator.go
  api/lambda/source/models/vars.go
  deployments/backend.yml
  deployments/compliance/aws_event_processor.yml
  deployments/compliance/snapshot.yml
  deployments/core/appsync.yml
  deployments/core/source_api.yml
  docs/gitbook/operations/runbooks.md
  internal/compliance/aws_event_processor/processor/accounts.go
  internal/compliance/aws_event_processor/processor/accounts_test.go
  internal/compliance/snapshot_api/ddb/get_item.go
  internal/compliance/snapshot_scheduler/scheduler/schedule.go
  internal/compliance/snapshot_scheduler/scheduler/schedule_test.go
  internal/core/source_api/api/check_integration.go
  internal/core/source_api/api/delete_integration.go
  internal/core/source_api/api/delete_integration_test.go
  internal/core/source_api/api/list_integrations.go
  internal/core/source_api/api/list_integrations_test.go
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/put_integration_test.go
  internal/core/source_api/api/sqs_utils.go
  internal/core/source_api/api/update_integration.go
  internal/core/source_api/api/update_integration_test.go
  internal/core/source_api/api/vars.go
  internal/core/source_api/api/vars_test.go
  internal/core/source_api/ddb/ddb.go
  internal/core/source_api/ddb/delete_item.go
  internal/core/source_api/ddb/get_item.go
  internal/core/source_api/ddb/items.go
  internal/core/source_api/ddb/modelstest/mocks.go
  internal/core/source_api/ddb/put_item.go
  internal/core/source_api/ddb/scan.go
  internal/core/source_api/ddb/update_item.go
  internal/core/source_api/main/handler.go
  internal/core/source_api/main/handler_test.go
  internal/core/source_api/main/integration_test.go
  tools/dashboards/infra.go
  tools/dashboards/overview.go
Due: prettier --write

docs update
  docs/gitbook/operations/runbooks.md
Due: prettier --write

Syslog RFC3164 Parser
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc3164.go
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc3164_test.go
Due: none

Simplified SetCoreFieldsPtr to SetCoreFields.
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status.go
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo.go
  internal/log_analysis/log_processor/parsers/pantherlog_test.go
  internal/log_analysis/log_processor/parsers/patherlog.go
Due: none

Fixing name of Panther SQS queue
  deployments/auxiliary/cloudformation/panther-log-processing-notifications.yml
Due: none

Added examples from RFC3164 as unit tests.
  docs/gitbook/log-analysis/supported-logs/README.md
  go.mod
  go.sum
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc3164_test.go
  internal/log_analysis/log_processor/registry/registry.go
  web/src/constants.ts
Due: prettier --write, eslint

update lint-staged scripts
  lint-staged.config.js
Due: prettier --write, eslint

update lint-staged
  lint-staged.config.js
Due: prettier --write, eslint

Strip version from lambda names when comparing in aws-event-processor
  internal/compliance/aws_event_processor/processor/lambda.go
  internal/compliance/aws_event_processor/processor/lambda_test.go
Due: none

Fix document url for alarms
  tools/cfngen/cloudwatchcf/alarms.go
  tools/cfngen/cloudwatchcf/testdata/generated_test_alarms.json
Due: prettier --write

Addressed PR feedback
  deployments/core/source_api.yml
Due: none

Checkpoint work
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/log_processor/parsers/patherlog.go
Due: none

Removed comments
  web/src/components/sidesheets/edit-user-sidesheet.tsx
Due: prettier --write, eslint

Initial common user form
  web/src/components/forms/common/base-user-form.tsx
Due: prettier --write, eslint

Modify Edit form to use common user form
  web/src/components/forms/edit-user-form/index.tsx
Due: prettier --write, eslint

Minor update box on edit-user-sidesheet
  web/src/components/sidesheets/edit-user-sidesheet.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
