Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

working
  api/lambda/metrics/models/api.go
  deployments/core.yml
  deployments/panther_config.yml
  docs/gitbook/operations/runbooks.md
  internal/core/metrics_api/api/get_metrics.go
  internal/core/metrics_api/api/vars.go
  internal/log_analysis/log_processor/common/metrics.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/processor/processor_test.go
  pkg/metrics/logger.go
Due: prettier --write

feat: adding in support for updating alert statuses
  api/graphql/schema.graphql
  api/lambda/alerts/models/api.go
  deployments/appsync.yml
  internal/log_analysis/alerts_api/api/get_alert_test.go
  internal/log_analysis/alerts_api/api/list_alerts.go
  internal/log_analysis/alerts_api/api/update_alert.go
  internal/log_analysis/alerts_api/api/update_alert_test.go
  internal/log_analysis/alerts_api/table/table.go
  internal/log_analysis/alerts_api/table/update_alert.go
  package.json
  web/__generated__/schema.tsx
  web/src/components/AlertStatusBadge/AlertStatusBadge.tsx
  web/src/components/AlertStatusBadge/index.tsx
  web/src/components/menus/UpdateAlertMenu/UpdateAlertMenu.tsx
  web/src/components/menus/UpdateAlertMenu/graphql/updateAlert.generated.ts
  web/src/components/menus/UpdateAlertMenu/graphql/updateAlert.graphql
  web/src/components/menus/UpdateAlertMenu/index.tsx
  web/src/pages/ListAlerts/ListAlertsTable/ListAlertsTable.tsx
Due: prettier --write, eslint

minor tweaks before reviews
  api/lambda/metrics/models/validator_test.go
  deployments/panther_config.yml
  internal/core/metrics_api/api/get_metrics.go
Due: none

more tweaks upon self review
  internal/core/metrics_api/api/get_metrics.go
  internal/core/metrics_api/api/vars.go
Due: none

refactor: put core UI providers in a separate re-usable component
  web/src/app.tsx
  web/src/components/utils/UIProvider/UIProvider.tsx
  web/src/components/utils/UIProvider/index.tsx
Due: prettier --write, eslint

feat: add jest globals to ESLint
  web/.eslintrc.js
Due: prettier --write, eslint

Changed button to inline and hide button on click
  web/src/components/forms/TotpForm/TotpForm.tsx
Due: prettier --write, eslint

Upgrade apollo/client to rc.12
  package-lock.json
  package.json
Due: prettier --write

Update remnant cache.modify
  web/src/components/modals/DeleteGlobalPythonModuleModal/DeleteGlobalPythonModuleModal.tsx
Due: prettier --write, eslint

fix: eslint import warning for
  package.json
  web/.eslintrc.js
  web/tsconfig.json
Due: prettier --write, eslint

fix: add Update permissions to alerts table
  deployments/log_analysis.yml
Due: none

chore: renamed directory structure
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
  web/src/components/dropdowns/UpdateAlertDropdown/graphql/updateAlert.generated.ts
  web/src/components/dropdowns/UpdateAlertDropdown/graphql/updateAlert.graphql
  web/src/components/dropdowns/UpdateAlertDropdown/index.tsx
  web/src/pages/ListAlerts/ListAlertsTable/ListAlertsTable.tsx
Due: prettier --write, eslint

chore: renamed component
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
  web/src/pages/ListAlerts/ListAlertsTable/ListAlertsTable.tsx
  web/src/pages/RuleDetails/RuleDetailsAlertsTable/RuleDetailsAlertsTable.tsx
Due: prettier --write, eslint

fix: added updatedBy to alert structs
  api/graphql/schema.graphql
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/api/get_alert_test.go
  internal/log_analysis/alerts_api/api/list_alerts.go
  internal/log_analysis/alerts_api/api/list_alerts_test.go
  web/__generated__/schema.tsx
  web/src/graphql/fragments/AlertDetailsFull.generated.ts
  web/src/graphql/fragments/AlertDetailsFull.graphql
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
Due: prettier --write, eslint

feat: add mocks for images & animation libs
  web/__tests__/__mocks__/fileMock.ts
  web/__tests__/__mocks__/react-spring.ts
Due: prettier --write, eslint

first round of pr feedback
  api/lambda/metrics/models/api.go
  api/lambda/metrics/models/validator.go
  api/lambda/metrics/models/validator_test.go
  deployments/core.yml
  internal/core/metrics_api/api/get_metrics.go
  internal/core/metrics_api/main/lambda.go
Due: none

feat: setup test suite & utils
  package-lock.json
  package.json
  web/__tests__/jest.config.js
  web/__tests__/setup.ts
  web/__tests__/utils/auth.ts
  web/__tests__/utils/index.ts
  web/__tests__/utils/queries.ts
  web/__tests__/utils/render.tsx
Due: prettier --write, eslint

feat: updated status dropdown to have a box shadow on hover
  web/src/components/AlertStatusBadge/AlertStatusBadge.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
Due: prettier --write, eslint

chore: mage fmt
  web/__tests__/__mocks__/fileMock.ts
  web/__tests__/__mocks__/react-spring.ts
  web/__tests__/example.test.tsx
  web/__tests__/jest.config.js
  web/__tests__/setup.ts
  web/__tests__/utils/auth.ts
  web/__tests__/utils/index.ts
  web/__tests__/utils/queries.ts
  web/__tests__/utils/render.tsx
  web/src/components/utils/UIProvider/UIProvider.tsx
  web/src/components/utils/UIProvider/index.tsx
Due: prettier --write, eslint

test: add FE tests to mage CI
  tools/mage/test_namespace.go
Due: none

Remove debug env hack
  pkg/lambdalogger/logger.go
Due: none

Remove build:lambda and build:tools from CI
  tools/mage/test_namespace.go
Due: none

feat: export faker from `test-utils`
  web/__tests__/utils/index.ts
Due: prettier --write, eslint

added integration testing
  api/lambda/metrics/models/api.go
  internal/core/metrics_api/api/get_metrics.go
  internal/core/metrics_api/main/integration_test.go
Due: none

feat: working frontend cache updates
  api/lambda/alerts/models/api.go
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
  web/src/graphql/fragments/AlertSummaryFull.generated.ts
  web/src/graphql/fragments/AlertSummaryFull.graphql
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
  web/src/pages/ListAlerts/ListAlertsTable/ListAlertsTable.tsx
  web/src/pages/RuleDetails/RuleDetailsAlertsTable/RuleDetailsAlertsTable.tsx
Due: prettier --write, eslint

fix: typo in GraphQL input causing TS automations to fail
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/codegen.yml
Due: prettier --write, eslint

refactor: file name
  web/__tests__/__mocks__/file.ts
  web/__tests__/jest.config.js
Due: prettier --write, eslint

feat: add array helpers
  web/__tests__/utils/helpers.ts
  web/__tests__/utils/index.ts
Due: prettier --write, eslint

feat: add example for test suite
  web/__tests__/example.test.tsx
Due: prettier --write, eslint

refactor: rename UIProvider to UIProviders
  web/__tests__/utils/render.tsx
  web/src/app.tsx
  web/src/components/utils/UIProviders/UIProviders.tsx
  web/src/components/utils/UIProviders/index.tsx
Due: prettier --write, eslint

chore: mage fmt
  web/__tests__/utils/helpers.ts
Due: prettier --write, eslint

feat: delegate environment building to script/utils
  web/__tests__/.env.test
  web/__tests__/setup.ts
Due: prettier --write, eslint

refactor: export react-testing-library resources from utils/index
  web/__tests__/utils/index.ts
  web/__tests__/utils/render.tsx
Due: prettier --write, eslint

Replaced cache modify with cache evict for deletions
  web/src/components/modals/DeleteComplianceSourceModal/DeleteComplianceSourceModal.tsx
  web/src/components/modals/DeleteDestinationModal/DeleteDestinationModal.tsx
  web/src/components/modals/DeleteGlobalPythonModuleModal/DeleteGlobalPythonModuleModal.tsx
  web/src/components/modals/DeleteLogSourceModal/DeleteLogSourceModal.tsx
  web/src/components/modals/DeletePolicyModal/DeletePolicyModal.tsx
  web/src/components/modals/DeleteRuleModal/DeleteRuleModal.tsx
  web/src/components/modals/DeleteUserModal/DeleteUserModal.tsx
Due: prettier --write, eslint

Removed cache.gc()
  web/src/components/modals/DeleteComplianceSourceModal/DeleteComplianceSourceModal.tsx
  web/src/components/modals/DeleteDestinationModal/DeleteDestinationModal.tsx
  web/src/components/modals/DeleteGlobalPythonModuleModal/DeleteGlobalPythonModuleModal.tsx
  web/src/components/modals/DeleteLogSourceModal/DeleteLogSourceModal.tsx
  web/src/components/modals/DeletePolicyModal/DeletePolicyModal.tsx
  web/src/components/modals/DeleteRuleModal/DeleteRuleModal.tsx
  web/src/components/modals/DeleteUserModal/DeleteUserModal.tsx
Due: prettier --write, eslint

Added Panther as label & issuer
  web/src/helpers/utils.tsx
Due: prettier --write, eslint

feat: alert status filtering, setting
  api/graphql/schema.graphql
  api/lambda/alerts/models/api.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder_test.go
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/api/get_alert_test.go
  internal/log_analysis/alerts_api/api/list_alerts.go
  internal/log_analysis/alerts_api/api/list_alerts_test.go
  internal/log_analysis/alerts_api/api/update_alert.go
  internal/log_analysis/alerts_api/api/update_alert_test.go
  internal/log_analysis/alerts_api/table/list.go
  internal/log_analysis/alerts_api/table/table.go
  internal/log_analysis/alerts_api/table/update_alert.go
  web/__generated__/schema.tsx
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
  web/src/pages/ListAlerts/ListAlertsTable/ListAlertsTable.tsx
  web/src/pages/RuleDetails/RuleDetailsAlertsTable/RuleDetailsAlertsTable.tsx
Due: prettier --write, eslint

feat: add mock data for GraphQL resources
  package.json
  web/__tests__/__mocks__/resources.generated.ts
  web/__tests__/utils/index.ts
  web/codegen.yml
Due: prettier --write, eslint

fixed up custom certificate documentation
  docs/gitbook/SUMMARY.md
  docs/gitbook/operations/advanced-setup/configuring-custom-domains.md
Due: prettier --write

add lacework event parser
  internal/log_analysis/log_processor/parsers/laceworklogs/lacework.go
  internal/log_analysis/log_processor/parsers/laceworklogs/lacework_test.go
  internal/log_analysis/log_processor/registry/registry.go
  web/src/constants.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
