Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Minor tidies to aws-event-processor
  internal/compliance/aws_event_processor/processor/ec2.go
  internal/compliance/aws_event_processor/processor/kms.go
  internal/compliance/aws_event_processor/processor/lambda.go
  internal/compliance/aws_event_processor/processor/process.go
Due: none

Add fix for guessing vpc events in aws event processor (was dispatching to volume)
  internal/compliance/aws_event_processor/processor/ec2.go
Due: none

Add support for uint8 to schema generation (dropped in previous bad merge)
  tools/cfngen/gluecf/schema.go
Due: none

Lowercased columns files and folders
  web/src/pages/ComplianceOverview/Columns/index.tsx
  web/src/pages/ComplianceOverview/ComplianceOverview.tsx
  web/src/pages/ComplianceOverview/columns/columns.tsx
  web/src/pages/ComplianceOverview/columns/index.tsx
  web/src/pages/Destinations/Columns/index.tsx
  web/src/pages/Destinations/Destinations.tsx
  web/src/pages/Destinations/columns/columns.tsx
  web/src/pages/Destinations/columns/index.tsx
  web/src/pages/ListAlerts/Columns/index.tsx
  web/src/pages/ListAlerts/ListAlertsTable/ListAlertsTable.tsx
  web/src/pages/ListAlerts/columns/columns.tsx
  web/src/pages/ListAlerts/columns/index.tsx
  web/src/pages/ListPolicies/Columns/index.tsx
  web/src/pages/ListPolicies/ListPoliciesTable/ListPoliciesTable.tsx
  web/src/pages/ListPolicies/columns/columns.tsx
  web/src/pages/ListPolicies/columns/index.tsx
  web/src/pages/ListResources/Columns/index.tsx
  web/src/pages/ListResources/ListResourcesTable/ListResourcesTable.tsx
  web/src/pages/ListResources/columns/columns.tsx
  web/src/pages/ListResources/columns/index.tsx
  web/src/pages/ListRules/ListRulesTable/ListRulesTable.tsx
  web/src/pages/ListRules/columns/columns.tsx
  web/src/pages/ListRules/columns/index.tsx
  web/src/pages/PolicyDetails/Columns/index.tsx
  web/src/pages/PolicyDetails/PolicyDetails.tsx
  web/src/pages/PolicyDetails/columns/columns.tsx
  web/src/pages/PolicyDetails/columns/index.tsx
  web/src/pages/ResourceDetails/Columns/index.tsx
  web/src/pages/ResourceDetails/ResourceDetails.tsx
  web/src/pages/ResourceDetails/columns/columns.tsx
  web/src/pages/ResourceDetails/columns/index.tsx
  web/src/pages/RuleDetails/Columns/index.tsx
  web/src/pages/RuleDetails/RuleDetails.tsx
  web/src/pages/RuleDetails/columns/columns.tsx
  web/src/pages/RuleDetails/columns/index.tsx
  web/src/pages/Users/Columns/index.tsx
  web/src/pages/Users/ListUsersTable/ListUsersTable.tsx
  web/src/pages/Users/columns/columns.tsx
  web/src/pages/Users/columns/index.tsx
Due: prettier --write, eslint

Updated python mocking to a more concise syntax
  internal/log_analysis/rules_engine/tests/test_main.py
  internal/log_analysis/rules_engine/tests/test_output.py
Due: none

Moved buttons to Components/Buttons
  web/src/components/Buttons/RemediationButton/RemediationButton.tsx
  web/src/components/Buttons/RemediationButton/index.tsx
  web/src/components/Buttons/SubmitButton/SubmitButton.tsx
  web/src/components/Buttons/SubmitButton/index.tsx
  web/src/components/Buttons/SuppressButton/SuppressButton.tsx
  web/src/components/Buttons/SuppressButton/index.tsx
  web/src/components/Buttons/index.tsx
  web/src/components/Sidesheets/PolicyBulkUploadSidesheet/PolicyBulkUploadSidesheet.tsx
  web/src/components/TableRow/index.tsx
  web/src/components/forms/AnalyticsConsentForm/AnalyticsConsentForm.tsx
  web/src/components/forms/ChangePasswordForm/ChangePasswordForm.tsx
  web/src/components/forms/CompanyInformationForm/CompanyInformationForm.tsx
  web/src/components/forms/EditProfileForm/EditProfileForm.tsx
  web/src/components/forms/ForgotPasswordConfirmForm/ForgotPasswordConfirmForm.tsx
  web/src/components/forms/ForgotPasswordForm/ForgotPasswordForm.tsx
  web/src/components/forms/MfaForm/MfaForm.tsx
  web/src/components/forms/SetPasswordForm/SetPasswordForm.tsx
  web/src/components/forms/SigninForm/SigninForm.tsx
  web/src/components/forms/TotpForm/TotpForm.tsx
  web/src/components/forms/UpdateSourceForm/UpdateSourceForm.tsx
  web/src/components/forms/common/BaseDestinationForm/BaseDestinationForm.tsx
  web/src/components/forms/common/BaseRuleForm/BaseRuleForm.tsx
  web/src/components/forms/common/BaseUserForm/BaseUserForm.tsx
  web/src/components/modals/BaseConfirmModal/BaseConfirmModal.tsx
  web/src/components/modals/NetworkErrorModal/NetworkErrorModal.tsx
  web/src/pages/CreateComplianceSource/SuccessPanel/SuccessPanel.tsx
  web/src/pages/CreateLogSource/SuccessPanel/SuccessPanel.tsx
  web/src/pages/PolicyDetails/columns/columns.tsx
  web/src/pages/ResourceDetails/columns/columns.tsx
Due: prettier --write, eslint

Removed alert from Cloud Security Overview
  web/src/pages/compliance-overview/index.tsx
Due: prettier --write, eslint

force npm resolutions for acorn
  package-lock.json
  package.json
Due: prettier --write

add unsafe perm
  package-lock.json
  package.json
Due: prettier --write

Set MaxRetries to 20 for datacatalog_updater lambda
  internal/log_analysis/datacatalog_updater/main/lambda.go
Due: none

Move rule form in BaseRuleForm
  web/src/components/forms/PolicyForm/PolicyForm.tsx
  web/src/components/forms/RuleForm/RuleForm.tsx
  web/src/components/forms/common/BaseRuleForm/RuleFormCoreFields/RuleFormCoreFields.tsx
  web/src/components/forms/common/BaseRuleForm/RuleFormCoreFields/index.tsx
  web/src/components/forms/common/BaseRuleForm/RuleFormTestFields/RuleFormTestFields.tsx
  web/src/components/forms/common/BaseRuleForm/RuleFormTestFields/index.tsx
  web/src/components/forms/common/BaseRuleForm/RuleFormTestResult/RuleFormTestResult.tsx
  web/src/components/forms/common/BaseRuleForm/RuleFormTestResult/index.tsx
  web/src/components/forms/common/BaseRuleForm/RuleFormTestResultList/RuleFormTestResultList.tsx
  web/src/components/forms/common/BaseRuleForm/RuleFormTestResultList/index.tsx
  web/src/components/forms/common/BaseRuleForm/index.tsx
  web/src/hooks/useEditRule.tsx
Due: prettier --write, eslint

Lowercase Sidesheets
  web/src/components/sidesheets/AddDestinationSidesheet/AddDestinationSidesheet.tsx
  web/src/components/sidesheets/AddDestinationSidesheet/index.tsx
  web/src/components/sidesheets/EditAccountSidesheet/EditAccountSidesheet.tsx
  web/src/components/sidesheets/EditAccountSidesheet/index.tsx
  web/src/components/sidesheets/EditUserSidesheet/EditUser.tsx
  web/src/components/sidesheets/EditUserSidesheet/EditUserSidesheet.tsx
  web/src/components/sidesheets/EditUserSidesheet/index.tsx
  web/src/components/sidesheets/PolicyBulkUploadSidesheet/PolicyBulkUploadSidesheet.tsx
  web/src/components/sidesheets/PolicyBulkUploadSidesheet/index.tsx
  web/src/components/sidesheets/SelectDestinationSidesheet/SelectDestinationSidesheet.tsx
  web/src/components/sidesheets/SelectDestinationSidesheet/index.tsx
  web/src/components/sidesheets/UpdateDestinationSidesheet/UpdateDestinationSidesheet.tsx
  web/src/components/sidesheets/UpdateDestinationSidesheet/index.tsx
  web/src/components/sidesheets/UpdateSourceSidesheet/UpdateSourceSidesheet.tsx
  web/src/components/sidesheets/UpdateSourceSidesheet/index.tsx
  web/src/components/sidesheets/UserInvitationSidesheet/UserInvitationSidesheet.tsx
  web/src/components/sidesheets/UserInvitationSidesheet/index.tsx
  web/src/components/utils/Sidesheet/SidesheetContext.tsx
  web/src/components/utils/Sidesheet/SidesheetManager.tsx
Due: prettier --write, eslint

Moved forms out of common
  web/src/components/forms/AsanaDestinationForm/AsanaDestinationForm.tsx
  web/src/components/forms/BaseDestinationForm/BaseDestinationForm.tsx
  web/src/components/forms/BaseDestinationForm/index.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleForm.tsx
  web/src/components/forms/BaseRuleForm/RuleFormCoreFields/RuleFormCoreFields.tsx
  web/src/components/forms/BaseRuleForm/RuleFormCoreFields/index.tsx
  web/src/components/forms/BaseRuleForm/RuleFormTestFields/RuleFormTestFields.tsx
  web/src/components/forms/BaseRuleForm/RuleFormTestFields/index.tsx
  web/src/components/forms/BaseRuleForm/RuleFormTestResult/RuleFormTestResult.tsx
  web/src/components/forms/BaseRuleForm/RuleFormTestResult/index.tsx
  web/src/components/forms/BaseRuleForm/RuleFormTestResultList/RuleFormTestResultList.tsx
  web/src/components/forms/BaseRuleForm/RuleFormTestResultList/index.tsx
  web/src/components/forms/BaseRuleForm/index.tsx
  web/src/components/forms/BaseUserForm/BaseUserForm.tsx
  web/src/components/forms/BaseUserForm/index.tsx
  web/src/components/forms/GithubDestinationForm/GithubDestinationForm.tsx
  web/src/components/forms/JiraDestinationForm/JiraDestination.tsx
  web/src/components/forms/MicrosoftTeamsDestinationForm/MicrosoftTeamsDestinationForm.tsx
  web/src/components/forms/OpsgenieDestinationForm/OpsgenieDestinationForm.tsx
  web/src/components/forms/PagerdutyDestinationForm/PagerdutyDestinationForm.tsx
  web/src/components/forms/PolicyForm/PolicyForm.tsx
  web/src/components/forms/RuleForm/RuleForm.tsx
  web/src/components/forms/SlackDestinationForm/SlackDestinationForm.tsx
  web/src/components/forms/SnsDestinationForm/SnsDestinationForm.tsx
  web/src/components/forms/SqsDestinationForm/SqsDestinationForm.tsx
  web/src/components/forms/UserInvitationForm/UserInvitationForm.tsx
  web/src/components/sidesheets/AddDestinationSidesheet/AddDestinationSidesheet.tsx
  web/src/components/sidesheets/EditUserSidesheet/EditUser.tsx
  web/src/components/sidesheets/UpdateDestinationSidesheet/UpdateDestinationSidesheet.tsx
  web/src/hooks/useEditRule.tsx
Due: prettier --write, eslint

Moved columns from folders
  web/src/pages/ComplianceOverview/columns.tsx
  web/src/pages/ComplianceOverview/columns/index.tsx
  web/src/pages/Destinations/columns.tsx
  web/src/pages/Destinations/columns/index.tsx
  web/src/pages/ListAlerts/columns.tsx
  web/src/pages/ListAlerts/columns/index.tsx
  web/src/pages/ListPolicies/columns.tsx
  web/src/pages/ListPolicies/columns/index.tsx
  web/src/pages/ListResources/columns.tsx
  web/src/pages/ListResources/columns/index.tsx
  web/src/pages/ListRules/columns.tsx
  web/src/pages/ListRules/columns/index.tsx
  web/src/pages/PolicyDetails/columns.tsx
  web/src/pages/PolicyDetails/columns/index.tsx
  web/src/pages/ResourceDetails/columns.tsx
  web/src/pages/ResourceDetails/columns/index.tsx
  web/src/pages/RuleDetails/columns.tsx
  web/src/pages/RuleDetails/columns/index.tsx
  web/src/pages/Users/columns.tsx
  web/src/pages/Users/columns/index.tsx
Due: prettier --write, eslint

Changed complianceSourceColumns & LogSourceColumns to columns
  web/src/pages/ListComplianceSources/ComplianceSourceTable/ComplianceSourceTable.tsx
  web/src/pages/ListComplianceSources/columns.tsx
  web/src/pages/ListComplianceSources/complianceSourceColumns/index.tsx
  web/src/pages/ListLogSources/LogSourceColumns/index.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceTable.tsx
  web/src/pages/ListLogSources/columns.tsx
Due: prettier --write, eslint

Renamed RuleForm to BaseRulesForm
  web/src/components/forms/BaseRuleForm/BaseRuleFormCoreFields/BaseRuleFormCoreFields.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormCoreFields/index.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestFields/BaseRuleFormTestFields.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestFields/index.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestResult/BaseRuleFormTestResult.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestResult/index.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestResultList/BaseRuleFormTestResultList.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestResultList/index.tsx
  web/src/components/forms/BaseRuleForm/RuleFormCoreFields/index.tsx
  web/src/components/forms/BaseRuleForm/RuleFormTestFields/index.tsx
  web/src/components/forms/BaseRuleForm/RuleFormTestResult/index.tsx
  web/src/components/forms/BaseRuleForm/RuleFormTestResultList/index.tsx
  web/src/components/forms/BaseRuleForm/index.tsx
  web/src/components/forms/PolicyForm/PolicyForm.tsx
  web/src/components/forms/RuleForm/RuleForm.tsx
Due: prettier --write, eslint

patch kind-of to secure version
  package-lock.json
  package.json
Due: prettier --write

fixing depluyment issue
  deployments/auxiliary/cloudformation/panther-compliance-iam.yml
  deployments/onboard.yml
Due: none

Fixing linting issue
  deployments/onboard.yml
Due: none

Adding back MasterAccountId value
  deployments/auxiliary/cloudformation/panther-compliance-iam.yml
Due: none

Fixed typo
  deployments/auxiliary/cloudformation/panther-compliance-iam.yml
Due: none

Reverted to previous format
  deployments/auxiliary/cloudformation/panther-compliance-iam.yml
Due: none

Work in progress
  api/lambda/alerts/models/api.go
  internal/log_analysis/alerts_api/api/api.go
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/api/list_alerts.go
  internal/log_analysis/alerts_api/table/table.go
Due: none

Adding tests for new usecase
  internal/log_analysis/alerts_api/api/get_alert_test.go
  internal/log_analysis/alerts_api/api/list_alerts_test.go
Due: none

Fixing formatting
  internal/log_analysis/alerts_api/api/get_alert_test.go
  internal/log_analysis/alerts_api/api/list_alerts_test.go
Due: none

Fixed failing test
  internal/log_analysis/alerts_api/api/get_alert_test.go
Due: none

Added dedup string to Graphql schema
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/pages/AlertDetails/AlertDetails.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
Due: prettier --write, eslint

Removed duplicate cases.
  tools/cfngen/gluecf/schema.go
Due: none

Prevent naming conflict with parsers in syslog tests.
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc3164_test.go
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc5424_test.go
Due: none

Added missing int16 case in gluecf mapping.
  tools/cfngen/gluecf/schema.go
Due: none

Make comment explicit for all three unsigned integer mappings.
  tools/cfngen/gluecf/schema.go
Due: none

addressed PR feedback
  internal/core/source_api/api/delete_integration_test.go
Due: none

fixing policy default assumption
  internal/compliance/resource_processor/processor/analysis_api.go
Due: none

Fix cf name generation to use alnum (not alpha)
  tools/cfngen/cf.go
Due: none

fixed references
  internal/compliance/alert_processor/processor/processor_test.go
  internal/compliance/compliance_api/main/integration_test.go
  internal/compliance/resource_processor/processor/analysis_api.go
  internal/compliance/resource_processor/processor/handler.go
Due: none

added two more ignores
  internal/compliance/aws_event_processor/processor/process.go
Due: none

Update mage deploy/teardown to gracefully handle onboarding CloudSec
  deployments/auxiliary/cloudformation/panther-compliance-iam.yml
  deployments/backend.yml
  deployments/compliance/remediation.yml
  deployments/compliance/snapshot.yml
  tools/mage/build_namespace.go
  tools/mage/deploy.go
  tools/mage/deploy_onboard.go
  tools/mage/teardown.go
  tools/mage/util.go
Due: none

Fix swagger generate and go tests
  tools/mage/build_namespace.go
  tools/mage/fmt.go
  tools/mage/test_namespace.go
Due: none

Regenerate all Swagger APIs
  api/gateway/compliance/client/operations/delete_status_parameters.go
  api/gateway/compliance/client/operations/delete_status_responses.go
  api/gateway/compliance/client/operations/describe_org_responses.go
  api/gateway/compliance/client/operations/describe_policy_responses.go
  api/gateway/compliance/client/operations/describe_resource_responses.go
  api/gateway/compliance/client/operations/get_org_overview_responses.go
  api/gateway/compliance/client/operations/get_status_responses.go
  api/gateway/compliance/client/operations/operations_client.go
  api/gateway/compliance/client/operations/set_status_parameters.go
  api/gateway/compliance/client/operations/set_status_responses.go
  api/gateway/compliance/client/operations/update_metadata_parameters.go
  api/gateway/compliance/client/operations/update_metadata_responses.go
  api/gateway/compliance/client/panther_compliance_client.go
  api/gateway/remediation/client/operations/list_remediations_responses.go
  api/gateway/remediation/client/operations/operations_client.go
  api/gateway/remediation/client/operations/remediate_resource_async_parameters.go
  api/gateway/remediation/client/operations/remediate_resource_async_responses.go
  api/gateway/remediation/client/operations/remediate_resource_parameters.go
  api/gateway/remediation/client/operations/remediate_resource_responses.go
  api/gateway/remediation/client/panther_remediation_client.go
  api/gateway/remediation/models/error.go
  api/gateway/resources/client/operations/add_resources_parameters.go
  api/gateway/resources/client/operations/add_resources_responses.go
  api/gateway/resources/client/operations/delete_resources_parameters.go
  api/gateway/resources/client/operations/delete_resources_responses.go
  api/gateway/resources/client/operations/get_org_overview_responses.go
  api/gateway/resources/client/operations/get_resource_responses.go
  api/gateway/resources/client/operations/list_resources_responses.go
  api/gateway/resources/client/operations/modify_resource_parameters.go
  api/gateway/resources/client/operations/modify_resource_responses.go
  api/gateway/resources/client/operations/operations_client.go
  api/gateway/resources/client/panther_resources_client.go
  internal/compliance/remediation_api/handlers/post.go
  internal/compliance/remediation_api/remediation/invoke.go
  internal/compliance/remediation_api/remediation/invoke_test.go
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
