Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Updated naming for regex
  web/src/constants.ts
  web/src/helpers/utils.tsx
Due: prettier --write, eslint

Changed flex for Title Column
  web/src/pages/ListAlerts/columns.tsx
Due: prettier --write, eslint

Fixed broken <Link>
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
Due: prettier --write, eslint

Make the default for listing tables to only show populated tables
  api/lambda/database/models/api.go
  internal/core/database_api/athena/driver/api/get_tables.go
  internal/core/database_api/athena/driver/api/integration_test.go
Due: none

Change unPopulated to IncludePopulatedTablesOnly in listing tables to make boolean positive
  api/lambda/database/models/api.go
  docs/gitbook/log-analysis/log-processing/supported-logs/GitLab.md
  internal/core/database_api/athena/driver/api/get_tables.go
  internal/core/database_api/athena/driver/api/integration_test.go
  internal/core/database_api/athena/driver/api/notify_appsync.go
Due: prettier --write

Fix validation for first digest entry
  docs/gitbook/log-analysis/log-processing/supported-logs/AWS.md
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_digest.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_digest_test.go
Due: prettier --write

upgrade to latest pounce api
  web/src/components/Navigation/HistoricalSearchNavigation.tsx
  web/src/pages/SQLShell/Browser/Browser.tsx
  web/src/pages/SQLShell/Browser/ColumnList/ColumnList.tsx
  web/src/pages/SQLShell/Browser/ColumnList/ColumnListItem.tsx
  web/src/pages/SQLShell/Results/ResultsTable/ResultsTable.tsx
  web/src/pages/SQLShell/SQLShell.tsx
Due: prettier --write, eslint

addressed pr feedback
  internal/core/analysis_api/handlers/bulk_upload.go
  internal/core/analysis_api/handlers/util.go
Due: none

remove `queryDone` subscription
  api/graphql/schema.graphql
  deployments/appsync.yml
  web/__generated__/schema.tsx
Due: prettier --write, eslint

removed extraneous debug messages
  internal/core/analysis_api/handlers/util.go
Due: none

remove un-used QueryDone type
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
Due: prettier --write, eslint

Make athenaviews.generateLogViews package public
  tools/athenaviews/athenaviews.go
  tools/athenaviews/athenaviews_test.go
Due: none

revert removals to commenting out
  api/graphql/schema.graphql
  deployments/appsync.yml
  web/__generated__/schema.tsx
Due: prettier --write, eslint

WIP pantherlog decouple
  internal/log_analysis/log_processor/classification/classifier.go
  internal/log_analysis/log_processor/classification/classifier_test.go
  internal/log_analysis/log_processor/destinations/destinations.go
  internal/log_analysis/log_processor/destinations/firehose.go
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/log_processor/parsers/gitlablogs/api.go
  internal/log_analysis/log_processor/parsers/gitlablogs/audit.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
  internal/log_analysis/log_processor/parsers/pantherlog_test.go
  internal/log_analysis/log_processor/parsers/parsers.go
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
  internal/log_analysis/log_processor/parsers/timestamp/timestamp.go
  internal/log_analysis/log_processor/parsers/zeeklogs/dns.go
Due: none

Remove GrapQL and CF for athena query subscriptions (not yet used by UI)
  api/graphql/schema.graphql
  deployments/appsync.yml
  internal/core/database_api/athena/driver/api/integration_test.go
  web/__generated__/schema.tsx
Due: prettier --write, eslint

Link to new doc versions
  docs/gitbook/development.md
  docs/gitbook/quick-start.md
  web/src/helpers/utils.tsx
Due: prettier --write, eslint

Remove AdditionalAuthenticationProviders from GraphQLApi in boostrap.yml
  deployments/bootstrap.yml
  internal/core/database_api/athena/driver/api/integration_test.go
Due: none

Add step function to deployment role
  deployments/auxiliary/cloudformation/panther-deployment-role.yml
  deployments/auxiliary/terraform/panther_deployment_role/main.tf
  deployments/auxiliary/terraform/panther_deployment_role/variables.tf
Due: none

Modified go.* in fresh setup
  go.mod
  go.sum
Due: none

Remove trailing quote
  deployments/auxiliary/cloudformation/panther-deployment-role.yml
Due: none

[WIP] What a nice composition of interfaces
  internal/log_analysis/log_processor/classification/classifier.go
  internal/log_analysis/log_processor/parsers/gitlablogs/api.go
  internal/log_analysis/log_processor/parsers/gitlablogs/api_test.go
  internal/log_analysis/log_processor/parsers/gitlablogs/audit.go
  internal/log_analysis/log_processor/parsers/gitlablogs/audit_test.go
  internal/log_analysis/log_processor/parsers/gitlablogs/exceptions.go
  internal/log_analysis/log_processor/parsers/gitlablogs/exceptions_test.go
  internal/log_analysis/log_processor/parsers/gitlablogs/git.go
  internal/log_analysis/log_processor/parsers/gitlablogs/git_test.go
  internal/log_analysis/log_processor/parsers/gitlablogs/integrations.go
  internal/log_analysis/log_processor/parsers/gitlablogs/integrations_test.go
  internal/log_analysis/log_processor/parsers/gitlablogs/rails.go
  internal/log_analysis/log_processor/parsers/gitlablogs/rails_test.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
  internal/log_analysis/log_processor/parsers/zeeklogs/dns.go
  internal/log_analysis/log_processor/parsers/zeeklogs/dns_test.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/processor/processor_test.go
Due: none

add SeverityBadge compomnent
  web/src/components/SeverityBadge/SeverityBadge.tsx
  web/src/components/SeverityBadge/index.tsx
Due: prettier --write, eslint

bump pounce to latest
  package-lock.json
  package.json
Due: prettier --write

refactor ComplianceOverview tables
  web/src/pages/ComplianceOverview/ComplianceOverview.tsx
  web/src/pages/ComplianceOverview/columns.tsx
Due: prettier --write, eslint

User page tables
  web/src/pages/Users/ListUsersTable/ListUsersTable.tsx
  web/src/pages/Users/ListUsersTableRowOptions/ListUsersTableRowOptions.tsx
  web/src/pages/Users/columns.tsx
Due: prettier --write, eslint

refactor destination page tables
  package-lock.json
  package.json
  web/src/pages/Destinations/Destinations.tsx
  web/src/pages/Destinations/ListDestinationsTable/ListDestinationsTable.tsx
  web/src/pages/Destinations/ListDestinationsTable/index.tsx
  web/src/pages/Destinations/ListDestinationsTableRowOptions/ListDestinationsTableRowOptions.tsx
  web/src/pages/Destinations/ListDestinationsTableRowOptions/index.tsx
  web/src/pages/Destinations/columns.tsx
Due: prettier --write, eslint

refactor user & destination components
  web/src/pages/Destinations/ListDestinationsTable/ListDestinationsTable.tsx
  web/src/pages/Destinations/ListDestinationsTable/ListDestinationsTableRowOptions/ListDestinationsTableRowOptions.tsx
  web/src/pages/Destinations/ListDestinationsTable/ListDestinationsTableRowOptions/index.tsx
  web/src/pages/Users/ListUsers/ListUsers.tsx
  web/src/pages/Users/ListUsers/graphql/listUsers.generated.ts
  web/src/pages/Users/ListUsers/graphql/listUsers.graphql
  web/src/pages/Users/ListUsers/index.tsx
  web/src/pages/Users/ListUsersTable/ListUsersTable.tsx
  web/src/pages/Users/ListUsersTable/ListUsersTableRowOptions/ListUsersTableRowOptions.tsx
  web/src/pages/Users/ListUsersTable/ListUsersTableRowOptions/index.tsx
  web/src/pages/Users/Users.tsx
Due: prettier --write, eslint

Remove commented code
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_digest.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_digest_test.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
Due: none

Fix alphabetical order for constants
  web/src/constants.ts
Due: prettier --write, eslint

Revert "Remove commented code"
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_digest.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_digest_test.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
Due: none

Add p_any_sha256_hashes to test mage:deploy
  docs/gitbook/log-analysis/log-processing/supported-logs/AWS.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Fluentd.md
  docs/gitbook/log-analysis/log-processing/supported-logs/GitLab.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Nginx.md
  docs/gitbook/log-analysis/log-processing/supported-logs/OSSEC.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Osquery.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Suricata.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Syslog.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Zeek.md
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_digest.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_digest_test.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
Due: prettier --write

Pass athenaviews_test
  tools/athenaviews/athenaviews_test.go
Due: none

refactor list alert table
  api/graphql/schema.graphql
  package-lock.json
  package.json
  web/__generated__/schema.tsx
  web/src/pages/ListAlerts/ListAlertsTable/ListAlertsTable.tsx
  web/src/pages/ListAlerts/columns.tsx
Due: prettier --write, eslint

Added addHeaders middleware
  web/scripts/serve.js
Due: prettier --write, eslint

refactor rule details table
  web/src/pages/RuleDetails/RuleDetails.tsx
  web/src/pages/RuleDetails/RuleDetailsAlertsTable/RuleDetailsAlertsTable.tsx
  web/src/pages/RuleDetails/RuleDetailsAlertsTable/index.tsx
  web/src/pages/RuleDetails/columns.tsx
Due: prettier --write, eslint

Add Enterprise Snowflake documentation
  docs/gitbook/.gitbook/assets/snowflake-run.png
  docs/gitbook/.gitbook/assets/snowflake-upload.png
  docs/gitbook/SUMMARY.md
  docs/gitbook/enterprise/snowflake.md
Due: prettier --write

Doc edits
  docs/gitbook/enterprise/snowflake.md
Due: prettier --write

handle resource details table
  package-lock.json
  package.json
  web/src/pages/ListAlerts/ListAlertsTable/ListAlertsTable.tsx
  web/src/pages/ListResources/columns.tsx
  web/src/pages/ResourceDetails/ResourceDetails.tsx
  web/src/pages/ResourceDetails/ResourceDetailsTable/ResourceDetailsTable.tsx
  web/src/pages/ResourceDetails/columns.tsx
  web/src/pages/RuleDetails/RuleDetailsAlertsTable/RuleDetailsAlertsTable.tsx
Due: prettier --write, eslint

handle list resources table
  web/src/pages/ListResources/ListResourcesTable/ListResourcesTable.tsx
Due: prettier --write, eslint

Bump deployment image version in dev.sh
  dev.sh
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
