Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

More user-friendly error message
  pkg/genericapi/router.go
Due: none

Update unit test
  pkg/genericapi/router_test.go
Due: none

fmt
  pkg/genericapi/router_test.go
Due: none

Move glue mocks to testutils.awsmocks.go
  internal/log_analysis/datacatalog_updater/process/glue_test.go
  internal/log_analysis/datacatalog_updater/process/init_test.go
  pkg/testutils/awsmocks.go
Due: none

Refactor PartitionValuesFromTime as a method of GlueTableTimebi
  pkg/awsglue/glue.go
  pkg/awsglue/glue_timebin.go
Due: none

Change GetDataPrefix() it explicitly work with test databases
  pkg/awsglue/glue.go
  pkg/awsglue/glue_test.go
Due: none

Add a *GlueTableMetadata member to GlueParition, reference for glue catalog access
  pkg/awsglue/partition.go
Due: none

Respond to PR with small change to getPartition()
  internal/log_analysis/datacatalog_updater/process/process.go
Due: none

Change method GetHour() to GetTime()
  pkg/awsglue/partition.go
Due: none

Refactor test init
  internal/log_analysis/datacatalog_updater/process/init_test.go
  internal/log_analysis/datacatalog_updater/process/process_test.go
Due: none

Remove Create/Get Partition from GluePartition and indirect through member in GluePartition when needed
  internal/log_analysis/datacatalog_updater/process/process.go
  pkg/awsglue/partition.go
  pkg/awsglue/partition_test.go
Due: none

Add alb latency and 5XX alarms
  tools/cfngen/cloudwatchcf/alarms.go
  tools/cfngen/cloudwatchcf/alarms_elb.go
  tools/cfngen/cloudwatchcf/testdata/generated_test_alarms.json
Due: prettier --write

White CreateResolver for aws event processor
  internal/compliance/aws_event_processor/processor/process.go
Due: none

Add PantherEdition tag so it easy to tell apart Enterprise vs OpenSource
  tools/mage/deploy_template.go
Due: none

Remove un-needed permissions in log_analysis.yml
  deployments/log_analysis.yml
Due: none

Move log processor sqs mocks pkg/testutils
  internal/log_analysis/log_processor/processor/stream_test.go
  pkg/testutils/awsmocks.go
Due: none

Simplify regex to allow IP addresses
  web/src/constants.ts
Due: prettier --write, eslint

Revert fetch policy to cache-and-network
  web/src/pages/ListResources/ListResources.tsx
  web/src/pages/PolicyDetails/PolicyDetails.tsx
  web/src/pages/ResourceDetails/ResourceDetails.tsx
  web/src/pages/RuleDetails/RuleDetails.tsx
Due: prettier --write, eslint

Updated GlobalModuleDetails schema
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/pages/EditGlobaModule/EditGlobalModule.tsx
Due: prettier --write, eslint

Fixed breadcrumb module url
  web/src/urls.ts
Due: prettier --write, eslint

add `All` as option. Change boolean attr to string
  web/src/components/utils/GenerateFiltersGroup/GenerateFiltersGroup.tsx
  web/src/pages/ListPolicies/ListPoliciesActions/ListPoliciesActions.tsx
  web/src/pages/ListRules/ListRulesActions/ListRulesActions.tsx
Due: prettier --write, eslint

add data explorer docs
  docs/gitbook/.gitbook/assets/data-explorer.png
  docs/gitbook/enterprise/data-explorer.md
Due: prettier --write

add data explorer menu entry
  docs/gitbook/enterprise/README.md
Due: prettier --write

add top-level menu entry
  docs/gitbook/SUMMARY.md
Due: prettier --write

Added link for global module on rules/policies for Add/Edit
  web/src/components/forms/BaseRuleForm/BaseRuleFormCoreFields/BaseRuleFormCoreFields.tsx
Due: prettier --write, eslint

Moved global link after body label
  web/src/components/forms/BaseRuleForm/BaseRuleFormCoreFields/BaseRuleFormCoreFields.tsx
Due: prettier --write, eslint

update phrasing
  docs/gitbook/enterprise/data-explorer.md
Due: prettier --write

added cased to handle DeleteVpc api call
  internal/compliance/aws_event_processor/processor/ec2.go
Due: none

added default resource expire time
  internal/compliance/resources_api/handlers/add_resources.go
Due: none

First draft of Custom::Certificate resource
  deployments/bootstrap_gateway.yml
  docs/gitbook/operations/runbooks.md
  internal/core/custom_resources/main/lambda.go
  internal/core/custom_resources/resources/certificate.go
  internal/core/custom_resources/resources/clients.go
  internal/core/custom_resources/resources/map.go
Due: prettier --write

update screenshot
  docs/gitbook/.gitbook/assets/data-explorer.png
Due: none

Respond to PR
  tools/mage/deploy_template.go
Due: none

Updated editProfile to use users-api instead of cognito
  web/src/components/forms/EditProfileForm/EditProfileForm.tsx
Due: prettier --write, eslint

handle nullable alert
  web/src/pages/AlertDetails/AlertDetails.tsx
Due: prettier --write, eslint

Updates based on review
  web/src/components/forms/EditProfileForm/EditProfileForm.tsx
Due: prettier --write, eslint

Removal of updateUserInfo from AuthContet
  web/src/components/utils/AuthContext/AuthContext.tsx
Due: prettier --write, eslint

Add default text for min length. Fix #670
  web/src/helpers/utils.tsx
Due: prettier --write, eslint

ignore suppressed resources froom passing/failing in Cloud Security details pages. Fix #620
  web/src/pages/PolicyDetails/PolicyDetails.tsx
  web/src/pages/ResourceDetails/ResourceDetails.tsx
Due: prettier --write, eslint

Added snackbar
  web/src/components/forms/EditProfileForm/EditProfileForm.tsx
Due: prettier --write, eslint

Updated link to global text
  web/src/components/forms/BaseRuleForm/BaseRuleFormCoreFields/BaseRuleFormCoreFields.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
