Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

remove duplicate check and unnecessary logger messages
  internal/core/analysis_api/handlers/create_datamodel.go
  internal/core/analysis_api/handlers/modify_datamodel.go
Due: none

add check for atleast a method or field
  internal/core/analysis_api/handlers/bulk_upload.go
Due: none

update return status
  internal/core/analysis_api/handlers/create_datamodel.go
  internal/core/analysis_api/handlers/modify_datamodel.go
Due: none

Rename BuildJSON to something more specific and add warnings
  cmd/devtools/logprocessor/logprocessor/main.go
  cmd/devtools/pantherlog/pantherlog/main.go
  internal/log_analysis/log_processor/common/json.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/factory.go
  internal/log_analysis/log_processor/processor/stream.go
  internal/log_analysis/log_processor/sources/sqs.go
Due: none

fix: reverse order of data
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
Due: prettier --write, eslint

fix: display format on DateRangeInput
  web/src/pages/ListAlerts/ListAlertBreadcrumbFilters/ListAlertBreadcrumbFilters.tsx
  web/src/pages/LogAnalysisOverview/LogAnalysisOverviewBreadcrumbFilters/LogAnalysisOverviewBreadcrumbFilters.tsx
Due: prettier --write, eslint

fix: reduce un-needed width from Comboboox
  web/src/pages/LogAnalysisOverview/LogAnalysisOverviewBreadcrumbFilters/LogAnalysisOverviewBreadcrumbFilters.tsx
Due: prettier --write, eslint

fix: correct active filter calculation
  web/src/pages/ListAlerts/ListAlertFilters/DropdownFilters.tsx
  web/src/pages/ListPolicies/ListPoliciesActions/ListPoliciesActions.tsx
  web/src/pages/ListResources/ListResourcesActions/ListResourcesActions.tsx
Due: prettier --write, eslint

test: implement integration tests for ListAlerts
  web/src/hooks/useUrlParams.tsx
  web/src/pages/ListAlerts/ListAlerts.test.tsx
Due: prettier --write, eslint

fix: reverse order of data (#1988)
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
Due: prettier --write, eslint

Remove double error handling leading to double logging
  internal/compliance/resource_processor/processor/analysis_api.go
Due: none

Fix gzip files mis-detected as ms-fontobject sometimes
  internal/compliance/resource_processor/processor/analysis_api.go
  internal/log_analysis/log_processor/common/common.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/processor/processor_test.go
  internal/log_analysis/log_processor/sources/s3.go
  internal/log_analysis/log_processor/sources/s3_test.go
Due: none

fix: reset pagination upon filtering
  web/src/pages/ListRules/ListRulesBreadcrumbFilters/ListRulesBreadcrumbFilters.tsx
Due: prettier --write, eslint

Updated schema for RuleSummary
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/pages/ListRules/graphql/listRules.generated.ts
  web/src/pages/ListRules/graphql/listRules.graphql
Due: prettier --write, eslint

for now, only allow one logtype per data model
  internal/core/analysis_api/handlers/bulk_upload.go
  internal/core/analysis_api/handlers/create_datamodel.go
  internal/core/analysis_api/main/integration_test.go
Due: none

fix: spacing for edge case values of filters
  web/src/pages/ListRules/ListRulesFilters/ListRulesFilters.tsx
Due: prettier --write, eslint

chore: minor test refactors on alerts
  web/src/pages/ListAlerts/ListAlerts.test.tsx
Due: prettier --write, eslint

test: write integration tests for rule listing
  web/src/pages/ListRules/ListRules.test.tsx
  web/src/pages/ListRules/ListRulesFilters/DropdownFilters.tsx
Due: prettier --write, eslint

mage gen fmt
  web/src/pages/ListAlerts/ListAlerts.test.tsx
  web/src/pages/ListRules/ListRules.test.tsx
Due: prettier --write, eslint

added tests and fixed some issues found with issues
  deployments/panther_config.yml
  internal/log_analysis/rules_engine/src/__init__.py
  internal/log_analysis/rules_engine/src/analysis_api.py
  internal/log_analysis/rules_engine/src/data_model.py
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/src/enriched_event.py
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_data_model.py
  internal/log_analysis/rules_engine/tests/test_engine.py
  internal/log_analysis/rules_engine/tests/test_enriched_event.py
  requirements.txt
Due: none

feat: added outputIds to PolicySummary and RuleSummary
  api/gateway/analysis/api.yml
  api/gateway/analysis/models/policy_summary.go
  api/gateway/analysis/models/rule_summary.go
  api/graphql/schema.graphql
  internal/core/analysis_api/handlers/dynamo.go
  internal/core/analysis_api/handlers/list.go
  internal/core/analysis_api/handlers/list_test.go
  internal/core/analysis_api/main/integration_test.go
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/graphql/fragments/PolicyTeaser.generated.ts
  web/src/graphql/fragments/PolicyTeaser.graphql
Due: prettier --write, eslint

Intermediate checkpoint
  api/gateway/analysis/api.yml
  api/lambda/analysis/models/api.go
  api/lambda/compliance/models/api.go
Due: none

Reverting reading change
  internal/log_analysis/log_processor/processor/processor.go
Due: none

remove extra line
  internal/log_analysis/log_processor/processor/processor.go
Due: none

Fix reading
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/sources/s3.go
Due: none

Reverting reading change (#1995)
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/sources/s3.go
Due: none

chore: bump pounce
  package-lock.json
  package.json
Due: prettier --write

fix: reset pagination upon filtering (#1990)
  package-lock.json
  package.json
  web/src/pages/ListRules/ListRulesBreadcrumbFilters/ListRulesBreadcrumbFilters.tsx
Due: prettier --write, eslint

Fixes based on feedback
  web/src/components/cards/AlertCard/AlertCard.tsx
  web/src/components/utils/SelectContext/SelectAllCheckbox.tsx
  web/src/components/utils/SelectContext/SelectCheckbox.tsx
  web/src/components/utils/SelectContext/SelectContext.tsx
  web/src/pages/ListAlerts/ListAlertFilters/ListAlertFilters.tsx
  web/src/pages/ListAlerts/ListAlertSelection/ListAlertSelection.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
Due: prettier --write, eslint

Updated snap
  web/src/components/cards/AlertCard/__snapshots__/AlertCard.test.tsx.snap
Due: none

Small fixes
  web/src/components/cards/AlertCard/AlertCard.tsx
  web/src/components/utils/SelectContext/SelectCheckbox.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
Due: prettier --write, eslint

Bulk change Alert statuses [1/2] (#1956)
  web/src/components/cards/AlertCard/AlertCard.tsx
  web/src/components/cards/AlertCard/__snapshots__/AlertCard.test.tsx.snap
  web/src/components/utils/SelectContext/SelectAllCheckbox.tsx
  web/src/components/utils/SelectContext/SelectCheckbox.tsx
  web/src/components/utils/SelectContext/SelectContext.tsx
  web/src/components/utils/SelectContext/index.tsx
  web/src/helpers/compose.ts
  web/src/pages/ListAlerts/ListAlertFilters/ListAlertFilters.tsx
  web/src/pages/ListAlerts/ListAlertSelection/ListAlertSelection.tsx
  web/src/pages/ListAlerts/ListAlertSelection/index.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
  web/src/pages/ListAlerts/ListAlertsActions/index.tsx
Due: prettier --write, eslint

fix: add logo and better title for edit destination
  web/src/components/wizards/EditDestinationWizard/ConfigureDestinationPanel/ConfigureDestinationPanel.tsx
Due: prettier --write, eslint

Added useDetectionDestinations hook for getting destinatios for rules
  web/src/components/RelatedDestinations/RelatedDestinations.tsx
  web/src/components/cards/RuleCard/RuleCard.tsx
  web/src/graphql/queries/listDestinations.generated.ts
  web/src/graphql/queries/listDestinations.graphql
  web/src/hooks/__tests__/useDetectionDestinations.test.tsx
  web/src/hooks/useDetectionDestinations.tsx
Due: prettier --write, eslint

Added RelatedDestinations to RuleDetails
  web/src/hooks/useDetectionDestinations.tsx
  web/src/pages/RuleDetails/RuleCardDetails/RuleCardDetails.tsx
Due: prettier --write, eslint

Updated tests
  web/src/components/cards/RuleCard/RuleCard.test.tsx
  web/src/pages/RuleDetails/RuleDetails.test.tsx
Due: prettier --write, eslint

change to two dicts for callable vs jsonpaths
  internal/log_analysis/rules_engine/src/data_model.py
  internal/log_analysis/rules_engine/src/enriched_event.py
  internal/log_analysis/rules_engine/tests/test_data_model.py
  internal/log_analysis/rules_engine/tests/test_engine.py
Due: none

Fix tests
  go.mod
  go.sum
  internal/compliance/datalake_forwarder/forwarder/compliance.go
  internal/compliance/datalake_forwarder/forwarder/resources.go
  internal/compliance/datalake_forwarder/utils/comparisons.go
  internal/log_analysis/log_processor/parsers/snapshots/compliance.go
  internal/log_analysis/log_processor/parsers/snapshots/compliance_test.go
  internal/log_analysis/log_processor/parsers/snapshots/resources.go
  internal/log_analysis/log_processor/parsers/snapshots/resources_test.go
  internal/log_analysis/log_processor/parsers/snapshots/snapshots.go
  internal/log_analysis/log_processor/parsers/snapshots/snapshots_test.go
  internal/log_analysis/log_processor/parsers/snapshots/testdata/snapshot_tests.yml
  pkg/awsevents/dynamodb.go
  pkg/awsevents/dynamodb_test.go
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
