Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Updated schema for List
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/components/Navigation/SettingsNavigation.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormCoreFields/BaseRuleFormCoreFields.tsx
  web/src/pages/ListGlobalModules/ListGlobalModules.tsx
  web/src/pages/ListGlobalModules/graphql/listGlobalModules.generated.ts
  web/src/pages/ListGlobalModules/graphql/listGlobalModules.graphql
  web/src/routes.tsx
  web/src/urls.ts
Due: prettier --write, eslint

Add mage temporary file to .gitignore
  .gitignore
Due: none

Add mage temp file to .gitignore
  .gitignore
Due: none

Added ListGlobalsResponse
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/pages/ListGlobalModules/ListGlobalModules.tsx
  web/src/pages/ListGlobalModules/graphql/listGlobalModules.generated.ts
  web/src/pages/ListGlobalModules/graphql/listGlobalModules.graphql
Due: prettier --write, eslint

fix: working development environment for node v12
  package-lock.json
  package.json
Due: prettier --write

Multi-region master:publish
  deployments/master.yml
  tools/mage/master_namespace.go
Due: none

fix: escape import
  package-lock.json
  web/codegen.yml
Due: prettier --write

Fix ECR registry link, update docs with regional buckets
  deployments/master.yml
  deployments/web_server.yml
  docs/gitbook/.gitbook/assets/cfn-deploy-1.png
  docs/gitbook/development.md
  docs/gitbook/quick-start.md
  tools/mage/master_namespace.go
Due: prettier --write

Update mage docs
  docs/gitbook/development.md
Due: prettier --write

fix: minor version lock for typescript, comment format in routes
  go.mod
  go.sum
  package-lock.json
  package.json
  web/__generated__/schema.tsx
  web/src/routes.tsx
Due: prettier --write, eslint

fix: revert change to express version lock
  package-lock.json
  package.json
Due: prettier --write

chore: reorder package scripts
  package.json
Due: prettier --write

feat: adding new files to support a custom webhook
  api/graphql/schema.graphql
  api/lambda/outputs/models/api.go
  internal/core/alert_delivery/delivery/dispatch.go
  internal/core/alert_delivery/outputs/custom_webhook.go
  internal/core/alert_delivery/outputs/custom_webhook_test.go
  internal/core/alert_delivery/outputs/outputs.go
  internal/core/outputs_api/api/utils.go
  internal/core/outputs_api/validator/validator.go
  web/__generated__/schema.tsx
  web/src/graphql/fragments/DestinationFull.generated.ts
  web/src/graphql/fragments/DestinationFull.graphql
Due: prettier --write, eslint

fix: update generated schema
  web/__generated__/schema.tsx
Due: prettier --write, eslint

feat: outputSet containing new custom webhook key
  api/graphql/schema.graphql
  internal/core/alert_delivery/outputs/custom_webhook.go
  internal/core/alert_delivery/outputs/custom_webhook_test.go
  internal/core/alert_delivery/outputs/slack_test.go
  internal/core/outputs_api/validator/validator_test.go
Due: none

Prefix version in web app with 'v'
  deployments/master.yml
Due: none

Fix web constants for GitLab.Production
  web/src/constants.ts
Due: prettier --write, eslint

feat: added frontend changes
  web/src/assets/custom-webhook-minimal-logo.svg
  web/src/components/forms/CustomWebhookDestinationForm/CustomWebhookDestinationForm.tsx
  web/src/components/forms/CustomWebhookDestinationForm/index.tsx
  web/src/components/sidesheets/AddDestinationSidesheet/AddDestinationSidesheet.tsx
  web/src/components/sidesheets/SelectDestinationSidesheet/SelectDestinationSidesheet.tsx
  web/src/components/sidesheets/UpdateDestinationSidesheet/UpdateDestinationSidesheet.tsx
Due: prettier --write, eslint

Add glue:CreatePartition permission
  deployments/bootstrap_gateway.yml
Due: none

Parsers for Juniper logs
  docs/gitbook/log-analysis/log-processing/supported-logs/Juniper.md
  internal/log_analysis/log_processor/parsers/juniperlogs/access.go
  internal/log_analysis/log_processor/parsers/juniperlogs/access_test.go
  internal/log_analysis/log_processor/parsers/juniperlogs/audit.go
  internal/log_analysis/log_processor/parsers/juniperlogs/audit_test.go
  internal/log_analysis/log_processor/parsers/juniperlogs/firewall.go
  internal/log_analysis/log_processor/parsers/juniperlogs/firewall_test.go
  internal/log_analysis/log_processor/parsers/juniperlogs/juniperlogs.go
  internal/log_analysis/log_processor/parsers/juniperlogs/juniperlogs_test.go
  internal/log_analysis/log_processor/parsers/juniperlogs/mws.go
  internal/log_analysis/log_processor/parsers/juniperlogs/mws_test.go
  internal/log_analysis/log_processor/parsers/juniperlogs/postgres.go
  internal/log_analysis/log_processor/parsers/juniperlogs/postgres_test.go
  internal/log_analysis/log_processor/parsers/juniperlogs/security.go
  internal/log_analysis/log_processor/parsers/juniperlogs/security_test.go
  internal/log_analysis/log_processor/parsers/juniperlogs/testdata/access_samples.log
  internal/log_analysis/log_processor/parsers/juniperlogs/testdata/audit_samples.log
  internal/log_analysis/log_processor/parsers/juniperlogs/testdata/firewall_samples.log
  internal/log_analysis/log_processor/parsers/juniperlogs/testdata/mws_samples.log
  internal/log_analysis/log_processor/parsers/juniperlogs/testdata/postgres_samples.log
  internal/log_analysis/log_processor/parsers/juniperlogs/testdata/security_samples.log
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
  internal/log_analysis/log_processor/registry/registry.go
  web/src/constants.ts
Due: prettier --write, eslint

Small updates to go testing
  internal/log_analysis/log_processor/destinations/s3_test.go
  tools/mage/test_namespace.go
Due: none

Change the `pantherlog.Registry` API to handle entry mutability in a safer way.
  internal/core/source_api/api/put_integration_test.go
  internal/core/source_api/api/update_integration_test.go
  internal/log_analysis/log_processor/pantherlog/registry.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/registry/registry.go
Due: none

Rename `pantherlog.LogType` to `pantherlog.EventType`
  internal/log_analysis/gluetables/gluetables_test.go
  internal/log_analysis/log_processor/classification/classifier.go
  internal/log_analysis/log_processor/classification/classifier_test.go
  internal/log_analysis/log_processor/classification/parser_queue.go
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/log_processor/pantherlog/pantherlog.go
  internal/log_analysis/log_processor/pantherlog/registry.go
  internal/log_analysis/log_processor/parsers/apachelogs/apachelogs.go
  internal/log_analysis/log_processor/parsers/awslogs/awslogs.go
  internal/log_analysis/log_processor/parsers/fluentdsyslogs/fluentdsyslogs.go
  internal/log_analysis/log_processor/parsers/gcplogs/gcplogs.go
  internal/log_analysis/log_processor/parsers/gitlablogs/gitlablogs.go
  internal/log_analysis/log_processor/parsers/nginxlogs/nginxlogs.go
  internal/log_analysis/log_processor/parsers/osquerylogs/osquerylogs.go
  internal/log_analysis/log_processor/parsers/osseclogs/osseclogs.go
  internal/log_analysis/log_processor/parsers/parsers.go
  internal/log_analysis/log_processor/parsers/suricatalogs/suricatalogs.go
  internal/log_analysis/log_processor/parsers/sysloglogs/syslogs.go
  internal/log_analysis/log_processor/parsers/zeeklogs/zeeklogs.go
  internal/log_analysis/log_processor/registry/registry.go
Due: none

Fix glue:sync during deployment to not block
  deployments/bootstrap_gateway.yml
  deployments/log_analysis.yml
  internal/core/custom_resources/resources/glue.go
  internal/log_analysis/datacatalog_updater/main/lambda.go
  internal/log_analysis/datacatalog_updater/process/integration_test.go
  internal/log_analysis/datacatalog_updater/process/sync.go
Due: none

Refactor the registry API to enforce mutability rules on log type entries.
  internal/log_analysis/gluetables/gluetables.go
  internal/log_analysis/gluetables/gluetables_test.go
  internal/log_analysis/log_processor/classification/classifier.go
  internal/log_analysis/log_processor/classification/classifier_test.go
  internal/log_analysis/log_processor/classification/parser_queue.go
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/log_processor/pantherlog/pantherlog.go
  internal/log_analysis/log_processor/pantherlog/registry.go
  internal/log_analysis/log_processor/pantherlog/result.go
  internal/log_analysis/log_processor/parsers/apachelogs/apachelogs.go
  internal/log_analysis/log_processor/parsers/awslogs/awslogs.go
  internal/log_analysis/log_processor/parsers/fluentdsyslogs/fluentdsyslogs.go
  internal/log_analysis/log_processor/parsers/gcplogs/auditlog.go
  internal/log_analysis/log_processor/parsers/gcplogs/gcplogs.go
  internal/log_analysis/log_processor/parsers/gitlablogs/gitlablogs.go
  internal/log_analysis/log_processor/parsers/nginxlogs/nginxlogs.go
  internal/log_analysis/log_processor/parsers/osquerylogs/osquerylogs.go
  internal/log_analysis/log_processor/parsers/osseclogs/osseclogs.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
  internal/log_analysis/log_processor/parsers/parsers.go
  internal/log_analysis/log_processor/parsers/registry.go
  internal/log_analysis/log_processor/parsers/registry_test.go
  internal/log_analysis/log_processor/parsers/rowid.go
  internal/log_analysis/log_processor/parsers/rowid_test.go
  internal/log_analysis/log_processor/parsers/suricatalogs/suricatalogs.go
  internal/log_analysis/log_processor/parsers/sysloglogs/syslogs.go
  internal/log_analysis/log_processor/parsers/zeeklogs/zeeklogs.go
  internal/log_analysis/log_processor/processor/processor.go
  internal/log_analysis/log_processor/processor/processor_test.go
  internal/log_analysis/log_processor/registry/registry.go
  tools/mage/doc.go
Due: none

chore: update TS to latest
  package-lock.json
  package.json
Due: prettier --write

fix: TS issues due to 3.9.x. upgrade
  web/src/components/forms/AsanaDestinationForm/AsanaDestinationForm.tsx
  web/src/components/forms/BaseDestinationForm/BaseDestinationForm.tsx
  web/src/components/forms/GithubDestinationForm/GithubDestinationForm.tsx
  web/src/components/forms/JiraDestinationForm/JiraDestination.tsx
  web/src/components/forms/MicrosoftTeamsDestinationForm/MicrosoftTeamsDestinationForm.tsx
  web/src/components/forms/OpsgenieDestinationForm/OpsgenieDestinationForm.tsx
  web/src/components/forms/PagerdutyDestinationForm/PagerdutyDestinationForm.tsx
  web/src/components/forms/SlackDestinationForm/SlackDestinationForm.tsx
  web/src/components/forms/SnsDestinationForm/SnsDestinationForm.tsx
  web/src/components/forms/SqsDestinationForm/SqsDestinationForm.tsx
Due: prettier --write, eslint

build: remove AWS CLI from deployment image
  build/deployment/Dockerfile
Due: none

build: bump dev image in dev.sh script
  dev.sh
Due: none

start handling Auth related pages
  package-lock.json
  package.json
  web/public/index.ejs
  web/src/components/AuthPageContainer/AuthPageContainer.tsx
  web/src/components/forms/ForgotPasswordConfirmForm/ForgotPasswordConfirmForm.tsx
  web/src/components/forms/ForgotPasswordForm/ForgotPasswordForm.tsx
  web/src/components/forms/MfaForm/MfaForm.tsx
  web/src/components/forms/SetPasswordForm/SetPasswordForm.tsx
  web/src/components/forms/SigninForm/SigninForm.tsx
  web/src/components/forms/TotpForm/TotpForm.tsx
  web/src/pages/ForgotPassword/ForgotPassword.tsx
  web/src/pages/SignIn/SignIn.tsx
Due: prettier --write, eslint

Removing -v argument
  tools/mage/test_namespace.go
Due: none

checkpoint work
  deployments/panther_config.yml
  internal/log_analysis/awsglue/integration_test.go
  internal/log_analysis/awsglue/table_metadata.go
  internal/log_analysis/awsglue/table_metadata_test.go
  internal/log_analysis/datacatalog_updater/main/lambda.go
  internal/log_analysis/datacatalog_updater/process/integration_test.go
  internal/log_analysis/datacatalog_updater/process/sync.go
  pkg/box/box.go
  pkg/unbox/unbox.go
  tools/mage/glue_namespace.go
  tools/mage/test_namespace.go
Due: none

Removing some channel creation
  tools/mage/build_namespace.go
  tools/mage/test_namespace.go
Due: none

Specifying processor number for Go Build command
  tools/mage/build_namespace.go
Due: none

Setting processors for build command to '1'
  tools/mage/build_namespace.go
Due: none

Configure test flags
  tools/mage/test_namespace.go
Due: none

Removed comment
  tools/mage/build_namespace.go
Due: none

Updated build:tools command
  tools/mage/build_namespace.go
Due: none

Small updates to output
  tools/mage/build_namespace.go
  tools/mage/test_namespace.go
Due: none

Building Swagger APIs and Typescript in parallel
  tools/mage/build_namespace.go
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
