Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Skipping AccessDenied errors when describing a KMS key
  internal/compliance/snapshot_poller/pollers/aws/kms_key.go
Due: none

Configuration ALB alarms to trigger only if we see persistent issues
  internal/core/custom_resources/resources/alarms_elb.go
Due: none

feat: working UTC, local time
  web/src/helpers/utils.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
  web/src/pages/ListAlerts/ListAlertsTable/ListAlertsTable.tsx
Due: prettier --write, eslint

chore: rename const keys
  internal/log_analysis/alerts_api/table/list.go
  internal/log_analysis/alerts_api/table/table.go
Due: none

feat: filter by rule id contains
  api/graphql/schema.graphql
  api/lambda/alerts/models/api.go
  internal/log_analysis/alerts_api/table/list.go
  web/__generated__/schema.tsx
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
Due: prettier --write, eslint

feat: add post filtering for case-insensitivity
  internal/log_analysis/alerts_api/table/list.go
Due: none

Add CustomResourceVersion
  deployments/appsync.yml
  deployments/bootstrap_gateway.yml
  deployments/cloud_security.yml
  deployments/core.yml
  deployments/log_analysis.yml
  deployments/master.yml
  deployments/onboard.yml
  deployments/web_server.yml
  docs/gitbook/development.md
  tools/mage/deploy.go
  tools/mage/deploy_frontend.go
  tools/mage/master_namespace.go
Due: prettier --write

feat: added search by alertID
  api/graphql/schema.graphql
  api/lambda/alerts/models/api.go
  internal/log_analysis/alerts_api/table/list.go
  web/__generated__/schema.tsx
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
  web/src/pages/ListAlerts/ListAlertsTable/ListAlertsTable.tsx
Due: prettier --write, eslint

add custom attachment resource
  deployments/bootstrap_gateway.yml
  deployments/cloud_security.yml
  deployments/log_analysis.yml
  internal/core/custom_resources/resources/layer_attachment.go
  internal/core/custom_resources/resources/map.go
Due: none

removed some debugging stuff
  internal/core/custom_resources/resources/layer_attachment.go
Due: none

Removing 4XX alarms from ALB
  deployments/web_server.yml
  internal/core/custom_resources/resources/alarms_elb.go
Due: none

Upgrade apolloClient to v3.0.0-rc.0 and updated cache.modify
  package-lock.json
  package.json
  web/src/components/modals/DeleteComplianceSourceModal/DeleteComplianceSourceModal.tsx
  web/src/components/modals/DeleteDestinationModal/DeleteDestinationModal.tsx
  web/src/components/modals/DeleteLogSourceModal/DeleteLogSourceModal.tsx
  web/src/components/modals/DeletePolicyModal/DeletePolicyModal.tsx
  web/src/components/modals/DeleteRuleModal/DeleteRuleModal.tsx
  web/src/components/modals/DeleteUserModal/DeleteUserModal.tsx
  web/src/components/sidesheets/AddDestinationSidesheet/AddDestinationSidesheet.tsx
  web/src/components/sidesheets/UserInvitationSidesheet/UserInvitationSidesheet.tsx
  web/src/pages/CreateComplianceSource/CreateComplianceSource.tsx
  web/src/pages/CreateLogSource/CreateS3LogSource/CreateS3LogSource.tsx
Due: prettier --write, eslint

fix: display empty placeholder image when there are no results
  web/src/pages/ListAlerts/ListAlerts.tsx
Due: prettier --write, eslint

revert: undo changes for empty results for future PR
  web/src/pages/ListAlerts/ListAlerts.tsx
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
Due: prettier --write, eslint

fix: pr feedback
  web/src/config.ts
  web/src/helpers/utils.tsx
  web/src/hooks/useRequestParamsWithPagination.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
  web/src/pages/PolicyDetails/PolicyDetails.tsx
  web/src/pages/ResourceDetails/ResourceDetails.tsx
Due: prettier --write, eslint

Fix cw metric filter expressions for python lambdas
  internal/core/custom_resources/resources/lambda_metric_filters.go
Due: none

Always use Panther version
  deployments/appsync.yml
  deployments/bootstrap_gateway.yml
  deployments/cloud_security.yml
  deployments/core.yml
  deployments/log_analysis.yml
  deployments/onboard.yml
  deployments/web_server.yml
  docs/gitbook/development.md
  tools/mage/deploy.go
Due: prettier --write

Migration: remove deleted alarm
  internal/core/custom_resources/resources/alarms_elb.go
Due: none

feat: lambda looping query optimization
  internal/log_analysis/alerts_api/table/list.go
Due: none

read only custom resource
  deployments/bootstrap_gateway.yml
  deployments/cloud_security.yml
  internal/core/custom_resources/resources/layer_attachment.go
Due: none

fixed some things
  deployments/cloud_security.yml
  deployments/log_analysis.yml
Due: none

refining naming
  deployments/bootstrap_gateway.yml
  internal/core/custom_resources/resources/layer_attachment.go
Due: none

formatting
  internal/core/custom_resources/resources/layer_attachment.go
Due: none

Fix python lamnda metric filter expressions
  internal/core/custom_resources/resources/lambda_metric_filters.go
Due: none

refactor PolicyForm
  package-lock.json
  package.json
  web/src/components/Editor/theme.ts
  web/src/components/Panel/Panel.tsx
  web/src/components/fields/Checkbox/Checkbox.tsx
  web/src/components/fields/ComboBox/ComboBox.tsx
  web/src/components/fields/Editor/Editor.tsx
  web/src/components/fields/MultiComboBox/MultiComboBox.tsx
  web/src/components/fields/Radio/Radio.tsx
  web/src/components/fields/Switch/Switch.tsx
  web/src/components/fields/TextArea/TextArea.tsx
  web/src/components/fields/TextInput/TextInput.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormCoreFields/BaseRuleFormCoreFields.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormCoreSection/BaseRuleFormCoreSection.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormCoreSection/index.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormEditorSection/BaseRuleFormEditorSection.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormEditorSection/index.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestFields/BaseRuleFormTestFields.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestResult/BaseRuleFormTestResult.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestResultList/BaseRuleFormTestResultList.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestSection/BaseRuleFormTestSection.tsx
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestSection/graphql/testPolicy.generated.ts
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestSection/graphql/testPolicy.graphql
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestSection/index.tsx
  web/src/components/forms/BaseRuleForm/index.tsx
  web/src/components/forms/PolicyForm/PolicyForm.tsx
  web/src/components/forms/PolicyForm/PolicyFormAutoRemediationFields.tsx
  web/src/components/forms/PolicyForm/PolicyFormAutoRemediationSection/PolicyFormAutoRemediationFields.tsx
  web/src/components/forms/PolicyForm/PolicyFormAutoRemediationSection/PolicyFormAutoRemediationSection.tsx
  web/src/components/forms/PolicyForm/PolicyFormAutoRemediationSection/index.tsx
  web/src/components/forms/PolicyForm/index.tsx
  web/src/components/modals/OptimisticConfirmModal/OptimisticConfirmModal.tsx
  web/src/components/sidesheets/PolicyBulkUploadSidesheet/PolicyBulkUploadSidesheet.tsx
  web/src/config.ts
  web/src/helpers/utils.tsx
  web/src/hooks/useFastField.tsx
  web/src/pages/CreatePolicy/CreatePolicy.tsx
  web/src/pages/EditPolicy/EditPolicy.tsx
Due: prettier --write, eslint

refactor rule create & editpage
  web/src/components/forms/PolicyForm/PolicyForm.tsx
  web/src/components/forms/RuleForm/RuleForm.tsx
  web/src/pages/CreateRule/CreateRule.tsx
  web/src/pages/EditRule/EditRule.tsx
Due: prettier --write, eslint

fix: make setRequestParamsAndResetPaging require an object
  web/src/hooks/useRequestParamsWithPagination.tsx
  web/src/pages/PolicyDetails/PolicyDetails.tsx
  web/src/pages/ResourceDetails/ResourceDetails.tsx
Due: prettier --write, eslint

Fixing few bugs encountered
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/json_utils.go
  internal/log_analysis/log_processor/sources/errors.go
  internal/log_analysis/log_processor/sources/s3.go
Due: none

MInor UX fix
  web/src/components/forms/GlobalPythonModuleForm/GlobalPythonModuleForm.tsx
  web/src/pages/EditGlobalPythonModule/EditGlobalPythonModule.tsx
Due: prettier --write, eslint

Added test
  internal/log_analysis/log_processor/sources/s3.go
  internal/log_analysis/log_processor/sources/s3_test.go
Due: none

Standarizing the fields sent by PagerDuty/Sns/Sqs
  api/gateway/analysis/configmodels.go
  internal/compliance/alert_forwarder/forwarder/forwarder.go
  internal/compliance/alert_forwarder/forwarder/forwarder_test.go
  internal/compliance/alert_processor/models/api.go
  internal/compliance/alert_processor/processor/processor.go
  internal/compliance/alert_processor/processor/processor_test.go
  internal/compliance/snapshot_poller/pollers/aws/awstest/iam.go
  internal/compliance/snapshot_poller/pollers/aws/iam_role_test.go
  internal/core/alert_delivery/delivery/dispatch.go
  internal/core/alert_delivery/delivery/dispatch_test.go
  internal/core/alert_delivery/delivery/handle.go
  internal/core/alert_delivery/delivery/handle_test.go
  internal/core/alert_delivery/delivery/outputs.go
  internal/core/alert_delivery/models/api.go
  internal/core/alert_delivery/outputs/asana_test.go
  internal/core/alert_delivery/outputs/custom_webhook.go
  internal/core/alert_delivery/outputs/custom_webhook_test.go
  internal/core/alert_delivery/outputs/github.go
  internal/core/alert_delivery/outputs/github_test.go
  internal/core/alert_delivery/outputs/jira.go
  internal/core/alert_delivery/outputs/jira_test.go
  internal/core/alert_delivery/outputs/msteams.go
  internal/core/alert_delivery/outputs/msteams_test.go
  internal/core/alert_delivery/outputs/opsgenie.go
  internal/core/alert_delivery/outputs/opsgenie_test.go
  internal/core/alert_delivery/outputs/outputs.go
  internal/core/alert_delivery/outputs/outputs_test.go
  internal/core/alert_delivery/outputs/pagerduty.go
  internal/core/alert_delivery/outputs/pagerduty_test.go
  internal/core/alert_delivery/outputs/slack.go
  internal/core/alert_delivery/outputs/slack_test.go
  internal/core/alert_delivery/outputs/sns.go
  internal/core/alert_delivery/outputs/sns_test.go
  internal/core/alert_delivery/outputs/sqs.go
  internal/core/alert_delivery/outputs/sqs_test.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder_test.go
  pkg/testutils/awsmocks.go
Due: none

Reverted unintented changes
  api/gateway/analysis/configmodels.go
  internal/compliance/alert_processor/models/api.go
  internal/compliance/snapshot_poller/pollers/aws/awstest/iam.go
  internal/compliance/snapshot_poller/pollers/aws/iam_role_test.go
  internal/core/alert_delivery/outputs/github.go
  internal/core/alert_delivery/outputs/msteams.go
  internal/core/alert_delivery/outputs/opsgenie.go
  internal/core/alert_delivery/outputs/pagerduty_test.go
  internal/core/alert_delivery/outputs/sns_test.go
Due: none

Changing the format of requests to be backwards compatible
  internal/core/alert_delivery/models/api.go
  internal/core/alert_delivery/outputs/custom_webhook_test.go
  internal/core/alert_delivery/outputs/outputs.go
  internal/core/alert_delivery/outputs/pagerduty_test.go
  internal/core/alert_delivery/outputs/sns_test.go
  internal/core/alert_delivery/outputs/sqs_test.go
Due: none

Updated code according to PR comments
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/csv_utils.go
  internal/log_analysis/log_processor/parsers/json_utils.go
Due: none

remove enumerationIndex
  package-lock.json
  package.json
  web/src/components/SeverityBadge/SeverityBadge.tsx
  web/src/components/Wizard/Wizard.tsx
  web/src/pages/ListPolicies/ListPolicies.tsx
  web/src/pages/ListPolicies/ListPoliciesTable/ListPoliciesTable.tsx
  web/src/pages/ListResources/ListResources.tsx
  web/src/pages/ListResources/ListResourcesTable/ListResourcesTable.tsx
  web/src/pages/ListRules/ListRules.tsx
  web/src/pages/ListRules/ListRulesTable/ListRulesTable.tsx
Due: prettier --write, eslint

Minor grammar fix
  internal/log_analysis/log_processor/parsers/csv_utils.go
Due: none

feat: add multi-combo box support for severity level
  api/graphql/schema.graphql
  api/lambda/alerts/models/api.go
  internal/log_analysis/alerts_api/api/list_alerts_test.go
  internal/log_analysis/alerts_api/table/list.go
  web/__generated__/schema.tsx
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
Due: prettier --write, eslint

chore: fix comment
  internal/log_analysis/alerts_api/table/list.go
Due: none

addressed PR feedback
  deployments/cloud_security.yml
  deployments/log_analysis.yml
  internal/core/custom_resources/resources/layer_attachment.go
  internal/core/custom_resources/resources/map.go
Due: none

add version to layer attachment resource
  deployments/cloud_security.yml
  deployments/log_analysis.yml
Due: none
