Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Respond to PR
  internal/core/source_api/api/put_integration.go
  tools/mage/deploy.go
  tools/mage/deploy_onboard.go
Due: none

staging changes
  api/lambda/source/models/api.go
  go.sum
  internal/core/source_api/api/put_integration.go
Due: none

fixed issue when scanning buckets in us-east-1
  internal/compliance/snapshot_poller/pollers/aws/s3_bucket.go
Due: none

added unit test
  internal/compliance/snapshot_poller/pollers/aws/s3_bucket_test.go
Due: none

Address feedback
  deployments/backend.yml
  deployments/core/analysis_api.yml
  deployments/core/buckets.yml
  docs/gitbook/development.md
  go.mod
  go.sum
  tools/mage/deploy.go
  tools/mage/teardown.go
  tools/mage/test_namespace.go
Due: prettier --write

Remove outdated comment
  tools/mage/teardown.go
Due: none

Terraform translation of compliance template
  deployments/auxiliary/terraform/panther_compliance_terraform_template.tf
Due: none

Changed path to index SubmitButton
  web/src/components/forms/analytics-consent-form/index.tsx
  web/src/components/forms/change-password-form/index.tsx
  web/src/components/forms/common/base-destination-form.tsx
  web/src/components/forms/common/base-rule-form.tsx
  web/src/components/forms/company-information-form/index.tsx
  web/src/components/forms/edit-profile-form/index.tsx
  web/src/components/forms/forgot-password-confirm-form/index.tsx
  web/src/components/forms/forgot-password-form/index.tsx
  web/src/components/forms/mfa-form/index.tsx
  web/src/components/forms/set-password-form/index.tsx
  web/src/components/forms/signin-form/index.tsx
  web/src/components/forms/totp-form/index.tsx
  web/src/components/forms/update-source-form/index.tsx
  web/src/components/forms/user-invitation-form/index.tsx
  web/src/components/modals/base-confirm-modal.tsx
  web/src/components/modals/network-error-modal.tsx
  web/src/components/sidesheets/policy-bulk-upload-sidesheet.tsx
Due: prettier --write, eslint

Refactored TableRow buttons
  web/src/components/TableRow/TableRowRemediationButton.tsx
  web/src/components/TableRow/TableRowSuppressButton.tsx
  web/src/components/TableRow/index.tsx
  web/src/pages/policy-details/columns.tsx
  web/src/pages/resource-details/columns.tsx
Due: prettier --write, eslint

Refactored Wizard components
  web/src/components/Wizard/Wizard.tsx
  web/src/components/Wizard/WizardPanelWrapper.tsx
  web/src/components/Wizard/index.tsx
  web/src/pages/create-compliance-source/index.tsx
  web/src/pages/create-log-source/index.tsx
Due: prettier --write, eslint

Refactored pages 403, 404, 500
  web/src/pages/403/403.tsx
  web/src/pages/403/index.tsx
  web/src/pages/404/404.tsx
  web/src/pages/404/index.tsx
  web/src/pages/500/500.tsx
  web/src/pages/500/index.tsx
Due: prettier --write, eslint

Renamed folder AlertDetails
  web/src/client.ts
  web/src/pages/AlertDetails/AlertDetailsEvents/AlertDetailsEvents.tsx
  web/src/pages/AlertDetails/AlertDetailsEvents/index.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/index.tsx
  web/src/pages/AlertDetails/AlertDetailsSkeleton/AlertDetailsSkeleton.tsx
  web/src/pages/AlertDetails/AlertDetailsSkeleton/index.tsx
  web/src/pages/AlertDetails/index.tsx
  web/src/routes.tsx
Due: prettier --write, eslint

Refactored ComplianceOverview page
  web/src/pages/ComplianceOverview/Columns/Columns.tsx
  web/src/pages/ComplianceOverview/Columns/index.tsx
  web/src/pages/ComplianceOverview/DonutChartWrapper/DonutChartWrapper.tsx
  web/src/pages/ComplianceOverview/DonutChartWrapper/index.tsx
  web/src/pages/ComplianceOverview/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ComplianceOverview/EmptyDataFallback/index.tsx
  web/src/pages/ComplianceOverview/PoliciesBySeverityChart/PoliciesBySeverityChart.tsx
  web/src/pages/ComplianceOverview/PoliciesBySeverityChart/index.tsx
  web/src/pages/ComplianceOverview/PoliciesByStatusChart/PoliciesByStatusChart.tsx
  web/src/pages/ComplianceOverview/PoliciesByStatusChart/index.tsx
  web/src/pages/ComplianceOverview/ResourcesByPlatformChart/ResourcesByPlatformChart.tsx
  web/src/pages/ComplianceOverview/ResourcesByPlatformChart/index.tsx
  web/src/pages/ComplianceOverview/ResourcesByStatusChart/ResourcesByStatusChart.tsx
  web/src/pages/ComplianceOverview/ResourcesByStatusChart/index.tsx
  web/src/pages/ComplianceOverview/Skeleton/Skeleton.tsx
  web/src/pages/ComplianceOverview/Skeleton/index.tsx
  web/src/pages/ComplianceOverview/index.tsx
  web/src/routes.tsx
Due: prettier --write, eslint

Rename 'field' to 'Field'
  web/src/components/Fields/checkbox.tsx
  web/src/components/Fields/combobox.tsx
  web/src/components/Fields/multi-combobox.tsx
  web/src/components/Fields/radio.tsx
  web/src/components/Fields/switch.tsx
  web/src/components/Fields/text-input.tsx
  web/src/components/Fields/textarea.tsx
  web/src/components/forms/analytics-consent-form/error-reporting-section.tsx
  web/src/components/forms/change-password-form/index.tsx
  web/src/components/forms/common/base-destination-form.tsx
  web/src/components/forms/common/base-user-form.tsx
  web/src/components/forms/common/rule-form-core-fields.tsx
  web/src/components/forms/common/rule-form-test-fields.tsx
  web/src/components/forms/company-information-form/index.tsx
  web/src/components/forms/destination-form/asana-destination-form.tsx
  web/src/components/forms/destination-form/github-destination-form.tsx
  web/src/components/forms/destination-form/jira-destination-form.tsx
  web/src/components/forms/destination-form/microsoft-teams-destination-form.tsx
  web/src/components/forms/destination-form/opsgenie-destination.form.tsx
  web/src/components/forms/destination-form/pagerduty-destination-form.tsx
  web/src/components/forms/destination-form/slack-destination-form.tsx
  web/src/components/forms/destination-form/sns-destination-form.tsx
  web/src/components/forms/destination-form/sqs-destination-form.tsx
  web/src/components/forms/edit-profile-form/index.tsx
  web/src/components/forms/forgot-password-confirm-form/index.tsx
  web/src/components/forms/forgot-password-form/index.tsx
  web/src/components/forms/mfa-form/index.tsx
  web/src/components/forms/policy-form/policy-form-auto-remediation-fields.tsx
  web/src/components/forms/set-password-form/index.tsx
  web/src/components/forms/signin-form/index.tsx
  web/src/components/forms/totp-form/index.tsx
  web/src/components/forms/update-source-form/index.tsx
  web/src/components/sidesheets/update-destination-sidesheet.tsx
  web/src/components/utils/generate-filters-group.tsx
  web/src/overrides.d.ts
  web/src/pages/create-compliance-source/subcomponents/source-details-panel.tsx
  web/src/pages/create-log-source/subcomponents/source-details-panel.tsx
  web/src/pages/list-policies/subcomponents/list-policies-actions.tsx
  web/src/pages/list-resources/subcomponents/list-resources-actions.tsx
  web/src/pages/list-rules/subcomponents/list-rules-actions.tsx
Due: prettier --write, eslint

Refactor Checkbox & ComboBox
  web/src/components/Fields/Checkbox/Checkbox.tsx
  web/src/components/Fields/Checkbox/index.tsx
  web/src/components/Fields/ComboBox/ComboBox.tsx
  web/src/components/Fields/ComboBox/index.tsx
  web/src/components/forms/analytics-consent-form/error-reporting-section.tsx
  web/src/components/forms/common/base-destination-form.tsx
  web/src/components/forms/common/rule-form-core-fields.tsx
  web/src/components/forms/common/rule-form-test-fields.tsx
  web/src/components/forms/destination-form/jira-destination-form.tsx
  web/src/components/utils/generate-filters-group.tsx
  web/src/pages/list-policies/subcomponents/list-policies-actions.tsx
  web/src/pages/list-resources/subcomponents/list-resources-actions.tsx
  web/src/pages/list-rules/subcomponents/list-rules-actions.tsx
Due: prettier --write, eslint

Rename 'modal' to 'Modals'
  web/src/components/Modals/analytics-consent-modal.tsx
  web/src/components/Modals/base-confirm-modal.tsx
  web/src/components/Modals/delete-destination-modal.tsx
  web/src/components/Modals/delete-policy-modal.tsx
  web/src/components/Modals/delete-rule-modal.tsx
  web/src/components/Modals/delete-source-modal.tsx
  web/src/components/Modals/delete-user-modal.tsx
  web/src/components/Modals/network-error-modal.tsx
  web/src/components/Modals/reset-user-password-modal.tsx
  web/src/components/utils/modal-context.tsx
  web/src/components/utils/modal-manager.tsx
Due: prettier --write, eslint

Rename 'navigation' to 'Navigation'
  web/src/components/Layout/Layout.tsx
  web/src/components/Navigation/compliance-navigation.tsx
  web/src/components/Navigation/index.ts
  web/src/components/Navigation/log-analysis-navigation.tsx
  web/src/components/Navigation/nav-icon-button.tsx
  web/src/components/Navigation/nav-link.tsx
  web/src/components/Navigation/navigation.tsx
  web/src/components/Navigation/settings-navigation.tsx
Due: prettier --write, eslint

Rename 'sidesheets' to 'Sidesheets'
  web/src/components/Sidesheets/EditUserSidesheet/EditUser.tsx
  web/src/components/Sidesheets/EditUserSidesheet/EditUserSidesheet.tsx
  web/src/components/Sidesheets/EditUserSidesheet/index.tsx
  web/src/components/Sidesheets/add-destination-sidesheet.tsx
  web/src/components/Sidesheets/edit-account-sidesheet.tsx
  web/src/components/Sidesheets/policy-bulk-upload-sidesheet.tsx
  web/src/components/Sidesheets/select-destination-sidesheet.tsx
  web/src/components/Sidesheets/update-destination-sidesheet.tsx
  web/src/components/Sidesheets/update-source-sidesheet.tsx
  web/src/components/Sidesheets/user-invitation-sidesheet.tsx
  web/src/components/Utils/sidesheet-context.tsx
  web/src/components/Utils/sidesheet-manager.tsx
Due: prettier --write, eslint

Make mageUserID uuid4, fix bulk api validation
  api/gateway/analysis/models/bulk_upload.go
  tools/mage/deploy.go
Due: none

Checkpoint work
  internal/log_analysis/log_processor/parsers/awslogs/alb_test.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit_test.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty_test.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access_test.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow_test.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status_test.go
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo_test.go
Due: none

Return nice message when remediation is not associated with the policy
  api/gateway/remediation/models/error.go
  internal/compliance/remediation_api/handlers/get.go
  internal/compliance/remediation_api/handlers/post.go
  internal/compliance/remediation_api/remediation/invoke.go
  internal/compliance/remediation_api/remediation/invoke_test.go
Due: none

Updates per review
  deployments/auxiliary/terraform/panther_compliance_terraform_template.tf
Due: none

Checkpoint work
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status.go
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo.go
  internal/log_analysis/log_processor/parsers/patherlog.go
  web/src/components/sidesheets/EditUserSidesheet/index.tsx
Due: prettier --write, eslint

Checkpoint work
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status.go
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo.go
  internal/log_analysis/log_processor/parsers/patherlog.go
Due: none

Checkpoint work
  internal/log_analysis/log_processor/parsers/awslogs/alb_test.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit_test.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_test.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty_test.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access_test.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow_test.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status_test.go
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo_test.go
Due: none

Only allow healthy integrations with put/update integration api calls
  api/lambda/source/models/api.go
  api/lambda/source/models/integration.go
  internal/core/source_api/api/check_integration.go
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/put_integration_test.go
  internal/core/source_api/api/update_integration.go
  internal/core/source_api/api/update_integration_test.go
Due: none

store cloudsec integration configuration in dynamo
  api/lambda/source/models/integration.go
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/update_integration.go
  internal/core/source_api/ddb/items.go
Due: none

Add stack enumeration
  tools/mage/util.go
  tools/mage/util_cfn.go
Due: none

Simplify stack traversal
  tools/mage/util_cfn.go
Due: none

first attempt
  api/lambda/source/models/api.go
  api/lambda/source/models/integration.go
  deployments/auxiliary/cloudformation/panther-compliance-iam.yml
  deployments/auxiliary/cloudformation/panther-log-processing-iam.yml
  internal/core/source_api/api/get_integration_template.go
Due: none

Work in progress (iam certs now deleted)
  tools/mage/deploy_certificate.go
  tools/mage/teardown.go
  tools/mage/util_cfn.go
Due: none

draft commit for frontend team
  api/lambda/source/models/api.go
  deployments/core/source_api.yml
Due: none

force prettier to run against whole repo
  tools/mage/fmt.go
Due: none

add .prettierignore
  .prettierignore
Due: none

add .idea to prettierignore
  .prettierignore
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
