Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Move policy/rule analysis code out of the api handler to be reusable
  internal/core/analysis/doc.go
  internal/core/analysis/policy_engine.go
  internal/core/analysis/rule_engine.go
  internal/core/analysis_api/handlers/clients.go
  internal/core/analysis_api/handlers/test_policy.go
  internal/core/analysis_api/main/lambda.go
Due: none

Move internal/core/analysis under internal/core/analysis_api
  internal/core/analysis_api/analysis/doc.go
  internal/core/analysis_api/analysis/policy_engine.go
  internal/core/analysis_api/analysis/rule_engine.go
  internal/core/analysis_api/handlers/clients.go
Due: none

Prevent saving policy/rule if their tests fail
  internal/core/analysis_api/handlers/create_policy.go
  internal/core/analysis_api/handlers/create_rule.go
  internal/core/analysis_api/handlers/modify_policy.go
  internal/core/analysis_api/handlers/modify_rule.go
  internal/core/analysis_api/handlers/util.go
Due: none

Add tests for saving policy/rule with failing unit tests
  internal/core/analysis_api/analysis/doc.go
  internal/core/analysis_api/analysis/policy_engine.go
  internal/core/analysis_api/analysis/rule_engine.go
  internal/core/analysis_api/main/integration_test.go
Due: none

Minimize duplication when creating test result summary
  api/gateway/analysis/engine.go
  internal/core/analysis_api/analysis/policy_engine.go
  internal/core/analysis_api/analysis/rule_engine.go
  internal/core/analysis_api/handlers/clients.go
  internal/core/analysis_api/handlers/create_policy.go
  internal/core/analysis_api/handlers/test_policy.go
  internal/core/analysis_api/main/lambda.go
Due: none

chore: update descriptive chart headers
  web/src/pages/ComplianceOverview/ComplianceOverview.tsx
Due: prettier --write, eslint

fix: add proper order for horizontal legend data in chart component
  web/src/components/charts/BarChart/BarChart.tsx
  web/src/pages/ComplianceOverview/ComplianceOverview.tsx
  web/src/pages/ComplianceOverview/PoliciesOverviewChart/PoliciesOverviewChart.tsx
  web/src/pages/ComplianceOverview/PoliciesOverviewChart/index.tsx
Due: prettier --write, eslint

fix: remove passing policies for `PoliciesByStatusChart` component
  web/src/pages/ComplianceOverview/PoliciesByStatusChart/PoliciesByStatusChart.tsx
Due: prettier --write, eslint

chore: remove `ResourcesByPlatformChart` stale component
  web/src/pages/ComplianceOverview/ResourcesByPlatformChart/ResourcesByPlatformChart.tsx
  web/src/pages/ComplianceOverview/ResourcesByPlatformChart/index.tsx
Due: prettier --write, eslint

chore: fix the skeleton headers
  web/src/pages/ComplianceOverview/Skeleton/Skeleton.tsx
Due: prettier --write, eslint

feat: bundle analyzer CI check
  .circleci/config.yml
  package-lock.json
  package.json
  web/bundlesize.config.json
Due: prettier --write

fix: typo on YML
  .circleci/config.yml
Due: none

ci: strengthen budgets even more
  web/bundlesize.config.json
Due: prettier --write

buildi: change webpack size emitting to `warning`
  web/webpack.config.js
Due: prettier --write, eslint

ci: disable webpack performance hints on CI
  web/webpack.config.js
Due: prettier --write, eslint

feat: allow users to open the analyzer with one command
  package.json
  web/webpack.config.js
Due: prettier --write, eslint

test: checking config in CI
  web/webpack.config.js
Due: prettier --write, eslint

Revert "test: checking config in CI"
  web/webpack.config.js
Due: prettier --write, eslint

chore: add forgotten dependency
  package-lock.json
  package.json
  web/webpack.config.js
Due: prettier --write, eslint

chore: add new PR tetmplate
  .github/PULL_REQUEST_TEMPLATE/classic.md
  .github/PULL_REQUEST_TEMPLATE/web.md
Due: prettier --write

More WIP
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
  web/src/pages/LogAnalysisOverview/demoData.ts
Due: prettier --write, eslint

Fix linting errors
  web/src/pages/LogAnalysisOverview/EventsByLogType/EventsByLogType.tsx
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
Due: prettier --write, eslint

revert: opt for static fixture generation
  package-lock.json
  package.json
  web/.eslintrc.js
  web/__tests__/__mocks__/builders.generated.ts
  web/__tests__/codegen/mockGraphqlOperationsPlugin.js
  web/__tests__/codegen/mockGraphqlOperationsPlugin.ts
  web/__tests__/codegen/mockGraphqlResourcesPlugin.js
  web/__tests__/codegen/mockGraphqlResourcesPlugin.ts
  web/__tests__/codegen/tsconfig.json
  web/__tests__/example.test.tsx
  web/codegen.yml
Due: prettier --write, eslint

fix: remove HTML from comment
  .github/PULL_REQUEST_TEMPLATE/web.md
Due: prettier --write

Added graphql types and query for metrics
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
  web/src/pages/LogAnalysisOverview/demoData.ts
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.generated.ts
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.graphql
Due: prettier --write, eslint

Added LogAnalysisMetricsResolver to appsync
  deployments/appsync.yml
Due: none

Fix SAML link in the summary
  docs/gitbook/SUMMARY.md
Due: prettier --write

fix: pr comments
  api/graphql/schema.graphql
  api/lambda/alerts/models/api.go
  deployments/appsync.yml
  internal/core/alert_delivery/models/api.go
  internal/log_analysis/alert_forwarder/forwarder/models.go
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/api/get_alert_test.go
  internal/log_analysis/alerts_api/api/list_alerts.go
  internal/log_analysis/alerts_api/api/list_alerts_test.go
  internal/log_analysis/alerts_api/api/update_alert.go
  internal/log_analysis/alerts_api/api/update_alert_test.go
  web/__generated__/schema.tsx
  web/src/components/AlertStatusBadge/AlertStatusBadge.tsx
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
Due: prettier --write, eslint

fix: user attribution resolver
  api/graphql/schema.graphql
  deployments/appsync.yml
  web/__generated__/schema.tsx
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
  web/src/graphql/fragments/AlertDetailsFull.generated.ts
  web/src/graphql/fragments/AlertDetailsFull.graphql
  web/src/graphql/fragments/AlertSummaryFull.generated.ts
  web/src/graphql/fragments/AlertSummaryFull.graphql
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
Due: prettier --write, eslint

Move log group deletion to custom resource
  deployments/bootstrap_gateway.yml
  internal/core/custom_resources/resources/panther_teardown.go
  tools/mage/teardown.go
Due: none

fix: remove cache.gc as it did nothing
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
Due: prettier --write, eslint

Update quick-start uninstall docs
  docs/gitbook/quick-start.md
Due: prettier --write

run: mage fmt
  web/__tests__/__mocks__/builders.generated.ts
Due: prettier --write, eslint

Updated Appsync
  deployments/appsync.yml
Due: none

Update schema
  api/graphql/schema.graphql
  deployments/appsync.yml
  web/__generated__/schema.tsx
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.generated.ts
Due: prettier --write, eslint

Fixed name
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.generated.ts
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.graphql
Due: prettier --write, eslint

Uppercase properties
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.generated.ts
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.graphql
Due: prettier --write, eslint

Corrected MetricName property
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.generated.ts
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.graphql
Due: prettier --write, eslint

More WIP
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
  web/src/pages/LogAnalysisOverview/AlertSummary/AlertSummary.tsx
  web/src/pages/LogAnalysisOverview/AlertSummary/index.tsx
  web/src/pages/LogAnalysisOverview/AlertsBySeverity/AlertsBySeverity.tsx
  web/src/pages/LogAnalysisOverview/AlertsBySeverity/index.tsx
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
  web/src/pages/LogAnalysisOverview/demoData.ts
Due: prettier --write, eslint
