Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Updated Bar Chart
  web/src/components/Charts/components/Bars.tsx
Due: prettier --write, eslint

React.memo for bars
  web/src/components/Charts/components/Bars.tsx
Due: prettier --write, eslint

Added horizontal option for bars chart
  web/src/components/Charts/components/Bars.tsx
Due: prettier --write, eslint

Define log types for some AWS logs
  internal/log_analysis/log_processor/pantherlog/event_test.go
  internal/log_analysis/log_processor/pantherlog/values.go
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit.go
  internal/log_analysis/log_processor/parsers/awslogs/awslogs.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/extractor.go
  internal/log_analysis/log_processor/parsers/awslogs/extractor_test.go
  internal/log_analysis/log_processor/parsers/awslogs/pantherlog.go
Due: none

removed incorrect comment
  deployments/panther_config.yml
Due: none

Inital work on custom resources, more tests coming in next commit
  deployments/bootstrap_gateway.yml
  deployments/log_analysis.yml
  deployments/panther_config.yml
  internal/core/custom_resources/resources/athena.go
  internal/core/custom_resources/resources/clients.go
  internal/core/custom_resources/resources/glue.go
  internal/core/custom_resources/resources/map.go
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/put_integration_test.go
  internal/core/source_api/api/update_integration.go
  internal/core/source_api/api/update_integration_test.go
  internal/log_analysis/athenaviews/athenaviews.go
  internal/log_analysis/awsglue/awsglue.go
  internal/log_analysis/awsglue/integration_test.go
  internal/log_analysis/awsglue/schema.go
  internal/log_analysis/awsglue/table_metadata.go
  internal/log_analysis/awsglue/table_metadata_test.go
  internal/log_analysis/awsglue/wrappers.go
  internal/log_analysis/gluetables/gluetables.go
  internal/log_analysis/gluetables/gluetables_test.go
  tools/mage/deploy.go
  tools/mage/deploy_onboard.go
  tools/mage/teardown.go
Due: none

Replaced DonughtCharts with Bar Charts
  web/src/components/Charts/components/Bars.tsx
  web/src/components/DonutChart/DonutChart.tsx
  web/src/components/DonutChart/index.tsx
  web/src/pages/ComplianceOverview/BarChartWrapper/BarChartWrapper.tsx
  web/src/pages/ComplianceOverview/BarChartWrapper/index.tsx
  web/src/pages/ComplianceOverview/ComplianceOverview.tsx
  web/src/pages/ComplianceOverview/DonutChartWrapper/DonutChartWrapper.tsx
  web/src/pages/ComplianceOverview/PoliciesBySeverityChart/PoliciesBySeverityChart.tsx
  web/src/pages/ComplianceOverview/PoliciesByStatusChart/PoliciesByStatusChart.tsx
  web/src/pages/ComplianceOverview/ResourcesByPlatformChart/index.tsx
  web/src/pages/ComplianceOverview/ResourcesByStatusChart/ResourcesByStatusChart.tsx
  web/src/pages/ComplianceOverview/Skeleton/Skeleton.tsx
Due: prettier --write, eslint

Remove SAR headers
  deployments/appsync.yml
  deployments/bootstrap.yml
  deployments/bootstrap_gateway.yml
  deployments/cloud_security.yml
  deployments/core.yml
  deployments/dashboards.yml
  deployments/log_analysis.yml
  deployments/master.yml
  tools/mage/cfngen.go
  tools/mage/release.go
Due: none

Changes in chart components
  package.json
  web/src/components/Charts/Charts.tsx
  web/src/components/Charts/components/Bars.tsx
  web/src/components/Charts/components/TimeSeriesLines.tsx
  web/src/components/Charts/components/TimeSeriesZoomableLines.tsx
  web/src/components/Charts/components/demoData.ts
  web/src/components/Charts/components/index.tsx
  web/src/components/Charts/index.tsx
Due: prettier --write, eslint

Bump echarts to v4.8.0
  package-lock.json
  package.json
Due: prettier --write

Removed most unused constants
  web/src/components/Charts/constants.ts
Due: prettier --write, eslint

Fix appsync dependencies in appsync.yml
  deployments/appsync.yml
Due: none

Revert panther_config.yml to original defaults (accidental checkin)
  deployments/panther_config.yml
Due: none

Added hide legend options
  web/src/components/Charts/components/Bars.tsx
Due: prettier --write, eslint

Remove timeout, add replication parameter
  deployments/bootstrap_gateway.yml
  deployments/master.yml
Due: none

Fixed default value
  web/src/components/Charts/components/Bars.tsx
Due: prettier --write, eslint

improve table signatures and tests
  deployments/bootstrap_gateway.yml
  internal/log_analysis/awsglue/table_metadata.go
  internal/log_analysis/awsglue/table_metadata_test.go
  internal/log_analysis/gluetables/gluetables_test.go
Due: none

Put back temp in the list of dbs (took out to test sth)
  internal/log_analysis/awsglue/awsglue.go
Due: none

Light refactoring
  internal/log_analysis/awsglue/table_metadata.go
  internal/log_analysis/gluetables/gluetables.go
  tools/mage/glue_namespace.go
Due: none

Update master.yml with changes to stacks
  deployments/master.yml
Due: none

Update some comments
  deployments/log_analysis.yml
  internal/core/custom_resources/resources/map.go
  internal/core/source_api/api/put_integration.go
Due: none

More edits to comments
  tools/mage/deploy.go
Due: none

Nuther little refactor
  internal/log_analysis/gluetables/gluetables.go
Due: none

Add onboard stack to master template
  deployments/bootstrap_gateway.yml
  deployments/master.yml
  deployments/onboard.yml
  internal/core/custom_resources/resources/clients.go
  internal/core/custom_resources/resources/map.go
  internal/core/custom_resources/resources/self_log_config.go
  tools/mage/deploy.go
  tools/mage/deploy_onboard.go
Due: none

Add self-registration via source-api
  deployments/bootstrap_gateway.yml
  deployments/master.yml
  deployments/onboard.yml
  internal/core/custom_resources/resources/clients.go
  internal/core/custom_resources/resources/map.go
  internal/core/custom_resources/resources/self_registration.go
  tools/mage/deploy.go
  tools/mage/deploy_onboard.go
Due: none

Move stack set to custom resource
  deployments/auxiliary/cloudformation/panther-cloudsec-iam.yml
  deployments/bootstrap_gateway.yml
  deployments/master.yml
  deployments/onboard.yml
  internal/core/custom_resources/resources/clients.go
  internal/core/custom_resources/resources/map.go
  internal/core/custom_resources/resources/stack_set.go
  internal/core/source_api/api/testdata/panther-cloudsec-iam-updated.yml
  tools/mage/deploy_onboard.go
  tools/mage/teardown.go
  tools/mage/util_cfn.go
Due: none

Fix missing permissions
  deployments/bootstrap_gateway.yml
  internal/core/custom_resources/resources/stack_set.go
Due: none

Respond to PR
  internal/core/custom_resources/resources/athena.go
  internal/core/custom_resources/resources/glue.go
  internal/core/source_api/api/glue_utils.go
  tools/mage/deploy_onboard.go
Due: none

Fixing issue with url-encoded S3 object keys
  internal/log_analysis/log_processor/sources/s3.go
  internal/log_analysis/log_processor/sources/s3_test.go
Due: none

Refactor self-registration with delete support
  internal/core/custom_resources/resources/map.go
  internal/core/custom_resources/resources/self_registration.go
Due: none

split SelfLogConfig into separate logical custom resources
  deployments/bootstrap_gateway.yml
  deployments/onboard.yml
  internal/core/custom_resources/resources/clients.go
  internal/core/custom_resources/resources/guardduty_destination.go
  internal/core/custom_resources/resources/map.go
  internal/core/custom_resources/resources/s3_bucket_notification.go
  internal/core/custom_resources/resources/self_log_config.go
  internal/core/custom_resources/resources/self_registration.go
  internal/core/custom_resources/resources/stack_set.go
  tools/mage/deploy.go
Due: none

mage deploy successful (fix log proc role)
  deployments/master.yml
  deployments/onboard.yml
Due: none

Move migrations to their own file, delete stack set
  tools/mage/deploy.go
  tools/mage/migrations.go
Due: none

Small comment fix
  internal/core/custom_resources/resources/map.go
Due: none

fix migrations
  tools/mage/migrations.go
Due: none

Remove commented code
  internal/log_analysis/log_processor/jsonutil/jsontricks.go
Due: none

Adds pantherlog.URLScanner()
  internal/log_analysis/log_processor/pantherlog/values.go
  internal/log_analysis/log_processor/pantherlog/values_test.go
Due: none

Use functions for value scanners with no state
  internal/log_analysis/log_processor/pantherlog/values.go
  internal/log_analysis/log_processor/pantherlog/values_test.go
Due: none

Move most of the changes to `pantherlog` package
  internal/log_analysis/log_processor/pantherlog/pantherlog.go
  internal/log_analysis/log_processor/pantherlog/registry.go
  internal/log_analysis/log_processor/parsers/parsers.go
  internal/log_analysis/log_processor/parsers/registry.go
Due: none

Add log parser wrappers for stats and logs to `parsers` module.
  internal/log_analysis/log_processor/parsers/logged.go
  internal/log_analysis/log_processor/parsers/metered.go
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
