Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

mage gen fmt
  README.md
Due: prettier --write

chore: set console to throw lint error
  web/.eslintrc.js
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
Due: prettier --write, eslint

fix: added discarable for errors on create/edit policies
  web/src/pages/CreatePolicy/CreatePolicy.tsx
  web/src/pages/EditPolicy/EditPolicy.tsx
Due: prettier --write, eslint

Switch to using "Alert Type" in the alert rather than "error Type" (#1623)
  api/lambda/alerts/models/api.go
  api/lambda/delivery/models/api.go
  internal/core/alert_delivery/outputs/asana_test.go
  internal/core/alert_delivery/outputs/custom_webhook_test.go
  internal/core/alert_delivery/outputs/github_test.go
  internal/core/alert_delivery/outputs/jira_test.go
  internal/core/alert_delivery/outputs/msteams_test.go
  internal/core/alert_delivery/outputs/opsgenie_test.go
  internal/core/alert_delivery/outputs/outputs.go
  internal/core/alert_delivery/outputs/outputs_test.go
  internal/core/alert_delivery/outputs/slack_test.go
  internal/core/alert_delivery/outputs/sns_test.go
  internal/core/alert_delivery/outputs/sqs_test.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder_test.go
  internal/log_analysis/alert_forwarder/forwarder/models.go
  internal/log_analysis/alert_forwarder/forwarder/models_test.go
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/table/table.go
  internal/log_analysis/alerts_api/utils/utils.go
  internal/log_analysis/rules_engine/src/alert_merger.py
  internal/log_analysis/rules_engine/tests/test_output.py
Due: none

API that allows retrieving Rule Error alerts (#1581)
  api/lambda/alerts/models/api.go
  api/lambda/delivery/models/api.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder_test.go
  internal/log_analysis/alert_forwarder/forwarder/models.go
  internal/log_analysis/alert_forwarder/main/lambda.go
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/table/table.go
  internal/log_analysis/alerts_api/utils/utils.go
  internal/log_analysis/rules_engine/src/engine.py
  pkg/metrics/logger.go
  pkg/testutils/metrics.go
Due: none

Skip autofmt step when a PR is from a fork
  .circleci/config.yml
Due: none

API that allows retrieving Rule Error alerts (#1581)
  api/lambda/alerts/models/api.go
  api/lambda/delivery/models/api.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alerts_api/table/table.go
  internal/log_analysis/alerts_api/utils/utils.go
Due: none

Switch to using "Alert Type" in the alert rather than "error Type" (#1623)
  api/lambda/alerts/models/api.go
  api/lambda/delivery/models/api.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alerts_api/table/table.go
  internal/log_analysis/alerts_api/utils/utils.go
Due: none

chore: update check for readability
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
Due: prettier --write, eslint

Fixing unit test
  internal/log_analysis/alert_forwarder/forwarder/forwarder_test.go
Due: none

chore: updated code style
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
Due: prettier --write, eslint

Be very polite to contributors
  .circleci/config.yml
Due: none

Minor UX Improvements (#1774)
  web/.eslintrc.js
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
  web/src/pages/ComplianceOverview/PoliciesBySeverityChart/PoliciesBySeverityChart.tsx
  web/src/pages/ComplianceOverview/PoliciesByStatusChart/PoliciesByStatusChart.tsx
  web/src/pages/ComplianceOverview/ResourcesByStatusChart/ResourcesByStatusChart.tsx
  web/src/pages/CreatePolicy/CreatePolicy.tsx
  web/src/pages/CreateRule/CreateRule.tsx
  web/src/pages/EditPolicy/EditPolicy.tsx
  web/src/pages/EditRule/EditRule.tsx
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.test.tsx
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
  web/src/pages/LogAnalysisOverview/graphql/getOverviewAlerts.generated.ts
  web/src/pages/LogAnalysisOverview/graphql/getOverviewAlerts.graphql
Due: prettier --write, eslint

Populating Alert Type always
  internal/log_analysis/alerts_api/api/get_alert_test.go
  internal/log_analysis/alerts_api/api/list_alerts_test.go
  internal/log_analysis/alerts_api/utils/utils.go
Due: none

Fix YAML spaces
  .circleci/config.yml
Due: none

Fix buildpack executor
  .circleci/config.yml
Due: none

mage gen fmt
  .circleci/config.yml
Due: none

shrink vpc
  internal/compliance/snapshot_poller/models/aws/ec2_vpc.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_vpc.go
  requirements.txt
Due: none

added size calculations & protections
  internal/compliance/resources_api/handlers/add_resources.go
  pkg/awsbatch/dynamodbbatch/item_size.go
Due: none

fixed up comments
  internal/compliance/snapshot_poller/pollers/aws/ec2_vpc.go
  pkg/awsbatch/dynamodbbatch/item_size.go
Due: none

New version string
  VERSION
  tools/mage/deploy/deploy.go
  tools/mage/deploy/deploy_template.go
  tools/mage/util/version.go
Due: none

Inject version into master template
  deployments/master.yml
  tools/mage/master/build.go
  tools/mage/master/deploy.go
  tools/mage/master/publish.go
  tools/mage/test/cfn.go
Due: none

Remove explicit version from aux templates
  deployments/auxiliary/cloudformation/Makefile
  deployments/auxiliary/cloudformation/README.md
  deployments/auxiliary/cloudformation/panther-cloudsec-iam.yml
  deployments/auxiliary/cloudformation/panther-cloudwatch-events.yml
  deployments/auxiliary/cloudformation/panther-deployment-role.yml
  deployments/auxiliary/cloudformation/panther-log-analysis-iam.yml
  deployments/auxiliary/cloudformation/panther-log-processing-notifications.yml
  deployments/auxiliary/cloudformation/panther-stackset-iam-admin-role.yml
Due: prettier --write

Add v prefix to makefile aux aupload
  deployments/auxiliary/cloudformation/Makefile
Due: none

Fix source-api unit tests
  internal/core/source_api/api/testdata/panther-cloudsec-iam-updated.yml
  internal/core/source_api/api/testdata/panther-log-analysis-iam-updated.yml
Due: none

Create shared VERSION file (#1785)
  VERSION
  deployments/auxiliary/cloudformation/Makefile
  deployments/auxiliary/cloudformation/README.md
  deployments/auxiliary/cloudformation/panther-cloudsec-iam.yml
  deployments/auxiliary/cloudformation/panther-cloudwatch-events.yml
  deployments/auxiliary/cloudformation/panther-deployment-role.yml
  deployments/auxiliary/cloudformation/panther-log-analysis-iam.yml
  deployments/auxiliary/cloudformation/panther-log-processing-notifications.yml
  deployments/auxiliary/cloudformation/panther-stackset-iam-admin-role.yml
  deployments/master.yml
  internal/core/source_api/api/testdata/panther-cloudsec-iam-updated.yml
  internal/core/source_api/api/testdata/panther-log-analysis-iam-updated.yml
  tools/mage/deploy/deploy.go
  tools/mage/deploy/deploy_template.go
  tools/mage/master/build.go
  tools/mage/master/deploy.go
  tools/mage/master/publish.go
  tools/mage/test/cfn.go
  tools/mage/util/version.go
Due: prettier --write

Bump version to 1.11.0-RC
  VERSION
Due: none

unit tests
  pkg/awsbatch/dynamodbbatch/item_size.go
  pkg/awsbatch/dynamodbbatch/item_size_test.go
Due: none

final fixes from testing
  internal/compliance/resources_api/handlers/add_resources.go
Due: none

mage gen fmt
  internal/compliance/resources_api/handlers/add_resources.go
Due: none

Rename erros.test.tsx to errors.test.tsx
  web/src/helpers/__tests__/errors.test.tsx
Due: prettier --write, eslint

Add filtering for rule errors
  api/lambda/alerts/models/api.go
  internal/log_analysis/alerts_api/api/list_alerts_test.go
  internal/log_analysis/alerts_api/table/list.go
  internal/log_analysis/alerts_api/table/table.go
Due: none

Added panic
  internal/log_analysis/alerts_api/table/list.go
Due: none

chore: add plain logo
  web/src/assets/panther-plain-logo.svg
Due: none

feat: add proper Footer component
  web/src/components/Footer/Footer.tsx
  web/src/components/Footer/index.tsx
Due: prettier --write, eslint

feat: align General Settings page with redesign needs
  web/src/pages/GeneralSettings/GeneralSettings.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
