Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

change glob in lint-staged
  lint-staged.config.js
Due: prettier --write, eslint

revert fossa changes
  .fossa.yml
Due: none

Added Asana delivery
  internal/core/alert_delivery/outputs/asana.go
  internal/core/alert_delivery/outputs/asana_test.go
  internal/core/alert_delivery/outputs/github_test.go
  internal/core/alert_delivery/outputs/jira.go
  internal/core/alert_delivery/outputs/jira_test.go
  internal/core/alert_delivery/outputs/msteams.go
  internal/core/alert_delivery/outputs/msteams_test.go
  internal/core/alert_delivery/outputs/opsgenie.go
  internal/core/alert_delivery/outputs/opsgenie_test.go
  internal/core/alert_delivery/outputs/outputs.go
  internal/core/alert_delivery/outputs/pagerduty.go
  internal/core/alert_delivery/outputs/pagerduty_test.go
  internal/core/alert_delivery/outputs/post.go
  internal/core/alert_delivery/outputs/post_test.go
  internal/core/alert_delivery/outputs/slack.go
  internal/core/alert_delivery/outputs/slack_test.go
  internal/core/alert_delivery/outputs/sns.go
  internal/core/alert_delivery/outputs/sqs.go
  internal/core/outputs_api/validator/validator_test.go
Due: none

Added unit test for Asana
  internal/core/alert_delivery/delivery/dispatch.go
  internal/core/alert_delivery/models/api.go
  internal/core/alert_delivery/outputs/asana.go
  internal/core/alert_delivery/outputs/asana_test.go
  internal/core/alert_delivery/outputs/outputs.go
Due: none

Adding Asana in progress
  api/lambda/outputs/models/api.go
  internal/core/outputs_api/api/add_output_test.go
  internal/core/outputs_api/api/utils.go
  internal/core/outputs_api/validator/validator.go
Due: none

Added Asana destination output
  api/lambda/outputs/models/api.go
  internal/core/outputs_api/api/add_output_test.go
Due: none

Fixing linting issues" "
  internal/core/alert_delivery/models/api.go
  internal/core/alert_delivery/outputs/asana_test.go
Due: none

Added extra check
  api/lambda/outputs/models/api.go
Due: none

only run for TS changes
  lint-staged.config.js
Due: prettier --write, eslint

Added documentation
  docs/gitbook/log-analysis/supported-logs/README.md
  internal/log_analysis/log_processor/parsers/nginxlogs/access.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access_test.go
  internal/log_analysis/log_processor/registry/registry.go
Due: prettier --write

Added nolint instruction
  internal/log_analysis/log_processor/parsers/nginxlogs/access.go
Due: none

Update issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

update web docs
  web/README.md
Due: prettier --write

Disable creating Athena views until next PR where we add std fields
  tools/athenaviews/athenaviews.go
Due: none

add asana
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/assets/asana-minimal-logo.svg
  web/src/components/destination-card.tsx
  web/src/components/forms/destination-form/asana-destination-form.tsx
  web/src/components/forms/destination-form/index.tsx
  web/src/components/sidesheets/add-destination-sidesheet.tsx
  web/src/components/sidesheets/select-destination-sidesheet.tsx
  web/src/components/sidesheets/update-destination-sidesheet.tsx
Due: prettier --write, eslint

fix destination logo sizes
  web/src/assets/asana-minimal-logo.svg
  web/src/assets/aws-logo.svg
  web/src/assets/aws-sns-minimal-logo.svg
  web/src/assets/aws-sns.svg
  web/src/assets/aws-sqs-minimal-logo.svg
  web/src/assets/aws-sqs.svg
  web/src/components/sidesheets/select-destination-sidesheet.tsx
Due: prettier --write, eslint

fix issue with updates
  web/src/components/forms/destination-form/asana-destination-form.tsx
  web/src/helpers/utils.tsx
  web/src/pages/destinations/index.tsx
Due: prettier --write, eslint

Add standard panther fields to all log parsers and enahnce aws extractor
  go.mod
  internal/log_analysis/log_processor/parsers/awslogs/alb.go
  internal/log_analysis/log_processor/parsers/awslogs/alb_test.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit_test.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_test.go
  internal/log_analysis/log_processor/parsers/awslogs/extractor.go
  internal/log_analysis/log_processor/parsers/awslogs/extractor_test.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty_test.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access_test.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow_test.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status_test.go
  internal/log_analysis/log_processor/parsers/pantherlog_test.go
  internal/log_analysis/log_processor/parsers/patherlog.go
  tools/athenaviews/athenaviews.go
Due: none

fix broken delete
  web/src/client.ts
  web/src/pages/list-sources/subcomponents/infra-source-table.tsx
  web/src/pages/list-sources/subcomponents/log-source-table.tsx
Due: prettier --write, eslint

Fix go.mod and refactor test function newRawMessage()
  go.mod
  internal/log_analysis/log_processor/parsers/awslogs/guardduty_test.go
  internal/log_analysis/log_processor/parsers/awslogs/utils_test.go
Due: none

bring back users-api
  api/graphql/schema.graphql
  deployments/core/appsync.yml
  web/__generated__/schema.tsx
  web/src/components/forms/user-invitation-form/index.tsx
  web/src/components/modals/delete-user-modal.tsx
  web/src/components/navigation.tsx
  web/src/components/sidesheets/user-invitation-sidesheet.tsx
  web/src/pages/users/columns.tsx
  web/src/pages/users/index.tsx
  web/src/pages/users/subcomponents/invite-user-form.tsx
  web/src/pages/users/subcomponents/list-users-table-row-options.tsx
  web/src/pages/users/subcomponents/list-users-table.tsx
Due: prettier --write, eslint

fix indentation
  web/src/pages/list-sources/subcomponents/infra-source-table.tsx
Due: prettier --write, eslint

Removed MFA configuration that causes fresh deployments to fail
  deployments/core/cognito.yml
Due: none

move `users` to Query
  api/graphql/schema.graphql
Due: none

update docs with root dir
  web/README.md
Due: prettier --write

Fix vpc flow column name: destport -> dstport
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
Due: none

Use cfn package for GraphQL
  deployments/core/appsync.yml
  tools/mage/deploy.go
  tools/mage/swagger.go
  tools/mage/swagger_test.go
Due: none

Consistently use AWS::Partition and AWS::URLSuffix
  deployments/compliance/alert_processing.yml
  deployments/compliance/aws_event_processor.yml
  deployments/compliance/compliance_api.yml
  deployments/compliance/remediation.yml
  deployments/compliance/resources_api.yml
  deployments/compliance/snapshot.yml
  deployments/core/admin_api.yml
  deployments/core/analysis_api.yml
  deployments/core/appsync.yml
  deployments/core/outputs.yml
  deployments/log_analysis/alerts.yml
  deployments/log_analysis/log_processor.yml
  deployments/log_analysis/rules_engine.yml
  deployments/web/ecr.yml
  deployments/web/server.yml
Due: none

Document panther standard fields and example athen queries
  docs/gitbook/.gitbook/assets/PantherStandardFieldRule.png
  docs/gitbook/SUMMARY.md
  docs/gitbook/historical-search/README.md
  docs/gitbook/historical-search/example-queries.md
  docs/gitbook/historical-search/panther-fields.md
  docs/gitbook/log-analysis/log-processing/README.md
Due: prettier --write

Deployment works
  deployments/backend.yml
  deployments/compliance/alert_processing.yml
  deployments/core/appsync.yml
  deployments/web/server.yml
  tools/mage/deploy.go
  tools/mage/deploy_certificate.go
  tools/mage/deploy_template.go
  tools/mage/swagger.go
  tools/mage/swagger_test.go
Due: none

Unrelated integration test fix
  internal/core/analysis_api/main/integration_test.go
Due: none

Add logging for fmt and setup
  tools/mage/build_namespace.go
  tools/mage/deploy.go
  tools/mage/deploy_ruleset.go
  tools/mage/deploy_template.go
  tools/mage/fmt.go
  tools/mage/fmt_license.go
  tools/mage/setup.go
  tools/mage/swagger.go
  tools/mage/util.go
Due: none

`eventsLastEvaluatedKey` is no longer required
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
Due: prettier --write, eslint

Respond to PR
  docs/gitbook/historical-search/README.md
  docs/gitbook/historical-search/example-queries.md
  docs/gitbook/historical-search/panther-fields.md
Due: prettier --write

Respond to PR
  docs/gitbook/SUMMARY.md
Due: prettier --write

Add example queries
  docs/gitbook/historical-search/example-queries.md
Due: prettier --write

Make vpcflow addrs and ports have consitent prefixes
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow_test.go
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
