Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Revert "Removed exporting of select & deselectItem"
  web/src/components/utils/SelectContext/SelectContext.tsx
Due: prettier --write, eslint

Updated according to recommendation
  internal/core/source_api/api/update_integration.go
  internal/core/source_api/api/update_integration_test.go
  pkg/stringset/stringset.go
  pkg/stringset/stringset_test.go
Due: none

Added tests for RuleDetails
  web/src/pages/ListAlerts/ListAlerts.test.tsx
  web/src/pages/RuleDetails/RuleDetails.test.tsx
Due: prettier --write, eslint

fix: update SubmitButton component along with panther-enterprise
  web/src/components/buttons/SubmitButton/SubmitButton.tsx
  web/src/components/forms/BaseDestinationForm/BaseDestinationForm.tsx
  web/src/components/forms/BaseDestinationForm/SumbitButton.tsx
Due: prettier --write, eslint

add displayName to data models
  api/gateway/analysis/api.yml
  api/gateway/analysis/models/data_model.go
  api/gateway/analysis/models/update_data_model.go
  internal/core/analysis_api/handlers/create_datamodel.go
  internal/core/analysis_api/handlers/dynamo.go
  internal/core/analysis_api/handlers/modify_datamodel.go
Due: none

pr comments: .get method; key tests; comment updates; remove commented code
  internal/log_analysis/rules_engine/src/data_model.py
  internal/log_analysis/rules_engine/src/enriched_event.py
Due: none

mage gen fmt
  internal/log_analysis/rules_engine/src/data_model.py
Due: none

rename from field to path
  api/gateway/analysis/api.yml
  api/gateway/analysis/configmodels.go
  api/gateway/analysis/models/data_model_mapping.go
  api/gateway/analysis/models/data_model_method.go
  api/gateway/analysis/models/data_model_name.go
  api/gateway/analysis/models/data_model_path.go
  internal/core/analysis_api/handlers/bulk_upload.go
  internal/core/analysis_api/handlers/create_datamodel.go
  internal/core/analysis_api/handlers/util.go
  internal/core/analysis_api/main/integration_test.go
  internal/core/analysis_api/main/test_analyses/sample_data_model.yml
Due: none

consumer update from field to path
  internal/log_analysis/rules_engine/src/data_model.py
  internal/log_analysis/rules_engine/src/enriched_event.py
  internal/log_analysis/rules_engine/tests/test_data_model.py
  internal/log_analysis/rules_engine/tests/test_engine.py
  internal/log_analysis/rules_engine/tests/test_enriched_event.py
Due: none

update requirements-top-level with jsonpath_ng
  requirements-top-level.txt
  requirements.txt
Due: none

extract common code into util
  internal/log_analysis/rules_engine/src/data_model.py
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/src/util.py
Due: none

fmt
  internal/log_analysis/rules_engine/src/util.py
Due: none

wip: radio
  web/src/components/forms/OpsgenieDestinationForm/OpsgenieDestinationForm.tsx
Due: prettier --write, eslint

chore: update to v1.12.0
  VERSION
Due: none

Update, suppress, and test endpoints (all endpoints except listing)
  api/lambda/analysis/models/policies.go
  api/lambda/analysis/models/rules.go
  deployments/appsync.yml
  internal/core/analysis_api/analysis/rule_engine.go
  internal/core/analysis_api/handlers/create_rule.go
  internal/core/analysis_api/handlers/create_update_global.go
  internal/core/analysis_api/handlers/create_update_policy.go
  internal/core/analysis_api/handlers/delete_detections.go
  internal/core/analysis_api/handlers/modify_global.go
  internal/core/analysis_api/handlers/modify_policy.go
  internal/core/analysis_api/handlers/modify_rule.go
  internal/core/analysis_api/handlers/test_policy.go
  internal/core/analysis_api/handlers/test_python.go
Due: none

merge changes from panther-labs/panther#2011
  VERSION
Due: none

fix conflicts
  VERSION
Due: none

List operations; test:ci passes (without integration test)
  api/lambda/analysis/models/globals.go
  api/lambda/analysis/models/policies.go
  api/lambda/analysis/models/rules.go
  deployments/appsync.yml
  go.mod
  go.sum
  internal/compliance/remediation_api/remediation/invoke.go
  internal/compliance/resource_processor/processor/handler.go
  internal/compliance/resources_api/handlers/list_resources.go
  internal/core/analysis_api/analysis/rule_engine_test.go
  internal/core/analysis_api/handlers/create_update_policy.go
  internal/core/analysis_api/handlers/create_update_rule.go
  internal/core/analysis_api/handlers/dynamo.go
  internal/core/analysis_api/handlers/list.go
  internal/core/analysis_api/handlers/list_policies.go
  internal/core/analysis_api/handlers/list_rules.go
  internal/core/analysis_api/handlers/list_test.go
  internal/core/analysis_api/handlers/util.go
  internal/core/analysis_api/main/lambda_test.go
  internal/core/layer_manager/manager/handle.go
Due: none

touched up README a bit
  deployments/auxiliary/terraform/README.md
Due: prettier --write

extract domains from CT sourceIPAddress field
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/testdata/cloudtrail_tests.yml
Due: none

Update according to PR comments
  internal/core/source_api/api/check_integration.go
  internal/core/source_api/api/update_integration.go
  internal/core/source_api/api/update_integration_test.go
Due: none

Fixed margin
  web/src/pages/ListAlerts/ListAlerts.tsx
Due: prettier --write, eslint

Bulk change for Alert status [2/2] (#2008)
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
  web/src/components/utils/SelectContext/SelectAllCheckbox.tsx
  web/src/components/utils/SelectContext/SelectCheckbox.tsx
  web/src/components/utils/SelectContext/SelectContext.test.tsx
  web/src/components/utils/SelectContext/SelectContext.tsx
  web/src/graphql/queries/index.tsx
  web/src/graphql/queries/updateAlertStatus.generated.ts
  web/src/graphql/queries/updateAlertStatus.graphql
  web/src/helpers/analytics.ts
  web/src/pages/ListAlerts/ListAlertSelection/ListAlertSelection.tsx
  web/src/pages/ListAlerts/ListAlerts.test.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
  web/src/pages/RuleDetails/RuleAlertsListing/RuleAlertsListing.tsx
  web/src/pages/RuleDetails/RuleDetails.test.tsx
Due: prettier --write, eslint

Added word break for GenericItem Card heading
  web/src/components/GenericItemCard/GenericItemCard.tsx
Due: prettier --write, eslint

Fixed line break for default rule body #1984
  web/src/constants.ts
Due: prettier --write, eslint

Added dark gray as inactive color
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
Due: prettier --write, eslint

Added test case
  internal/core/source_api/api/check_integration.go
  internal/core/source_api/api/update_integration_test.go
Due: none

Update tables only if integration adds new log types (#2006)
  internal/core/source_api/api/update_integration.go
  internal/core/source_api/api/update_integration_test.go
Due: none

Change submit color to purple
  web/src/pages/ListAlerts/ListAlertSelection/ListAlertSelection.tsx
Due: prettier --write, eslint

Bump pounce to v0.75.1
  package-lock.json
  package.json
Due: prettier --write

formatting
  deployments/auxiliary/terraform/README.md
Due: prettier --write

Keep only 1 required field for each Cloudflare log type
  internal/log_analysis/log_processor/parsers/cloudflarelogs/cloudflarelogs.go
  internal/log_analysis/log_processor/parsers/cloudflarelogs/firewall.go
  internal/log_analysis/log_processor/parsers/cloudflarelogs/http_request.go
  internal/log_analysis/log_processor/parsers/cloudflarelogs/spectrum.go
  internal/log_analysis/log_processor/parsers/cloudflarelogs/testdata/cloudflare_tests.yml
Due: none

add displayName to data models (#2010)
  api/gateway/analysis/api.yml
  api/gateway/analysis/models/data_model.go
  api/gateway/analysis/models/update_data_model.go
  internal/core/analysis_api/handlers/create_datamodel.go
  internal/core/analysis_api/handlers/dynamo.go
  internal/core/analysis_api/handlers/modify_datamodel.go
Due: none

fix license check
  requirements-top-level.txt
  requirements.txt
Due: none

Keep only 1 required field for each Cloudflare log type (#2020)
  internal/log_analysis/log_processor/parsers/cloudflarelogs/cloudflarelogs.go
  internal/log_analysis/log_processor/parsers/cloudflarelogs/firewall.go
  internal/log_analysis/log_processor/parsers/cloudflarelogs/http_request.go
  internal/log_analysis/log_processor/parsers/cloudflarelogs/spectrum.go
  internal/log_analysis/log_processor/parsers/cloudflarelogs/testdata/cloudflare_tests.yml
Due: none

Updated snapshots
  web/src/components/cards/AlertCard/__snapshots__/AlertCard.test.tsx.snap
  web/src/pages/ListDestinations/DestinationCards/__tests__/__snapshots__/DestinationCard.test.tsx.snap
Due: none

udm support in rules engine (#2004)
  api/gateway/analysis/api.yml
  api/gateway/analysis/configmodels.go
  api/gateway/analysis/models/data_model_mapping.go
  api/gateway/analysis/models/data_model_method.go
  api/gateway/analysis/models/data_model_name.go
  api/gateway/analysis/models/data_model_path.go
  deployments/panther_config.yml
  internal/core/analysis_api/handlers/bulk_upload.go
  internal/core/analysis_api/handlers/create_datamodel.go
  internal/core/analysis_api/handlers/util.go
  internal/core/analysis_api/main/integration_test.go
  internal/core/analysis_api/main/test_analyses/sample_data_model.yml
  internal/log_analysis/rules_engine/src/__init__.py
  internal/log_analysis/rules_engine/src/analysis_api.py
  internal/log_analysis/rules_engine/src/data_model.py
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/src/enriched_event.py
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/src/util.py
  internal/log_analysis/rules_engine/tests/test_data_model.py
  internal/log_analysis/rules_engine/tests/test_engine.py
  internal/log_analysis/rules_engine/tests/test_enriched_event.py
  requirements-top-level.txt
  requirements.txt
Due: none

chore: version bump to v1.12.1
  VERSION
Due: none

chore: version bump to v1.12.1 (#2023)
  VERSION
Due: none

change logging message
  internal/compliance/snapshot_poller/pollers/aws/poll.go
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
