Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Upgrade TF
  tools/mage/setup.go
  tools/mage/test_namespace.go
Due: none

Update all libraries
  api/gateway/analysis/models/analysis_type.go
  api/gateway/analysis/models/compliance_status.go
  api/gateway/analysis/models/severity.go
  api/gateway/compliance/models/policy_severity.go
  api/gateway/compliance/models/status.go
  api/gateway/resources/models/compliance_status.go
  api/gateway/resources/models/integration_type.go
  go.mod
  go.sum
  internal/compliance/remediation_api/handlers/post.go
  internal/compliance/snapshot_poller/pollers/aws/kms_key.go
  internal/core/custom_resources/resources/layer_attachment.go
  internal/log_analysis/athenaviews/athenaviews.go
  internal/log_analysis/awsglue/integration_test.go
  internal/log_analysis/log_processor/parsers/zeeklogs/dns.go
  internal/log_analysis/log_processor/parsers/zeeklogs/dns_test.go
  requirements-top-level.txt
  requirements.txt
  tools/cfnparse/parse.go
  tools/mage/build_namespace.go
  tools/mage/deploy.go
  tools/mage/deploy_template.go
  tools/mage/fmt.go
  tools/mage/setup.go
  tools/mage/test_namespace.go
  tools/mage/util.go
Due: none

Remove other client error alarm
  internal/core/custom_resources/resources/alarms_elb.go
Due: none

fix: pr feedback
  api/graphql/schema.graphql
  api/lambda/alerts/models/api.go
  internal/log_analysis/alerts_api/api/list_alerts.go
  internal/log_analysis/alerts_api/table/list.go
  web/__generated__/schema.tsx
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
Due: prettier --write, eslint

chore: fix example
  api/lambda/alerts/models/api.go
Due: none

chore: update example query
  api/lambda/alerts/models/api.go
Due: none

Update links via mage
  docs/gitbook/operations/runbooks.md
  tools/mage/doc.go
Due: prettier --write

fixed error handling case
  internal/compliance/snapshot_poller/pollers/aws/iam_user.go
Due: none

new analysis section
  docs/gitbook/SUMMARY.md
  docs/gitbook/analysis/built-in-packs.md
  docs/gitbook/analysis/caching.md
  docs/gitbook/analysis/helpers.md
  docs/gitbook/analysis/panther-cli.md
  docs/gitbook/analysis/run-time.md
  docs/gitbook/cloud-security/automatic-remediation/README.md
  docs/gitbook/cloud-security/automatic-remediation/writing-custom-remediations.md
  docs/gitbook/cloud-security/policies/README.md
  docs/gitbook/log-analysis/rules/README.md
  docs/gitbook/log-analysis/rules/panther-cli.md
  docs/gitbook/quick-start.md
  docs/gitbook/tutorials/osquery-log-analysis.md
Due: prettier --write

fix typos and errs in destinations
  docs/gitbook/destinations/README.md
  docs/gitbook/destinations/asana.md
  docs/gitbook/destinations/github.md
  docs/gitbook/destinations/jira.md
  docs/gitbook/destinations/microsoft-teams.md
  docs/gitbook/destinations/opsgenie.md
  docs/gitbook/destinations/pagerduty.md
  docs/gitbook/destinations/slack.md
Due: prettier --write

checkpoint on writing rules
  docs/gitbook/SUMMARY.md
  docs/gitbook/analysis/panther-cli.md
  docs/gitbook/cloud-security/policies/README.md
  docs/gitbook/log-analysis/rules/README.md
  docs/gitbook/log-analysis/rules/ui-workflow.md
Due: prettier --write

panther cli to pat
  docs/gitbook/SUMMARY.md
  docs/gitbook/analysis/panther-analysis-tool.md
  docs/gitbook/log-analysis/rules/README.md
  docs/gitbook/log-analysis/rules/ui-workflow.md
Due: prettier --write

Updated docs
  docs/gitbook/SUMMARY.md
  docs/gitbook/log-analysis/log-processing/supported-logs/CiscoUmbrella.md
  docs/gitbook/log-analysis/log-processing/supported-logs/GSuite.md
Due: prettier --write

Added Cisco Umbrella
  docs/gitbook/SUMMARY.md
Due: prettier --write

Fixed reference in GSuite logs
  docs/gitbook/log-analysis/log-processing/supported-logs/GSuite.md
Due: prettier --write

handle Policy Details
  web/src/components/Linkify/Linkify.tsx
  web/src/components/StatusBadge/StatusBadge.tsx
  web/src/components/buttons/RemediationButton/RemediationButton.tsx
  web/src/components/utils/TableControls/TableControlsComplianceFilter.tsx
  web/src/hooks/graphql/remediateResource.generated.ts
  web/src/hooks/graphql/remediateResource.graphql
  web/src/hooks/useResourceRemediation.tsx
  web/src/pages/PolicyDetails/PolicyDetails.tsx
  web/src/pages/PolicyDetails/PolicyDetailsInfo/PolicyDetailsInfo.tsx
  web/src/pages/PolicyDetails/PolicyDetailsTable/PolicyDetailsTable.tsx
  web/src/pages/PolicyDetails/PolicyDetailsTable/PolicyDetailsTableRowOptions.tsx
  web/src/pages/PolicyDetails/Skeleton/Skeleton.tsx
Due: prettier --write, eslint

handle resource details page
  package-lock.json
  package.json
  web/src/components/buttons/RemediationButton/RemediationButton.tsx
  web/src/components/buttons/RemediationButton/graphql/remediateResource.generated.ts
  web/src/components/buttons/RemediationButton/graphql/remediateResource.graphql
  web/src/components/buttons/RemediationButton/index.tsx
  web/src/components/buttons/SuppressButton/SuppressButton.tsx
  web/src/components/buttons/SuppressButton/index.tsx
  web/src/pages/ComplianceOverview/TopFailingPoliciesTable/TopFailingPoliciesTable.tsx
  web/src/pages/ListPolicies/ListPoliciesTable/ListPoliciesTable.tsx
  web/src/pages/ListResources/ListResourcesTable/ListResourcesTable.tsx
  web/src/pages/PolicyDetails/PolicyDetails.tsx
  web/src/pages/PolicyDetails/PolicyDetailsInfo/PolicyDetailsInfo.tsx
  web/src/pages/PolicyDetails/PolicyDetailsTable/PolicyDetailsTable.tsx
  web/src/pages/PolicyDetails/Skeleton/Skeleton.tsx
  web/src/pages/ResourceDetails/ResourceDetails.tsx
  web/src/pages/ResourceDetails/ResourceDetailsInfo/ResourceDetailsInfo.tsx
  web/src/pages/ResourceDetails/ResourceDetailsTable/ResourceDetailsTable.tsx
  web/src/pages/ResourceDetails/ResourceDetailsTable/ResourceDetailsTableRowOptions.tsx
  web/src/pages/ResourceDetails/Skeleton/Skeleton.tsx
Due: prettier --write, eslint

add open/closee to eresource attributes
  web/src/components/JsonViewer/JsonViewer.tsx
  web/src/helpers/utils.tsx
  web/src/pages/ResourceDetails/ResourceDetails.tsx
  web/src/pages/ResourceDetails/ResourceDetailsAttributes/ResourceDetailsAttributes.tsx
  web/src/pages/ResourceDetails/ResourceDetailsAttributes/index.tsx
Due: prettier --write, eslint

Move VPC flow logs to bootstrap
  deployments/bootstrap.yml
  deployments/master.yml
  deployments/onboard.yml
  tools/mage/deploy.go
Due: none

Added guidance for GSuite onboarding
  docs/gitbook/SUMMARY.md
  docs/gitbook/log-analysis/log-processing/log-setup/gsuite.md
Due: prettier --write

Small updates
  docs/gitbook/SUMMARY.md
  docs/gitbook/log-analysis/log-processing/log-setup/gsuite.md
Due: prettier --write

Removed extra whitespace
  docs/gitbook/log-analysis/log-processing/log-setup/gsuite.md
Due: prettier --write

Applied suggestions from PR
  docs/gitbook/log-analysis/log-processing/log-setup/gsuite.md
Due: prettier --write

Adding UpdateStatus operation on Source API
  api/lambda/source/models/api.go
  api/lambda/source/models/integration.go
  internal/core/source_api/api/delete_integration.go
  internal/core/source_api/api/update_integration.go
  internal/core/source_api/api/update_status.go
  internal/core/source_api/api/utils.go
  internal/core/source_api/ddb/get_item.go
  internal/core/source_api/ddb/items.go
  internal/core/source_api/ddb/scan.go
  internal/core/source_api/ddb/update.go
Due: none

updated log processor to update sources api
  internal/core/source_api/api/update_status.go
  internal/log_analysis/log_processor/sources/s3_client_cache.go
  internal/log_analysis/log_processor/sources/s3_client_cache_test.go
Due: none

refactor code to improve readability
  internal/log_analysis/log_processor/sources/s3_client_cache.go
Due: none

Updated to have *time.Time
  api/lambda/source/models/api.go
  api/lambda/source/models/integration.go
  internal/core/source_api/api/update_status.go
  internal/core/source_api/ddb/items.go
  internal/log_analysis/log_processor/sources/s3_client_cache.go
Due: none

Fixed testing
  internal/log_analysis/log_processor/sources/s3_test.go
Due: none

Minor tweak
  internal/log_analysis/log_processor/sources/s3_client_cache.go
Due: none

Updated code
  internal/log_analysis/log_processor/sources/s3_client_cache.go
Due: none

Reducing retries
  deployments/log_analysis.yml
Due: none

remove initial transition of navbar
  web/src/components/Navigation/Navigation.tsx
Due: prettier --write, eslint

handle list rules page
  package-lock.json
  package.json
  web/src/components/StatusBadge/StatusBadge.tsx
  web/src/pages/403/403.tsx
  web/src/pages/404/404.tsx
  web/src/pages/500/500.tsx
  web/src/pages/ComplianceOverview/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListComplianceSources/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListResources/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListRules/CreateButton/CreateButton.tsx
  web/src/pages/ListRules/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListRules/ListRules.tsx
  web/src/pages/ListRules/ListRulesActions/ListRulesActions.tsx
  web/src/pages/ListRules/ListRulesTable/ListRulesTable.tsx
  web/src/pages/ListRules/Skeleton/Skeleton.tsx
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
Due: prettier --write, eslint

handle Rule Details page
  web/src/components/utils/FadeInTrail/FadeInTrail.tsx
  web/src/helpers/utils.tsx
  web/src/pages/ListAlerts/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
  web/src/pages/ListAlerts/ListAlertsTable/ListAlertsTable.tsx
  web/src/pages/ListAlerts/Skeleton/Skeleton.tsx
  web/src/pages/ListPolicies/ListPoliciesTable/ListPoliciesTable.tsx
  web/src/pages/ListResources/ListResourcesTable/ListResourcesTable.tsx
  web/src/pages/ListRules/ListRulesActions/ListRulesActions.tsx
  web/src/pages/ListRules/ListRulesTable/ListRulesTable.tsx
  web/src/pages/PolicyDetails/PolicyDetailsTable/PolicyDetailsTable.tsx
  web/src/pages/RuleDetails/RuleDetails.tsx
  web/src/pages/RuleDetails/RuleDetailsAlertsTable/RuleDetailsAlertsTable.tsx
  web/src/pages/RuleDetails/RuleDetailsInfo/RuleDetailsInfo.tsx
  web/src/pages/RuleDetails/Skeleton/Skeleton.tsx
Due: prettier --write, eslint

fix skeleton margins
  web/src/pages/ListAlerts/Skeleton/Skeleton.tsx
  web/src/pages/ListPolicies/Skeleton/Skeleton.tsx
  web/src/pages/ListResources/Skeleton/Skeleton.tsx
  web/src/pages/ListRules/Skeleton/Skeleton.tsx
  web/src/pages/PolicyDetails/PolicyDetailsInfo/PolicyDetailsInfo.tsx
  web/src/pages/RuleDetails/RuleDetailsInfo/RuleDetailsInfo.tsx
Due: prettier --write, eslint

handle AlertDetails page
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
  web/src/pages/AlertDetails/AlertDetailsSkeleton/AlertDetailsSkeleton.tsx
  web/src/pages/ComplianceOverview/TopFailingResourcesTable/TopFailingResourcesTable.tsx
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
  web/src/pages/ListAlerts/ListAlertsTable/ListAlertsTable.tsx
Due: prettier --write, eslint

Bump version to 1.5.0
  deployments/master.yml
  docs/gitbook/quick-start.md
Due: prettier --write

Backport appClient and org-api restructure
  deployments/bootstrap.yml
  deployments/bootstrap_gateway.yml
  internal/core/organization_api/api/get_settings.go
  internal/core/organization_api/api/update_settings.go
  internal/core/organization_api/table/get.go
  internal/core/organization_api/table/get_test.go
  internal/core/organization_api/table/table.go
  internal/core/organization_api/table/update.go
  internal/core/organization_api/table/update_test.go
  tools/mage/deploy.go
Due: none

Add list buckets permission for teardown
  deployments/auxiliary/cloudformation/panther-deployment-role.yml
  deployments/auxiliary/terraform/panther_deployment_role/main.tf
  tools/mage/teardown.go
Due: none

Updated JiraDestination form & schema
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/components/forms/BaseDestinationForm/BaseDestinationForm.tsx
  web/src/components/forms/JiraDestinationForm/JiraDestination.tsx
Due: prettier --write, eslint
