Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

whteafea (#34)
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

Aggelos gh actions 3nvi (#36)
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

final (#38)
  .github/workflows/main.yml
  build/actions/pr_sync/action.yml
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

Aggelos gh actions 3nvi (#40)
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

Updated intervalHours to intervalMinutes
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.generated.ts
Due: prettier --write, eslint

fix: npm audit
  package-lock.json
  package.json
  web/__tests__/jest.config.js
  web/src/components/fields/Editor/Editor.tsx
  web/src/components/utils/GenerateFiltersGroup/GenerateFiltersGroup.tsx
  web/src/helpers/utils.tsx
  web/src/hooks/useFormSessionRestoration.tsx
  web/src/hooks/useUrlParams.tsx
  web/src/pages/ComplianceOverview/PoliciesBySeverityChart/PoliciesBySeverityChart.tsx
  web/src/pages/ComplianceOverview/PoliciesByStatusChart/PoliciesByStatusChart.tsx
  web/src/pages/ComplianceOverview/PoliciesOverviewChart/PoliciesOverviewChart.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
  web/src/pages/ListPolicies/ListPolicies.tsx
  web/src/pages/ListPolicies/ListPoliciesActions/ListPoliciesActions.tsx
  web/src/pages/ListResources/ListResources.tsx
  web/src/pages/ListResources/ListResourcesActions/ListResourcesActions.tsx
  web/src/pages/ListRules/ListRules.tsx
  web/src/pages/ListRules/ListRulesActions/ListRulesActions.tsx
  web/src/pages/PolicyDetails/PolicyDetails.tsx
  web/src/pages/ResourceDetails/ResourceDetails.tsx
Due: prettier --write, eslint

fix: refactor missing line
  web/src/components/sidesheets/UpdateDestinationSidesheet/UpdateDestinationSidesheet.tsx
Due: prettier --write, eslint

fix: add "default" PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

feat: add header to web PR template
  .github/PULL_REQUEST_TEMPLATE/web.md
Due: prettier --write

Removed unused file
  internal/log_analysis/alert_forwarder/forwarder/config.go
Due: none

Adds TraceID panther field. resolves #1182
  internal/log_analysis/log_processor/pantherlog/meta.go
  internal/log_analysis/log_processor/pantherlog/result_test.go
  internal/log_analysis/log_processor/pantherlog/scanners.go
  internal/log_analysis/log_processor/pantherlog/values.go
Due: none

Allow any type that implements pantherlog.ValueWriterTo to extract event values.
  internal/log_analysis/awsglue/schema.go
  internal/log_analysis/log_processor/common/null/null.go
  internal/log_analysis/log_processor/common/null/string.go
  internal/log_analysis/log_processor/pantherlog/json.go
  internal/log_analysis/log_processor/pantherlog/nocopy.go
  internal/log_analysis/log_processor/pantherlog/pantherlog.go
  internal/log_analysis/log_processor/pantherlog/result.go
  internal/log_analysis/log_processor/pantherlog/result_test.go
  internal/log_analysis/log_processor/pantherlog/scanners.go
  internal/log_analysis/log_processor/pantherlog/validator.go
  internal/log_analysis/log_processor/pantherlog/validator_test.go
  internal/log_analysis/log_processor/pantherlog/values.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
  internal/log_analysis/log_processor/parsers/parsers.go
Due: none

Remove duplicate license blocks and empty files
  internal/log_analysis/log_processor/pantherlog/enums.go
  internal/log_analysis/log_processor/pantherlog/enums_test.go
  internal/log_analysis/log_processor/pantherlog/event_test.go
  internal/log_analysis/log_processor/pantherlog/json.go
  internal/log_analysis/log_processor/pantherlog/meta.go
  internal/log_analysis/log_processor/pantherlog/meta_test.go
  internal/log_analysis/log_processor/pantherlog/null/int64.go
  internal/log_analysis/log_processor/pantherlog/null/null_test.go
  internal/log_analysis/log_processor/pantherlog/null/uint16.go
  internal/log_analysis/log_processor/pantherlog/null/uint32.go
  internal/log_analysis/log_processor/pantherlog/pantherlog.go
  internal/log_analysis/log_processor/pantherlog/result.go
  internal/log_analysis/log_processor/pantherlog/result_test.go
  internal/log_analysis/log_processor/pantherlog/rowid/rowid.go
  internal/log_analysis/log_processor/pantherlog/rowid/rowid_test.go
  internal/log_analysis/log_processor/pantherlog/values.go
  internal/log_analysis/log_processor/pantherlog/values_test.go
Due: none

Move `null` package under `pantherlog`
  internal/log_analysis/awsglue/schema.go
  internal/log_analysis/log_processor/pantherlog/enums.go
  internal/log_analysis/log_processor/pantherlog/enums_test.go
  internal/log_analysis/log_processor/pantherlog/null/int64.go
  internal/log_analysis/log_processor/pantherlog/null/int64_test.go
  internal/log_analysis/log_processor/pantherlog/null/null.go
  internal/log_analysis/log_processor/pantherlog/null/null_test.go
  internal/log_analysis/log_processor/pantherlog/null/string.go
  internal/log_analysis/log_processor/pantherlog/null/string_test.go
  internal/log_analysis/log_processor/pantherlog/null/uint16.go
  internal/log_analysis/log_processor/pantherlog/null/uint32.go
  internal/log_analysis/log_processor/pantherlog/pantherlog.go
  internal/log_analysis/log_processor/pantherlog/validator.go
  internal/log_analysis/log_processor/pantherlog/values.go
  internal/log_analysis/log_processor/parsers/parsers.go
Due: none

Remove enterprise event names from constants.ts
  web/src/constants.ts
Due: prettier --write, eslint

Complete null numbers
  internal/log_analysis/awsglue/schema.go
  internal/log_analysis/log_processor/pantherlog/null/boolean.go
  internal/log_analysis/log_processor/pantherlog/null/boolean_test.go
  internal/log_analysis/log_processor/pantherlog/null/float32.go
  internal/log_analysis/log_processor/pantherlog/null/float32_test.go
  internal/log_analysis/log_processor/pantherlog/null/float64.go
  internal/log_analysis/log_processor/pantherlog/null/float64_test.go
  internal/log_analysis/log_processor/pantherlog/null/int16.go
  internal/log_analysis/log_processor/pantherlog/null/int16_test.go
  internal/log_analysis/log_processor/pantherlog/null/int32.go
  internal/log_analysis/log_processor/pantherlog/null/int32_test.go
  internal/log_analysis/log_processor/pantherlog/null/int8.go
  internal/log_analysis/log_processor/pantherlog/null/int8_test.go
  internal/log_analysis/log_processor/pantherlog/null/null.go
  internal/log_analysis/log_processor/pantherlog/null/uint16.go
  internal/log_analysis/log_processor/pantherlog/null/uint16_test.go
  internal/log_analysis/log_processor/pantherlog/null/uint32.go
  internal/log_analysis/log_processor/pantherlog/null/uint32_test.go
  internal/log_analysis/log_processor/pantherlog/null/uint64.go
  internal/log_analysis/log_processor/pantherlog/null/uint64_test.go
  internal/log_analysis/log_processor/pantherlog/null/uint8.go
  internal/log_analysis/log_processor/pantherlog/null/uint8_test.go
Due: none

mage fmt
  internal/log_analysis/log_processor/pantherlog/scanners_test.go
  internal/log_analysis/log_processor/pantherlog/tcodec/tcodec_test.go
Due: none

Refactor pantherlog to use `tcodec` and `panther` struct tags
  internal/log_analysis/awsglue/jsoniter.go
  internal/log_analysis/awsglue/schema.go
  internal/log_analysis/log_processor/pantherlog/json.go
  internal/log_analysis/log_processor/pantherlog/meta.go
  internal/log_analysis/log_processor/pantherlog/meta_test.go
  internal/log_analysis/log_processor/pantherlog/null/int64_test.go
  internal/log_analysis/log_processor/pantherlog/pantherlog.go
  internal/log_analysis/log_processor/pantherlog/result.go
  internal/log_analysis/log_processor/pantherlog/result_test.go
  internal/log_analysis/log_processor/pantherlog/scanners.go
  internal/log_analysis/log_processor/pantherlog/scanners_test.go
  internal/log_analysis/log_processor/pantherlog/tcodec/jsoniter.go
  internal/log_analysis/log_processor/pantherlog/tcodec/jsoniter_test.go
  internal/log_analysis/log_processor/pantherlog/tcodec/tcodec.go
  internal/log_analysis/log_processor/pantherlog/tcodec/tcodec_test.go
  internal/log_analysis/log_processor/pantherlog/validator.go
  internal/log_analysis/log_processor/pantherlog/validator_test.go
  internal/log_analysis/log_processor/pantherlog/values.go
  internal/log_analysis/log_processor/parsers/pantherlog.go
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
  internal/log_analysis/log_processor/parsers/timestamp/codecs.go
  internal/log_analysis/log_processor/parsers/timestamp/timestamp.go
  internal/log_analysis/log_processor/parsers/timestamp/timestamp_test.go
Due: none

linter
  internal/log_analysis/log_processor/pantherlog/null/uint64.go
  internal/log_analysis/log_processor/pantherlog/scanners_test.go
Due: none

Documentaion for creating a box app
  docs/gitbook/log-analysis/log-processing/log-setup/box.md
Due: prettier --write

Initial work for SQS onboarding
  api/graphql/schema.graphql
  deployments/appsync.yml
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/apollo/typePolicies.ts
  web/src/assets/sqs-minimal-logo.svg
  web/src/components/wizards/SqsSourceWizard/SqsSourceConfigurationPanel/SqsSourceConfigurationPanel.tsx
  web/src/components/wizards/SqsSourceWizard/SqsSourceConfigurationPanel/index.tsx
  web/src/components/wizards/SqsSourceWizard/SqsSourceWizard.tsx
  web/src/components/wizards/SqsSourceWizard/SuccessPanel/SuccessPanel.tsx
  web/src/components/wizards/SqsSourceWizard/SuccessPanel/index.tsx
  web/src/components/wizards/SqsSourceWizard/index.tsx
  web/src/graphql/fragments/DestinationFull.generated.ts
  web/src/graphql/fragments/SqsLogSourceIntegrationDetails.generated.ts
  web/src/graphql/fragments/SqsLogSourceIntegrationDetails.graphql
  web/src/pages/CreateLogSource/CreateLogSource.tsx
  web/src/pages/CreateLogSource/CreateSqsLogSource/CreateSqsLogSource.tsx
  web/src/pages/CreateLogSource/CreateSqsLogSource/graphql/addSqsLogSource.generated.ts
  web/src/pages/CreateLogSource/CreateSqsLogSource/graphql/addSqsLogSource.graphql
  web/src/pages/CreateLogSource/CreateSqsLogSource/index.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceHealthIcon/LogSourceHealthIcon.tsx
  web/src/pages/LogSourceOnboarding/LogSourceOnboarding.tsx
Due: prettier --write, eslint

Changed intervalHours in schema
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/pages/LogAnalysisOverview/demoData.ts
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.generated.ts
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.graphql
Due: prettier --write, eslint

feat: test user secret (#42)
  .github/workflows/main.yml
Due: none

test: panther labs PR (#44)
  .github/workflows/main.yml
Due: none

revert: back to apollo beta 41
  package-lock.json
  package.json
  web/src/components/modals/DeleteComplianceSourceModal/DeleteComplianceSourceModal.tsx
  web/src/components/modals/DeleteDestinationModal/DeleteDestinationModal.tsx
  web/src/components/modals/DeleteGlobalPythonModuleModal/DeleteGlobalPythonModuleModal.tsx
  web/src/components/modals/DeleteLogSourceModal/DeleteLogSourceModal.tsx
  web/src/components/modals/DeletePolicyModal/DeletePolicyModal.tsx
  web/src/components/modals/DeleteRuleModal/DeleteRuleModal.tsx
  web/src/components/modals/DeleteUserModal/DeleteUserModal.tsx
  web/src/components/sidesheets/AddDestinationSidesheet/ConfigureDestinationScreen/ConfigureDestinationScreen.tsx
  web/src/components/sidesheets/UserInvitationSidesheet/UserInvitationSidesheet.tsx
  web/src/pages/CreateComplianceSource/CreateComplianceSource.tsx
  web/src/pages/CreateLogSource/CreateS3LogSource/CreateS3LogSource.tsx
Due: prettier --write, eslint

revert: resolvers, apollo
  api/graphql/schema.graphql
  deployments/appsync.yml
  package-lock.json
  package.json
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/apollo/typePolicies.ts
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
  web/src/graphql/fragments/AlertDetailsFull.generated.ts
  web/src/graphql/fragments/AlertDetailsFull.graphql
  web/src/graphql/fragments/AlertSummaryFull.generated.ts
  web/src/graphql/fragments/AlertSummaryFull.graphql
Due: prettier --write, eslint

test with network repo (#45)
  .github/workflows/main.yml
Due: none

test: enterprise (#46)
  .github/workflows/main.yml
Due: none

revert: package-lock master
  package-lock.json
Due: prettier --write

fix: convert arry of string pointers to array of strings
  api/lambda/alerts/models/api.go
  deployments/appsync.yml
  internal/log_analysis/alerts_api/api/list_alerts_test.go
  internal/log_analysis/alerts_api/table/list.go
Due: none

fix: GetAlert must return nil
  internal/log_analysis/alerts_api/api/get_alert.go
  internal/log_analysis/alerts_api/api/get_alert_test.go
Due: none

fix: changed alertId string -> ID
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
Due: prettier --write, eslint

test cli (#47)
  .github/workflows/main.yml
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

Aggelos gh actions 3nvi (#48)
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

Aggelos gh actions 3nvi (#49)
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

3nvi master (#50)
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

3nvi master (#51)
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

3nvi master (#52)
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

3nvi master (#53)
  build/actions/pr_sync/dist/index.js
Due: prettier --write, eslint
