Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

fixing var name
  internal/compliance/snapshot_poller/pollers/aws/ecs_cluster.go
Due: none

addressing rawservicesPage.Failures
  internal/compliance/snapshot_poller/pollers/aws/ecs_cluster.go
Due: none

Added retries
  internal/log_analysis/log_processor/common/common.go
  internal/log_analysis/log_processor/sources/s3_client_cache.go
  pkg/awsretry/access_denied_retryer.go
  pkg/awsretry/access_denied_retryer_test.go
Due: none

Fix comment
  internal/log_analysis/log_processor/sources/s3_client_cache.go
Due: none

mage gen fmt
  internal/log_analysis/log_processor/sources/s3_client_cache.go
Due: none

Formatted code
  internal/log_analysis/log_processor/sources/s3_client_cache.go
  pkg/awsretry/access_denied_retryer.go
Due: none

chore: add explanatory comment
  tools/mage/setup/setup.go
Due: none

chore: remove blank line
  tools/mage/setup/setup.go
Due: none

Removed redundant check
  internal/compliance/snapshot_poller/pollers/aws/clients.go
Due: none

ci: add conflicts in sync PR body
  .github/workflows/main.yml
Due: none

feat: add initial work for AlertDeliveryTable
  package-lock.json
  package.json
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliverySection.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliveryTable/AlertDeliveryTable.test.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliveryTable/AlertDeliveryTable.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/graphql/retryAlertDelivery.generated.ts
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/graphql/retryAlertDelivery.graphql
Due: prettier --write, eslint

fix: showcase correct delivery status
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliverySection.tsx
Due: prettier --write, eslint

test: add tests for alert delivery retry
  web/src/pages/AlertDetails/AlertDetails.test.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliverySection.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliveryTable/AlertDeliveryTable.test.tsx
Due: prettier --write, eslint

Updated test
  web/src/components/cards/AlertCard/AlertCard.test.tsx
  web/src/components/cards/AlertCard/AlertCard.tsx
Due: prettier --write, eslint

mage gen fmt
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliverySection.test.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliverySection.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliveryTable/AlertDeliveryTable.test.tsx
Due: prettier --write, eslint

Added margin top
  web/src/components/cards/AlertCard/AlertCard.tsx
Due: prettier --write, eslint

Added flex instead of my
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
Due: prettier --write, eslint

Fixing failing tests
  internal/compliance/snapshot_poller/pollers/aws/acm_certificate_test.go
  internal/compliance/snapshot_poller/pollers/aws/cloudformation_stack_test.go
  internal/compliance/snapshot_poller/pollers/aws/cloudtrail_test.go
  internal/compliance/snapshot_poller/pollers/aws/cloudwatchlogs_log_group_test.go
  internal/compliance/snapshot_poller/pollers/aws/configservice_test.go
  internal/compliance/snapshot_poller/pollers/aws/dynamodb_table_test.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_ami_test.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_instance_test.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_network_acl_test.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_security_group_test.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_volume_test.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_vpc_test.go
  internal/compliance/snapshot_poller/pollers/aws/ecs_cluster_test.go
  internal/compliance/snapshot_poller/pollers/aws/elbv2_application_load_balancer_test.go
  internal/compliance/snapshot_poller/pollers/aws/guardduty_detector_test.go
  internal/compliance/snapshot_poller/pollers/aws/iam_group_test.go
  internal/compliance/snapshot_poller/pollers/aws/iam_policy_test.go
  internal/compliance/snapshot_poller/pollers/aws/iam_role_test.go
  internal/compliance/snapshot_poller/pollers/aws/iam_user_test.go
  internal/compliance/snapshot_poller/pollers/aws/kms_key_test.go
  internal/compliance/snapshot_poller/pollers/aws/lambda_function_test.go
  internal/compliance/snapshot_poller/pollers/aws/password_policy_test.go
  internal/compliance/snapshot_poller/pollers/aws/rds_instance_test.go
  internal/compliance/snapshot_poller/pollers/aws/redshift_cluster_test.go
  internal/compliance/snapshot_poller/pollers/aws/s3_bucket_test.go
  internal/compliance/snapshot_poller/pollers/aws/waf_web_acl_test.go
Due: none

fix: minor edge-case exception on `undefined` destination
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliveryTable/AlertDeliveryTable.tsx
Due: prettier --write, eslint

fix: remove unused tests
  internal/core/alert_delivery/api/deliver_alert_test.go
Due: none

update workflow
  .github/workflows/main.yml
Due: none

ci: move label ENVs to top-level
  .github/workflows/main.yml
Due: none

ci: hardcode label values in conditional expressioon
  .github/workflows/main.yml
Due: none

fe
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

ci: compare label names instead of label objects
  .github/workflows/main.yml
Due: none

Updated logged error to include more information
  internal/compliance/alert_processor/models/api.go
  internal/compliance/alert_processor/processor/processor.go
  internal/compliance/alert_processor/processor/processor_test.go
  internal/compliance/resource_processor/processor/handler.go
  tools/mage/test/cfn.go
Due: none

Fixed error message
  internal/compliance/alert_processor/processor/processor.go
Due: none

ci: add proper checkout
  .github/workflows/main.yml
Due: none

Update the latency threshold for compliance-api
  deployments/bootstrap_gateway.yml
  internal/core/custom_resources/resources/alarms_api_gateway.go
Due: none

fix: commit message on cherry-pick
  .github/workflows/main.yml
Due: none

updated threshold for resources-api
  deployments/bootstrap_gateway.yml
Due: none

ci: force clone entire repo
  .github/workflows/main.yml
Due: none

chore: change `the` to `our`
  README.md
Due: prettier --write

fix: remove displaying alert delivery statuses from deleted destinations
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliverySection.tsx
Due: prettier --write, eslint
