Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Work in progress
  deployments/log_analysis/rules_engine.yml
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/src/output.py
  internal/log_analysis/rules_engine/src/rule.py
Due: none

WIP
  deployments/log_analysis/rules_engine.yml
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/rules_engine/src/__init__.py
  internal/log_analysis/rules_engine/src/alert_merger.py
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/src/output.py
  internal/log_analysis/rules_engine/src/rule.py
Due: none

Validate https status if not nil for s3 access logs
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access.go
Due: none

Added conditional updates
  internal/log_analysis/rules_engine/src/__init__.py
  internal/log_analysis/rules_engine/src/alert_merger.py
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/src/output.py
  internal/log_analysis/rules_engine/src/rule.py
Due: none

Fixing issues in the alert pipeline
  internal/log_analysis/rules_engine/src/alert_merger.py
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/src/main.py
Due: none

Addressed PR feedback
  internal/compliance/aws_event_processor/processor/ecs.go
  internal/compliance/snapshot_poller/pollers/aws/ecs_cluster.go
Due: none

Further logging PR feedback addressed
  internal/compliance/aws_event_processor/processor/ecs.go
  internal/compliance/snapshot_poller/pollers/aws/ecs_cluster.go
  internal/compliance/snapshot_poller/pollers/utils/logging.go
Due: none

fixed imports
  go.mod
  go.sum
  internal/compliance/aws_event_processor/processor/ecs.go
Due: none

add optional org field uddates & add `id` to organization response
  api/lambda/organization/models/api.go
  api/lambda/organization/models/table.go
Due: none

Adding notifications
  internal/log_analysis/rules_engine/src/alert_merger.py
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/src/notifications.py
  internal/log_analysis/rules_engine/src/output.py
Due: none

revert change of Update Organization Input struct
  api/lambda/organization/models/api.go
Due: none

Publishing notifications to SNS
  deployments/log_analysis/rules_engine.yml
  internal/log_analysis/log_processor/common/common.go
  internal/log_analysis/rules_engine/src/__init__.py
  internal/log_analysis/rules_engine/src/notifications.py
  internal/log_analysis/rules_engine/src/output.py
Due: none

simplify schema & appsync resolvers
  api/graphql/schema.graphql
  deployments/core/appsync.yml
  web/__generated__/schema.tsx
  web/src/pages/general-settings/index.tsx
  web/src/pages/general-settings/subcomponent/company-information-form.tsx
  web/src/pages/general-settings/subcomponent/company-information-panel.tsx
Due: prettier --write, eslint

create prompt controller & analytics consent modal with form
  web/src/app.tsx
  web/src/components/forms/analytics-consent-form/error-reporting-section.tsx
  web/src/components/forms/analytics-consent-form/index.tsx
  web/src/components/modals/analytics-consent-modal.tsx
  web/src/components/utils/modal-context.tsx
  web/src/components/utils/modal-manager.tsx
  web/src/components/utils/prompt-controller.tsx
  web/src/pages/general-settings/index.tsx
  web/src/pages/general-settings/subcomponent/company-information-form.tsx
  web/src/pages/general-settings/subcomponent/company-information-panel.tsx
  web/src/pages/general-settings/subcomponents/company-information-form.tsx
Due: prettier --write, eslint

move form file
  web/src/components/forms/company-information-form/index.tsx
  web/src/pages/general-settings/index.tsx
Due: prettier --write, eslint

Changing the way we do alert merging
  internal/log_analysis/rules_engine/src/__init__.py
  internal/log_analysis/rules_engine/src/alert_merger.py
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/src/notifications.py
  internal/log_analysis/rules_engine/src/output.py
Due: none

Fixed several issues here and there
  internal/log_analysis/rules_engine/src/alert_merger.py
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/src/output.py
  internal/log_analysis/rules_engine/src/rule.py
Due: none

add UI formatting & form validation
  web/src/components/forms/company-information-form/index.tsx
  web/src/pages/general-settings/index.tsx
Due: prettier --write, eslint

fix error consent prompt comparison
  web/src/components/utils/prompt-controller.tsx
Due: prettier --write, eslint

add error reporting consent to localstorage, in order to capture early errors
  web/src/client.ts
  web/src/constants.ts
  web/src/helpers/loggers.ts
Due: prettier --write, eslint

update skeleton for general settings
  web/src/pages/general-settings/skeleton.tsx
Due: prettier --write, eslint

run mage fmt
  api/lambda/organization/models/api.go
  web/src/components/forms/analytics-consent-form/error-reporting-section.tsx
Due: prettier --write, eslint

Fix typo in overview error message
  web/src/pages/overview/index.tsx
Due: prettier --write, eslint

Change logging tags per suggestions
  internal/compliance/snapshot_api/main/handler.go
  internal/core/organization_api/main/lambda.go
  internal/core/outputs_api/main/lambda.go
  internal/core/users_api/main/lambda.go
  internal/log_analysis/alerts_api/main/lambda.go
Due: none

Add optional WithMemStats() to oplog for reporting memory and gc usage
  pkg/oplog/oplog.go
  pkg/oplog/oplog_test.go
Due: none

allow processing of CloudTrail
  internal/compliance/aws_event_processor/processor/classify.go
  internal/compliance/aws_event_processor/processor/classify_test.go
  internal/compliance/aws_event_processor/processor/handler.go
  internal/compliance/aws_event_processor/processor/handler_test.go
  internal/log_analysis/log_processor/sources/s3.go
Due: none

Add README and makefile
  deployments/auxiliary/cloudformation/Makefile
  deployments/auxiliary/cloudformation/README.md
  deployments/auxiliary/cloudformation/panther-deployment-role.yml
Due: prettier --write

Update quick start
  docs/gitbook/quick-start.md
Due: prettier --write

infra changes
  deployments/auxiliary/cloudformation/panther-log-processing-infra.yml
  deployments/auxiliary/cloudformation/panther-log-processing-notifications.yml
  deployments/compliance/aws_event_processor.yml
Due: none

Updated templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/story.md
  .github/example_epic.md
Due: prettier --write

Fixed from PR
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/story.md
Due: prettier --write

Fixing identation
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

Updated according to comments
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

add text-changes & related docs
  docs/gitbook/privacy/error-reporting.md
  web/src/components/forms/analytics-consent-form/error-reporting-section.tsx
  web/src/components/modals/analytics-consent-modal.tsx
Due: prettier --write, eslint

replace hardcoded url string with var
  web/src/components/forms/policy-form/policy-form-auto-remediation-fields.tsx
  web/src/pages/create-source/subcomponents/create-infra-source/subcomponents/real-time-event-panel.tsx
  web/src/pages/create-source/subcomponents/create-infra-source/subcomponents/remediation-panel.tsx
  web/src/pages/create-source/subcomponents/create-infra-source/subcomponents/resource-scanning-panel.tsx
Due: prettier --write, eslint

remove `id` from organization
  api/graphql/schema.graphql
  api/lambda/organization/models/table.go
  web/__generated__/schema.tsx
  web/src/client.ts
  web/src/components/modals/analytics-consent-modal.tsx
  web/src/components/utils/prompt-controller.tsx
  web/src/pages/general-settings/index.tsx
Due: prettier --write, eslint

remove query parameters from being reported
  web/src/helpers/loggers.ts
Due: prettier --write, eslint

update docs
  docs/gitbook/privacy/error-reporting.md
Due: prettier --write

enabled form re-initialization
  web/src/components/forms/company-information-form/index.tsx
Due: prettier --write, eslint

fix typo in list of lists
  web/src/components/forms/user-invitation-form/index.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
