Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Remove the unused ClassifierResult field formerly known as LogType
  cmd/devtools/pantherlog/pantherlog/main.go
  internal/log_analysis/log_processor/classification/classifier.go
  internal/log_analysis/log_processor/classification/classifier_test.go
  internal/log_analysis/log_processor/processor/processor_test.go
Due: none

chore: reduce duration of snackbar confirmation message
  web/src/components/wizards/SqsSourceWizard/ValidationPanel/ValidationPanel.tsx
Due: prettier --write, eslint

fix: add static keyfield for singleton GraphQL types
  web/src/apollo/typePolicies.ts
Due: prettier --write, eslint

test: add tests for addition & updating of an SQS queue
  web/src/components/wizards/SqsSourceWizard/SqsSourceConfigurationPanel/SqsSourceConfigurationPanel.tsx
  web/src/pages/EditSqsLogSource/ΕditSqsLogSource.test.tsx
Due: prettier --write, eslint

fix: typo on ValidationPanel condition
  web/src/components/wizards/SqsSourceWizard/ValidationPanel/ValidationPanel.tsx
Due: prettier --write, eslint

fix: remove `debug()` call on test
  web/src/pages/CreateLogSource/CreateSqsLogSource/CreateSqsLogSource.test.tsx
Due: prettier --write, eslint

Raise snapshot poller memory
  deployments/cloud_security.yml
Due: none

Add comment about Cognito email casing
  internal/core/users_api/cognito/create_user.go
Due: none

Allow mage master:deploy configurable STACK
  tools/mage/master/deploy.go
Due: none

Raise api gateway + lambda alarm thresholds
  internal/core/custom_resources/resources/alarms_api_gateway.go
  internal/core/custom_resources/resources/alarms_lambda.go
Due: none

gateway error threshold = 1
  internal/core/custom_resources/resources/alarms_api_gateway.go
Due: none

revert latency settings
  internal/core/custom_resources/resources/alarms_api_gateway.go
Due: none

mage gen fmt
  internal/core/custom_resources/resources/alarms_api_gateway.go
Due: none

Added ! to schema
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.generated.ts
Due: prettier --write, eslint

Reverted removal of position
  web/src/components/BorderedTab/BorderTabDivider.tsx
  web/src/pages/LogAnalysisOverview/SecondRowTabs/SecondRowTabs.tsx
Due: prettier --write, eslint

Renamed row component
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
  web/src/pages/LogAnalysisOverview/LogTypeCharts/LogTypeCharts.tsx
  web/src/pages/LogAnalysisOverview/LogTypeCharts/index.tsx
Due: prettier --write, eslint

test: speedup tests by disabling focus & scroll locking
  web/__tests__/__mocks__/@reach/dialog.tsx
Due: prettier --write, eslint

mage gen fmt
  web/__tests__/__mocks__/@reach/dialog.tsx
Due: prettier --write, eslint

Fixed padding & margins
  web/src/components/BorderedTab/BorderedTab.tsx
  web/src/pages/LogAnalysisOverview/AlertsBySeverity/AlertsBySeverity.tsx
  web/src/pages/LogAnalysisOverview/LogTypeCharts/LogTypeCharts.tsx
Due: prettier --write, eslint

Updated units handling for timeline chart
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
  web/src/pages/LogAnalysisOverview/EventsByLatency/EventsByLatency.tsx
Due: prettier --write, eslint

Add Tabs on Skeleton
  web/src/pages/LogAnalysisOverview/LogTypeCharts/LogTypeCharts.tsx
  web/src/pages/LogAnalysisOverview/Skeleton/Skeleton.tsx
Due: prettier --write, eslint

More props fixes
  web/src/pages/LogAnalysisOverview/LogTypeCharts/LogTypeCharts.tsx
  web/src/pages/LogAnalysisOverview/Skeleton/Skeleton.tsx
Due: prettier --write, eslint

ci: increase docker resource class for test:web
  .circleci/config.yml
Due: none

Fixed test for new copy
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.test.tsx
Due: prettier --write, eslint

Changed default value to sensitive fields to null
  web/src/components/wizards/CreateDestinationWizard/ConfigureDestinationPanel/ConfigureDestinationPanel.tsx
Due: prettier --write, eslint

Added Slack Destination Form & Card tests
  web/src/components/forms/SlackDestinationForm/SlackDestinationForm.test.tsx
  web/src/pages/ListDestinations/DestinationCards/__tests__/SlackDestinationCard.test.tsx
Due: prettier --write, eslint

Added test for editing Slack Destination
  web/src/components/forms/SlackDestinationForm/SlackDestinationForm.test.tsx
Due: prettier --write, eslint

fix: bypass focus lock
  web/__tests__/__mocks__/@reach/dialog.tsx
Due: prettier --write, eslint

ci: update class for bundlesize
  .circleci/config.yml
Due: none

fix: return detailed status(es) for sending test alerts
  api/graphql/schema.graphql
  api/lambda/delivery/models/api.go
  internal/core/alert_delivery/api/send_test_alert.go
Due: none

mage gen fmt
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/components/wizards/common/DestinationTestPanel/graphql/sendTestAlert.generated.ts
Due: prettier --write, eslint

refactor: changed the return type of sending test alert
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/components/wizards/common/DestinationTestPanel/DestinationTestPanel.tsx
  web/src/components/wizards/common/DestinationTestPanel/graphql/sendTestAlert.generated.ts
  web/src/components/wizards/common/DestinationTestPanel/graphql/sendTestAlert.graphql
Due: prettier --write, eslint

fix: wizard go back
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/components/wizards/common/DestinationTestPanel/DestinationTestPanel.tsx
Due: prettier --write, eslint

removed latency from label
  internal/core/metrics_api/api/log_processor_metrics.go
Due: none

Revert threshold changes
  internal/core/custom_resources/resources/alarms_api_gateway.go
  internal/core/custom_resources/resources/alarms_lambda.go
Due: none

refactor: change "closed" status to "invalid"
  api/graphql/schema.graphql
  api/lambda/alerts/models/api.go
  internal/log_analysis/alerts_api/api/update_alert_status_test.go
  internal/log_analysis/alerts_api/table/get_alert.go
  internal/log_analysis/alerts_api/table/get_alert_test.go
  internal/log_analysis/alerts_api/table/list.go
  internal/log_analysis/alerts_api/table/utils.go
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/components/badges/AlertStatusBadge/AlertStatusBadge.tsx
Due: prettier --write, eslint

fix: peer dependency for node-fetch
  package-lock.json
  package.json
Due: prettier --write

fix: change the license to an acceptable format
  package.json
Due: prettier --write

Revert "fix: peer dependency for node-fetch"
  package-lock.json
  package.json
Due: prettier --write

adding name to taggable ecs2 resources
  deployments/bootstrap.yml
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
