Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

whoops; didn't save
  api/lambda/analysis/models/api.go
  api/lambda/analysis/models/packs.go
  internal/core/analysis_api/handlers/list_detections.go
  internal/core/analysis_api/handlers/list_packs.go
Due: none

Add pattern for assuamble role arns
  deployments/cloud_security.yml
  deployments/log_analysis.yml
  deployments/root.yml
Due: none

few more changes
  internal/core/analysis_api/handlers/github.go
  internal/core/analysis_api/handlers/update_pack.go
  internal/core/analysis_api/handlers/update_pack_test.go
Due: none

revert allowedpattern for csv lists
  deployments/cloud_security.yml
  deployments/log_analysis.yml
  deployments/root.yml
Due: none

change to debug level
  internal/core/analysis_api/handlers/update_pack.go
Due: none

lint issues
  internal/core/analysis_api/handlers/update_pack.go
Due: none

The log processing role for s3 sources must now be provided by users
  api/graphql/schema.graphql
  api/lambda/source/models/api.go
  api/lambda/source/models/integration.go
  api/lambda/source/models/validator.go
  internal/core/source_api/api/check_integration.go
  internal/core/source_api/api/get_integration_template.go
  internal/core/source_api/api/list_integrations.go
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/update_integration.go
  internal/core/source_api/api/utils.go
  internal/core/source_api/ddb/items.go
  internal/core/source_api/main/integration_test.go
  internal/log_analysis/log_processor/sources/s3_client_cache_test.go
  internal/log_analysis/log_processor/sources/s3_test.go
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
Due: prettier --write, eslint

Add managedResources to graphql schema
  api/graphql/schema.graphql
  internal/core/source_api/api/managed_bucket_notifications.go
  internal/core/source_api/api/put_integration.go
Due: none

feat: schema changes
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/graphql/fragments/S3LogIntegrationDetails.generated.ts
  web/src/graphql/fragments/S3LogIntegrationDetails.graphql
Due: prettier --write, eslint

chore: update description for S3 deletion
  web/src/pages/ListLogSources/LogSourceCards/LogSourceCardOptions.tsx
Due: prettier --write, eslint

chore: un-required field
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
Due: prettier --write, eslint

Update with Partition, Add Parameter
  deployments/auxiliary/cloudformation/panther-iam-roles-rule-engine-account-customer.yml
  deployments/auxiliary/cloudformation/panther-iam-roles-rule-engine-account-panther.yml
Due: none

updated templates in public repo
  .github/ISSUE_TEMPLATE/design.md
  .github/ISSUE_TEMPLATE/story.md
Due: prettier --write

Add CFN conditions, remove panther stack
  deployments/auxiliary/cloudformation/panther-iam-roles-rule-engine-account-panther.yml
  deployments/auxiliary/cloudformation/panther-rules-engine-cross-account-read-only.yml
Due: none

Add default value for PythonManagedPolicyArn
  deployments/root.yml
Due: none

String join the role arns list to fix root stack
  deployments/root.yml
Due: none

migrated on env script to lambda fn in src
  deployments/bootstrap.yml
  deployments/bootstrap_gateway.yml
  internal/core/layer_host/__init__.py
  internal/core/layer_host/src/__init__.py
  internal/core/layer_host/src/main.py
Due: none

Display the Panther-created SNS topic when an s3 source is deleted (#2659)
  api/graphql/schema.graphql
  internal/core/source_api/api/managed_bucket_notifications.go
  internal/core/source_api/api/put_integration.go
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/graphql/fragments/S3LogIntegrationDetails.generated.ts
  web/src/graphql/fragments/S3LogIntegrationDetails.graphql
  web/src/pages/ListLogSources/LogSourceCards/LogSourceCardOptions.tsx
Due: prettier --write, eslint

Fix release listing
  internal/core/logtypesapi/managed_schemas_test.go
  internal/log_analysis/managedschemas/github.go
  internal/log_analysis/managedschemas/github_test.go
Due: none

mage gen fmt
  internal/log_analysis/managedschemas/github_test.go
Due: none

Fix archive download
  internal/core/logtypesapi/managed_schemas_test.go
  internal/log_analysis/managedschemas/managedschemas.go
Due: none

fix lint
  internal/core/logtypesapi/managed_schemas_test.go
Due: none

Simplify SchemaDatabase interface (#2629)
  api/lambda/logtypes/models_gen.go
  internal/core/logtypesapi/api.go
  internal/core/logtypesapi/available_test.go
  internal/core/logtypesapi/customlogs.go
  internal/core/logtypesapi/customlogs_test.go
  internal/core/logtypesapi/dynamodb.go
  internal/core/logtypesapi/inmem.go
  internal/core/logtypesapi/managed_schemas.go
  internal/core/logtypesapi/managed_schemas_test.go
  internal/core/logtypesapi/resolver.go
  internal/core/logtypesapi/schemas.go
  internal/core/logtypesapi/transact/transact.go
  internal/log_analysis/managedschemas/github.go
  internal/log_analysis/managedschemas/github_test.go
  internal/log_analysis/managedschemas/managedschemas.go
Due: none

WIP
  deployments/dashboards.yml
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/metrics/metrics.go
Due: none

Fixing dashboard
  deployments/dashboards.yml
  internal/log_analysis/log_processor/destinations/s3_test.go
Due: none

mage gen fmt
  deployments/dashboards.yml
Due: none

Changed name
  deployments/dashboards.yml
Due: none

Deleting an s3 source succceds even if the iam role was deleted
  internal/core/source_api/api/delete_integration.go
Due: none

Deleting an s3 source succceds even if the iam role was deleted (#2675)
  internal/core/source_api/api/delete_integration.go
Due: none

Fixing dashboards (#2683)
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/log_processor/metrics/metrics.go
Due: none

initial lambda push
  internal/core/layer_host/src/main.py
Due: none

Add deepcopy methods to the immutable types interface (#2630)
  internal/log_analysis/rules_engine/src/immutable.py
  internal/log_analysis/rules_engine/tests/test_immutable.py
Due: none

Add deepcopy methods to the immutable types interface (#2630) (#2689)
  internal/log_analysis/rules_engine/src/immutable.py
  internal/log_analysis/rules_engine/tests/test_immutable.py
Due: none

feat: create the unified overview page and routes
  web/src/components/Navigation/Navigation.tsx
  web/src/pages/Overview/AlertsOverview/AlertsOverview.tsx
  web/src/pages/Overview/AlertsOverview/index.tsx
  web/src/pages/Overview/CloudSecurityOverview/CloudSecurityOverview.tsx
  web/src/pages/Overview/CloudSecurityOverview/index.tsx
  web/src/pages/Overview/DataOverview/DataOverview.tsx
  web/src/pages/Overview/DataOverview/index.tsx
  web/src/pages/Overview/Overview.tsx
  web/src/pages/Overview/index.tsx
  web/src/routes.tsx
  web/src/urls.ts
Due: prettier --write, eslint

chore: add unified overview tabs
  web/src/pages/Overview/Overview.tsx
  web/src/pages/Overview/OverviewTab/OverviewTab.tsx
  web/src/pages/Overview/OverviewTab/index.tsx
Due: prettier --write, eslint

Updated dashboards
  deployments/dashboards.yml
  tools/mage/gen/dashboards/log_processing.go
Due: none

Update api/graphql/schema.graphql
  api/graphql/schema.graphql
Due: none
