Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

PR feedback
  deployments/master.yml
Due: none

[web] rename some fields in the alert details
  web/src/pages/AlertDetails/AlertDetailsEvents/AlertDetailsEvents.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
Due: prettier --write, eslint

[docs] WIP
  docs/gitbook/GLOSSARY.md
  docs/gitbook/README.md
  docs/gitbook/SUMMARY.md
  docs/gitbook/historical-search/example-queries.md
  docs/gitbook/log-analysis/log-processing/README.md
  docs/gitbook/log-analysis/log-processing/setup.md
  docs/gitbook/quick-start.md
Due: prettier --write

[docs] changes pt 2
  docs/gitbook/README.md
  docs/gitbook/SUMMARY.md
  docs/gitbook/cloud-security/README.md
  docs/gitbook/cloud-security/setup.md
  docs/gitbook/log-analysis/setup.md
  docs/gitbook/quick-start.md
  docs/gitbook/troubleshooting.md
Due: prettier --write

[docs] pt 3
  docs/gitbook/README.md
  docs/gitbook/SUMMARY.md
  docs/gitbook/cloud-security/README.md
  docs/gitbook/cloud-security/setup.md
  docs/gitbook/destinations/README.md
  docs/gitbook/log-analysis/README.md
  docs/gitbook/log-analysis/setup.md
  docs/gitbook/quick-start.md
  docs/gitbook/tutorials/s3-monitoring-fundamentals.md
Due: prettier --write

[docs] log analysis + datastore
  docs/gitbook/SUMMARY.md
  docs/gitbook/log-analysis/README.md
  docs/gitbook/log-analysis/rules/README.md
  docs/gitbook/log-analysis/rules/data-store.md
Due: prettier --write

[docs] log analysis tweaks
  docs/gitbook/log-analysis/README.md
  docs/gitbook/log-analysis/panther-fields.md
  docs/gitbook/log-analysis/rules/panther-cli.md
Due: prettier --write

[docs] edits
  docs/gitbook/log-analysis/panther-fields.md
  docs/gitbook/log-analysis/rules/data-store.md
  docs/gitbook/log-analysis/rules/panther-cli.md
  docs/gitbook/log-analysis/rules/run-time.md
Due: prettier --write

[docs] Enterprise refresh
  docs/gitbook/.gitbook/assets/enterprise/eventbridge.png
  docs/gitbook/SUMMARY.md
  docs/gitbook/enterprise/README.md
  docs/gitbook/enterprise/data-analytics/data-explorer.md
  docs/gitbook/enterprise/data-analytics/log-compaction.md
  docs/gitbook/enterprise/rbac.md
  docs/gitbook/enterprise/saas-logs.md
Due: prettier --write

[docs] fix broken links
  docs/gitbook/enterprise/README.md
Due: prettier --write

[docs] saas poll interval
  docs/gitbook/enterprise/saas-logs.md
Due: prettier --write

[pr] feedback
  docs/gitbook/GLOSSARY.md
  docs/gitbook/README.md
  docs/gitbook/SUMMARY.md
  docs/gitbook/cloud-security/README.md
  docs/gitbook/cloud-security/setup.md
  docs/gitbook/development.md
  docs/gitbook/enterprise/README.md
  docs/gitbook/log-analysis/rules/README.md
  docs/gitbook/log-analysis/rules/caching.md
  docs/gitbook/log-analysis/rules/panther-cli.md
  docs/gitbook/log-analysis/rules/run-time.md
  docs/gitbook/log-analysis/setup.md
  docs/gitbook/quick-start.md
Due: prettier --write

[another one]
  docs/gitbook/log-analysis/rules/README.md
Due: prettier --write

[anooootha one]
  docs/gitbook/log-analysis/rules/README.md
Due: prettier --write

last one
  docs/gitbook/log-analysis/rules/README.md
Due: prettier --write

Update datalog_updater to new registry API
  internal/log_analysis/datacatalog_updater/process/sync.go
Due: none

update formrik fields
  package-lock.json
  package.json
  web/src/components/fields/Checkbox/Checkbox.tsx
  web/src/components/fields/ComboBox/ComboBox.tsx
  web/src/components/fields/Editor/Editor.tsx
  web/src/components/fields/MultiComboBox/MultiComboBox.tsx
  web/src/components/fields/Radio/Radio.tsx
  web/src/components/fields/Switch/Switch.tsx
  web/src/components/fields/TextArea/TextArea.tsx
  web/src/components/fields/TextInput/TextInput.tsx
Due: prettier --write, eslint

remove exxtensive FadeIn from SignIn page
  web/src/components/fields/Radio/Radio.tsx
  web/src/pages/SignIn/SignIn.tsx
Due: prettier --write, eslint

extend navigation accessibility
  web/src/components/Header/Header.tsx
  web/src/components/Navigation/NavLink.tsx
  web/src/components/Navigation/Navigation.tsx
Due: prettier --write, eslint

fix tablee controls pagination component
  web/src/components/utils/TableControls/TableControlsPagination.tsx
Due: prettier --write, eslint

fupdate status & severity components
  web/src/components/StatusBadge/StatusBadge.tsx
  web/src/components/StatusBadge/index.tsx
Due: prettier --write, eslint

remove Loading button
  web/src/components/buttons/LoadingButton/LoadingButton.tsx
  web/src/components/buttons/LoadingButton/index.tsx
  web/src/components/buttons/SubmitButton/SubmitButton.tsx
  web/src/components/modals/ConfirmModal/ConfirmModal.tsx
  web/src/components/modals/NetworkErrorModal/NetworkErrorModal.tsx
  web/src/components/modals/OptimisticConfirmModal/OptimisticConfirmModal.tsx
  web/src/components/sidesheets/PolicyBulkUploadSidesheet/PolicyBulkUploadSidesheet.tsx
Due: prettier --write, eslint

refactor LList Policies page
  web/src/constants.ts
  web/src/pages/ComplianceOverview/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListPolicies/CreateButton/CreateButton.tsx
  web/src/pages/ListPolicies/ListPolicies.tsx
  web/src/pages/ListPolicies/ListPoliciesActions/ListPoliciesActions.tsx
  web/src/pages/ListPolicies/ListPoliciesTable/ListPoliciesTable.tsx
  web/src/pages/ListPolicies/ListPoliciesTable/ListPoliciesTableRowOptions/ListPoliciesTableRowOptions.tsx
Due: prettier --write, eslint

Add optional age threshold to sqs alarms, use for compactor fifo in Panther enterprise
  internal/core/custom_resources/resources/alarms_sqs.go
Due: none

rfix modal & sidesheet transition issues
  web/src/components/utils/Modal/ModalContext.tsx
  web/src/components/utils/Modal/ModalManager.tsx
  web/src/components/utils/Sidesheet/SidesheetContext.tsx
  web/src/components/utils/Sidesheet/SidesheetManager.tsx
Due: prettier --write, eslint

rremove cancel button from filters
  web/src/components/utils/GenerateFiltersGroup/GenerateFiltersGroup.tsx
  web/src/pages/ListResources/ListResourcesActions/ListResourcesActions.tsx
  web/src/pages/ListRules/ListRulesActions/ListRulesActions.tsx
Due: prettier --write, eslint

refactor Dropdowns & buttons with icons
  web/src/pages/Destinations/CreateButton/CreateButton.tsx
  web/src/pages/Destinations/ListDestinationsTable/ListDestinationsTableRowOptions/ListDestinationsTableRowOptions.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceTable/ComplianceSourceHealthIcon/ComplianceSourceHealthIcon.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceTable/ComplianceSourceTableRowOptions/ComplianceSourceTableRowOptions.tsx
  web/src/pages/ListComplianceSources/ListComplianceSources.tsx
  web/src/pages/ListLogSources/ListLogSources.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceHealthIcon/LogSourceHealthIcon.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceTable.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceTableRowOptions/LogSourceTableRowOptions.tsx
  web/src/pages/ListRules/CreateButton/CreateButton.tsx
  web/src/pages/ListRules/ListRulesTable/ListRulesTableRowOptions/ListRulesTableRowOptions.tsx
  web/src/pages/Users/ListUsersTable/ListUsersTableRowOptions/ListUsersTableRowOptions.tsx
  web/src/pages/Users/Users.tsx
Due: prettier --write, eslint

Add Zeek.DNS to ui log type list
  web/src/constants.ts
Due: prettier --write, eslint

refactor List Resources page
  web/src/components/utils/GenerateFiltersGroup/GenerateFiltersGroup.tsx
  web/src/pages/ComplianceOverview/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListPolicies/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListPolicies/ListPolicies.tsx
  web/src/pages/ListResources/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListResources/ListResources.tsx
  web/src/pages/ListResources/ListResourcesActions/ListResourcesActions.tsx
  web/src/pages/ListResources/ListResourcesTable/ListResourcesTable.tsx
Due: prettier --write, eslint

Update docs/gitbook/log-analysis/setup.md
  docs/gitbook/log-analysis/setup.md
Due: prettier --write

Update docs/gitbook/quick-start.md
  docs/gitbook/quick-start.md
Due: prettier --write

final changes
  docs/gitbook/README.md
  docs/gitbook/destinations/README.md
  docs/gitbook/destinations/asana.md
  docs/gitbook/destinations/github.md
  docs/gitbook/destinations/jira.md
  docs/gitbook/destinations/microsoft-teams.md
  docs/gitbook/destinations/opsgenie.md
  docs/gitbook/destinations/pagerduty.md
  docs/gitbook/destinations/slack.md
  docs/gitbook/destinations/sns.md
  docs/gitbook/destinations/sqs.md
  docs/gitbook/enterprise/data-analytics/README.md
  docs/gitbook/enterprise/data-analytics/data-explorer.md
  docs/gitbook/enterprise/data-analytics/example-queries.md
  docs/gitbook/log-analysis/rules/README.md
  docs/gitbook/log-analysis/rules/panther-cli.md
  docs/gitbook/quick-start.md
  docs/gitbook/tutorials/s3-monitoring-fundamentals.md
Due: prettier --write

more final changes
  docs/gitbook/SUMMARY.md
  docs/gitbook/cloud-security/resources/aws/ecs-cluster.md
  docs/gitbook/destinations/asana.md
  docs/gitbook/destinations/github.md
  docs/gitbook/destinations/jira.md
  docs/gitbook/destinations/microsoft-teams.md
  docs/gitbook/destinations/opsgenie.md
  docs/gitbook/destinations/pagerduty.md
  docs/gitbook/destinations/slack.md
  docs/gitbook/destinations/sns.md
  docs/gitbook/destinations/sqs.md
  docs/gitbook/operations/runbooks.md
Due: prettier --write

[revert frontend changes]
  web/src/pages/AlertDetails/AlertDetailsEvents/AlertDetailsEvents.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
Due: prettier --write, eslint

fmt
  docs/gitbook/operations/runbooks.md
Due: prettier --write

Make awsSession a global variable
  tools/cfnparse/parse.go
  tools/mage/deploy.go
  tools/mage/deploy_frontend.go
  tools/mage/deploy_template.go
  tools/mage/glue_namespace.go
  tools/mage/master_namespace.go
  tools/mage/migrations.go
  tools/mage/teardown.go
  tools/mage/test_namespace.go
  tools/mage/util.go
  tools/mage/util_cfn.go
Due: none

Add capabilities to docs and remove cfnparse init()
  docs/gitbook/quick-start.md
  tools/cfnparse/parse.go
  tools/mage/master_namespace.go
  tools/mage/swagger.go
  tools/mage/swagger_test.go
  tools/mage/test_namespace.go
Due: prettier --write

Hide python stderr when running test:ci
  docs/gitbook/development.md
  tools/mage/swagger_test.go
  tools/mage/test_namespace.go
  tools/mage/util.go
Due: prettier --write

remove Size prop from Panel
  web/src/components/Panel/Panel.tsx
  web/src/pages/AlertDetails/AlertDetailsEvents/AlertDetailsEvents.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
  web/src/pages/ComplianceOverview/ComplianceOverview.tsx
  web/src/pages/ComplianceOverview/Skeleton/Skeleton.tsx
  web/src/pages/CreatePolicy/CreatePolicy.tsx
  web/src/pages/CreateRule/CreateRule.tsx
  web/src/pages/EditGlobaModule/EditGlobalModule.tsx
  web/src/pages/EditRule/EditRule.tsx
  web/src/pages/GeneralSettings/GeneralSettings.tsx
  web/src/pages/ListComplianceSources/ListComplianceSources.tsx
  web/src/pages/ListLogSources/ListLogSources.tsx
  web/src/pages/PolicyDetails/PolicyDetails.tsx
  web/src/pages/PolicyDetails/PolicyDetailsInfo/PolicyDetailsInfo.tsx
  web/src/pages/PolicyDetails/Skeleton/Skeleton.tsx
  web/src/pages/ResourceDetails/ResourceDetails.tsx
  web/src/pages/ResourceDetails/ResourceDetailsInfo/ResourceDetailsInfo.tsx
  web/src/pages/ResourceDetails/Skeleton/Skeleton.tsx
  web/src/pages/RuleDetails/RuleDetails.tsx
  web/src/pages/RuleDetails/RuleDetailsInfo/RuleDetailsInfo.tsx
  web/src/pages/RuleDetails/Skeleton/Skeleton.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
