Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

chore: add cron comment
  .github/workflows/code-analysis.yml
Due: none

Added events for LogSources
  web/src/helpers/analytics.ts
  web/src/pages/CreateLogSource/CreateLogSource.tsx
  web/src/pages/CreateLogSource/CreateS3LogSource/CreateS3LogSource.tsx
  web/src/pages/CreateLogSource/CreateSqsLogSource/CreateSqsLogSource.tsx
Due: prettier --write, eslint

Added events for invited users
  web/src/components/sidesheets/UserInvitationSidesheet/UserInvitationSidesheet.tsx
  web/src/helpers/analytics.ts
Due: prettier --write, eslint

Added UpdatedAlertStatus tracking
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
  web/src/helpers/analytics.ts
Due: prettier --write, eslint

Removed comment
  web/src/helpers/analytics.ts
Due: prettier --write, eslint

Update cloudflare log events
  internal/log_analysis/log_processor/parsers/cloudflarelogs/firewall.go
  internal/log_analysis/log_processor/parsers/cloudflarelogs/http_request.go
  internal/log_analysis/log_processor/parsers/cloudflarelogs/spectrum.go
Due: none

fix: bg color on test tabs (#1629)
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestSection/BaseRuleFormTestSection.tsx
Due: prettier --write, eslint

Updated PR template
  .github/PULL_REQUEST_TEMPLATE/web.md
Due: prettier --write

Fixed issue with enviroment variables for analytics in all enviroments
  web/scripts/start.js
  web/scripts/utils.js
  web/src/helpers/analytics.ts
  web/src/helpers/loggers.ts
Due: prettier --write, eslint

Revert "Fixed issue with enviroment variables for analytics in all enviroments"
  web/scripts/start.js
  web/scripts/utils.js
  web/src/helpers/analytics.ts
  web/src/helpers/loggers.ts
Due: prettier --write, eslint

Check for local storage has to be on runtime
  web/src/helpers/analytics.ts
Due: prettier --write, eslint

Updated schema for alertsByRuleID
  api/graphql/schema.graphql
  deployments/appsync.yml
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
Due: prettier --write, eslint

Add unix codecs for usec and nsec
  internal/log_analysis/log_processor/pantherlog/tcodec/registry.go
  internal/log_analysis/log_processor/pantherlog/tcodec/tcodec.go
  internal/log_analysis/log_processor/pantherlog/tcodec/tcodec_test.go
  internal/log_analysis/log_processor/pantherlog/tcodec/unix.go
Due: none

Add strftime codec to tcodec
  go.mod
  go.sum
  internal/log_analysis/log_processor/pantherlog/tcodec/extension.go
  internal/log_analysis/log_processor/pantherlog/tcodec/extension_test.go
  internal/log_analysis/log_processor/pantherlog/tcodec/tcodec.go
Due: none

Add unit tests for micro/nano
  internal/log_analysis/log_processor/pantherlog/tcodec/tcodec_test.go
Due: none

Make rule engine return the exception if title() or dedup() raises
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_main.py
  internal/log_analysis/rules_engine/tests/test_output.py
  internal/log_analysis/rules_engine/tests/test_rule.py
Due: none

Change "Report" to "Send"
  web/src/components/forms/AnalyticsConsentForm/AnalyticsConsentSection.tsx
  web/src/components/forms/ProductAnalyticsConsentForm/ProductReportingSection.tsx
Due: prettier --write, eslint

Combined forms for Analytics consent
  web/src/components/forms/AnalyticsConsentForm/AnalyticsConsentForm.tsx
  web/src/components/forms/AnalyticsConsentForm/AnalyticsConsentSection.tsx
  web/src/components/forms/ProductAnalyticsConsentForm/ProductAnalyticsConsentForm.tsx
  web/src/components/forms/ProductAnalyticsConsentForm/ProductReportingSection.tsx
  web/src/components/forms/ProductAnalyticsConsentForm/index.tsx
  web/src/components/modals/AnalyticsConsentModal/AnalyticsConsentModal.tsx
  web/src/components/modals/AnalyticsConsentModal/index.tsx
  web/src/components/modals/ProductAnalyticsConsentModal/ProductAnalyticsConsentModal.tsx
  web/src/components/modals/ProductAnalyticsConsentModal/index.tsx
  web/src/components/utils/Modal/ModalContext.tsx
  web/src/components/utils/Modal/ModalManager.tsx
  web/src/components/utils/PromptController/PromptController.tsx
Due: prettier --write, eslint

More fixes
  web/src/components/forms/AnalyticsConsentForm/AnalyticsConsentSection.tsx
  web/src/helpers/analytics.ts
Due: prettier --write, eslint

Changed booleans to adding features for consent
  web/src/components/forms/AnalyticsConsentForm/AnalyticsConsentForm.tsx
  web/src/components/forms/AnalyticsConsentForm/AnalyticsConsentSection.tsx
  web/src/components/forms/CompanyInformationForm/CompanyInformationForm.tsx
  web/src/components/modals/AnalyticsConsentModal/AnalyticsConsentModal.tsx
  web/src/components/utils/PromptController/PromptController.tsx
Due: prettier --write, eslint

Added reporting to sentry
  web/src/helpers/analytics.ts
Due: prettier --write, eslint

Minor aria fix
  web/src/components/forms/AnalyticsConsentForm/AnalyticsConsentSection.tsx
Due: prettier --write, eslint

Overriding & using requestIdleCallback
  web/src/config.ts
  web/src/helpers/analytics.ts
  web/src/helpers/fireworks.ts
  web/src/overrides.d.ts
Due: prettier --write, eslint

refactor: update UI according to latest button changes
  package-lock.json
  package.json
  web/src/components/FieldPolicyChecker/FieldPolicyCheck.tsx
  web/src/components/Navigation/NavIconButton/NavIconButton.tsx
  web/src/components/Navigation/NavLink/NavLink.tsx
  web/src/components/badges/SourceHealthBadge/SourceHealthBadge.tsx
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
  web/src/components/forms/ChangePasswordForm/ChangePasswordForm.tsx
  web/src/components/wizards/BulkUploaderWizard/UploadPanel/Processing.tsx
  web/src/components/wizards/BulkUploaderWizard/UploadPanel/Upload.tsx
  web/src/pages/AlertDetails/AlertDetailsBanner/AlertDetailsBanner.tsx
  web/src/pages/AlertDetails/AlertDetailsEvents/AlertDetailsEvents.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliverySection.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliveryTable/AlertDeliveryTable.tsx
  web/src/pages/ListGlobalPythonModules/GlobalPythonModuleItem/GlobalPythonModuleItem.tsx
  web/src/pages/ListPolicies/ListPoliciesTable/ListPoliciesTable.tsx
  web/src/pages/ListPolicies/ListPoliciesTable/ListPoliciesTableRowOptions/ListPoliciesTableRowOptions.tsx
  web/src/pages/ListRules/ListRulesTable/ListRulesTable.tsx
  web/src/pages/ListRules/ListRulesTable/ListRulesTableRowOptions/ListRulesTableRowOptions.tsx
  web/src/pages/LogAnalysisOverview/AlertSummary/DifferenceText/DifferenceText.tsx
  web/src/pages/PolicyDetails/PolicyDetailsInfo/PolicyDetailsInfo.tsx
  web/src/pages/PolicyDetails/PolicyDetailsTable/PolicyDetailsTable.tsx
  web/src/pages/PolicyDetails/PolicyDetailsTable/PolicyDetailsTableRowOptions.tsx
  web/src/pages/ResourceDetails/ResourceDetailsAttributes/ResourceDetailsAttributes.tsx
  web/src/pages/ResourceDetails/ResourceDetailsTable/ResourceDetailsTable.tsx
  web/src/pages/ResourceDetails/ResourceDetailsTable/ResourceDetailsTableRowOptions.tsx
  web/src/pages/Users/ListUsersTable/ListUsersTable.tsx
  web/src/pages/Users/ListUsersTable/ListUsersTableRowOptions/ListUsersTableRowOptions.tsx
Due: prettier --write, eslint

Fixed wrong condition
  web/src/components/utils/PromptController/PromptController.tsx
Due: prettier --write, eslint

refactor: replace <Button as={RRLink} with better markup
  web/src/pages/403/403.tsx
  web/src/pages/404/404.tsx
  web/src/pages/500/500.tsx
  web/src/pages/ComplianceOverview/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListComplianceSources/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListComplianceSources/ListComplianceSources.tsx
  web/src/pages/ListGlobalPythonModules/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListGlobalPythonModules/ListGlobalPythonModules.tsx
  web/src/pages/ListLogSources/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListLogSources/ListLogSources.tsx
  web/src/pages/ListPolicies/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListPolicies/ListPoliciesActions/ListPoliciesActions.tsx
  web/src/pages/ListResources/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListRules/EmptyDataFallback/EmptyDataFallback.tsx
  web/src/pages/ListRules/ListRulesActions/ListRulesActions.tsx
  web/src/pages/PolicyDetails/PolicyDetailsInfo/PolicyDetailsInfo.tsx
  web/src/pages/RuleDetails/RuleDetailsInfo/RuleDetailsInfo.tsx
Due: prettier --write, eslint

Correct initial values to a more generic form
  web/src/components/forms/AnalyticsConsentForm/AnalyticsConsentForm.tsx
Due: prettier --write, eslint

Support versioned release branches in commit sync
  .github/workflows/main.yml
Due: none

Fixed a number of issues. Unit tests are now working properly.
  api/lambda/source/models/vars.go
  internal/compliance/snapshot_poller/models/aws/eks_cluster.go
  internal/compliance/snapshot_poller/pollers/aws/awstest/eks.go
  internal/compliance/snapshot_poller/pollers/aws/eks_cluster.go
  internal/compliance/snapshot_poller/pollers/aws/eks_cluster_test.go
  internal/compliance/snapshot_poller/pollers/aws/poll.go
Due: none

mage gen fmt
  internal/compliance/snapshot_poller/models/aws/eks_cluster.go
  internal/compliance/snapshot_poller/pollers/aws/awstest/eks.go
  internal/compliance/snapshot_poller/pollers/aws/eks_cluster.go
  internal/compliance/snapshot_poller/pollers/aws/eks_cluster_test.go
Due: none

Added permissions to allow eks:ListFargateProfiles and eks:DescribeFargateProfile
  deployments/auxiliary/cloudformation/panther-cloudsec-iam.yml
Due: none

Update python/go libraries
  go.mod
  go.sum
  requirements-top-level.txt
  requirements.txt
  tools/mage/setup/setup.go
  tools/mage/test/cfn.go
Due: none

Bump version in master stack
  deployments/master.yml
Due: none

Bump version in master stack (#1655)
  deployments/master.yml
Due: none

Reverted version back to v1.0.1
  deployments/auxiliary/cloudformation/panther-cloudsec-iam.yml
Due: none

Fix release branch base
  .github/workflows/main.yml
Due: none

Updated to v1.11.0
  deployments/auxiliary/cloudformation/panther-cloudsec-iam.yml
Due: none

Strip origin prefix from branch name
  .github/workflows/main.yml
Due: none

Correct dollar sign location
  .github/workflows/main.yml
Due: none

Small comment change to trigger sync again
  .golangci.yml
Due: none
