Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

3nvi master (#54)
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

Simplifying some stuff
  internal/compliance/snapshot_poller/pollers/aws/cloudwatchlogs_log_group.go
Due: none

Updated PR according to feedback
  internal/compliance/snapshot_poller/pollers/aws/cloudwatchlogs_log_group.go
Due: none

Fixing nil pointer dereference
  internal/compliance/snapshot_poller/pollers/aws/cloudwatchlogs_log_group.go
Due: none

Added High severity Table
  web/src/pages/LogAnalysisOverview/AlertsTable/AlertsTable.tsx
  web/src/pages/LogAnalysisOverview/AlertsTable/index.tsx
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
  web/src/pages/LogAnalysisOverview/Skeleton/Skeleton.tsx
Due: prettier --write, eslint

Added random commit to trigger re-testing of signature
  internal/log_analysis/log_processor/destinations/s3.go
Due: none

Removed demoData
  web/src/pages/LogAnalysisOverview/demoData.ts
Due: prettier --write, eslint

Added colors for log type lines
  web/src/components/charts/constants.ts
Due: prettier --write, eslint

Fixed some colors
  web/src/components/charts/constants.ts
Due: prettier --write, eslint

Updated props
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
Due: prettier --write, eslint

Added formatters for dates
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
Due: prettier --write, eslint

Added lazy loading for echarts
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
Due: prettier --write, eslint

Satisfying linter
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
Due: prettier --write, eslint

Remove unused
  web/src/components/charts/ZoomableTimeSeriesChart/ZoomableTimeSeriesChart.tsx
  web/src/components/charts/ZoomableTimeSeriesChart/index.tsx
Due: prettier --write, eslint

Specified props
  web/src/pages/LogAnalysisOverview/AlertSummary/AlertSummary.tsx
  web/src/pages/LogAnalysisOverview/EventsByLogType/EventsByLogType.tsx
Due: prettier --write, eslint

Call the rule engine (not policy) when saving a rule
  internal/core/analysis_api/analysis/rule_engine.go
  internal/core/analysis_api/handlers/create_rule.go
  internal/core/analysis_api/handlers/test_policy.go
  internal/core/analysis_api/main/integration_test.go
Due: none

Added Edit page for SQS + appsync and graphql support
  api/graphql/schema.graphql
  deployments/appsync.yml
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/constants.ts
  web/src/graphql/fragments/SqsLogSourceIntegrationDetails.generated.ts
  web/src/graphql/fragments/SqsLogSourceIntegrationDetails.graphql
  web/src/pages/CreateLogSource/CreateSqsLogSource/CreateSqsLogSource.tsx
  web/src/pages/EditSqsLogSource/EditSqsLogSource.tsx
  web/src/pages/EditSqsLogSource/graphql/getSqsLogSource.generated.ts
  web/src/pages/EditSqsLogSource/graphql/getSqsLogSource.graphql
  web/src/pages/EditSqsLogSource/graphql/updateSqsLogSource.generated.ts
  web/src/pages/EditSqsLogSource/graphql/updateSqsLogSource.graphql
  web/src/pages/EditSqsLogSource/index.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceTable.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceTableRowOptions/LogSourceTableRowOptions.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceType/LogSourceType.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceType/index.tsx
  web/src/pages/ListLogSources/LogSourceTable/S3LogSourceRow/S3LogSourceRow.tsx
  web/src/pages/ListLogSources/LogSourceTable/S3LogSourceRow/index.tsx
  web/src/pages/ListLogSources/LogSourceTable/SqsLogSourceRow/SqsLogSourceRow.tsx
  web/src/pages/ListLogSources/LogSourceTable/SqsLogSourceRow/index.tsx
  web/src/pages/ListLogSources/graphql/listLogSources.generated.ts
  web/src/pages/ListLogSources/graphql/listLogSources.graphql
  web/src/routes.tsx
Due: prettier --write, eslint

fixes based on review
  internal/log_analysis/log_processor/parsers/laceworklogs/lacework.go
  internal/log_analysis/log_processor/parsers/laceworklogs/laceworklogs.go
Due: none

update constants
  web/src/constants.ts
Due: prettier --write, eslint

checkin docs
  docs/gitbook/log-analysis/log-processing/supported-logs/Lacework.md
  internal/log_analysis/log_processor/parsers/laceworklogs/laceworklogs.go
Due: prettier --write

round end date
  internal/core/metrics_api/api/get_metrics.go
  internal/core/metrics_api/api/get_metrics_test.go
Due: none

tests pass
  internal/log_analysis/log_processor/parsers/laceworklogs/lacework_test.go
Due: none

Added ValidationPanel for SQS
  web/src/components/wizards/SqsSourceWizard/SqsSourceWizard.tsx
  web/src/components/wizards/SqsSourceWizard/SuccessPanel/SuccessPanel.tsx
  web/src/pages/CreateLogSource/CreateSqsLogSource/CreateSqsLogSource.tsx
  web/src/pages/EditSqsLogSource/EditSqsLogSource.tsx
  web/src/pages/EditSqsLogSource/ValidationPanel/ValidationPanel.tsx
  web/src/pages/EditSqsLogSource/ValidationPanel/index.tsx
  web/src/pages/ListLogSources/LogSourceTable/LogSourceTable.tsx
Due: prettier --write, eslint

3nvi master (#55)
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

fix: revamped tooltip, dropdown
  web/src/components/AlertStatusBadge/AlertStatusBadge.tsx
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
Due: prettier --write, eslint

3nvi master (#56)
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

fixed integration tests
  internal/core/metrics_api/main/integration_test.go
Due: none

3nvi master (#57)
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

formatting
  internal/core/metrics_api/main/integration_test.go
Due: none

chore: removed unnecessary props
  web/src/components/AlertStatusBadge/AlertStatusBadge.tsx
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
Due: prettier --write, eslint

fix: padding required for fixed widths
  web/src/components/AlertStatusBadge/AlertStatusBadge.tsx
Due: prettier --write, eslint

fix: alignment
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
Due: prettier --write, eslint

Use IAM permission boundary, fix alarm deletion
  deployments/bootstrap_gateway.yml
  internal/core/custom_resources/resources/alarms_lambda.go
  internal/core/custom_resources/resources/alarms_sfn.go
  internal/core/custom_resources/resources/panther_teardown.go
Due: none

Nitpick some comments
  deployments/bootstrap_gateway.yml
  internal/core/custom_resources/resources/panther_teardown.go
Due: none

chore: put back fixme
  web/src/pages/ListAlerts/ListAlerts.tsx
Due: prettier --write, eslint

Correct custom resource dependency
  deployments/bootstrap_gateway.yml
  internal/core/custom_resources/resources/panther_teardown.go
Due: none

3nvi master (#58)
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

3nvi master (#60)
  .github/workflows/main.yml
  build/actions/pr_sync/dist/index.js
  build/actions/pr_sync/index.js
Due: prettier --write, eslint

3nvi master (#61)
  .github/workflows/main.yml
Due: none
