Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Fixed linting issues
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/src/output.py
  internal/log_analysis/rules_engine/tests/test_output.py
Due: none

split list-source & add-source into multiple
  web/src/components/modals/delete-source-modal.tsx
  web/src/components/sidesheets/update-source-sidesheet.tsx
  web/src/components/wizard-panel-wrapper.tsx
  web/src/pages/create-compliance-source/index.tsx
  web/src/pages/create-compliance-source/subcomponents/real-time-event-panel.tsx
  web/src/pages/create-compliance-source/subcomponents/remediation-panel.tsx
  web/src/pages/create-compliance-source/subcomponents/resource-scanning-panel.tsx
  web/src/pages/create-compliance-source/subcomponents/source-details-panel.tsx
  web/src/pages/create-compliance-source/subcomponents/success-panel.tsx
  web/src/pages/create-log-source/index.tsx
  web/src/pages/create-log-source/subcomponents/cfn-launch-panel.tsx
  web/src/pages/create-log-source/subcomponents/source-details-panel.tsx
  web/src/pages/create-log-source/subcomponents/success-panel.tsx
  web/src/pages/create-source/index.tsx
  web/src/pages/list-compliance-sources/compliance-source-columns.tsx
  web/src/pages/list-compliance-sources/index.tsx
  web/src/pages/list-compliance-sources/subcomponents/compliance-source-table-row-options.tsx
  web/src/pages/list-compliance-sources/subcomponents/compliance-source-table.tsx
  web/src/pages/list-log-sources/index.tsx
  web/src/pages/list-log-sources/log-source-columns.tsx
  web/src/pages/list-log-sources/subcomponents/log-source-table-row-options.tsx
  web/src/pages/list-log-sources/subcomponents/log-source-table.tsx
  web/src/pages/list-sources/index.tsx
  web/src/pages/list-sources/subcomponents/log-source-table.tsx
  web/src/routes.tsx
Due: prettier --write, eslint

rename overview and add placeholder for compliance
  web/src/components/navigation/log-analysis-navigation.tsx
  web/src/pages/compliance-overview/columns.tsx
  web/src/pages/compliance-overview/empty-data-fallback.tsx
  web/src/pages/compliance-overview/index.tsx
  web/src/pages/compliance-overview/skeleton.tsx
  web/src/pages/compliance-overview/subcomponents/donut-chart-wrapper.tsx
  web/src/pages/compliance-overview/subcomponents/policies-by-severity-chart.tsx
  web/src/pages/compliance-overview/subcomponents/policies-by-status-chart.tsx
  web/src/pages/compliance-overview/subcomponents/resources-by-platform-chart.tsx
  web/src/pages/compliance-overview/subcomponents/resources-by-status-chart.tsx
  web/src/pages/log-analysis-overview/index.tsx
  web/src/routes.tsx
Due: prettier --write, eslint

rename component consts
  web/src/pages/compliance-overview/empty-data-fallback.tsx
  web/src/pages/compliance-overview/index.tsx
  web/src/pages/compliance-overview/skeleton.tsx
Due: prettier --write, eslint

add missing license headers
  web/src/components/linkify.tsx
  web/src/components/navigation/compliance-navigation.tsx
  web/src/components/navigation/index.ts
  web/src/components/navigation/log-analysis-navigation.tsx
  web/src/components/navigation/nav-icon-button.tsx
  web/src/components/navigation/nav-link.tsx
  web/src/components/navigation/settings-navigation.tsx
Due: prettier --write, eslint

increase height in illustration
  web/src/pages/log-analysis-overview/index.tsx
Due: prettier --write, eslint

Move the cloudformation for the glue tables to a dedidcated stack to allow easy drop+recreate
  deployments/backend.yml
  tools/cfngen/cf.go
  tools/cfngen/gluecf/gluecf.go
  tools/cfngen/gluecf/gluecf_test.go
  tools/mage/cfngen.go
  tools/mage/deploy.go
  tools/mage/deploy_databases.go
  tools/mage/deploy_template.go
Due: none

updated per discussion with Kostas`
  deployments/compliance/aws_event_processor.yml
  internal/compliance/aws_event_processor/processor/handler.go
Due: none

[login page] edit text on left side of auth page
  web/src/components/auth-page-container.tsx
Due: prettier --write, eslint

[login page] Panther Community Edition
  web/src/components/auth-page-container.tsx
Due: prettier --write, eslint

mage fmt
  internal/compliance/aws_event_processor/processor/handler_test.go
Due: none

Respond to PR
  tools/cfngen/cf.go
  tools/cfngen/gluecf/gluecf.go
Due: none

Update graphql schema
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/components/forms/user-invitation-form/index.tsx
Due: prettier --write, eslint

Remove email output from backend
  api/lambda/outputs/models/api.go
  deployments/core/outputs.yml
  internal/core/alert_delivery/delivery/dispatch.go
  internal/core/alert_delivery/delivery/dispatch_test.go
  internal/core/alert_delivery/outputs/email.go
  internal/core/alert_delivery/outputs/email_test.go
  internal/core/alert_delivery/outputs/outputs.go
  internal/core/alert_delivery/outputs/outputs_test.go
  internal/core/outputs_api/README.md
  internal/core/outputs_api/api/add_output.go
  internal/core/outputs_api/api/add_output_test.go
  internal/core/outputs_api/api/api.go
  internal/core/outputs_api/api/api_test.go
  internal/core/outputs_api/api/get_output.go
  internal/core/outputs_api/api/get_output_test.go
  internal/core/outputs_api/api/get_outputs.go
  internal/core/outputs_api/api/get_outputs_test.go
  internal/core/outputs_api/api/update_output_test.go
  internal/core/outputs_api/api/utils.go
  internal/core/outputs_api/table/table.go
  internal/core/outputs_api/table/update.go
  internal/core/outputs_api/table/update_test.go
  internal/core/outputs_api/validator/validator.go
  internal/core/outputs_api/validator/validator_test.go
  internal/core/outputs_api/verification/get_verification_status.go
  internal/core/outputs_api/verification/verification.go
  internal/core/outputs_api/verification/verify_output.go
Due: prettier --write

Remove userPoolId from AppSync resolvers
  deployments/core/appsync.yml
Due: none

Improve error logging in rule engine
  internal/log_analysis/rules_engine/src/engine.py
Due: none

Addressing PR feedback
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo.go
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo_test.go
  internal/log_analysis/log_processor/parsers/pantherlog_test.go
  internal/log_analysis/log_processor/parsers/patherlog.go
  internal/log_analysis/log_processor/parsers/timestamp/timestamp.go
  internal/log_analysis/log_processor/registry/registry.go
  tools/athenaviews/athenaviews_test.go
Due: none

Compatibility with AWS CLI v2
  deployments/compliance/compliance_api.yml
  deployments/compliance/remediation.yml
  deployments/compliance/resources_api.yml
  deployments/log_analysis/alerts.yml
  deployments/log_analysis/rules_engine.yml
  internal/core/users_api/api/list_users.go
Due: none

Add databases.yml that was missed in previous commit
  deployments/databases.yml
Due: none

Respond to PR
  deployments/databases.yml
Due: none

Added better descriptions to OSSEC EventInfo struct.
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo.go
Due: none

Update README.md
  docs/gitbook/README.md
Due: prettier --write

Fixing bug in the new code
  internal/log_analysis/rules_engine/src/main.py
Due: none

Removed unused Link
  web/src/components/auth-page-container.tsx
Due: prettier --write, eslint

Simplify timestamp.UnixMillisecond to only marshal JSON ints.
  internal/log_analysis/log_processor/parsers/timestamp/timestamp.go
  internal/log_analysis/log_processor/parsers/timestamp/timestamp_test.go
Due: none

Added setAuthenticated when users verify their MFA for the first time
  web/src/components/utils/auth-context.tsx
Due: prettier --write, eslint

Minor comment change
  web/src/components/utils/auth-context.tsx
Due: prettier --write, eslint

add default redirects for breadcrumbs
  web/src/routes.tsx
Due: prettier --write, eslint

Improve errors in s3_client_cache.go
  internal/log_analysis/log_processor/sources/s3_client_cache.go
Due: none

Whitelist Decrypt as a readonly operation for aws event processor
  internal/compliance/aws_event_processor/processor/classify.go
  internal/compliance/aws_event_processor/processor/classify_test.go
Due: none

Added signOut on onSuccess of delete modal
  web/src/components/modals/delete-user-modal.tsx
Due: prettier --write, eslint

bump pounce & update icons
  package-lock.json
  package.json
  web/src/components/navigation/navigation.tsx
Due: prettier --write, eslint

replace role dropdown with text
  web/src/components/forms/user-invitation-form/index.tsx
  web/src/components/sidesheets/user-invitation-sidesheet.tsx
Due: prettier --write, eslint

change urls structure for settings
  web/src/components/navigation/navigation.tsx
  web/src/components/navigation/settings-navigation.tsx
  web/src/routes.tsx
  web/src/urls.ts
Due: prettier --write, eslint

Change CloudTrail log parser validation to NOT have recipientAccountId required
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_test.go
Due: none

[fossa] use 3 modules for each major component
  .fossa.yml
Due: none

[fossa] updated yml for all go projects
  .fossa.yml
Due: none

Added CWE caching
  deployments/compliance/aws_event_processor.yml
  deployments/compliance/snapshot.yml
  go.mod
  go.sum
  internal/compliance/aws_event_processor/processor/accounts.go
  internal/compliance/aws_event_processor/processor/handler.go
  internal/compliance/aws_event_processor/processor/process.go
  internal/compliance/aws_event_processor/processor/process_test.go
Due: none

Refactor org-api to just Get and Update settings
  api/lambda/organization/models/api.go
  api/lambda/organization/models/table.go
  internal/core/organization_api/api/create_organization_test.go
  internal/core/organization_api/api/get_organization_test.go
  internal/core/organization_api/api/get_settings.go
  internal/core/organization_api/api/update_organization.go
  internal/core/organization_api/api/update_organization_test.go
  internal/core/organization_api/api/update_settings.go
  internal/core/organization_api/main/integration_test.go
  internal/core/organization_api/table/get.go
  internal/core/organization_api/table/get_test.go
  internal/core/organization_api/table/put.go
  internal/core/organization_api/table/put_test.go
  internal/core/organization_api/table/table.go
  internal/core/organization_api/table/update.go
  internal/core/organization_api/table/update_test.go
  tools/mage/deploy.go
  tools/mage/util.go
Due: none

Fix reset password and other small fixes
  api/lambda/users/models/table.go
  api/lambda/users/models/user.go
  deployments/core/admin_api.yml
  deployments/core/appsync.yml
Due: none
