Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

fix: remove spacing from aside
  web/src/components/Navigation/Navigation.tsx
Due: prettier --write, eslint

fix: add footer placeholder for portal and fix spacing for navbar
  web/src/components/Layout/Layout.tsx
Due: prettier --write, eslint

fix: aria attributes for general settings
  web/src/pages/GeneralSettings/GeneralSettings.tsx
Due: prettier --write, eslint

fix: footer as semantical footer
  web/src/components/Layout/Layout.tsx
Due: prettier --write, eslint

chore: add tests for GeneralSettings page
  web/src/pages/GeneralSettings/GeneralSettings.test.tsx
  web/src/pages/GeneralSettings/__snapshots__/GeneralSettings.test.tsx.snap
Due: prettier --write, eslint

tweak
  pkg/awsbatch/dynamodbbatch/item_size_test.go
Due: none

Allow updates to individual go lambda functions
  tools/mage/build/lambda.go
  tools/mage/deploy/deploy.go
Due: none

Add Python support
  tools/mage/deploy/deploy.go
Due: none

Handle scanning large resources better (#1784)
  internal/compliance/resources_api/handlers/add_resources.go
  internal/compliance/snapshot_poller/models/aws/ec2_vpc.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_vpc.go
  pkg/awsbatch/dynamodbbatch/item_size.go
  pkg/awsbatch/dynamodbbatch/item_size_test.go
  requirements.txt
Due: none

Find function details from CFN
  tools/mage/deploy/deploy.go
Due: none

Fixing DDB expression
  internal/log_analysis/alerts_api/table/list.go
Due: none

Parser for Sophos Central logs (#1770)
  internal/log_analysis/log_processor/parsers/sophoslogs/central.go
  internal/log_analysis/log_processor/parsers/sophoslogs/central_test.go
  internal/log_analysis/log_processor/parsers/sophoslogs/sophos.go
  internal/log_analysis/log_processor/parsers/sophoslogs/testdata/central_tests.yml
  internal/log_analysis/log_processor/registry/registry.go
Due: none

Removed misleading Cancel button
  web/src/components/wizards/SqsSourceWizard/ValidationPanel/ValidationPanel.tsx
Due: prettier --write, eslint

Safeguard validation
  web/src/components/wizards/SqsSourceWizard/SqsSourceConfigurationPanel/SqsSourceConfigurationPanel.tsx
Due: prettier --write, eslint

Fix broken tests
  web/src/pages/CreateLogSource/CreateSqsLogSource/CreateSqsLogSource.test.tsx
  web/src/pages/EditSqsLogSource/ΕditSqsLogSource.test.tsx
Due: prettier --write, eslint

Sanitize check for SQS
  web/src/components/wizards/SqsSourceWizard/SqsSourceConfigurationPanel/SqsSourceConfigurationPanel.tsx
Due: prettier --write, eslint

Added TODO
  internal/log_analysis/alerts_api/table/list.go
Due: none

chore: update snapshots
  web/src/components/JsonViewer/__snapshots__/JsonViewer.test.tsx.snap
Due: none

fix: add `width:100%` for JSON wrapper
  web/src/components/JsonViewer/JsonViewer.tsx
Due: prettier --write, eslint

feat: add expand/collapse button for JSON view
  web/src/components/JsonViewer/JsonViewer.test.tsx
  web/src/components/JsonViewer/JsonViewer.tsx
  web/src/components/JsonViewer/__snapshots__/JsonViewer.test.tsx.snap
Due: prettier --write, eslint

Onboarding Logs validation fix (#1800)
  web/src/components/wizards/SqsSourceWizard/SqsSourceConfigurationPanel/SqsSourceConfigurationPanel.tsx
  web/src/components/wizards/SqsSourceWizard/ValidationPanel/ValidationPanel.tsx
  web/src/pages/CreateLogSource/CreateSqsLogSource/CreateSqsLogSource.test.tsx
  web/src/pages/EditSqsLogSource/ΕditSqsLogSource.test.tsx
Due: prettier --write, eslint

Alerts API now can filter the alerts by type (Rule matches or Rule errors) (#1790)
  api/lambda/alerts/models/api.go
  internal/log_analysis/alerts_api/api/list_alerts_test.go
  internal/log_analysis/alerts_api/table/list.go
  internal/log_analysis/alerts_api/table/table.go
Due: none

Updating threshold
  deployments/bootstrap_gateway.yml
Due: none

Fixing threshold
  deployments/log_analysis.yml
  internal/core/custom_resources/resources/alarms_sqs.go
Due: none

Updating threshold (#1803)
  deployments/bootstrap_gateway.yml
Due: none

fix: split lines in contributors table
  README.md
Due: prettier --write

chore: fix snapshots, footer placement for render and assertiond
  web/__tests__/utils/render.tsx
  web/src/pages/GeneralSettings/GeneralSettings.test.tsx
  web/src/pages/GeneralSettings/__snapshots__/GeneralSettings.test.tsx.snap
Due: prettier --write, eslint

chore: fix button placement and snapshot checking
  web/src/pages/GeneralSettings/GeneralSettings.tsx
  web/src/pages/GeneralSettings/__snapshots__/GeneralSettings.test.tsx.snap
Due: prettier --write, eslint

chore: bump all snapshots failing
  web/src/components/BorderedTab/__snapshots__/BorderedTab.test.tsx.snap
  web/src/components/BulletedLogType/__snapshots__/BulletedLogType.test.tsx.snap
  web/src/components/GenericItemCard/__snapshots__/GenericItemCard.test.tsx.snap
  web/src/components/JsonViewer/__snapshots__/JsonViewer.test.tsx.snap
  web/src/components/Wizard/__snapshots__/Wizard.test.tsx.snap
  web/src/components/badges/SourceHealthBadge/__snapshots__/SourceHealthBadge.test.tsx.snap
  web/src/components/fields/SensitiveTextInput/__snapshots__/SensitiveTextInput.test.tsx.snap
  web/src/pages/AlertDetails/AlertDetailsBanner/__snapshots__/AlertDetailsBanner.test.tsx.snap
Due: none

Bugfix for custom-resources lambda
  tools/mage/deploy/deploy.go
Due: none

Updated field
  internal/core/custom_resources/resources/alarms_sqs.go
Due: none

Fixing threshold for Log Processor input queue (#1807)
  deployments/log_analysis.yml
  internal/core/custom_resources/resources/alarms_sqs.go
Due: none

Added test for s3 objects
  internal/log_analysis/log_processor/sources/s3.go
  internal/log_analysis/log_processor/sources/s3_test.go
Due: none

Increasing number of retries
  internal/core/source_api/api/list_integrations.go
  internal/core/source_api/api/vars.go
  internal/core/source_api/ddb/ddb.go
Due: none

Increasing number of retries (#1820)
  internal/core/source_api/api/list_integrations.go
  internal/core/source_api/api/vars.go
  internal/core/source_api/ddb/ddb.go
Due: none

Fixing issue
  internal/log_analysis/alerts_api/api/get_alert.go
Due: none

Added test for s3 objects (#1819)
  internal/log_analysis/log_processor/sources/s3.go
  internal/log_analysis/log_processor/sources/s3_test.go
Due: none

Fixing issue (#1822)
  internal/log_analysis/alerts_api/api/get_alert.go
Due: none

wip: fix threshold display
  api/README.md
  api/gateway/analysis/api.yml
  api/gateway/analysis/models/policy_summary.go
  api/gateway/analysis/models/rule_summary.go
  api/graphql/schema.graphql
  internal/core/analysis_api/handlers/list.go
  web/__generated__/schema.tsx
Due: prettier --write, eslint

working thresholds
  api/gateway/analysis/api.yml
  api/gateway/analysis/models/policy_summary.go
  api/gateway/compliance/api.yml
  api/gateway/compliance/models/policy_summary.go
  api/gateway/compliance/models/threshold.go
  internal/core/analysis_api/handlers/dynamo.go
  internal/core/analysis_api/handlers/list.go
  internal/core/analysis_api/main/integration_test.go
Due: none
