Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Storing title in DDB
  internal/log_analysis/alert_forwarder/forwarder/models.go
  internal/log_analysis/rules_engine/src/__init__.py
  internal/log_analysis/rules_engine/src/alert_merger.py
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/src/output.py
  internal/log_analysis/rules_engine/src/rule.py
Due: none

In progress
  internal/core/alert_delivery/models/api.go
  internal/core/alert_delivery/outputs/outputs.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/models.go
  internal/log_analysis/rules_engine/src/alert_merger.py
Due: none

Added unit tests for forwarder
  internal/core/alert_delivery/outputs/outputs_test.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder.go
  internal/log_analysis/alert_forwarder/forwarder/forwarder_test.go
  internal/log_analysis/alert_forwarder/forwarder/models.go
  internal/log_analysis/alert_forwarder/forwarder/models_test.go
  internal/log_analysis/log_processor/parsers/awslogs/pantherlog.go
  internal/log_analysis/rules_engine/src/alert_merger.py
  internal/log_analysis/rules_engine/src/rule.py
Due: none

Fixed tests
  internal/log_analysis/rules_engine/src/__init__.py
  internal/log_analysis/rules_engine/src/alert_merger.py
  internal/log_analysis/rules_engine/src/output.py
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_output.py
  internal/log_analysis/rules_engine/tests/test_rule.py
Due: none

Simplified solution
  internal/log_analysis/rules_engine/src/rule.py
Due: none

Added truncated text
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_rule.py
Due: none

Added test for title truncation
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_rule.py
Due: none

update source delete text
  web/src/components/modals/BaseConfirmModal/BaseConfirmModal.tsx
  web/src/components/modals/DeleteSourceModal/DeleteSourceModal.tsx
  web/src/helpers/utils.tsx
  web/src/pages/CreateComplianceSource/StackDeploymentPanel/StackDeployment.tsx
Due: prettier --write, eslint

Removed unused pictures
  docs/gitbook/.gitbook/assets/a03623313f415275c751cdb016aaa181 (1).png
  docs/gitbook/.gitbook/assets/a03623313f415275c751cdb016aaa181 (2).png
  docs/gitbook/.gitbook/assets/a03623313f415275c751cdb016aaa181.png
  docs/gitbook/.gitbook/assets/alerts_screenshot.png
  docs/gitbook/.gitbook/assets/aws_output_screenshot.png
  docs/gitbook/.gitbook/assets/docs_-basic-diagram.jpg
  docs/gitbook/.gitbook/assets/docs_-basic-diagram.png
  docs/gitbook/.gitbook/assets/example_rule_screenshot.png
  docs/gitbook/.gitbook/assets/logingestionexistingresources-copy.png
  docs/gitbook/.gitbook/assets/logingestionnewresources.png
  docs/gitbook/.gitbook/assets/rule-example-1 (1).png
  docs/gitbook/.gitbook/assets/rule-example-1.png
  docs/gitbook/.gitbook/assets/rule-example-2 (1).png
  docs/gitbook/.gitbook/assets/rule-example-2.png
  docs/gitbook/.gitbook/assets/rule-example-3.png
  docs/gitbook/.gitbook/assets/rule_editing_screenshot.png
  docs/gitbook/.gitbook/assets/rules_screenshot.png
  docs/gitbook/.gitbook/assets/screen-shot-2019-07-18-at-3.52.01-pm (1).png
  docs/gitbook/.gitbook/assets/screen-shot-2019-07-18-at-3.52.01-pm.png
  docs/gitbook/.gitbook/assets/screen-shot-2019-09-10-at-1.34.56-pm (1).png
  docs/gitbook/.gitbook/assets/screen-shot-2019-09-10-at-1.34.56-pm.png
  docs/gitbook/.gitbook/assets/screen-shot-2019-09-10-at-5.00.11-pm (1).png
  docs/gitbook/.gitbook/assets/screen-shot-2019-09-10-at-5.00.11-pm.png
  docs/gitbook/.gitbook/assets/screen-shot-2019-09-11-at-11.20.11-am.png
  docs/gitbook/.gitbook/assets/screen-shot-2019-10-18-at-9.15.56-am (1).png
  docs/gitbook/.gitbook/assets/screen-shot-2019-10-21-at-12.41.54-pm.png
  docs/gitbook/.gitbook/assets/screen-shot-2019-10-21-at-12.48.52-pm (1).png
  docs/gitbook/.gitbook/assets/screen-shot-2019-10-21-at-8.08.17-am.png
  docs/gitbook/.gitbook/assets/screen-shot-2019-10-22-at-10.32.48-am.png
  docs/gitbook/.gitbook/assets/screen-shot-2019-10-22-at-10.41.14-am.png
  docs/gitbook/.gitbook/assets/screen-shot-2019-10-22-at-8.08.20-am.png
  docs/gitbook/.gitbook/assets/screen-shot-2019-10-23-at-10.24.35-am (1).png
  docs/gitbook/.gitbook/assets/screen-shot-2019-10-23-at-10.24.35-am.png
  docs/gitbook/.gitbook/assets/screen-shot-2019-10-23-at-9.31.08-am (1).png
  docs/gitbook/.gitbook/assets/screen-shot-2019-10-23-at-9.31.08-am.png
  docs/gitbook/.gitbook/assets/screen-shot-2019-11-01-at-10.28.46-am.png
  docs/gitbook/.gitbook/assets/screen-shot-2019-11-13-at-11.43.41-am.png
  docs/gitbook/.gitbook/assets/screen-shot-2020-01-21-at-2.13.18-pm.png
  docs/gitbook/.gitbook/assets/screen-shot-2020-01-22-at-2.18.33-pm (1).png
Due: none

Fixed naming issue
  internal/log_analysis/log_processor/parsers/patherlog.go
  tools/athenaviews/athenaviews_test.go
Due: none

Fix typo in comment
  internal/compliance/aws_event_processor/processor/process.go
Due: none

Updated DeleteUserModal with optimisticResponse
  web/src/components/modals/DeleteUserModal/DeleteUserModal.tsx
Due: prettier --write, eslint

addressing initial PR feedback
  internal/compliance/resource_processor/processor/handler.go
  pkg/awsbatch/sqsbatch/send_message_batch.go
Due: none

Addressed PR feedback
  docs/gitbook/.gitbook/assets/hosted_zone_alias.png
  docs/gitbook/operations/advanced-setup/configuring-custom-domains.md
Due: prettier --write

remove un-needed graphql fields
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceTable/graphql/listComplianceSources.generated.ts
  web/src/pages/ListComplianceSources/ComplianceSourceTable/graphql/listComplianceSources.graphql
Due: prettier --write, eslint

update appsync to match latest schema
  deployments/core/appsync.yml
Due: none

attmept to handle additions & deletions of compliance sources
  .eslintrc
  web/src/components/modals/DeleteComplianceSourceModal/DeleteComplianceSourceModal.tsx
  web/src/pages/CreateComplianceSource/CreateComplianceSource.tsx
Due: prettier --write, eslint

Work in progress
  internal/log_analysis/rules_engine/src/__init__.py
  internal/log_analysis/rules_engine/src/alert_merger.py
  internal/log_analysis/rules_engine/src/analysis_api.py
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/src/output.py
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_engine.py
  internal/log_analysis/rules_engine/tests/test_output.py
  internal/log_analysis/rules_engine/tests/test_rule.py
Due: none

extract wizard to own component. Use it in CreateComplianceSource page
  web/src/components/wizards/ComplianceSourceWizard/ComplianceSourceWizard.tsx
  web/src/components/wizards/ComplianceSourceWizard/SourceConfigurationPanel/SourceConfigurationPanel.tsx
  web/src/components/wizards/ComplianceSourceWizard/SourceConfigurationPanel/index.tsx
  web/src/components/wizards/ComplianceSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/components/wizards/ComplianceSourceWizard/StackDeploymentPanel/graphql/getComplianceCfnTemplate.generated.ts
  web/src/components/wizards/ComplianceSourceWizard/StackDeploymentPanel/graphql/getComplianceCfnTemplate.graphql
  web/src/components/wizards/ComplianceSourceWizard/StackDeploymentPanel/index.tsx
  web/src/components/wizards/ComplianceSourceWizard/SuccessPanel/SuccessPanel.tsx
  web/src/components/wizards/ComplianceSourceWizard/SuccessPanel/index.tsx
  web/src/components/wizards/ComplianceSourceWizard/index.tsx
  web/src/pages/CreateComplianceSource/CreateComplianceSource.tsx
Due: prettier --write, eslint

Updated DeletePolicyModal and DeleteRuleModal
  web/src/components/modals/DeletePolicyModal/DeletePolicyModal.tsx
  web/src/components/modals/DeleteRuleModal/DeleteRuleModal.tsx
  web/src/components/modals/DeleteUserModal/DeleteUserModal.tsx
Due: prettier --write, eslint

Updated DeleteDestinationModal
  web/src/components/modals/DeleteDestinationModal/DeleteDestinationModal.tsx
Due: prettier --write, eslint

Updated rule initialization
  internal/log_analysis/rules_engine/src/__init__.py
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_rule.py
Due: none

Checkpoint work
  deployments/log_analysis/log_processor.yml
  deployments/panther_config.yml
  internal/log_analysis/log_processor/destinations/destinations.go
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/log_processor/processor/processor.go
  pkg/oplog/oplog.go
  tools/cfngen/cloudwatchcf/alarms_lambda.go
  tools/dashboards/log_processing.go
Due: none

New opstool: s3queue
  cmd/opstools/s3queue/integration_test.go
  cmd/opstools/s3queue/s3queue.go
  cmd/opstools/s3queue/s3queue/main.go
  cmd/opstools/s3queue/s3queue_test.go
  cmd/opstools/testutils/testutils.go
  docs/gitbook/operations/ops-home.md
  tools/mage/build_namespace.go
Due: prettier --write

add fragment for ComplianceSourceDetails
  package-lock.json
  package.json
  web/src/graphql/fragments/ComplianceIntegrationDetails.generated.ts
  web/src/graphql/fragments/ComplianceIntegrationDetails.graphql
  web/src/pages/CreateComplianceSource/graphql/addComplianceSource.generated.ts
  web/src/pages/CreateComplianceSource/graphql/addComplianceSource.graphql
Due: prettier --write, eslint

Added test
  internal/log_analysis/rules_engine/tests/test_rule.py
Due: none

Fixed GetEnabledPolicies querye
  api/gateway/analysis/api.yml
  api/gateway/analysis/models/enabled_policy.go
  internal/core/analysis_api/handlers/get_enabled_policies.go
  internal/core/analysis_api/main/integration_test.go
  internal/log_analysis/rules_engine/src/alert_merger.py
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/src/rule.py
Due: none

create GetIntegration reslver
  api/graphql/schema.graphql
  deployments/core/appsync.yml
Due: none

Fixing linting issues
  internal/core/analysis_api/handlers/get_enabled_policies.go
  internal/core/analysis_api/main/integration_test.go
  internal/log_analysis/rules_engine/src/alert_merger.py
  internal/log_analysis/rules_engine/src/analysis_api.py
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/src/rule.py
Due: none

remove un-needed eslint-disable
  web/src/pages/CreateComplianceSource/CreateComplianceSource.tsx
  web/src/pages/CreateLogSource/CreateLogSource.tsx
Due: prettier --write, eslint

Addressed PR comments
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/src/output.py
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_rule.py
Due: none

Fixed linting issue
  internal/log_analysis/rules_engine/src/engine.py
Due: none

Update user schema
  api/graphql/schema.graphql
  deployments/core/appsync.yml
  web/__generated__/schema.tsx
  web/src/components/modals/DeleteRuleModal/DeleteRuleModal.tsx
  web/src/pages/Users/ListUsersTable/ListUsersTable.tsx
  web/src/pages/Users/ListUsersTable/graphql/listUsers.generated.ts
  web/src/pages/Users/ListUsersTable/graphql/listUsers.graphql
Due: prettier --write, eslint

respond to pr
  cmd/opstools/s3queue/s3queue.go
  cmd/opstools/s3queue/s3queue/main.go
Due: none

fix typo in appsync resolver
  deployments/core/appsync.yml
Due: none

add page for edit of compliance integration
  web/src/pages/ListComplianceSources/ComplianceSourceTableRowOptions/ComplianceSourceTableRowOptions.tsx
  web/src/routes.tsx
  web/src/urls.ts
Due: prettier --write, eslint

add code for edit page of compliance integration
  web/__generated__/schema.tsx
  web/src/client.ts
  web/src/components/wizards/ComplianceSourceWizard/SourceConfigurationPanel/SourceConfigurationPanel.tsx
  web/src/pages/EditComplianceSource/EditComplianceSource.tsx
  web/src/pages/EditComplianceSource/graphql/getComplianceSource.generated.ts
  web/src/pages/EditComplianceSource/graphql/getComplianceSource.graphql
  web/src/pages/EditComplianceSource/graphql/updateComplianceSource.generated.ts
  web/src/pages/EditComplianceSource/graphql/updateComplianceSource.graphql
  web/src/pages/EditComplianceSource/index.tsx
Due: prettier --write, eslint

fix bugs with update stack
  web/src/components/wizards/ComplianceSourceWizard/ComplianceSourceWizard.tsx
  web/src/components/wizards/ComplianceSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/pages/EditComplianceSource/EditComplianceSource.tsx
  web/src/pages/ListComplianceSources/ComplianceSourceTable/graphql/listComplianceSources.generated.ts
  web/src/pages/ListComplianceSources/ComplianceSourceTable/graphql/listComplianceSources.graphql
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
