Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Respond to PR
  docs/gitbook/log-analysis/log-processing/supported-logs/AWS.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Fluentd.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Nginx.md
  docs/gitbook/log-analysis/log-processing/supported-logs/OSSEC.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Osquery.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Syslog.md
  tools/mage/doc.go
Due: prettier --write

[docs] update slack sign-up link
  README.md
Due: prettier --write

Checkpoint work
  internal/compliance/aws_event_processor/processor/handler.go
  internal/compliance/aws_event_processor/processor/handler_test.go
  internal/log_analysis/datacatalog_updater/main/lambda.go
Due: none

mage:doc sort list of json type components for consistent output
  docs/gitbook/log-analysis/log-processing/supported-logs/AWS.md
  tools/mage/doc.go
Due: prettier --write

mage fmt
  tools/mage/doc.go
Due: none

Checkpoint work
  deployments/log_subscription.yml
  deployments/panther_config.yml
  internal/log_analysis/datacatalog_updater/main/lambda.go
  internal/log_analysis/rules_engine/src/__init__.py
  internal/log_analysis/rules_engine/src/output.py
  tools/mage/deploy_logsubscriptions.go
Due: none

First attempt to refactoring Modal with extra action
  web/src/components/modals/BaseConfirmModal/BaseConfirmModal.tsx
  web/src/components/modals/DeletePolicyModal/DeletePolicyModal.tsx
  web/src/components/utils/Modal/ModalContext.tsx
Due: prettier --write, eslint

Checkpoint work
  internal/compliance/aws_event_processor/processor/accounts.go
  internal/compliance/aws_event_processor/processor/handler_test.go
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/src/output.py
  internal/log_analysis/rules_engine/tests/test_main.py
  internal/log_analysis/rules_engine/tests/test_output.py
Due: none

Fix incorrect endpoint in log processing SNS setup doc
  docs/gitbook/log-analysis/log-processing/README.md
Due: prettier --write

A few tidies
  deployments/panther_config.yml
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/src/output.py
Due: none

URL-decoding for list users filter
  internal/core/users_api/api/list_users.go
  internal/core/users_api/cognito/list_users.go
Due: none

Build swagger in CI
  .circleci/config.yml
Due: none

don't need to touch swagger anymore
  .circleci/config.yml
Due: none

Typo in pip3 install command
  docs/gitbook/log-analysis/rules/README.md
  docs/gitbook/policies/policies/README.md
Due: prettier --write

bump langs in buildpack & development pack
  .circleci/config.yml
  build/ci/Dockerfile
  build/deployment/Dockerfile
Due: none

add explicit versioning to dev.sh
  dev.sh
Due: none

add early exit on golang build when CPU arch is unknown
  build/ci/Dockerfile
Due: none

add README for docker related stuff
  build/README.md
Due: prettier --write

bump circleci image
  .circleci/config.yml
Due: none

add setup:swagger in dockerfile
  build/deployment/Dockerfile
Due: none

add setup_namespace.go
  build/deployment/Dockerfile
Due: none

add magefile to context
  build/deployment/Dockerfile
Due: none

revert changes to Dockerfile
  build/deployment/Dockerfile
Due: none

bump development-pack dependency
  dev.sh
Due: none

Use Text instead of Link
  web/src/pages/RuleDetails/RuleDetailsInfo/RuleDetailsInfo.tsx
Due: prettier --write, eslint

Simplified if statement
  web/src/pages/ListRules/ListRulesActions/ListRulesActions.tsx
Due: prettier --write, eslint

Added DeleteRule resolver and necessary graphql changes
  api/graphql/schema.graphql
  deployments/appsync.yml
  web/__generated__/schema.tsx
  web/src/components/modals/DeletePolicyModal/graphql/deletePolicy.graphql
  web/src/components/modals/DeleteRuleModal/DeleteRuleModal.tsx
  web/src/components/modals/DeleteRuleModal/graphql/deleteRule.generated.ts
  web/src/components/modals/DeleteRuleModal/graphql/deleteRule.graphql
Due: prettier --write, eslint

Respond to PR
  deployments/bootstrap.yml
  deployments/log_subscription.yml
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/rules_engine/src/output.py
  tools/mage/deploy.go
  tools/mage/deploy_logsubscriptions.go
Due: none

Respond to PR
  api/lambda/core/log_analysis/log_processor/models/api.go
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/rules_engine/src/output.py
Due: none

Respond to PR
  internal/log_analysis/datacatalog_updater/main/lambda_test.go
Due: none

Respond to PR
  internal/log_analysis/log_processor/destinations/s3.go
Due: none

Polishing code
  api/graphql/schema.graphql
  deployments/appsync.yml
  web/__generated__/schema.tsx
  web/src/components/modals/DeleteRuleModal/DeleteRuleModal.tsx
Due: prettier --write, eslint

Sanitize DeletePolicyResolver
  deployments/appsync.yml
Due: none

Added ConfirmModal and used it in BaseConfirmModal
  web/src/components/modals/BaseConfirmModal/BaseConfirmModal.tsx
  web/src/components/modals/ConfirmModal/ConfirmModal.tsx
  web/src/components/modals/ConfirmModal/index.tsx
Due: prettier --write, eslint

OptimisticConfirmModal component
  web/src/components/modals/OptimisticConfirmModal/OptimisticConfirmModal.tsx
  web/src/components/modals/OptimisticConfirmModal/index.tsx
Due: prettier --write, eslint

Refactor DeletePolicyModal to use OptimisticConfirmModal
  web/src/components/modals/DeletePolicyModal/DeletePolicyModal.tsx
Due: prettier --write, eslint

Respond to PR
  api/lambda/core/log_analysis/log_processor/models/api.go
  internal/log_analysis/datacatalog_updater/main/lambda_test.go
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/tests/test_main.py
Due: none

fix typo
  build/README.md
Due: prettier --write

bump pounce to latest
  api/graphql/schema.graphql
  package-lock.json
  package.json
  web/src/components/DestinationCard/DestinationCard.tsx
  web/src/components/Linkify/Linkify.tsx
  web/src/components/Navigation/NavLink.tsx
  web/src/pages/ListPolicies/columns.tsx
  web/src/pages/ListRules/columns.tsx
Due: prettier --write, eslint

Respond to PR
  internal/log_analysis/rules_engine/src/output.py
  internal/log_analysis/rules_engine/tests/test_output.py
Due: none
