Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

limit IAM scaling role to panther tables
  deployments/bootstrap.yml
  deployments/core.yml
Due: none

addressed PR feedback
  internal/core/analysis_api/handlers/list_globals.go
Due: none

fixed formatting
  internal/core/analysis_api/handlers/list_globals.go
Due: none

refactor SubmitButton
  web/src/components/buttons/LoadingButton/LoadingButton.tsx
  web/src/components/buttons/LoadingButton/index.tsx
  web/src/components/buttons/SubmitButton/SubmitButton.tsx
  web/src/components/forms/AnalyticsConsentForm/AnalyticsConsentForm.tsx
  web/src/components/forms/UserForm/UserForm.tsx
  web/src/components/modals/ConfirmModal/ConfirmModal.tsx
  web/src/components/modals/NetworkErrorModal/NetworkErrorModal.tsx
  web/src/components/modals/OptimisticConfirmModal/OptimisticConfirmModal.tsx
  web/src/components/sidesheets/PolicyBulkUploadSidesheet/PolicyBulkUploadSidesheet.tsx
  web/src/components/wizards/ComplianceSourceWizard/SuccessPanel/SuccessPanel.tsx
  web/src/components/wizards/LogSourceWizard/SuccessPanel/SuccessPanel.tsx
Due: prettier --write, eslint

Fix typo doc generation
  docs/gitbook/log-analysis/log-processing/supported-logs/AWS.md
  docs/gitbook/log-analysis/log-processing/supported-logs/GitLab.md
  docs/gitbook/log-analysis/log-processing/supported-logs/OSSEC.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Osquery.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Suricata.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Syslog.md
  tools/mage/doc.go
Due: prettier --write

Update tests
  tools/mage/logdoc_test.go
Due: none

downgraded to Info lvl messages
  internal/compliance/aws_event_processor/processor/acm.go
  internal/compliance/aws_event_processor/processor/cloudformation.go
  internal/compliance/aws_event_processor/processor/cloudtrail.go
  internal/compliance/aws_event_processor/processor/cloudwatch_log_group.go
  internal/compliance/aws_event_processor/processor/config.go
  internal/compliance/aws_event_processor/processor/dynamodb.go
  internal/compliance/aws_event_processor/processor/ec2.go
  internal/compliance/aws_event_processor/processor/ecs.go
  internal/compliance/aws_event_processor/processor/elbv2.go
  internal/compliance/aws_event_processor/processor/guardduty.go
  internal/compliance/aws_event_processor/processor/iam.go
  internal/compliance/aws_event_processor/processor/kms.go
  internal/compliance/aws_event_processor/processor/lambda.go
  internal/compliance/aws_event_processor/processor/rds.go
  internal/compliance/aws_event_processor/processor/redshift.go
  internal/compliance/aws_event_processor/processor/waf-regional.go
  internal/compliance/aws_event_processor/processor/waf.go
Due: none

Add Unknown Events panel to Cloudsec dashboard
  tools/dashboards/infra.go
Due: none

mage fmt
  web/src/components/buttons/LoadingButton/index.tsx
  web/src/components/forms/BaseDestinationForm/BaseDestinationForm.tsx
  web/src/components/forms/ChangePasswordForm/ChangePasswordForm.tsx
  web/src/components/forms/CompanyInformationForm/CompanyInformationForm.tsx
  web/src/components/forms/EditProfileForm/EditProfileForm.tsx
  web/src/components/forms/GlobalModuleForm/GlobalModuleForm.tsx
  web/src/components/forms/MfaForm/MfaForm.tsx
  web/src/components/forms/RuleForm/RuleForm.tsx
  web/src/components/forms/SigninForm/SigninForm.tsx
Due: prettier --write, eslint

add session persistence in complex forms
  web/src/components/forms/BaseRuleForm/BaseRuleFormCoreFields/BaseRuleFormCoreFields.tsx
  web/src/components/forms/GlobalModuleForm/GlobalModuleForm.tsx
  web/src/components/forms/PolicyForm/PolicyForm.tsx
  web/src/components/forms/RuleForm/RuleForm.tsx
  web/src/components/utils/FormSessionRestoration/FormSessionRestoration.tsx
  web/src/components/utils/FormSessionRestoration/index.tsx
  web/src/hooks/useFormSessionRestoration.tsx
Due: prettier --write, eslint

mage fmt
  web/src/components/utils/FormSessionRestoration/FormSessionRestoration.tsx
  web/src/components/utils/FormSessionRestoration/index.tsx
Due: prettier --write, eslint

Correct ListLogIntegrationResolver
  deployments/appsync.yml
Due: none

show confirmation modal before deleting tests. Fixes #814
  web/src/components/forms/BaseRuleForm/BaseRuleFormTestFields/BaseRuleFormTestFields.tsx
  web/src/components/modals/DeleteTestModal/DeleteTestModal.tsx
  web/src/components/modals/DeleteTestModal/index.tsx
  web/src/components/utils/Modal/ModalContext.tsx
  web/src/components/utils/Modal/ModalManager.tsx
Due: prettier --write, eslint

Fixed LogSourceOnboarding page
  web/src/components/LogSourceCard/LogSourceCard.tsx
  web/src/pages/LogSourceOnboarding/LogSourceOnboarding.tsx
  web/src/routes.tsx
Due: prettier --write, eslint

Add demo parser that uses logs.Event to provide parser.Result
  internal/log_analysis/log_processor/parsers/gitlablogs/api.go
  internal/log_analysis/log_processor/parsers/result.go
Due: none

Update web/src/components/forms/GlobalModuleForm/GlobalModuleForm.tsx
  web/src/components/forms/GlobalModuleForm/GlobalModuleForm.tsx
Due: prettier --write, eslint

mage fmt
  web/src/components/modals/DeleteTestModal/index.tsx
Due: prettier --write, eslint

Add Suricata to doc summary
  docs/gitbook/SUMMARY.md
Due: prettier --write

Review changes
  web/src/components/LogSourceCard/LogSourceCard.tsx
  web/src/components/modals/DeleteLogSourceModal/DeleteLogSourceModal.tsx
  web/src/components/wizards/ComplianceSourceWizard/ComplianceSourceWizard.tsx
Due: prettier --write, eslint

Add Panther Enterprise log docs
  docs/gitbook/SUMMARY.md
  docs/gitbook/log-analysis/log-processing/supported-logs/GCP.md
  docs/gitbook/log-analysis/log-processing/supported-logs/Okta.md
  docs/gitbook/log-analysis/log-processing/supported-logs/OneLogin.md
Due: prettier --write

add ejs-webpack-loader to allow ejs snippet inclusions
  package-lock.json
  package.json
  web/webpack.config.js
Due: prettier --write, eslint

update Panther core Typography
  package-lock.json
  package.json
  web/public/index.ejs
  web/src/components/AuthPageContainer/AuthPageContainer.tsx
  web/src/components/DonutChart/DonutChart.tsx
  web/src/components/Editor/Editor.tsx
  web/src/components/JsonViewer/JsonViewer.tsx
  web/src/components/Linkify/Linkify.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDetailsInfo.tsx
  web/src/pages/PolicyDetails/PolicyDetailsInfo/PolicyDetailsInfo.tsx
  web/src/pages/RuleDetails/RuleDetailsInfo/RuleDetailsInfo.tsx
Due: prettier --write, eslint

Populating Athena with tags
  api/gateway/analysis/api.yml
  api/gateway/analysis/models/enabled_policy.go
  internal/core/analysis_api/handlers/get_enabled_analyses.go
  internal/core/analysis_api/main/integration_test.go
  internal/log_analysis/rules_engine/src/__init__.py
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/src/output.py
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_engine.py
  internal/log_analysis/rules_engine/tests/test_output.py
  internal/log_analysis/rules_engine/tests/test_rule.py
  tools/cfngen/gluecf/gluecf.go
  tools/cfngen/gluecf/testdata/gluecf.json.cf
Due: none

Use API ID (not name) for appsync alarms
  internal/core/custom_resources/resources/alarms_appsync.go
Due: none

edits
  docs/gitbook/.gitbook/assets/tutorials/s3-access-logging-layout.jpg
  docs/gitbook/.gitbook/assets/tutorials/s3-error-query.png
  docs/gitbook/tutorials/s3-monitoring-fundamentals.md
Due: prettier --write

[tutorials] s3 buckets
  docs/gitbook/.gitbook/assets/tutorials/s3-access-logging-layout.jpg
  docs/gitbook/.gitbook/assets/tutorials/s3-error-query.png
  docs/gitbook/.gitbook/assets/tutorials/s3-logs-comparison.jpg
  docs/gitbook/SUMMARY.md
  docs/gitbook/tutorials/osquery-log-analysis.md
  docs/gitbook/tutorials/s3-monitoring-fundamentals.md
Due: prettier --write

Dynamo alarms
  deployments/core.yml
  internal/core/custom_resources/resources/alarms_dynamo.go
  internal/core/custom_resources/resources/map.go
  tools/mage/deploy.go
Due: none

remove generated dynamo alarms
  tools/cfngen/cloudwatchcf/alarms.go
  tools/cfngen/cloudwatchcf/alarms_ddb.go
  tools/cfngen/cloudwatchcf/testdata/cf.yml
  tools/cfngen/cloudwatchcf/testdata/generated_test_alarms.json
Due: prettier --write

Finish conversion and add CI checks
  deployments/cloud_security.yml
  deployments/core.yml
  deployments/log_analysis.yml
  tools/mage/deploy.go
  tools/mage/test_namespace.go
Due: none

Change label in text of destination output messages for rules from failed to triggered
  internal/core/alert_delivery/outputs/outputs.go
Due: none

mostly minor updates
  docs/gitbook/tutorials/s3-monitoring-fundamentals.md
Due: prettier --write

final change
  docs/gitbook/tutorials/s3-monitoring-fundamentals.md
Due: prettier --write

Fix races in analysis api integration tests
  internal/core/analysis_api/handlers/get_enabled_analyses.go
  internal/core/analysis_api/main/integration_test.go
  internal/core/analysis_api/main/test_policies/always_true.yml
Due: none

Fix broken integration tests in outputs api
  internal/core/outputs_api/main/integration_test.go
Due: none

Fix races in resources api integration tests
  internal/compliance/resources_api/main/integration_test.go
Due: none

mage fmt
  internal/compliance/resources_api/main/integration_test.go
Due: none

fix typos in comments
  internal/core/analysis_api/main/integration_test.go
Due: none

Lambda alarms
  deployments/alarms.yml
  deployments/bootstrap_gateway.yml
  deployments/cloud_security.yml
  deployments/core.yml
  deployments/log_analysis.yml
  internal/core/custom_resources/resources/alarms_api_gateway.go
  internal/core/custom_resources/resources/alarms_appsync.go
  internal/core/custom_resources/resources/alarms_dynamo.go
  internal/core/custom_resources/resources/alarms_elb.go
  internal/core/custom_resources/resources/alarms_lambda.go
  internal/core/custom_resources/resources/cognito_user_pool_mfa.go
  internal/core/custom_resources/resources/lambda_metric_filters.go
  internal/core/custom_resources/resources/map.go
  internal/core/custom_resources/resources/parser.go
  tools/cfngen/cloudwatchcf/alarms.go
  tools/cfngen/cloudwatchcf/alarms_ddb.go
  tools/cfngen/cloudwatchcf/alarms_lambda.go
  tools/cfngen/cloudwatchcf/alarms_test.go
  tools/cfngen/cloudwatchcf/testdata/cf.yml
  tools/cfngen/cloudwatchcf/testdata/generated_test_alarms.json
  tools/cfngen/cloudwatchcf/util.go
  tools/mage/build_namespace.go
  tools/mage/cfngen.go
  tools/mage/deploy.go
  tools/mage/test_namespace.go
Due: prettier --write

Remove extraneous comment
  internal/core/custom_resources/resources/alarms_lambda.go
  internal/core/custom_resources/resources/parser.go
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
