Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

check for not found error and return nil rather than raise error
  internal/compliance/snapshot_poller/pollers/aws/awstest/iam.go
  internal/compliance/snapshot_poller/pollers/aws/iam_role.go
  internal/compliance/snapshot_poller/pollers/aws/iam_role_test.go
Due: none

change to debug
  internal/compliance/snapshot_poller/pollers/aws/iam_role.go
Due: none

mage gen fmt
  internal/compliance/snapshot_poller/pollers/aws/awstest/iam.go
Due: none

change logging message
  internal/compliance/snapshot_poller/pollers/aws/poll.go
Due: none

use offiical var for exception code
  internal/compliance/snapshot_poller/pollers/aws/iam_role.go
Due: none

fix exception name in test too
  internal/compliance/snapshot_poller/pollers/aws/awstest/iam.go
Due: none

Bug fixes from deploy testing
  api/graphql/schema.graphql
  internal/core/analysis_api/handlers/bulk_upload.go
  internal/core/analysis_api/handlers/list_policies.go
  internal/core/analysis_api/main/lambda.go
  internal/log_analysis/rules_engine/src/analysis_api.py
  internal/log_analysis/rules_engine/src/engine.py
  internal/log_analysis/rules_engine/tests/test_engine.py
  internal/log_analysis/rules_engine/tests/test_main.py
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/helpers/utils.tsx
  web/src/pages/ListGlobalPythonModules/ListGlobalPythonModules.tsx
  web/src/pages/ListPolicies/ListPolicies.tsx
  web/src/pages/ListRules/ListRules.tsx
  web/src/pages/PolicyDetails/PolicyDetails.tsx
  web/src/pages/ResourceDetails/ResourceDetails.tsx
Due: prettier --write, eslint

Fix list filtering
  api/lambda/analysis/models/api.go
  internal/core/analysis_api/handlers/dynamo.go
  internal/core/analysis_api/handlers/list.go
  internal/core/analysis_api/handlers/list_policies.go
  internal/core/analysis_api/handlers/list_rules.go
Due: none

Add master integration test (no changes to it yet)
  internal/core/analysis_api/main/integration_test.go
Due: none

Integration tests: test policy / test rule
  internal/core/analysis_api/analysis/policy_engine.go
  internal/core/analysis_api/main/integration_test.go
Due: none

Integration tests: item creation
  internal/core/analysis_api/handlers/create_update_datamodel.go
  internal/core/analysis_api/main/integration_test.go
Due: none

Integration test: Get and BulkUpload
  internal/core/analysis_api/main/integration_test.go
Due: none

Integration tests: List operations
  internal/core/analysis_api/main/integration_test.go
Due: none

Fixing access denied
  internal/log_analysis/log_processor/common/common.go
Due: none

Several fixes to log processor
  internal/log_analysis/log_processor/sources/s3_client_cache.go
Due: none

Fixed comment
  internal/log_analysis/log_processor/sources/s3_client_cache.go
Due: none

[FE] Bulk change Alert status (#2015)
  web/src/components/cards/AlertCard/AlertCard.tsx
  web/src/components/cards/AlertCard/__snapshots__/AlertCard.test.tsx.snap
  web/src/components/dropdowns/UpdateAlertDropdown/UpdateAlertDropdown.tsx
  web/src/components/utils/SelectContext/SelectAllCheckbox.tsx
  web/src/components/utils/SelectContext/SelectCheckbox.tsx
  web/src/components/utils/SelectContext/SelectContext.test.tsx
  web/src/components/utils/SelectContext/SelectContext.tsx
  web/src/components/utils/SelectContext/index.tsx
  web/src/graphql/queries/index.tsx
  web/src/graphql/queries/updateAlertStatus.generated.ts
  web/src/graphql/queries/updateAlertStatus.graphql
  web/src/helpers/analytics.ts
  web/src/helpers/compose.ts
  web/src/pages/ListAlerts/ListAlertFilters/ListAlertFilters.tsx
  web/src/pages/ListAlerts/ListAlertSelection/ListAlertSelection.tsx
  web/src/pages/ListAlerts/ListAlertSelection/index.tsx
  web/src/pages/ListAlerts/ListAlerts.test.tsx
  web/src/pages/ListAlerts/ListAlerts.tsx
  web/src/pages/ListAlerts/ListAlertsActions/ListAlertsActions.tsx
  web/src/pages/ListAlerts/ListAlertsActions/index.tsx
  web/src/pages/RuleDetails/RuleAlertsListing/RuleAlertsListing.tsx
  web/src/pages/RuleDetails/RuleDetails.test.tsx
Due: prettier --write, eslint

Delete feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

Initial backend implementation
  api/gateway/analysis/api.yml
  api/graphql/schema.graphql
  internal/core/analysis_api/handlers/list.go
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
Due: prettier --write, eslint

Integration tests: updates
  internal/core/analysis_api/handlers/create_update_datamodel.go
  internal/core/analysis_api/main/integration_test.go
Due: none

bump warn threshold
  deployments/bootstrap_gateway.yml
Due: none

Separate delete endpoints; finish integration tests
  api/lambda/analysis/models/api.go
  api/lambda/analysis/models/data_models.go
  api/lambda/analysis/models/globals.go
  api/lambda/analysis/models/policies.go
  api/lambda/analysis/models/rules.go
  deployments/appsync.yml
  internal/core/analysis_api/handlers/compliance.go
  internal/core/analysis_api/handlers/delete.go
  internal/core/analysis_api/handlers/delete_detections.go
  internal/core/analysis_api/handlers/dynamo.go
  internal/core/analysis_api/handlers/s3.go
  internal/core/analysis_api/main/integration_test.go
Due: none

Fix layer-manager permission
  deployments/core.yml
  internal/core/analysis_api/handlers/create_update_policy.go
  internal/log_analysis/rules_engine/src/analysis_api.py
Due: none

Fix createRule AppSync endpoint
  deployments/appsync.yml
Due: none

Allow scanning of indicators inside arrays of strings
  internal/log_analysis/log_processor/pantherlog/jsoniter.go
  internal/log_analysis/log_processor/pantherlog/jsoniter_test.go
Due: none

Split gluetimestamp module
  internal/log_analysis/awsglue/gluetimestamp/gluetimestamp.go
  internal/log_analysis/log_processor/common/json.go
  internal/log_analysis/log_processor/pantherlog/result_test.go
  internal/log_analysis/log_processor/parsers/timestamp/timestamp.go
Due: none

fix: opsgenie form
  web/src/components/forms/OpsgenieDestinationForm/OpsgenieDestinationForm.tsx
Due: prettier --write, eslint

chore: move TZ ENV var setting to env.ts
  web/__tests__/env.ts
  web/__tests__/jest.config.js
Due: prettier --write, eslint

fix: issue with initial form value
  web/src/components/forms/OpsgenieDestinationForm/OpsgenieDestinationForm.tsx
Due: prettier --write, eslint

build: bump canilite
  package-lock.json
Due: prettier --write

Several AWS client-related fixes for log processor (#2030)
  internal/log_analysis/log_processor/common/common.go
  internal/log_analysis/log_processor/sources/s3_client_cache.go
Due: none

test: WIP on updating opsgenie form tests
  web/src/components/forms/OpsgenieDestinationForm/OpsGenieDestinationForm.test.tsx
Due: prettier --write, eslint

chore: delete devilish jsx file
  web/__generated__/schema.jsx
Due: prettier --write, eslint

test: update tests
  package-lock.json
  web/src/components/forms/OpsgenieDestinationForm/OpsGenieDestinationForm.test.tsx
  web/src/pages/EditDestination/EditDestination.test.tsx
Due: prettier --write, eslint

fix: add fallback for nullish service regions
  internal/core/outputs_api/api/get_output.go
  internal/core/outputs_api/api/get_outputs.go
  internal/core/outputs_api/api/utils.go
Due: none

mage gen fmt
  internal/core/outputs_api/api/utils.go
Due: none

chore: cherry-pick enterprise
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/codegen.yml
  web/codegen/buildGraphqlResourcesPlugin.js
  web/codegen/buildGraphqlResourcesPlugin.ts
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.generated.ts
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.graphql
Due: prettier --write, eslint

chore: cherry-pick 94f8c0e1
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/__tests__/__mocks__/builders.generated.ts
  web/src/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
  web/src/pages/LogAnalysisOverview/AlertsBySeverity/AlertsBySeverity.tsx
  web/src/pages/LogAnalysisOverview/AlertsCharts/AlertsCharts.tsx
  web/src/pages/LogAnalysisOverview/EventsByLatency/EventsByLatency.tsx
  web/src/pages/LogAnalysisOverview/EventsByLogType/EventsByLogType.tsx
  web/src/pages/LogAnalysisOverview/LogTypeCharts/LogTypeCharts.tsx
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.generated.ts
  web/src/pages/LogAnalysisOverview/graphql/getLogAnalysisMetrics.graphql
Due: prettier --write, eslint

feat: add service region to Opsgenie Card
  web/src/pages/ListDestinations/DestinationCards/OpsGenieDestinationCard.tsx
  web/src/pages/ListDestinations/DestinationCards/__tests__/OpsGenieDestinationCard.test.tsx
Due: prettier --write, eslint

chore: add logo to destination creation form
  web/src/components/wizards/CreateDestinationWizard/ConfigureDestinationPanel/ConfigureDestinationPanel.tsx
Due: prettier --write, eslint
