Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

run prettier
  README.md
Due: prettier --write

add validation for 32 charts. Convert yaml to yml
  web/src/components/wizards/ComplianceSourceWizard/ComplianceSourceWizard.tsx
  web/src/components/wizards/ComplianceSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/components/wizards/LogSourceWizard/LogSourceWizard.tsx
  web/src/components/wizards/LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
Due: prettier --write, eslint

resolve
  README.md
Due: prettier --write

Update .all-contributorsrc
  .all-contributorsrc
Due: none

dedupPeriodMinutes required in RuleSummary
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
Due: prettier --write, eslint

Removed initial value for dedup period
  web/src/pages/EditRule/EditRule.tsx
Due: prettier --write, eslint

Removed unnecessary check for required dedupPeriodMinutes
  web/src/pages/RuleDetails/RuleDetailsInfo/RuleDetailsInfo.tsx
Due: prettier --write, eslint

[alert_delivery] prepend alert titles with New Alert
  internal/core/alert_delivery/outputs/outputs.go
  internal/core/alert_delivery/outputs/outputs_test.go
Due: none

[docs] fixes from the last merge
  docs/gitbook/README.md
  docs/gitbook/cost.md
  docs/gitbook/development.md
  docs/gitbook/log-analysis/rules/README.md
  docs/gitbook/log-analysis/rules/aws-cis/README.md
  docs/gitbook/log-analysis/supported-logs/README.md
  docs/gitbook/quick-start.md
  docs/gitbook/writing-parsers.md
Due: prettier --write

[docs] log analysis onboarding flow revamp
  docs/gitbook/.gitbook/assets/log-analysis-iam-1.png
  docs/gitbook/.gitbook/assets/log-analysis-iam-2-optional.png
  docs/gitbook/.gitbook/assets/log-analysis-iam-2.png
  docs/gitbook/.gitbook/assets/log-analysis-iam-3.png
  docs/gitbook/.gitbook/assets/log-analysis-iam-4.png
  docs/gitbook/.gitbook/assets/log-analysis-iam-5.png
  docs/gitbook/log-analysis/log-processing/README.md
  docs/gitbook/log-analysis/log-processing/iam-setup.md
Due: prettier --write

[docs] more post-merge edits, log analysis beginning edits
  docs/gitbook/SUMMARY.md
  docs/gitbook/development.md
  docs/gitbook/log-analysis/log-processing/README.md
  docs/gitbook/log-analysis/log-processing/iam-setup.md
  docs/gitbook/log-analysis/supported-logs/README.md
  docs/gitbook/quick-start.md
Due: prettier --write

[web] slight rewording in the onboarding flow
  web/src/components/wizards/ComplianceSourceWizard/StackDeploymentPanel/StackDeployment.tsx
  web/src/components/wizards/LogSourceWizard/SourceConfigurationPanel/SourceConfigurationPanel.tsx
  web/src/components/wizards/LogSourceWizard/StackDeploymentPanel/StackDeployment.tsx
Due: prettier --write, eslint

[docs] pr feedback
  docs/gitbook/log-analysis/rules/README.md
Due: prettier --write

[source_api] use the Integration label for the error message
  internal/core/source_api/api/put_integration.go
Due: none

[docs] readme formatting
  README.md
Due: prettier --write

Make dedup optional for rules only on BaseRuleFormCoreFields
  web/src/components/forms/BaseRuleForm/BaseRuleFormCoreFields/BaseRuleFormCoreFields.tsx
Due: prettier --write, eslint

<> to React.Fragment
  web/src/components/forms/BaseRuleForm/BaseRuleFormCoreFields/BaseRuleFormCoreFields.tsx
Due: prettier --write, eslint

Removed un-used title
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/pages/AlertDetails/graphql/alertDetails.generated.ts
  web/src/pages/AlertDetails/graphql/alertDetails.graphql
  web/src/pages/ListAlerts/graphql/listAlerts.generated.ts
  web/src/pages/ListAlerts/graphql/listAlerts.graphql
Due: prettier --write, eslint

Returning original error
  tools/mage/util_cfn.go
Due: none

Fixing launch template
  web/src/components/wizards/ComplianceSourceWizard/StackDeploymentPanel/StackDeployment.tsx
Due: prettier --write, eslint

Revert column width
  web/src/pages/ListAlerts/columns.tsx
Due: prettier --write, eslint

Removed severity from alerts
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/pages/AlertDetails/graphql/alertDetails.generated.ts
  web/src/pages/AlertDetails/graphql/alertDetails.graphql
Due: prettier --write, eslint

Move cfn utility functions to util_cfn
  tools/mage/util.go
  tools/mage/util_cfn.go
Due: none

Changing default dedup string value
  internal/log_analysis/rules_engine/src/rule.py
  internal/log_analysis/rules_engine/tests/test_rule.py
Due: none

Fixing failing tests
  internal/log_analysis/rules_engine/tests/test_engine.py
Due: none

Disable cloudtrail and guardduty by default, s3 access logs optional
  deployments/bootstrap.yml
  deployments/panther_config.yml
  tools/config/config.go
  tools/mage/deploy.go
Due: none

Remove cpu/memory fargate config
  deployments/bootstrap.yml
  deployments/panther_config.yml
  deployments/web_server.yml
  tools/config/config.go
  tools/mage/deploy.go
  tools/mage/deploy_frontend.go
Due: none

Fix intermittent issue creating bucket policy
  deployments/bootstrap.yml
Due: none

Removed required for dedupPeriodMinutes in RuleSummary
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
Due: prettier --write, eslint

add landing page
  web/src/components/Breadcrumbs/Breadcrumbs.tsx
  web/src/components/Navigation/Navigation.tsx
  web/src/pages/Landing/Landing.tsx
  web/src/pages/Landing/index.tsx
  web/src/routes.tsx
Due: prettier --write, eslint

make optional fields required
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
Due: prettier --write, eslint

update icons
  web/src/pages/Landing/Landing.tsx
Due: prettier --write, eslint

change text
  web/src/pages/Landing/Landing.tsx
Due: prettier --write, eslint

update text
  web/src/pages/Landing/Landing.tsx
Due: prettier --write, eslint

text updates
  web/src/pages/Landing/Landing.tsx
Due: prettier --write, eslint

remove dedupPeriodMinutes from RuleSummary
  api/graphql/schema.graphql
Due: none

Respond to PR
  internal/compliance/snapshot_poller/pollers/aws/acm_certificate.go
  internal/compliance/snapshot_poller/pollers/aws/cloudformation_stack.go
  internal/compliance/snapshot_poller/pollers/aws/cloudwatchlogs_log_group.go
  internal/compliance/snapshot_poller/pollers/aws/configservice.go
  internal/compliance/snapshot_poller/pollers/aws/dynamodb_table.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_ami.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_instance.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_network_acl.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_security_group.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_volume.go
  internal/compliance/snapshot_poller/pollers/aws/ec2_vpc.go
  internal/compliance/snapshot_poller/pollers/aws/ecs_cluster.go
  internal/compliance/snapshot_poller/pollers/aws/elbv2_application_load_balancer.go
  internal/compliance/snapshot_poller/pollers/aws/guardduty_detector.go
  internal/compliance/snapshot_poller/pollers/aws/kms_key.go
  internal/compliance/snapshot_poller/pollers/aws/lambda_function.go
  internal/compliance/snapshot_poller/pollers/aws/rds_instance.go
  internal/compliance/snapshot_poller/pollers/aws/redshift_cluster.go
  internal/compliance/snapshot_poller/pollers/aws/s3_bucket.go
Due: none
