Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix: lazy-load mixpanel
  web/src/helpers/analytics.ts
Due: prettier --write, eslint

Added LogAnalysisOverviewBreadcrumbFilters
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
  web/src/pages/LogAnalysisOverview/LogAnalysisOverviewBreadcrumbFilters/LogAnalysisOverviewBreadcrumbFilters.tsx
  web/src/pages/LogAnalysisOverview/LogAnalysisOverviewBreadcrumbFilters/index.tsx
Due: prettier --write, eslint

Added width for Breadcrumb filters
  web/src/pages/LogAnalysisOverview/LogAnalysisOverviewBreadcrumbFilters/LogAnalysisOverviewBreadcrumbFilters.tsx
Due: prettier --write, eslint

minor naming fix
  web/src/pages/LogAnalysisOverview/LogAnalysisOverview.tsx
Due: prettier --write, eslint

handle case where sns subject is over 100 charactesr
  internal/core/alert_delivery/outputs/sns.go
  internal/core/alert_delivery/outputs/sns_test.go
  pkg/testutils/awsmocks.go
Due: none

minor tweak
  internal/core/alert_delivery/outputs/sns.go
Due: none

Remove duplicate logType
  api/graphql/schema.graphql
Due: none

Least privilege trust principals
  deployments/auxiliary/terraform/README.md
Due: prettier --write

Increase aws sdk retries for rules engine
  internal/log_analysis/rules_engine/src/alert_merger.py
  internal/log_analysis/rules_engine/src/aws_clients.py
  internal/log_analysis/rules_engine/src/main.py
  internal/log_analysis/rules_engine/src/output.py
Due: none

loop through 100 tasks at a time to prevent api errors (#1671)
  internal/compliance/snapshot_poller/pollers/aws/awstest/ecs.go
  internal/compliance/snapshot_poller/pollers/aws/ecs_cluster.go
  internal/compliance/snapshot_poller/pollers/aws/ecs_cluster_test.go
Due: none

handle case where sns subject is over 100 characters (#1674)
  internal/core/alert_delivery/outputs/sns.go
  internal/core/alert_delivery/outputs/sns_test.go
  pkg/testutils/awsmocks.go
Due: none

Removed debugging string. Added explicit error checking for the getFargateProfiles api calls. Reverted an unintentional change
  internal/compliance/snapshot_poller/pollers/aws/eks_cluster.go
  internal/compliance/snapshot_poller/pollers/aws/poll.go
Due: none

Changed return statement from nil,nil to nil,err
  internal/compliance/snapshot_poller/pollers/aws/eks_cluster.go
Due: none

mage gen fmt
  internal/compliance/snapshot_poller/pollers/aws/awstest/ecs.go
Due: none

chore: change version to release tag
  deployments/master.yml
Due: none

Updated testdata
  internal/core/source_api/api/testdata/panther-cloudsec-iam-updated.yml
Due: none

Fixed refactoring issues
  internal/compliance/snapshot_poller/pollers/aws/awstest/ecs.go
  internal/compliance/snapshot_poller/pollers/aws/ecs_cluster_test.go
Due: none

Use authenticated docker pulls
  .circleci/config.yml
Due: none

Add TODO comment: move to ECS
  .circleci/config.yml
Due: none

fix: alert delivery status calculation
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliverySection.tsx
Due: prettier --write, eslint

Create Glue tables asynchronously
  api/lambda/core/log_analysis/log_processor/models/api.go
  deployments/core.yml
  deployments/log_analysis.yml
  deployments/master.yml
  internal/compliance/aws_event_processor/processor/handler.go
  internal/core/source_api/api/glue_utils.go
  internal/core/source_api/api/put_integration.go
  internal/core/source_api/api/put_integration_test.go
  internal/core/source_api/api/update_integration.go
  internal/core/source_api/api/update_integration_test.go
  internal/core/source_api/api/vars.go
  internal/log_analysis/datacatalog_updater/main/lambda.go
  internal/log_analysis/datacatalog_updater/process/create_tables.go
  internal/log_analysis/datacatalog_updater/process/create_tables_test.go
  internal/log_analysis/datacatalog_updater/process/events.go
  internal/log_analysis/datacatalog_updater/process/glue_test.go
  internal/log_analysis/datacatalog_updater/process/process.go
  internal/log_analysis/datacatalog_updater/process/process_test.go
  internal/log_analysis/datacatalog_updater/process/s3notification.go
  internal/log_analysis/datacatalog_updater/process/setup.go
  internal/log_analysis/log_processor/destinations/s3.go
  internal/log_analysis/log_processor/destinations/s3_test.go
Due: none

Added env variables for tests
  web/__tests__/.env.test
Due: none

Mocks for sentry and mixpanel
  web/__tests__/setup.ts
Due: prettier --write, eslint

Unit Tests for mixpanel & sentry
  web/src/helpers/__tests__/analytics.test.tsx
  web/src/helpers/__tests__/erros.test.tsx
Due: prettier --write, eslint

Removed data from trackError for analytics
  web/src/components/utils/AuthContext/AuthContext.tsx
  web/src/components/wizards/CreateDestinationWizard/ConfigureDestinationPanel/ConfigureDestinationPanel.tsx
  web/src/helpers/analytics.ts
  web/src/pages/CreateRule/CreateRule.tsx
Due: prettier --write, eslint

Removed data from trackError for analytics (#1696)
  web/src/components/utils/AuthContext/AuthContext.tsx
  web/src/components/wizards/CreateDestinationWizard/ConfigureDestinationPanel/ConfigureDestinationPanel.tsx
  web/src/helpers/analytics.ts
  web/src/pages/CreateRule/CreateRule.tsx
Due: prettier --write, eslint

Fixing issue
  tools/mage/deploy/deploy.go
Due: none

fix: PR feedback, disable resend button if loading
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliverySection.test.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliverySection.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliveryTable/AlertDeliveryTable.test.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliveryTable/AlertDeliveryTable.tsx
Due: prettier --write, eslint

CI: Use authenticated docker pulls (#1693)
  .circleci/config.yml
Due: none

Sequential mage setup and update dev image version
  dev.sh
  tools/mage/setup/setup.go
Due: none

fix: alert delivery status calculation (#1694)
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliverySection.test.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliverySection.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliveryTable/AlertDeliveryTable.test.tsx
  web/src/pages/AlertDetails/AlertDetailsInfo/AlertDeliverySection/AlertDeliveryTable/AlertDeliveryTable.tsx
Due: prettier --write, eslint

Sequential mage setup and update dev image version (#1704)
  dev.sh
  tools/mage/setup/setup.go
Due: none

initial setup
  deployments/bootstrap.yml
  deployments/master.yml
  tools/mage/deploy/config.go
  tools/mage/deploy/deploy.go
Due: none

formatting tweaks
  deployments/bootstrap.yml
  deployments/master.yml
  deployments/panther_config.yml
  tools/mage/deploy/config.go
  tools/mage/deploy/deploy.go
Due: none

Fixing redirect
  web/src/components/wizards/SqsSourceWizard/ValidationPanel/ValidationPanel.tsx
Due: prettier --write, eslint

Fixing redirect (#1707)
  web/src/components/wizards/SqsSourceWizard/ValidationPanel/ValidationPanel.tsx
Due: prettier --write, eslint

Add retryer to datacatalog-updater lambda
  internal/log_analysis/datacatalog_updater/process/setup.go
Due: none

mage gen fmt
  internal/log_analysis/datacatalog_updater/process/setup.go
Due: none

updated comments per PR feedback
  deployments/bootstrap.yml
  deployments/master.yml
  deployments/panther_config.yml
Due: none

Support custom VPCs (#1706)
  deployments/bootstrap.yml
  deployments/master.yml
  deployments/panther_config.yml
  tools/mage/deploy/config.go
  tools/mage/deploy/deploy.go
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
