Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,scss,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint"
  ]
}

Include AWS_SESSION_TOKEN in environment
  dev.sh
Due: none

update docs
  docs/gitbook/quick-start.md
Due: prettier --write

Fix filtering by integrationID
  internal/compliance/resources_api/handlers/list_resources.go
Due: none

[docs] email documentation and light rewording on destinations
  docs/gitbook/destinations/alert-setup/README.md
  docs/gitbook/destinations/alert-setup/email.md
  docs/gitbook/destinations/alert-setup/pagerduty.md
  docs/gitbook/destinations/alert-setup/sns.md
  docs/gitbook/destinations/background.md
Due: prettier --write

Respond to PR, create a deterministic uuid generator for row ids
  internal/log_analysis/log_processor/parsers/pantherlog_test.go
  internal/log_analysis/log_processor/parsers/patherlog.go
  internal/log_analysis/log_processor/parsers/rowid.go
  internal/log_analysis/log_processor/parsers/rowid_test.go
Due: none

[pr] feedback and default outputs image
  docs/gitbook/.gitbook/assets/default-destinations.png
  docs/gitbook/destinations/alert-setup/jira.md
  docs/gitbook/destinations/background.md
Due: prettier --write

[docs] final layout for destinations background
  docs/gitbook/destinations/background.md
Due: prettier --write

Optimize row id implementation
  internal/log_analysis/log_processor/parsers/rowid.go
Due: none

Update quick-start and development docs
  docs/gitbook/.gitbook/assets/docker-status.png
  docs/gitbook/.gitbook/assets/self-signed-cert-warning.png
  docs/gitbook/README.md
  docs/gitbook/development.md
  docs/gitbook/quick-start.md
Due: prettier --write

Add mage setup to dev environment
  docs/gitbook/development.md
  docs/gitbook/quick-start.md
Due: prettier --write

Add dropdown box for jira form
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/components/forms/destination-form/jira-destination-form.tsx
  web/src/constants.ts
  web/src/pages/destinations/index.tsx
Due: prettier --write, eslint

Address feedback
  docs/gitbook/README.md
  docs/gitbook/development.md
  docs/gitbook/quick-start.md
Due: prettier --write

reduce CPU & RAM to 50% of their original value
  deployments/web/server.yml
Due: none

correct alert related GraphQL fields
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/components/sidesheets/add-destination-sidesheet.tsx
  web/src/components/sidesheets/update-destination-sidesheet.tsx
Due: prettier --write, eslint

correct graphql field type
  api/graphql/schema.graphql
Due: none

convert field from Int to String
  deployments/core/appsync.yml
  web/__generated__/schema.tsx
Due: prettier --write, eslint

rename `TablePaginationControls` to `OffsetPaginationControls`
  web/src/components/utils/offset-pagination-controls.tsx
  web/src/pages/alert-details/subcomponent/alert-events.tsx
  web/src/pages/list-policies/index.tsx
  web/src/pages/list-resources/index.tsx
  web/src/pages/list-rules/index.tsx
  web/src/pages/policy-details/index.tsx
  web/src/pages/resource-details/index.tsx
Due: prettier --write, eslint

Respond to PR
  internal/log_analysis/log_processor/parsers/rowid.go
  internal/log_analysis/log_processor/parsers/rowid_test.go
Due: none

remove calculated `rule` field from `alert` query
  api/graphql/schema.graphql
  deployments/core/appsync.yml
  web/__generated__/schema.tsx
Due: prettier --write, eslint

Pseudo Parameters update
  deployments/backend.yml
  dev.sh
Due: none

More.
  deployments/auxiliary/cloudformation/panther-cloudwatch-events.yml
  deployments/auxiliary/cloudformation/panther-compliance-iam.yml
  deployments/auxiliary/cloudformation/panther-log-processing-iam.yml
  deployments/auxiliary/cloudformation/panther-log-processing-infra.yml
  deployments/auxiliary/cloudformation/panther-log-processing-notifications.yml
  deployments/auxiliary/cloudformation/panther-remediations-iam.yml
  deployments/auxiliary/cloudformation/panther-stackset-iam-admin-role.yml
  deployments/backend.yml
Due: none

ENG-1247 Create views database and initial view using standard fields
  deployments/backend.yml
  internal/log_analysis/log_processor/registry/registry.go
  pkg/README.md
  pkg/awsathena/query.go
  pkg/awsglue/glue.go
  tools/athenaviews/athenaviews.go
  tools/cfngen/gluecf/gluecf.go
  tools/cfngen/gluecf/gluecf_test.go
  tools/cfngen/gluecf/testdata/gluecf.json
  tools/mage/deploy.go
Due: prettier --write

[docs] updated readme with new company info
  README.md
Due: prettier --write

[docs] README about us, quick start link, and more
  README.md
Due: prettier --write

Fix unit test
  tools/cfngen/gluecf/gluecf_test.go
  tools/cfngen/gluecf/testdata/gluecf.json
  tools/cfngen/gluecf/testdata/gluecf.json.cf
Due: prettier --write

Respond to PR
  pkg/awsathena/query.go
  tools/athenaviews/athenaviews.go
  tools/athenaviews/athenaviews_test.go
Due: none

[pr] feedback from Austin
  README.md
Due: prettier --write

[docs] more information on supported log types
  docs/gitbook/log-analysis/log-analysis-background.md
  docs/gitbook/log-analysis/rules/README.md
  docs/gitbook/log-analysis/supported-logs/README.md
Due: prettier --write

[pr] final changes
  README.md
Due: prettier --write

[gitbook] add supported-logs to summary index
  docs/gitbook/SUMMARY.md
Due: prettier --write

Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

[git] move codeowners and templates to .github, add security doc
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/pull_request_template.md
  docs/SECURITY.md
  docs/pull_request_template.md
Due: prettier --write

[pr] feedback
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

Add athena integration test and workgroup configuration
  pkg/awsathena/integration_test.go
  pkg/awsathena/workgroup.go
  tools/athenaviews/athenaviews.go
  tools/mage/deploy.go
Due: none

Respond to PR
  tools/athenaviews/athenaviews.go
Due: none

Address valid comments
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/components/forms/destination-form/jira-destination-form.tsx
  web/src/components/sidesheets/add-destination-sidesheet.tsx
  web/src/components/sidesheets/update-destination-sidesheet.tsx
  web/src/constants.ts
Due: prettier --write, eslint

PR Feedback.
  deployments/auxiliary/cloudformation/panther-cloudwatch-events.yml
  deployments/auxiliary/cloudformation/panther-compliance-iam.yml
  deployments/auxiliary/cloudformation/panther-log-processing-infra.yml
  deployments/auxiliary/cloudformation/panther-log-processing-notifications.yml
  deployments/auxiliary/cloudformation/panther-stackset-iam-admin-role.yml
  deployments/backend.yml
  dev.sh
Due: none

...
  deployments/backend.yml
Due: none
