Repository panther-labs/panther: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

temporarily make `dedupPeriodMinutes` optioonal in RuleDetails
  api/graphql/schema.graphql
Due: none

minor text changes
  web/src/pages/Landing/Landing.tsx
Due: prettier --write, eslint

Add missing trailing wildcard
  deployments/core.yml
Due: none

Improve check-integration reason messages
  internal/core/source_api/api/check_integration.go
Due: none

move ENV var checking from webpack.config.js to script utils
  web/scripts/build.js
  web/scripts/start.js
  web/scripts/utils.js
  web/webpack.config.js
Due: prettier --write, eslint

move .eslintrc to web folder
  .eslintrc
  package.json
  web/.eslintrc.js
  web/lint-staged.config.js
Due: prettier --write, eslint

Changed selected criteria for MenuItems
  web/src/components/Navigation/NavLink.tsx
Due: prettier --write, eslint

move web/codegen.json
  .dockerignore
Due: none

Marking dedupPeriodMinutes as required
  api/gateway/analysis/api.yml
Due: none

Marking dedupPeriodMinutes as required
  api/gateway/analysis/models/rule.go
Due: none

Added default functions for dedup and title
  web/src/constants.ts
  web/src/pages/CreateRule/CreateRule.tsx
  web/src/pages/Landing/Landing.tsx
  web/src/pages/Landing/index.tsx
Due: prettier --write, eslint

Fix clearing of s3 event notifications and add delay before deleting bucket in mage:teardown
  tools/mage/teardown.go
Due: none

Removed dedupPeriodMinutes from listRules query
  api/graphql/schema.graphql
  web/__generated__/schema.tsx
  web/src/pages/ListRules/graphql/listRules.generated.ts
  web/src/pages/ListRules/graphql/listRules.graphql
Due: prettier --write, eslint

Increased LogType column for LIstLogSources
  web/src/pages/ListLogSources/columns.tsx
Due: prettier --write, eslint

Pinning template to specific version
  tools/mage/deploy_onboard.go
Due: none

Removing option to close secondary menu when re-clicking active tab
  web/src/components/Navigation/Navigation.tsx
Due: prettier --write, eslint

add fireworks for first login
  package-lock.json
  package.json
  web/src/components/utils/PromptController/PromptController.tsx
  web/src/helpers/fireworks.ts
Due: prettier --write, eslint

Refactor mage show:schemas so it stays up to date and conforms to other targets
  tools/mage/show_namespace.go
Due: none

Revert "Removing option to close secondary menu when re-clicking active tab"
  web/src/components/Navigation/Navigation.tsx
Due: prettier --write, eslint

Add analysis_api to cloudsec dashboard
  tools/dashboards/infra.go
Due: none

Whitelist StartSchemaCreation in aws event processor
  internal/compliance/aws_event_processor/processor/process.go
Due: none

Add missing log groups analysis_api and ompliance_api to overview dashboard
  tools/dashboards/overview.go
Due: none

added remapping support in bulkupload endpoint
  internal/core/analysis_api/handlers/bulk_upload.go
Due: none

model changes
  api/gateway/analysis/configmodels.go
Due: none

addressed PR comment
  internal/core/analysis_api/handlers/bulk_upload.go
Due: none

reduced function length
  internal/core/analysis_api/handlers/bulk_upload.go
Due: none

Fix regression in log processor test framework
  internal/log_analysis/log_processor/parsers/awslogs/alb_test.go
  internal/log_analysis/log_processor/parsers/awslogs/aurora_mysql_audit_test.go
  internal/log_analysis/log_processor/parsers/awslogs/cloudtrail_test.go
  internal/log_analysis/log_processor/parsers/awslogs/guardduty_test.go
  internal/log_analysis/log_processor/parsers/awslogs/s3_server_access_test.go
  internal/log_analysis/log_processor/parsers/awslogs/vpc_flow_test.go
  internal/log_analysis/log_processor/parsers/nginxlogs/access_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/batch_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/differential_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/snapshot_test.go
  internal/log_analysis/log_processor/parsers/osquerylogs/status_test.go
  internal/log_analysis/log_processor/parsers/osseclogs/eventinfo_test.go
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc3164_test.go
  internal/log_analysis/log_processor/parsers/sysloglogs/rfc5424_test.go
  internal/log_analysis/log_processor/parsers/testutil/testutil.go
Due: none

[pr] feedback pt 2
  docs/gitbook/log-analysis/rules/README.md
Due: prettier --write

[pr] feedback pt 1
  docs/gitbook/README.md
  docs/gitbook/log-analysis/log-processing/README.md
  docs/gitbook/log-analysis/log-processing/setup.md
  docs/gitbook/log-analysis/rules/README.md
Due: prettier --write

[web] add license to landing pages
  web/src/pages/Landing/Landing.tsx
  web/src/pages/Landing/index.tsx
Due: prettier --write, eslint

specify exact echarts version
  package-lock.json
  package.json
Due: prettier --write

[docs] fix readme badges
  README.md
Due: prettier --write

[docs] new overview image, rule guide, simplify menu more
  docs/gitbook/.gitbook/assets/panther_graphic_flow.jpg
  docs/gitbook/README.md
  docs/gitbook/SUMMARY.md
  docs/gitbook/log-analysis/rules/README.md
Due: prettier --write

add troubleshooting
  docs/gitbook/troubleshooting.md
Due: prettier --write

[docs] log processing final screenshots and edits
  docs/gitbook/.gitbook/assets/create-sns-topic-1.png
  docs/gitbook/.gitbook/assets/create-sns-topic-2.png
  docs/gitbook/log-analysis/log-processing/setup.md
Due: prettier --write

[pr] feedback from kostas
  README.md
  docs/gitbook/log-analysis/log-processing/setup.md
  docs/gitbook/log-analysis/rules/README.md
Due: prettier --write

[docs] add troubleshooting page
  docs/gitbook/SUMMARY.md
  docs/gitbook/troubleshooting.md
Due: prettier --write

[docs] rule walkthrough
  docs/gitbook/log-analysis/rules/README.md
Due: prettier --write

[docs] finish log processing docs, simplify the quickstart, and more
  docs/gitbook/README.md
  docs/gitbook/SUMMARY.md
  docs/gitbook/log-analysis/log-processing/README.md
  docs/gitbook/log-analysis/log-processing/iam-setup.md
  docs/gitbook/log-analysis/log-processing/notifications-setup.md
  docs/gitbook/log-analysis/log-processing/setup.md
  docs/gitbook/log-analysis/rules/aws-cis/README.md
  docs/gitbook/log-analysis/writing-parsers.md
  docs/gitbook/quick-start.md
  docs/gitbook/security-privacy.md
  docs/gitbook/support.md
  web/src/components/forms/AnalyticsConsentForm/ErrorReportingSection.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  eslint: any of: *.{ts,tsx,js,jsx}
